[2022-02-11 21:08] ajlyons opened #3256 "Can't access a specific API from Datahub"
### Bug description

I'm trying to retrieve data from the Cal-Adapt API, but can't even connect to it. The following curl command times out in terminal (as does the equivalent R command).

`curl https://api.cal-adapt.org/api/`

Other APIs seem to work ok (e.g., `curl https://reqbin.com/echo`). Any insights why this might be happening? Maybe a port or firewall issue?

### Environment & setup

- Hub

[2022-02-12 01:57] ryanlovett commented on #3256
@balajialg I've no idea about this one. That endpoint is also blocked from the datahub file server, and from directly on a node, outside of the single user environment. We don't seem to have any outbound network firewall rules that would block this. I also tried from a different Google Cloud project without success.

It looks like that service is running on Azure. I wonder if api.cal-adapt.org is

[2022-02-12 02:12] balajialg commented on #3256
@ryanlovett Thanks a lot for looking into this! Looks like an interesting issue to investigate!  Based on your question, I tried sending curl requests to some of the RTL services like BOA and Course Capture (which I assumed were AWS specific but I might be wrong) and received some responses. Definitely, worth exploring further.

@aljyons Is this a blocker for you? We can investigate more regarding

[2022-02-12 05:42] ajlyons commented on #3256
Hi Ryan and Balaji,

Many thanks for looking into the issue
<https://github.com/berkeley-dsep-infra/datahub/issues/3256#issuecomment-1036940329>
of the Cal-Adapt API being blocked on Datahub. Great detective work.

This is not urgent, but I'm looping in Brian Galey who administers
Cal-Adapt for the Berkeley GIF <http://gif.berkeley.edu/>. It would be
good to move toward a solution because it's a g

[2022-02-13 22:45] andrewpbray commented on #3148
So far so good. No reported incidences of significant load issues. The main issue we've been troubleshooting has to do with latex and compiling documents to pdf, but that's a config issue as far as I can tell, not a resources issue.

Thanks for checking in.

[2022-02-14 07:06] github-actions[bot] opened #3257 "Weekly Update - Monday, February 14th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-02-14 20:41] balajialg commented on #3148
Great @andrewpbray! I am closing this issue as of now. Please feel free to reopen if the resourcing issue occurs.

On another note, is the issue you are facing with latex, similar to the issue highlighted [here](https://github.com/berkeley-dsep-infra/datahub/issues/2664)?

[2022-02-14 20:41] #3148 closed, assigned to felder, balajialg

[2022-02-14 22:25] ryanlovett commented on #3148
@balajialg It is similar to that report. The knitting process fails in the latex stage because graphics are either too big, or do not pass some unknown measure that a simple `convert old.jpg new.jpg` fixes. I added the `pagedown` R package and Google Chrome so that students can convert by using a headless web browser, which is analogous to what @yuvipanda mentioned in the linked issue. Migrating t

[2022-02-15 00:41] balajialg commented on #3148
@ryanlovett Thanks a lot for this hack! Is this hack a solution that we can recommend to other profs who may face a similar issue with latex? More from the feasibility of implementing this change across other hubs?

[2022-02-15 01:56] ryanlovett commented on #3148
@balajialg I think one would need to find out if any other instructors also have as much trouble with latex within RStudio. If so then one would need to identify a suitable [pagedown](https://github.com/rstudio/pagedown) style that is appropriate for that class' assignments. I have a feeling there is none and that one would have to be crafted.

[2022-02-15 02:05] balajialg commented on #3257
**Thanks I'd like to give 🙌**
- Thanks @felder for volunteering your time to support @sean-morris in setting up Data 8X hub! Deeply appreciate it.
- Thanks @ryanlovett for volunteering your time to help me think through ways to build the Datahub marketing web page

**Updates from last week ✔**
- Worked with @ericvd-ucb  to prepare for this week's Tech strategy meeting. Co-wrote a [document ](https

[2022-02-15 16:16] bkg commented on #3256
Thanks for looking into this and sorry about the connection issues. Yes, we needed to block a number of hosts originating from Google Cloud that were hammering our server and impacting response times for all API clients.

Is there a stable range of IPs for Datahub on Google Cloud that we could allow through or are they randomly assigned from the larger pool?

[2022-02-15 18:45] irisk2050 opened #3258 "Retrieve my old Datahub files"
### Email Id

minjeekim303@berkeley.edu

I have a problem; I filled out this request before, but some of my files are missing. I took Data 100 in Spring 2020 and did not see those files in my last retrieval.

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/minjeekim303.tar.gz

[2022-02-15 18:51] felder opened #3259 "New data8x hub cannot get SSL Cert"
### Bug description

@sean-morris has requested a new data8x hub so that he can migrate people from the old grader to the new.

To do this, in my forked datahub repo I have copied data8x to data8xv2.  I've then adjusted the hubploy configs to instruct data8xv2 to use data8x's image, configured the proxy to use staging-hubv2.data8x.berkeley.edu, and added DNS entries for it in infoblox.

When I use

[2022-02-15 18:53] felder commented on #3259
@yuvipanda @ryanlovett any ideas?

Ryan mentioned he had seen this error before when spinning up new hubs but that after a time the error would go away if the hub was redeployed or the proxy pods were killed.  Unfortunately, in this case the error persists.

[2022-02-15 18:57] felder commented on #3257
**Thanks I'd like to give 🙌**
- @yuvipanda @balajialg @ryanlovett (the whole team) for such a smooth start to the semester.

**Updates from last week ✔**
- Been working on setting up a new hub for data8x so that @sean-morris can transition to a new grader.

**Challenges I faced and things I'd like assistance with 🙏**
- If possible I'd like some help with #3259

[2022-02-15 19:01] fperez opened #3260 "JLab reverted to 3.2.8 -why?"
### Bug description

In #3246 we updated JupyterLab to 3.2.9 to correct a small but important bug. I see today that we're back to JupyterLab 3.2.8, is there a reason for this reversion?

Tomorrow's lecture was precisely going to use the console and was the reason for the 3.2.9 update, so I'm curious as to why it got reverted.

Thanks for any clarification!

### Environment & setup

Stat 159 Hub.

[2022-02-15 19:03] felder commented on #3258
@irisk2050

Each hub has it's own filesystem and it's own set of archived files.  Thus a request for me to retrieve files for datahub.berkeley.edu will not include files from data100.

Can you please login to data100.datahub.berkeley.edu and post the link to the datahub folder that is listed there?

[2022-02-15 19:11] felder commented on #3260
Logging into stat159 I can confirm via the terminal:

[code]

Looks like while jupyterlab was specified in environment.yml, the version being used is being installed via pip.  Looks like the culprit is likely:

deployments/stat159/image/infra-requirements.txt

Which has jupyterlab 3.2.8 specified.

[2022-02-15 19:12] fperez commented on #3260
Ah, thanks!! I forgot about that file, it means my PR was incomplete, basically...

I'll make a new one right away fixing the infra file too, thx.

[2022-02-15 19:19] #3260 closed, assigned to felder, balajialg

[2022-02-15 19:19] fperez commented on #3260
Done in #3261, thx @felder!

[2022-02-15 20:10] felder opened #3263 "Building ottr on publichealth hub fails"
### Bug description

[code]

### Environment & setup

- Hub: publichealth

### How to reproduce

Force publichealth to rebuild ottr.

[2022-02-15 20:11] felder commented on #3263
Looks exactly like #3216

[2022-02-15 21:13] felder commented on #3263
Looks reasonable in staging:

[code]

[2022-02-15 21:19] felder commented on #3260
Looks reasonable in staging:

[code]

[2022-02-15 21:24] felder commented on #3263
Deployed to prod.

[2022-02-15 21:24] #3263 closed, assigned to felder, balajialg

[2022-02-15 21:27] felder commented on #3260
Deployed to prod.

[2022-02-15 21:52] irisk2050 opened #3266 "Recover old files"
### Email Id

minjeekim303@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/minjeekim303.tar.gz

[2022-02-15 22:00] felder commented on #3266
I assume this is a duplicate of #3258.

Please update the ticket there with the information requested.

[2022-02-15 22:00] #3266 closed, assigned to felder

[2022-02-15 22:01] ryanlovett commented on #3259
@felder We had seen similar errors several years ago when spinning up new hubs, but I don't know if it was this one specifically.

You might try debugging by going into whatever pod holds the acme-challenge data and see what is there. It is saying `/.well-known/acme-challenge/REMOVED` is 404, but what is available?

[2022-02-15 22:21] felder commented on #3259
@ryanlovett My investigations on the pod seem to suggest it's accessing an account created by yuvi:

[code]

[code]

I wonder if perhaps letsencrypt needs to be informed of domains it is providing certs for.

[2022-02-15 22:24] felder commented on #3259
Related?

https://community.traefik.io/t/letsencrypt-acme-ends-in-404/9590

https://github.com/cert-manager/cert-manager/issues/4562

[2022-02-15 23:05] balajialg commented on #3256
Thanks for the information, @bkg!

@felder @ryanlovett Any thoughts related to the Datahub IP?

[2022-02-15 23:12] balajialg commented on #3148
Sounds good! It is effort-intensive at our end to find the suitable pagedown style I guess.  Will keep this in mind for future requests.

[2022-02-15 23:47] balajialg opened #3267 "Feature audit based on logs history"
# Summary

Thanks to @yuvipanda's nudge, I started working on the [feature matrix document](https://docs.google.com/document/d/1HRQ6OHj_vumqRmmmeddmWPfbXpPg1XqjNCq-pNpWwxA/edit#) to segment our instructors based on the type of features they use. My initial understanding is that we can classify the instructors into three archetypes - instructors using foundational/intermediary or complex use cases.

[2022-02-16 02:38] bryanckim20 opened #3268 "Data Archival Request, bryan kim"
### Email Id

bryanckim@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/bryanckim.tar.gz

[2022-02-16 02:44] felder commented on #3268
Signed URL sent!

[2022-02-16 02:44] #3268 closed, assigned to felder

[2022-02-16 20:16] felder commented on #3259
Comparing data8x-staging with data8xv2-staging:

data8xv2-staging:

[code]

data8x-staging:

[code]

Private key is also different.

[2022-02-16 21:15] felder commented on #3259
ok I think I figured this out.

At some point datahub must've been changed so that all of the hubs are served by a single load balancer.  data8x does not seem to have been configured in the same way.

Solution to this issue was to remove the loadbalancer IP from the staging.yaml

hubploy deploy worked after that, a new loadbalancer was spun up.  I then allocated a static IP for it and added that n

[2022-02-16 21:29] felder commented on #3259
infoblox access was restored, A record created, now I just need to wait for DNS to propagate.

[2022-02-16 22:01] felder commented on #3259
I'm now seeing this:

[code]

The TTL on the record was 3 hours, however.  So perhaps this is still DNS related.  I'll pick this up again tomorrow once the TTL has run out.

[2022-02-16 22:21] felder commented on #3259
To test this theory I performed a similar procedure for data8xv2-prod.  That works.

So I feel good that staging should work once the TTL expires.

[2022-02-17 01:04] balajialg commented on #3259
Thanks, @felder for all the hacks! Is this issue with the load balancer replicable whenever we build a new hub? If yes, I think it would be fantastic if you could document this issue and the process for fixing this issue in our [technical docs](https://github.com/berkeley-dsep-infra/datahub/tree/staging/docs) so that it will be helpful for the new hire.

[2022-02-17 01:37] #3257 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-02-17 05:12] irisk2050 commented on #3258
https://data100.datahub.berkeley.edu/user/minjeekim303/lab/tree/sp20

These files are all blank; my submitted work is not there.

[2022-02-17 05:12] irisk2050 commented on #3258
https://data100.datahub.berkeley.edu/user/minjeekim303/lab

[2022-02-17 19:01] felder commented on #3259
Was still receiving the same error in staging, so I changed the name.  Now it works.

@balajialg I think what we should do is take this opportunity to upgrade data8x to match the rest of the hubs.  The new data8x hubs can be reconfigured while the old ones continue to serve students.

[2022-02-17 19:02] #3259 closed, assigned to felder, balajialg

[2022-02-17 19:30] felder commented on #3258
[code]

[2022-02-17 19:31] felder commented on #3258
Signed URL sent!

[2022-02-17 19:31] #3258 closed, assigned to felder

[2022-02-17 22:49] ryanlovett commented on #3267
I think the logs within the Google cloud console should show frequency of urls like /tree, /rstudio, /lab, etc. They would also have gitpuller URLs, syncthing, desktop. Basically features in the URL can be tracked.

However course info is not in the URL, except in cases where the course info happens to be in a git repo name. The latter don't follow any strict format though. Instructors can name th

[2022-02-18 02:07] balajialg commented on #3267
@ryanlovett Amazing to know that feature-related metrics can be tracked. Can understand the complexity related to retrieving course-related information. I will follow up more on ways to retrieve feature-related information in the Google Cloud console

[2022-02-18 19:55] balajialg opened #3273 "Request 4 GB RAM for class Stat 159"
**Which hub do you want more RAM on?**

Stat 159 hub

**Which class is this request for?**

Stat 159
https://classes.berkeley.edu/content/2022-spring-stat-159-001-lec-001

**How many students do you expect in this class?**

An approximate number would do.
~57

**How much RAM does this class need?**

4 GB RAM

Why does this class need this much RAM?

We're starting to analyze datasets where the pro

[2022-02-18 19:59] balajialg commented on #3273
Based on our [policy](https://github.com/berkeley-dsep-infra/datahub/issues/2785) for RAM allocation, this should be a yes!

[2022-02-18 20:35] fperez opened #3276 "Request more RAM for Stat 159"
**Which hub do you want more RAM on?**

Stat 159

**Which class is this request for?**

[Reproducible and Collaborative Statistical Data Science](https://classes.berkeley.edu/content/2021-Spring-STAT-159-001-LEC-001)

**How many students do you expect in this class?**

70

**How much RAM does this class need?**

4 GB

**Why does this class need this much RAM?**

We're starting to analyze datasets

[2022-02-18 20:53] balajialg commented on #2812
@yuvipanda Highlighting some of our grafana woes. Copy-pasting some of the grafana results for CPU allocation today. We definitely need a way to solve this issue with grafana not fetching data to unblock @felder whenever he needs to analyze stuff.
![image](https://user-images.githubusercontent.com/2306166/154759677-fe8d39f9-9914-4ddb-9ef3-41fbd4c2ca63.png)
![Screen Shot 2022-02-18 at 12 53 19 PM](

[2022-02-18 20:54] fperez commented on #3276
Accidentally duplicated #3273, closing this one.

[2022-02-18 20:54] #3276 closed, assigned to balajialg

[2022-02-19 00:02] fperez opened #3277 "No desktop menus/controls on VNC but only for some users"
### Bug description

This is what the VNC desktop looks like for me and most of my students:

![image](https://user-images.githubusercontent.com/57394/154776305-1f186bfb-44df-4cd4-b94d-4541110701b3.png)

However, for _some_ students, there are no top or bottom panels, no "Applications"  menu, and only a strange blank hovering bar:

![image](https://user-images.githubusercontent.com/57394/154776370

[2022-02-19 23:30] ryanlovett commented on #3277
@fperez Iirc, when xfce starts for the first time, [it asks](https://linuxhint.com/wp-content/uploads/2017/12/arch-15.png) if you want the default panel or one empty one. I wonder if this is the result of people not choosing the default?

If so, it might be that the short term solution is to either reset the panel preferences*, or one can right-click on the floating panel, and configure it to beha

[2022-02-20 22:22] cgentemann opened #3279 "Request python package cartopy for class UCB-stat-159-s22"
### Package Name

cartopy

### Hub details

- Hub: stat159.datahub.berkeley.edu
- Language: Python

### Course Name

Stat159 Perez

### Semester Details

Spring 2022

### Installation Deadline

02/22/2022

[2022-02-21 03:48] jonathanferrari opened #3280 "Request python package openpyxl for class ESPM-109E"
### Package Name

openpyxl

### Hub details

- Hub:
–> Datahub
- Language:
–> Python
###

### Course Name

[ESPM 109E](http://guide.berkeley.edu/courses/espm/#:~:text=ESPM%C2%A0109E%20Data,Expand%20course%20description)
Data Science Communication and Professionalism

### Semester Details

Spring 2022

### Installation Deadline

Preferably by 2/28, needed for class use in march

[2022-02-21 07:06] github-actions[bot] opened #3281 "Weekly Update - Monday, February 21st"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-02-21 15:09] yuvipanda commented on #3273
This was done in #3274

[2022-02-21 15:09] #3273 closed, assigned to balajialg

[2022-02-21 20:59] #3279 closed, assigned to felder, balajialg

[2022-02-22 18:27] felder commented on #3280
openpyxl is already installed.

[code]

[2022-02-22 18:27] #3280 closed, assigned to felder, balajialg

[2022-02-22 18:48] balajialg commented on #3281
Update due next week!

[2022-02-22 18:48] #3281 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-02-22 19:12] balajialg commented on #3256
@yuvipanda Do you have any suggestions on the way forward?

[2022-02-22 19:13] yuvipanda commented on #3256
@bkg ah, we autoscale heavily and hence there is no static pool of public IP ranges we can provide :(

[2022-02-22 19:27] ryanlovett commented on #3256
@bkg Is there a way that people can be permitted to connect by using a token, overriding an IP block?

[2022-02-23 08:25] fperez commented on #3277
Ah, good catch @ryanlovett, that's probably it. I'll pass the info along, thx!

[2022-02-24 07:12] Unfore opened #3284 "rtuason22 - Data Archival Request"
### Email Id

rtuason22@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/rtuason22.tar.gz

[2022-02-24 17:46] felder commented on #3284
Signed URL sent!

[2022-02-24 17:46] #3284 closed, assigned to felder

[2022-02-24 20:27] balajialg commented on #3019
- [x] @yuvipanda to explore conversation with Eric Fraser about the idea of cost sharing via "chartstring"

[2022-02-24 20:29] balajialg commented on #2812
- [x] @felder to work with @yuvipanda to fix some of the issues with grafana. It might involve bumping up the limits of Prometheus!

[2022-02-28 07:06] github-actions[bot] opened #3286 "Weekly Update - Monday, February 28th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-02-28 18:39] felder commented on #3286
**Thanks I'd like to give 🙌**
- I'm happy Yuvi will be back soon!

**Updates from last week ✔**
- I have nothing to report.

**Challenges I faced and things I'd like assistance with 🙏**
- I hoping to work with Yuvi when he returns to shore up grafana.

[2022-02-28 23:03] bkg commented on #3256
@yuvipanda thanks for the reply. Understood, I figured that was probably the case.

@ryanlovett unfortunately not, token based auth isn't currently available but would be a helpful addition here.

[2022-03-01 00:24] balajialg commented on #3286
**Thanks I'd like to give 🙌**
- Thanks  a lot @felder for patiently explaining how the dynamic IP allocation works in Datahub (Re: #3256)

**Updates from last week ✔**
- Closely working with Eric to figure out the next steps w.r.t engagement with 2i2c. Consolidate team's collective inputs into a concise 1 pager to be shared with 2i2c team
- Built version 1.0 of the [Datahub landing page](https://l

[2022-03-03 23:27] #3286 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-03-04 20:42] balajialg commented on #3220
**Next Steps from March Sprint Planning Meeting:**
- [x] Split out Stat 159  docker image into its own repository and add separate test suites
- [x] Standardize test process for all different processor types (@felder to detail this out). @yuvipanda to document the approach!
- [x] Review the monitoring infrastructure - Grafana, Prometheus, and Pagerduty together as a team

[2022-03-04 21:33] balajialg commented on #3267
**Next Steps from March Sprint Planning Meeting:**
- [x] @balajialg to formulate questions for the feature usage!

- [x] @balajialg to work with @felder to get required data for different feature usage related questions

[2022-03-05 01:34] balajialg commented on #2670
**Next Steps from March Sprint Planning Meeting:**

- [x] Balaji to codify the policy inputs into a PR that needs to get published into the Datahub docs repository!

[2022-03-05 01:37] balajialg commented on #3019
**Next Steps from March Sprint Planning Meeting:**

Scope this issue with 2i2c efforts around developing billing solutions at a cluster level! @yuvipanda to update when would be a good time to synchronize efforts across both the teams!

[2022-03-05 01:39] balajialg commented on #2945
Closing this issue as highlighed priorities are tracked across other issues!

[2022-03-05 01:39] #2945 closed, assigned to nobody

[2022-03-07 02:01] madelineadee opened #3292 "Files Disappearing"
### Bug description

I was using the datahub for STAT 159/259, had created a folder with a homework assignment (created initially by cloning a git repo), had worked on the homework and saved it many times. Got up from computer for a while and came back and the folder and all contents were gone. Screenshots below taken at the same time show that the "homework" folder was showing edits a few hours a

[2022-03-07 07:06] github-actions[bot] opened #3293 "Weekly Update - Monday, March 7th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-03-07 08:28] UncooleBen opened #3294 "Retrieve my old Datahub files"
### Email Id

juntaopeng@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/juntaopeng.tar.gz

[2022-03-07 15:58] shahjha opened #3295 "Data 100 archive request"
### Email Id

sranjha@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/sranjha.tar.gz

[2022-03-07 19:30] balajialg commented on #2953
Proof of concept for per image tests is already implemented by Yuvi here - https://github.com/jupyterhub/repo2docker-action/pull/83

[2022-03-07 19:41] balajialg commented on #3292
@madelineadee Ah, that sucks big time. Sorry that you had to go through this issue! Did you experience this yesterday? There is also a [bug ](https://github.com/jupyterlab/jupyterlab/issues/12154) raised with the Jupyter Lab folks who may also have a point of view on this

@yuvipanda @felder Despite [disabling RTC in Stat 159 hub](https://github.com/berkeley-dsep-infra/datahub/pull/3287), this iss

[2022-03-07 19:44] yuvipanda commented on #3292
I'm sorry this happened, @madelineadee! Can you tell us when this happened?

/cc @fperez.

[2022-03-07 19:46] madelineadee commented on #3292
Yes, it happened on 2/22 - I discussed with @fperez last week in class and he asked me to report the issue (apologies for the delay).

[2022-03-07 19:49] felder commented on #3294
Signed URL sent!

[2022-03-07 19:49] #3294 closed, assigned to felder

[2022-03-07 19:51] felder commented on #3295
Signed URL sent!

[2022-03-07 19:51] #3295 closed, assigned to felder

[2022-03-07 20:41] balajialg commented on #3292
@madelineadee Can you check again whether this issue persists? There was a fix for this issue that got deployed 5 days back. Hopefully, this should not be an issue now

On other note, it would be great if you could also highlight timeline for an issue whenever you raise one!

[2022-03-07 20:43] #3293 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-03-07 22:27] balajialg commented on #3267
@felder - During your free time, Can you please let me know whether we can get analytics data to answer the below questions? It would help build a narrative around Datahub's value proposition.

- [ ] How many instructors use Jupyter Classic Notebook, JLab, and Retro Lab?
- [ ] How many instructors use R Studio, Jupyter R Kernel, and R Shiny?
- [ ] How many instructors use Admin functionality and S

[2022-03-08 00:31] fperez commented on #3292
Thank you very much @madelineadee for filing this detailed report! I hope the change we made of disabling RTC (very much informed by your comments to me about this incident last week) will take care of the problem for the class. We're tracking the root cause of the problem with folks in the Jupyter team, and I'm experimenting with RTC on a separate hub.

But for now we will leave RTC disabled in t

[2022-03-08 01:19] madelineadee commented on #3292
Ι have not had this issue in the last 5 days but will let you know (more promptly!) if it happens again. I'm glad there has been a fix! Thanks for the fast response and feedback on providing specific dates/times - I will make sure to do that in the future.

[2022-03-08 02:54] yuvipanda commented on #3292
Thanks for the report + details, @madelineadee. I'll close this for now, and let's re-open it if the issue recurs?

Thanks a lot for being on top of this, @fperez!

[2022-03-08 02:54] #3292 closed, assigned to felder, balajialg

[2022-03-08 06:26] balajialg commented on #3292
Thanks, @madelineadee, and @fperez for the detailed inputs!

[2022-03-08 06:57] fperez opened #3296 "Request 8 GB RAM for Stat 159"
**Which hub do you want more RAM on?**

For example: stat 159/259

**Which class is this request for?**

https://classes.berkeley.edu/content/2022-spring-stat-159-001-lec-001

**How many students do you expect in this class?**

70

**How much RAM does this class need?**

8 GB

**Why does this class need this much RAM?**

We're analyzing climate data as part of the course, and these are inherently

[2022-03-08 17:28] balajialg commented on #3296
@fperez Thanks for the detailed inputs! Do you foresee the RAM bump remaining as a steady-state for Stat 159 hub till the end of the semester or only specific to a few assignments?

[2022-03-08 18:12] fperez commented on #3296
It's hard to tell, so if it's not a big burden, I'd prefer keeping it on. Upcoming assignments will be very open-ended, with real-world datasets the students themselves will fetch, as the course is intended to bridge with published research (the dataset that triggered this request corresponds to a recently published climate paper).

Given this nature of the course, and that we have a substantial f

[2022-03-08 19:15] balajialg commented on #3296
@fperez Just created a PR to bump the RAM guaranteed and allocated to 8 GB for Stat 159 hub. Should get merged to prod hopefully before EOD today.

@felder and I had a detailed discussion internally regarding the cost implication for this change. We currently foresee it to be manageable and under control. We will get back to you by the end of the semester if we think cloud costs are a concern. Hop

[2022-03-08 19:26] fperez commented on #3296
Thanks a ton for the prompt and kind response, @balajialg, my students will very much appreciate it!

And glad to continue iterating on ideas to gain both flexibility and cost efficiency - the node selector option is very valuable in that regard (and just to clarify, I didn't mean we'd need the exact same options as shown in that screenshot, but for example having a few tiers of CPU/RAM would like

[2022-03-08 20:07] balajialg commented on #3296
@fperez Happy to be of some help! Let's keep this conversation going about enabling node selectors for Stat 159!

[2022-03-09 06:43] fperez commented on #3296
Closing this as I see the 8GB are now working, thanks so much team!!

[2022-03-09 06:43] #3296 closed, assigned to balajialg

[2022-03-09 06:44] fperez commented on #3277
Let's close this one as I suspect @ryanlovett's answer is correct, and that's enough to get our users moving. Thx!!

[2022-03-09 06:44] #3277 closed, assigned to felder, balajialg

[2022-03-09 18:32] balajialg commented on #3248
@yuvipanda nudge to add your suggestions from the sprint planning meeting!

[2022-03-09 18:39] balajialg commented on #2823
Published the initial version of home and support web page,

- https://data.berkeley.edu/datahub-home
- https://data.berkeley.edu/datahub-setup

Need to seek the support of Drupal developers and Flint (designer) to improve the design/layout of the web page.

[2022-03-09 19:53] balajialg commented on #3277
Thanks, @fperez! Appreciate it

[2022-03-11 19:32] felder commented on #2395
Latest release of sops in theory should fix this.  I'm testing it now.

https://github.com/mozilla/sops/releases/tag/v3.7.2

[2022-03-11 19:38] felder commented on #2395
Sops 3.7.2 installed via homebrew works!

[code]

[2022-03-11 19:38] #2395 closed

[2022-03-12 02:00] balajialg commented on #2953
@yuvipanda to develop a proof of concept test suite for Stat 159 hub!

[2022-03-12 02:10] balajialg commented on #3267
@felder Sharing the context from the conversation which happened between us in Slack, Instructor + Course-specific data cannot be retrieved with the GCP logs that are stored currently. It would require us to figure out another mechanism to fetch the data (possibly nbgitpuller links).

I will set up some time with you the week after to figure out the near-term scope of the data to be retrieved and

[2022-03-14 07:06] github-actions[bot] opened #3302 "Weekly Update - Monday, March 14th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-03-15 01:22] zaza525 opened #3303 "request"
### Email Id

zianggao@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/zianggao.tar.gz

[2022-03-15 17:27] felder commented on #3303
Signed URL sent!

[2022-03-15 17:27] #3303 closed, assigned to felder

[2022-03-15 20:57] sonamhuang opened #3304 "retrieving old data!"
### Email Id

sonamhuang@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/sonamhuang.tar.gz

[2022-03-16 01:01] felder commented on #3304
Signed URL sent!

[2022-03-16 01:01] #3304 closed, assigned to felder

[2022-03-16 03:20] #3302 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-03-16 21:21] sanjayg0 opened #3305 "FEniCS on datahub"
For the finite element course CE 133, ME 180, and ME 280A (and perhaps more), we often use FEniCS.  Would it be possible to have these packages available in the datahub jupyter notebooks?

The configuration has been worked out for google colab and it seems to work there but we would prefer to use datahub.  Given the power of FEniCS, it could prove to be useful for a lot more people.

Here is the s

[2022-03-17 00:45] felder commented on #3305
Looks we can pull this in with apt as it appears to be an available package.

python3-mshr, python3-dolfin, python3-slepc4py, python3-boost, python3-pybind11, and fenics are all available.

That will be preferable to pulling in a shell script and executing it.

[2022-03-17 04:05] sanjayg0 commented on #3305
This sounds great.   I will be happy to perform some testing once you are ready.

[2022-03-17 21:00] felder commented on #3305
@sanjayg0 great!  It's working on deploying to staging (https://staging.datahub.berkeley.edu) currently.  It'll likely be another 30m or so before the deploy completes.  At that point I'll login to staging and verify the imports in your description work, then I'll ask you to test one of your notebooks in staging before I merge it to production.

[2022-03-17 21:45] felder commented on #3305
Hmm that no workie.

I'm going to send another job through to have conda install it.

[2022-03-17 22:02] sanjayg0 commented on #3305
For what it is worth, I did an install on an Ubuntu box last night with

sudo apt-get install software-properties-common
sudo add-apt-repository ppa:fenics-packages/fenics
sudo apt-get update
sudo apt-get install fenics

That seemed to pull down everything I needed for some basic tests.

[2022-03-17 22:28] felder commented on #3305
@sanjayg0 yeah using apt worked, but datahub calls python via a conda environment so the installed modules were not available for use by notebooks.

Hopefully the PR I'm working on now will cause the right thing to happen.  Alas it takes about 3 hours before I can test a change in staging.

[2022-03-18 00:33] felder commented on #3305
@sanjayg0 ok progress

[code]

dolfin imports in staging

[code]

mshr didn't come with, however.

[code]

I'm going to add mshr and send it through again.

[2022-03-18 02:23] felder commented on #3305
@sanjayg0 The two imports noted in your description now work.

[code]

Can you please test on https://staging.datahub.berkeley.edu ?

[2022-03-18 03:56] sanjayg0 commented on #3305
I've run a few tests and it seems to be working

[2022-03-18 04:16] sanjayg0 commented on #3305
One thing that I notice is that if the memory hits 1GB, then the kernel crashes.   That seems kind of bad as it is easy to exceed a need for 1GB in a computation.

[2022-03-18 15:44] felder commented on #3305
@sanjayg0 1GB is the default memory allocation we provide, and yes there is no virtual memory so if you exceed your RAM allocation your kernel will crash.

You can request an increase for your class.

https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=balajialg&labels=support&template=higher-resources.md&title=Request+more+RAM+for+class+X

Example:  https://github.com/berkeley-dse

[2022-03-18 18:10] felder commented on #3305
Deployed to prod.

[2022-03-18 18:10] #3305 closed, assigned to felder

[2022-03-21 07:07] github-actions[bot] opened #3310 "Weekly Update - Monday, March 21st"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-03-21 17:06] yuvipanda commented on #3310
**Thanks I'd like to give 🙌**
- Thanks to @ericvd-ucb for helping get the GCP folks onto our meeting!
- Thanks to @felder for #3305!

[2022-03-23 15:37] balajialg commented on #3310
**Thanks I'd like to give 🙌**
 - Thanks a lot @yuvipanda for the kickass sessions walking through Datahub Tech!

**Updates from last week ✔**
- I was out of the office for the entire week last week. Catching up on things that I might have missed.

[2022-03-23 15:38] #3310 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-03-23 17:39] felder commented on #3310
**Thanks I'd like to give 🙌**
- @yuvipanda for his info sessions on datahub!

**Challenges I faced and things I'd like assistance with 🙏**
- Discussion with Fernando on slack about storage was a reminder about our challenges there.  We should probably start a discussion around data archiving next month.  Perhaps after my vacation.

[2022-03-23 19:12] yuvipanda commented on #3248
@aculich the homepage (pre-login) is easily customizable by forking https://github.com/berkeley-dsep-infra/datahub-homepage, which has all the HTML, CSS and images for https://datahub.berkeley.edu. If you can do that, we can then use the same image on the top left. How does that sound?

[2022-03-23 19:32] aculich commented on #3248
I added [dlab-logo-with-url.svg](https://github.com/berkeley-dsep-infra/datahub-homepage/blob/master/extra-assets/images/dlab-logo-with-url.svg) to: https://github.com/berkeley-dsep-infra/datahub-homepage/tree/master/extra-assets/images

Looks like I had commit access (which I didn't realize) so I ended up uploading it directly instead of in a fork (oops, sorry if that's bad?!)

From here, how do

[2022-03-24 18:19] felder opened #3311 "Increase node RAM size for core pool"
We are going to give prometheus more RAM, but in order to do so we need to increase the amount of RAM for the nodes in the pool.

[2022-03-24 18:38] felder commented on #3311
List machine types:
`gcloud compute machine-types list | grep n1-standard | grep us-central1`

List node pools:
`gcloud container node-pools list --cluster=fall-2019 --zone=us-central1`

Describe node pool:
`gcloud container node-pools describe core-2021-11-06  --cluster=fall-2019 --zone=us-central1`

[2022-03-24 18:39] felder commented on #3311
Docs for creating node pool:
https://docs.datahub.berkeley.edu/en/latest/admins/cluster-config.html

Command line to create new core node pool mainly changing n1-standard-4 to n1-standard-8:

[code]

[2022-03-24 18:45] felder commented on #3311
Set the max number for auto scaling of core nodes in the old pool to match the number of existing so that no new nodes will be provisioned in the old pool.  Did this via console.

[2022-03-24 18:55] felder commented on #3311
Cordon the old nodes:
`kubectl cordon -l cloud.google.com/gke-nodepool=core-2021-11-06`

Delete all the pods in the support namespace that are on the old pool:
`kubectl -n support get pods -o wide | grep core-2021-11-06 | cut -d ' ' -f 1 | xargs -n1 -I {} kubectl -n support delete pod {} --wait=false`

[2022-03-24 19:22] felder commented on #3311
Delete all the pods in the staging namespaces that are on the old node pool:
`kubectl get pods --all-namespaces -o wide | grep staging | grep core-2021-11-06 | tr -s ' ' | cut -d ' ' -f 1,2 | xargs -n2 bash -c 'kubectl -n $1 delete pod $2 --wait=false' bash`

[2022-03-24 19:42] balajialg commented on #2823
@yuvipanda Please feel free to add any next steps from this meeting that I missed adding to the above list.

[2022-03-24 19:54] felder commented on #3311
Delete all pods in each prod namespace that on the old node pool.  Doing this one at a time:
`kubectl -n NAMESPACE get pods -o wide | grep core-2021-11-06 | cut -d ' ' -f1 | xargs -n1 -I {} kubectl -n NAMESPACE delete pod {} --wait=false`

[2022-03-24 20:27] felder commented on #3311
There were a few namespaces left with pods in them:

default
kube-system
node-placeholder
support

The ones in support are just support-prometheus-node-exporter, so that makes sense.

All the rest can be deleted:
`kubectl get pods --all-namespaces -o wide | grep core-2021-11-06 | tr -s ' ' | cut -d ' ' -f 1,2 | xargs -n2 bash -c 'kubectl -n $1 delete pod $2 --wait=false' bash`

[2022-03-24 20:32] felder commented on #3311
Removed the old pool via the console.

[2022-03-24 20:40] #3311 closed, assigned to felder

[2022-03-24 22:27] jaconrad17 opened #3313 "Unable to access Jupyterhub server"
### Bug description

Hello, I am unable to access my Berkeley JupyterHub server as I keep getting this Event log every time I log into my account:

2022-03-24T22:16:06Z [Normal] Successfully assigned datahub-prod/jupyter-jaconrad to gke-fall-2019-user-alpha-2021-11-06-af8c67c2-x4sn

2022-03-24T22:20:26Z [Warning] Unable to attach or mount volumes: unmounted volumes=[etc-gitconfig], unattached volu

[2022-03-24 22:35] yuvipanda commented on #3313
Thanks for reporting this, @jaconrad17! Am looking into it right away.

[2022-03-24 22:38] jaconrad17 commented on #3313
Thanks, that fixed the issue

[2022-03-24 22:38] #3313 closed, assigned to felder, balajialg

[2022-03-24 22:40] yuvipanda commented on #3313
Thanks, @jaconrad17. Can you tell me which hub you ran into this with? datahub.berkeley.edu?

[2022-03-25 01:03] felder opened #3316 "Core node pool change broke some grafana graphs"
Some of the promql queries that are used for the grafana graphs broke after changing the node pool in #3311

This is because the queries compare different datasets and expect one to many relationships.

For example, the Running Users check:
`sum(kube_pod_status_phase{phase="Running"} * on (namespace, pod) group_right() kube_pod_labels{label_app="jupyterhub", label_component="singleuser-server"}) b

[2022-03-25 01:10] felder commented on #3316
Other broken checks:

Memory commitment %:

[code]

CPU Commitment %:

[code]

[2022-03-25 01:29] felder commented on #3316
Over larger (as well as shorter and recent) time scales this issue goes away, so when testing this is a good range to specify:

2022-03-24 10:00:00 - 2022-03-24 14:00:00

[2022-03-25 04:53] sanjayg0 opened #3317 "Request more RAM for class CE C133/ME C180, Spring 2022"
**Which hub do you want more RAM on?**
 datahub

**Which class is this request for?**
CE C133/ME C180
https://classes.berkeley.edu/content/2022-spring-civeng-c133-001-lec-001
https://classes.berkeley.edu/content/2022-spring-meceng-c180-001-lec-001

**How many students do you expect in this class?**
65

**How much RAM does this class need?**

4GB per student

**Why does this class need this much RA

[2022-03-28 07:07] github-actions[bot] opened #3318 "Weekly Update - Monday, March 28th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-03-28 16:18] balajialg commented on #3317
@sanjayg0 Thanks for raising this request! I assume you are using the main Datahub which has 1 GB RAM as a limit. The general use case for Datahub is to support intro-level courses using standard packages for which 1 GB RAM is more than sufficient. Considering your unique requirements from a RAM and [package ](https://github.com/berkeley-dsep-infra/datahub/issues/3305) standpoint, I will have a di

[2022-03-28 16:24] sanjayg0 commented on #3317
3/28 is slightly flexible.  I just posted a datahub assignment for the
class but I think it can be accomplished mostly without hitting the 1GB
limit, but on occasion I have hit it, so the sooner the better.  The
next class assignment will almost definitely hit the limit.  The
student's can also jump over to Google colab but that is rather
non-ideal since they have to run a full install of the pack

[2022-03-28 17:19] balajialg commented on #3317
@sanjayg0 Thanks for the info! We will try to resolve your request as soon as possible (either today/tomorrow) so that it is not a blocker for your next assignment.

[2022-03-28 18:36] felder commented on #3317
Done!

[2022-03-28 18:36] #3317 closed, assigned to felder, balajialg

[2022-03-28 18:59] balajialg commented on #3317
Thanks a lot @felder for the quick turnaround!

[2022-03-28 19:08] sanjayg0 commented on #3317
How does one "access" the higher RAM limit?
-------------------------------------------------------------------
Sanjay Govindjee, PhD, PE
Horace, Dorothy, and Katherine Johnson Professor in Engineering

779 Davis Hall
University of California
Berkeley, CA 94720-1710

Voice:  +1 510 642 6060
FAX:    +1 510 643 5264
***@***.***
http://faculty.ce.berkeley.edu/sanjay
----------------------------------

[2022-03-28 19:11] felder commented on #3317
@sanjayg0 The limit is tied to the course.  When someone who is associated with the course signs in, they receive it.

[2022-03-28 19:22] sanjayg0 commented on #3317
Thanks.  So it will be automatic for the student.
If possible, please also tag the instructors,
myself and Nikolay G Velkov, who handles the labs.

On 3/28/22 12:11 PM, felder wrote:

[2022-03-28 19:29] felder commented on #3317
@sanjayg0 I thought I had merged this to prod, but for some reason did not.  I'm merging it now.

I believe the instructors should also get the increase.  Please test.

If you have a running server, you have to stop it and relaunch it first.

[2022-03-28 21:21] sanjayg0 commented on #3317
just tried it again and it is working.

-------------------------------------------------------------------
Sanjay Govindjee, PhD, PE
Horace, Dorothy, and Katherine Johnson Professor in Engineering

779 Davis Hall
University of California
Berkeley, CA 94720-1710

Voice:  +1 510 642 6060
FAX:    +1 510 643 5264
***@***.***
http://faculty.ce.berkeley.edu/sanjay
--------------------------------------

[2022-03-28 21:21] felder commented on #3316
This I think fixes the memory commitment % and since the cpu commitment % is quite similar, the same fix should apply there too:

[code]

[2022-03-28 23:42] #3318 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-03-29 23:54] westernguy2 opened #3324 "Request python package gdown for class Data 100"
### Package Name

gdown

### Hub details

- Hub: Data 100
- Language: Python

### Course Name

Data 100 (Lisa Yan and Josh Hug)

### Semester Details

Spring 2022 (and beyond)

### Installation Deadline

ASAP, before April 1

[2022-03-29 23:57] westernguy2 opened #3325 "Old Datahub File Requests"
### Email Id

kagarwal2@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2019/datahub.berkeley.edu/kagarwal2.tar.gz

I hope the above is the right location?

Thanks!

[2022-03-30 01:33] felder commented on #3325
@westernguy2 that does not appear to be a correct location.

The location should be retrieved from a file in your home directory called "WHERE-ARE-MY-FILES.txt"

Can you explain what files specifically you're attempting to retrieve as well as how you came across that "Link to Datahub Folder"?

If you're attempting to construct a link based on what you believe it might be, that is not likely to be

[2022-03-30 04:10] westernguy2 commented on #3325
oh ok, yes I don't have the "WHERE-ARE-MY-FILES.txt" file in my Datahub. I took Data 100 in Spring 2019, and those files are no longer in my Data 100 Datahub, and I was wondering if they could still be recovered. Apologies if this was the wrong place to ask that! Thanks!

[2022-03-30 17:03] felder commented on #3325
@westernguy2 This is the right place.

This might be a silly question, but have you tried logging into https://datahub.berkeley.edu and seeing if your files are there?

[2022-03-30 18:07] felder commented on #3324
This has been merged to prod.

Tested by calling "import gdown" in a notebook.

[2022-03-30 18:07] #3324 closed, assigned to felder, balajialg

[2022-03-30 19:23] balajialg commented on #2670
PR for the policy is currently merged to staging branch!

[2022-03-30 19:23] #2670 closed, assigned to ericvd-ucb

[2022-03-30 20:02] felder commented on #3316
This PR should fix.

https://github.com/jupyterhub/grafana-dashboards/pull/36

I've deployed the fixed graphs from my own fork of the above repo.  I think they work right.

[2022-03-30 22:00] ligon commented on #2013
This change seems not to have carried over into 2022--students have instances with 1 GB of RAM.  Can we re-up to 4GB?

[2022-03-30 22:01] ligon opened #3329 "This change seems not to have carried over into 2022--students have instances with 1 GB of RAM. Can we re-up to 4GB?"
This change seems not to have carried over into 2022--students have instances with 1 GB of RAM.  Can we re-up to 4GB for students in ENVECON153, please?

_Originally posted by @ligon in https://github.com/berkeley-dsep-infra/datahub/issues/2013#issuecomment-1083671412_

[2022-03-30 22:17] felder commented on #2013
@ligon Can you please open a new issue using the issue template for this?

https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=balajialg&labels=support&template=higher-resources.md&title=Request+more+RAM+for+class+X

These changes will not carry over because they are based on specific values for each term and year including the courses' SIS ID which changes every semester.  This me

[2022-03-30 22:18] felder commented on #3329
@ligon Can you please open a new issue using the issue template for this?

https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=balajialg&labels=support&template=higher-resources.md&title=Request+more+RAM+for+class+X

These changes will not carry over because they are based on specific values for each term and year including the courses' SIS ID which changes every semester. This mea

[2022-03-30 22:18] #3329 closed, assigned to nobody

[2022-03-30 22:38] ligon opened #3330 "Request more RAM for class ENVECON 153"
I would like to request additional RAM (4G total) on datahub for the approximately  50 students in my ENVECON153 class this spring: link https://classes.berkeley.edu/content/2022-spring-envecon-153-001-lec-001

At this point in the semester students are doing some simple analysis of datasets which are sufficiently large that 1G won't do.

Projects involving those datasets are due April 6th, so thi

[2022-03-31 00:49] felder commented on #3330
@ligon The extra RAM should now be available.

If people currently have servers running, they'll need to restart them in order to see the increase.

[2022-03-31 00:50] #3330 closed, assigned to felder, balajialg

[2022-04-03 23:02] bryantla opened #3334 "Data Archival Request"
### Email Id

bryantla@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/bryantla.tar.gz

[2022-04-04 07:07] github-actions[bot] opened #3335 "Weekly Update - Monday, April 4th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-04-05 17:10] #3335 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-04-07 18:09] sthulsi opened #3336 "Retrieve a copy of my files"
### Email Id

sthulasi@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/sthulasi.tar.gz

[2022-04-07 23:59] balajialg commented on #3267
**Qualitative Insights based on preliminary log analysis from the last 30 days:**

- **R Kernel:** Datahub and Biology hub users actively use R Kernel
- **Lab:** Data 100 hub users use Jupyter Lab extensively
- **Remote Desktop:** Astro and EECS hub users use remote desktop environments regularly
- **Shared Directory:** Datahub, Data 100, Astro, Biology hub users use the shared directory
- **Share

[2022-04-08 00:59] ryanlovett commented on #3267
@balajialg Interesting, thanks! Do you know what admin is being used for? It is just to view the list of people or is it being used to stop/start servers too?

[2022-04-08 01:14] balajialg commented on #3267
@ryanlovett I searched

``resource.type="k8s_container" resource.labels.cluster_name="fall-2019" resource.labels.namespace_name=~"-prod" resource.labels.container_name="notebook" textPayload=~"oauth2/authorize?"`

in the log explorer to see how many users actively click on the option "access server" to access other users' hub instances. Apparently, I could see that almost all hub users noted in th

[2022-04-08 03:51] yuvipanda commented on #3267
@balajialg i'm not sure but maybe `oauth2/authorize` may also be used each time a user logs in, regardless of wether it's used with admin access or not.

Another way is to look at just the hub logs and look for uses of the admin panel there by URL, with `resource.labels.container_name="hub"`

[2022-04-08 03:53] yuvipanda commented on #3267
The other point is that these are only logs across last 30 days, so we can't make inferences about longer term usage patterns. We can start saving the nginx logs too though, and make that happen.

[2022-04-08 16:56] balajialg commented on #3267
@yuvipanda Completely agree with you! I am looking at the above points as potential hypotheses to explore possible trends with the long-term log data. My other hypothesis is that except for a few variations, this data should highly correlate with the long-term data (considering this is a snapshot from mid-semester). But I can be completely wrong about this point.

Searching for hub logs - I am see

[2022-04-08 16:58] balajialg commented on #3336
@sthulsi We should be able to retrieve your logs by next week. Thanks for your patience!

[2022-04-08 16:58] balajialg commented on #3334
@bryantla  We should be able to retrieve your logs by early next week. Thanks for your patience!

[2022-04-08 19:30] yuvipanda commented on #3267
@balajialg what log lines do you get when you access admin hub yourself? Basically we need to look at that and derive regexes and filters from that info. Some post processing may also be needed.

Everything with `wp-admin` or `webadmin` or  similar  is bots trying to exploit our hub because maybe it's a wordpress instance or a similar piece of software with known vulnerabilities :D

[2022-04-08 19:31] yuvipanda commented on #3267
I think a basic process should be to:

1. Do the thing you're trying to measure
2. See what logs show up, if any.
3. Be very careful in vetting the hypothesis that what you see in (2) *always* shows up when you do (1) but at no other time. This can be a bit difficult but definitely doable.
4. Document the process as we go along so we don't lose track.

[2022-04-08 22:01] scottkenberg opened #3337 "Scott Kenberg Data Archival Request"
### Email Id

scottkenberg@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/scottkenberg.tar.gz

[2022-04-08 23:23] balajialg commented on #3267
@yuvipanda Looked at the hub logs by searching for the `textPayload=~"\s/hub/admin\s"` search query. I observe that the resulting logs are similar to the network logs when the admin portal is accessed by the user in Datahub. Obviously, it requires a bit of post-processing in terms of drawing meaningful insights but I can see that logs are from multiple hubs like Datahub, Data 8, Data 100, etc.

Th

[2022-04-10 23:30] geneh0 opened #3338 "Outdated TexLive + Missing Package"
### Bug description

Students are unable to knit to PDF and get the error below.

I don't think it's actually the outdated TexLive, but somehow `amsmath.sty` is missing now.

[code]

I ran `kpsewhich amsmath.sty` and there is no output.

### Environment & setup

- Hub: Public Health
- Language: R

### How to reproduce

Try knitting to PDF via the one-click interface.

[2022-04-10 23:31] geneh0 commented on #3338
@cdbeon Just so you're aware too

[2022-04-11 07:07] github-actions[bot] opened #3339 "Weekly Update - Monday, April 11th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-04-11 16:50] felder commented on #3334
Signed URL sent!

[2022-04-11 16:50] #3334 closed, assigned to felder

[2022-04-11 16:52] ryanlovett commented on #3338
In the stat20 hub, which like publichealth also uses geospatial as the base Docker image, we install/update LaTeX packages with `tlmgr` [in the Dockerfile](https://github.com/berkeley-dsep-infra/datahub/blob/ee455e05a86182fb33474887cf43385e8581755f/deployments/stat20/image/Dockerfile#L77).

[2022-04-11 16:53] felder commented on #3336
Signed URL sent!

[2022-04-11 16:53] #3336 closed, assigned to felder

[2022-04-11 16:55] felder commented on #3337
Signed URL sent!

[2022-04-11 16:55] #3337 closed, assigned to felder

[2022-04-11 17:04] felder commented on #3338
@geneh0 can you please provide some steps I can use to reproduce this issue?

Alternatively I can make the change described by @ryanlovett to upgrade ansmath and let you know when it has been deployed to the staging environment so you can test.

[2022-04-11 18:10] felder commented on #3338
@ryanlovett actually I think stat20 is also likely to fail.

Apparently texlive updates every year in early April:
https://www.tug.org/texlive/

I think the right solution is to instruct tlmgr to use the previous repo.
https://www.tug.org/historic/

Trying the following in staging:
`tlmgr repository add https://ftp.math.utah.edu/pub/tex/historic/systems/texlive/2021/tlnet-final`
`tlmgr option repo

[2022-04-11 18:22] felder commented on #3338
@geneh0 running the commands I listed in the previous comment seems to result in the proper package being installed.  Can you please try similar in your environment and see if it works?  If your tests indicate success, I'll make the changes to the Dockerfile.

[2022-04-11 18:27] ryanlovett commented on #3338
@felder Ah, thanks for the heads up! I think these issues will go away when the images are rebased on repo2docker.

Edit: @felder if/when you make a PR to publichealth, would you mind doing the same for stat20?

[2022-04-11 18:29] felder commented on #3338
@ryanlovett I just added a bit more to my comment above.  Assuming this recipe works here, we'll probably want to update stat20's Dockerfile as well.

[2022-04-11 18:47] geneh0 commented on #3338
@felder I'm able to successfully knit after running the commands your previous comment. This is the [sample document](https://github.com/ph142-ucb/phw142-sp22/blob/master/lab/lab07/lab07.Rmd) that I was using to test that didn't work before. However, I am noticing that it takes significantly longer to knit than expected.

[2022-04-11 19:02] felder commented on #3338
@geneh0 Using the sample document I can see what you're saying.  I think the issue is it's installing a bunch of packages and making you wait for that.

Clicking knit a second time after the first results in much faster rendering.  I think if I have it install the missing packages it should make it faster.  However, I am a bit confused as to why it's needing to do this now when it wasn't before.

[2022-04-11 19:29] felder commented on #3338
This is the list of packages that it pulls in.

amsmath
latex-amsmath-dev
iftex
kvoptions
ltxcmds
kvsetkeys
etoolbox
xcolor
auxhook
bigintcalc
bitset
etexcmds
gettitlestring
hycolor
hyperref
intcalc
kvdefinekeys
letltxmacro
pdfescape
refcount
rerunfilecheck
stringenc
uniquecounter
zapfding
pdftexcmds
infwarerr
geometry
epstopdf-pkg

[2022-04-11 20:07] felder opened #3341 "Getting 403s from github for unauthenticated requests"
[code]

[2022-04-11 20:10] ryanlovett commented on #3338
@geneh0 Sometimes it takes longer because tlmgr has to fetch additional dependencies. If so, those packages can be preinstalled as well. Is there a log that says where knit spent its time during that longer run?

[2022-04-11 20:24] felder opened #3342 "ottr 0.1.0 causes publichealth to not build. This looks a lot like #3216 and #3263, however moving it up no longer works"
[code]

[2022-04-11 20:24] felder commented on #3342
https://app.circleci.com/pipelines/github/berkeley-dsep-infra/datahub/1204/workflows/56e7056e-6f28-4e2c-b46e-b255d4857bf8/jobs/10389/parallel-runs/0/steps/0-108

[2022-04-11 20:25] felder commented on #3342
I think it highly likely that other images with ottr in them will also not build.

I don't know if publichealth using 0.1.0 vs 1.1.1 matters.  I suspect not.

[2022-04-11 20:28] felder commented on #3342
See issue #3216 and #3263

Note that the same fix described there was applied here.  At the time it worked.  Now it does not.  I attempted to move the installation as far up as I believe I can.  Still no good.

[2022-04-11 20:34] felder commented on #3338
@geneh0 I have fix queued up for this and I believe it will work, but unfortunately #3342 is keeping me from implementing it.

In the meantime, while I understand this is less than ideal, a workaround is to have students add the old repo as described above each time they launch their server and knit.

[2022-04-11 20:35] aparande opened #3343 "Request more RAM for class EE120"
**Which hub do you want more RAM on?**

Datahub

**Which class is this request for?**

https://classes.berkeley.edu/content/2022-spring-eleng-120-001-lec-001

**How many students do you expect in this class?**

~120

**How much RAM does this class need?**

4 GB

**Why does this class need this much RAM?**

Some of our lab assignments, which are Jupyter notebooks, have students look at video and au

[2022-04-11 20:59] felder commented on #3341
Julia did it too.

https://app.circleci.com/pipelines/github/berkeley-dsep-infra/datahub/1205/workflows/9cd40227-4287-44cb-aa88-ee9cfcf9fc4e/jobs/10400/parallel-runs/0/steps/0-105

I thought this was fixed or at least we haven't seen it for a while.

[2022-04-12 00:22] balajialg commented on #3343
@aparande Thanks for raising the github issue. Do you need the RAM increase for the entire semester or specific dates in this semester when the assignments are due? More specifically, Do you need an increased RAM just for the next assignment alone? I am asking these questions as increased resource allocation is correlated with increased cloud costs.

[2022-04-12 00:25] balajialg commented on #3342
@chrispyles Would it be possible for you to take a look at this issue and offer potential recommendations? One of the corrective actions @felder and team are thinking of is to upgrade ottr to the 1.1.4 version. Do you see any potential risk with this upgrade based on other otter deployments? Would appreciate your support here.

[2022-04-12 00:29] balajialg commented on #3341
@yuvipanda @ryanlovett Any idea why the GitHub unauthenticated issue is recurring considering the corrective action taken as part of issue #1048?

[2022-04-12 00:40] yuvipanda commented on #3341
It's determined mostly by how many other CircleCI jobs are running on the node with same IP. We were exhausting it quite frequently before the move to packagemanager.rstudio.com, but I think it'll happen less frequently now. Restarting after an hour or so should mostly 'fix' it.

Using an auth token would definitely be a more long term fix.

[2022-04-12 01:08] aparande commented on #3343
Hi @balajialg, we just need the RAM increase until May 2nd as we have this assignments and another one, but students will not be working on them beyond May 2nd.

[2022-04-12 06:30] geneh0 commented on #3338
@felder Great! However, I'm not sure I understand the implication of the impact of #3342 on this.

But also for other folks who might be running into similar problems, I think running `tinytex::tlmgr_update()` in the R console will get rid of the latex errors temporarily. I don't think this fix or the [one mentioned previously](https://github.com/berkeley-dsep-infra/datahub/issues/3338#issuecommen

[2022-04-12 16:46] felder commented on #3338
@geneh0 the implication of #3342 is that I cannot currently update the server image to incorporate the fix described above.

I understand the workaround is not sustainable.  We are working on resolving #3342 as quickly as we can.

[2022-04-12 16:47] balajialg commented on #3343
Thanks, @aparande! 2-3 weeks should not be a problem as per our policy.

@felder Would you have some bandwidth today to help with this request? Thanks!

[2022-04-12 17:06] balajialg commented on #3342
Response from @cdbeon (Public Health GSI) regarding the proposal to upgrade ottr version:
_We do have a lab/homework that's to be released within the next 24 hours; anytime on Wednesday onwards should be alright. However, I'm concerned that the update to 1.1.4 would affect the students' ability to run the test cases. We're still using 0.1.0, and our current assignments are written for this specifi

[2022-04-12 20:10] felder commented on #3343
Done!

[2022-04-12 20:10] #3343 closed, assigned to felder, balajialg

[2022-04-12 20:13] felder commented on #3338
ischool is the only other hub other than stat20 and publichealth that is based on geospatial.

ischool does not require ottr, so I should be able to fix it.

[2022-04-12 20:42] balajialg commented on #3343
Thanks a lot @felder!

[2022-04-12 23:33] felder commented on #3342
I think this is fixed for right now.

[2022-04-12 23:33] #3342 closed, assigned to chrispyles

[2022-04-12 23:34] felder commented on #3338
@geneh0 ok I think I've pushed a fix for this.  Please restart your server and try to knit.

When I knit using the sample document you provided, it's nearly instantaneous.

ottr works too:

[code]

[2022-04-12 23:46] #3339 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-04-12 23:46] balajialg commented on #3339
Lets add an update next week!

[2022-04-13 18:04] felder commented on #3338
It is my belief this is fixed.  Please reopen the issue if it is not.

[2022-04-13 18:04] #3338 closed, assigned to felder, balajialg

[2022-04-13 18:07] geneh0 commented on #3338
It looks like the folks I've talked to have been able to knit. Thank you!

[2022-04-13 18:35] felder commented on #3325
Please reopen this if you still need help restoring these.

[2022-04-13 18:35] #3325 closed, assigned to felder

[2022-04-13 18:44] balajialg commented on #3341
Got it, Thanks @yuvipanda!

@felder Should we close this issue considering Yuvi's response? Let me know if there are other solutions you are anticipating currently.

[2022-04-13 18:47] balajialg commented on #2823
Final assets created during this sprint by Flint! Aren't these logos amazing?
![datahub-logo-filled-edge-link](https://user-images.githubusercontent.com/2306166/163249092-eb6c449e-1116-4ad3-923a-dd19e4cf1f8a.png)
![datahub-logo-filled-inside-link](https://user-images.githubusercontent.com/2306166/163249100-f9f854ba-d72c-410f-929d-ae5a47b2a607.png)
![datahub-logo-outline-inside-link](https://user-i

[2022-04-13 18:57] felder commented on #3341
@balajialg sure!

[2022-04-13 18:57] #3341 closed, assigned to yuvipanda

[2022-04-15 21:27] balajialg commented on #2823
Updated logos where jovian bear is tilted southwest based on @ericvd-ucb's feedback
![datahub-logo-outline-dark](https://user-images.githubusercontent.com/2306166/163634329-da06a51b-be06-4650-8ca5-cfeb4a893115.svg)
![datahub-logo-outline-orange](https://user-images.githubusercontent.com/2306166/163634330-81e9a4bb-ff74-4b49-b0b3-1635365a4a1f.svg)
![datahub-logo-outline-white](https://user-images.gi

[2022-04-15 23:23] balajialg commented on #3248
@aculich Did you have any luck with adding Dlab's logo in the deployment? I am also currently in the process of figuring out the steps to add the latest logo for Datahub (Check [here](https://github.com/berkeley-dsep-infra/datahub/issues/2823#issuecomment-1100421143))

@yuvipanda @ryanlovett Can you please share the detailed steps to change the logo for a particular hub deployment! It will be help

[2022-04-16 03:25] balajialg commented on #3074
FWIW, Siteimprove gave an accessibility score of 94.3 for the datahub.berkeley.edu page.
![image](https://user-images.githubusercontent.com/2306166/163659689-33127030-8148-40bf-ab5f-426b11a1caf6.png)

[2022-04-17 02:11] ryanlovett commented on #3074
@balajialg That's great! It's probably very high since it didn't evaluate notebook or lab, but at least it means the landing page doesn't have a lot of problems.

[2022-04-18 07:07] github-actions[bot] opened #3353 "Weekly Update - Monday, April 18th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-04-18 15:21] felder commented on #3353
**Updates from last week ✔**
- Found a workaround for ottr installation issues:  #3342
- Sean Morris reached out to me regarding new DNS records for data8x grader.  Worth mentioning because we were discussing previously about how it had been a little while since we'd last heard from him.

[2022-04-18 16:44] balajialg commented on #3353
**Thanks I'd like to give 🙌**
- Thanks @felder for initiating the thread!
- Thanks @yuvipanda for orienting me on how to run log explorer in GCP!
- Thanks @felder for debugging the gsutil related issue
- Thanks @yuvipanda and @ryanlovett for reviewing the April Monthly Newsletter

**Updates from last week ✔**
- Compiled the [list of courses](https://docs.google.com/document/d/13nhn7vHQpyq9ipgigHGR

[2022-04-18 23:00] balajialg opened #3356 "Issue with filenames of logs data stored in GCP buckets!"
# Summary

As part of my exploration in #3267 and #2949, My objective is to read the log data to capture general trends with
i) Courses using Datahub during Spring 22 (For our Tech strategy meeting this week) and
ii) Features commonly used by courses across both semesters.

I ran a few queries using [log explorer](https://cloudlogging.app.goo.gl/7dJ5diUcv4mcFB6U8) across the 30-day log data to ach

[2022-04-20 03:47] angelzheng0826 opened #3361 "Data Archival Request"
### Email Id

angelzheng0826@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/angelzheng0826.tar.gz

[2022-04-20 21:36] felder commented on #3361
Signed URL sent!

[2022-04-20 21:36] #3361 closed, assigned to felder

[2022-04-21 21:58] balajialg commented on #3353
@yuvipanda Would love for you to give short updates going forward. I believe that it will be good for us to keep track of all the cool stuff you are building in one single place.

[2022-04-21 21:58] #3353 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-04-25 07:07] github-actions[bot] opened #3363 "Weekly Update - Monday, April 25th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-04-25 18:59] felder commented on #3363
**Updates from last week ✔**
- Worked with Balaji to identify the issue he was having with gsutil

[2022-04-25 19:35] yuvipanda commented on #3363
**Thanks I'd like to give 🙌**
- To @balajialg and @ericvd-ucb for the awesome work with the presentation

**Updates from last week ✔**
- https://blog.jupyter.org/securely-pushing-to-github-from-a-jupyterhub-3ee42dfdc54f?source=collection_home---6------1----------------------- now published, with a lot of improvements to the gh-scoped-creds workflow that @fperez is using on the stat159 hub

[2022-04-25 21:58] balajialg commented on #3363
Thanks, I'd like to give 🙌

- Thanks, @yuvipanda and @felder for being generous with your time in helping me download the logs data!
- Thanks @yuvipanda for jumping in impromptu to help us prepare a presentation about cloud costs

Updates from last week ✔

- Exploring trends from the shared logs to understand any new courses that need to get added to this [list](https://docs.google.com/document/u/

[2022-04-25 22:21] sean-morris commented on #3363
**Thanks I'd like to give 🙌**
- Thanks to @felder for configuring the DNS entries for the new grader.
- Thanks to @felder and @balajialg for inviting me to give these updates!

**Updates from last week ✔**
- I worked on a PR for otter grader. I spoke with Chris Pyles a month back about changing the containerized grading functionality to accept a single notebook and return the score. This should be

[2022-04-26 00:24] balajialg commented on #3074
@ryanlovett Not sure how I missed your comment! It makes sense. As a next step, I am trying to do the Siteimprove audit for [the new datahub](https://data.berkeley.edu/datahub) page and add recommendations for the black antelope team to work on.

[2022-04-26 00:27] balajialg commented on #3363
@sean-morris Thanks a lot for your update! This is really helpful.

[2022-04-26 17:32] balajialg commented on #3019
Our cloud costs for the last 12 months were closer to around ~$91,300. In order to figure out per hub costs, @yuvipanda ran this [query](https://console.cloud.google.com/bigquery?sq=639319454093:33a41a0f40da4e618fcec4622a0518ec) in GCP Big query explorer to calculate per hub cloud costs across the entire year last year (Taking inspiration from [this](https://medium.com/pangeo/pangeo-cloud-costs-pa

[2022-04-26 19:39] ryanlovett commented on #3019
Wow, thanks @balajialg ! Can you put your R program online somewhere for if/when this needs to be revisited?

[2022-04-26 19:59] balajialg commented on #3019
@ryanlovett Here is the [link.](https://notebooksharing.space/view/ae7129582059fc6a9eb7ded1ec5e089b79e39501b955d076821892dec84ab3b2#displayOptions=). Also, I referenced this in the above post.

[2022-04-26 21:50] #3363 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-04-26 21:51] ryanlovett commented on #3019
@balajialg Arg, sorry for missing that!

[2022-04-28 00:30] sarecrow opened #3366 "Request for files"
### Email Id

sarahcroyts@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/sarahcroyts.tar.gz

[2022-04-28 22:00] felder commented on #3366
Signed URL sent!

[2022-04-28 22:00] #3366 closed, assigned to felder

[2022-04-28 22:14] balajialg commented on #3220
@yuvipanda @felder Updated the next steps from our discussion in this Github issue!

[2022-05-02 07:07] github-actions[bot] opened #3367 "Weekly Update - Monday, May 2nd"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-05-02 17:06] #3367 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-05-02 23:21] yuvipanda commented on #2958
Based on the experience here, I'm just going to mark this as something that won't work for us.

[2022-05-02 23:21] #2958 closed, assigned to yuvipanda

[2022-05-04 17:22] balajialg commented on #3241
In prod - ![image](https://user-images.githubusercontent.com/2306166/166743989-f22a3b16-e591-41cc-94ea-98f6942016f9.png)

[2022-05-04 18:48] felder commented on #3241
@balajialg It looks different to me in staging.
![Screen Shot 2022-05-04 at 1 47 22 PM](https://user-images.githubusercontent.com/1211730/166804962-6ec3abe1-7c7a-40d7-828e-e20070ce5ba1.png)

[2022-05-04 18:50] felder commented on #3241
Although it now says Syncthing instead of SyncThing.

[2022-05-05 20:13] balajialg commented on #2946
@ryanlovett @ericvd-ucb FYI, End semester tasks that are scoped for this sprint!

[2022-05-05 21:50] ryanlovett commented on #2946
Thanks @balajialg !

[2022-05-06 06:35] tsuzuo opened #3373 "Data archival request"
### Email Id

susanpangsh@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/susanpangsh.tar.gz

[2022-05-06 15:40] felder commented on #3373
Signed URL sent!

[2022-05-06 15:40] #3373 closed, assigned to felder

[2022-05-06 15:47] felder commented on #3356
One solution to this issue that may not require any changes to filenames would be to use WSL and mount an ext4 filesystem.

https://docs.microsoft.com/en-us/windows/wsl/wsl2-mount-disk

[2022-05-07 00:46] ericvd-ucb opened #3375 "BUDS For Summer"
Hey there

I checked in with Deb Nolan who is faculty lead for the summer program - BUDS

Just like last summer we will have high school students who will have google authed achieve.org email addresses
That deb will get guest access for bcourses authentication

and the student lead is Ciara Acosta

@yuvipanda

[2022-05-07 00:56] balajialg opened #3376 "Generate storage reports of users across all hubs!"
# Summary

@felder reported data about the amount of storage that gets used across different hubs. He also generated reports for the varied number of users who used a lot of storage at a per hub level. We found that more than 10 users were storing more than 100 gigs of data which easily accumulates to greater than 1 TB of data. I have documented a [few scenarios](https://docs.google.com/document/d

[2022-05-07 07:50] shamin321 opened #3378 "Recover my old datahub files"
### Email Id

shamin321@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/shamin321.tar.gz

[2022-05-09 05:12] yuvipanda commented on #3376
https://rawgit.com/zevv/duc/master/doc/duc.1.html seems helpful for stuff like this

[2022-05-09 07:07] github-actions[bot] opened #3379 "Weekly Update - Monday, May 9th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-05-09 16:44] felder commented on #3378
The specified archive does not exist.

Looking at your datahub home directory, it does not appear to have been archived.  There are lots of files there, including some dating back to 2018.

What are you attempting to have retrieved?

[2022-05-09 22:10] sean-morris commented on #3379
**Thanks I'd like to give 🙌**
- Thanks to @felder for merging the PR on Data8xv2 and reminding me that I can test/deploy with hubploy -- perfect
- Thanks to Sarah for creating a copy of the 8.1x course so we can start testing new content and labs on the new hub

**Updates from last week ✔**
- Data8xv2 hub is integrated with the new gofer_service
- I am finishing up a PR with Chris Pyles that enabl

[2022-05-09 22:30] felder opened #3380 "Standardize hub storage directories on nfsserver-01"
# Summary

We have a few filesystems containing home directory information for the various hubs and currently the directory structure for these filesystems is not standardized.

We should standardize them as follows:

/export/filesystem/hub/prod|staging/userdirs

Examples for what I'd like to see:
datahub prod
/export/datahubhomes-2020-07-29/datahub/prod

datahub staging
/export/datahubhomes-2020-

[2022-05-09 22:41] felder commented on #3379
**Thanks I'd like to give 🙌**
@balajialg for all of his hardwork on the 2i2c partnership details which hopefully will allow us to have some additional operations coverage.

**Updates from last week ✔**
2i2c partnership meetings and brainstorming
Looking into doing some storage usage analysis

[2022-05-09 23:04] balajialg commented on #3379
**Thanks I'd like to give 🙌**
- Thanks @yuvipanda and @ericvd-ucb for all the support in setting up the 2i2c conversation last week
- Thanks @felder for taking your busy time out to help with fetching the storage data across hubs and also for providing thoughtful feedback for the ops plan for the 2i2c partnership
- Thanks @ryanlovett for making the intro to Andrew Bray to get his interview for the

[2022-05-10 01:05] ryanlovett commented on #3380
I love the notion of standardizing this! Just one observation which is that the format `/export/{hub}homes-{date}/{hub}/{branch}` duplicates `{hub}` in 3/4 of those instances.

[2022-05-10 05:51] shamin321 commented on #3378
I would like some of the files from my home directory. I can't access it now, so I can't quite name off specific files. I wouldn't mind having the whole home directory if possible.

[2022-05-10 06:06] yuvipanda commented on #3375
https://github.com/berkeley-dsep-infra/datahub/blob/303d7ec8eb87f625849f2d7715babbcd05e97b4a/deployments/highschool/config/common.yaml#L32 looks like we already allow logins from achieveteam.org emails to highschool.datahub.berkeley.edu. Is that enough, @ericvd-ucb?

[2022-05-10 15:40] felder commented on #3380
@ryanlovett I think that makes sense because generally the filesystems match the names of their persistent disks as labeled in gcp.  For disks that contain a single hub such as datahub, it makes sense for the labeling to reflect that.  If filesystems are going to contain multiple hubs, there will need to be subdirs for those hubs.  If a filesystem contains a single hub, there should still be a sub

[2022-05-10 15:44] felder commented on #3378
@shamin321 can you please explain your issue in more detail?  Why can you not access your files?  Are you no longer able to login to the hub because your calnet credentials no longer work?

Please do not derive links and ask for a restore.  The links are generated as part of the archival process, they are not arbitrary.  The link is meaningless if your files have not been archived.

[2022-05-11 01:56] balajialg commented on #3376
**Copy-pasting this for continuity here**

One thing I realized during my discussion with @felder is the perverse incentives created in the long run, by defining the storage limit as 100 gigs for every user. We may be allowing scope creep with our communication to the instructors that anything lesser than 100 GB would be a reasonable limit (yes, we can choose not to communicate this policy which i

[2022-05-11 17:52] petersudmant opened #3382 "Request NanoClust for Calgenomics on Biology hub"
### Package Name

https://github.com/genomicsITER/NanoCLUST

### Hub details

- Hub: Biology
- Language: Python+Nextflow

### Course Name

https://ib.berkeley.edu/cgsre

### Semester Details

now

### Installation Deadline

05/17/2022

[2022-05-11 23:12] yuvipanda commented on #3379
Thanks I'd like to give 🙌
- To @balajialg, @felder and @ericvd-ucb for working on the 2i2c partnership
- To @felder for working on the archiver
- To @balajialg for working on storage policy

[2022-05-12 00:04] #3379 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-05-12 00:35] balajialg commented on #3382
@petersudmant @felder will be on vacation during the next couple of days. Considering his nonavailability and the tight deadline for the installation, Will you be able to create a new PR to install this package (if in case you had added this package to the docker image prior?) Please let us know!

or else @yuvipanda Would you have some bandwidth to help with this package installation?

[2022-05-12 07:27] shamin321 commented on #3378
When I try to login to the datahub, I get a screen saying "Failed to Log In; Canvas doesn't have an account for user: 1507641" I think it might be because I graduated a while back. My calnet credentials still work for logging into my email though.

[2022-05-12 12:57] yuvipanda commented on #3382
@petersudmant I'm not entirely sure what needs to be installed here. Is it [nextflow](https://nf-co.re/usage/installation)? The linked GitHub repo seems to indicate that it might require docker access at runtime, which we don't have. It also suggests ~32-36GB of RAM requirement, which the biology hub doesn't have either.

#3383 adds java, and that should allow you to install nextflow (https://nf-c

[2022-05-12 13:41] petersudmant commented on #3382
bah - this seems like a no go. the package is this
https://github.com/genomicsITER/NanoCLUST - for which nextflow is required.
Shall we abandon ship?

On Thu, May 12, 2022 at 5:57 AM Yuvi Panda ***@***.***> wrote:

--
Peter Sudmant
Assistant Professor (he/him/his)
Department of Integrative Biology
University of California, Berkeley
510-664-4700

[2022-05-12 13:45] yuvipanda commented on #3382
@petersudmant yeah, I think docker is a no-go, and I'm not sure about 36GB of RAM - we can probably do that for a *really* short time for a really small subset of users, but a bit messy.

[2022-05-12 15:45] petersudmant commented on #3382
I’ll get the requestors to find an alternative option. Close out.

On Thu, May 12, 2022 at 6:45 AM Yuvi Panda ***@***.***> wrote:

--
Peter Sudmant
Assistant Professor (he/him/his)
Department of Integrative Biology
University of California, Berkeley
510-664-4700

[2022-05-12 18:08] #3382 closed, assigned to felder, balajialg

[2022-05-12 18:08] yuvipanda commented on #3382
Thanks @petersudmant!

[2022-05-13 02:43] sunithah-gh opened #3385 "Class2"
### Email Id

sunihara05@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/ischool.datahub.berkeley.edu/sunihara05.tar.gz

[2022-05-13 02:43] #3385 closed, assigned to felder

[2022-05-13 21:36] balajialg commented on #3382
@petersudmant If required can put the instructor in touch with peers at Research IT running Savio systems. Considering the large compute requirements, they may be able to help here. Amy Neeser (Amy Neeser <aneeser@berkeley.edu>) is their point of contact for any such inquiries.

[2022-05-15 06:08] abemhelilasin opened #3386 "Retrieving files from Fall 2020 Data 8"
### Email Id

amilasin@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/amilasin.tar.gz

[2022-05-15 06:16] abemhelilasin commented on #3386
Hello, I took Data 8 in Fall 2020 and wanted to look at my old files from the class recently. When I logged into jupyterhub, there was a WHERE-ARE-MY-FILES.txt that sent me here.

[2022-05-16 07:10] github-actions[bot] opened #3387 "Weekly Update - Monday, May 16th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-05-16 17:15] felder commented on #3385
@sunithah-gh Did you mean to close this?  Do you still want to retrieve the files?

[2022-05-16 17:19] felder commented on #3386
@abemhelilasin Signed URL sent.  Please reopen this if the files you're looking for are not there.

[2022-05-16 17:19] #3386 closed, assigned to felder

[2022-05-16 17:25] felder commented on #3378
@shamin321 ok, I know alumni get to keep their emails but I don't about bcourses access.  You're probably right.

We're going to be performing end of semester archiving very soon.  I suspect your directory will archived in this round.  Stay tuned and I'll be in touch via email with a signed URL you can use to download your files.

[2022-05-16 17:48] #3387 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-05-17 18:35] felder commented on #3378
@shamin321 signed URL sent!  Please reopen this if the files you're looking for are not there.

[2022-05-17 18:35] #3378 closed, assigned to felder

[2022-05-17 18:36] felder commented on #3378
gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/shamin321.tar.gz

[2022-05-17 19:00] felder commented on #3375
@yuvipanda @balajialg Do we need the data from the previous instance of the highschool hub?  Might make sense to clear out the old stuff before this year's program starts.

[2022-05-17 19:56] balajialg commented on #3375
@felder I am not sure about the specific details of this hub - disk space it occupies, students archival needs etc.. So, broadly I don't have enough context to respond to your question. Having said that, does it make sense to wait till we formulate our storage policy across all hubs and then define the plan for this hub based on that.

[2022-05-17 20:12] yuvipanda commented on #3375
We can leave this up to @ericvd-ucb to decide. I don't think it's a lot of data so I'm not too concerned.

[2022-05-17 21:31] shamin321 commented on #3378
Thank you!

[2022-05-19 08:19] yuvipanda opened #3389 "Move our archival storage bucket to 'archive' class"
Our storage archiver now moves home directories into this [GCS bucket](https://console.cloud.google.com/storage/browser/ucb-datahub-archived-homedirs;tab=configuration?forceOnBucketsSortingFiltering=false&project=ucb-datahub-2018&prefix=&forceOnObjectsSortingFiltering=false).

It's currently set to 'standard' storage class, but that offers us a level of performance that we just do not need. These

[2022-05-20 17:19] balajialg commented on #3389
@yuvipanda Looks like a good optimization from a cost perspective and I am in! Thanks for thinking about this :)

@felder Should chime in with his verdict here as this affects his day-to-day to a certain extent!

[2022-05-20 17:21] felder commented on #3389
@yuvipanda like a good idea.  How about I setup a lifecycle rule to transition all objects in the bucket to the archive storage class after 30 days?  That way if necessary I have a window to remove them before we end up with a 365 day commitment.

[2022-05-20 18:48] boriskorablev opened #3392 "data retrieval request"
### Email Id

boris.korablev@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/boris-2ekorablev.tar.gz

[2022-05-20 19:11] felder commented on #3392
Signed URL sent!

[2022-05-20 19:11] #3392 closed, assigned to felder

[2022-05-21 14:31] yuvipanda commented on #3389
@felder great idea! Lmk if I can help :)

[2022-05-23 07:09] github-actions[bot] opened #3395 "Weekly Update - Monday, May 23rd"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-05-23 15:09] balajialg commented on #3241
Issue fixed. Thanks @yuvipanda!
![image](https://user-images.githubusercontent.com/2306166/169850421-4812eeed-7685-4c21-a199-e9de940c7705.png)

[2022-05-23 15:09] #3241 closed, assigned to balajialg

[2022-05-23 16:18] balajialg commented on #3376
@felder already collects the storage data across multiple hubs and visualizes them using **duc command** in the NFS server.  Should create a process around doing a monthly review of this report :)

Closing this issue considering the progress made :)

[2022-05-23 16:18] #3376 closed, assigned to balajialg

[2022-05-23 17:09] ericvd-ucb commented on #3375
I think it would be fine to delete old users if easy to do so. But as yuvi says probably not a lot of memory.  The new lead for this year is Ciara Acosta

[2022-05-23 23:32] balajialg commented on #3395
**Thanks I'd like to give 🙌**
- Thanks @yuvipanda for sharing logs-related data and for fixing the naive git issue I created
- Thanks @felder for all your awesome work visualizing storage data
- Thanks @ryanlovett for reviewing the May newsletter

**Updates from last week ✔**
- Published the [May edition of the Datahub monthly newsletter](https://ucberkeleydatahub.substack.com/p/may-edition-of-ber

[2022-05-24 00:20] sean-morris commented on #3395
**Thanks I'd like to give 🙌**
- Thanks to @ericvd-ucb for helping to set up the meeting with Raymond Wang -- I am psyched to set up the infrastucture to generate the notebook configurations for 8x
- Thanks to Eric Fraser for his feedback and encouragement in our quarterly progress report
- Thanks to @chrispyles for working with me on the otter-grader PR. The work cleans up a bunch of pieces on the

[2022-05-24 05:45] enze-chen opened #3397 "Request more RAM for UCB/LBL summer research projects"
Hello Datahub team!

**Which hub do you want more RAM on?**

Datahub (staging), please!

**Which class is this request for?**

This is _not_ an official UCB class, but rather a summer research internship through LBL/UCB that uses Jupyter Book to teach materials informatics (materials science + data science).
The Book (work in progress) will eventually be hosted here: https://enze-chen.github.io/mi

[2022-05-24 07:15] yuvipanda commented on #3397
This should be doable, although you should just use the regular datahub - not the staging hub (that is strictly meant for testing, and can break at any time).

My suggestion is we use the explicit list of usernames, and set an end-date for this special casing to be removed. How does that sound?

[2022-05-24 10:59] yuvipanda commented on #3395
**Thanks I'd like to give 🙌**
- To @felder for running the archival process
- To @ericvd-ucb and @balajialg for working with @felder on investigating more of our storage situation
- To Richard from RTL for helping push more on the 2i2c partnership

**Updates from last week ✔**
- I upgraded whatever packages needed upgrading and downsized the NFS server now that archiving process is complete
- I ma

[2022-05-24 13:36] enze-chen commented on #3397
Thank you for this advice. We used staging last year because we had to install two more packages, `pymatgen` and `matminer`, but I just checked and these two packages are on the regular Datahub now! Which makes sense based on what you said. Thanks a lot. 🙇🏼‍♂️

This sounds perfect! When the time comes, who should I contact to send the information to?

[2022-05-24 18:44] balajialg commented on #3397
@enze-chen Thanks for the detailed inputs! You can either add the calnet id (without @berkeley.edu) of all students/instructors who would require additional RAM as part of this GitHub issue or send an email to balajialwar@berkeley.edu/felder@berkeley.edu providing their email ids if you are hesitant about adding their details here. Let me know if you need more input. Thanks!

[2022-05-24 19:07] felder commented on #3395
**Thanks I'd like to give 🙌**
- @yuvipanda for resizing the NFS server during the "night shift"

**Updates from last week ✔**
- Completed spring archiving and found a reasonable solution for getting a good overview of storage.

[2022-05-24 22:34] balajialg commented on #3395
Thanks all! @sean-morris - @yuvipanda had some suggestions in the slack (incase if you had missed it)

[2022-05-24 22:34] #3395 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-05-24 23:08] carsonlagro opened #3398 "Data 8 file recovery"
### Email Id

Carson.lagro@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/carson-2elagro.tar.gz

[2022-05-25 01:29] felder commented on #3398
Signed URL sent!

[2022-05-25 01:29] #3398 closed, assigned to felder

[2022-05-25 03:46] cliffxliu opened #3399 "Requesting copy of files"
### Email Id

cliffliu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/cliffliu.tar.gz

[2022-05-25 03:46] cliffxliu opened #3400 "Requesting copy of files"
### Email Id

cliffliu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/cliffliu.tar.gz

[2022-05-25 03:46] cliffxliu opened #3401 "Requesting copy of files"
### Email Id

cliffliu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/cliffliu.tar.gz

[2022-05-25 05:08] cliffxliu opened #3402 "Requesting copy of files"
### Email Id

cliffliu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/cliffliu.tar.gz

[2022-05-25 15:17] enze-chen commented on #3397
Hello Balaji,
Thanks for the clarification. Here are the CalNet IDs for the five students and two instructors:
- `ana303`
- `luismflores99`
- `slamorte`
- `jessemed023`
- `asimonova`
- `chenze`
- `mdasta`

Please let me know if there's anything else I can do to assist! Note that per Yuvi's suggestion we will be using the regular DataHub, not staging.

[2022-05-25 15:25] #3400 closed, assigned to felder

[2022-05-25 15:25] #3401 closed, assigned to felder

[2022-05-25 15:25] #3402 closed, assigned to felder

[2022-05-25 15:49] balajialg commented on #3397
@enze-chen Sounds great! Thank you :)

[2022-05-25 21:27] felder commented on #3399
Signed URL sent!

[2022-05-25 21:27] #3399 closed, assigned to felder

[2022-05-25 21:35] felder commented on #3397
@enze-chen what's a good end date for this extra allocation?

[2022-05-25 22:11] enze-chen commented on #3397
@felder ack, thanks for checking! We only need it for **three weeks, so until June 25th**.

[2022-05-25 22:45] balajialg opened #3403 "Upgrade Ottr to the latest version 1.1.4 in Public Health Hub and Datahub"
### Package Name

Ottr

### Hub details

- Hub: Public Health
- Language: R

### Course Name

Mainly PH 142 uses Ottr in the Public Health Hub!
Poli Sci 3 in Datahub

### Semester Details

Fall 2022

### Installation Deadline

Prior to the start of the Fall semester!

[2022-05-25 22:52] felder commented on #3403
@balajialg what about datahub?  It is running version 1.1.1

[2022-05-25 23:58] felder commented on #3397
@enze-chen ok the new allocations are live.  If you had a server running before I made the changes, you'll need to restart it.  Please reopen if you find that someone doesn't have 4GB available.

[2022-05-25 23:58] #3397 closed, assigned to felder, balajialg

[2022-05-26 00:11] balajialg commented on #3403
@felder That's a good question. Maybe do the ottr upgrade for public health now and backlog datahub upgrade till we gain clarity?

@chrispyles Should instructors who use version 1.1.1 in R hub rewrite their test cases when we upgrade ottr version to 1.1.4 or both the versions are compatible? This will guide our decision on whether to reach out to concerned instructors and check the feasibility of

[2022-05-26 03:08] theaymansta opened #3406 "Data Archival Request"
### Email Id

aymanazizuddin@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/data100/aymanazizuddin.tar.gz

[2022-05-26 07:14] yuvipanda commented on #3397
Thanks a lot for handling this, @felder!

[2022-05-26 19:36] felder commented on #3403
Ottr 1.1.4 on cran:

https://cran.r-project.org/web/packages/ottr/index.html

[2022-05-26 21:02] felder commented on #3403
ottr 1.1.4 loads in staging.

[2022-05-26 21:14] felder commented on #3403
@cdbeon @corinne-riddell

Deployed to prod.

Please test at your convenience!

[2022-05-26 23:22] nanditarad opened #3410 "old data hub files"
### Email Id

nanditarad@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/nanditarad.tar.gz

[2022-05-27 11:21] albert-tran-100 opened #3411 "PH 142 File Retrieval"
### Email Id

albert.tran.100@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/ischool.datahub.berkeley.edu/albert-2etran-2e100.tar.gz

[2022-05-27 17:29] mon203 opened #3412 "Request to retrieve archived data"
### Email Id

mon.young@berkeley.edu or mon@ischool.berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/2022-1-spring/ischool.datahub.berkeley.edu/mon-2eyoung.tar.gz

[2022-05-27 21:25] chrispyles commented on #3403
@balajialg tests for ottr 1.1.1 and 1.1.4 should be the in the same format. the format only changed between v0 and v1

[2022-05-27 21:43] balajialg commented on #3403
awesome! Thanks, @chrispyles.

@felder Given Chris's suggestion, can we upgrade Ottr to the latest version in Datahub?

[2022-05-27 22:37] felder commented on #3403
@balajialg sure!  I'll do it next week.

[2022-05-27 23:16] felder commented on #3406
Signed URL sent!

[2022-05-27 23:16] #3406 closed, assigned to felder

[2022-05-27 23:17] felder commented on #3410
Signed URL sent!

[2022-05-27 23:17] #3410 closed, assigned to felder

[2022-05-27 23:18] felder commented on #3411
Signed URL sent!

[2022-05-27 23:18] #3411 closed, assigned to felder

[2022-05-27 23:20] felder commented on #3412
Signed URL sent!

[2022-05-27 23:20] #3412 closed, assigned to felder

[2022-05-28 18:13] hanansuk opened #3413 "Data Archival Request"
### Email Id

hanans@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/hanans.tar.gz

[2022-05-29 19:21] enze-chen opened #3414 "Possible reinstall of an existing package on DataHub"
### Package Name

Pymatgen

### Hub details

- Hub: DataHub
- Language: Python

### Course Name

Summer research internship mentored by Enze Chen (PhD student) and MSE Prof. Mark Asta.
The Jupyter Book we're using is this one: https://enze-chen.github.io/mi-book-2022

### Semester Details

Summer 2022

### Installation Deadline

We're running from June 7th to June 24th. Sincere apologies for the l

[2022-05-29 21:35] phsieh0112 opened #3415 "Need to retrieve data files"
### Email Id

hps1078@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/hps1078.tar.gz

[2022-05-30 07:10] github-actions[bot] opened #3416 "Weekly Update - Monday, May 30th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-05-31 12:55] yuvipanda opened #3418 "Upgrade to z2jh 2.0"
A new release of z2jh is coming soon, and we should start the upgrade process early to shake out bugs.

[2022-05-31 12:59] yuvipanda commented on #3418
The pod definition no longer sets `args` on the container. So before the upgrade, pod definitions had this:

[code]

After, they don't. So pod startups error out with the following message:

[code]

[2022-05-31 13:26] yuvipanda commented on #3418
This is mostly thanks to https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/2449.

Setting this in values.yaml fixes this:

[code]

However, this doesn't seem to respect the default url - we start in lab, not retro.

[2022-05-31 13:31] yuvipanda commented on #3418
And I see that the default env var is in fact set:

[code]

so not sure why that isn't working.

[2022-05-31 15:08] yuvipanda commented on #3418
@minrk helped debug this, possibly fixed in https://github.com/jupyterhub/jupyterhub/pull/3918

[2022-05-31 17:56] yuvipanda commented on #3418
All service tokens (which we use to get our hubs to auth with the central datahub) now need to be prefixed with `service-` as well

[2022-05-31 18:28] DanielFrise opened #3422 "Request for Course Files"
### Email Id

danfrise18@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/danfrise18.tar.gz

[2022-05-31 19:22] felder commented on #3415
Signed URL sent!

[2022-05-31 19:22] #3415 closed, assigned to felder

[2022-05-31 19:24] felder commented on #3413
Signed URL sent!

[2022-05-31 19:24] #3413 closed, assigned to felder

[2022-05-31 19:25] felder commented on #3422
Signed URL sent!

[2022-05-31 19:25] #3422 closed, assigned to felder

[2022-05-31 20:11] felder commented on #3414
pymatgen is currently installed via pip and numpy is installed via conda.

The way to fix this is probably to have conda install pymatgen.  Current versions listed for conda-forge are:

pymatgen=2022.5.26
matminer=0.7.8

I'm seeing if conda will install 2022.0.11 and 0.7.4 to match the existing versions in requirements.txt

[2022-05-31 21:31] felder opened #3423 "Transfer student archives from ds-instr SPA on google drive to GCS"
There are number of student archives from several years ago that are on google drive.  We should copy those over to GCS.

[2022-05-31 22:07] felder commented on #3423
rclone should be able to do this I think

[2022-05-31 22:36] dannyticknor opened #3425 "Data Retrieval Request"
### Email Id

dannyticknor@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-06-01 00:36] enze-chen commented on #3414
Hi @felder , I apologize for the late reply but yes, I think those more recent versions will also be OK! Thanks for looking into this.

[2022-06-01 12:09] minrk commented on #3418
I'm not sure if it's a terminology issue, but this restriction [only applies to _oauth client ids_](https://github.com/jupyterhub/jupyterhub/blob/2.3.0/jupyterhub/services/service.py#L311-L318), which aren't typically picked by hand. Not tokens themselves, which can be any (long enough) string. The default values are unchanged (`service-$serviceName`), but now this pattern is enforced. I don't thi

[2022-06-01 12:53] yuvipanda commented on #3418
Next up - control panel is missing in classic notebook interface :( Exists in lab and retro tho.

[2022-06-01 13:21] yuvipanda commented on #3418
With some testing, setting `      JUPYTERHUB_SINGLEUSER_APP: "notebook.notebookapp.NotebookApp"` fixes the Control Panel issue by just ignoring jupyter_server. Let's try that out for now, but this should be fixed upstream.

[2022-06-01 17:32] yuvipanda commented on #3418
I think the control panel issue is fixed in https://github.com/jupyterhub/jupyterhub/pull/3919

[2022-06-01 17:44] yuvipanda commented on #3414
@enze-chen this works fine now.

Thanks for making it happen, @felder!

[2022-06-01 17:44] #3414 closed, assigned to felder, balajialg

[2022-06-01 18:17] felder commented on #3425
@dannyticknor I need the link from the file that was dropped in your home directory (the one that probably lead you here).

[2022-06-01 18:25] dannyticknor commented on #3425
@felder  I think you're looking for this one.
gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/dannyticknor.tar.gz

Here are the other links though.
https://datahub.berkeley.edu/user/dannyticknor/tree/
https://datahub.berkeley.edu/user/dannyticknor/edit/WHERE-ARE-MY-FILES.txt

[2022-06-01 19:19] felder commented on #3425
@dannyticknor yep that first one is what I need.

Signed URL sent!

[2022-06-01 19:19] #3425 closed, assigned to felder

[2022-06-01 23:34] felder commented on #3423
Transfer of these files has been done.

[2022-06-01 23:34] #3423 closed, assigned to felder

[2022-06-01 23:35] felder commented on #3403
Done!

[2022-06-01 23:35] #3403 closed, assigned to felder, balajialg

[2022-06-02 13:01] yuvipanda commented on #3418
LTIAuthenticator's config needed to change from:

[code]

to

[code]

[2022-06-02 16:42] yuvipanda commented on #3418
Discovered that by default users can no longer access any services unless they are admin, so access to hubs using the primary hub as auth was broken for non-admin users.

Fixed with:

[code]

[2022-06-02 20:02] ericvd-ucb opened #3436 "Workshop Prep!"
*Ramp up for National Workshop*

- [ ] Workshop hub - datahub. berkeley  - what is login / edu only?
- [ ] Jupyterlite - what does it take to luanch data 8 in jupyerlite
- [ ] othter things to demo - syncthing?  Rtc?  read write? shiny?

Events are

1. Monday 1hr on tech explanations - Eric and Balaji leads?
2. Tuesday 1hr on tech overview + innovations, whats new- Yuvi , Pyles
3. Thursday - panel

[2022-06-02 20:27] ryanlovett commented on #3248
@yuvipanda @felder re: disambiguating hubs, custom logos, etc.

[2022-06-03 01:03] dezhengzhao1 opened #3437 "File Archival Request"
### Email Id

dezhengzhao1@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/dezhengzhao1.tar.gz

[2022-06-03 01:38] mukhivikram opened #3438 "Need data that was archived I am enrolled in w241"
### Email Id

vikram_mukhi@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/vikram-5fmukhi.tar.gz

[2022-06-03 06:09] haydenhau opened #3439 "Data Retrieval Request"
### Email Id

haydenhau@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/haydenhau.tar.gz

[2022-06-03 20:48] sorshoj opened #3442 "Data Request"
### Email Id

ssho@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/ssho.tar.gz

[2022-06-03 23:12] felder commented on #3437
Signed URL sent!

[2022-06-03 23:12] #3437 closed, assigned to felder

[2022-06-03 23:14] felder commented on #3438
Signed URL sent!

[2022-06-03 23:14] #3438 closed, assigned to felder

[2022-06-03 23:16] felder commented on #3439
Signed URL sent!

[2022-06-03 23:16] #3439 closed, assigned to felder

[2022-06-03 23:17] felder commented on #3442
Signed URL sent!

[2022-06-03 23:17] #3442 closed, assigned to felder

[2022-06-05 00:13] #3416 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-06-05 04:26] fan005 opened #3443 "Request Prob 140 Spring 2020 files"
### Email Id

lz0417

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2020/prob140/lz0417.tar.gz

[2022-06-05 16:37] yuvipanda commented on #3436
@felder can you just wipe everything in the workshop home directory? And unify prod / staging if needed?

[2022-06-06 07:07] github-actions[bot] opened #3444 "Weekly Update - Monday, June 6th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-06-06 19:16] felder commented on #3389
Did a quick test to make sure signed urls could be created and fetched if an object was in archive storage class.

They can be.

Setup a bucket lifecycle rule to transition all objects over 30 days old to the archive storage class.

[2022-06-06 19:16] #3389 closed, assigned to felder

[2022-06-06 19:31] felder commented on #3443
Please do not attempt to construct archived file locations.

Instead use the location placed in your account:

[code]

[2022-06-06 19:32] felder commented on #3443
Email ID is: lz0417@berkeley.edu

[2022-06-06 19:33] felder commented on #3443
Signed URL sent!

[2022-06-06 19:36] balajialg commented on #3436
@yuvipanda Would it make sense to do a short demo to launch data 8 in Jupyter lite? I know you fixed this issue  https://github.com/data-8/datascience/issues/522 sometime back and highlighted that all the blockers to launch data 8 in Jupyterlite are taken care of.

@ericvd-ucb I am not sure whether it makes sense to highlight RTC in its current form (unless there are updates I am not aware).

I pe

[2022-06-06 20:38] felder commented on #3436
@yuvipanda done!

[2022-06-06 21:00] felder commented on #3444
I don't have any major updates.

[2022-06-06 22:20] sean-morris commented on #3444
**Thanks I'd like to give 🙌**
- Thanks to @yuvipanda and the folks at 2i2c for helping set up the CiLogin on a new hub for fresno city college.
- Thanks to @yuvipanda for steering me away from the NFS and object storage
**Updates from last week ✔**
- Onboarded Fresno City College
- Researched use of Object Storage for new Data 8x hub -- will move us out of NFS
- School is out for the summer!

[2022-06-06 23:30] balajialg commented on #3444
**Thanks, I'd like to give 🙌**
- Thanks @yuvipanda for filling me with important updates from last week's sprint planning meeting
- Thanks all for having a productive discussion during the sprint planning meeting without me

**Updates from last week ✔**
- Iterating on the 2i2c proposal in conversation with Eric and 2i2c foks
- Developed a one-pager that articulates our strategy for accessibility a

[2022-06-07 05:36] amyhyolee opened #3449 "Retrieve my old Datahub files"

[2022-06-07 05:45] sakshi-shrivastava opened #3450 "Want to access my DATA 100 Fall 2021 files"
### Email Id

sakshi.shrivastava@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/sakshi-2eshrivastava.tar.gz

[2022-06-07 16:39] MatthewDworkin opened #3451 "Data Archival Request 6/7/22"
### Email Id

matthew.dworkin@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/matthew-2edworkin.tar.gz

[2022-06-07 17:07] felder commented on #3449
@amyhyolee I need the link to the archived file that should have been in the same notice that lead you here.

[2022-06-07 17:08] felder commented on #3450
Signed URL sent!

[2022-06-07 17:08] #3450 closed, assigned to felder

[2022-06-07 17:10] felder commented on #3451
Signed URL sent!

[2022-06-07 17:10] #3451 closed, assigned to felder

[2022-06-07 19:43] balajialg commented on #3418
@yuvipanda @felder @ryanlovett What is the significance of making this upgrade? Do we have any release notes for the same?

[2022-06-07 21:00] ryanlovett commented on #3418
@balajialg We typically try to stay close to upstream's latest (and at times we've used prereleased) since it will have more bug fixes and features. @minrk wrote a blog post about JH 2.0 at https://blog.jupyter.org/jupyterhub-2-0-7a038715e96d.

[2022-06-07 22:35] balajialg commented on #3418
Thanks, @ryanlovett! Helpful :)

[2022-06-08 11:33] yuvipanda commented on #3418
@balajialg I think the primary user facing change would be a redesigned admin interface. Check it out!

[2022-06-08 18:19] balajialg commented on #3418
@yuvipanda Sounds good. Just reviewed the UI changes. Looks like, the changes are not that drastic enough that it require an update in our existing documentation - https://ds-modules.github.io/curriculum-guide/faq/admin.html?highlight=admin. Correct me if I am wrong.

[2022-06-09 05:27] yohany99 opened #3452 "Retrieve Files"
### Email Id

yohany99@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-06-09 05:28] yohany99 commented on #3452
gs://ucb-datahub-archived-homedirs/2022-1-spring/data100/yohany99.tar.gz

[2022-06-09 22:13] fan005 commented on #3443
Hi there! I actually have no data in Prob 140 Spring 2020 but I do in Prob 140 Spring 2020. I tried to have an archive for all my courses since I graduate. Is it too late to request a data retrieval since it has been two years?

[2022-06-09 23:07] felder commented on #3443
@fan005

_I actually have no data in Prob 140 Spring 2020 but I do in Prob 140 Spring 2020_

Can you rephrase this please?

[2022-06-09 23:09] felder commented on #3452
Signed URL sent!

[2022-06-09 23:09] #3452 closed, assigned to felder

[2022-06-10 00:09] balajialg commented on #3444
@yuvipanda Would appreciate your updates!

[2022-06-10 00:09] #3444 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-06-10 01:06] fan005 commented on #3443
Sincere apology. I meant to say I have no data in Spring 2022, but I have data in Spring 2020. The link you sent me seems to be the one for Spring 2022.

[2022-06-10 15:09] sammieboy26 opened #3453 "Retrieve old Datahub files"
### Email Id

samuel_holland@berkeley.edu

Please allow me to have access to all the files I had in the archive. All of my notes on R/Rstudio are contained in those archived folders. Thank you.

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/samuel-5fholland.tar.gz

[2022-06-10 17:08] felder commented on #3443
@fan005 Did you download and extract the archive to see if your files were there?

[2022-06-10 17:41] felder commented on #3453
Signed URL sent!

[2022-06-10 17:45] sammieboy26 commented on #3453
Hi, I have never done this before. What do I do with the signed link? It is opening up winrar, and I do not know what to do from there. Thanks.
-Sam

[2022-06-10 18:05] felder commented on #3453
The file in question is a tar archive that is compressed with gzip.  You'll want to download the file to your personal computer and extract it.

If your computer is a Mac, the functionality should be built in and you should be able to just double click it.  If your computer is a PC, you'll probably need a 3rd party tool to open it.  I'd recommend 7-zip for that.  It's free and it'll open just abou

[2022-06-10 18:05] #3453 closed, assigned to felder

[2022-06-10 18:38] fan005 commented on #3443
Hi there! I unzip the downloaded tar file and get a 400Mb file (the file type is simply File). But I'm not sure what I can do with it...

[2022-06-10 19:42] felder commented on #3443
The file in question is a tar archive that is compressed with gzip.  You'll want to download the file to your personal computer and extract it.

If your computer is a Mac, the functionality should be built in and you should be able to just double click it.  If your computer is a PC, you'll probably need a 3rd party tool to open it.  I'd recommend 7-zip for that.  It's free and it'll open just abou

[2022-06-10 21:10] fan005 commented on #3443
Hi there. I have already used 7zip to unzip the tar file and ended up getting a single large file that is in file type File...

[2022-06-10 22:06] balajialg opened #3454 "Course specific profiles for non nbgitpuller courses!"
# Summary

We know that there are few courses like [Stat 131A](https://classes.berkeley.edu/content/2022-fall-stat-c131a-001-lec-001) that use Datahub without using nbgitpuller links. Students log in directly to the hub to access their coursework. @ryanlovett had an interesting observation that we can explore creating login profiles for non-nbgitpuller courses. Just like how nbgitpuller provides c

[2022-06-10 22:08] balajialg commented on #3454
@ryanlovett Please feel free to add more context to this GitHub issue (wherever necessary)!

[2022-06-11 00:25] felder commented on #3443
@fan005 add .tar to end of the large file and open that in 7zip.

Basically it is archived and then compressed, you need to decompress it and then extract the contents of the archive.

[2022-06-11 19:23] fan005 commented on #3443
Now it works! Thank you!

On Fri, Jun 10, 2022 at 5:25 PM felder ***@***.***> wrote:

[2022-06-13 07:06] github-actions[bot] opened #3455 "Weekly Update - Monday, June 13th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-06-13 11:13] vastava opened #3457 "Retrieve my old files"
### Email Id

ashrivastava@berkeley.edu

### Link to Datahub Folder

https://datahub.berkeley.edu/user/ashrivastava/notebooks/

[2022-06-13 14:13] #3455 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-06-13 17:31] felder commented on #3443
Ok, good!

[2022-06-13 17:31] #3443 closed, assigned to felder

[2022-06-13 17:32] felder commented on #3457
@vastava

The link I need should be in a text file in your directory when you login to datahub.

The link begins with gs://

[2022-06-13 17:34] #3449 closed, assigned to felder

[2022-06-13 18:52] vastava commented on #3457
I'm no longer able to log into my account since I graduated in May 2021. Is it not possible to recover these files? @felder

[2022-06-13 19:13] ezzhao opened #3458 "Retrieve my old Datahub files"
### Email Id

ezzhao@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/ezzhao.tar.gz

[2022-06-13 20:15] felder commented on #3457
I currently have two archives for you:

gs://ucb-datahub-archived-homedirs/2018-1-spring-data100/ashrivastava.tar.gz
gs://ucb-datahub-archived-homedirs/2018-1-spring/ashrivastava.tar.gz

I'll send you signed URLs to both.

[2022-06-13 20:16] felder commented on #3457
Signed URLs sent!

[2022-06-13 20:16] #3457 closed, assigned to felder

[2022-06-13 20:18] felder commented on #3458
Signed URL sent!

[2022-06-13 20:18] #3458 closed, assigned to felder

[2022-06-13 23:21] ryanlovett commented on #3454
@balajialg I've prepared a code fragment that will cause the hub to emit the Canvas SIS course IDs:
[code]

This line would be visible in the logs explorer using something like:
[code]

The `CRS` entries are courses while the PRJ entries are non-instructional bCourse projects. Most students would probably only have CRS entries, and only for the courses they're currently enrolled in. My courses are

[2022-06-14 00:59] balajialg commented on #3454
@ryanlovett This looks like a great idea! I will definitely play around with the log data during the summer term. Based on this exploration, we can decide whether to continue or revert this for the fall term.  Can you please merge this PR when you have time?

[2022-06-14 06:23] yuzhoumo opened #3460 "Data Request"
### Email Id

joe.mo@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/joe-2emo.tar.gz

[2022-06-14 20:06] yuvipanda commented on #3454
Would these have different environments?

[2022-06-14 20:47] felder commented on #3460
Signed URL sent!

[2022-06-14 20:47] #3460 closed, assigned to felder

[2022-06-17 01:15] chrispyles commented on #3436
Is the plan for the workshop to use Jupyterlite or a normal JupyterHub? If the former then let me know so I can push a beta release of Otter v4 beforehand so that a compatible version can be installed via micropip.

[2022-06-17 03:11] ericvd-ucb commented on #3436
Plan is to use Jupyterhub for workshop demos

But we would like to demo Jupyterlite separately - but not necessarily needed to get otter working for that

Eric

[2022-06-17 20:30] rbarreto opened #3463 "Request more RAM for workshop Data Science + Social Justice"
**Which hub do you want more RAM on?**

For example: datahub, r hub, eecs hub, etc

DataHub

**Which class is this request for?**

You **must** include a link to your class for the correct semester in https://classes.berkeley.edu.

This is the workshop: https://grad.berkeley.edu/graduate-diversity/current-grad-students/data-science-social-justice-workshop/

**How many students do you expect in thi

[2022-06-17 20:37] aculich commented on #3463
Hi @balajialg this is a joint D-Lab / Graduate Division workshop, so let me know how you want to configure it, whether we should use datahub.berkeley.edu or dlab.datahub.berkeley.edu ?

[2022-06-17 23:41] balajialg commented on #3463
@rbarreto Thanks for raising the request! Based on our [RAM/CPU allocation policy](https://github.com/berkeley-dsep-infra/datahub/issues/2785#issuecomment-924935677), this should be good to go from our end.
@aculich IMHO, Using dlab.datahub.berkeley.edu seems like a better option as it is contextualized to your needs. There are a couple of options that can be pursued here,

1. Increase the RAM to

[2022-06-20 07:07] github-actions[bot] opened #3464 "Weekly Update - Monday, June 20th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-06-20 16:15] sean-morris commented on #3464
**Thanks I'd like to give 🙌**
- Thanks to @felder for helping me talk through my proxy problems ... fixed!
- Thanks to Josh Hug and Isaac Merrit for their work creating Snap!-based DS materials for high school classes. It was a great post-trial meeting.

**Updates from last week ✔**
- otter-service(formerly gofer-service) is deploying nicely. I am working out a couple of issues as we start to inte

[2022-06-21 17:31] aculich commented on #3463
@balajialg thanks! We'd like to make sure we can finalize this request fully early this week so we can test soon.

@felder @balajialg I agree that we should probably start moving to dlab.datahub.berkeley.edu as our primary environment for our workshops. How do we make sure that:

 1) we first get our image to be sync'd with the standard datahub image?
 2) then make a request for additional package

[2022-06-21 18:28] felder commented on #3463
@aculich dlab already uses datahub's image.

https://github.com/berkeley-dsep-infra/datahub/blob/91e02a1a37141dbfba309757cb830ef480c3dceb/deployments/dlab/hubploy.yaml#L4

New package requests should be ticketed using https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=felder%2Cbalajialg&labels=package-request&template=package_request.yml&title=Request+python+package+X+for+class+Y

[2022-06-21 19:39] balajialg commented on #3463
@rbarreto @aculich Looping back to my earlier comment regarding the increase in RAM - https://github.com/berkeley-dsep-infra/datahub/issues/3463#issuecomment-1159305322. Do you foresee instructors/students using the D-Lab hub during the summer who are not affiliated with this course AND do not need the 8 GB RAM increase? This input will guide our implementation decision with regards to increasing

[2022-06-21 19:43] rbarreto commented on #3463
That's a good question! I think Aaron @aculich may have more background to provide there. This is a new, longer, and more in depth workshop relative to other workshops in the past, so at min we'd need the 8 GB RAM increase for the students in the course. I'll leave it up to Aaron to decide if the increase is needed for all users taking workshops at the D-Lab

[2022-06-21 22:43] felder commented on #3464
I have no updates to add for this week.

[2022-06-21 23:45] balajialg commented on #3463
That sounds good @rbarreto! Please do note - We might need all the enrolled students' Calnet IDs if we decide (based on @aculich's recommendation) to not upgrade RAM for all users in the hub. @aculich - Please advise on the way forward.

[2022-06-22 00:15] balajialg commented on #3464
@felder You can also include updates from the previous two weeks.

Thanks, I'd like to give 🙌
- Thanks @fperez and the Datahub team for an engaging discussion last week which gave clarity about some of the priorities to improve the Stat 159 hub.
- Thanks @ryanlovett for documenting logs from bcourses data!

Updates from last week ✔
- Currently, Preparing presentations about a) Data 8 using Datahub

[2022-06-23 00:32] balajialg commented on #3463
@rbarreto Just to avoid any further delay at our end and provide you with ample time to test the notebooks, Is it possible to share the calnet id/email id of all the students who enrolled in your course? You can share it via email for privacy reasons.

[2022-06-23 01:07] rbarreto commented on #3463
Hi - thanks for following up. I actually don't have the calnet id / email id of all of the students in the course, but I can check in with Kara and Aaron and get back to you by tomorrow morning.

[2022-06-23 01:10] yuvipanda commented on #3463
@balajialg let's just give everyone on the dlab hub 8G of RAM, and if it becomes too much we can re-evaluate and restrict that somehow. Otherwise I think it gets too cumbersome for us all.

[2022-06-23 16:03] Anastasia-Sim opened #3471 "Retrieve my old Datahub files"
### Email Id

asimonova@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/asimonova.tar.gz

[2022-06-23 17:45] aculich commented on #3463
@yuvipanda @balajialg @rbarreto just sent you email with the names and email addresses of students and instructors/helpers who will need increased limits for: D-Lab's Data Science for Social Justice Workshop, July 5 - August 16, 2022.

However, I prefer @yuvipanda 's approach for now which is to enable it for everyone on the D-Lab datahub, because anyone (grad or undergrad student) may run the not

[2022-06-23 17:46] felder commented on #3471
Signed URL sent!

[2022-06-23 17:46] #3471 closed, assigned to felder

[2022-06-23 18:02] felder commented on #3463
@aculich I would think such an approach would be difficult because resources are allocated when the pod is created.  By the time the pod loads a notebook, it's too late.  Additionally there would be no guarantee the node the pod was running on could provide the additional resources requested.  I imagine a scenario where a pod could ask for a memory upgrade (not even sure if it's possible to modify

[2022-06-23 20:12] emilygrabowski opened #3472 "Request python package sklearn for Data Science + Social Justice workshop"
### Package Name

sklearn

### Hub details

- Hub: dlab.datahub
- Language: Python
- The notebooks we are using include functions and attributes that require a more recent sklearn version (1.0.2)

### Course Name

Data Science + Social Justice Workshop (D-Lab/ Grad Div)

### Semester Details

Summer 2022

### Installation Deadline

Preferably before the start of the course on 7/5/22

[2022-06-23 20:18] emilygrabowski opened #3473 "Request python package spacy for Data Science + Social Justice workshop"
### Package Name

spacy

### Hub details

- Hub: dlab.datahub
- Language: Python
- Requesting most recent version of spacy, as well as the component pipeline 'en_core_web_sm' to use with the package

### Course Name

Data Science + Social Justice Workshop (D-Lab/ Grad Div)

### Semester Details

Summer 2022

### Installation Deadline

Preferably before class begins 07/05/22

[2022-06-23 20:19] emilygrabowski opened #3474 "Request python package gensim for Data Science + Social Justice workshop"
### Package Name

gensim

### Hub details

- Hub: dlab.datahub
- Language: Python

### Course Name

Data Science + Social Justice Workshop (D-Lab/ Grad Div)

### Semester Details

Summer 2022

### Installation Deadline

Preferably before class begins 07/05/22

[2022-06-23 20:45] felder commented on #3474
In the future, you can put multiple package requests into a single issue.

[2022-06-23 20:47] emilygrabowski commented on #3474
Understood. Thanks for your help!

-Emily

On Thu, Jun 23, 2022 at 1:45 PM felder ***@***.***> wrote:

[2022-06-23 21:02] felder commented on #3472
https://anaconda.org/conda-forge/scikit-learn

[2022-06-23 21:04] felder commented on #3473
https://anaconda.org/conda-forge/spacy-model-en_core_web_sm
https://anaconda.org/conda-forge/spacy

[2022-06-23 21:05] felder commented on #3474
https://anaconda.org/conda-forge/gensim

[2022-06-23 22:26] felder commented on #3474
@emgrabow9 I'm going to speak for #3472 and #3473 in this ticket.

I've just merged a PR to staging for installing these packages.  It'll likely take 1-2 hours before the changes build and land in staging.  Would you be willing to login to https://dlab-staging.datahub.berkeley.edu when https://app.circleci.com/pipelines/github/berkeley-dsep-infra/datahub/1333 finishes and test the changes?

[2022-06-23 22:28] emilygrabowski commented on #3474
Yes, I'll do that.

-Emily

On Thu, Jun 23, 2022 at 3:26 PM felder ***@***.***> wrote:

[2022-06-23 22:30] felder commented on #3474
@emgrabow9 great!  Assuming all goes well, I'll await the results of your testing.  If the deploy fails, I should be notified, but depending on how late it is I may not address any failures until tomorrow.

[2022-06-24 00:02] felder commented on #3474
@emgrabow9 deploy to staging worked.

[code]

[2022-06-24 06:12] Tomhsu1 opened #3478 "Retrieve Datahub files"
### Email Id

tomhsu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/tomhsu.tar.gz

[2022-06-24 17:08] emilygrabowski commented on #3474
I just went through all of the notebooks, and the packages all work great!

Thanks,
Emily

On Thu, Jun 23, 2022 at 5:02 PM felder ***@***.***> wrote:

[2022-06-24 21:17] yuvipanda commented on #3464
**Updates from last week ✔**
- Helping @sean-morris with some otter-grader service work
- Preparing for demos at the national workshop
- Work with Eric Fraser on moving forward the devops hire

[2022-06-24 21:54] felder commented on #3474
@emgrabow9 ok good.  Looks like it has been merged to prod, so it should be available.

[2022-06-24 21:54] #3474 closed, assigned to felder, balajialg

[2022-06-24 21:58] #3473 closed, assigned to felder, balajialg

[2022-06-24 21:58] #3472 closed, assigned to felder, balajialg

[2022-06-24 21:59] felder commented on #3478
Signed URL sent!

[2022-06-24 21:59] #3478 closed, assigned to felder

[2022-06-24 22:15] balajialg commented on #3375
Closing this issue with the assumption that the high school hub is up and running while serving user needs. Please feel free to re-open if anyone of you thinks otherwise. Thanks!

[2022-06-24 22:15] #3375 closed, assigned to yuvipanda, ericvd-ucb

[2022-06-24 23:05] #3464 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-06-25 01:39] ryanlovett opened #3482 "Remove support for SIS (non-canvas) course profiles"
### Bug description

We've had support for [fetching course enrollments from SIS](https://docs.datahub.berkeley.edu/en/latest/admins/howto/course-config.html?highlight=fetch#configuring-course-profiles), but now we can do the same by asking Canvas for the enrollments. I think we should remove the hub sidecar and supporting spawner logic.

Thoughts?

[2022-06-25 23:56] tlswoo opened #3483 "Brandon Shin: Datahub file retrieval request"
### Email Id

brandonshin1492@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/brandonshin1492.tar.gz

[2022-06-27 07:07] github-actions[bot] opened #3484 "Weekly Update - Monday, June 27th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-06-27 08:17] swu143 opened #3485 "Retrieve old data files"
### Email Id

sun.wu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/sun-2ewu.tar.gz

[2022-06-27 14:26] #3484 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-06-27 16:10] jamberhee opened #3486 "Request for archived files"
### Email Id

jamberhee@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/jamberhee.tar.gz

[2022-06-27 20:34] lbiral opened #3487 "Request retrieval of my Datahub files"
### Email Id

lbiral@berkeley.edu

### Link to Datahub Folder

[- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz](https://datahub.berkeley.edu/hub/login?next=%2Fhub%2Fuser%2Flbiral%2Ftree)

[2022-06-27 22:00] felder commented on #3483
Signed URL sent!

[2022-06-27 22:00] #3483 closed, assigned to felder

[2022-06-27 22:02] felder commented on #3485
Signed URL sent!

[2022-06-27 22:02] #3485 closed, assigned to felder

[2022-06-27 22:03] felder commented on #3487
@lbiral

I need the link that is in the file that led you here.

[2022-06-27 22:04] felder commented on #3486
Signed URL sent!

[2022-06-27 22:04] #3486 closed, assigned to felder

[2022-06-28 06:21] ryanlovett commented on #3482
Fixed by #3488.

[2022-06-28 06:21] #3482 closed, assigned to felder, balajialg

[2022-06-28 08:12] lbiral commented on #3487
Let me know if this one works: https://datahub.berkeley.edu/hub/login?next=%2Fhub%2F

[2022-06-28 17:51] felder commented on #3487
@lbiral no.  I need the link from the document in your home directory.  It's of a similar format as the one in the issue description.

[2022-06-28 19:57] lbiral commented on #3487
I'm sorry, but I am so confused. Which document in my home directory? I can't access my home directory because my DataHub is shut down. If it's not this one (https://datahub.berkeley.edu/user/lbiral/tree), then I have no idea.

[2022-06-28 20:15] felder commented on #3487
@lbiral Login via https://datahub.berkeley.edu

Requesting file retrieval only makes sense if you have some indication your files have been archived.  The way we inform you is by placing a file in your home directory which contains instructions to come here and tell us which archive to retrieve.

[2022-06-28 20:31] lbiral commented on #3487
I never saw a file placed in my home directory. I tried logging in the other day and I got a message saying "Canvas doesn't have an account for user: 1558987"

I have a lot of important personal and professional files on there so I would really love it if I could get them back.

[2022-06-28 20:56] felder commented on #3487
We're going to update the issue template to talk about this, but yeah the idea behind archive retrieval requests is that we periodically archive files and inform people that this has been done via a file we place in their home directory.  That file contains instructions to open an issue here and provide the link in that file that tells me which archive to retrieve.

If someone opts to open an issu

[2022-06-28 22:05] lbiral commented on #3487
I think the issue is that I am no longer a student. I believe all the courses I took that used Datahub were Data 8 (spring 2019), Data 100 (fall 2020), IndEng 142 (spring 2021), and Stat 140 (fall 2019)

[2022-06-28 22:24] felder commented on #3487
2 signed URLs sent.

[2022-06-28 22:45] felder commented on #3487
Found unarchived files, manually archived them, and sent a third signed URL.

[2022-06-28 22:50] balajialg commented on #3463
Thanks all! Closing this GitHub [issue](https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=balajialg&labels=type%3A+enhancement&template=featurerequest.md) as the actual request was satisfied (including providing admin access). @aculich If you would like to continue the conversation about resource hints then please reopen this issue or open a new [enhancement issue](https://github

[2022-06-28 23:12] aculich commented on #3463
Doesn't seem like admin access is enabled for me:
https://dlab.datahub.berkeley.edu/hub/admin

<img width="1023" alt="image" src="https://user-images.githubusercontent.com/118965/176319554-c2248ec0-e9bd-4918-ba81-6596a20219ec.png">

On Tue, Jun 28, 2022 at 3:50 PM Balaji Alwar ***@***.***>
wrote:

[2022-06-28 23:16] aculich commented on #3463
<img width="1023" alt="image" src="https://user-images.githubusercontent.com/118965/176319639-3e09bd14-81fc-49e8-90e7-411b37ec4350.png">

[2022-06-28 23:25] balajialg commented on #3463
@aculich That's weird! Can you try now?

[2022-06-29 17:24] aculich commented on #3463
Hi Balaji, great! It works now for me as admin!

On Tue, Jun 28, 2022 at 4:25 PM Balaji Alwar ***@***.***>
wrote:

[2022-06-30 14:00] lbiral commented on #3487
Fantastic! Thank you so much!

[2022-07-01 00:04] balajialg commented on #3487
Super cool @felder! Thanks for all your hard work here.

[2022-07-01 18:38] irisyen217 opened #3491 "Admin Access for PH 142 su22 Course Staff"
### Your Name

Iris Yen

### Affiliated Course Name

Public Health 142

### Role

Tech and GSI

### Name of the Hub

publichealth

### End Date

- 07/01/23

[2022-07-04 07:06] github-actions[bot] opened #3493 "Weekly Update - Monday, July 4th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-07-05 18:47] balajialg commented on #3436
Closing the issue considering the successful completion of workshop!

[2022-07-05 18:47] #3436 closed, assigned to nobody

[2022-07-05 18:47] #3463 closed, assigned to balajialg

[2022-07-05 18:48] balajialg commented on #3463
@aculich Hope the classes are going great. Please feel free to reopen if there are any issues with the hub.

[2022-07-05 18:50] felder commented on #3487
@lbiral Please feel free to reopen this if you're still missing something.

[2022-07-05 18:50] #3487 closed, assigned to felder

[2022-07-05 19:08] felder commented on #3491
This should be live in prod now.

[2022-07-06 17:30] balajialg commented on #3491
awesome, thanks @felder!

[2022-07-06 17:30] #3491 closed, assigned to balajialg

[2022-07-06 17:31] #3493 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-07-06 18:24] ryanlovett opened #3495 "Canvas tokens build up and don't expire"
### Bug description

Each time a user approves the canvas/jupyterhub auth, a new, unexpiring token is created. These are viewable in the user's settings of the Canvas instance under [Approved Integrations](https://community.canvaslms.com/t5/Student-Guide/How-do-I-manage-API-access-tokens-as-a-student/ta-p/273). In general it isn't good for there to be a lot of unused auth tokens just "laying aroun

[2022-07-07 17:27] felder commented on #3495
I asked our devs working on bcourses about this, and their reply was that we don't really use user-generated auth tokens for other Canvas integrations.  So they had very little to add with regard to how other canvas integrations behave.

It seems logical we should set the tokens to expire.  Would that be development task to fix?

[2022-07-07 17:30] felder commented on #3495
Service lead for bcourses said:
_I noticed Balaji repeatedly being prompted to authorize canvas access tokens during yesterday’s demo. Typically these tools will only generate a token upon first use, and continue to re-use that one._

He also mentioned:
_expired tokens still “lay around” they have to be manually deleted_

[2022-07-07 19:33] ryanlovett commented on #3495
@yuvipanda Is this an oauthenticator issue? Should we raise it on discourse?

[2022-07-07 20:07] felder commented on #3495
https://canvas.instructure.com/doc/api/file.oauth.html

[2022-07-07 20:23] ryanlovett commented on #3495
Per @yuvipanda 's suggestion, we will add `replace_tokens=true` to the request.

 - https://canvas.instructure.com/doc/api/file.oauth.html#oauth2-flow-3
 - https://groups.google.com/g/canvas-lms-users/c/jC7qZbYeYB0/m/9m6BYGccBgAJ

[2022-07-07 20:36] balajialg commented on #3256
@ajlyons Unfortunately, not able to accommodate this request at this juncture. Requires more detailed discussions at our end internally if we need to figure out the way forward.

@yuvipanda: @felder and I are curious, why is this not feasible at this juncture?

[2022-07-07 20:36] #3256 closed, assigned to felder, balajialg, ryanlovett

[2022-07-07 22:00] ryanlovett commented on #3495
Fixed by #3499.

[2022-07-07 22:00] #3495 closed, assigned to felder, balajialg

[2022-07-07 23:14] balajialg commented on #3248
- [x] @felder to investigate whether the solution highlighted [here](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/705) is relevant to solving this Github issue!

[2022-07-08 21:35] felder commented on #3248
@balajialg looking through the info there, I have had some limited success.

On a local branch I modified https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/datahub/config/common.yaml and added the following directive to hub: -> extraConfig:  underneath the custom theme.

[code]
Change starts here:
[code]
I then used hubploy to push that change to staging.   It seems to work,

[2022-07-08 23:48] felder commented on #3248
Ok this closed PR (I did not want to merge this) shows what needs to occur:

https://github.com/berkeley-dsep-infra/datahub/pull/3500/files

Of particular interest is this configuration that tells the hub to use the custom logo:
https://github.com/berkeley-dsep-infra/datahub/blob/c3366a39ff828b24636349c2d6d67ffd4c5363b2/deployments/datahub/config/common.yaml#L84

Where the Dockerfile for the hub p

[2022-07-09 00:31] balajialg commented on #3248
Thanks, @felder for figuring out the way forward!

@aculich In order for us to execute your request, we will require the D-Lab logo as a PNG/JPG image in the dimensions 416x80 at 72 dpi. You can probably take a look at the space the current logo occupies and design the new logo with those dimensions in mind.

@yuvipanda Couple of questions for you -

- The only place the logo appears in the UI is

[2022-07-09 02:52] balajialg commented on #2946
Scoped for the month of August (Between the end of Summer and the start of the Fall Semester, 22)

[2022-07-11 01:55] kianaeunice opened #3501 "DATA8"
### Email Id

kiana.florendo@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/kiana-2eflorendo.tar.gz

[2022-07-11 07:06] github-actions[bot] opened #3502 "Weekly Update - Monday, July 11th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-07-11 17:20] sean-morris commented on #3502
**Thanks I'd like to give 🙌**
- @yuvipanda got me over the top on OAuth between JupyterHub and an external service
- Sarah from Edx for helping configure and set up the new Edx courses
- @ericvd-ucb -- it was inspiring to be invited and meet all the various players in Data Science. The conference was excellent.

**Updates from last week ✔**
- Oauth between the Jupyterhub and Otter Service is worki

[2022-07-11 23:10] heneong opened #3503 "Data Archival Request for cheongh"
### Email Id

cheongh@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/cheongh.tar.gz

[2022-07-12 01:19] balajialg commented on #3502
**Thanks I'd like to give 🙌**
- Thanks @ericvd-ucb for running an awesome DataScience workshop couple of weeks back and @yuvipanda for doing a kickass demo of RTC and Jupyter Lite during the workshop and Jupyter event at Bloomberg
- Thanks @ryanlovett for all your help with accessibility efforts and log analysis
- Thanks @felder for your help developing a proof of concept to add logos as part of t

[2022-07-13 19:15] felder commented on #3501
Signed URL sent!

[2022-07-13 19:15] #3501 closed, assigned to felder

[2022-07-13 19:16] felder commented on #3503
Signed URL sent!

[2022-07-13 19:16] #3503 closed, assigned to felder

[2022-07-13 19:20] felder commented on #3502
**Thanks I'd like to give 🙌**
- @yuvipanda and @ryanlovett for assisting me with rebuilding hub image as part of #3248

**Updates from last week ✔**
- Figured out a proof of concept for replacing the jupyterhub logo with a custom one.  #3248

[2022-07-13 20:12] ericvd-ucb commented on #3502
Hey Yall
Thanks for all the support for the National Workshop - to @balajialg to @sean-morris and to @yuvipanda and it sounded like @ryanlovett  and @felder were following the live stream!
It was a crazy week for me and I truly felt your support

And I ordered stickers!  Whether its the bears nose or eye patch will be up to the stickee, but I think they are gonna come next week and I'll try to get

[2022-07-13 20:38] luclamontagne opened #3504 "Retrieving Old Files"
### Email Id

luc.lamontagne@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/genomics/luc-2elamontagne.tar.gz

[2022-07-13 20:42] luclamontagne opened #3505 "Retrieving More Old Files"
### Email Id

luc.lamontagne@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/genomics/luc-2elamontagne.tar.gz

[2022-07-13 21:19] felder commented on #3505
@luclamontagne did you make a mistake with the Link to Datahub folder here?  It appears to be the same as issue #3504

[2022-07-14 00:00] felder commented on #3504
Signed URL sent!

[2022-07-14 00:00] #3504 closed, assigned to felder

[2022-07-18 07:06] github-actions[bot] opened #3506 "Weekly Update - Monday, July 18th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-07-18 17:11] #3506 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-07-18 17:12] #3502 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-07-19 20:54] jessicarodriguez0114 opened #3507 "Data 100 Archival Request"
### Email Id

jessicarodriguez@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2019/data100.berkeley.edu/jessicarodriguez.tar.gz

[2022-07-19 23:57] balajialg opened #3508 "Pull materials from private git repositories in Biology and EECS Hub"
# Summary

Instructor teaching PlantBio 190 (https://classes.berkeley.edu/content/2022-fall-plantbi-190-001-lec-001) this fall wants to generate nbgitpuller links that pull materials from a private GitHub repository. They will be using Biology Hub for their course. I understand (based on the [existing documentation](https://docs.datahub.berkeley.edu/en/latest/users/private-repo.html)) that the Git

[2022-07-20 17:45] felder commented on #3505
I'm going to go ahead and close this.  Please reopen it if you need additional files that were not retrieved as part of #3504.

[2022-07-20 17:45] #3505 closed, assigned to felder

[2022-07-20 17:49] felder commented on #3507
[code]

[2022-07-20 17:51] felder commented on #3507
Signed URLs sent!

[2022-07-20 17:52] #3507 closed, assigned to felder

[2022-07-21 00:45] celivo opened #3510 "Request"
### Email Id

celine@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/celine.tar.gz

[2022-07-21 17:43] felder commented on #3510
Signed URL sent!

[2022-07-21 17:43] #3510 closed, assigned to felder

[2022-07-21 21:59] vannytrinh opened #3512 "Data Archival Retrival"
### Email Id

vantrinh@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/vantrinh.tar.gz

[2022-07-21 22:08] felder commented on #3512
Signed URL sent!

[2022-07-21 22:08] #3512 closed, assigned to felder

[2022-07-21 22:49] balajialg opened #3513 "Set up hub for Data 101: Data Engineering course(Fall 2022)"
# Summary

Email from the instructor highlighting his requirement for Fall 2022,

_My name is Lakshya and I am the instructor for Data 101: Data Engineering. This course is a version of CS 194-35, which Allen Shen told us you helped them set up a Datahub for. Could we have the exact same setup as they had in Spring 2021 for CS 194-35?  please let us know if you need anything else from us. Replicat

[2022-07-22 04:40] phoelandsiu opened #3514 "Retrieve my old Datahub files"
### Email Id

phoelandsiu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/phoelandsiu.tar.gz

[2022-07-22 17:53] felder commented on #3514
Signed URL sent!

[2022-07-22 17:53] #3514 closed, assigned to felder

[2022-07-23 07:42] ZhidiXu opened #3515 "Data Archival Request for Zhidi Xu"
### Email Id

benjaminxzd@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/benjaminxzd.tar.gz

[2022-07-25 07:07] github-actions[bot] opened #3516 "Weekly Update - Monday, July 25th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-07-25 16:59] sean-morris commented on #3516
**Thanks I'd like to give 🙌**
- @yuvipanda for fixing Data 8x retrolab installation on the hub
- @ericvd-ucb - awesome to meet the DSUS group and start to get to know people better

**Updates from last week ✔**
- The deployment of otter grader 4 which includes using Docker-in-Docker to do containerized grading is nearly finished. I just need to work out a custom deployment of the GKE cluster with

[2022-07-25 17:38] felder commented on #3515
Signed URL sent!

[2022-07-25 17:38] #3515 closed, assigned to felder

[2022-07-25 17:40] felder commented on #3516
**Updates from last week ✔**
- It has been very quiet, which is a good thing!  Mostly I've just been handling data retrieval requests.
- Been having ongoing discussions with Richard about how to best support the service in the fall.

[2022-07-25 19:27] ericvd-ucb opened #3517 "Track RTC Usability Testing"
# Summary

Turn on RTC in Data 8 for the last project  -  which will be deployed on 8/3

# User Stories

Try out using RTC in Data 8 hub with students working on projects together
Beginner level users

# Acceptance criteria

What does Data 8 team need to know for success?

- Given `<some scenario>`, when `<some action is taken>`, then `<a specific result happens>`.

# Important information

data8.

[2022-07-25 19:39] yuvipanda commented on #3517
We should wait for JupyterLab 4.0, which I think won't be out by this time I'm afraid.

[2022-07-25 19:41] ericvd-ucb commented on #3517
can we not just try it out for a week?  in this case this would be just for the last week of the summer term -

[2022-07-25 19:42] yuvipanda commented on #3517
@ericvd-ucb the primary concern I have is that the issue @fperez reported was student data loss, and that's sort of a biggie...

[2022-07-25 19:43] yuvipanda commented on #3517
We'd probably also need to fix https://github.com/jupyterlab-contrib/jupyterlab-link-share/issues/10

[2022-07-25 20:06] balajialg commented on #3517
@ericvd-ucb Sharing some prior context about the data loss issues reported by Stat 159 instructors a few months back below. @yuvipanda fixed this issue by [disabling RTC](https://github.com/berkeley-dsep-infra/datahub/pull/3287). His suggestion to wait till Jupyter Lab 4.0 seems like a safer bet considering the seriousness of the reported issue.

The issue raised by Stat 159 TA a few months back -

[2022-07-25 22:20] balajialg commented on #3513
CS 194 Hub creation issue - https://github.com/berkeley-dsep-infra/datahub/issues/2116
CS 194 Hub decommission issue - https://github.com/berkeley-dsep-infra/datahub/issues/2622

[2022-07-26 01:56] balajialg commented on #3516
Thanks, I'd like to give 🙌
- Thanks to @yuvipanda for generating the [binder link](https://github.com/jupyterlab/jupyterlab/tree/master/binder) which includes the CM 6.0-related PR from QuantStack
- Thanks @ryanlovett for all your support with Accessibility efforts and logs analysis.
- Thanks @sean-morris for adding me to the EdX repository. Excited to test the notebooks powering the MOOC's

Updat

[2022-07-26 23:42] balajialg opened #3518 "Investigate autoscaler Issue with core node pools!"
# Summary

- There seems to be a ~$2k discrepancy between June 2021 and June 2022 cloud costs. Attached below are the snapshots of cloud costs during the two months.

<img width="676" alt="June 2021" src="https://user-images.githubusercontent.com/2306166/181129705-27ce2979-03cb-436f-97f7-72038819f54f.PNG">
<img width="680" alt="June 2022" src="https://user-images.githubusercontent.com/2306166/1811

[2022-07-26 23:55] felder commented on #3518
Noting that modifying autoscaling for everything but the core node pools had the desired effect.

However, the core node pool really wants to maintain 3 nodes and I have yet to find out why.  It does not appear to be a resource issue.

Also, I tried draining one of the core nodes and instead of consolidating pods onto the other 2, it spun up another node.  That suggests that it's likely not the lo

[2022-07-27 00:04] felder opened #3519 "Upgrade support helm charts to pave the way to upgrade to GKE > v1.21"
# Summary

GKE is indicating that our cluster is using deprecated APIs.  Yuvi said that 2i2c recently upgraded the support helm charts to the latest versions and we should do the same.

Those are located in datahub/support/requirements.txt:
https://github.com/berkeley-dsep-infra/datahub/blob/staging/support/requirements.yaml

# Tasks to complete

Modify the requirements.yaml one item at a time to

[2022-07-27 00:13] ryanlovett opened #3520 "Pull groups from datahub into other hubs"
### Bug description

The following hubs use GenericOAuthenticator, with configuration for bCourses:
astro, data8, ischool, publichealth, stat159, stat20

While these hubs use CanvasOAuthenticator:
biology, data100, data102, datahub, dlab, eecs, julia, prob140

A small number of other deployments use dummy, google, and lti auth.

The cookiecutter template is set to use generic as well.

When we ena

[2022-07-27 00:15] ryanlovett commented on #3520
The hubs that do use CanvasOAuthenticator are getting that via`hub/values.yaml`.

[2022-07-27 00:49] yuvipanda commented on #3520
@ryanlovett so if we move everything except datahub to genericoauthenticator, *and provide groups* in canvasoauthenticator, then all the hubs using genericoauthenticator can get list of groups from datahub!

[2022-07-27 21:48] ryanlovett commented on #3520
@yuvipanda and I slacked and he said that the idea was for datahub to be canvasoauth, the others genericoauth. The others could query the groups from datahub.berkeley.edu/hub/api/user presumably during spawning in order to do resource allocation.

I could confirm that using a token to GET /hub/api/user from my laptop does have the user's groups in the output.

Some questions for @yuvipanda :
 - Wi

[2022-07-29 17:28] rowsofrose opened #3528 "ULAB"
### Email Id

ruthlearn@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/ruthlearn.tar.gz

[2022-07-29 22:19] felder commented on #3528
Signed URL sent!

[2022-07-29 22:19] #3528 closed, assigned to felder

[2022-07-29 23:25] #3516 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-08-01 07:13] github-actions[bot] opened #3531 "Weekly Update - Monday, August 1st"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-08-01 16:36] #3531 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-08-02 21:41] balajialg commented on #3517
Closing this issue considering it is actively tracked in issue #3027

[2022-08-02 21:41] #3517 closed, assigned to balajialg

[2022-08-02 21:43] balajialg commented on #3027
RTC is currently disabled across all hubs and the reasons are outlined in this issue #3517!

[2022-08-03 20:08] mfowlie opened #3533 "Hi! Revisiting some old projects. Did not keep track of filenames. Hoping these can be restored? Thanks!"
### Email Id

fowlie@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/fowlie.tar.gz

[2022-08-03 21:42] felder commented on #3533
Signed URL sent!

[2022-08-03 21:42] #3533 closed, assigned to felder

[2022-08-04 17:42] balajialg commented on #3513
**Next Steps from 08/04 Sprint Planning Meeting:**
- [x] @yuvipanda to set up the hub!

[2022-08-04 17:42] balajialg commented on #3508
**Next Steps from 08/04 Sprint Planning Meeting:**

[ ] @yuvipanda to enable this feature in Biology Hub!

[2022-08-04 17:43] balajialg commented on #3519
**Next Steps from 08/04 Sprint Planning Meeting:**
[ ] Not a priority but @felder to look into it whenever his time permits.

[2022-08-04 17:43] balajialg commented on #3518
**Next Steps from 08/04 Sprint Planning Meeting:**

[ ]
[ ]

[2022-08-04 23:33] balajialg commented on #2934
@felder Is this issue in scope for Fall 22 or should be moved to Spring 23 or is irrelevant at this juncture?

[2022-08-04 23:36] balajialg commented on #3520
@ryanlovett Is this issue in scope for the August sprint? or it should be scoped in the backlog? Trying to move around the cards and identify the right spot mirroring its current status.

[2022-08-04 23:44] balajialg commented on #3418
@yuvipanda @ryanlovett Is this issue done? Can it be closed?

[2022-08-05 00:44] ryanlovett commented on #3520
@balajialg It could be. A lot of the work is done but I need to get @yuvipanda 's thoughts on the questions above.

[2022-08-05 23:37] balajialg commented on #3520
@ryanlovett Sounds good. Thanks!

[2022-08-08 07:06] github-actions[bot] opened #3534 "Weekly Update - Monday, August 8th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-08-08 17:02] sean-morris commented on #3534
**Thanks I'd like to give 🙌**
- @yuvipanda and @felder for helping me get vscode rendering in the 8x hub on very short notice
- @ericvd-ucb for organizing the students to review notebooks for Data 8x.
- @ryanlovett for reviewing my gh-pages PR. Amazing what a quick review catches!
- For finally getting to meet everyone on this weekly review in person!

**Updates from last week ✔**
- notebooks are

[2022-08-08 17:33] yuvipanda commented on #3534
**Thanks I'd like to give 🙌**
- To @felder for helping take care of the storage stuff
- To @ryanlovett for awesome work on the Canvas integration!
- To @balajialg and @ericvd-ucb for pushing on the accessibility front!

[2022-08-08 19:45] felder commented on #3534
**Updates from last week ✔**
- Adding storage and transferring data for data8

[2022-08-08 19:47] felder commented on #3380
data8 is is 1.4TB

I have provisioned a 3TB standard disk for data8 and I'm going to perform start the rsync data transfer

[2022-08-08 20:56] yuvipanda commented on #3380
Thanks a lot, @felder!

For the rest, I think we can use symlinks to do the changes without any downtime. As they'll be within the same filesystem, `mv` is atomic. So something like `mv <cur-location> <target-location> && ln -s <target-location> <cur-location>` should mv the directory to the correct location, and setup a symlink in the previous location.

We can then 'normalize' the paths in helm

[2022-08-09 01:33] balajialg opened #3538 "Improve Grafana dashboard's resilience!"
### Bug description

Grafana dashboard threw a 503 error when there was an outage across all the hubs today. Considering that @felder uses grafana hub metrics to measure the health across all hubs, it is important that grafana gets isolated from such outages.

Note: Grafana came back after all the hubs started operating. So, there is no issue with grafana as of now.

![image (8)](https://user-imag

[2022-08-09 01:41] balajialg opened #3539 "Consolidated After Action Report for all outages during Fall 22 Semester"
# Summary

We had a series of outages across all hubs which affected instruction during Fall 22. Like any other outage in the past, we should create a detailed After Action Report (AAR) and document the steps taken to resolve the source of these issues. List of outages encountered during FA 22 is detailed [here](https://github.com/berkeley-dsep-infra/datahub/issues/2791).

Creating this issue to t

[2022-08-09 01:54] balajialg commented on #3534
**Thanks, I'd like to give 🙌**

- @sean-morris  and @yuvipanda for your incredible work to launch notebooks using VSCode editor in Data 8x Hub.
- @ryanlovett for the idea and also support in creating the [meta documentation for Datahub](https://docs.google.com/document/d/16PcQ-EDuyDg4NB_RWIksgoPDG1TzDYrysdd51xAtVys/edit)
- @felder @yuvipanda and @ryanlovett for all your inputs to curate the onboar

[2022-08-09 01:57] #3534 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-08-09 21:38] ryanlovett commented on #3520
After chatting with @yuvipanda:
1. ~~Make a PR to convert the following hubs to Generic: data100, data102, dlab, eecs, julia, prob140~~ (this is merged)
2. The generic hubs will use a custom generic oauthenticator (like a replicator) which will query datahub for groups. They will then add these groups in the downstream hub.
3. When users authenticate with the generic, they're also authenticating t

[2022-08-10 22:53] jallene opened #3552 "Request for Data Retrieval JupyterHub"
### Email Id

jallene@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/jallene.tar.gz

[2022-08-10 23:10] felder commented on #3552
Signed URL sent!

[2022-08-10 23:10] #3552 closed, assigned to felder

[2022-08-10 23:13] felder commented on #2934
@balajialg could be in scope for Fall.  My understanding is we're also going to update the base image and do some package management.  Could be this gets done as part of that work.

[2022-08-11 00:05] sitarn opened #3553 "gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/sitar.tar.gz"
### Email Id

sitar@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/sitar.tar.gz

[2022-08-11 01:27] balajialg commented on #2934
@felder Sounds good. Thanks!

[2022-08-11 03:48] dsconnell opened #3556 "500: Internal Server Error on Canvas login"
### Bug description

After I authorize login via canvas, I get a 500 : Internal Server Error.

### Environment & setup

- Hub: Datahub

### How to reproduce

1. Go to https://datahub.berkeley.edu/
2. Click 'Log in to continue'
3. Click 'Authorize'
4. See 500 : Internal Server Error

[2022-08-11 03:54] balajialg commented on #3556
@dsconnell I am not able to replicate this error. Is this your [home directory](https://datahub.berkeley.edu/user/davidconnell/tree/)? Can you also try logging in again using a different browser?

[2022-08-11 03:57] dsconnell commented on #3556
@balajialg Yes that should be my home directory. I get the same error in Chrome and Safari.

[2022-08-11 04:07] balajialg commented on #3556
@dsconnell That's weird! I am able to log in to your home directory and launch a python notebook. I am not sure what the issue is considering that it is not replicable.

FWIW, Can you clear your cache and try again? Try launching Data 8 hub using your calnet credentials - https://data8.datahub.berkeley.edu/?

[2022-08-11 05:17] charcoon opened #3559 "Issue: Data Archival Request"
### Email Id

zogo1767008598@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-08-11 05:41] dsconnell commented on #3556
@balajialg Before and after clearing my cache I got the same error launching the Data 8 hub. However, I discovered that https://publichealth.datahub.berkeley.edu/ works okay for me! I'm an admin there, if that matters

[2022-08-11 18:55] felder commented on #3556
@dsconnell another thing that might be worth trying is using a completely different browser + private/incognito mode for that browser.

Just to make super sure that there isn't some weird thing in the history or cache.  I know you indicated you cleared your cache, but still worth trying!

[2022-08-11 18:58] felder commented on #3553
Signed URL sent!

[2022-08-11 18:58] #3553 closed, assigned to felder

[2022-08-11 18:59] felder commented on #3559
@charcoon I need the actual link from the file left by the archival process in your home directory.

[2022-08-12 00:03] charcoon commented on #3559
Your files have been archived due to inactivity.

If you want to retrieve a copy of your files, please open a Data Archival Request via github here:
https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=&labels=support&template=data_archival_request.yml

The following text is the link to your datahub folder, it must be included with your request:
gs://ucb-datahub-archived-homedirs/sp

[2022-08-12 00:31] felder commented on #3559
Signed URL sent!

[2022-08-12 00:31] #3559 closed, assigned to felder

[2022-08-12 00:41] felder commented on #3519
I think @yuvipanda did this in #3536 and #3537

[2022-08-12 01:35] irisyen217 opened #3565 "Admin Access for PH 142 fa22 Course Staff"
### Your Name

Iris Yen

### Affiliated Course Name

Public Health 142

### Role

Tech and GSI

### Name of the Hub

-

### End Date

-
5/15/23

[2022-08-12 01:41] ee120-staff opened #3566 "Request more RAM for EE 120 Fall 2022"
**Which hub do you want more RAM on?**

Datahub

**Which class is this request for?**

EE 120 Fall 2022: https://classes.berkeley.edu/content/2022-fall-eleng-120-001-lec-001

**How many students do you expect in this class?**

About 130

**How much RAM does this class need?**

4 GB per student

**Why does this class need this much RAM?**

Some of our lab assignments, which are Jupyter notebooks, h

[2022-08-12 06:14] kmaccuish commented on #3556
I have the same issue!

[2022-08-12 07:41] ryanlovett commented on #3556
@kmaccuish @dsconnell Can you both please try again and let us know how it goes? We just made an update to datahub that may fix this.

[2022-08-12 07:48] ryanlovett commented on #3556
Possibly related error:
[code]

[2022-08-12 15:52] dsconnell commented on #3556
It worked! Thank you!

[2022-08-12 21:31] balajialg opened #3571 "Python Popularity Dashboard Updates!"
# Summary

Thanks to our last sprint planning meeting, I spent some time trying to figure out the ways to use the python popularity dashboard to make recommendations for the docker image updates. I accessed the python popularity dashboard and filtered the data for the last 6 months with the intention of identifying packages that are **least used across all the hubs** during the Summer and Spring s

[2022-08-12 23:22] kmaccuish commented on #3556
Also worked for me! Thank you!

On Fri, Aug 12, 2022 at 8:52 AM dsconnell ***@***.***> wrote:

--
Kelsey MacCuish, MPH (she/her/hers)
Epidemiology & Biostatistics 2022
University of California, Berkeley | School of Public Health
***@***.*** | 310-463-1330

[2022-08-12 23:31] balajialg commented on #3556
Great, Thanks!

[2022-08-12 23:31] #3556 closed, assigned to felder, balajialg

[2022-08-13 19:56] fperez commented on #3027
Quick question @afshin - are any of the recent changes made on the YJS side in Lab had any impact on these data loss issues? I know the big refactoring is due for 4.0, but I was wondering if some of the recent work has made its way into 3.4.5 in a manner that would change our risk assessment?

I'd very much love to have RTC available, but we can't really take any chances (this semester I'm teachin

[2022-08-14 15:04] afshin commented on #3027
@fperez @yuvipanda @balajialg, That bug still exists in every current release and pre-release of JupyterLab. It will be resolved when we merge [this PR which refactors RTC in JupyterLab](https://github.com/jupyterlab/jupyterlab/pull/12695).

This PR is backward-incompatible, so it'll ship in a 4.0 alpha but it will not land in a 3.x release. We're pushing hard on merging it so we can iterate and g

[2022-08-15 01:05] markyashar opened #3572 "Can UC Berkeley extension students and instructors use the UCB Data Hub?"
Hello,

Can UC Berkeley Extension Students and instructors of UCB extension courses use the UCB Data Hub? Are they eligible to use the DataHub

For example, see the course here: https://extension.berkeley.edu/search/publicCourseSearchDetails.do?method=load&courseId=41598#courseSectionDetails_77577842

Thanks,

Mark Yashar
Research IT Domain Consultant, UC Berkeley
myashar@berkeley.edu

[2022-08-15 05:38] JnGuan3 opened #3573 "Requesting Datahub files"
### Email Id

jnguan3@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/data100/jnguan3.tar.gz

[2022-08-15 07:07] github-actions[bot] opened #3574 "Weekly Update - Monday, August 15th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-08-15 08:44] yuvipanda commented on #3572
@markyashar if they can log into bcourses.berkeley.edu, then they totally can! It uses the same auth mechanism

[2022-08-15 16:32] #3574 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-08-15 18:16] balajialg opened #3575 "Enable QGIS for Civ Eng 70!"
Civil Engineering 70 (https://classes.berkeley.edu/content/2022-fall-civeng-70-001-lec-001) requires students to launch QGIS application (from Datahub) to do their geospatial exploration as part of the Engineering Geology lab.  Copying instructor @sitarn's words "In CE 70 I use an open source Python GIS code called QGIS, which I would like to set up for the class on DataHub. Having the code sittin

[2022-08-15 20:20] balajialg commented on #3565
@irisyen217 Manually added you all as admin users through the UI for immediate access. Once my PR lands in the prod, you will get the required access.

Edit: PR landed in prod. @irisyen217 You should be good to go. Let us know if there are any issues.

[2022-08-15 20:34] fperez commented on #3027
Understood, thx for the clarification @afshin! It helps us plan on our end, this means we're probably going to hold off for this semester on RTC, at least in very large courses like D100 where flexibility/risk have to be tightly controlled (smaller courses have a different dynamic).

[2022-08-15 22:40] winstonyin opened #3577 "Request python package spaCy and language models for class L&S 22"
### Package Name

lemminflect, en_core_web_xx

### Hub details

- Hub: Datahub
- Language: Python

The natural language processing packages `spaCy` and `lemminflect`, as well as the language models `en_core_web_sm`, `en_core_web_md`, `en_core_web_lg`, and `en_core_web_trf`. Though the first two can be installed by the user in Jupyter notebook via `%pip install`, the language models have to be inst

[2022-08-15 22:57] balajialg commented on #3566
@ee120-staff Are you aware of the [EECS hub](https://eecs.datahub.berkeley.edu/) used by multiple EECS classes like EECS 16A and 16B which offer 2 GB RAM? Do you want to use the EECS hub going forward?

@felder I am not seeing any strong reasons to enforce [this policy](https://github.com/berkeley-dsep-infra/datahub/issues/2785#issuecomment-924935677) for this request considering the cost-related

[2022-08-15 22:59] balajialg commented on #3513
@yuvipanda Do you want to prioritize this request from the instructor? He highlighted that August 15th is a good timeframe to start testing the new hub.

[2022-08-15 23:03] ee120-staff commented on #3566
@balajialg Yes, we'd like to use the EECS hub going forward.

[2022-08-15 23:08] yuvipanda commented on #3513
I'll try get it done before 18th.

[2022-08-16 01:47] futurecsminorstudent opened #3578 "Archived File 1"
### Email Id

annamariacrone@gmail.com

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-08-16 18:56] ee120-staff commented on #3566
Actually, do the instructions for accessing private repos [here](https://docs.datahub.berkeley.edu/en/latest/users/private-repo.html) apply to the EECS hub as well @balajialg?

Edit: I tested it out and it doesn't seem like it, so we'll stick with datahub.berkeley.edu for this semester at least.

[2022-08-16 19:20] balajialg commented on #3566
@ee120-staff Ah got it. By when do you need this functionality ready? We need to enable this functionality in EECS hub. We already have an issue tracking something similar to this for the Biology hub in #3508 and I added the EECS hub requirement to the same issue.

[2022-08-16 19:31] ee120-staff commented on #3566
Likely by the end of the second week of classes.

[2022-08-16 21:11] ericvd-ucb commented on #3575
Looks like the Jupyer- Qgis implemenation from Qushing Wu is the way to go
We need to figure out how to get a couple of plugins to install?

[2022-08-16 23:34] lenal1028 opened #3585 "help please"
### Email Id

lenal1028@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/lenal1028.tar.gz

[2022-08-17 00:26] felder commented on #3380
Ok all of this work is done!

[2022-08-17 00:26] #3380 closed, assigned to felder

[2022-08-17 00:27] balajialg commented on #3566
Got it! I will let [@yuvipanda](https://github.com/yuvipanda) chime in with his ideas regarding the complexity of enabling this functionality to fetch from a private repository in the EECS hub (before EOD tomorrow). If it is complex, we will just increase the RAM for Datahub.

[2022-08-17 00:29] felder commented on #3585
Signed URL sent!

[2022-08-17 00:29] #3585 closed, assigned to felder

[2022-08-17 00:30] felder commented on #3578
@futurecsminorstudent I need the link to datahub folder from the document left in your home directory.

[2022-08-17 00:32] felder commented on #3573
Signed URL sent!

[2022-08-17 00:32] #3573 closed, assigned to felder

[2022-08-17 04:19] ultracanon8 opened #3586 "Things disappeared"
### Email Id

ahon@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/ahon.tar.gz

[2022-08-17 06:18] ramanv0 opened #3587 "Retrieve a copy of my files"
### Email Id

ramanvarma@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/ramanvarma.tar.gz

[2022-08-17 07:20] yuvipanda commented on #3508
This is now done for both the EECS and Biology hubs! You can find instructions + links to the appropriate github apps at https://docs.datahub.berkeley.edu/en/latest/users/private-repo.html

[2022-08-17 07:20] #3508 closed, assigned to yuvipanda

[2022-08-17 07:20] yuvipanda commented on #3566
Just added support for the EECS hub: https://docs.datahub.berkeley.edu/en/latest/users/private-repo.html

[2022-08-17 07:22] ee120-staff commented on #3566
Amazing, we'll switch to the EECS hub then! We'll still need 4GB of RAM for some of our labs though.

[2022-08-17 07:32] ee120-staff commented on #3566
Actually, I just tried it out and it doesn't seem to work; I'm getting an access error when using a `nbgitpuller` link.

Edit: works now! I just had to wait

Edit 2: Sorry, one more thing. I'm running a notebook on the EECS hub (works fine on datahub), and it's failing on `from scipy import signal`, with error message
[code]

[2022-08-17 17:10] #3586 closed, assigned to felder

[2022-08-17 17:10] felder commented on #3586
Signed URL sent!

[2022-08-17 17:11] felder commented on #3587
Signed URL sent!

[2022-08-17 17:11] #3587 closed, assigned to felder

[2022-08-17 18:02] balajialg commented on #3566
Thanks, @yuvipanda!

@ee120-staff Seems like a libgcc installation error in the EECS hub - https://github.com/BVLC/caffe/issues/4953.

@felder Do you have some time today to look into this? Can you also bump up the RAM requirement for this class? Thanks!

[2022-08-17 18:08] balajialg commented on #3572
@markyashar Excited to know that UC Berkeley extension instructors and students are using Datahub. Would love to know the list of courses using Datahub. I also added you to the datahub-announce email list which is our outreach mechanism for instructors. Let us know if you face any issues during the semester. Closing this issue assuming your query got resolved. Please do reopen if that is not the c

[2022-08-17 19:12] balajialg opened #3594 "Instructor + Student files are missing in Data 100 Hub!"
### Bug description

Dominic Liu (Data 100 GSI) reached out with the issue that all student and instructor files have suddenly disappeared from Data 100 hub. They can only see empty directories even when they regularly log into the Data 100 hub during the past few days/weeks. Tagging @Dominicliu129 so that he can provide more context to this request.

![img_2986](https://user-images.githubusercont

[2022-08-17 19:25] balajialg commented on #3575
Shared the mybinder link in [this repository](https://github.com/giswqs/jupyter-qgis) to launch QGIS with @sitarn. Got the following feedback about the latency and the overall QGIS functionality -

_The desktop fires up instantly, without any latency. Also, all the functionality is there as far as I can tell. The only question is whose directory it is looking for files and then saving._

He is cur

[2022-08-17 20:54] felder commented on #3594
@Dominicliu129

Sorry about that.

Please try it again.

[2022-08-17 21:19] Dominicliu129 commented on #3594
It works for me now! Thank you so much! Will confirm with other staff and students who were facing the issue.

[2022-08-17 21:32] balajialg commented on #3380
Thanks for the awesome work @felder!

[2022-08-17 22:03] felder commented on #3566
@ee120-staff @balajialg RAM changes are in, also I believe the issue with `from scipy import signal` is fixed.

Please test and let me know.

[2022-08-17 22:32] felder commented on #3594
Ok closing this for now.  Please reopen if you find there are more issues.

[2022-08-17 22:32] #3594 closed, assigned to felder, balajialg

[2022-08-17 22:35] #3519 closed, assigned to felder

[2022-08-17 23:33] yuvipanda commented on #3575
Yep, and I've already been extensively involved in it :D https://github.com/giswqs/jupyter-qgis/pull/1

[2022-08-17 23:37] yuvipanda commented on #3575
@balajialg my inclination is to make them a new hub!

[2022-08-17 23:49] #3565 closed, assigned to balajialg

[2022-08-18 02:42] balajialg commented on #3575
Sound good @yuvipanda. We should target creating this hub by mid-September so that the instructor has ample time to test the instructional workflow.

Couple of questions,

1. Should we go for a generic URL like linuxdesktop.datahub.berkeley.edu to showcase our desktop environment or tailor this hub towards civil engineering (civeng.datahub) specific use cases? My inclination is to go for the forme

[2022-08-18 03:02] yuvipanda commented on #3575
@balajialg the mybinder.org compute is significantly less than what we have for datahub.

My inclination is to have a civeng hub separately because it shows that we love them 😁

[2022-08-18 03:31] balajialg commented on #3575
@yuvipanda Oh wow, that sounds great! If that is the case it could be a Civil and Environmental Engineering focused hub (we did a workshop with them this January).

[2022-08-18 03:46] sitarn commented on #3575
Yes, that would be awesome …
Nick

Sent from my iPhone

[2022-08-18 06:28] yuvipanda commented on #3575
@balajialg awesome. what would it be called? civeng.datahub.berkeley.edu?

[2022-08-18 07:29] ryanlovett commented on #3575
Just some data points:
 - their website [uses CE as the department in course names](https://ce.berkeley.edu/programs/geo/courses), and the departmental website itself is ce.berkeley.edu, so maybe ce.datahub.berkeley.edu? This mirrors publichealth.berkeley.edu / publichealth.datahub.bekeley.edu, and dlab, and eecs.
 - [SIS uses CIVENG](https://classes.berkeley.edu/content/2022-fall-civeng-173-001-l

[2022-08-18 17:42] felder commented on #3577
Done!

mamba list reports:
[code]

[2022-08-18 17:42] #3577 closed, assigned to felder, balajialg

[2022-08-18 18:50] srinitea opened #3603 "Retrieve my old Datahub files"
### Email Id

srinidhi.sankar@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/srinidhi-2esankar.tar.gz

[2022-08-18 20:24] felder commented on #3603
Signed URL sent!

[2022-08-18 20:24] #3603 closed, assigned to felder

[2022-08-18 21:47] aculich commented on #3248
Just seeing this re-assigned to me for the logo update... I'll get back to you shortly with the correct dimensions and format.

[2022-08-19 04:31] balajialg commented on #3575
@ryanlovett @yuvipanda Thanks for your input! Let's go with civeng.datahub considering the evangelizing aspect of creating a new hub dedicated to CEE and also the backing from SIS reference?

[2022-08-19 04:46] sitarn commented on #3575
Hi:
I consulted with the Chair of the department as this is a bit of a "hot
button issue," and if it is at all possible, please use CEE.datahub as that
is properly reflecting the fact that the department has been Civil and
Environmental for more than 20 years.
Thanks,
Nick

On Thu, Aug 18, 2022 at 9:32 PM Balaji Alwar ***@***.***>
wrote:

--
Prof. Nicholas Sitar, Ph.D.
Edward G. Cahill and John R.

[2022-08-19 23:44] andygagliardi opened #3604 "Data 8 Coursework Sp 2020 Andy Gagliardi"
### Email Id

andygagliardi@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/andygagliardi.tar.gz

[2022-08-20 23:03] fperez opened #3605 "Refresh packages and add a few more for D100 - Fall 22"
### Package Name

Here is a list of the packages I'd prefer to have updated for the hub, with their current versions:

[code]

Most of these are on the hub, but not all - so this request is for a mix of a version refresh for the major packages relevant to D100, and the installation of a handful more that will be needed this semester.  If I run the same check on the current hub, I get:

[code]

###

[2022-08-20 23:42] fperez commented on #3605
For convenience, here is the code I used for those checks, in case you want to rerun it to verify, or generate an environment file out of it.

[code]

[2022-08-21 03:38] ranacharya opened #3606 "access to Rstudio files"
### Email Id

racharya@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/ischool/racharya.tar.gz

[2022-08-21 03:41] fperez commented on #3605
[Here you can find](https://github.com/fperez/homesetup/blob/main/usr/bin/setup/environment.yml) an `environment.yml` file that has all these packages (and a few more, feel free to filter) so you have the correct conda names for convenience.

[2022-08-22 07:07] github-actions[bot] opened #3607 "Weekly Update - Monday, August 22nd"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-08-22 21:14] felder commented on #3604
Signed URL sent!

[2022-08-22 21:14] #3604 closed, assigned to felder

[2022-08-22 21:16] felder commented on #3606
Signed URL sent!

[2022-08-22 21:16] #3606 closed, assigned to felder

[2022-08-22 21:21] felder commented on #3607
**Thanks I'd like to give 🙌**
- Thanks to @yuvipanda for handling nfsserver resource changes during the night shift.

**Updates from last week ✔**
- Been working on end of semester data archiving as well as start of semester requests.

**Challenges I faced and things I'd like assistance with 🙏**
- Issue #3605 warrants some internal discussion to figure out the best path forward.  Likely we'll want

[2022-08-22 21:24] felder commented on #3578
Closing for now, please reopen if you'd still like these files.

[2022-08-22 21:24] #3578 closed, assigned to felder

[2022-08-22 22:28] yuvipanda commented on #3571
Thanks for working on this, @balajialg!

I think these lists actually illustrate why actully using this data to prune libraries is a bunch of work that is possible, but needs to be carefully considered - transitive dependencies. For example, if we take the biology hub and remove `requests`, a *lot* of other packages will just stop working, as they use it transitively for making HTTP requests. If y

[2022-08-22 23:46] felder commented on #3571
@balajialg What yuvi is expressing was my concern as well.  Just because a package isn't popular doesn't mean it isn't required by something else that is.  Like I see conda for data100, I'd question removing that one as well!

[2022-08-23 04:16] balajialg commented on #3607
Thanks, I'd like to give 🙌

- Thanks all for your efforts during the past couple of weeks to onboard and set instructors up for success this semester.

Updates from last week ✔

- Had discussions with instructors who teach Data Science x Biology, Civil Engineering 70, Library's DS workshops with Eric etc. and helped them test their unique workflows either via Datahub or through the binder
- Schedu

[2022-08-23 06:00] yuvipanda commented on #3607
**Thanks I'd like to give 🙌**
- To @felder for handling all the archiving!
- To @ryanlovett for working on the R upgrades!

[2022-08-23 16:47] ryanlovett commented on #3571
@yuvipanda Does the popcon support track just the explicit imports by user code, or does it also track the imports that get pulled in under the hood? I thought it was hooking into the import mechanism at a low level so was catching everything, but given that okpy uses requests, it sounds like I've got that wrong.

[2022-08-23 18:46] balajialg commented on #3571
@yuvipanda I did not realize that transitive dependency is going to be a huge challenge with regard to this effort. Thanks for pointing it out! With the context you shared, a few questions I have are,

1. Is there a way to track the packages "installed under the hood" (Thanks @rylo for coining this term) as part of the Python Popularity Dashboard? If not, what other ways exist to find transitive d

[2022-08-23 18:52] balajialg commented on #3566
Thanks, @felder for quickly responding to this request. @ee120-staff I am closing the issue for now. Please reopen this issue,if you face issues with Ram allocation and Scipy installation at your end.

[2022-08-23 18:52] #3566 closed, assigned to felder

[2022-08-23 19:35] yuvipanda commented on #3571
@ryanlovett it pulls in all imports, transitive or otherwise.

@balajialg Are you talking about 'installation' which happens only once in the image when we build it, or 'use' which is what this dashboard is tracking?

I think the way to us this dashboard is:

1. Look at a package we are explicitly installing in our image, and see we want to remove it for some reason (I removed `allensdk` in https:

[2022-08-23 19:39] yuvipanda commented on #3571
A pruning process would look like:

1. Look at https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/datahub/images/default/requirements.txt
2. Consider bunches of packages installed for specific classes
3. Investigate if they have been used *at all*. non-zero use count already complicates things
4. But if use count is 0, it can be removed
5. Repeat and see how much smaller our i

[2022-08-23 22:54] balajialg commented on #3571
@yuvipanda Thanks for the detailed pruning process! I referred to the term "use" - how many times Python libraries were imported in a notebook specific to a hub. Given the context that almost all the installed packages were used at least once in the past 6 months across all the hubs, what is that specific non-zero number for usage that we can safely assume (safely - devoid of transitive dependenci

[2022-08-23 22:59] yuvipanda commented on #3571
I don't think this is true - I found no uses of `allensdk` before I removed it, for example. Packages that aren't used just don't show up in the popularity dashboard.

[2022-08-23 23:50] JenniferY02 opened #3618 "Retrieve files"
### Email Id

jennifery@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jennifery.tar.gz

[2022-08-24 00:05] sean-morris commented on #3607
**Thanks I'd like to give 🙌**
- @yuvipanda @felder for helping get the packages and configuration correct for vscode
- @yuvipanda @felder @ericvd-ucb for work on gofer_submit
- @ryanlovett @balajialg for help getting R on the data8x hub -- not there yet! but close
- @ryanlovett @yuvipanda for help getting the matplotlib version situation worked out on the hub

**Updates from last week ✔**
- All th

[2022-08-24 04:26] jinancy opened #3619 "Retrieve my files!"
### Email Id

jinancy@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jinancy.tar.gz

[2022-08-24 04:59] yuvipanda opened #3621 "Remove QGrid from Datahub and add Modin in Biology Hub"
Per @ericvd-ucb, MCB32 still uses qgrid. However, qgrid is basically abandoned, and doesn't work with ipywidgets 8.x

https://github.com/berkeley-dsep-infra/datahub/pull/3620 adds it back, but we should have MCB32 move to something else.

[2022-08-24 16:51] balajialg commented on #3571
@yuvipanda oh wow, that changes our approach drastically. Now, this list should be compiled based on the differences between our docker image and the popularity dashboard, right?

[2022-08-24 17:10] #3607 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-08-24 17:47] balajialg commented on #3513
Closing this issue as @yuvipanda created a new hub with postgres DB!

[2022-08-24 17:47] #3513 closed, assigned to yuvipanda

[2022-08-24 18:29] balajialg commented on #3594
@felder What was the issue here? Did we accidentally delete files while archiving?

[2022-08-24 18:56] felder commented on #3594
@balajialg No data was accidentally deleted.  It was just not in the right place.

When standardizing the directories for each hub on the nfsserver, I made a mistake with data100 so the files were not where the configs stated they should be.

[2022-08-24 19:18] balajialg commented on #3594
@felder Got it. Thanks for the context!

[2022-08-24 22:02] eramey16 opened #3629 "Retrieve my old files"
### Email Id

Hello, I would like to retrieve my archived files. Here is the link to my datahub folder: gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/emily-5framey.tar.gz

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/emily-5framey.tar.gz

[2022-08-25 00:51] fperez opened #3630 "Update mpl inline"
### Package Name

matplotlib_inline version 0.1.6

### Hub details

- Hub: Data 100
- Language: Python

### Course Name

D100.

### Semester Details

Fall 2022

### Installation Deadline

Sept 30, 2022

[2022-08-25 00:53] yuvipanda commented on #3630
@fperez so it's using the stat159 image - do you think you can get some data100 staff to refresh whatever packages you want in https://github.com/berkeley-dsep-infra/datahub/tree/staging/deployments/stat159/image?

[2022-08-25 01:01] fperez commented on #3630
Mmh - I kind of went through that entire exercise in #3605 hoping that would be enough... Unfortunately right now I'm busy preparing class and can't deal with this.

Is the info in #3605 not enough to do a versions update? Do you need me to update the yaml files by hand?

[2022-08-25 01:12] ka-li opened #3631 "Jupyter Notebook retrieval"
### Email Id

katya.li@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/katya-2eli.tar.gz

[2022-08-25 01:18] yuvipanda commented on #3630
@fperez I'm guessing the slack messages i left you got lost in your notifications deluge - no worries. That package list wasn't enough, as we still have to manually find a way to update each version in https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/stat159/image/environment.yml and pick a new version.

Anyway, I wrote a small script that talks to the PyPI API and automates

[2022-08-25 01:20] minkerrschifrin opened #3633 "Retrieving older files for portfolio build"
### Email Id

minkerrschifrin@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/minkerrschifrin.tar.gz

[2022-08-25 01:32] fperez commented on #3630
Sounds perfect, thx! Yes, I actually had started writing the same script, so glad you did :) LMK when you have it, I'd love to see it...

[2022-08-25 02:06] yuvipanda commented on #3630
@fperez script is not clean enough yet, but here it is:

[code]

[2022-08-25 02:13] yuvipanda commented on #3630
@fperez also the comment you left was for the datahub image, while this is a *completely different* image - same as the stat159 one.

[2022-08-25 03:41] fperez commented on #3630
Nice, thanks!!! Good to see this - I looked around and couldn't find a clean way to get the conda version info. Is that REST API documented somewhere? Even now knowing it exists, I can't seem to find any docs...

In any case, this is the script I wanted, now you've written it, so we're good to go for future updates like this!  Many thanks.

[2022-08-25 03:42] yuvipanda commented on #3630
@fperez yes! https://api.anaconda.org/docs is where the API docs are.

[2022-08-25 03:44] fperez commented on #3630
Ah, good, thx! Various googling kept turning out conda packages for someone else's REST api! Thx :)

[2022-08-25 03:56] yuvipanda commented on #3630
@fperez of course, this has resulted in an environment.yml file that just doesn't resolve haha. For some reason it's trying to install python 2 versions of packages...

Do you need the following packages?

[code]

I'll try figure out how to resolve this shitshow, but if you don't need those in data100 that makes things simpler :D

[2022-08-25 04:06] yuvipanda commented on #3630
I'm upgrading just mpl and mpl-inline in https://github.com/berkeley-dsep-infra/datahub/pull/3634

[2022-08-25 04:16] fperez commented on #3630
No worries, can live without them for now, though it's weird you're getting issues with those...

FYI, these are the versions I have on my system (all py3):

[code]

 We may need cartopy/geopandas but half-way through the semester, so don't sweat it for now.

[2022-08-25 04:17] fperez commented on #3630
And I don't think we'll need geos/geotiff at all (unless cartopy pulls them in).

[2022-08-25 04:58] yuvipanda commented on #3630
@fperez ok, I've removed those packages for now. Can you ping us before you need them so we can add them at that time?

[2022-08-25 04:59] fperez commented on #3630
Will do, and only if we actually need them. I'll check. Thx so much!!

[2022-08-25 05:01] #3630 closed, assigned to felder, balajialg

[2022-08-25 05:01] yuvipanda commented on #3630
@fperez great!

[2022-08-25 06:32] martagberkeley opened #3637 "I need to retrieve my files to the datahub"
### Email Id

martag@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/martag.tar.gz

[2022-08-25 07:56] fperez commented on #3605
Done with the above PRs, thx!!

[2022-08-25 07:56] #3605 closed, assigned to felder, balajialg

[2022-08-25 07:59] fperez opened #3638 "Configure gh-scoped-creds for D100"
### Package Name

gh-scoped-creds

### Hub details

- Hub: Data 100

The package is already installed, but currently not configured:

![image](https://user-images.githubusercontent.com/57394/186608747-dbc3ef71-5620-4bb0-96a7-b62afc322d12.png)

### Course Name

Data 100

### Semester Details

Fall 2022

### Installation Deadline

Not super urgent - the students won't be using this, but I prefer as

[2022-08-25 08:51] Johnotn opened #3639 "Retrieve Previous Work/Files Stats"
### Email Id

jnt@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jnt.tar.gz

[2022-08-25 16:41] ryanlovett commented on #3630
@yuvipanda I wonder if it'd be easier to remove all version numbers so that conda figures out the compatibility of the "latest" versions, and then use --dry-run to see the versions that would get installed. I haven't tried that before.

[2022-08-25 16:47] yuvipanda commented on #3630
@ryanlovett yeah, or use something like https://github.com/conda-incubator/conda-lock

[2022-08-25 20:33] BryanZWu opened #3641 "Request"
### Email Id

bryanwu@berkeley.edu

### Link to Datahub Folder

- gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/bryanwu.tar.gz

[2022-08-25 20:33] isabellevazquez opened #3642 "Isabelle's Data Archive"
### Email Id

isabellevazquez@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/isabellevazquez.tar.gz

[2022-08-25 20:41] felder commented on #3638
@fperez looking at the documentation for this package, is this not something that is configured at the user level?
https://github.com/jupyterhub/gh-scoped-creds

[2022-08-25 20:45] felder commented on #3638
@fperez
Oh I see it's set here:

https://github.com/berkeley-dsep-infra/datahub/blob/be2ed2c32873c8c21b5ed4b44a005148e0ca2eb2/deployments/stat159/config/common.yaml#L53

https://github.com/berkeley-dsep-infra/datahub/blob/be2ed2c32873c8c21b5ed4b44a005148e0ca2eb2/deployments/stat159/config/common.yaml#L54

I can place a similar config in common.yaml for data100, however what should the values be se

[2022-08-25 20:52] felder commented on #3637
Signed URL sent!

[2022-08-25 20:52] #3637 closed, assigned to felder

[2022-08-25 20:54] felder commented on #3639
Signed URL sent!

[2022-08-25 20:54] #3639 closed, assigned to felder

[2022-08-25 20:55] felder commented on #3641
Signed URL sent!

[2022-08-25 20:55] #3641 closed, assigned to felder

[2022-08-25 20:56] felder commented on #3642
Signed URL sent!

[2022-08-25 20:56] #3642 closed, assigned to felder

[2022-08-25 20:58] felder commented on #3618
Signed URL sent!

[2022-08-25 20:58] #3618 closed, assigned to felder

[2022-08-25 21:00] felder commented on #3619
Signed URL sent!

[2022-08-25 21:00] #3619 closed, assigned to felder

[2022-08-25 21:03] felder commented on #3629
Signed URL sent!

[2022-08-25 21:03] #3629 closed, assigned to felder

[2022-08-25 21:05] felder commented on #3631
Signed URL sent!

[2022-08-25 21:05] #3631 closed, assigned to felder

[2022-08-25 21:06] felder commented on #3633
Signed URL sent!

[2022-08-25 21:06] #3633 closed, assigned to felder

[2022-08-25 21:16] fperez commented on #3638
Pinging @yuvipanda who's the author :)

[2022-08-25 21:23] fperez commented on #3638
@felder - this was configured for the 159 hub and works very well, but if I understood @yuvipanda correctly, it does need one step of initial configuration on your end for each new hub.

[2022-08-25 22:01] akisobaj opened #3643 "Retrieve old file"
### Email Id

Kjin1@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/kjin1.tar.gz

[2022-08-25 22:32] kylebouchet opened #3644 "Data Request"
### Email Id

kbouchet@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/kbouchet.tar.gz

[2022-08-26 00:31] fperez commented on #3575
BTW,  I never ended up requesting qgis in stat159 b/c we had enough geo tools in Jupyter proper and that wasn't the focus of the course, but this is another example of the value of a fully-configured desktop with a good collection of tools.

Our JMTE hub does have it installed, and  it works well! My gripes with it are:

- the latency can be a bit annoying on occasion
-  for serious use I think it

[2022-08-26 01:06] sdambrogia opened #3645 "Retrieve old datahub files"
### Email Id

sdambrogia@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/sdambrogia.tar.gz

[2022-08-26 03:35] balajialg commented on #3575
Thanks, @sitarn for your feedback on the hub URL. We are targeting mid-September for launching the new hub.

@fperez Personally, super excited about the opportunity to use the Linux desktop environment in yet another course fulfilling your vision of "live la vida nube". What is the computational resource provisioned for the JMTE hub? Apparently, @sitarn highlighted that latency was not a huge chal

[2022-08-26 04:46] fperez commented on #3575
Oh, latency is just a bit of an issue if you're on a lousy internet connection. Since pure jupyter tools have their UI client-side, the connection quality is in general less of an issue. But VNC, while very efficient, is still more sensitive to connection issues, as all UI interactions and changes need to travel in real time back and forth.

That's all - it's just in the nature of VNC, nothing mor