[2021-09-01 17:04] yuvipanda commented on #2107
okpy is no longer used. Is this still an issue, @samwu101?

[2021-09-01 17:36] #725 closed

[2021-09-01 17:37] yuvipanda commented on #784
This is present now.

[2021-09-01 17:37] #784 closed

[2021-09-01 17:37] yuvipanda commented on #1198
I think this is present now.

[2021-09-01 17:37] #1198 closed

[2021-09-01 17:54] yuvipanda commented on #1451
We already do this for notebook notary with https://github.com/berkeley-dsep-infra/datahub/blob/4f10eaea4d305f3364a3e92de388b37704bdec08/hub/values.yaml#L75. #2614 does this for historymanager too. Once that is merged we can close this.

[2021-09-01 17:57] echarles commented on #2533
No worries, we still have time for https://github.com/jupyterlab/jupyterlab/issues/10732. Let's first make sure all students have a correct JupyterLab to learn Data.

Please keep us in the loop on the specific reported issue. And also on any other issues (hopefully not). JupyterLab 3 has some major changes (python extension packaging, RTC, performance, ToC...). I have been part on some of them, an

[2021-09-01 18:33] balajialg opened #2664 "500: Internal Server Error while downloading notebook as PDF (via latex)"
### Bug description

**Issue as raised by faculty Scott Dreger:**

One student was having a problem downloading their notebook as a pdf (via latex). I have attached screenshots of the error. Apparently, download as pdf (via HTML) works for him. Both works for me and I am running 10.15 on a MacBook. The student is using a MacBook too but is running a new OS 11.2 I think.
<img width="988" alt="Scree

[2021-09-01 19:22] yuvipanda commented on #2664
Does it work for you with the exact same notebook? It's probably related to some content in the notebook.

Is the output from `download as pdf (via HTML)` acceptable? If so, I'd suggest they recommend students use it. It's far more robust than the latex method

[2021-09-01 19:39] balajialg commented on #2664
@yuvipanda I don't have access to the student's calnet id and have requested the same to access his server.

It seems your suggested approach was what they went with finally since this option was not working. Requested more details but yet to receive any inputs.

[2021-09-01 20:47] balajialg commented on #2664
I was able to replicate this [issue ](https://datahub.berkeley.edu/user/balajialwar/nbconvert/pdf/Jupyter%20Books%20Intro.ipynb?download=true)at my end and @ericvd-ucb could also replicate this issue! Access to his instance [here](https://datahub.berkeley.edu/user/ericvd/nbconvert/webpdf/88e-fa21/lec/lec01/EVANS60_Class.ipynb?download=true)

[2021-09-01 21:41] yuvipanda commented on #2533
@fperez it's deployed now

[2021-09-01 21:47] yuvipanda commented on #2664
Great! However, I generally consider LaTeX a scourge on civilization as it exists today. Can we tell them (and others) to just use `download as pdf (via HTML)` instead?

[2021-09-01 22:56] fperez commented on #2533
Awesome @yuvipanda, thanks so much! I pinged our infra folks so they can flag the students to restart any servers they have running before they run into the problem again.

[2021-09-01 23:01] fperez commented on #2533
And indeed @echarles - we have about ~1,100 students and a team of ~50 teaching assistants, so this is a pretty serious deployment. I'd been experimenting with Lab on previous editions of this course, and many students had chosen to use it, but we had never made it the default til now.

Over the last few months I did a fair amount of testing and convinced myself it would be sane to give it a try -

[2021-09-02 00:36] balajialg commented on #2663
@all - Closing this issue with the assumption and hope that you all are aligned with the agenda tomorrow!

[2021-09-02 02:42] samwu101 commented on #2107
I graduated and left the grading team right before our auto-grading system was revamped, so I'm not completely sure even though I would think this is no longer an issue. @Yanay1 or someone who worked on the grading team during the summer could probably answer this question.

[2021-09-02 03:43] echarles commented on #2533
Really really sorry for the troubles. This issue has been really annoying and generated by a set of circumstances. Please raise any other issue (if any), we are here to help.

[2021-09-02 03:59] echarles commented on #2533
A user has justreported 3.1.10 was fixing the issue https://discourse.jupyter.org/t/code-cells-not-rendering-on-jupyter-lab/10597/2

[2021-09-02 04:11] Yanay1 commented on #2107
I think students still occasionally see issues with long wait times for their notebooks to save, which affects otter grader as well. (I’ve also graduated).

[2021-09-02 05:24] fperez commented on #2533
No worries @echarles - fixed and deployed, and we're back on track :)

[2021-09-02 15:30] balajialg commented on #2664
@yuvipanda hahaha, funny! Eric connected me with the prof! He is yet to respond but will communicate your point once he does.

[2021-09-02 16:06] yuvipanda commented on #2663
@balajialg let's keep this open and then close it with action items from the meeting?

[2021-09-02 16:42] balajialg opened #2669 "Develop a plan for simplifying image management for our hubs"

[2021-09-02 16:48] yuvipanda opened #2670 "Provide policy for when course needs to get its own hub"
- [x] Define the policy for when a course gets its own hub
- [x] Figure out where our policy proposals reside

[2021-09-02 16:49] yuvipanda opened #2671 "Provide policy for when course needs to get its own hub"

[2021-09-02 16:50] balajialg commented on #2664
Links to a policy!

[2021-09-02 16:55] yuvipanda opened #2672 "Scale up data8 pool just before classes"

[2021-09-02 16:57] yuvipanda opened #2673 "Create issues for tasks we want to do in our head"
During the call, @ericvd-ucb mentioned several items that we intend to do but have no tracking tickets for:

- Migrating off the classic notebook
- Real-Time Collaboration plan
- Otter interfacing plan
- Where do we collate all our policies currently?
- Develop a policy for recommending users to download PDF as HTML rather than latext!
- ???

This issue is to just think of the things we want to do

[2021-09-02 17:22] yuvipanda commented on #2555
@balajialg we can also change the content on the datahub home pages.

[2021-09-02 17:23] balajialg commented on #2333
@yuvipanda Moved this issue to October Sprint! Let me know if that is okay for you.

[2021-09-02 17:24] balajialg commented on #2555
@yuvipanda Sounds great! thanks Yuvi

[2021-09-02 17:50] balajialg commented on #2669
@yuvipanda Are the labels for this issue accurate?

[2021-09-02 18:25] yuvipanda commented on #2333
@balajialg let's keep this out of the sprint boards - #2669 and #2670 can be in sprints, and we can close this when that's done. What do you think about that?

[2021-09-02 19:37] balajialg opened #2674 "Use Github action to schedule and close weekly updates"

[2021-09-02 20:19] yuvipanda opened #2677 "Investigate data100 503 errors"
From Andrew Lenz on Slack

There were many different issues provided, some which showed 503 and others exhibited themselves in other ways. We should track these, and fix them however we can.

I don't think most of them are due to lack of resources though, except for some kernel deaths.

[2021-09-02 20:25] yuvipanda commented on #2677
<img width="1422" alt="image" src="https://user-images.githubusercontent.com/30430/131911094-5bd95693-270a-4f31-91d6-0f1231c4e123.png">

Looking at server start times, I don't see anything too bad. I also don't see a lot of pending or waiting users

<img width="677" alt="image" src="https://user-images.githubusercontent.com/30430/131911299-70bfcfeb-5cef-413b-93f1-b501061140c1.png">

<img width="68

[2021-09-02 20:51] #2674 closed, assigned to nobody

[2021-09-02 21:59] yuvipanda commented on #2677
A bunch of different issues were reported!

![image](https://user-images.githubusercontent.com/30430/131921194-e9f0e9c6-8d45-47a7-bd31-eb3ee3cdfd37.png)

is one.  I haven't seen this one before, and there were several users reporting this. This is perhaps also a race condition between the multiple user schedulers we had, and could be fixed by #1817. Let's wait and watch to see if there are more re

[2021-09-02 22:09] yuvipanda opened #2684 "Document our idle culling policy"
Currently, if you leave your notebook unattended for 60min or so it'll shut down. We don't actually have this publicly documented anywhere! We should also document what happens when it does shut down, and how to get it back.

[2021-09-02 23:06] felder opened #2685 "Write documentation and policy for handling archived data retrieval requests"
Let's figure out a process for archived data retrieval requests as well as how to service them.

I'm thinking the easiest way is to generate signed URLs and send those to people making the requests so that they can retrieve their data.  Signed URLs restrict access by requiring the person to have the full URL in question and they automatically expire (max time is 7 days).

However, we need to make

[2021-09-02 23:06] felder opened #2686 "Document process for data retrieval."

[2021-09-02 23:06] felder opened #2687 "Document policy for data retrieval."

[2021-09-03 00:19] balajialg commented on #2685
Thanks, @felder for taking the first crack at it. SLA request for data archival linked to [2536](https://github.com/berkeley-dsep-infra/datahub/issues/2536).

[2021-09-03 00:30] balajialg commented on #2685
Few questions for policy and process documentation,

1. What is the process for students and staff to raise this request? Who handles such requests from our team side?
2. What are the timelines for which generally store data and can share as a result? What kind of data can we share back with students? How do we ensure student privacy for such requests?
3. What information can we share with student

[2021-09-03 01:21] fperez opened #2688 "CRITICAL: D100 hub completely dead/unusable for a handful of users"
### Bug description

Hi team,

We have a critical problem (fortunately only affecting right now very few students). As seen on this screenshot, the student's home directory appears empty, and no code can be run from the currently open notebooks:

![image](https://user-images.githubusercontent.com/57394/131935053-9e78c291-6fcf-4800-bb0d-9d8cdbac7117.png)

We tested opening Classic too and it simila

[2021-09-03 05:14] ryanlovett opened #2689 "Cleanup /tmp in datahub image"
### Bug description

There's a lot of empty directories in /tmp as well as others containing tarballs from R package installation. The size of /tmp was 119M for one user. It might be good to clean up /tmp towards the end of the Dockerfile. On some occassion it might be helpful to know what the image creation put in /tmp versus what the user's processes put there.

### Environment & setup

- Hub: D

[2021-09-03 05:27] ryanlovett commented on #2688
@fperez chenh's server was being affected by something that was being automatically launched by the workspace. The right most tab said `Executing 35 of 72` so I thought it might be DOS'ing itself. I stopped their server and moved aside their workspace file from ~/.jupyter/lab/workspaces/ to ~/. On restart, their workspace was vanilla, but the files were showing in the left side listing. I'll leave

[2021-09-03 05:38] ryanlovett commented on #2688
The same thing happened with the second student, however they had two workspace files. I moved them both aside as well and was able to start their server.

I don't know why the problematic tabs were hanging, or why they were impacting the jupyter server in that way.

If this happens again, the gsi should go directly to the student's /tree listing so that it doesn't start lab and the problematic as

[2021-09-03 05:44] ryanlovett commented on #2688
Looks like lab can reset the default workspace automatically via /lab/workspaces/lab?reset, https://jupyterlab.readthedocs.io/en/stable/user/urls.html#resetting-a-workspace. Might be worth trying next time.

[2021-09-03 06:16] ericvd-ucb opened #2690 "using gspread for Google Sheets to Pandas does not work"
### Bug description

I am trying to follow along the documentation here
https://docs.datahub.berkeley.edu/en/latest/services/google-sheets.html

I have an old notebook from like 2019
and I can't get it to work
https://datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fdata-88e%2Fecon-fa19&urlpath=tree%2Fecon-fa19%2Fwk03%2FDemand_Survey.ipynb

Has this service been disc

[2021-09-03 06:53] fperez commented on #2688
Thx a lot @ryanlovett! I think that spinner we saw was a Voila run - we don't need Voila on this hub and I'm not sure why it's even installed in the first place...

Thanks for the debugging tips! Quick q - how did you manage their files with a stopped server? Were you working on their filesystem from another location?

[2021-09-03 07:06] github-actions[bot] opened #2691 "Weekly Update - Friday, September 3rd"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-09-03 07:08] ryanlovett commented on #2688
@fperez No problem. Yeah, I used the Google cloud console to ssh into the NFS server containing everyone's files.

[2021-09-03 07:12] fperez commented on #2688
Ah, understood - I don't think that hook is available to us. We have JupyterHub admin accounts, but not GCP console access. And that's fine! I'm not asking for it, just understanding how you worked out the file cleanup with a deadlocked hub. Thanks!

[2021-09-03 07:16] ryanlovett commented on #2688
I think you can start the user's server by visiting the user's `/lab/workspaces/lab?reset` to reset the workspace. (just based on the docs -- I haven't tried it) Alternatively you can start the user's server by visiting their /tree so that lab doesn't start, then do the file manipulation.

[2021-09-03 07:27] fperez commented on #2688
Those are great tips - and I wasn't aware of the lab [reset URL api](https://jupyterlab.readthedocs.io/en/stable/user/urls.html#resetting-a-workspace), big thanks for pointing that out!

And thx for the reminder on `/tree`- I used to always get classic like that, then got used to hopping to it from the Lab menu and forgot about that option! And today, with a wedged server (where the menu wasn't wo

[2021-09-03 07:34] ryanlovett commented on #2688
It looks like data100 [uses the same user image](https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/data100/hubploy.yaml#L3) as the main hub and the r hub, and Voilà was recently added via https://github.com/berkeley-dsep-infra/datahub/issues/784.

[2021-09-03 08:00] fperez commented on #2688
Thx, no problem - we can monitor and if it causes problems again (for us or any other hub) we can see if anyone is actually using it this term. But if it doesn't happen again, it's no biggie. I suspect what happened was that the student accidentally clicked on the Voilà button or did so out of curiosity. It's not like we ask them to set up a Voilà server on Lab 1 of the semester :)

[2021-09-03 11:09] yuvipanda commented on #2688
Hello! Thanks for helping handle this, @ryanlovett!

My suspicion is that something happened in voila that locked up the main thread and this stopped the server from being able to handle *any* requests (yay async programming?). I don't know if anyone is actively using voila but let's turn it off for just now

[2021-09-03 11:13] yuvipanda commented on #784
Voila was removed (see https://github.com/berkeley-dsep-infra/datahub/issues/2688#issuecomment-912457069).

[2021-09-03 11:41] yuvipanda commented on #2685
The archiver left a file in users' home directories with this template content: https://github.com/yuvipanda/homedir-archiver/blob/dae7f5bc9e3527238c556717f70de5b997574568/archiver/scanner.py#L17. I picked the email because it preserves student privacy. Longer term, we should instead try to make this entirely self serve...

[2021-09-03 11:54] yuvipanda opened #2693 "Automatically watch for errors in our infrastructure logs"
https://cloud.google.com/error-reporting can help us watch for exceptions in various parts of our infrastructure (like hub, notebook users, etc). We can stop relying 100% on user reports for noticing errors this way.

[2021-09-03 11:56] yuvipanda commented on #2693
It's already set up actually! https://console.cloud.google.com/errors

[2021-09-03 11:58] yuvipanda commented on #2693
I don't see the 503s from hub pods there though.

[2021-09-03 12:56] yuvipanda commented on #2688
Please report again if you run into this? I'd also appreciate help in:

1. Reproducing this,
2. Reporting this upstream to voila

[2021-09-03 12:56] #2688 closed, assigned to nobody

[2021-09-03 15:33] ericvd-ucb commented on #2690
I found this https://github.com/berkeley-dsep-infra/datahub/issues/1902
Ill check the syntax there

[2021-09-03 16:45] balajialg commented on #2688
Thanks, @ryanlovett, and @yuvipanda for fixing this critical issue!

[2021-09-03 18:06] fperez commented on #2688
Thx @yuvipanda - I'll open an issue in Voilà, but for now unfortunately it will be super-vague, as I don't know exactly what triggered it, and my attempts to cause it with the same files the student had open didn't reproduce the problem.

But it might tickle the brain of one of the Voilà devs, who knows...

[2021-09-03 18:08] JiashuLiang opened #2695 "Could not use armadillo library of C++"
### Bug description

When I try to use the armadillo library of C++, g++ will report this error:

`(notebook) jovyan@jupyter-jsliang:~/Discussion/Dis2$ g++ -o arma arma.cpp `
`arma.cpp:2:10: fatal error: armadillo: No such file or directory `
`2 | #include <armadillo>`
`compilation terminated.`

### Environment & setup

- Hub:  ~~Datahub~~ eecs
- Language: C++,

### How to reproduce
1. [Link](http

[2021-09-03 20:15] Elias326 opened #2696 "Request python package genomics for class IB 105 / ESPM 125"
**Which package do you want installed?** genomics. For reference: (https://github.com/drewhart/geonomics)

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.** Datahub

**Which class will use this package?** IB 105 / ESPM 125

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructo

[2021-09-03 20:36] balajialg commented on #2690
@ericvd-ucb Were you able to get it to work? this is a good nudge to update our documentation!

If it's time-sensitive, I can share an R code that authenticates with the google server and reads from google sheets. Tested it in Datahub. Let me know!

[2021-09-03 20:37] felder commented on #2696
https://pypi.org/project/geonomics/

[2021-09-03 20:38] balajialg commented on #2695
**Additional Context**: Professor has an assignment next week and wants to get this library to work so that students have a seamless experience.

**Pasting the email received:**
_Jiashu tried to link with armadillo on the datahub and g++ couldn't find either the include files or the libraries. Students have  homework due in a week and they need to use this library. Please, could you check with/tal

[2021-09-03 20:46] felder commented on #2695
@balajialg

Looks like armadillo is available as a system package.

[code]

So assuming this version of the package is ok and the system g++ is what's being used, it seems feasible.

@yuvipanda would adding the above to the list of packages apt installs for the datahub image be the reasonable course of action here?

[2021-09-03 20:52] felder commented on #2695
It seems quite likely that above is correct since I believe on datahub the g++ being called is the system one:

[code]

[2021-09-03 21:02] felder commented on #2695
@balajialg what class is this for, how long do they need it, etc? basically this should've been filed using the package-request template as that's really what's being asked for here.

[2021-09-03 21:15] felder commented on #2695
I'm going to bundle this in with the same commit for #2696.

It seems unlikely installing this will break anything even if it is not the right thing to do.  Depending on how long the build takes, I may not get this into prod before Tuesday.

[2021-09-03 22:13] balajialg commented on #2695
@felder this is fantastic! thank you so much for taking your time to do this. You are right, it should have been a package request than a bug.

**Course Details:**
Server Engineering for Scientific Computing class as part of Master of Molecular Science and Software Engineering (MSSE) degree program at the College of Chemistry

Most likely, they need it for the entire semester!

[2021-09-03 22:49] balajialg commented on #2570
All,

Created the first version of the [FAQ](https://balajialg.github.io/Datahub-Test-Repo/onboarding.html) Jupyter book! I would love for you all to review and share inputs wherever you feel the information needs to be tweaked.

[2021-09-03 23:07] balajialg commented on #2685
@felders's points

1. Are we only going to provide URLs or optionally restore the files directly to the hub?
2. Also I think we may want to only consider each request resolved when the private key created for the task is removed from the service account (edited)

[2021-09-03 23:09] felder commented on #2685
Alternatively is there a better way to do this that doesn't involve generating and exporting private keys from the service account?

[2021-09-03 23:16] felder commented on #2686
I sent over some signed urls to the people requesting their data and typed up some notes as I went along which I shared with @balajialg

[2021-09-03 23:20] felder commented on #2695
It's going to be another hour before this makes it to staging.

I probably will not test this in staging until Tuesday morning.

[2021-09-04 19:22] dbroockman opened #2699 "Give admin access"
@ericvd-ucb suggested I file a GitHub issue to ask that me and Ian Castro get access to admin access to Datahub so we can restart our students' servers.

[2021-09-05 05:29] dbroockman opened #2700 "Request update of `ottr` R package for class PS 3"
**Which package do you want installed?**
`ottr` was recently updated to 1.1.1.

`devtools::install_github("ucbds-infra/ottr@stable")`

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
r.datahub

**Which class will use this package?**
PS 3
Fall 2021
Prof David Broockman

**Which semester will this package be used for?**
Fall 2021 and Spring 2022

**A

[2021-09-05 18:39] yuvipanda commented on #2700
Thanks for opening this! We should pin this to 1.1.1 (instead of `@stable`) so we can force an image rebuild when bumping version.

[2021-09-05 18:42] #2700 closed, assigned to nobody

[2021-09-07 11:57] yuvipanda commented on #2691
**Thanks I'd like to give 🙌**
- To @balajialg for helping structure and organize our team process, slowly helping bring collective order to chaos.
- To @felder for handling data archival requests and working on policies for them
- To @ryanlovett for debugging a data100 issue https://github.com/berkeley-dsep-infra/datahub/issues/2688

**Updates from last week ✔**
- I am continuing to focus on https

[2021-09-07 15:55] balajialg commented on #2691
**Thanks I'd like to give 🙌**

- Thanks, @yuvipanda, for kickstarting this written process around team communication. Appreciate it! Also, for continually improving the infra to handle the scale at which we are operating. Please take care of your health!
- Thank you so much, @ryanlovett, for the reasons Yuvi had highlighted above.
- Thanks, @felder, For being so flexible in troubleshooting and sol

[2021-09-07 16:14] #2696 closed, assigned to felder

[2021-09-07 16:35] balajialg opened #2714 "Otter export failed due to a chinese font Issue!"
### Bug description

Data 100 team reported this error through their Piazza channel over the weekend!

(/usr/share/texlive/texmf-dist/tex/latex/titling/titling.sty)
(/usr/share/texlive/texmf-dist/tex/latex/tools/longtable.sty)
(/usr/share/texlive/texmf-dist/tex/latex/booktabs/booktabs.sty)
(/usr/share/texlive/texmf-dist/tex/latex/enumitem/enumitem.sty)
(/usr/share/texlive/texmf-dist/tex/generic/ul

[2021-09-07 17:07] balajialg commented on #2686
Thanks, @felder for the detailed [write-up](https://docs.google.com/document/d/12QeFuYFDONvQTI4Nrhin88sGqfk7leuGyMQdFo-zsDk/edit)! Appreciate it!

**Couple of questions,**

1. In general, How much time does it take to share the data for a student request?
2. From a back-of-the-envelope estimation, How hard is it to automate such requests using scripts for the future? Is this something feasible and

[2021-09-07 17:18] balajialg commented on #2231
@yuvipanda Just bringing this issue back for discussion! Is this something we could scope for this sprint?

[2021-09-07 17:25] balajialg commented on #2536
I went through the previous issues to get a sense of the time it takes for us to respond to repetitive requests from our users! I considered the average time it took to honor such requests and the maximum time to honor a specific request. Let me know if this is something we can define as SLA going forward?

1. SLA for package installation: **Within three working days**
2. SLA for admin access: **W

[2021-09-07 18:29] felder commented on #2714
Yeah this error is quite confusing.  The issue is the font is actually missing, but the error suggests the name is wrong.

Apparently when a font is missing, tex defaults to another name.

I think the solution of apt installing texlive-lang-chinese is the right way to go:

https://packages.ubuntu.com/focal/all/texlive-lang-chinese/filelist

[code]

If that fails, I can look into the solution outli

[2021-09-07 18:31] balajialg commented on #2699
@dbroockman Provided Admin access to requested users!

[2021-09-07 18:31] #2699 closed, assigned to balajialg

[2021-09-07 18:54] felder commented on #2695
Works!

[code]

[2021-09-07 18:56] balajialg commented on #2693
@yuvipanda This is an awesome improvement! I have the following questions/suggestions,

- Is there a way to configure this reporting to provide custom messages about the hub that faces the issue? I would like us to get to a stage where anyone in our team can monitor these reports reliably and can send outreach to the teaching team when there is an outage in a specific service/hub.
- Can we set up

[2021-09-07 19:04] felder commented on #2691
**Updates from last week ✔**
- Handling a variety of support queries such as package issues and archived data retrieval requests

**My availability for next week**
I am available throughout the week!

[2021-09-07 19:10] balajialg commented on #2695
Thanks a lot @felder! This is awesome work.

@JiashuLiang Feel free to reopen this issue if there are issues!

[2021-09-07 19:12] felder commented on #2536
@balajialg these seem reasonable to me assuming the SLA provides for tricky requests.  Sometimes package requests aren't always quite what they seem to be.

[2021-09-07 19:17] balajialg commented on #2536
Fair enough! What do you prefer? ​Keep the time limit the same but add a statement that this timeframe is under the assumption that,

1. Users have tested it in their datahub instances and package installation didn't cause any issues
2. Have provided complete information on the package/version dependencies.

Does that make sense?

[2021-09-07 19:23] felder commented on #2536
@balajialg I think the way to go might be to add a support response time to the SLA such as "all requests will be acknowledged within some number of working days."  Then we can perhaps specify estimated times to service various requests without making firm commitments.

Ideally with a well oiled support process, there will be piazza and/or github issues where customers can track the progress.

[2021-09-07 19:33] JiashuLiang commented on #2695
I still have this problem. Is it because my environment is wrong?

[code]

[2021-09-07 19:42] felder commented on #2695
@JiashuLiang which hub are you doing this in?  Your report says datahub.

When l login to https://datahub.berkeley.edu and type "which g++", I get /usr/bin/g++ pointing to g++-9.

[2021-09-07 19:46] felder commented on #2695
Looking at the link you posted...you're not using datahub...

You're using eecs hub.  That would be the problem.

[2021-09-07 19:48] felder commented on #2695
@balajialg @yuvipanda I don't know how to handle these issues which require conda packages since we typically have linking issues when we add conda packages.

[2021-09-07 20:19] balajialg commented on #2695
@felder - I am trying to understand the issue better, Is the fix you made in Datahub not replicable in the EECS hub?

[2021-09-07 20:19] JiashuLiang commented on #2695
I am sorry that I thought eecs datahub was just datahub at that time.

[2021-09-07 20:21] balajialg commented on #2695
@JiashuLiang I can understand why it would be confusing! By when do you need the hub for your classes?

[2021-09-07 20:35] felder commented on #2695
@balajialg that is correct because EECS hub does not use system packages for g++.

[2021-09-07 20:36] JiashuLiang commented on #2695
@balajialg My students have used eecs datahub now. For this week, the armadillo is not necessary though it will be better if we can use it. But for the class next Thursday, we have to use it.

[2021-09-07 20:40] JiashuLiang commented on #2695
If armadillo could not be installed in eecs.datahub, we can move to datahub.
But there are two classes, one needs armadillo, another needs GUI and emacs to teach students gdb. Can Datahub provide both?

[2021-09-07 21:07] felder commented on #2695
@JiashuLiang I'm not certain a migration to datahub is required.  Let's see what @yuvipanda has to say about installing c++ libraries via conda first.  It looks like we have about a week to figure this out.

[2021-09-07 21:14] felder commented on #2695
What is a bit disconcerting about this, is I believe armadillo is already slated to be part of the conda installation.

https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/eecs/image/environment.yml#L24

[2021-09-07 21:39] felder commented on #2695
armadillo is indeed already installed.

[code]

Now knowing that, I did a bit of googling and came across passing -I to g++.

This time (on eecs hub):

[code]

@JiashuLiang let me know if that works for you.

[2021-09-07 22:08] balajialg commented on #2695
@felder Thanks for the hack! I accessed @JiashuLiang's instance and ran the code for the highlighted program. Sharing a snapshot of what I saw,

![image](https://user-images.githubusercontent.com/2306166/132416926-0611bc40-821a-47a6-83a1-31938e07d2c1.png)

It seems like the armadillo issue is gone! @JiashuLiang, please confirm!

[2021-09-07 22:09] felder commented on #2686
@balajialg

1.  About 15 minutes.  It's a pretty quick task.
2. I think this is something that could be automated to be self serve.  It would ideally be calnet authenticated which would remove us from needing to verify the requests while also ensuring the student only can request their own files.  However, that might present some edge cases such as a student who no longer has hub access needing to

[2021-09-07 22:10] balajialg commented on #2536
Makes sense! I am comfortable adding that - "all requests will be acknowledged within three working days" for at least package requests as part of our SLA!

[2021-09-07 22:16] balajialg commented on #2686
@felder Thanks for the info! We can definitely handle edge cases the way we handle them right now. I can create a GitHub issue for automating such requests and add it to the [project board](https://github.com/berkeley-dsep-infra/datahub/projects/1) backlog!

[2021-09-07 22:52] #2691 closed, assigned to nobody

[2021-09-07 23:21] JiashuLiang commented on #2695
Thanks a lot for your help! The problem is solved. By the way, "-larmadillo" command is needed otherwise there will be other bugs.

![image](https://user-images.githubusercontent.com/61406031/132422349-0e68f416-944b-4af8-b7cb-bd141049ba6c.png)

[2021-09-07 23:22] JiashuLiang commented on #2695
By the way, could you also help me update the GitHub version of eecs datahub?

[2021-09-08 00:46] felder commented on #2695
@JiashuLiang I'll open another issue for your request, can you comment in that issue for what version of github you need?

[2021-09-08 00:46] #2695 closed, assigned to felder

[2021-09-08 00:47] felder opened #2717 "Newer git for eecs hub"
**Which package do you want installed?**

newer git

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

eecs

**Which class will use this package?**

Server Engineering for Scientific Computing class as part of Master of Molecular Science and Software Engineering (MSSE) degree program at the College of Chemistry

Include a link to appropriate entry i

[2021-09-08 00:50] felder commented on #2717
@JiashuLiang

Can you please comment here with what version of git you require or what functionality you require that is currently missing?

Also do you have a link to your class in https://classes.berkeley.edu ?  Lastly, is this just for Fall 2021?

[2021-09-08 00:51] felder commented on #2695
@JiashuLiang see #2717

[2021-09-08 02:05] JiashuLiang commented on #2717
Any version >=2.28 is acceptable. It's for Chem 279:
https://classes.berkeley.edu/content/2021-fall-chem-279-001-lec-001

I am not sure whether the GSI next year will use it but I think they will prefer the latest version.

[2021-09-08 10:37] yuvipanda commented on #2717
You can probably install it via environment.yml, as it is present in conda-forge

[2021-09-08 10:53] yuvipanda commented on #2536
Package requests and RAM requests can require a bunch of extra work, so let's set SLAs for those to be 'acknowledge'. 2 days maybe?

Admin access and data archival should be more straightforward though, as all information required should be acquired from the user during an initial form. Perhaps for those, we can set SLAs for completion?

[2021-09-08 14:52] yuvipanda commented on #2536
For admin access, for example, we can design a form that requests the following information:

1. Name of Hub
2. List of usernames
3. End date (defaults to end of current semester)

We will somehow then need to determine that the requestor is authorized to provide us this list of usernames. If we can do all this, *then* we can have a SLA that we can actually meet. So I guess the SLA should be deter

[2021-09-08 16:59] balajialg commented on #2536
Great points @yuvipanda!

**Editing SLA's based on your inputs:**
SLA for package installation: "Acknowledgement within two working days."
SLA for RAM increase: "Acknowledgement within two working days."
SLA for admin access: "Request completed within two working days."
SLA for data archival request: "Request completed within three working days."

For admin access, I will create a new template tod

[2021-09-08 17:24] felder commented on #2714
I went here:
https://data100.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2FDS-100%2Ffa21&urlpath=lab%2Ftree%2Ffa21%2Fhw%2Fhw2%2Fhw2.ipynb&branch=main

opened a terminal and ran:
[code]

out.pdf was created with no errors reported, so I assume that means this is fixed.

[2021-09-08 17:54] balajialg opened #2722 "Streamlining Data Archival Requests"
# Summary
We currently get around 5-10 requests every month from students to retrieve their previous semester's worth of data. Some of the common challenges encountered while servicing such requests are,

- Students request their previous semester's or year's worth of data. Currently, We don't have a clear policy around how many semesters' worth of data can be archived and shared. As a result, we

[2021-09-08 17:56] balajialg commented on #2714
Input from Data 100 User Anirudh!

**Ah sorry wasn't aware that you were unfamiliar. You would have to run the very first cell at least to run the last one. It does seem to have worked. Thank you!**

Closing this issue as a result. Thanks @felder

[2021-09-08 18:25] felder commented on #2717
Ran `conda install -c conda-forge git` on my server in staging which succeeded.

Verified it was picked up by my $PATH and was >= 2.28

[code]

[2021-09-08 18:38] balajialg commented on #2690
@ericvd-ucb Closing this assuming #1902 was helpful! Please feel free to reopen this issue if it is not.

[2021-09-08 18:39] #2690 closed, assigned to nobody

[2021-09-08 18:41] balajialg commented on #2663
Action items added to the September Sprint Board!

[2021-09-08 18:41] #2663 closed, assigned to yuvipanda, felder, ryanlovett, ericvd-ucb

[2021-09-08 18:44] balajialg commented on #2664
Has a policy/feature implication,

- Feature: Sunset the download via Latex feature?
- Policy: Recommend users to use download PDF via HTML!

[2021-09-08 18:45] balajialg commented on #2693
#2601

[2021-09-08 18:57] balajialg commented on #2619
@felder **Not a priority;**
When you have some time, would it be possible to explore Piazza templates for bug reporting? I see this as an immense value add for using Piazza if it is something that we could configure within the tool. Also, This was one of our next steps from our backlog meeting (correct me if I am wrong) and links to an #2634 issue raised by Eric during the Tech Strategy Meeting.

[2021-09-08 19:00] #2230 closed

[2021-09-08 19:02] aculich commented on #2231
I would love to see that if possible! Thanks for bringing this back on the
radar, Balaji!

[2021-09-08 19:08] #2114 closed

[2021-09-08 19:09] #2123 closed

[2021-09-08 19:17] felder commented on #2717
Tested in staging, works!

[2021-09-08 20:06] champoll commented on #2714
I think this issue should be reopened. After upgrading otter from 3.0.6 to 3.1.1, a notebook that previously compiled without problems (using otter assign) no longer did so. I ran into the same issue and was unable to fix it using the method at https://github.com/ucbds-infra/otter-grader/blob/master/Dockerfile#L45-L51 because I don't have rights to write to /usr/share. Running the first cell of th

[2021-09-08 20:12] felder commented on #2714
@champoll can you give you me steps to reproduce the issue you're talking about?

[2021-09-08 20:17] cboettig commented on #1789
@yuvipanda Seems we still cannot access ftp resources from data hub?

Ironically/thankfully that famous CO2 data is now on https, but loads of stuff is still on FTP.  e.g. I cannot seem to access this classic sea ice data, ftp://sidads.colorado.edu/DATASETS/NOAA/G02135/north/daily/data/N_seaice_extent_daily_v3.0.csv on r.datahub.berkeley.edu, though works fine from my machine.

[2021-09-08 21:00] fperez commented on #2714
Thx for the report @champoll! Can you point us to the notebook that is giving you trouble so we can try to track this down?

[2021-09-08 21:49] felder commented on #2717
`git --version` reports 2.33.0 in prod.

[2021-09-08 21:49] #2717 closed, assigned to felder

[2021-09-08 22:04] champoll commented on #2714
[assignment01-Copy1.ipynb.zip](https://github.com/berkeley-dsep-infra/datahub/files/7132035/assignment01-Copy1.ipynb.zip)
To reproduce, run "otter assign assignment01-Copy1.ipynb dist".

Running Python 3.8.5.

[code]

[2021-09-08 22:08] felder commented on #2714
@champoll what hub are you doing this on?  Your environment does not look typical for one of our hubs.

[2021-09-08 22:10] champoll commented on #2714
It's on an instance of Jupyterhub provided by my university (NYU). Is there a command I can run whose output would help you?

[2021-09-08 22:12] felder commented on #2714
@champoll are you perhaps commenting in the wrong issue?  This issue is specific to UC Berkeley managed jupyterhubs.

If you're referring to an issue with otter, that is not managed by this team.  You'd need to open an issue with the otter team.  Perhaps https://github.com/ucbds-infra/otter-grader ?

Alternatively if the issue is with a missing font, you'd need to contact whomever is responsible f

[2021-09-08 22:15] champoll commented on #2714
Oh sorry! I was on the wrong github. I'll open an issue on the otter github.

[2021-09-08 22:16] felder commented on #2714
@champoll ok no worries, closing.

[2021-09-08 22:16] #2714 closed, assigned to felder

[2021-09-08 22:29] balajialg commented on #2714
@felder @yuvipanda @ericvd-ucb This is something to consider from a support process perspective (For us and Otter). For a new user, it may be hard to differentiate whether an issue is because of otter/jupyterhubs service. This has happened at least 3 times in the past 2/3 weeks.

[2021-09-08 22:33] felder commented on #2714
@balajialg yes it's been a consistent issue which I think we need to somehow clarify as part of our support process.  Additionally I think it would be wise to have a representative of the otter team as well as the data8x team be present at some if not all of our operational meetings.

In addition to the otter vs jupyterhub support confusion, we probably could use better coordination from the teams

[2021-09-08 23:07] felder commented on #2722
I'd say the user story here should be modified.

_As a current or former datahub user, I'd like to retrieve a copy of my archived files._

I believe accounts are only archived after 12 months of inactivity.  So it's more than just the previous semester.  In fact it's also possible requests could come in from people who have graduated!

[2021-09-09 00:31] balajialg commented on #2714
@felder Yes, If we all think this is a consistent challenge and believe there has to be a better way of doing this.
Then, I am thinking, why not have a common Tier I support system for otter and jupyterhub to start with. Then, if someone could parse such requests and redirect them to the relevant folks, that could be valuable for our users and for both the team.

[2021-09-09 00:42] balajialg commented on #2722
@felder Thanks for the correction, Updated!

[2021-09-09 00:57] balajialg commented on #2570
@felder Yes, If we all think that users discerning otter and Jupyterhub issues correctly is a consistent challenge and believe that there has to be a better way of doing this.
Then, I am thinking, why not have a common Tier I support system for otter and jupyterhub to start with. Then, if someone could parse such requests and redirect them to the relevant folks, that could be valuable for our user

[2021-09-09 01:06] JiashuLiang commented on #2717
Get it! Thanks a lot for the help these days! @felder

[2021-09-09 02:40] ericvd-ucb commented on #2714
FWIW I was just talkign to the Otter team - and they want people to send issues to the Otter slack where multiple people can check. them out

[2021-09-09 02:47] chrispyles commented on #2714
Or (for bugs etc. as opposed to more general questions), preferably open a issue on the Otter repo: https://github.com/ucbds-infra/otter-grader

[2021-09-09 07:55] yuvipanda commented on #1789
@cboettig yeah, I think due to the way FTP requires *arbitrary* ports to be open, it's difficult to allow in a setup like ours. Most protocols (HTTPS, SFTP, etc) require *one* outbound port to be open. FTP however, doesn't know which port needs to be open until the ftp command is run, so it's hard for us to allow them explicitly in config here. So it'll be difficult to enable FTP without opening a

[2021-09-09 08:21] yuvipanda commented on #2622
Spot checking a couple of users, I see that at most about 600MB (of 1GB) of SSD is used by postgres data, while only about 500M or so (of 20GB!) of standard disk is used by mongodb data! I think next time we do this, we can reduce the size of the mongodb data.

[2021-09-09 08:29] yuvipanda commented on #2536
yep - and for all of these, the time should start from when we have complete information needed to perform the action.

[2021-09-09 08:30] yuvipanda commented on #2722
In the long run, it might be nice to just have a URL in the note we leave the user that they can use to fetch the files themselves, without any involvement from us whatsoever.

[2021-09-09 08:32] yuvipanda commented on #2422
@Yanay1 @ericvd-ucb all the blockers we have identified have been fixed. Can we try giving it a shot again?

[2021-09-09 13:09] yuvipanda commented on #2664
yeah, I'd like both of these things to happen.

[2021-09-09 13:35] yuvipanda commented on #2693
Yeah, I think a lot of the errors here are false positives, and it's not catching most actual errors. A deep dive here is needed to understand this product, see if it's actually helpful to us, and how we can use it. I have never seen that page until I opened this issue, so I don't know much about it yet.

@felder do you think this is something you might be able to tackle?

[2021-09-09 13:39] yuvipanda commented on #2669
Ah, I almost never use labels in issues as I find them mostly very ambiguous. If those are helpful to you, then I'm happy to keep them here!

[2021-09-09 16:26] cboettig commented on #1789
Thanks @yuvipanda.  at least good to confirm I'm not crazy here.  I'd just mirror copies of these data, but despite the ancient technology involved these are mostly streaming datasets, so we need to keep hitting the ftp to get the latest stuff. We might just throw a github action into the student repos that grabs the data... (at least unlike travis, github seems to enable FTP).

[2021-09-09 17:51] balajialg commented on #2722
@yuvipanda Exactly, that's the ideal endpoint for this user story. We should not be involved in user's requests for their data!

[2021-09-09 18:00] balajialg commented on #2669
@yuvipanda Yes, it will be helpful for me if we keep adding labels. I am mostly using labels as a proxy for the complexity of the task involved (which I suppose is not accurate).

[2021-09-09 20:15] felder commented on #2693
@yuvipanda yeah I can take a crack at it

[2021-09-09 20:18] felder commented on #2689
@yuvipanda would it make sense to slip in a rm -rf /tmp/* at the bottom of the Dockerfile or is there actually stuff there that's necessary?

[2021-09-09 21:04] felder opened #2732 "Procedure for semesterly package requests"
# Summary

Every semester we get requests to install packages for various classes.  Some of these classes may not be taught every semester, some packages may only be needed for a particular assignment, or we may upgrade the base image to a new version of ubuntu that provides the updated package.  As a result, at the end of the semester we have a number of package installations that we're not certa

[2021-09-09 21:43] balajialg commented on #2714
thanks, @ericvd-ucb, and @chrispyles!

@chrispyles Just a suggestion, It would be helpful to figure out a way where the team here gets a short update on the future otter releases. It will make things easy from the perspective that we can quickly escalate the issues to the Otter channel when we have a better intuition of the changes that got made in the recent release. Eg: Otter latex requiring fan

[2021-09-10 01:15] balajialg commented on #2536
@yuvipanda Makes sense!

[2021-09-10 01:50] balajialg opened #2733 "R Hub stalling on launch!"
### Bug description
As reported by Eric VD,

![Image from iOS](https://user-images.githubusercontent.com/2306166/132785800-af2a3997-197f-4508-af2c-8ad49f601ee7.jpg)

### Environment & setup

- Hub: R Hub
- Language: R

### How to reproduce

[2021-09-10 05:57] yuvipanda commented on #2733
https://classes.berkeley.edu/content/2021-fall-polsci-3-001-lec-001 has about 300 students, I'm going to add it to the scale up calendar as suggested by @ericvd-ucb. This is them waiting for new nodes to come up.

[2021-09-10 06:04] yuvipanda commented on #2733
Added to calendar! https://calendar.google.com/calendar/u/0/r/eventedit/NWQ1Z3RtN2M5NzdjNjhpaGptbGlwa3JqdDBfMjAyMTA5MTRUMjM1MDAwWiBjX3M0N20zbTFudWozczgxMTg3azNiMmI1czVvQGc

[2021-09-10 06:05] yuvipanda commented on #2733
Let's close this after we validate that their next class goes ok?

[2021-09-10 06:06] yuvipanda commented on #2733
I can also see this in the graphs:

<img width="683" alt="image" src="https://user-images.githubusercontent.com/30430/132807528-767c9e8c-07db-42b1-b67b-05af37abc803.png">

https://grafana.datahub.berkeley.edu/d/R3O4mbg7z/cluster-information?viewPanel=7&orgId=1&refresh=30s&from=now-12h&to=now

This is user servers waiting for a new node to come up.

[2021-09-10 07:06] github-actions[bot] opened #2734 "Weekly Update - Friday, September 10th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-09-10 16:33] balajialg commented on #2733
@yuvipanda sounds great! Thanks for looking into this!

@dbroockman, Can you please comment on how your next class went in this issue? It would help us with our next steps. Thanks!

[2021-09-10 17:53] balajialg opened #2736 "Changing the outreach message for requesting archived data!"
# Summary

We recommend our users share their data archival requests to the ds-infra email list as part of the NFS server. Sharing the message that we communicate with users below, (Thanks for the heads up @felder )

_root@nfsserver-01:/export/datahubhomes-2020-07-29/homes/riohayakawa# cat WHERE-ARE-MY-FILES.txt
Your files have been archived due to inactivity.
Send an email to ds-infrastructure@li

[2021-09-10 18:17] balajialg commented on #2736
**Open Question:**

Should students be forced to use GitHub to make this request?

[2021-09-10 18:38] balajialg opened #2737 "Request python package Qiime2 and RPy2 for class CCB 293!"
**Which package do you want installed?** Please provide more information about the package, such as the version you require, missing functionality you need, and a URL to the website for the package.

qiime2: https://docs.qiime2.org/2021.4/interfaces/artifact-api/
DESeq2: which is an R package, but I think there is a way to run it in a Jupyter notebook using the package 'rpy2'?

**Are there specifi

[2021-09-10 18:49] balajialg commented on #2737
Teaching team will make edits to this request!

[2021-09-10 18:54] felder commented on #2736
So to be clear, I'm changing this:

[code]

to this:
[code]

[2021-09-10 20:23] felder commented on #2736
@balajialg this is done for all the existing files on the server.

@yuvipanda can you please modify the archiver script accordingly?

[2021-09-11 00:30] yifan2wang commented on #2255
May I know how it was solved? I have the same problem now. Thanks!

[2021-09-11 10:46] yuvipanda commented on #2736
@felder I've modified the script now to use the new language (https://github.com/yuvipanda/homedir-archiver/blob/b0adec9533f2bf3eaa0d9343add08ced32e538ec/archiver/scanner.py#L18). This will affect all new files when we run the archiver again. But the current files will not be affected - I think they need a `find` and `sed` combination (or similar) to modify. How can I help with that?

[2021-09-11 23:35] felder commented on #2736
@yuvipanda I took care of changing the files already.

[2021-09-11 23:35] #2736 closed, assigned to yuvipanda, felder

[2021-09-12 21:07] dbroockman commented on #2733
I will let you know. We'll have ~320 students all requesting notes at the same time on Tuesday at 5:15 pm.

[2021-09-13 10:57] yuvipanda commented on #2733
Someone will need to keep an eye on https://grafana.datahub.berkeley.edu/d/R3O4mbg7z/cluster-information?viewPanel=7&orgId=1&refresh=30s during the start of the class at least once or twice. Pods in 'pending' state is what cause people to wait. It's ok if there are one or two for a minute, but larger numbers point to issues where users have to wait.

[2021-09-13 16:43] ryanlovett commented on #2733
Looks like it got as high as 14 on two occasions, at 7a and 9:10a for about 15m each.

![Screen Shot 2021-09-13 at 9 40 45 AM](https://user-images.githubusercontent.com/10248125/133123448-2571c142-afec-4313-b7a9-f560e1a7e5bb.png)

[2021-09-13 18:18] balajialg commented on #2734
**Thanks I'd like to give 🙌**
-Thanks a ton, @felder, for being so generous and patient in debugging the issues with the Jupyter-books version upgrade. Really appreciate it!

**Updates from last week ✔**
- I have continually been making edits to this [FAQ document](https://balajialg.github.io/Datahub-Test-Repo/onboarding.html). Would love to seek your inputs for the [troubleshooting section](https

[2021-09-13 19:48] yuvipanda commented on #2733
@ryanlovett it was counting non-jupyter pods too - I just modified that graph to only count jupyter pods. The peaks went away.

[2021-09-13 20:01] zbutzin opened #2748 "Request R package "blm" for class PH 252"
**Which package do you want installed?**

["blm"](https://cran.r-project.org/web/packages/blm)

**Are there specific package dependencies?**

R (>= 2.10.1), methods

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

Public Health DataHub

**Which class will use this package?**

[PBHLTH 252](https://classes.berkeley.edu/content/2021-fall-pbhlth-252-0

[2021-09-13 21:51] felder commented on #2748
Staging reports:

[code]

[2021-09-13 21:55] felder commented on #2734
**Updates from last week ✔**
- Just been knocking out various github support requests

**My availability for next week**
- Generally available for the entire week, but Wednesday is pretty solidly booked for me.

[2021-09-13 21:57] felder commented on #2748
Deployed to prod!

[2021-09-13 21:57] #2748 closed, assigned to felder

[2021-09-14 16:25] adamgayoso opened #2755 "Non-persistent installations"
### Bug description

Not sure if this is by design or a bug, but for BioE 131 students need to install special bioinformatics packages through conda for each lab. Some are used across labs. The installations are not persistent after logging out of datahub and logging back in (after some period of time)

### Environment & setup

- Hub:
- Language:

Datahub, Python

### How to reproduce

Install any

[2021-09-14 16:39] balajialg commented on #2755
@adamgayoso Hi Adam, It is by design. You can install packages in a specific hub by raising requests [here](https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=&labels=support&template=datahub-package-addition---change-request.md&title=Request+python+package+X+for+class+Y)! That way, your installations will persist across multiple sessions

[2021-09-14 16:56] ryanlovett opened #2756 "Docs reference master instead of prod"
### Bug description

https://github.com/berkeley-dsep-infra/datahub/blame/staging/docs/admins/howto/new-packages.rst#L58

We have no master branch, only prod.

### Environment & setup

docs.datahub.berkeley.edu

### How to reproduce

`master` is referenced multiple times in https://docs.datahub.berkeley.edu/en/latest/admins/howto/new-packages.html?highlight=master#submitting-a-pull-request.

[2021-09-14 19:36] balajialg commented on #2756
Thanks for raising this @ryanlovett! Any idea where is the repository that hosts this jupyter book? I hope it isn't an old version using Jekyll as that might involve additional tasks to upgrade to the latest version using Sphinx.

[2021-09-14 22:39] balajialg commented on #2604
@yuvipanda this seems to resolve the issue according to the faculty! You can re-open this issue if you want to investigate further!

[2021-09-14 22:39] #2604 closed, assigned to nobody

[2021-09-14 23:24] ybh0822 opened #2757 "Request assignment1910 package for phys188/288"
**Which package do you want installed?**

Hello. May I request the re-installation of the following phys188/288 code?

https://github.com/berkeley-dsep-infra/datahub/commit/942b4c8c208e380cc288bbdd59b06ab06d964cad#diff-2cb9238ae53e266b72f1de1268e9818a2ee79801c9030f9eaa3eb9b2be785c6f

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub

**Which

[2021-09-15 00:21] dbroockman commented on #2733
Today in class ~350 people showed up at 5:15 and we still had a lot of students saying the notebook wouldn’t load.

[2021-09-15 01:18] balajialg commented on #2733
@dbroockman Sorry about that! Could see a big spike around 5.15 PM
![image](https://user-images.githubusercontent.com/2306166/133354516-ce4a1e01-79db-4353-a188-5275b36d1fbb.png)
![image](https://user-images.githubusercontent.com/2306166/133354590-1a1d19b2-4d68-4d93-a6ae-1ebcc0b479bb.png)

@yuvipanda Any idea whether the auto-scaling through the calendar happened prior to the class?

[2021-09-15 02:06] balajialg opened #2759 "D-Lab Use cases supporting class projects and research!"
# Summary

Had a conversation with @aculich few days back and he was interested in us thinking more about the use cases around **"teaching++ / class project / research-lite"** in the upcoming months. It definitely looks like an interesting extension of our current core offering. More information about his articulation of the requirement [here](https://docs.google.com/document/d/147Q5xjIl8j2ShuOwar

[2021-09-15 07:05] maya-akk opened #2760 "Jupyter files request"
### Email Id

maya.akkaraju@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/maya-2eakkaraju.tar.gz

[2021-09-15 15:10] yuvipanda commented on #2733
Adding y axes to the graph, I can see there's ~60-70 pending users:

<img width="697" alt="image" src="https://user-images.githubusercontent.com/30430/133459349-7d5ab5a0-8353-4a7a-a9a2-3d692c3d184e.png">

If you hover over the red line just before, you can see that the scale up did happen:

<img width="702" alt="image" src="https://user-images.githubusercontent.com/30430/133459451-92d1b8e0-fdec-4f

[2021-09-15 15:21] yuvipanda commented on #2734
**Thanks I'd like to give 🙌**
- To @felder for working on streamlining the data access request process

**Updates from last week ✔**
- Biology hub has a `shared/` directory now https://github.com/berkeley-dsep-infra/datahub/pull/2729
- Node placeholder posts a message to grafana for actions it takes, so we can better understand effects on our cluster https://github.com/berkeley-dsep-infra/datahub/

[2021-09-15 15:29] yuvipanda commented on #2733
Earlier I had moved all non-data8 hubs to the alpha pool. Now my inclination is to move some of them back to their own pools. Alpha pool can have all hubs that share the datahub image, and I can move to beta pool everything else. This at least means there won't be multiple different images being pulled when a new node comes up.

[2021-09-15 16:12] balajialg commented on #2733
@yuvipanda, that's helpful! Would moving to the beta pool affect the performance of the non-Data eight hubs that don't share the Datahub image?

[2021-09-15 20:09] balajialg opened #2763 "Request python package Jupyter Books and ghp import!"
**Which package do you want installed?**
jupyter-book and ghp-import

Please provide more information about the package, such as the version you require, missing functionality you need, and a URL to the website for the package.
https://pypi.org/project/jupyter-book/
https://pypi.org/project/ghp-import/#history

**Are there specific package dependencies?**
None

**Which hub do you want it installed

[2021-09-15 21:52] felder commented on #2760
Files sent.

[2021-09-15 21:52] #2760 closed, assigned to felder

[2021-09-15 23:30] kferger320 commented on #2737
Hi here are a few edits to this request:

**Which package do you want installed? Please provide more information about the package, such as the version you require, missing functionality you need, and a URL to the website for the package.**

qiime2: version: QIIME 2 Core 2021.8 distribution
https://docs.qiime2.org/2021.4/interfaces/artifact-api/

**Are there specific package dependencies?**

**Whi

[2021-09-16 10:16] yuvipanda commented on #2733
ok, I've moved other hubs to a beta nodepool - let's see how this goes today.

Longer term, I think the node-placeholder-scaler needs to be smarter as well, so new nodes aren't brought up when placeholder nodes can be used instead...

[2021-09-16 16:56] felder commented on #2737
@yuvipanda here's a link to the installation instructions.  What do you think?

https://docs.qiime2.org/2021.8/install/native/

[2021-09-16 16:58] felder commented on #2737
@petersudmant giving you a heads up on this too to see if it's something you'd be willing to tackle.

[2021-09-16 17:04] yuvipanda commented on #2737
https://raw.githubusercontent.com/qiime2/environment-files/master/2021.8/release/qiime2-2021.8-py38-linux-conda.yml is the environment.yml file it needs, including its own channel. I think this is something we can try on biology hub as we already get many things from conda there. But we'll need to figure out which packages from there we actually need here. I'm not sure how exactly to do that - may

[2021-09-16 17:07] felder commented on #2737
@balajialg @kferger320 is DESeq2 and rpy2 still part of this request?  If so should it still be installed on datahub or should it be installed on biology hub?

[2021-09-16 17:08] felder commented on #2737
@yuvipanda well it's a bit confusing because there's also DESeq2 which might be runable in a jupyter notebook via rpy2?

[2021-09-16 17:39] balajialg commented on #2737
@felder Teaching team is thinking about using other alternatives to the DESeq2 package and will get back with a new package request for the same. Currently, they require qiime2 package to be installed. It should get installed in the biology hub as they will require complex computations.

[2021-09-16 17:47] petersudmant commented on #2737
DEseq2 should be super easy - it's just an R package. I've done lots of similar packages. Happy to do that if you'd like. Re qiime2, looks possible. Would prefer someone else to tackle, but, happyt ogive it a shot.

[2021-09-16 17:48] petersudmant commented on #2737
Tell them that EBseq is already on there which works really well

[2021-09-16 17:49] felder commented on #2737
@petersudmant it seems for the time being the DEseq2 is not required.

@yuvipanda maybe this gives us a reasonable list of packages to think about?
https://docs.qiime2.org/2021.8/install/#recommendations

I dunno, they do say that there are a lot of dependencies.  Would it make sense to do as the qiime2 folks recommend and install it as a whole new conda environment and perhaps the students will n

[2021-09-16 17:50] felder commented on #2737
@kferger320 @balajialg

[2021-09-16 17:59] petersudmant commented on #2737
installing as a "whole new conda env" makes sense to me - I have done this before. You can see deployments/biology/image/ib134-packages.bash - we can make one for CCB293 as well. I think this should be smooth?! Shall I try?

[2021-09-16 18:04] felder commented on #2737
@petersudmant if you're willing, that'd be awesome!

[2021-09-16 21:50] alvinwan opened #2767 "Request python package `ipython-sql` for class Data 100"
**Which package do you want installed?**

We plan to use the SQL iPython magic: https://github.com/catherinedevlin/ipython-sql . No rush to install by any particular date though. We'll plan to use a `%pip install ipython-sql` and if this PR gets in before lab, we'll simply drop that `%pip`.

**Are there specific package dependencies?**

**Which hub do you want it installed on?  For example r.datah

[2021-09-16 22:30] #2757 closed, assigned to felder

[2021-09-16 23:08] felder commented on #2767
https://pypi.org/project/ipython-sql/

[2021-09-16 23:37] balajialg commented on #2677
Message from the teaching team - _sorry to tag you all (I know we decided on the Piazza route), but yet again, it's the due date for a major assignment and DataHub is down with a Service Unavailable screen (503?). Any ideas_

Link to [Piazza1](https://piazza.com/class/kqsiwfz12g0482?cid=445) and [Piazza 2](https://piazza.com/class/kqsiwfz12g0482?cid=439)where students raised the issue.

Request is

[2021-09-17 00:36] balajialg commented on #2733
@dbroockman How did the class go today? Were there any auto scaling issues?

[2021-09-17 00:40] felder commented on #2677
@yuvipanda while I cannot prove this conclusively, there appears to be a V shaped currently running users graph here:
https://grafana.datahub.berkeley.edu/goto/g_YrOXSnz

With a correlation to this particular PR:
https://github.com/berkeley-dsep-infra/datahub/pull/2768

Can you think of any reason why that PR might result in lots of pods being knocked off?  Is it possible that any change to data10

[2021-09-17 00:41] balajialg commented on #2677
Service showed 503 errors from 4.30 - 5.15 PM! Based on the GSI's report, it was back to normal after that.

@yuvipanda Could this issue be due to the last merge that happened?

If not, What would be the potential way forward to avoid such scenarios? Should we increase the Data 100 hub's resource requirement?

[2021-09-17 00:42] dbroockman commented on #2733
No, no problems today. Today they are doing group work so it’s only around
100 concurrent notebooks. Tuesday it will be 350 again.

On Thu, Sep 16, 2021 at 5:36 PM Balaji Alwar ***@***.***>
wrote:

[2021-09-17 01:10] balajialg commented on #2733
@dbroockman Thanks for reporting! Will monitor logs during Tuesday's class.

[2021-09-17 02:43] balajialg opened #2770 "Policy Decision regarding merging commits into Prod during Data 8 and 100 assignment deadlines"
We learned the hard way that making upgrades to the system (even unintentionally) during assignment deadlines can sometimes be challenging for our users and for us. In order to avoid such challenges in the future, In discussion with @felder, I am suggesting a policy action from a commit merging standpoint,

-  Cherry-pick and merge only repetitive commits like package/admin requests into prod duri

[2021-09-17 05:14] petersudmant commented on #2737
OK, done! @balajialg @kferger320 @felder works great! Run w/ the following

`>bash`
`>conda activate qiime2-2021.8`

It's building on staging now - i'll double check it works in the a.m. and push it to prod. (or anyone else can feel free to do that if the build looks good)

[2021-09-17 09:08] yuvipanda commented on #2677
<img width="689" alt="image" src="https://user-images.githubusercontent.com/30430/133753837-cff88e93-b7ee-4d85-b8a5-bbfd01f78713.png">

This is the node on which the data100 hub and proxy pod were located. The '100%' is 'full saturation of all CPUs', and you can see that we were almost there. I don't know if this is a symptom or a cause, but we can give data100 pods more CPU guarantees to eliminat

[2021-09-17 11:59] yuvipanda commented on #2677
@felder I looked at an alternative source of count of running users (from the hub), and you can see there's a gap in the data:

<img width="1365" alt="image" src="https://user-images.githubusercontent.com/30430/133777847-b6619677-07dc-45d0-9d6a-428dd744944d.png">

When #2768  was merged, it restarted the data100-prod hub pod, and it took a long time to come back up!

<img width="690" alt="image" s

[2021-09-17 12:03] yuvipanda commented on #2677
https://github.com/jupyterhub/jupyterhub-idle-culler/pull/30 might help too.

[2021-09-17 12:35] yuvipanda commented on #2677
I've run the script for the R hub (which cleaned up some 3235 users), DataHub (cleaned up some 14k users) and data100 hub (cleaned up some 7k users).

[2021-09-17 12:35] yuvipanda commented on #2677
One remaining mystery is why some user pods were missing / deleted during this time - I need to investigate that still. But I think that's a *symptom* rather than a cause.

[2021-09-17 12:46] yuvipanda commented on #2677
https://github.com/berkeley-dsep-infra/datahub/pull/2774 is the script for deleting unused users.

[2021-09-17 19:17] kferger320 commented on #2737
@petersudmant @balajialg @felder thanks so much for getting this done so quickly! I will test it out once everything's pushed

[2021-09-17 19:37] tiffanycy opened #2775 "Data Archival Request"
### Email Id

ychen67890@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/ychen67890.tar.gz

[2021-09-17 19:37] petersudmant commented on #2737
it's all uploaded now. I had to do

[code]

then it works. Works great

[2021-09-17 19:46] #2767 closed, assigned to felder

[2021-09-17 21:32] felder commented on #2737
@petersudmant Has this been merged into prod?  If you need that done, please let me know or open a PR and make me a reviewer.

[2021-09-17 21:33] petersudmant commented on #2737
YEP - should be! Yuvi did this a.m.

[2021-09-17 21:34] felder commented on #2737
@petersudmant ok thanks!

[2021-09-17 21:44] felder commented on #2677
@yuvipanda would it make sense to run #2774 or perhaps just clear db entirely during semester breaks?

[2021-09-18 06:54] alvinwan commented on #2767
Wow thanks @felder @yuvipanda @balajialg  for the super fast turnaround! Much appreciated.

[2021-09-19 21:05] rodrigomha opened #2779 "Data Archival Request"
### Email Id

rhenriquez@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/rhenriquez.tar.gz

[2021-09-20 07:05] github-actions[bot] opened #2780 "Weekly Update - Monday, September 20th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-09-20 16:28] yuvipanda opened #2781 "Don't restart the hub pod for image changes during deploy"
In https://github.com/berkeley-dsep-infra/datahub/issues/2677, the hub pod restarted during a deployment to pick up new image tag. This is not strictly necessary - we can add a feature to z2jh that prevents hub pod restarts for image tag changes. Let's do that so we don't restart the hub pod unnecessarily, reducing risk surface for bugs triggered by pod restarts.

[2021-09-20 16:39] yuvipanda commented on #2770
i'm generally very much not a fan of 'deploy windows' or 'do not deploy on these times'. The core of the problem for data100 https://github.com/berkeley-dsep-infra/datahub/issues/2677 is that the hub pod restarted due to a deploy. However, there are a *lot* of reasons a pod can restart! The hub pod can restart at different times for many reasons - memory limit, 5 concurrent spawn failures, node fa

[2021-09-20 16:42] yuvipanda commented on #2770
There is a lot of literature around the SRE world about deploy windows like this. https://dev.to/quii/why-you-should-deploy-on-friday-afternoon-285h is one example.

[2021-09-20 16:43] yuvipanda commented on #2770
The other issue is one of co-ordination. We serve a lot of users across many many spaces - I'm sure there's always assignments for someone or the other at any given time. So usually these end up as 'you are allowed to deploy during these times' rather than 'you are not allowed to deploy during these times'. So this adds another dimension of complex co-ordination that is required, and I guarantee t

[2021-09-20 17:06] Elias326 opened #2782 "Request python package numpy version 1.19.5 for class 105 / ESPM 125"
**Which package do you want installed?** numpy version 1.19.5. For reference: (https://pypi.org/project/numpy/1.19.5/)

Please provide more information about the package, such as the version you require, missing functionality you need, and a URL to the website for the package.

**Are there specific package dependencies?** N/A

**Which hub do you want it installed on?  For example r.datahub, datahu

[2021-09-20 18:21] felder commented on #2782
@Elias326 when I open that notebook and look for "genomics" I see no import statements corresponding to that word.

Can you please go into more detail on what it means to run the genomics library on the notebook and what/where I need to click/type within the notebook in order to reproduce this error?

My thinking is maybe instead of downgrading numpy I could try upgrading numba.  However, I need a

[2021-09-20 18:33] Elias326 commented on #2782
Hi @felder ! My bad for the misspelling. It's no genomics it's geonomics. The import is: import geonomics as gnx. There is a cell that imports all the packages. If you run that one, you can see the error:

[code]

[2021-09-20 18:37] felder commented on #2782
@Elias326

Thanks!  Looking for geonomics and running the cell with the import statement for it produces a suitable test case.

[code]

[2021-09-20 18:51] Elias326 commented on #2782
Correct. This is the error I am seeing. I am hoping that if one package is updated that all packages in that cell work as well. Thank you!

[2021-09-20 19:26] felder commented on #2782
@Elias326 there are a few dependency issues here.  In order to get this one cell to execute with the only warning being the display I had to install tskit, msprime, and pykrige as well.  Additionally when I simply told pip to just install the packages I had other dependency conflicts.

I suspect the issue is related to the warning message pip gives me when I run it:
[code]

Namely the package main

[2021-09-20 19:37] felder opened #2783 "Please modify github package request template to apply package-request label instead of support label"
### Bug description

Please modify github package request template to apply package-request label instead of support label.

### Environment & setup

- Hub:
- Language:

### How to reproduce

[2021-09-20 20:27] cboettig opened #2784 "Request more RAM for class ESPM-157"
**Which hub do you want more RAM on?**

 r.datahub

**Which class is this request for?**

https://classes.berkeley.edu/content/2021-fall-espm-157-001-lab-001

**How many students do you expect in this class?**

54

**How much RAM does this class need?**

4 GB

**Why does this class need this much RAM?**

Students reproduce analyses of key global change papers, and need to be able to read in the or

[2021-09-20 20:55] balajialg commented on #2783
@felder Done!

[2021-09-20 20:55] #2783 closed, assigned to balajialg

[2021-09-20 21:04] felder commented on #2780
**Updates from last week ✔**
- Just handling support issues

**Challenges I faced and things I'd like assistance with 🙏**
- Deployments killing the hub being addressed in #2781 #2770

**My availability for next week**
- I should generally be available, but I always have several meetings. :P

[2021-09-20 21:09] #2775 closed, assigned to felder

[2021-09-20 21:10] felder commented on #2775
Link sent!

[2021-09-20 21:30] felder commented on #2779
url to files sent!

[2021-09-20 21:30] #2779 closed, assigned to felder

[2021-09-20 21:33] balajialg commented on #2784
@cboettig Thanks for this request! What is the timeline you are looking at? How many weeks/months do you want to use the R hub with the increased RAM allocations.

Such requests have cost implications for us and hence wanted to get the duration details for this request.

[2021-09-20 21:56] balajialg commented on #2770
@yuvipanda, I am completely aligned in principle with what you are arguing for. Adding too many processes will complicate the software delivery process and throttle the team's innovation.
However, I personally would love us to get to this point #2 soon (highlighted by the blog's author).

1. _Write an end to end test. These are expensive to write and run and should only be reserved for your most i

[2021-09-20 21:56] #2770 closed, assigned to nobody

[2021-09-20 22:02] felder commented on #2770
@balajialg in theory this is what the staging environment is for.  The problem of course is how do we automate testing of the wide variety of items courses require?  The staging environment generally guarantees for the most part the image builds and deployments will succeed, but we can't tell if a particular notebook that used to work will continue to do so.

Item 2 there is an issue that we're cu

[2021-09-20 22:08] #2734 closed, assigned to nobody

[2021-09-20 22:21] felder commented on #2693
@yuvipanda glancing at the documentation for the google error handling service, it appears that to get application level errors we would require code changes to send the data to the error reporting service or to call the API.

https://cloud.google.com/error-reporting/docs/setup/kubernetes-engine

[2021-09-20 22:51] balajialg opened #2785 "Policy to handle requests for RAM/CPU allocation!"
# Summary
We currently don't have a policy around what constitutes an acceptable request for RAM/CPU allocation. We do want to take a lot of such requests on a case-to-case basis which is understandable. I also know that each such request has financial implications and, to an extent, affects the performance of a specific hub. As a result, it needs to get decided with caution. However, escalating e

[2021-09-20 22:56] felder commented on #2785
@balajialg we may want to define something like:

Approve if:
ram * class size < 200GB

[2021-09-20 22:57] balajialg commented on #2770
@felder Agreed. The current setup is fantastic from the standpoint that we don't deploy anything that has bugs. However, unless we have automated testing of varied components users use during staging, it is hard to find outage causing PRs without the user's feedback. We need to prioritize these automated testing use cases as soon as possible.

[2021-09-20 22:58] cboettig commented on #2784
Thanks!  We are using reasonably data-intensive exercises in the modules starting today through the rest of the semester (including the student final projects). I totally understand the cost restrictions, and I try pretty hard to keep the assignments within a 4 GB limit and not go over that, but really the difference between what students can do in 4 GB and 1 GB is very substantial.

Please let me

[2021-09-20 23:50] balajialg commented on #2784
Hi, @cboettig Thanks for the detailed rationale for making this request! Are you foreseeing this requirement across subsequent semesters for your courses?

We don't have a policy around such requests, and we would like to use your request as a model to define our policy. We should be able to get back in a day or two with regards to this request. Would that timeline work for you?

[2021-09-21 00:10] balajialg commented on #2785
Carl's case might be a yes if we adopt this rule! This policy should have some overlap with #2670! We could use this space to narrow down the ideal policy.

[2021-09-21 00:19] balajialg commented on #2570
Here is the link to the Updated FAQ for DataHub - https://ds-modules.github.io/curriculum-guide/index.html

[2021-09-21 00:19] #2570 closed, assigned to balajialg

[2021-09-21 00:33] balajialg commented on #2780
**Thanks, I'd like to give 🙌**
I want to thank @choldgraf for generously spending time to help me upgrade the ds-modules repo [here](https://github.com/ds-modules/curriculum-guide). Thanks, @choldgraf. You are a star! Feels like I made some useful contribution to the team (at least in theory)
Thanks, @yuvipanda for the detailed documentation inputs.

**Updates from last week ✔**
- I completed inte

[2021-09-21 00:38] balajialg commented on #2781
Thanks, @yuvipanda! Super critical change.

[2021-09-21 17:27] cboettig commented on #2784
@balajialg Thanks.  Yes, if possible we'd like to keep being able to use r.datahub for the course going forward as well.  We used r.datahub with 4 GB allocations last year during remote instruction (#1849) and it worked really nicely.

[2021-09-21 17:48] felder commented on #2782
Elias would like to meet with me over zoom to work through this issue further.  He says he is having other problems.  Scheduled a zoom session for Thursday.

[2021-09-21 18:22] #2664 closed, assigned to nobody

[2021-09-21 18:47] felder commented on #2693
This may prove more fruitful:
https://console.cloud.google.com/logs/query?project=ucb-datahub-2018

[2021-09-21 19:23] felder commented on #2693
Here's a query that looks for 503s on 9/16 when we last had an issue with #2677

https://cloudlogging.app.goo.gl/yHks4Rcc8FgtzAYu5

Note the peak between 4:30pm and 5:00pm PDT

However there is a lot of noise in here, for example each pod gets a 503 for metrics and requests resulting in a 200 are also logged as errors.  If we could get the logging down such that actual errors are reported as type

[2021-09-21 19:29] felder commented on #2693
https://cloud.google.com/logging/docs/alerting/monitoring-logs

[2021-09-21 19:33] felder commented on #2693
Looks like I can define log metrics based on queries and then I can setup alerts based on those metrics.

[2021-09-21 22:22] balajialg commented on #2784
@cboettig Thanks for sharing the PR! That's helpful to put things in context. I will keep your requirement for the R hub in mind as we respond to this request.

[2021-09-21 22:50] balajialg commented on #2733
@dbroockman Did you face any issues with your class today? I could see few nonperforming pods in the dashboard. Wanted to confirm!

![image](https://user-images.githubusercontent.com/2306166/134257911-c6f4ae98-f06c-4571-83fe-61581720001f.png)

[2021-09-21 22:59] felder commented on #2693
The following query to Logs Explorer seems to be pointing in a possible good direction.  It shows a large spike for data100-prod during the incident on 9/16.

[code]

![Screen Shot 2021-09-21 at 3 58 36 PM](https://user-images.githubusercontent.com/1211730/134258523-47ac4c29-013b-46fa-9533-c0920757c3e1.png)

[2021-09-21 23:06] dbroockman commented on #2733
Class isn't until 5. Notebooks will start booting up en masse (around 350 of them) right at 5:15.

[2021-09-21 23:07] felder commented on #2693
@balajialg requested I do a similar log query for prob140-prod around Sept. 13.

![Screen Shot 2021-09-21 at 4 04 33 PM](https://user-images.githubusercontent.com/1211730/134259123-8d4412dc-8354-4811-86d0-324fe597e6a5.png)

[2021-09-21 23:14] felder commented on #2693
Similar query again for r-prod for September

![Screen Shot 2021-09-21 at 4 13 28 PM](https://user-images.githubusercontent.com/1211730/134259695-ffce1e26-1e83-4f21-b7f5-5de494b0931e.png)

[2021-09-21 23:40] felder commented on #2693
publichealth-prod for the last week, the first spike matches up with a report made on slack of students having trouble, similarly there is a spike last night where another issue was reported.

![Screen Shot 2021-09-21 at 4 39 14 PM](https://user-images.githubusercontent.com/1211730/134261600-ea2548d3-466d-4e23-b6cf-0c84582664a7.png)

[2021-09-21 23:45] balajialg commented on #2693
This is brilliant work, @felder! Thanks for spending the time to figure things out.

[2021-09-22 00:18] dbroockman commented on #2733
Live from class, we do have lots of students saying the notebooks won't open.

[2021-09-22 00:28] dbroockman commented on #2733
Generally, I would say today was as worse as it's been. We had dozens of students saying they couldn't get the notebook to load for a while. Took 10 minutes before everyone was able to get in.

Thanks for all your efforts on this. It's an in-class timed assignment that gets released at 5:12, so all the students all rush in at that time, 350 of them or so.

[2021-09-22 00:39] balajialg commented on #2733
@dbroockman Really sorry that the last fix didn't work! I can see a lot of nonperforming pods in the dashboard around 5.15 PM.

![image](https://user-images.githubusercontent.com/2306166/134267099-5bf325f2-99f4-4928-903c-f1eaab407be8.png)

Active users using the hub
![image](https://user-images.githubusercontent.com/2306166/134267040-2f0cf96a-11f3-4937-9cd5-41f557f791d0.png)

Hub CPU
![image](http

[2021-09-22 00:56] balajialg commented on #2733
@felder Ran the GCP query to find if there are any helpful logs for the issue. I am not able to fetch any real-time log updates regarding this issue.  I assume there has to be some application-level error message that would have been logged since students couldn't access the hub. Correct me if I am wrong. Here is the query I ran,

[code]

[2021-09-22 09:54] yuvipanda commented on #2693
@felder for alerting, can you explore https://grafana.com/docs/grafana/latest/alerting/ instead? Since all our metrics are already present in grafana...

[2021-09-22 09:58] yuvipanda commented on #2693
oooh, github just showed me your other messages. We definitely don't have metrics on 503s from user servers - we tried putting it in prometheus (https://github.com/berkeley-dsep-infra/datahub/issues/1993 and https://github.com/berkeley-dsep-infra/datahub/pull/1973) but prometheus was crushed under the weight of those (https://github.com/berkeley-dsep-infra/datahub/pull/1977). So let's explore that

[2021-09-22 13:33] yuvipanda commented on #2785
There are three factors here:

1. Number of students
2. RAM requested
3. Amount of time the resource increase is requested for.

For classes that need extra RAM for a week or two, we can be more generous than for ones that need it permanently.

How about this table:

| Duration | < 1 week | < 1 month | > 1 month |
| - | - | - | - |
| Auto-approve (student count * RAM) threshold | 600 GB | 400 GB |

[2021-09-22 13:43] yuvipanda commented on #2733
In this case, I think you won't find any errors - the pods are just waiting to start, and it takes that long for a new node to spin up. So it's a delay than an outright error, making it more difficult to figure out why it is problematic. A classic case of https://en.wikipedia.org/wiki/Thundering_herd_problem.

@dbroockman as a temporary (very temporary!) mesure, can you just ask your students to g

[2021-09-22 13:46] yuvipanda commented on #2733
The node-placeholder did trigger an upscaling:

<img width="706" alt="image" src="https://user-images.githubusercontent.com/30430/134355365-152e7992-00d2-4f2a-96e8-0b304a70c1de.png">

But more nodes were spun up just at the time of the class (just after 5pm):

<img width="691" alt="image" src="https://user-images.githubusercontent.com/30430/134355318-0199260f-1f86-4479-beea-4e8a85bf5020.png">

The

[2021-09-22 13:48] yuvipanda commented on #2733
I've also given it 5 placeholder nodes (up from 3), so let's see how it goes.

[2021-09-22 13:50] yuvipanda commented on #2784
Based on the metric in https://github.com/berkeley-dsep-infra/datahub/issues/2785, let's approve this.

[2021-09-22 16:33] balajialg commented on #2785
@yuvipanda, this makes a lot of sense to me! Thanks for adding more nuance to the policy. I will also add this to the FAQ document for future reference.

[2021-09-22 19:35] balajialg commented on #2671
Duplicate issue considering #2670. Feel free to reopen if it is not.

[2021-09-22 19:35] #2671 closed, assigned to nobody

[2021-09-22 19:57] balajialg commented on #2785
@felder Closing this issue for now. Please reopen if you want to make further edits to the proposed policy!

[2021-09-22 19:57] #2785 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-09-22 20:14] zbutzin opened #2788 "Request R package "geepack" for class PH 252"
**Which package do you want installed?**

["geepack"](https://cran.r-project.org/web/packages/geepack/index.html)

**Are there specific package dependencies?**

R (≥ 3.5.0), methods

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

Public Health DataHub

**Which class will use this package?**

[PBHLTH 252 - Patrick Bradshaw](https://classes.berkele

[2021-09-22 20:30] #2784 closed, assigned to felder, balajialg

[2021-09-22 21:49] felder commented on #2788
https://cran.r-project.org/web/packages/geepack/index.html

Running install.packages("geepack") in rstudio pulls down 1.3-2 which is the latest in cran.

[2021-09-22 22:15] felder commented on #2788
Works on staging:

[code]

[2021-09-22 22:16] balajialg commented on #2733
@yuvipanda Sounds good Yuvi! Let's see how next Tuesday's class goes.

@dbroockman Thanks for patiently working with us on this.

[2021-09-22 22:23] #2788 closed, assigned to felder, balajialg

[2021-09-23 00:42] balajialg opened #2791 "Collating information about outages for Incident Reports"
All,

I wanted to collate all the information about the outages with varied hubs in a single place. I see this useful from multiple perspectives,

1. Help us write consolidated incident reports in the future
2. Verify @felder's GCP queries
2. Evaluate whether the outage caused is due to an issue which we already fixed

<html>
<body>

Date | Hubs/Services Affected by the Outage | User Impact | Reas

[2021-09-23 00:54] balajialg commented on #2791
@felder @yuvipanda For our future reference! Will keep adding any future outages to this list.

[2021-09-23 07:25] yuvipanda commented on #2782
I also worry that downgrading numpy might affect other classes. One option here is to add this command (copied from @felder above) at the top of the notebooks running into this issue:

[code]

This should fix it just for that session, and not affect other classes.

https://github.com/numba/numba/issues/7176 is the upstream issue fixing this in numba.

[2021-09-23 16:28] yuvipanda commented on #2780
**Thanks I'd like to give 🙌**
- To @balajialg, @choldgraf and @ericvd-ucb for working through possibilities for helping me become less of a single point of failure
- To @ericvd-ucb for running a stellar tech strategy meeting!
- To @felder for continuing to push on many process and professionalization improvements in how we run the hub.
- To @petersudmant for his wonderful work on https://github.co

[2021-09-23 17:15] #2780 closed, assigned to nobody

[2021-09-23 17:34] yuvipanda commented on #2693
With https://github.com/berkeley-dsep-infra/datahub/pull/2792, we're now collecting prometheus metrics on each request that goes through nginx ingress. https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/ has some more info. https://github.com/berkeley-dsep-infra/datahub/issues/2693 means that datahub is not represented here yet.

https://grafana.datahub.berkeley.edu/d/IxT315H7z/http-

[2021-09-24 19:54] seangallaher opened #2793 "Request R package cummeRbund for class PlantBi135"
**Which package do you want installed?**

I need the R library called cummeRbund. It can be installed with bioconductor. Whatever is the current version should be fine. Here is the link:
https://bioconductor.org/packages/release/bioc/html/cummeRbund.html

**Are there specific package dependencies?**

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

[2021-09-24 19:57] seangallaher commented on #2793
I am using it with RStudio on the datahub. I.e. here:
https://datahub.berkeley.edu/user/gallaher/rstudio/

[2021-09-24 21:15] felder commented on #2793
This is a pretty significant dependency.  I'm also having issues with it.

Following the instructions here:
https://bioconductor.org/install/#install-bioconductor-packages
https://bioconductor.org/packages/release/bioc/html/cummeRbund.html

I'd like to note first it mentions R 4.1, which we're not using on the hub.  Attempting to install version 3.13 of the bioconductor-packages gives me the follo

[2021-09-24 21:21] seangallaher commented on #2793
Thanks for your help. It was so easy on my local installation of R. I didn't realize it would be so hard on the DataHub. I will have about 46 inexperienced students trying to do this, so I was hoping to avoid having everyone do this individually in their own instance. I have tried to install other packages via Bioconductor, and none has worked so far. I don't imagine that we could update R or Bioc

[2021-09-24 21:40] felder commented on #2793
@seangallaher I do not believe we could accommodate upgrading R at this time.  @yuvipanda or @ryanlovett please let me know if I'm wrong.

Bioconductor 3.12 is for sure the latest version that will run on the hub with R being < 4.1

While I'm not ruling out getting cummeRbund 2.32.0 (the version I believe is packaged as part of bioconductor 3.12) installed, I simply do not know what needs to be do

[2021-09-24 21:57] seangallaher commented on #2793
Are you able to install any packages from BioConductor? I still have not had any luck with this.

[2021-09-24 22:11] balajialg commented on #2793
Thanks, @felder for looking into this! @seangallaher Are there alternative packages that you would recommend if we are stuck with BioConductor installation?

Looking at the issues/PR history, I am not able to find any packages which were installed via BioConductor

[2021-09-24 22:17] felder commented on #2793
@seangallaher The BioConductor base install seems to work and I tried this package:
https://www.bioconductor.org/packages/3.12/bioc/html/zlibbioc.html

[code]

Had a similar seemingly successful result with the following:
https://www.bioconductor.org/packages/3.12/bioc/html/DelayedArray.html
https://www.bioconductor.org/packages/3.12/bioc/html/S4Vectors.html
https://www.bioconductor.org/packages/3

[2021-09-24 22:23] balajialg commented on #2693
@yuvipanda I was looking at this dashboard today. We had more than 100+ 5xx errors consistently over the past 6 hours (9/24). However, there were no 5xx issues were raised by our users which got me wondering whether Prometheus is spitting out error logs alone?

![image](https://user-images.githubusercontent.com/2306166/134745556-a0e125e6-5dee-4457-9539-6f219f09f160.png)

Or the assumption is a cer

[2021-09-24 22:29] seangallaher commented on #2793
Wow, this is weird. I was able to install Genomic Scores, which did not work for you.

Sorry I am a little new to this. How do I re-set my instance of RStudio so that it will be the same as what my students get when they first log on?

[2021-09-24 22:42] felder commented on #2793
@seangallaher do that, you just need to restart your server.

You can reach the controls for doing that by going here:
https://datahub.berkeley.edu/hub/home

[2021-09-24 22:44] felder commented on #2793
@seangallaher you were able to get GenomicScores installed eh?  I wonder if it's memory availability issue, perhaps the packages require more RAM than is available in the instance to build.

[2021-09-24 22:47] felder commented on #2793
Although hmm I don't think so because when I run top in a terminal and attempt to install GenomicScores I don't see that as being an issue.

[2021-09-24 23:05] felder commented on #2793
@seangallaher so on a whim I decided to fire up docker on my desktop and execute the datahub docker image.  The install completes successfully there, thus I actually think it might be likely that it is running out of RAM in the instance when attempting to install the package.

So it's possible that the image build process will succeed.  However, I have another question for you.  Assuming this is a

[2021-09-24 23:10] seangallaher commented on #2793
That is interesting. I can work with a toy dataset to keep the memory requirements low. But I am completely stuck if the students cannot install any of the needed packages. Each instance gets 2 GB, right? I think that should be fine for my students. Would it be possible to try installing cummeRbund on an instance with 4 or more GB and see if that works?

[2021-09-24 23:12] felder commented on #2793
@seangallaher
Each instance gets 1GB.

I'm already one step ahead of you.  I'm telling docker to only allocate 1GB of RAM to my container and I'm going to execute the build process again.  Additionally I'm going to time it because another concern I have is the amount of time this particular package installation will add to the overall build process.

[2021-09-24 23:28] felder commented on #2793
@seangallaher yes I was able to confirm this issue.

With only 1GB allocated to my local instance, I can watch memory usage spike and then the build process dies.

So I think in theory we should be able to get this installed.  However, would you have any interest in profiling your assignment on your machine to see if it will exceed the current 1GB default memory limit when you load and try to use

[2021-09-24 23:29] seangallaher commented on #2793
Sure. Just tell me what to do.

[2021-09-24 23:29] felder commented on #2793
@yuvipanda @balajialg I'll also note that with 4 cores allocated to my container it takes 12 minutes for the build.

[2021-09-24 23:50] felder commented on #2793
@seangallaher

Newer versions of rstudio seem to have this built in, but alas the version on the hub is older:
https://support.rstudio.com/hc/en-us/articles/1500005616261-Understanding-Memory-Usage-in-the-RStudio-IDE

You mentioned R 4.1, though.  If you've got the newer rstudio on your machine you might be able to do the above to get some idea of what you're looking at.  Granted it's not the same

[2021-09-25 00:36] seangallaher commented on #2793
I ran the script with the full data set and it used about 1.5 GB, so that is a problem. As I said above, I can use a smaller toy dataset to help out with that. HOWEVER, just loading cummeRbund is taking the memory up to about 1 GB. So unless I can get instances of RStudio for my students with >1 GB, this whole enterprise is doomed.

[2021-09-25 01:26] felder commented on #2793
@seangallaher how many students are in your class?

[2021-09-25 01:31] seangallaher commented on #2793
I think we are at 46 now. Under 50 for sure.

[2021-09-25 01:37] felder commented on #2793
@seangallaher ok i think we can make this work.  I can increase the RAM allocation for your students to 2GB.

How soon do you require this?

[2021-09-25 01:41] seangallaher commented on #2793
That would be amazing. They would need the larger allocation by Wednesday morning (9/29) if that is at all possible. It would only be for a week and a half, as we will be done with this module on Friday, 10/8. Would that work?

[2021-09-25 01:52] felder commented on #2793
@seangallaher yeah that should likely work.  The RAM allocation is easy to do, my main concern now is getting these packages through the build process.  I’ll know more about that on Monday when I try it.  Also there might be other hubs that would be better suited to your class.  For example the biology hub.

@petersudmant what do you think?

[2021-09-25 01:56] felder commented on #2793
@seangallaher oh can you please give me the url to your course as listed in https://classes.berkeley.edu ?

[2021-09-25 01:57] seangallaher commented on #2793
https://classes.berkeley.edu/content/2021-fall-plantbi-135-001-lec-001

[2021-09-25 02:00] felder commented on #2793
@seangallaher thanks!

[2021-09-25 02:18] seangallaher commented on #2793
I didn't know there was a separate biology hub. I just tried it and I was able to install and load cummeRbund, and run my whole script. I don't know if the biology hub has more resources per instance, but switching to it seems to have solved me problem. Assuming my students can use that too, I guess I am good. Thanks for all of your help!!!!

[2021-09-25 14:06] seangallaher commented on #2793
@felder @balajialg  I was so excited that I was able to install my package on biology.datahub, that I forgot about my original request. Could we install cummeRbund on RStudio on the biology hub?  In my instance, it installs just fine with:
BiocManager::install("cummeRbund")
It just takes a long time to install, and I would hate to waste half of my limited class time trying to get 46 inexperienced

[2021-09-25 22:33] petersudmant commented on #2793
Yes! cummeRbund  is a  great idea! I'll  do  that right now.

Indeed the  biology hub is for  such biology related stuff!!!!

[2021-09-26 00:15] petersudmant commented on #2793
OK, fyi -> this is installed.   It's in staging and I haven't merged to prod yet because there's all sorts of stuff floating around in there that i wanted to ask about. But, should be good to go shortly.

[2021-09-26 00:27] felder commented on #2793
@seangallaher @petersudmant this is going to work out nicely.  Let me know if you have any questions and/or assign me as a reviewer for the PR to prod and i’ll look at it Monday.

[2021-09-26 20:57] ikim2000 opened #2798 "Retrieve my old Datahub files"
### Email Id

minjeekim303@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/minjeekim303.tar.gz

[2021-09-27 07:06] github-actions[bot] opened #2799 "Weekly Update - Monday, September 27th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-09-27 18:45] seangallaher commented on #2793
@petersudmant
Thanks so much for helping me get this set up. As of right now (Monday morning) I do not see the cummeRbund libraries on my instance of biology.datahub.berkeley.edu. Is that something that will be available by Wednesday morning? Thanks!

[2021-09-27 18:50] petersudmant commented on #2793
@seangallaher I have just initiated the merge - so, should be ready to roll in 60-90 mins or so!

[2021-09-27 18:58] seangallaher commented on #2793
@petersudmant
Fantastic! I thank you and my students will thank you for saving us from 20 minutes of grief in class trying to get cummeRbund installed on 46 different instances of RStudio.

[2021-09-27 19:24] balajialg commented on #2672
@yuvipanda Is this issue still valid? We didn't receive any autoscaling-related errors from Data 8 team. Can I close this issue? Please let me know!

[2021-09-27 19:24] zbutzin opened #2801 "Request R package epitools for class PH 252"
### Package Name

epitools

### Hub details

- Hub: Public Health DataHub
- Language: R

### Course Name

[PBHLTH 252 - Patrick Bradshaw](https://classes.berkeley.edu/content/2021-fall-pbhlth-252-001-lec-001)

### Semester Details

Fall 2021 (annual)

### Additional Information

https://cran.r-project.org/web/packages/epitools/

Thank you!

[2021-09-27 19:40] felder commented on #2801
@zbutzin is there any way you would be able to test package installation in your own hub environment and then submit a single issue with all of your dependency requirements?  It'd be a lot easier for me to install all of your dependencies at once as opposed to a whack-a-mole approach.

This is the sixth package request in a bit over a month.
https://github.com/berkeley-dsep-infra/datahub/issues?q=

[2021-09-27 20:13] zbutzin opened #2802 "Request R package multcomp for class PH 252"
### Package Name

multcomp

### Hub details

- Hub: Public Health DataHub
- Language: R

### Course Name

[PBHLTH 252 - Patrick Bradshaw](https://classes.berkeley.edu/content/2021-fall-pbhlth-252-001-lec-001)

### Semester Details

Fall 2021 (annual)

### Additional Information

https://cran.r-project.org/web/packages/multcomp/index.html

Thank you for your help!

[2021-09-27 20:14] felder commented on #2802
@zbutzin is there any way you would be able to test package installation in your own hub environment and then submit a single issue with all of your dependency requirements? It'd be a lot easier for me to install all of your dependencies at once as opposed to a whack-a-mole approach.

This is the seventh package request in a bit over a month.
https://github.com/berkeley-dsep-infra/datahub/issues?q

[2021-09-27 20:17] balajialg commented on #2793
Thanks a lot, @petersudmant @felder, for helping @seangallaher by recommending the biology hub and installing the packagecummeRbund!

@seangallaher, I am closing this issue for now. However, if you face any issues with the package, please do reopen this issue and tag us. In the meantime, Good luck with your modules.

[2021-09-27 20:17] #2793 closed, assigned to felder, balajialg

[2021-09-27 20:47] #2798 closed, assigned to felder

[2021-09-27 20:47] felder commented on #2798
Signed URL sent.

[2021-09-27 20:50] felder commented on #2799
**Thanks I'd like to give 🙌**
- Thanks to @petersudmant for his assistance with biology hub.

**Updates from last week ✔**
- Been resolving support tickets.

**My availability for next week**
- I'm going to be on vacation from Sept. 30 - Oct. 10, will be back on Oct. 11

[2021-09-27 20:56] felder commented on #2782
Noting that I did meet with Elias last week to give him some tips and suggestions for how to go about tackling the issues he's experiencing with his notebook.

[2021-09-27 21:07] balajialg commented on #2799
**Thanks I'd like to give 🙌**
- Thanks @yuvipanda and @felder, for making updates to our error-monitoring system by tracking errors through GCP and Prometheus/grafana services. Thanks, @felder, for helping with my naive git queries!
-  Thanks, @petersudmant for generously supporting us with package installation requests

**Updates from last week ✔**
- Working closely with @ericvd-ucb for schedulin

[2021-09-27 22:38] balajialg commented on #2737
@kferger320's request here - _I'm trying to test out qiime2 in a Jupyter notebook on biology.datahub.berkeley.edu and I'm having a hard time figuring out how to load it in the notebook since it was installed as a conda environment. We want to be able to use the package in a Jupyter notebook for the class, so could you let me know the best way to get this working?_

@petersudmant I tried running th

[2021-09-27 22:50] petersudmant commented on #2737
Right - So the commands I wrote out are for access to qiime2 in the command line,

eg:
[code]

Your use case is different - I didn't realize you wanted to code in python. I'm not sure how to do this. The only way I can think is to create a new jupyter-notebook kernel - [here](https://towardsdatascience.com/get-your-conda-environment-to-show-in-jupyter-notebooks-the-easy-way-17010b76e874) are instr

[2021-09-28 00:09] balajialg commented on #2737
@petersudmant Thank you so much for clarifying the installation set up! I didn't realize it was for terminal-based usage.

@kferger320 Would you be able to use the terminal commands for qiime2 (as outlined above by @petersudmant )? or having qiime2 as part of jupyter-notebooks is a must?

@petersudmant Is this something that you would be able to help with? I tried replicating the blog's suggestion

[2021-09-28 00:18] kferger320 commented on #2737
@balajialg Ideally we would use this package as part of a python tutorial, so it would be best if we could get it working in a Jupyter notebook if possible.

[2021-09-28 00:50] ericvd-ucb opened #2803 "Request Julia bump to 1.6 and Package for Julia Hub"
### Package Name

Julia version to 1.6 and Mimi Package

### Hub details

- Hub:
Julia Hub

- Language:
### ###
Julia 1.6
https://github.com/JuliaLang/julia/releases

and Mimi
https://github.com/mimiframework/Mimi.jl
( currently trying to pre-compile via Julia package install and its having a hard tim)

the end result will be to try to get the FUND model to run ( eg in a classroom setting)
https:/

[2021-09-28 05:46] petersudmant commented on #2737
@kferger320 @balajialg I have a solution - but, it's a tiny bit tedious. I'm trying something else ( I think it's a good fix ) - but it's compiling on my computer now and I want to go to bed - I'll check in tomorrow ok?

[2021-09-28 16:13] balajialg commented on #2737
@petersudmant Thanks a ton! Please take your time

[2021-09-28 17:09] balajialg commented on #2803
Thanks, @ericvd-ucb! Parsing out the different requests made (for my reference),

- [x] - Upgrade Julia Hub version to 1.6
- [x] - Install Mimi Package
- [ ] - Increase RAM limit for Julia hub to 2 GB??
- [ ] - Develop a proof of concept to get the Julia package Mimi run on the Data 100 hub

[2021-09-28 17:39] zbutzin commented on #2802
@felder Thanks for reaching out, and sorry to make things challenging for you.

I am open to whatever solution you recommend. For context, we converted this entire course to Jupyter notebooks over the summer (previously pdfs and standalone .rmd). At the end of the summer, we attempted to check which packages were missing so that we could submit a single package request. We must have done so incorr

[2021-09-28 17:54] felder commented on #2802
@zbutzin yes, the public health hub uses a different image than datahub so it does have different packages.

I'm willing to provide what assistance I can if you need it, but yeah if possible I'd really appreciate it if you could try uploading your remaining lecture materials to the public health hub, test, and then submit an issue with all of your missing packages so I can work on adding them all

[2021-09-28 18:11] zbutzin commented on #2802
@felder Thank you so much for your help. I think that must be the issue -- we originally created the notebooks and checked for missing packages in DataHub, but the materials are now in Public Health Hub. Sorry for this oversight and the complications it's caused.

I will work on uploading the remaining lecture materials, check for missing packages and dependencies, and will submit a single issue w

[2021-09-28 22:58] felder commented on #2693
@yuvipanda yeah can take a look at this, but it'll be after my vacation

[2021-09-28 23:01] felder commented on #2801
I'm going to bundle this in with issue #2802

[2021-09-28 23:01] #2801 closed, assigned to felder, balajialg

[2021-09-28 23:03] felder commented on #2802
When installing via rstudio in staging I get epitools 0.5-10.1 and multcomp 1.4-17 which both match with the latest versions in cran.

[2021-09-28 23:28] balajialg commented on #2395
@felder Is this issue still relevant?

[2021-09-28 23:51] felder commented on #2802
It's now available in prod:

[code]

[2021-09-29 00:19] felder commented on #2395
@balajialg yes it is.

I'm waiting for the next official release where I presume this bug will be patched.

[2021-09-29 01:24] #2802 closed, assigned to felder, balajialg

[2021-09-29 16:14] balajialg opened #2808 "EECS Hub: No Space left on Device [BLOCKER]"
### Bug description

@Quizenger raised this issue in the Slack channel!

![Image from iOS](https://user-images.githubusercontent.com/2306166/135307570-61123ff4-a4a2-4127-8c48-c62e38a5432e.png)

### Environment & setup

- Hub: EECS Hub
- Language: Python

### How to reproduce

Try accessing a notebook in the EECS hub

![image](https://user-images.githubusercontent.com/2306166/135308056-a0c729bc-f9b

[2021-09-29 16:15] balajialg commented on #2808
@felder 5xx Error logs
![image](https://user-images.githubusercontent.com/2306166/135308188-0f0247fc-c159-4475-9b0d-e4aedcd6757f.png)

EECS Hub Memory Usage:
![image](https://user-images.githubusercontent.com/2306166/135308888-13ecaf3c-c90f-475e-9050-681e8144f440.png)

@felder Could this be similar to this [error](https://github.com/berkeley-dsep-infra/datahub/pull/2749)?

[2021-09-29 16:23] balajialg commented on #2808
@felder @ryanlovett @yuvipanda

Would increasing the storage [here](https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/eecs/config/prod.yaml) to 8Gi help?

[2021-09-29 16:28] ryanlovett commented on #2808
@balajialg That is the size of storage for the hub's database volume, not user storage. The NFS disk is full:
[code]
I'll have to lookup how the storage has been setup and if it is possible to grow it. I'll also see if some unnecessary things can be removed.

[2021-09-29 16:32] balajialg commented on #2808
@ryanlovett Thanks for jumping in! Your support would be crucial, considering an EECS 16A lab is happening right now, and it is a blocker for every student.

[2021-09-29 16:35] ryanlovett commented on #2808
@felder replied on slack that he is handling it

[2021-09-29 16:36] balajialg commented on #2808
Thanks, @ryanlovett!

[2021-09-29 17:03] balajialg opened #2810 "Hub Documentation to increase NFS storage!"
# Summary

#2808 was a blocker for many students using the EECS hub. This issue was because user data were maxing out hub storage. @felder, with his awesome skills, immediately fixed the problem by growing the NFS disk space for the EECS hub. Created this issue as a prompt for @felder to document his knowledge in [Datahub Docs](http://docs.datahub.berkeley.edu/) for future reference.

# Tasks to c

[2021-09-29 18:43] balajialg opened #2811 "[EPIC] Tracking NFS server filesystem monitoring!"
# Summary

Currently, we track the NFS usage data across all hubs using command-line tools. However, tracking this data in a centralized way can make it easier for us to understand which hubs require additional memory or needs to reduce their memory usage (by other mechanisms such as reducing the size of the dataset, etc.). #2808 is an example of this kind of issue we may run into if this data is

[2021-09-29 18:58] felder commented on #2810
I vaguely recall writing something like this.  The real question is, where is it? :P

[2021-09-29 19:07] felder commented on #2808
The disk on the nfs server used by this particular hub was full.  I increased it from 5TB to 7.5TB.

[2021-09-29 21:07] balajialg commented on #2737
@kferger320 Just an FYI, When are your classes scheduled? When do you plan to use the Qiime package?

[2021-09-29 21:13] kferger320 commented on #2737
@balajialg We plan on using the Qiime2 package in class on 10/14, and we have a RNASeq tutorial planned for 10/28 - we will follow up soon about packages for that lecture once we decide which package will work best for us

[2021-09-29 21:21] balajialg opened #2812 "[EPIC] Improve accuracy and reliability of Grafana Dashboards"
# Summary

Grafana Dashboards are a comprehensive and useful tool that serves the following purposes,
1. Highlights important metrics such as the number of active users
2. Highlight hubs performance by looking at different indicators such as memory distribution, pod latency, etc..

Grafana is used by us extensively which highlights the critical role played by the tool. However, the grafana metrics

[2021-09-29 21:59] #2808 closed, assigned to felder, balajialg

[2021-09-29 22:02] balajialg commented on #2737
@kferger320 Sounds good! That gives us ample time to install both these packages!

[2021-09-29 23:57] balajialg commented on #2808
@felder Data 8 also had the same issue today morning! Is the NFS file storage issues common across all the hubs?
![Screen Shot 2021-09-29 at 9 26 02 AM](https://user-images.githubusercontent.com/2306166/135364198-33d5d22e-7b9d-4734-9198-bda1426427f8.png)

[2021-09-29 23:59] balajialg commented on #2733
@dbroockman How did your classes go yesterday? Did the latest change made by @yuvipanda have any effect during yesterday's class? Thanks again for your patience!

[2021-09-30 00:01] dbroockman commented on #2733
I think it helped, we only had maybe 5 students who had to wait 3 minutes or so.

[2021-09-30 05:51] ericvd-ucb opened #2813 "Add Morris and Van Dusen to Data 8x hub"
### Your Name

Eric Van Dusen

### Affiliated Course Name

Data 8x

### Role

admins

### Name of the Hub

-

### List of Usernames

-

### End Date

-

[2021-09-30 06:51] fperez opened #2814 "Allow ssh requests from the hub"
# Summary

Correct me if I'm wrong, but it seems that outbound SSH connections are currently forbidden...

Once I set up my ssh agent, cloning a tiny repo over SSH never completes:

[code]

# User Stories

In order to develop directly on the hub, cloning repos over SSH with a properly configured agent is a very convenient workflow.  I do the same on other hubs, but it seems to not be possible at l

[2021-09-30 09:36] yuvipanda opened #2815 "Determine NFS Disk strategy"
We currently have three NFS disks attached to the NFS server at nfs-server-01.

| Disk | Size | Used % | Type | Hubs |
| - | - | - | - | - |
| datahubhomes-2020-07-29 | 20T | 54% | pd-balanced | datahub, r hub, julia hub |
| data100homes-2020-08-04 | 10T |  70% | pd-balanced | data100 hub |
| ischool-2021-07-01 | 500G | 42% | pd-standard | ischool hub |
| homedirs-other-2020-07-29 | 7.5T | 69%  |

[2021-09-30 09:40] yuvipanda opened #2816 "Identify and ping users who use up a lot of disk space"
When looking through the biology hub, @felder discovered that some users are using
as much as 250GB of space. While not prohibited, we should reach out to these users
and ask them to clean up.

## TODO

- [ ] Write a script that can identify these users and make a report
- [ ] Establish a threshold for personal emails, and email them

[2021-09-30 09:40] yuvipanda opened #2817 "Cleanup possibly redundant files in biology hub home directory"
I think a semester or so ago, people might have had to upload individual
copies of a large dataset to the biology hub as we didn't have shared directory
functionality at that point. We do now! We should investigate if this is the
case, and if so clean up the old files somehow.

## TODO

- [ ] Determine if there is a lot of duplicated large files in the biology hub
- [ ] Figure out if they can be d

[2021-09-30 09:41] yuvipanda commented on #2817
@petersudmant do you remember if this duplication happened before?

[2021-09-30 09:44] yuvipanda commented on #2815
Particularly for EECS and genomics hubs, which are using up a lot of space now - we can try setting [xfs_quota](https://man7.org/linux/man-pages/man8/xfs_quota.8.html) on them and see how it goes? I think it's already mounted with project quota enabled, which is what we will need to use.

[2021-09-30 09:49] yuvipanda commented on #2814
We explicitly allow the ports outbound network communication can take place over - specified [here](https://github.com/berkeley-dsep-infra/datahub/blob/5718a15c9340c4d10e2fece33df70dbddc307f0e/hub/values.yaml#L100). We can add ssh port 22 to it fairly easily.

The bigger question is to determine what benefit we get from filtering outbound ports, and see if we should consider just removing that as

[2021-09-30 09:54] yuvipanda commented on #2814
Particularly, we allow outbound 443/80 to the wide internet with no restrictions. So, users can in fact tunnel out to wherever they want on the internet via that.

However, there is a lot of value in allowing only explicitly listed ports when accessing *internal IPs*. For example, there's no reason for user pods to hit promethues server or the configurable-http-proxy API endpoint. So maybe we shou

[2021-09-30 09:59] yuvipanda commented on #2622
Deleting the mongo PVCs now with ` k -n cs194-prod delete pvc -l component=mongo-storage`, and postgres with `k -n cs194-prod delete pvc -l component=db-storage`.

210 disks each, so that was 210GB of SSD disks and 4.2 *TB* of standard disk being cleaned up This should give us some money back.

[2021-09-30 10:04] yuvipanda commented on #2622
Since some users were still using the hub earlier, I had asked the instructors to let them know that we'll be turning everything off on September 15 :) The instructors are happy for us to wipe the home directories took, but I see from the admin panel that some users are still using the hub. So I've pinged the instructors again, let's see what their response is.

[2021-09-30 10:06] yuvipanda commented on #2733
Thanks, @dbroockman! Did you instruct them to login to the hub earlier, or is this just the effect of the larger placeholder count?

[2021-09-30 10:40] yuvipanda commented on #2812
Thanks a lot for opening this, @balajialg!

github.com/jupyterhub/jupyterhub-grafana deploys a set of common dashboards to a particular folder - in our case, https://grafana.datahub.berkeley.edu/dashboards/f/70E5EE84-1217-4021-A89E-1E3DE0566D93/jupyterhub-default-dashboards. I think this is the only one that's reliably consistent - the dashboards are version controlled, documented and somewhat und

[2021-09-30 10:41] yuvipanda commented on #2808
data8 and eecs hubs shared NFS disks - see #2815

[2021-09-30 10:43] yuvipanda commented on #2811
Would be great to have per-hub NFS stats reported.

https://github.com/prometheus-community/node-exporter-textfile-collector-scripts/blob/master/directory-size.sh is an example of how prometheus_node_exporter (which we already run) can be configured to collect per-directory metrics. Those can then be visualized on grafana.

[2021-09-30 14:46] petersudmant commented on #2817
1) I don't remember - but, if you point me to the data I'd be happy to look. FWIW, all the datasets we are currently using are in the shared folder.

2) The 2nd half of the class, which starts in 2 weeks, will involve more data, but, we will be starting from scratch, so everything that's not in those shared folders can be deleted.

3) The students will be starting their projects too. This will inv

[2021-09-30 15:32] fperez commented on #2814
Big +1 to opening up these port restrictions - my ssh case and @cboettig's for FTP are both I think very legitimate use cases that would be greatly helped. While you consider the bigger design issues, if this is viable now, it would be greatly appreciated.

Thanks for the quick response!

[2021-09-30 16:04] dbroockman commented on #2733
Yes, I also gave them access to the assignment earlier so that students logged on over a longer length of time than before (basically whenever they showed up to class).

I can't disentangle the effects of the two changes, they both went into effect this past Tuesday.

[2021-09-30 16:18] balajialg commented on #2811
@yuvipanda that will be fantastic! I am scoping this for the October sprint for now. If you think it would not be feasible, I can move it to our backlog.

From an implementation perspective, Is this a low-hanging fruit or requires extensive custom scripting?

[2021-09-30 16:36] balajialg commented on #2812
@yuvipanda These are awesome next steps! Makes a lot of sense. Moving the dashboards we are playing around with to separate folders and adding descriptions to all the dashboards would make it easier for interpretation.

In terms of metrics required for evangelism, I am looking at articulating our story in terms of our reach, impact, and the technical brilliance of the tool.

1. REACH: What are our

[2021-09-30 16:40] ryanlovett commented on #2814
@yuvipanda The only harm I can think of is unexpectedly high data egress charges. If there was a big bill, can the outbound data be tracked to a class or user?

Looks like egress is $0.12/GB when monthly usage is under 1TB. So 100 students each sending a 10MB file would cost $0.12. Guessing it won't be a problem.

[2021-09-30 16:44] balajialg commented on #2808
@yuvipanda that's helpful!

[2021-09-30 16:46] balajialg commented on #2815
@yuvipanda Thanks for this detailed write-up. Super useful!

1. Is there any reason for not having separate NFS disks for Data 8 and EECS? Considering that both are computation-intensive hubs with a lot of application data!
2. Also, Is it possible to set up alerts when xfs-quota gets reached in specific NFS disks?

[2021-09-30 16:49] ryanlovett commented on #2810
Maybe this could also document how to determine [the hub/disk affiliation](https://github.com/berkeley-dsep-infra/datahub/issues/2808#issuecomment-930630984) for @balajialg, e.g. `git grep shareName` or some such.

[2021-09-30 17:03] balajialg opened #2819 "Public Health: R is taking longer to start than usual error!"
### Bug description

David Connell course instructor for PHW251 raised this issue via Slack!

**His inputs about the issue:**
- The course is PHW251, and it's asynchronous so there shouldn't be a high number trying to access datahub at the same time. We only have about 60 students. we've had 4 people report this issue, one in the last hour

![image (4)](https://user-images.githubusercontent.com/23

[2021-09-30 17:09] balajialg commented on #2733
@dbroockman This is excellent news! Finally, Either both these strategies or one of them seem to solve the problem. Considering that, I am closing this issue for now. Please do open it again if you see this error reoccurring. Hope that works for you!

[2021-09-30 17:09] #2733 closed, assigned to nobody

[2021-09-30 18:18] #2814 closed, assigned to balajialg

[2021-09-30 18:47] yuvipanda commented on #2814
@fperez ssh should be open in a few minutes :)

[2021-09-30 22:54] fperez commented on #2814
[code]

Wohoo!!! 🎉 🚀 Thanks so much @yuvipanda!! Awesome :)

[2021-09-30 23:07] fperez commented on #2814
Sweet! We're adding a new lecture/lab on climate change to D100 (developed by the inimitable @cgentemann) and now I can properly do the development on the hub itself, so I know the code will run for the students identically... Super grateful!

[2021-09-30 23:18] ericvd-ucb commented on #2782
turns out its a fiddly package that we need to get more info from the owner before we attempt to launch this notebook

[2021-09-30 23:52] balajialg opened #2823 "Datahub Home Page Redesign!"
# Summary

Our [Home page](http://datahub.berkeley.edu/) requires some love! Assuming that most of our users are not going to visit this page (thanks to the SSO), It is important to revisit who this page is designed for. I believe that the home page could target two different audiences,

- **Leadership:** We can share key metrics/updates about Datahub to the leadership (RTL, CDSS, and IS&T) and in

[2021-10-01 00:01] #2755 closed, assigned to nobody

[2021-10-01 00:03] #2799 closed, assigned to yuvipanda, felder, balajialg

[2021-10-01 05:06] fperez opened #2824 "Update Cartopy to version 0.20"
### Package Name

cartopy

### Hub details

- Hub: D100
- Language: Python

### Course Name

Data 100 - me :)

### Semester Details

Fall 2021

### Additional Information

We already have cartopy, unfortunately there's a critical bug breaking our usage for an upcoming lecture that was [only very recently fixed  upstream](https://github.com/SciTools/cartopy/pull/1833/files). With 0.19, certain cart

[2021-10-01 05:11] fperez commented on #2824
FYI, this one isn't easy to work around temporarily as a normal user, b/c cartopy is a pain to build... Trying to `pip install cartopy` in the hub leads to:

[code]

So I don't really have any way of pushing forward on this for now. Help much appreciated!

[2021-10-01 13:36] yuvipanda opened #2825 "Consider unblocking all outbound ports"
The bigger question is to determine what benefit we get from filtering outbound ports, and see if we should consider just removing that as a limitation. Particularly, we allow outbound 443/80 to the wide internet with no restrictions. So, users can in fact tunnel out to wherever they want on the internet via that.

However, there is a lot of value in allowing only explicitly listed ports when acce

[2021-10-01 13:37] yuvipanda commented on #2825
From @ryanlovett in https://github.com/berkeley-dsep-infra/datahub/issues/2814#issuecomment-931486408:

@yuvipanda The only harm I can think of is unexpectedly high data egress charges. If there was a big bill, can the outbound data be tracked to a class or user?

Looks like egress is $0.12/GB when monthly usage is under 1TB. So 100 students each sending a 10MB file would cost $0.12. Guessing it w

[2021-10-01 14:03] yuvipanda commented on #2815
@balajialg for (1), EECS hub started out pretty small :) Wether they should get new disks now, or if we should consolidate everything into one should be determined by looking at IOPS metrics as mentioned in the issue.

We can definitely have alerts for this once we have alerting mechanisms in place...

[2021-10-01 14:07] yuvipanda commented on #2812
I've organized the dashboards into folders now:

<img width="385" alt="image" src="https://user-images.githubusercontent.com/30430/135633819-46650c16-757e-42ae-b26f-7fcea3283bc2.png">

The 'production' dashboards are clearly labelled now.

[2021-10-01 14:11] consideRatio commented on #2824
![image](https://user-images.githubusercontent.com/3837114/135634378-2ede2c0d-6b0b-445c-b0fd-8bbde5a55f54.png)

Cartopy has been updated in conda-forge to 0.20.0, 27 minutes ago!

[2021-10-01 14:13] yuvipanda commented on #2803
@ericvd-ucb I don't think I want to get Julia installed on data100 hub. However, they can use the julia hub for it without any issues - just won't have admin access.

[2021-10-01 16:21] balajialg commented on #2813
@ericvd-ucb @sean-morris Can you follow the below steps and share your EdX Id? Need that for providing admin access!

EdX IDs look like the random strings eg: c741d11d7f0bed9930e04276115b1a37.

You can find yours by:

1. Enrolling in the class
2. Launching into the lab
3. Finding the user id from the control panel

[2021-10-01 18:20] yuvipanda commented on #2824
We get all our packages from pip, and we get proj from apt. It looks like the version of proj we have is too old for cartopy 0.20, so this is gonna take a bunch of digging

[2021-10-01 22:23] sean-morris commented on #2813
Here you go:
bd1e7c64c6f5faddbf6b32af3010cf75

Thanks

[2021-10-01 23:12] balajialg commented on #2813
@sean-morris Thank you! Once @ericvd-ucb  shares his id will create a PR for admin access!

[2021-10-01 23:15] balajialg commented on #2810
@ryanlovett Good point! Would be great for future reference.

@ryanlovett On another note, Do you know which repo hosts docs.datahub.berkeley.edu? If I get access to it, I can start making edits whenever I get time and close some of the documentation PRs that you had raised (Ref: #2608, #2756).

[2021-10-01 23:21] balajialg commented on #2803
@yuvipanda Any reasons for not installing Julia as part of the Data 100 hub? Is this decision related to technical bandwidth or more of a policy decision that needs to get documented somewhere?

On another note, we might need to increase the memory limit for the Julia hub and install Mimi package.

[2021-10-01 23:34] balajialg commented on #2197
@yuvipanda @felder @ryanlovett One of the challenges I have observed whenever there is an outage is the number of messages we get via Slack/Emails. This can be stressful and time-consuming for both us and our users. In order to streamline our communications during an outage, I was thinking of the below idea. Please let me know your thoughts!

From a contingency planning perspective, We can do the

[2021-10-02 09:50] yuvipanda commented on #2803
@balajialg this is related to #2669. data100 hub uses same image as datahub, and it's already *huge*. A lot of the scale-up problems are caused by the time it takes for the big image to be pulled in, so I don't want to add to that.

[2021-10-02 09:57] yuvipanda commented on #2333
#2669 is what is left, so I'm going to close this issue for now.

[2021-10-02 09:57] #2333 closed

[2021-10-04 02:48] qimingwu opened #2829 "Request for retrieving archived files"
### Email Id

wuqiming9897@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/wuqiming9897.tar.gz

[2021-10-04 06:45] yuvipanda commented on #2197
@balajialg for outages, I'd rather have us use something like [statuspage](https://www.atlassian.com/software/statuspage), so we have a page [like this](https://status.digitalocean.com/) rather than email everyone.

[2021-10-04 06:46] yuvipanda commented on #2197
Berkeley IT already has https://systemstatus.berkeley.edu/, so we could also pick up a line item there. Not sure if it can be detailed enough though.

[2021-10-04 06:47] yuvipanda commented on #2672
Yep, I think this is sorted now!

[2021-10-04 06:47] #2672 closed, assigned to yuvipanda

[2021-10-04 07:06] github-actions[bot] opened #2830 "Weekly Update - Monday, October 4th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-10-04 17:07] zbutzin opened #2831 "Request R packages rms, lmtest, car, SurvRegCensCov, ProfileLikelihood, and biostat3 for class PH 252"
### Package Name

 rms, lmtest, car, SurvRegCensCov, ProfileLikelihood, and biostat3

### Hub details

- Hub: Public Health DataHub
- Language: R

### Course Name

[PBHLTH 252 - Patrick Bradshaw](https://classes.berkeley.edu/content/2021-fall-pbhlth-252-001-lec-001)

### Semester Details

Fall 2021 (annual)

### Additional Information

Package documentation:
[rms](https://cran.r-project.org/web/pa

[2021-10-04 18:00] kferger320 commented on #2737
@petersudmant just wanted to check in about the qiime2 install- were you able to get something working in Jupyter notebooks? Ashley and I were hoping to start testing things this week so let me know!

[2021-10-04 18:00] yuvipanda commented on #2816
To begin with, maybe we can find all users who are using more than 100G of home dir space, and ask them to clean out?

[2021-10-04 18:12] yuvipanda commented on #2831
@zbutzin can you make a pull request editing [this file](https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/publichealth/image/r-packages/ph-252.r) to add these libraries? You can see how other libraries are being added from line 14. You can find the version numbers for these packages at https://packagemanager.rstudio.com/client/#/repos/1/packages. Think you can give that a sh

[2021-10-04 20:06] yuvipanda commented on #2693
There's a lot of spurious errors like this:

[code]

This is when their servers have been culled but their browser tab is still open. I think this should be a 404 instead... We should clean that up.

[2021-10-04 20:13] yuvipanda commented on #2803
@ericvd-ucb do you have a timeline for when this is needed?

[2021-10-04 20:17] cboettig commented on #2784
@yuvipanda @felder I have one student who is still not seeing the updated RAM allocation.  What's the right protocol here?

[2021-10-04 21:23] balajialg commented on #2784
Hi @cboettig That's interesting! Can you share the email id of the student who is facing this issue?

[2021-10-04 21:23] yuvipanda commented on #2693
@balajialg I opened https://github.com/jupyterhub/jupyterhub/pull/3636 to get rid of a *lot* of these spurious errors.

[2021-10-04 21:26] balajialg commented on #2803
@yuvipanda That makes a lot of sense! Re: Question about the timeline for this task, it is December,
Conversation with Prof David and Eric for your reference,

_It would actually be very nice if we were able to get FUND to work on the data hub, I'm scheduled to give a guest lecture in the data 100 (I think that is the name?) class that Fernando teaches in December, and if the students could run FU

[2021-10-04 21:27] cboettig commented on #2784
sure, do we have a private channel? (ianal but always think of FERPA when it comes to student info)

[2021-10-04 21:30] balajialg commented on #2784
That makes a lot of sense. Could you slack me in the UC Tech group or send an email to balajialwar@berkeley.edu?

[2021-10-04 21:34] balajialg commented on #2693
@yuvipanda Sounds great! Interesting to know that even 404 could be spit as 503 errors. Thanks for looking into this.

[2021-10-04 21:37] balajialg commented on #2333
Sounds good!

[2021-10-04 21:41] cboettig commented on #2784
@balajialg :+1:  sent you a slack DM

[2021-10-04 21:46] yuvipanda commented on #2803
@balajialg great! Let's plan on doing this in november?

I think we should add a 'when do you need this by?' question to all package requests now, to help us plan and prioritize.

[2021-10-04 21:51] balajialg commented on #2831
@yuvipanda @zbutzin FYI, I have raised a PR for the requested packages [here](https://github.com/berkeley-dsep-infra/datahub/pull/2822)!

@zbutzin Going forward, Please do raise a PR using the process suggested by @yuvipanda!

[2021-10-04 22:41] balajialg commented on #2784
@cboettig I accessed the user's instance and opened a python notebook (to check their allocated memory). I was able to confirm that they have 1 GB allocated memory (Ref snapshot). For cross-reference, I checked your Jupyter instance and found that you had 8 GM RAM allocated. My initial intuition is that this issue could be due to the fact that the student might not be part of [custom profiles](htt

[2021-10-04 22:44] zbutzin commented on #2831
Thank you for sharing this information, @yuvipanda and @balajialg ! To be clear, do you need me to take any additional action at this time? Adding Professor @patrickbradshaw and co-GSI @kvntchn so that the full teaching team can learn this process. Thank you so much for your help!

[2021-10-04 23:57] balajialg commented on #2737
@kferger320 I tried the steps shared by @petersudmant (once again) to see if I could make it work! With one additional command, I was able to import the qiime package without any error in my instance [here](https://biology.datahub.berkeley.edu/user/balajialwar/notebooks/Untitled2.ipynb?kernel_name=python3)! Can you cross verify whether you are able to run the commands related to this package in th

[2021-10-05 00:25] balajialg commented on #2831
@zbutzin Thanks for the detailed package request! Appreciate your consideration of our inputs.

I would like to correct that, the previous suggestion made by us was more a "good to have" than a "must-have"! Steps are,

1. Install the required package in your version of datahub
2. Identify dependencies along with their version
3. Raise an [issue ](https://github.com/berkeley-dsep-infra/datahub/issu

[2021-10-05 00:32] balajialg commented on #2784
@cboettig Looking at this [documentation](https://docs.datahub.berkeley.edu/en/latest/admins/howto/course-config.html?highlight=custom%20profile), I wonder If this student is officially enrolled in your class?

FYI,
_We fetch per-course enrollment from the Student Information System when we need to configure user servers based on course affiliations. We periodically use this to set per-user resour

[2021-10-05 00:52] balajialg commented on #2197
I like the idea of having a status page. Didn't think of this idea before. I will figure out the next steps wrt to having a status page for our service on the Berkeley IT status page.

Also, from a user perspective (mainly instructors), We need to figure out a way to signal trust that we are working hard to get the systems back to normal in the way it is scalable. I am not sure the template provid

[2021-10-05 01:03] balajialg opened #2836 "Explore status dashboard for Datahub!"
# Summary

@yuvipanda suggested this idea in this issue #2197. I am creating this issue as a reminder to explore whether a Datahub status profile could be added to  https://systemstatus.berkeley.edu/ and (if feasible) the required steps to achieve that! @felder's input was that this is not an automated system that tracks the health of the services. Status updates are manually updated which may not

[2021-10-05 01:15] balajialg commented on #2830
**Thanks I'd like to give 🙌**
- Thanks @felder for being a rock star in fixing the outage quickly last week. Thanks, @ryanlovett for being supportive and responsive whenever required (as seen during the last outage)!

**Updates from last week ✔**
- I am preparing a slide deck for the 10/13 [workshop](https://rtl.berkeley.edu/events/teaching-campus-jupyterhub-1013/2021-10-13) with case studies of d

[2021-10-05 04:00] cboettig commented on #2784
He's enrolled according to both my CalCentral roster and my BCourses roster.

[2021-10-05 05:58] yuvipanda commented on #2197
@balajialg I agree that having a space where we can provide more communication than just a line or two is very helpful. We could try get our own statuspage, as there is space for narrative information there.

[2021-10-05 06:42] yuvipanda commented on #2830
**Thanks I'd like to give 🙌**
- To @felder and @ryanlovett for taking care of an outage last week when I was away
- To @balajialg for the nudge!

**Updates from last week ✔**
- I was off for part of it, taking my parents to their first ever vacation (to [Kodaikanal](https://www.tripadvisor.in/Tourism-g303890-Kodaikanal_Dindigul_District_Tamil_Nadu-Vacations.html).
- I poked around https://github.c

[2021-10-05 06:44] yuvipanda commented on #2784
I've pinged @ryanlovett who wrote the SIS integration and knows way more about it than us. Would you be able to take a look?

[2021-10-05 06:59] petersudmant commented on #2737
indeed,  if you do that, you should be able to run it in  python. I was
trying to make a "better" solution, but, this will do just fine I think

On Mon, Oct 4, 2021 at 4:58 PM Balaji Alwar ***@***.***>
wrote:

--
Peter Sudmant
Assistant Professor (he/him/his)
Department of Integrative Biology
University of California, Berkeley
510-664-4700

[2021-10-05 12:42] yuvipanda commented on #2693
Once we get https://github.com/jupyterhub/jupyterhub/pull/3636 deployed, our 503s will have much higher signal to noise ratio. We can use the logs to quickly investigate where they might be and fix them as we find them.

[2021-10-05 14:37] yuvipanda commented on #2830
@felder is out this week, so I'll just close this.

[2021-10-05 14:37] #2830 closed, assigned to yuvipanda, felder, balajialg

[2021-10-05 14:38] yuvipanda commented on #2555
@balajialg what needs to be done here?

[2021-10-05 14:39] yuvipanda commented on #2693
We can also access data from stackdriver in our grafana - https://grafana.com/grafana/plugins/stackdriver/. That might be helpful?

[2021-10-05 15:44] yuvipanda commented on #2677
@felder yes! We should make a proper structured list

[2021-10-05 16:43] kferger320 commented on #2737
@balajialg Glad it seems to be working! Sadly the link you sent with your commands leads to a 404 not found page- could you maybe send them in this thread and I can try to replicate them in my own notebook?

[2021-10-05 17:19] balajialg commented on #2829
@qimingwu Do you have any specific timeline for this request? Can we get back to you in a week's time?

[2021-10-05 17:48] petersudmant commented on #2737
I'm responding through email here, but if you follow the instructions for
the conda load etc above it should work

On Tue, Oct 5, 2021 at 9:43 AM kferger320 ***@***.***> wrote:

--
Peter Sudmant
Assistant Professor (he/him/his)
Department of Integrative Biology
University of California, Berkeley
510-664-4700

[2021-10-05 18:18] ryanlovett commented on #2784
I checked this morning and it looks like the SIS is returning a non-berkeley.edu email address for this student. In the short term, @balajialg will manually specify this person in the secrets yaml. In the long term I will check to see if sis-cli can fetch the official email address rather than the preferred one.

[2021-10-05 18:24] cboettig commented on #2784
Thanks @ryanlovett !

[2021-10-05 18:26] balajialg commented on #2737
@petersudmant Thanks for jumping in! I wonder whether these changes should be part of the [bash file](https://github.com/berkeley-dsep-infra/datahub/pull/2771/commits/d8a1f60c0a8b1885ab251f6e5d1586fb135b6e2b#diff-fe194f89644b56c40947401fb8285372a28f3d8a5d3a199d8b768bd758a8820c) so that students need not set up the environment individually? What do you think?

@kferger320 I assumed that you had adm

[2021-10-05 18:49] kferger320 commented on #2737
@balajialg @petersudmant Thanks for this! I tried these steps and they ran without error, and I was able to switch to the qiime2-2021.8 kernel in my Jupyter notebook. However, the qiime command still isn't recognized when I try to run a few example functions. Not exactly sure how this works but I assume I'm supposed to have an active conda env after these steps? Running `conda info` produces 'acti

[2021-10-05 19:10] yuvipanda commented on #2737
@petersudmant can you try add https://github.com/Anaconda-Platform/nb_conda_kernels? That might make the environment visible by default

[2021-10-05 21:11] alvinwan opened #2838 "Request python `geopandas` upgrade to 0.10.0 for Data 100"
### Package Name

geopandas=0.10.0

### Hub details

- Hub: data100.datahub
- Language: Python

### Course Name

Data 100 - @fperez and me - are using it for our final project

### Semester Details

Fall 2021

### Installation Deadline

If I had to nail down a date, Nov 1, but we're flexible. We plan on using features specific to `geopandas=0.10.0` in our final project, which isn't released until

[2021-10-05 21:15] ryanlovett commented on #476
This is performed by a sidecar. We should have another issue that tracks getting enrollment info from bCourses via the CanvasOAuthenticator.

[2021-10-05 21:17] ryanlovett commented on #2784
@yuvipanda The SIS enrollments API returns several email addresses for this student, "Campus", "Home", and "Other". None of them are their @berkeley.edu address, unlike most students. Their Campus address is actually from a different UC campus. Maybe this student altered their directory entry, perhaps due to privacy reasons. Since we do resource allocation based on the [user's email address](https

[2021-10-05 21:25] cboettig commented on #2784
interesting.  CalCentral shows me the student's `@berkeley.edu` email address though; I would have thought it also used the SIS data but I guess not?

[2021-10-05 21:38] ryanlovett commented on #2784
They might be collecting info from multiple places while we are using the [enrollment API](https://api-central.berkeley.edu/api/47). I think @felder might be able to find out for us how CalCentral gets this. If we were to use some other API to get information about a student, I think we'd have to iterate over each enrollment to get the additional info. That'd mean the [sidecar](https://docs.datahu

[2021-10-05 22:05] ryanlovett opened #2839 "Use Canvas course data for resource allocation"
# Summary

We currently use a sidecar to get course enrollment info via the enrollment API. It may be easier to consult the information we get from Canvas. See

- https://github.com/berkeley-dsep-infra/datahub/commit/07bcfcb754107dc60d7ab1eaf43c4ea3c4b60540
- https://github.com/berkeley-dsep-infra/datahub/pull/2629

Getting the info this way will probably be more reliable too. Right now, the enrol

[2021-10-06 00:48] balajialg commented on #2784
thanks, @ryanlovett for the detailed explanation! I have created a [commit ](https://github.com/berkeley-dsep-infra/datahub/pull/2840/commits/9280f98f4ff3ea3ecedcb6b0643692bba4c8cf78) to add the encrypted calnet id of the student to the YAML file.

@cboettig Will create a PR and merge this soon!

[2021-10-06 01:08] balajialg commented on #2737
@kferger320 Interesting! Looking at [this](https://stackoverflow.com/questions/39604271/conda-environments-not-showing-up-in-jupyter-notebook), I assume installing nb kernel using conda as per the suggestion of @yuvipanda should work! I am installing nb-kernel in your instance to see if that loads the qiime environment automatically.

Update: Not much luck with the above task!

[2021-10-06 01:33] balajialg commented on #2555
@yuvipanda Thanks for bringing this thread alive! TL;DR: We need to circulate the FAQ document with the tiered support process and SLA to the teaching team in terms of the next steps.
However, I have not been actively doing that due to the following reason,

We are using  Data 100 Piazza as a proof of concept to see how easy it is to troubleshoot and resolve immediate issues through the tool. Howe

[2021-10-06 01:38] balajialg commented on #2693
@yuvipanda Will Stack Driver push the data that @felder analyzed via GCP console? CC'ing @felder so that he can look into this issue and add his thoughts about the value of this data when he is back.

[2021-10-06 02:11] balajialg commented on #2813
@sean-morris FYI, We have provided admin access!

[2021-10-06 02:31] balajialg commented on #2803
@yuvipanda Added the field for the expected time!

Re: Backlogging: Sounds great. Moved to Nov backlog!

[2021-10-06 02:53] petersudmant commented on #2737
Ah super! That's great - I will try it tomorrow!

[2021-10-06 07:43] ryanlovett commented on #2839
The auth_state's course data [can be passed](https://jupyterhub.readthedocs.io/en/latest/reference/authenticators.html#using-auth-state) to the spawner in CanvasOAuthenticator's [pre_spawn_start](https://github.com/berkeley-dsep-infra/datahub/blob/staging/images/hub/canvasauthenticator/canvasauthenticator/__init__.py#L93).

[2021-10-06 17:22] balajialg commented on #2831
@zbutzin FYI, Have installed all the required packages!

[2021-10-06 17:22] #2831 closed, assigned to felder, balajialg

[2021-10-06 20:32] yuvipanda commented on #2737
@balajialg it needs to be installed as part of the image I think - is loaded when the user server is first started.

[2021-10-06 20:48] sean-morris commented on #2813
great thanks. @balajialg

[2021-10-06 21:00] zbutzin commented on #2831
@balajialg That's fantastic. Thank you so much for your help!

[2021-10-06 21:21] DiegoVillegasA opened #2845 "SSH interactive terminal"
Hi,

I am trying to access datahub.berkeley.edu through my terminal in order to expand the memory limit of jupyterhub from 1GB to 2.5GB to import a large dataset. As the UC Berkeley JupyterHubs Doc suggested, after obtaining an authentication token, I try to run:

ssh <hub-username>@<hub-location>

in my case:
ssh diego_villegas_a@datahub.berkeley.edu

and I receive the following error:
ssh: conne

[2021-10-06 21:59] ericvd-ucb commented on #2803
Hi there
I need it sooner than November - is there  a when could I please have this by checkbox?
There prof has been invited by Fernando to visit Data 100  on Dec 2
( and maybe its unrealistic to have it running for all 1000 users of Data 100 )

But I think there is a bunch of time to get it MIMI running
the main contributor to the package can help us to get it going - but I would like to engage h

[2021-10-07 02:51] balajialg commented on #2803
@ericvd-ucb Got it! Would increasing the RAM for Julia hub and installing the MIMI package before the end of next week (10/15) work well for you?

[2021-10-07 02:59] balajialg commented on #2845
@DiegoVillegasA Thanks for raising the request! Not sure whether I am answering your question directly but can you fill this request [form](https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=balajialg&labels=support&template=higher-resources.md&title=Request+more+RAM+for+class+X) for increasing the RAM? As a policy, every RAM increase request would go through approval at our end.

[2021-10-07 03:17] balajialg opened #2846 "Sprint Retro and Planning Meeting on 10/07"
Hi All,

We have our first retro and second sprint planning meeting tomorrow morning. I thought that we could use the available 1.5 hours to do the following,

Use the first 20-30 minutes to reflect on the previous sprint/month and add inputs on things that went well/could be improved. I have created a [template](https://trello.com/b/WMtakKHe/datahub-service) for us to fill during that time. If yo

[2021-10-07 16:08] DiegoVillegasA opened #2848 "Request more RAM for class POLSCI 88"
**Which hub do you want more RAM on?**

datahub.berkeley.edu

**Which class is this request for?**

POLSCI 88 001
The Scientific Study of Politics
Fall
https://classes.berkeley.edu/content/2021-fall-polsci-88-001-lec-001

**How many students do you expect in this class?**

47

**How much RAM does this class need?**

4 GB

**Why does this class need this much RAM?**

We want to replicate the follow

[2021-10-07 16:09] DiegoVillegasA commented on #2845
Thank you very much!

El mié, 6 oct 2021 a las 19:59, Balaji Alwar ***@***.***>)
escribió:

[2021-10-07 16:51] ryanlovett commented on #2839
We started a PR for this a while back, https://github.com/berkeley-dsep-infra/datahub/pull/1101

[2021-10-07 17:02] balajialg commented on #2816
Find a list of users, Email them! (associate with class)

[2021-10-07 17:21] #2677 closed, assigned to nobody

[2021-10-07 17:36] yuvipanda commented on #2756
When https://github.com/berkeley-dsep-infra/datahub/blame/staging/docs/admins/howto/new-packages.rst#L58 is modified and merged, it'll automatically be built and deployed to docs.datahub.berkeley.edu by readthedocs.io.

The documentation in this repo uses fairly vanilla [sphinx](https://www.sphinx-doc.org/en/master/). To test how it looks locally, you can:

[code]

[2021-10-07 17:37] balajialg commented on #2555
**@ryanlovett's suggestion during sprint planning meeting:**  Try using piazza as a nonadmin user!

**Next Steps from Sprint Planning Meeting:**
- @balajialg to connect with @felder to get his thoughts on moving the troubleshooting slack communication to this [piazza channel](https://piazza.com/class/ksqmnrrhvcl11f).
- Based on the #2197 thread, exploring the option to create an additional entry f

[2021-10-07 17:39] yuvipanda commented on #2845
Thank you for opening this, @DiegoVillegasA. Unfortunately we removed the experimental ssh support recently, as we didn't have enough time to dedicate to developing that service. With https://github.com/berkeley-dsep-infra/datahub/pull/2849, I've removed references to it from our docs too. Sorry for the confusion.

However, even with that service, it gave you the same setup using the hub via the b

[2021-10-07 17:39] #2845 closed, assigned to nobody

[2021-10-07 17:51] kferger320 commented on #2737
@balajialg @yuvipanda @petersudmant Could someone give me a status update on this? The teaching team for this course needs to have this installed and ready to test a week before the class which is being held next Thursday, and we tried to give everyone enough time to implement this by submitting this request a month ago. Is there anything I can do to assist? We need ample time to finalize our tuto

[2021-10-07 18:04] petersudmant commented on #2737
@kferger320 it's actually compiling on my computer right now. I had some issues last night. I'll give u an update in the next few hours

[2021-10-07 18:10] kferger320 commented on #2737
@petersudmant ok great! Yes please keep me updated.

[2021-10-07 18:21] petersudmant commented on #2737
@kferger320 FWIW - I got it working! Wanna try to clean one thing up though. Thanks @yuvipanda for suggestion!

[2021-10-07 18:55] petersudmant commented on #2737
@kferger320 @balajialg  OK! We are a go! I'll push this up! and let u know when it's up and rolling!!!!

[2021-10-07 20:31] petersudmant commented on #2737
@kferger320 ok it works now - give it a try.

Once logged into the hub, click new, and select the qiime2 kernel. Please let me know how that works for you.

[2021-10-07 20:41] balajialg commented on #2848
@DiegoVillegasA Thanks for raising this request! This should be doable. What is the timeline you are looking at to get this done?

[2021-10-07 20:42] balajialg commented on #2846
Added the next steps to the project board!

[2021-10-07 20:42] #2846 closed, assigned to yuvipanda, felder, ryanlovett, ericvd-ucb

[2021-10-07 20:48] balajialg opened #2855 "Exploring the idea of Monthly Newsletter for Datahub!"
# Summary

In our sprint planning and retrospective discussion today, we had this suggestion to showcase our work in an effective way by creating communication collaterals on a monthly basis. We need to figure out who the target audience is, what kind of information they need, how can we reach them easily, and the frequency of this communication?

Created this issue to explore the idea of creating

[2021-10-07 21:15] balajialg commented on #2737
@petersudmant Thanks a ton for fixing this! Appreciate it a lot.

FWIW, I tried running the qiime command in @kferger320's [instance](https://biology.datahub.berkeley.edu/user/kailey_ferger/notebooks/Untitled.ipynb), but I ran into issues as the qiime command did not get recognized. However, I might have done something wrong at my end and will wait for @kferger320's input on this further

@kferger

[2021-10-07 21:22] petersudmant commented on #2737
can you elaborate @balajialg ? if you spin up a biology hub it should work I think? you might need a fresh one

[2021-10-07 23:01] kferger320 commented on #2737
@petersudmant could you share which commands you're trying that are working for you again? I tried starting a new biology hub and selecting the qiime2 kernel, and then executing the commands @balajialg sent, ie.

conda env list
source activate qiime2-2021.8
pip install --user ipykernel
python -m ipykernel install --user --name=qiime2-2021.8

But it still doesn't seem to recognize the 'qiime' comma

[2021-10-07 23:06] balajialg commented on #2737
@petersudmant I tried starting a new jupyter notebook in @kferger320's instance using the New -> qiime2-2021.8 option! I ran the import statement but it failed to recognize the command. You can check her notebook instance [here](https://biology.datahub.berkeley.edu/user/kailey_ferger/notebooks/emp-single-end-sequences/Untitled.ipynb?kernel_name=qiime2-2021.8)!

@kferger320 My understanding is that

[2021-10-07 23:45] petersudmant commented on #2737
I think it didn't deploy - I am rerunning the deploy

[2021-10-07 23:55] petersudmant commented on #2737
in the mean time @kferger320 @balajialg please try it out on staging. https://biology-staging.datahub.berkeley.edu

Send me a screen shot of what you see when you do "New." There should be a `Python [conda env:qiime2]` click that

[2021-10-08 00:04] balajialg commented on #2737
@petersudmant this is awesome. It seems to work. Sharing snapshots for your reference,

![image](https://user-images.githubusercontent.com/2306166/136477837-9489cb56-9529-4ed8-9aef-6b3625b3ff81.png)

![image](https://user-images.githubusercontent.com/2306166/136477911-f11f7d56-209c-41e9-9c16-120c48731fe5.png)

In the second snapshot, I didn't have the right value for the input path (reason for the

[2021-10-08 00:09] arwolf0808 commented on #2737
Thanks all for your hard work !! I had no idea this was going to be so complicated. It also works for me on biology-staging.datahub. For the class should we use this instead of biology.datahub or does this option get added there? Sorry I'm still trying to understand all the different datahubs ...

[2021-10-08 00:24] kferger320 commented on #2737
It works for me on the biology staging datahub as well, thanks all! My
understanding is that it we just need it deployed properly and it will work
on biology.datahub.berkeley.edu?

On Thu, Oct 7, 2021 at 5:10 PM arwolf0808 ***@***.***> wrote:

--
*Kailey E. Ferger*
Doctoral Candidate | Center for Computational Biology
University of California, Berkeley
E: ***@***.*** | T: (716)572-5543

[2021-10-08 02:41] balajialg commented on #2737
@kferger320 @arwolf0808 Yes, Changes got deployed in the staging hub first and are also currently deployed in the biology.datahub.berkeley.edu. You can test whether the package works at your end. I am sharing the below snapshot for your confirmation from the biology.datahub.berkeley.edu.

![image](https://user-images.githubusercontent.com/2306166/136489580-b5756c43-af8c-4f54-8478-444506f9cbe1.png)

[2021-10-08 04:35] petersudmant commented on #2737
@arwolf0808 please use http://biology.datahub.berkeley.edu - staging is for testing, and this took a bit of messing around before I got it working. Sorry about the delay!

@balajialg I feel like it's still a BIT messy -  way too many environments there... but, oh well!

[2021-10-08 16:31] kferger320 commented on #2737
@petersudmant @balajialg Hmm when trying it out on both http://biology.datahub.berkeley.edu and https://biology-staging.datahub.berkeley.edu, I'm getting a module not found error (which is weird since it was working yesterday on staging?)
<img width="1151" alt="Screen Shot 2021-10-08 at 9 30 54 AM" src="https://user-images.githubusercontent.com/55004871/136591768-72443221-2126-49fc-838b-7a3a16d716

[2021-10-08 16:36] balajialg commented on #2737
@kferger320 I accessed your instance and found that you had spun up the wrong environment. Try using New -> Python [Conda env: qiime2] instead of New -> qiiime2-2021.8. (Sharing snapshot for your reference)

I created a [notebook](https://biology.datahub.berkeley.edu/user/kailey_ferger/notebooks/Qiimetest.ipynb) in your instance which seems to work. Let me know

![image](https://user-images.github

[2021-10-08 16:39] kferger320 commented on #2737
@balajialg Ah I see, yes I just tried the Python [Conda env: qiime2] and it's working now- thanks! Yes maybe there are a bit too many environments there!

[2021-10-08 16:43] balajialg commented on #2737
@kferger320 Good to know! Yeah, now that the major work of setting up the environment got done, we can clean up the not-required ones when the time permits. Thanks, @petersudmant!

[2021-10-08 17:22] petersudmant commented on #2737
yeah - @balajialg you know I'm a bit confused about the cleanup - I think some of those environments are left over from when we were all screwing around in our terminals. But, whew! glad it's workin!

[2021-10-08 20:43] balajialg commented on #2836
**Next Steps from Sprint Planning Meeting:** I need to figure out the steps required to add the Datahub status page to the https://systemstatus.berkeley.edu/.

[2021-10-08 20:50] balajialg opened #2859 "Move all dashboards we are 'playing around with' to their own folder, so there is lesser confusion"

[2021-10-08 20:51] balajialg opened #2860 "Add descriptions to all dashboards and panels in https://github.com/jupyterhub/grafana-dashboards"

[2021-10-08 20:51] balajialg opened #2861 "Develop the 'usage metrics' dashboard some more - it can be very helpful for evangelism, but isn't in a usable state now."

[2021-10-08 20:51] #2859 closed, assigned to nobody

[2021-10-08 22:33] balajialg commented on #2737
@petersudmant Makes sense! Considering that
i) Classes will happen using the hub during this semester and
ii) Our limited bandwidth,
We can keep the same env setup until the end of the semester and rethink cleaning it up later.

@kferger320 reported an issue using the qiime package sometime back. Sharing the log content for your reference,

`/opt/conda/envs/qiime2/lib/python3.8/site-packages/scipy

[2021-10-08 22:53] DiegoVillegasA commented on #2848
Hi Balajialg! Students are probably going to be ask to start replicating until the first or second week of November.

[2021-10-08 23:03] petersudmant commented on #2737
Hmm - I mean, the question is DOES this fix the issue? @balajialg If so, GREAT!

[2021-10-08 23:33] balajialg commented on #2737
@petersudmant Great question! I am not sure. I assumed this might be a fix as few other folks who ran into a similar timezone-related issue installed this library. What would be a good way to test whether this solution works without messing with the docker environment considering that sudo apt install command is not available.

We tried doing pip install tzdata in the notebook but that did not see

[2021-10-09 00:07] balajialg commented on #2848
@DiegoVillegasA Sounds good! If we get this done by the last week of October then would that work from your perspective?

[2021-10-09 00:20] petersudmant commented on #2737
@balajialg I think that's a reasonable approach! I test on my laptop, but, this seems like a good way too!

[2021-10-09 00:30] balajialg commented on #2737
@petersudmant sounds great! I am merging the changes to staging.

@kferger320 Please do test this and let us know whether this solution actually works!

[2021-10-09 10:52] yuvipanda commented on #2693
<img width="1381" alt="image" src="https://user-images.githubusercontent.com/30430/136655007-9524c957-55b5-4841-8342-13f7002d461f.png">

Now our background levels of 503 have dropped to 0, and we can treat any spike as something to investigate!!!!!

Note that the main datahub is still not going through this proxy yet - see https://github.com/berkeley-dsep-infra/datahub/issues/2693. I'll try fix th

[2021-10-09 19:14] kferger320 commented on #2737
@petersudmant @balajialg I think this solved it! I was able to get all of our commands to run on staging now without error. Thanks to you both for all of your help, we really appreciate it!!

[2021-10-09 19:17] DiegoVillegasA commented on #2848
That would work out great! Is there a time limit for it to go back to 1GB?

[2021-10-10 04:18] petersudmant commented on #2737
Great! good idea @balajialg !

[2021-10-11 07:05] github-actions[bot] opened #2865 "Weekly Update - Monday, October 11th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-10-11 16:36] balajialg commented on #2737
Thanks, @kferger320! That's great to know. FYI, Changes from staging got merged in biology.datahub.berkeley.edu.

[2021-10-11 16:52] kferger320 commented on #2737
Wonderful! Just tested it again and it works great. Thanks again everyone for all of your help with this!

[2021-10-11 17:46] balajialg commented on #2848
@DiegoVillegasA That's awesome. Would the end of the fall semester (around 12/15) work for you?

[2021-10-11 19:29] balajialg opened #2866 "Creating private issues for student data archival requests!"
# Summary

Currently, our [data archival requests](https://github.com/berkeley-dsep-infra/datahub/issues/new?assignees=felder&labels=support&template=data_archival_request.yml) are out to the public. It may not be an ideal scenario as all the student email details are publicly accessible which may not align with FERPA requirements. We should explore creating private issues for such requests so tha

[2021-10-11 20:35] DiegoVillegasA commented on #2848
That sounds wonderfull. I appreciate your help a lot!

[2021-10-11 23:41] balajialg opened #2867 "[Future Enhancement] Assigning jupyter notebooks based on student credentials"
# Summary

In a recent conversation with staff at Biology (as part of the course Bio Indicators), @ericvd-ucb and I found that they had a unique use case to which we should give more thought as we think about feature enhancement.  He suggested that they want to assign jupyter notebook with different datasets based on the students' section numbers. Currently, our short-term fix was to write a pytho

[2021-10-12 00:49] balajialg commented on #2865
**Thanks I'd like to give 🙌**
- I would like to thank @petersudmant profusely for his incredible hacking to resolve #2737 which proved to be a complex use case than we thought. Appreciate it :)
- Another huge thanks to @yuvipanda for filtering the weird 503 errors in our infrastructure log through #2844
- Thanks @ryanlovett for helping with setting up sops locally!

**Updates from last week ✔**
-

[2021-10-12 04:04] ericvd-ucb opened #2869 "Telemetry for Data 8 project"
# Summary

Data 8 has a project to gather information from when students dont pass the autograder
that is creating a csv file in each users directory for each homwork lab

would there be way to collect these csvs from each user?
if you had admin access and a list of users

Data 8 course staff to gather information

- As a `<type of user>` I want to `<do something not yet possible>` so that `<I get

[2021-10-12 18:32] felder commented on #2865
**Updates from last week ✔**
- I was out on vacation last week, so no updates to report.

**My availability for next week**
- I'm available all week.

[2021-10-12 18:44] felder commented on #2838
`pip install geopandas==0.10.0` works in data100-staging.

[2021-10-12 20:08] felder commented on #2838
In staging, pip reports geopandas 0.10.0 is now available:

[code]

[2021-10-12 20:40] felder commented on #2838
Should be live in prod now.

[2021-10-12 20:40] #2838 closed, assigned to felder, balajialg

[2021-10-12 22:09] #2756 closed, assigned to balajialg

[2021-10-12 22:47] fperez commented on #2838
Excellent, many thanks all!

[2021-10-12 22:50] fperez opened #2875 "Request metpy for Data 100"
### Package Name

metpy

### Hub details

- Hub: Data 100
- Language: Python

### Course Name

Data 100

### Semester Details

Fall 2021

### Installation Deadline

November 1.

We're designing a final project where metpy will make some visualizations much easier, so it would be great if it could be added. On my testing, it installs without any issues with standard conda/pip commands.

Thanks!

[2021-10-12 23:16] felder commented on #2875
pip installs metpy 1.1.0 and pooch 1.5.2

[2021-10-13 01:23] felder commented on #2875
Done!

[2021-10-13 01:23] #2875 closed, assigned to felder, balajialg

[2021-10-13 02:39] fperez commented on #2875
Excellent, huge thanks for the quick reply!

[2021-10-13 14:21] cboettig opened #2878 "RStudio should be shut down on container exit"
### Bug description

When a student leaves a session idle (e.g. at the end of a class lab session etc), datahub shuts down the instance (naturally).  However, it seems that it does not first shutdown the running RStudio session.  When the student logs back in, RStudio reports that:

This warning would be scary but mostly harmless.  However, if the student is using an active "Project" in RStudio, R

[2021-10-13 21:13] ericvd-ucb commented on #2869
Another related question is whether someone with Admin status can go into users directories via command line?

[2021-10-13 21:48] felder commented on #2878
There has been some discussion previously about having rstudio shutdown more gracefully.  This is probably something the datahub service team should discuss and add to the feature enhancement roadmap.

[2021-10-13 22:02] felder commented on #2829
signed url sent!

[2021-10-13 22:02] #2829 closed, assigned to yuvipanda, felder

[2021-10-14 00:38] balajialg commented on #2878
@cboettig Thanks for making the enhancement request! To understand the severity of the student impact and scope this request accordingly in our backlog, Can you answer the below questions,

- How many students are affected by this issue? How severe is the impact?

- Are there existing alternatives that they are using to avoid this scenario?

@ryanlovett Is this a request that could be scoped this

[2021-10-14 00:44] balajialg commented on #2869
@ericvd-ucb Thanks for raising this request! I would wait for the team to chime in on your earlier query regarding accessing CSV files. However, considering what Ryan did in this [issue](https://github.com/berkeley-dsep-infra/datahub/issues/2688#issuecomment-912265497), I do think that someone with admin status can go into user directories via command line. @ryanlovett Please correct me if I am wr

[2021-10-14 01:10] cboettig commented on #2878
Sure!

- every student is affected (54 students)
- It's easy enough to work around; students know to dismiss the warning and log back into their project.

[2021-10-14 02:20] balajialg commented on #2823
Link to a couple of mock-ups created (version 1.0)!
[Mockup #1.0
](https://www.figma.com/file/Pfl9MzAHqYbbIxfSIK5QFE/Datahub-Home-Page-Mockup?node-id=0%3A1)
[Mockup #2.0
](https://www.figma.com/proto/UuyryWiJqljOnAtxNrXDHi/Datahub-Mockup-2.0?page-id=0%3A1&node-id=2%3A436&viewport=241%2C48%2C0.13&scaling=min-zoom)

[2021-10-14 02:23] balajialg commented on #2878
Thanks, @cboettig! A similar [issue ](https://github.com/berkeley-dsep-infra/datahub/issues/2684)is already part of our backlog (more from a documentation perspective)

[2021-10-14 02:24] balajialg commented on #2685
@yuvipanda Suggestions on the way forward regarding this issue?

[2021-10-14 02:26] balajialg commented on #2684
@yuvipanda Considering this issue, #2878, a Couple of questions

1. Is this issue common across Jupyter notebooks and R Studio?
2. If yes, should we just document this behavior or seek to change it as per the suggestions in that issue?

[2021-10-14 07:17] Grover-Aakash opened #2879 "Request for old hw files - fa19"
### Email Id

aakash_grover@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/aakash-5fgrover.tar.gz

[2021-10-14 15:10] hj151mids opened #2880 "Access to material"
### Email Id

jianghaoliang@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/prob140.datahub.berkeley.edu/jianghaoliang.tar.gz

[2021-10-14 16:58] andrewpbray opened #2882 "Infer version conflicts between stat-20.r and ph-142.r"
### Bug description

In `stat-20.r`, I try to install version 1.0.0 of `infer` onto datahub, but when I go to check, it's version 0.5.3 that is installed. When I look into the `class_libs_install_version()`, it looks like it won't install a package that is already installed, including to update a version. It's been pointed out to me that the older version was likely installed by `ph-142.r`.

I hav

[2021-10-14 17:30] felder commented on #2882
@andrewpbray as a stop gap measure while this gets figured out, you can install infer 1.0.0 in your own environment.

[code]

While obviously not ideal, this should work as a temporary measure to allow you to use 1.0.0 for your class without potentially disrupting ph 142.  Note that this has to be done each time by each student (and instructor) on server startup.

@yuvipanda or @ryanlovett might k

[2021-10-14 17:45] andrewpbray commented on #2882
Thanks for the suggestion, but I think I'll refrain from having students installing packages on an ad hoc basis. I've done that in the past and it tends to cause more problems than it solves.

FWIW, (for the PH instructor) any breaking changes to `infer` caused by the upgrade should be somewhat graceful. The main breaking change that I'm familiar with provides a warning if you try running old code

[2021-10-14 17:51] balajialg commented on #2882
@andrewpbray Thanks for raising this request! When do you plan to use this package as part of your classes?

Tagging @cdbeon, who is part of the PH 142 teaching team, to get his perspective on this upgrade! Can you please test your modules and confirm whether it is a thumbs up from your end regarding infer package's upgrade? Really appreciate a quick response here.

[2021-10-14 17:53] felder commented on #2882
https://classes.berkeley.edu/content/2021-fall-pbhlth-142-001-lec-001

[2021-10-14 17:54] andrewpbray commented on #2882
We're using it today! I've had `"infer", "1.0.0"` in the config file since the beginning of the semester and assumed that it had been installed.

[2021-10-14 17:55] felder commented on #2882
Issue where Infer was requested by PH142:
https://github.com/berkeley-dsep-infra/datahub/issues/1002

[2021-10-14 17:55] ryanlovett commented on #2882
Just a quick note for @cdbeon that this is for datahub, and not publichealth.datahub. Is Ph142 using publichealth.datahub and not datahub?

[2021-10-14 17:58] felder commented on #2882
@ryanlovett I do see that ph-142 has a requirements listing for publichealth datahub.

In which case, I wonder if we couldn't just do away with ph-142's requirements for r hub.

This is probably good news as it's likely we can upgrade this with no risk of disruption.

[2021-10-14 18:01] balajialg commented on #2882
@felder +1 to @ryanlovett's point, Based on my current understanding, all the courses which start with the code PH use public health datahub!

Ref: #2802 #2819!

[2021-10-14 18:03] ryanlovett commented on #2882
@felder Exactly, I asked about this in #ucb-datahubs earlier today.

@balajialg So should we wait for PH142 course staff to confirm that ph-142.r can be removed from datahub (not publichealth.datahub) or is it okay to remove it now? Also, some other courses may be reliant on the packages inside it, so we may have to orphan the dependencies, but not remove them. They can be upgraded whenever someon

[2021-10-14 18:04] felder commented on #2882
@ryanlovett @balajialg note that ph290 also has a requirements file.  Perhaps we should remove that as well.

[2021-10-14 18:06] ryanlovett commented on #2882
@felder Yeah, probably treat them the same. But "orphan" the dependencies -- keep installing them in case someone is unknowingly relying on them, but let them be claimed by other courses, like in this case Stat 20. We can either put comments in the ph files, or rename them to something else.

[2021-10-14 18:09] felder commented on #2882
@ryanlovett this really highlights the issue of us getting a better understanding of what packages are actually required.

Perhaps the thing to do is to remove all of the PH requirements at the end of the semester.

[2021-10-14 18:29] andrewpbray commented on #2882
If ph142 is on a different hub this semester, it'd be very helpful to remove that req file as soon as possible so that stat 20 could be working with the infer 1.0.0.

[2021-10-14 18:31] felder commented on #2882
@andrewpbray it's being addressed as we speak.

[2021-10-14 18:51] felder opened #2884 "Procedures/Options for resolving package conflicts among courses."
# Summary

Issue #2882 highlights a known problem of multiple courses sometimes requiring different versions of the same package.  We currently do not have a lot of really good solutions.  Currently we can:

1.  Have one of the classes switch hubs.
2. Have one of the classes manually install a different version of the conflicting package.
3. Setup alternative environments (when possible) that have

[2021-10-14 18:52] felder commented on #2884
In slack @ryanlovett writes:

"one way of addressing package conflicts like this is, other than course-specific images, is to have course-specific library paths. we could do it with an environment variable the same way that we bump RAM. i.e. "if user in course, append /path/to/stat-20/libs to R's library path". then in the class-libs function we can have the courses specify their own library path.

[2021-10-14 19:04] cdbeon commented on #2882
Yep, I'm pretty sure we don't need any of the dependencies in the datahub hub anymore since we're completely on the publichealth hub now (thanks you to Yuvi!). I think we're ok with still using v0 of the `infer` package, but currently double-checking with the professor. If we do need an upgrade, then I'll just submit a separate PR on the publichealth hub.

[2021-10-14 19:14] balajialg commented on #2884
Just to understand the complexity of different course requirements, Sharing the hub vs course mapping [here](https://docs.google.com/document/d/13nhn7vHQpyq9ipgigHGRveL7hkcFswN9fdkCqhNlYTg/edit#)

[2021-10-14 19:17] felder commented on #2880
Signed url sent!

[2021-10-14 19:17] #2880 closed, assigned to felder

[2021-10-14 19:19] felder commented on #2879
Signed URL sent!

[2021-10-14 19:19] #2879 closed, assigned to felder

[2021-10-14 19:20] felder commented on #2867
Perhaps similar functionality could also be used on a per course basis for course specific libraries as mentioned in #2884

[2021-10-14 19:36] #2882 closed, assigned to felder, balajialg, ryanlovett

[2021-10-14 21:50] jaideepsabharwal opened #2886 "Files"
### Email Id

jaideepsabharwal@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/jaideepsabharwal.tar.gz

[2021-10-14 23:02] balajialg commented on #2823
Flint (Designer) from RTL is interested to support this effort. Balaji to meet with Flint to walk through the design requirement.

[2021-10-15 18:22] balajialg commented on #2836
Update: It is a straightforward process to add Datahub to https://systemstatus.berkeley.edu/. Should be able to get this done in a week's time

[2021-10-15 18:23] balajialg commented on #2813
@ericvd-ucb Closing this issue considering the urgency! Please feel free to reopen based on your need.

[2021-10-15 18:23] #2813 closed, assigned to balajialg

[2021-10-15 20:53] balajialg commented on #2812
@yuvipanda Thanks for this.

When you are back from vacation on Monday (10/18), Can you prioritize the following request?

For the tech strategy meeting on 10/21, Jim Colliander, Erfan, and Bill Allison (CTO) are joining us. @ericvd-ucb suggested that we use this time to share an interim update on fall usage and make the case for additional resourcing. Would you be able to fill in some of the deta

[2021-10-15 21:26] felder commented on #2886
Signed URL sent!

[2021-10-15 21:26] #2886 closed, assigned to felder

[2021-10-15 22:42] ryanlovett commented on #2839
I merged https://github.com/berkeley-dsep-infra/datahub/pull/2888 and it worked in prob140-staging with the following in deployments/prob140/config/common.yaml:
[code]

I tested with prob140 staging because it is using CanvasOAuthenticator as are most of the hubs. data8, ischool, and publichealth are using the generic oauthenticator but configured with bCourses. To use this feature, they'll need t

[2021-10-16 01:04] balajialg opened #2889 "How to not allow PR's merged in Staging to get merged in Prod!"
If we want to play around with staging environment without making changes to prod/ensuring that the changes get merged in prod, what would be an effective way forward?

[2021-10-18 04:32] Cadherin opened #2891 "iSchool R Datahub not loading"
### Bug description

I have been working with iSchool R datahub most of today and it has been working fine. However, it just crashed on me and I am unable to get back on. My assignment files are all on Datahub and I am unable to retrieve them for submission at the moment.

### Environment & setup

- Hub:  https://ischool.datahub.berkeley.edu/
- Language:  R

### How to reproduce

[2021-10-18 06:03] balajialg commented on #2891
Helped @Cadherin download the files using this URL (https://ischool.datahub.berkeley.edu/user/xxx/lab/workspaces/lab?reset) so that the assignment submission goes smoothly. However, she is still having issues with launching the R studio in the Ischool hub and requires further debugging,

[2021-10-18 07:05] github-actions[bot] opened #2892 "Weekly Update - Monday, October 18th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-10-18 10:02] yuvipanda commented on #2622
I've deleted the cs194-staging release, and deleted the proxy-public service from cs194-prod. This decomissions it. Let's see if anyone responds asking for their home directory. If they don't I'll probably get rid of the whole thing.

[2021-10-18 10:05] yuvipanda commented on #2889
I think this depends on the kinds of changes. What kinds of changes do you have in mind?

[2021-10-18 10:29] yuvipanda commented on #2892
**Thanks I'd like to give 🙌**
- To @ryanlovett, @balajialg and @felder for handling everything smoothly while I was on vacation!

**Updates from last week ✔**
- I was on vacation for the most part and avoided email and slack :)

[2021-10-18 11:25] yuvipanda commented on #2693
So grafana supports defining alerts (https://grafana.com/docs/grafana/latest/alerting/), and supports [many different notification channels](https://grafana.com/docs/grafana/latest/alerting/old-alerting/notifications/). I've signed us up for [pagerduty](https://www.pagerduty.com/), and invited @felder and @balajialg. We can define alerts on each graph - I've defined a test one for pods that aren't

[2021-10-18 17:20] #2865 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-10-18 17:43] felder commented on #2891
@balajialg @Cadherin typically the way forward when rstudio misbehaves is to rename the .rstudio directory via the terminal and relaunch it.

That work around is described here:
https://github.com/berkeley-dsep-infra/datahub/issues/1899

This can be fixed by renaming or removing ~/.rstudio via the terminal.

To do so while bypassing the typical rstudio session startup:
1.   Go to https://ischool.d

[2021-10-18 17:54] ryanlovett commented on #2892
**Thanks I'd like to give 🙌**
- @felder for creating #2884 which came out of slack discussion
- @balajialg for helping resolve questions with PH environments

**Updates from last week ✔**
- #2839, #2888 for using Canvas for course affiliations. Will test with ESPM 157 soon.

**My availability for next week**
- The usual

[2021-10-18 18:10] balajialg commented on #2891
@felder Thanks a lot!

@Cadherin Added this to the troubleshooting documentation - https://ds-modules.github.io/curriculum-guide/faq/troubleshoot.html#restarting-servers

[2021-10-18 18:21] felder commented on #2889
@yuvipanda the idea would be to permit me to make changes to things to grafana or perhaps the hubs that would require testing over multiple days without holding up other deploys to prod.  Essentially is there a way to cherry pick commits to staging for deployments to prod?

[2021-10-18 18:21] balajialg commented on #2866
@felder's suggestion is to move such requests to a ticketing system of choice - Service Now or JIRA. To be discussed during the November sprint planning meeting.

[2021-10-18 18:38] yuvipanda commented on #2866
Yeah, this was the reason I had initially used the email address in the note.

[2021-10-18 18:46] yuvipanda commented on #2889
@felder the way I do this is to deploy from my local machine to particular staging instances. It'll get wiped everytime anyone merges a PR though, but then I just deploy again and go as it just takes a minute or two. What do you think of that?

[2021-10-18 18:55] balajialg commented on #2812
@yuvipanda Bringing this back to your attention to get your perspectives!

[2021-10-18 18:57] felder commented on #2889
@yuvipanda that will probably work.  I may need a short tutorial on hubploy to make sure I know how to do this.

[2021-10-18 18:59] balajialg commented on #2693
@yuvipanda, this is an awesome update!

Correct me If I understand the workflow right! For eg: We can configure slack (or any other real-time) notifications whenever the 500 errors increase beyond a certain threshold which is not considered usual. Is this an accurate understanding of one of the use cases?

[2021-10-18 19:28] yuvipanda commented on #2889
@felder makes sense!

I think it would be:

1. Make sure pre-reqs are installed (`pip install -r requirements.txt`)
2. Make sure you have `gcloud` installed, and are authenticated correctly so `sops` works
3. Run `hubploy deploy <hub-name> hub <staging|prod>` to do a deploy
4. Make changes, repeat (3) as needed

Can you try that out?

[2021-10-18 19:36] yuvipanda commented on #2812
@balajialg I'm looking at slides 7, 8 and 9. I can produce data for 7 and 9, but I don't understand what 8 refers to. Can you expand a little bit?

[2021-10-18 19:37] yuvipanda commented on #2693
@balajialg yeah that's correct.

[2021-10-18 19:47] yuvipanda opened #2898 "[EPIC] Automate Data Retrieval Requests"
Currently, students need to raise a request on GitHub to get a copy of their archived files (https://github.com/berkeley-dsep-infra/datahub/issues/2866). This also creates manual work for @felder, and there are also way more requests than I had thought.

In the text file telling students what to do, we ask them to open this issue here. Instead, we can just provide the signed URL automatically ther

[2021-10-18 19:48] yuvipanda commented on #2869
Yeah, if you are an admin user you should be able to access each user's home directory and gather the files. However, that can take a while as it's a manual process.

[2021-10-18 19:51] yuvipanda commented on #2812
@balajialg you should be able to get cost information from https://console.cloud.google.com/billing/013554-935B0A-B97AA1/reports;grouping=GROUP_BY_SKU;projects=ucb-datahub-2018?project=ucb-datahub-2018

[2021-10-18 19:52] felder commented on #2898
@yuvipanda my understanding for signed urls is their max duration is 7 days.

https://cloud.google.com/storage/docs/gsutil/commands/signurl

We'd really need something that could based on user auth produce these on the fly in order to automate.

[2021-10-18 19:59] yuvipanda commented on #2898
ah damn.

Yeah, in that case I agree it means we've to write some code here. I don't think it needs us to introduce another layer of auth tho, we can just implement signed URLs ourselves with [GCP KMS](https://cloud.google.com/kms/docs/create-validate-signatures)

1. During archival, create a URL contains in it all the info needed to figure out how to fetch the file
2. Sign this URL with a KMS key

[2021-10-18 20:06] balajialg commented on #2898
@yuvipanda It will be fantastic to automate such requests considering the FERPA requirements and the additional throttle on the bandwidth of @felder!

How do you see the complexity of writing this service that does this automation? I am conscious of our backlogs and want to avoid adding more requests at your end currently. Let me know!

[2021-10-18 20:10] balajialg commented on #2812
@yuvipanda I don't have the required permission to view the billing information. Can you elevate the privileges for me?

![image](https://user-images.githubusercontent.com/2306166/137799797-8ac75e83-1041-4dce-8554-e1a326ad460a.png)

[2021-10-18 20:11] yuvipanda commented on #2891
I think this might also be related to https://github.com/berkeley-dsep-infra/datahub/issues/2878, where the unsafe exit causes corruption of ~/.rstudio

[2021-10-18 20:19] balajialg commented on #2839
@ryanlovett This is awesome work! Thanks for figuring this out.

Clarification for the naive me, Can we think about the use cases in #2867 considering the changes you made?

[2021-10-18 20:46] yuvipanda commented on #2812
done

[2021-10-18 21:18] felder commented on #2891
@yuvipanda definitely a likely possibility!

[2021-10-18 21:22] felder commented on #2898
@yuvipanda my concern here is that unless the URL obfuscated (not a big fan of security by obscurity though) other students may be able to figure out how to gain access to data they should not be able to gain access to.  That's the reasoning behind me saying we may want to tie it to auth of some sort.

[2021-10-18 21:31] yuvipanda commented on #2898
@felder absolutely agree it shouldn't be security by obscurity, it should be fairly strong crypto. I think a simple signature where we keep the key private would be good enough. If people can guess those signed URLs most of the crypto we rely on would be considered broken.

Good question on complexity, @balajialg. I'll try investigate that.

[2021-10-18 21:33] felder commented on #2898
@yuvipanda yeah I wouldn't expect people to guess the signedurls themselves!  I'm referring more to the query string parameters that would be used to generate them

[2021-10-18 21:44] Kylily opened #2900 "Old Files"
### Email Id

kxyr@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/kxyr.tar.gz

[2021-10-18 22:59] balajialg commented on #2892
**Thanks I'd like to give 🙌**
- Thanks @ryanlovett for all your awesome work last week and for joining this update list!

**Updates from last week ✔**
- Working on the [deck ](https://docs.google.com/presentation/d/1XMbNjyyY1MlzeJjj29XqG1OPyTxh6NyZP-83rpvgnCQ/edit?usp=sharing)for the 10/21 Tech Strategy meeting where Jim (2I2C), Bill (CTO), and Erfan (RTL) will join.
- Preparing for a mini-worksho

[2021-10-19 00:26] ryanlovett commented on #2889
@yuvipanda That worked for me back in the git-crypt days, but not with sops. hubploy wants things to be decrypted. CI decrypts in place at various stages with `sops -d -i support/secrets.yaml`.

Since hubploy ultimately runs helm with the path to deployments/{deployment}/secrets/staging.yaml, I suppose you can manually replace that with process substitution, e.g.  `helm ... -f <(sops -d deployment

[2021-10-19 02:24] HahehaLing opened #2902 "R Datahub not loading: Error 503: Service Unavailable"
### Bug description

I am not able to open w203's datahub, I downloaded my lab1.rmd and could open it in Rstudio server, but not the 203's datahub (with all the installed libraries) anymore.

503 : Service Unavailable
Your server appears to be down. Try restarting it from the hub

### Environment & setup

- Hub: W203 datahub
- Language: R

### How to reproduce

1) go to this link: https://r.datahu

[2021-10-19 02:42] felder opened #2903 "Have cron job or some such process automatically trim the hub logs"
Currently the hub logs grow until they run out of space.  This makes the hub pod quite unhappy.

[2021-10-19 02:46] felder commented on #2903
@yuvipanda Can you think of any reason why we'd need over a year's worth of logs on the hub pod?  I'm thinking some sort of simple nightly job on the hub pod, perhaps logrotate? can make sure we keep the hub logs at an acceptable size.  Perhaps monthly rotations with gzips going back 12 months?

[2021-10-19 02:49] felder commented on #2903
Ryan on slack also wonders if perhaps we don't need a file at all instead relying on google logs.  That does make a lot of sense.

[2021-10-19 04:51] ryanlovett commented on #2902
Thanks for the report. There was a storage problem with the hub that was resolved earlier this evening. You should be able to access your server now.

[2021-10-19 04:51] #2902 closed, assigned to felder, balajialg

[2021-10-19 04:51] ericvd-ucb commented on #2803
was this ever implemented ?  installing the MIMI package?

[2021-10-19 09:39] yuvipanda commented on #2889
@ryanlovett are you on the latest version of hubploy? I added sops support to hubploy so you wouldn't have to do that.

[2021-10-19 10:31] yuvipanda commented on #2903
I kept the logs primarily so we can answer questions about who is using the hub and for how much over the years. I agree we don't need to keep it there.

How about we:

- [ ] Make sure the logs are going into stackdriver (I think this is already happening). I don't know how long it keeps the logs though.
- [ ] Export hub logs to [google cloud storage](https://cloud.google.com/architecture/exportin

[2021-10-19 11:55] yuvipanda commented on #2903
I just created this sink: https://console.cloud.google.com/logs/router?project=ucb-datahub-2018.  Need to test if it works though. I also want us to keep historical logs so we can do longer term analysis.

[2021-10-19 13:19] balajialg commented on #2902
@ryanlovett Thanks a lot for handling this issue!

[2021-10-19 16:44] ryanlovett commented on #2889
@yuvipanda No, sorry, I should have checked!

[2021-10-19 17:23] ryanlovett commented on #2889
Per @yuvipanda 's advice in slack, one should install hubploy from github, https://github.com/yuvipanda/hubploy.

[2021-10-19 17:52] yuvipanda commented on #2803
@ericvd-ucb I've installed the requested packages now

[2021-10-19 19:27] yuvipanda commented on #2878
With #2908 and #2905 I think tini is now on all the hubs. This should reduce instances of RStudio state corruption, and hopefully help https://github.com/berkeley-dsep-infra/datahub/issues/2891 and https://github.com/berkeley-dsep-infra/datahub/issues/2819

[2021-10-19 19:51] balajialg commented on #2812
@yuvipanda There seems to be a minor discrepancy between the grafana data and the raw data shared with me. Sharing the snapshots for the last 30 days,

Grafana data from the past 30 days
![image](https://user-images.githubusercontent.com/2306166/137980453-33c91499-1819-44b8-9175-e2185fe9da0e.png)

Analysis based on the raw data shared for the past 30 days,

![image](https://user-images.githubuserc

[2021-10-19 20:35] mlukarska opened #2914 "retrieve files"
### Email Id

mlukarska@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/mlukarska.tar.gz

[2021-10-19 21:10] ryanlovett commented on #2867
@balajialg The Canvas API we are starting to migrate to does not have section information, only bcourse status.

https://canvas.instructure.com/doc/api/courses.html

The SIS API we are migrating from does have section information, but we are not collecting it.

[2021-10-19 21:14] ryanlovett commented on #2839
@balajialg I just commented on that issue.

One other issue that arises from obtaining the Canvas data during auth, is that if a student logs into a hub before they are enrolled, they will have to log out and log back in (not just restart their server) in order for the hub to populate their user auth_state with the course info. Imagine a scenario where an instructor asks us to grant additional res

[2021-10-19 21:46] ryanlovett commented on #2839
One way of addressing the above to call self.authenticator.get_courses() from the spawner rather than picking up the data from when it last put it in auth_state, however I don't know when the user's access token is valid. If it is only valid after having recently authenticated, then there is no point.

Edit: the access token has a [one hour lifespan](https://canvas.instructure.com/doc/api/file.oau

[2021-10-19 22:26] #2892 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-10-19 22:32] balajialg commented on #2803
@yuvipanda Thanks! Based on the initial request, might need to upgrade the RAM for Julia hub as the computation is intensive. Whenever it is done, we can close this issue.

[2021-10-20 00:30] felder commented on #2914
Signed URL sent!

[2021-10-20 00:30] #2914 closed, assigned to felder

[2021-10-20 00:32] felder commented on #2903
@yuvipanda sounds reasonable to me.  Really I'm pretty open to any solutions that allow us to continue to be able to troubleshoot current issues and retain the historical data we require while solving the issue of filled filesystems and manual cleaning.

[2021-10-20 00:34] felder commented on #2900
Signed URL sent!

[2021-10-20 00:34] #2900 closed, assigned to felder

[2021-10-20 00:38] felder commented on #2848
@DiegoVillegasA Regarding this dataset, is it your expectation that each student in your class will maintain their own copy of this dataset?

[2021-10-20 00:49] felder commented on #2815
One thing to note here is that google persistent disks have a max capacity of 64TB.

Given that I think it's a bad idea to raid the persistent disks together and we cannot shrink disks, I think a disk per hub approach with quotas imposed as necessary makes the most sense.

[2021-10-20 01:04] kferger320 commented on #2737
Hi all @yuvipanda @balajialg @petersudmant @arwolf0808 , it seems the same error that seemed to be solved by installing tzdata is popping up again, so now the same commands that were working great last week are now suddenly not working, and throwing the same `pytz.exceptions.UnknownTimeZoneError: '/UTC'` error. Maybe something got moved around? This is strange since everything was working great on

[2021-10-20 01:30] balajialg commented on #2737
@kferger320 Sorry to hear that this issue is recurring (which is unfortunate). Were you able to run this command yesterday? We made changes to the biology hub today and trying to see whether that correlates with this behavior.

@yuvipanda @petersudmant Is this issue related to [this](https://github.com/berkeley-dsep-infra/datahub/commit/e98e99d9067f4a48a9f58e21df6c39e729de0ab3#diff-8aaba458824f8eb

[2021-10-20 01:44] kferger320 commented on #2737
@balajialg thanks for looking into this. I think both Ashley and I only tested it today, so I can't say if it was working yesterday- we just know that it was working fine a few days ago like I mentioned

[2021-10-20 03:16] ryanlovett commented on #2848
@DiegoVillegasA Can you please let us know your course's bcourse ID? (the number at the end of the URL, https://bcourses.berkeley.edu/courses/{number})

[2021-10-20 04:38] #2803 closed, assigned to yuvipanda, felder, balajialg

[2021-10-20 04:38] yuvipanda commented on #2803
@balajialg done!

@ericvd-ucb can you confirm this works for the prof?

[2021-10-20 05:04] yuvipanda commented on #2737
@balajialg The `tzdata` package is already installed by default in all our images - any installation of python installs it by default, as it is listed as a dependency in https://packages.ubuntu.com/focal/libpython3.9-stdlib. So I don't think the explicit install had any effect unfortunately on the situation. Needs deeper investigation.

[2021-10-20 08:54] yuvipanda commented on #2812
We should completely discount the grarfana usage data - it was an experiment that hasn't been validated at all. The log data is definitely more accurate.

I agree on session lengths! I'll try think of a way to properly measure that.

[2021-10-20 17:39] balajialg commented on #2812
@yuvipanda That will be awesome!

[2021-10-20 21:58] DiegoVillegasA commented on #2848
Felder, they will manipulate the dataset for a couple of weeks, and the main objective is to obtain two regression tables. After that, they do not need to have a copy themselves anymore.
Ryanlovett, it is the following: 1509087

[2021-10-21 03:35] felder commented on #2737
The issue here is the machine’s timezone was somehow set to “/UTC” as opposed to “UTC” and pytz did not like that.

I’m deploying a fix now to prod that sets the timezone correctly.  The error went away in our test notebook when I deployed the fix to staging.

@petersudmant In a related question, is UTC the timezone you want for biology hub vs America/Los_Angeles ?

[2021-10-21 03:49] petersudmant commented on #2737
@felder GOOD CATCH! Sure, that's the time zone we are in why not!

@arwolf0808 @kferger320 why in the WORLD does qiime need to know the time >.<  🥇

[2021-10-21 06:11] yuvipanda commented on #2737
@felder great, ty! I think we set all our other hubs to AMerica/Los_Angeles, so let's do that for this one too?

[2021-10-21 16:37] arwolf0808 commented on #2737
@petersudmant no clue ! Thanks all, is this set up in staging or deployed?

Ashley

On Wed, Oct 20, 2021 at 11:11 PM Yuvi Panda ***@***.***>
wrote:

[2021-10-21 16:47] felder commented on #2737
@arwolf0808 the fix for the UTC timezone was deployed to staging and prod last night.