[2020-07-28 15:42] yuvipanda opened #1635 "Put eecs hub on its own disk"
The EECS hub has been live for like a few months, and already has 100G of data usage. I think it'll end up being pretty active, and we should put it in its own home directory disk, so it can expand / contract on its own.

[2020-07-28 15:42] yuvipanda commented on #1633
412GB is 'other hubs', including 100GB just for EECS hub. I filed https://github.com/berkeley-dsep-infra/datahub/issues/1635 to have EECS get its own disk. I think we should probably have 1 other disk that takes everything right.

[2020-07-28 19:14] felder commented on #1635
@yuvipanda be aware that google persistent disks cannot be shrunk.  "Contracting" in this context means provisioning new storage with the reduced amount and performing a full migration.

[2020-07-28 19:21] felder commented on #1633
@yuvipanda it'd be good to note what the actual compression ratio of the compressed files is.

[2020-07-29 05:48] yuvipanda commented on #1635
@felder ty! yeah, if we ever wanna shrink it we'd have to do the whole copy dance again. My hope is that it can sort of remain at a constant level, with archivals keeping pace with new users.

[2020-07-29 06:44] yuvipanda commented on #1635
I've created a 4TB 'balanced' ssd disk, with default options: `sudo mkfs.xfs /dev/sdg`. Using XFS so we can play with user quotas later.

[2020-07-29 06:48] yuvipanda commented on #1635
Added fstab entry: `/dev/sdg /export/eecs-homes-2020-07-29  xfs     inode64,prjquota        0       0`

[2020-07-29 06:54] yuvipanda commented on #1635
There's now an rsync running in a tmux under root.

[2020-07-29 08:18] yuvipanda opened #1636 "Disable core dumps"
The EECS hub seems to be doing a lot of python core dumps - probably because they're now running desktop servers. This takes up a lot of space! We should disable core dumps.

`ulimit -c 0` does it, but we need to find a way to run that for each container. Alternatively, we could run a daemonset that sets a sysctl.

I just deleted about 115GB of coredumps from the EECS hub. This has made me revise

[2020-07-29 08:29] yuvipanda commented on #1636
`sysctl` is probably the safest and most consistent way to do this. `ulimit` doens't really work outside shells.

We'll have to run a daemonset to do this.

[2020-07-29 12:55] yuvipanda commented on #1635
After fiddling around a bit, I instead made a 2T balanced-ssd disk (see #1636 for why), and am gonna put all non-datahub-hubs on it, including EECS. Currently, each user seems to be using about ~400M. At upto 512MB per user, this supports ~8k users, so we should be good - especially if we can actually set quotas! Which we should.

[2020-07-29 18:12] neeleshkr opened #1639 "Request python package cv2 for class EECS16A"
**Which package do you want installed?**
cv2 for image processing
**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub
**Which class will use this package?**
EECS16A
Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.
https://classes.berkeley.edu/content/2020-summer-e

[2020-07-30 11:38] #1635 closed

[2020-07-30 15:48] yuvipanda commented on #1455
I've moved the following hubs to their own 2T disk:

- eecs
- data102
- stat89a
- buds-2020
- workshop.

There's 1.7T left there now, which might be a bit too much :| But I expect big onramps for eecs, so it should be ok.

[2020-07-31 00:25] joseramirez007 opened #1650 "Request python package X for class Y"
**Which package do you want installed?**
Pygame: The package is already installed but no graphic device output is available.

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub

**Which class will use this package?**
CogSci131
https://classes.berkeley.edu/content/2020-summer-cogsci-131-001-lec-001
Include a link to appropriate entry in https:/

[2020-07-31 12:41] yuvipanda commented on #1639
Hello, @neeleshkr!

I can't find a package called 'cv2' - Nothing in https://pypi.org/project/cv2/. Can you provide link to where the package can be found?

Also, I think EECS is supposed to use eecs.datahub.berkeley.edu. Can you confirm that's the hub you are using?

Thanks.

[2020-07-31 16:53] neeleshkr commented on #1639
Hello @yuvipanda!

Thanks for the response! I checked with the professor who wrote the demo, this is the relevant package: https://pypi.org/project/opencv-python/.

And as for the hub, I've actually been using datahub, not eecs.datahub, and haven't run into any reported issues so far, but I'll begin using eecs.datahub going forward. Sorry about that!

[2020-08-03 16:52] #1468 closed

[2020-08-04 14:28] yuvipanda commented on #1505
@Quizenger heya! I'm going to slowly reduce the RAM, currently from 8G - I think the issues we were seeing were mostly unrelated to that. Nobody has used more than about 2G of RAM in the last couple of weeks...

<img width="1411" alt="Screen Shot 2020-08-04 at 7 57 22 PM" src="https://user-images.githubusercontent.com/30430/89305807-b9d91a80-d68c-11ea-95c5-f27a9cab98d1.png">

https://github.com/be

[2020-08-04 20:53] yuvipanda commented on #1639
@neeleshkr can you test this out on eecs.datahub.berkeley.edu now? Thanks!

[2020-08-04 21:03] yuvipanda commented on #1650
(Edited to remove extra form info)

Thanks for opening this, @joseramirez007!

pygame is designed to be run locally, and generally doesn't work over the web. Can you tell me some more about what your use case is, and we'll see what we can do? we have a Linux desktop in the EECS hub (https://eecs.datahub.berkeley.edu/user-redirect/desktop), maybe we can do something with that?

[2020-08-04 21:22] neeleshkr commented on #1639
@yuvipanda Just tested, and it works now, thank you!

[2020-08-04 21:31] yuvipanda commented on #1639
yw, @neeleshkr!

[2020-08-10 09:47] Quizenger commented on #1505
@yuvipanda yes, that sounds good! Thanks!

[2020-08-10 16:05] ybh0822 opened #1669 "Physics 188/288 setup for Jupyterhub"
**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub

**Which class will use this package?**
Physics 188/288 (https://classes.berkeley.edu/content/2020-fall-physics-188-001-lec-001)

**Which semester will this package be used for?**
Fall 2020

**Any additional information we should know about?**
We plan to run the assignments in the Data8 IPytho

[2020-08-11 06:10] chrispyles opened #1670 "RStudio terminal does not have a complete PATH"
When using the terminal in RStudio on r.datahub, I cannot use very many commands except those built-in to bash because the `PATH` environment variable cannot be found. Here is an example output from the RStudio terminal:

<img width="879" alt="Screen Shot 2020-08-10 at 11 11 33 PM" src="https://user-images.githubusercontent.com/40970945/89863387-da0e4b00-db5e-11ea-9435-3c741f8e4a1a.png">

[code]

[2020-08-11 06:32] yuvipanda commented on #1670
@chrispyles hmm, that's weird. I'm on my RStudio in the R Datahub, and $PATH is set right. The home directory is mounted at `/home/rstudio` rather than `/home/jovyan`, but otherwise it seems ok. does restarting your server help? If not, maybe something off is happening in ~/.bash_profile or ~/.bashrc?

[2020-08-11 07:00] chrispyles commented on #1670
Ah, yes, it was something I did to my bash profile. Thanks @yuvipanda!

[2020-08-11 07:00] #1670 closed

[2020-08-11 07:30] yuvipanda commented on #787
Done with https://github.com/berkeley-dsep-infra/datahub/issues/1574

[2020-08-11 07:30] #787 closed

[2020-08-11 07:42] yuvipanda commented on #930
@chrispyles can I remove gradeable-nbexport, or is it still being used?

[2020-08-11 08:02] #1124 closed

[2020-08-11 08:02] yuvipanda commented on #1124
This is all done.

[2020-08-11 16:07] chrispyles commented on #930
it can be removed

[2020-08-13 03:29] petersudmant opened #1674 "Give Peter Sudmant DNS access"
Hey @yuvipanda - can you please give psudmant DNS access? Thank you!

[2020-08-14 22:06] maryhorton1261 opened #1687 "Request hub for PH155A course (fall 2020)"
Hi there,

I am the GSI for PH 155A, and we would like to use DataHub this fall. It needs to support R Studio only. There are about 50 students and there will be 5 classes/assignments where R Studio is needed (through Datahub).

**Which class will use this package?**

PH155A - Senior Research Seminar in Public Health
https://classes.berkeley.edu/content/2020-fall-pbhlth-155a-001-lec-001

**Which s

[2020-08-15 05:04] yuvipanda commented on #1687
Hello @maryhorton1261! Can you check r.datahub.berkeley.edu and let me know if that is sufficient for your needs? Thanks :)

[2020-08-15 05:23] maryhorton1261 commented on #1687
Yes- something like this would work great.

[2020-08-15 05:27] yuvipanda commented on #1687
@maryhorton1261 awesome. In that case, please feel free to use r.datahub.berkeley.edu for your class. It is meant to be a generic R hub, used by many different classes that use R. Let us know if we can be of any further assistance!

[2020-08-15 05:27] #1687 closed

[2020-08-16 17:47] maryhorton1261 commented on #1687
@yuvipanda Quick question, since I have not used Datahub previously, do students create their own personal directories in this hub that others cannot see? Or is it somehow viewable to everyone? Or will a directory for this specific course appear for enrolled students that I can put data and scripts into?

[2020-08-17 06:03] yuvipanda commented on #1687
@maryhorton1261 When students log in, a 'home directory' gets created for them that others can't see. It's viewable by admins (some of the infrastructure folks, and some course student assistants - see https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/r/config/common.yaml#L27 for list).

For distributing data & scripts, in general we suggest using nbgitpuller.link to distribu

[2020-08-17 18:58] yuvipanda commented on #1453
This is now done, with #1667

[2020-08-17 18:58] #1453 closed

[2020-08-17 18:59] yuvipanda commented on #1461
With https://github.com/jupyter/nbconvert/pull/1273 this might finally come true!

I'll hopefully be able to respond to other comments shortly, now that this is possible.

[2020-08-18 07:01] yuvipanda commented on #1674
This was to setup genomics.datahub.berkeley.edu. Also, it is very difficult for us to add additional folks to DNS - so I've just added the entries.

Thanks for making this all happen, @petersudmant!

[2020-08-18 07:01] #1674 closed

[2020-08-18 16:41] petersudmant commented on #1674
Yes - brilliant. That works better!

Thank you!

[2020-08-19 00:50] ericvd-ucb commented on #1461
@yuvipanda seems like there are a few use cases here - let's keep talking about how this will play out for our students - this is definitely a key issue for modules users

[2020-08-19 01:24] Elias326 opened #1699 "Request PAUP* for Bio 1B course on Datahub"
**Which package do you want installed?** PAUP*

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.** Datahub

**Which class will use this package?** Bio 1B

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.

**Which semester will this package be used for?** Fall 2020 / Spri

[2020-08-19 05:34] yuvipanda commented on #1699
Thanks for opening this request, @Elias326!

Can you point me to where I can find more information about this software? I've only found https://paup.phylosolutions.com/get-paup/, but it looks like a commercial solution you have to pay for if you want to use it in a non-trial fashion? We generally try to avoid those on our hubs, since that makes management more difficult. Does the bio department ha

[2020-08-19 11:47] yuvipanda commented on #1650
@joseramirez007 I've had to remove the pygame package from datahub (https://github.com/berkeley-dsep-infra/datahub/pull/1702) since it doesn't seem to work with Python 3.8. However, I'm not sure if it ever worked, since it needs a GUI environment. Let me know if you were able to test this out on the EECS hub?

[2020-08-19 16:27] ericvd-ucb commented on #1687
@maryhorton1261 lets connect via email - happy to walk you through some of steps - we have an instructor facing documentation guide at https://ds-modules.github.io/curriculum-guide/workflow/distributing-notebooks.html

[2020-08-20 10:57] yuvipanda commented on #1669
Apologies for the late response, @ybh0822! Everything you need should still be on datahub.berkeley.edu. Let us know when you need the 2GB RAM and we can set it up at that time.

Thanks!

[2020-08-20 10:57] #1669 closed

[2020-08-20 11:00] yuvipanda commented on #1125
We made the data100 base disk larger, and that works out ok. It's also no longer on azure (yay)

[2020-08-20 11:00] #1125 closed

[2020-08-20 16:54] joseramirez007 commented on #1650
Hi  I am not sure how to access the EECS hub, could you direct me to their
site please?

Jose

On Wed, Aug 19, 2020 at 4:47 AM Yuvi Panda <notifications@github.com> wrote:

[2020-08-20 18:47] ryanlovett commented on #1650
@joseramirez007 It is https://eecs.datahub.berkeley.edu. To spawn the desktop environment on the EECS hub, see Yuvi's link earlier in this issue.

[2020-08-20 21:41] ericvd-ucb commented on #1699
Hi @yuvipanda
I have looped back with the instructor and he really wants to try this out - and really wants to get it on Datahub
He is basically trying to make phylogenetic trees using dendropy from using real data

on this page http://phylosolutions.com/paup-test/  it claims that the CLI version will be FOSS but the GUI version will be for pay.  But yes he claims it would be licensed freely by th

[2020-08-24 17:02] fqzbdkh opened #1725 "Adding automatic log off feature for datahub"
Would it be possible to finish implementing an automatic log off feature for Jupyter sometime within the next week?

This feature would make sure that students are logged off from their jupyter IDs when they exit all jupyter notebook of the same jupyter ID from browser window.

The Online Learning services is planning to re-launch the data8X course on EdX within the next two days with integrated i

[2020-08-27 08:18] yuvipanda opened #1736 "Decommission Stat89A hub"
Stat89A is not offered this fall, and we can decomission the hub. Email of this is part of the ds-infrastructure mailing list.

It might wanna come back next semester. Let's just keep the files for now, and we can sort out what to do with them later?3

[2020-08-27 18:59] felder commented on #1736
@yuvipanda Since we're keeping the files would this just involve stopping the hub and removing it from continuous integration?

[2020-08-27 23:06] ebaccay opened #1737 "JupyterHub Admin Access for Data8X Hub"
Hi @felder!

We have two new students on the OLS team who need admin access for the 8x hub. This issue is for the first student, Kyle Kishimoto. His information is provided below:

Kyle Kishimoto
edX-id: `kylekishimoto`
GitHub: `kylemoto10`

8.1: `413fff9cb76c471fa0ccb32d7d08ace6`
8.2: `148bc397ac774e18a846abdb54ee2e1a`
8.3: `9e3318ad6da44461990e1d4e3a64986f`

Thanks!

-Ervin Baccay

[2020-08-28 00:31] #1737 closed

[2020-08-28 10:37] yuvipanda commented on #1736
@felder pretty much. you'd also run `helm delete` on the prod and staging releases, and probably release the DNS entries too.

[2020-08-28 17:31] ybh0822 opened #1740 "Failure to link ok"
Hello, I am a GSI for Physics188/288 (https://classes.berkeley.edu/content/2020-fall-physics-188-001-lec-001).
We have been using ok for homework submission, but this year, a number of students couldn't link to ok with the following error message. We couldn't figure out how to resolve this issue.
![okpy issue](https://user-images.githubusercontent.com/14793188/91595892-3d8dda80-e99f-11ea-8115-b57a

[2020-08-28 21:19] felder commented on #1736
@yuvipanda ok I ran:

kubectl -n stat89a-staging delete pod,svc,deployments --all
helm delete stat89a-staging -n stat89a-staging
kubectl delete namespace stat89a-staging

I also modified the circle ci configs and it seems like the right thing has occurred (circle ci is ignoring stat89a).  Before I do this to prod, I just want to make sure this series steps makes sense.

[2020-08-28 21:55] felder opened #1746 "Resource starvation after data8 lecture due to students being encouraged to take a mini quiz"
David Wagner in the data8 slack writes:

Looks like again today students experienced problems accessing the datahub servers at noon right after lecture.  We have lecture 11am-noon, and I encourage them to take the vitamin (mini-quiz) right after lecture, so we probably had hundreds of students descending on datahub all at the same time at noon.  I noticed that it was slow to load and then gave a "

[2020-08-28 21:57] felder commented on #1746
@yuvipanda I know we're trying to avoid the complexity of managing differing numbers of placeholders pods throughout the day, so it may be that it makes sense for students expect a bit of a delay in the above case.  Nonetheless, I told David I'd file this as an issue to discuss.

[2020-08-28 23:22] davidwagner commented on #1740
We saw something similar Data 8.  When we pushed an update to a homework after some students had downloaded it, for reasons I don't understand some of them saw the same error.  Might be related to https://github.com/okpy/ok-client/issues/348.  A workaround is to have students manually replace "_ = ok.auth(inline=True)" with "_ = ok.auth(inline=True, force=True)" if they experience this issue and r

[2020-08-28 23:56] ericvd-ucb opened #1747 "Use Workshop hub for HS"
Hi - would it be OK to use the workshop Hub on a trial basis this fall for a Demo with HS students?
These would be Cal students teaching HS students so its still Berkeley related

[2020-08-30 07:08] yuvipanda commented on #1747
@ericvd-ucb go for it. buds-2020 is also up and we can keep that running too if that's better.

[2020-08-30 07:08] yuvipanda commented on #1747
@ericvd-ucb in fact, I'd prefer using buds-2020 instead of this. We can setup auth in some form that works. What do you think?

[2020-08-30 08:40] yuvipanda commented on #1746
Sorry for the issues, @davidwagner! I think it's because we had a 1G limit on the jupyterhub pods, and the datahub pod was hovering around that for a lot of that time.

<img width="1278" alt="Screen Shot 2020-08-30 at 2 08 40 PM" src="https://user-images.githubusercontent.com/30430/91654903-6494fb00-eaca-11ea-9928-a33019fc96a0.png">

With #1759 I've increased that to 2G, and that should hopefully

[2020-08-30 18:25] ericvd-ucb commented on #1747
Sure that's fine. Need is not urgent but I would like to have a HS facing and auth-able hub if we get some projects

[2020-08-30 18:28] ericvd-ucb commented on #1461
@yuvipanda @chrispyles Would love to check back in on plans / ideas here.  We have modules work and deployments that are lining up to deploy this semester and we always looking to simplify a download pdf workflow.

[2020-08-31 18:08] felder commented on #1455
Old server nfsserver1 deleted, old storage deleted, and static IP released.

[2020-08-31 18:15] felder commented on #1736
stat89a-prod deleted using similar commands as above.

Static ips removed and dns records removed.

[2020-08-31 18:15] #1736 closed

[2020-08-31 20:06] davidwagner commented on #1746
Thanks, @yuvipanda!  I have to say that anecdotally it didn't seem to go so great today either: during lecture students reported they couldn't launch a notebook on data hub (and a few TAs told me they saw the same thing), probably because we had a horde of student all descend at the same time as I encouraged them to open the demo notebook during lecture.  I'm not sure what to do about that.  I can

[2020-08-31 21:39] davidwagner commented on #1746
There have been continuing issues with Datahub not responding, on and off, for the past several hours, both that I have observed and that a number of students have reported.

[2020-09-01 03:54] ybh0822 commented on #1740
@davidwagner, thanks a lot for your comments! This worked like a charm 👍 We sincerely appreciate your help!

[2020-09-01 03:54] #1740 closed

[2020-09-01 03:55] yuvipanda commented on #1746
@davidwagner Sorry to hear that :( I've increased excess capacity from 100 extra users to 300 (in #1771), which hopefully can deal with spikes a little better. I've also set its minimum number of nodes to 7, to make sure we at least have 700 users capacity at all times.

Again, really sorry this happened again

[2020-09-01 03:56] yuvipanda commented on #1455
I think we're done here! \o/

[2020-09-01 03:56] #1455 closed

[2020-09-01 03:56] yuvipanda commented on #1455
Thanks for making all this happen, @felder

[2020-09-01 17:52] ericvd-ucb opened #1775 "Request python package obspy for class EPS 256"
**Which package do you want installed?**
obspy
**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub
**Which class will use this package?**
EPS 256
Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.
Richard Allen
**Which semester will this package be used for?**
Fall

[2020-09-01 19:39] davidwagner commented on #1746
Thank you so much for all your support!  I'll let you know how it goes as the week continues.

[2020-09-01 20:17] felder opened #1776 "basic auth going away, google says data8x project is affected"
Hello Google Kubernetes Engine Customer,

We are writing to let you know that upstream Kubernetes open source has removed support for basic authentication in version 1.19 (v1.19). Once Google Kubernetes Engine (GKE) upgrades your clusters to v1.19, you will no longer be able to use basic authentication. You will still be able to authenticate to GKE using other methods.
What do I need to know?

Kub

[2020-09-02 13:45] yuvipanda commented on #1776
I think it is enabled because our cluster was created long enough ago. I think we don't need to do anything, since we don't use it anyway.

[2020-09-02 19:09] davidwagner commented on #1746
@yuvipanda datahub is again not available.  Is the auto-scaling working at all?  Something seems like it is going wrong with the auto-scaling.  Lecture today was 11am-noon.  I have been unable to get into datahub all lecture long.  I've been trying every 10 minutes or so and repeatedly it just hangs or gives me 'Bad gateway'.  Students are reporting that they're unable to get into it either.  We e

[2020-09-02 20:08] yuvipanda commented on #1746
I'm actively looking at it right now...

[2020-09-03 07:28] #1775 closed

[2020-09-04 00:50] cboettig opened #1789 "No ftp access from datahub?"
Scripts that require access to ftp resources e.g. the famous Mauna Loa CO2 dataset, https://climate.nasa.gov/vital-signs/carbon-dioxide/, ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt, times out if we attempt to download it on `r.datahub.berkeley.edu`.  This and many other resources from NOAA and NASA datasets still rely on `ftp`.  Is it really blocked?  Is this unavoidable or can it

[2020-09-04 04:50] yuvipanda commented on #1747
@chrispyles what do you think of me renaming buds-2020 to something like highschools.datahub.berkeley.edu or something like that we can use for this purpose?

[2020-09-04 05:09] yuvipanda commented on #1789
We had disabled it mostly since nobody has asked for it, and I was trying to make sure we only have outbound ports we really needed open.

I'll open it up. Ideally I'd like to allow *only* readonly anonymous FTP access, but alas I don't wanna maintain an FTP proxy...

[2020-09-04 15:24] cboettig commented on #1789
cool, totally makes sense.  thanks for opening this up.

(ironically we used to use Travis-CI as our CI testing, which also blocks ftp.  We switched to GH-Actions this year and I though 'yay, we can use ftp again!)

[2020-09-04 17:04] yuvipanda commented on #1789
:D I think it won't be a bad idea for them to move off FTP, but I bet they know that already...

[2020-09-04 21:16] chrispyles commented on #1747
SGTM

[2020-09-04 23:07] ebaccay opened #1795 "JupyterHub Admin Access for Data8X Hub"
Hi @felder !

We have two new students on the OLS team who need admin access for the 8x hub. This issue is for the second student, Varun Mittal. His information is provided below:

Varun Mittal
edX-id: `varunmittal35`
GitHub: `varunmittal35`

8.1x: `af5bd207bb7fd80a602d0cf488fda336`
8.2x: `6127a516b66666622476c80e7d835705`
8.3x: `4ec74d8be97f3c5ed9addc6a724effa1`

Thanks!

-Ervin Baccay

[2020-09-05 00:03] maggieavery opened #1796 "Change shapely or cartopy for EPS88"
**Which package do you want installed?**
Shapely made need to be rebuilt? It's causing an error with cartopy

I assigned a simple cartopy mapping example:
[code]

And it's giving the error:
Geometry must be a Point or LineString

I believe the problem is a wrong version of shapely, "with Cartopy the binary package shoudn't be used, it should be built from source instead." (similar issue [discussed

[2020-09-05 08:13] #1796 closed

[2020-09-05 18:21] mdshapiroLBL commented on #653
This issue has been dormant for a long time, but I'd like to revive it.  Several students in my class (Physics 129 which is a data science domain emphasis offering) have requested the ability to use the Root analysis package from the dataHub.  As noted earlier in this thread, installation is usually done using conda.  At the time we last exchanged messages, you indicated that support for conda ins

[2020-09-07 12:02] yuvipanda commented on #653
So sorry for dropping the ball on this one, @mdshapiroLBL!

@felder do you think you have time to look at this? Now that we're using conda for datahub, we should be able to install it from https://anaconda.org/conda-forge/root/.

[2020-09-07 15:45] yuvipanda opened #1805 "Move biology.datahub.berkeley.edu to canvas auth"
It's currently on google auth, and should move over.

[2020-09-08 14:44] lytello opened #1810 "Request dplyr package 1.0.0 for PH290W: R for Public Health"
**dplyr 1.0.0**

**r.datahub**

**PHW290W: R for Public Health**

https://classes.berkeley.edu/content/2020-fall-pbhlth-290-009-sem-009

Instructor: Will Wheeler, Lawrence Tello

**Fall 2020**

[2020-09-08 22:13] felder commented on #653
@yuvipanda I tried all day to get the datahub image to build and I simply cannot.

Please see https://github.com/berkeley-dsep-infra/datahub/pull/1811

[2020-09-09 16:25] #1776 closed

[2020-09-09 20:55] felder commented on #1810
I asked @lytello in slack to confirm that this won't interfere with PH250F/G and update the issue here.  Once done, I'll attempt to deploy.

[2020-09-09 20:57] lytello commented on #1810
Confirmed: PH250F/G is not using R as they removed all R components of the course.

[2020-09-09 20:57] felder commented on #1810
@lytello ok, I'll get to work on it.  You'll see updates in this issue as I make commits.

[2020-09-09 22:33] felder commented on #1810
@lytello I'm upgrading dplyr to 1.0.2, I hope that's ok.  Please let me know if it is not.

[2020-09-09 23:48] felder commented on #1810
Running into the github api limit.  I'll try later.

@yuvipanda does this issue I filed for hubploy (https://github.com/yuvipanda/hubploy/issues/42) seem at all feasible?  Any other ideas for getting a github_pat into the build environment?

[2020-09-10 00:48] felder commented on #1810
After waiting for the API limits to refresh, it still no worky.  There's just too many calls to github with the addition of the new dependencies.

I'm talking with @ryanlovett to try and see if we can work around this.

[2020-09-10 08:41] yuvipanda commented on #1810
I bumped up R to 4.0 (https://github.com/berkeley-dsep-infra/datahub/pull/1824), and with it got new dplyr. I was able to work-around the issues we ran into when we last tried to do this in https://github.com/berkeley-dsep-infra/datahub/pull/1786.

[2020-09-11 06:27] ybh0822 opened #1827 "Request increased memory for PHYS188/288"
For the next assignment, we need 2GB RAM. Would it be possible to double the memory for this class?
Thank you for your help!

Class info:
Physics 188/288 (https://classes.berkeley.edu/content/2020-fall-physics-188-001-lec-001)

[2020-09-11 18:43] lytello commented on #1810
Thank you for the quick turn around!

[2020-09-11 19:58] felder commented on #1827
@ybh0822 I believe this is for datahub.berkeley.edu, but please specify the hub in support requests.

[2020-09-11 20:36] #1810 closed

[2020-09-11 21:10] felder commented on #1827
@ybh0822 ok that should do it.  Please let me know if it no workie.

[2020-09-11 21:10] #1827 closed

[2020-09-11 22:29] felder commented on #1795
Done!

[2020-09-11 22:29] #1795 closed

[2020-09-11 22:37] felder commented on #1454
This has been running for some time and seems to be working out.

[2020-09-11 22:37] #1454 closed

[2020-09-14 07:16] yuvipanda commented on #1747
Alright, so let's rename buds-2020.datahub.berkeley.edu to highschool.datahub.berkeley.edu.

- [ ] Rename directory here
- [ ] Rename references in CI
- [ ] Get new DNS entries
- [ ] Update the Google Auth entries to point to new domain ([prod credentials](https://console.cloud.google.com/apis/credentials/oauthclient/639319454093-kdi145hid2l842ogtuloedcrnm7me3nn.apps.googleusercontent.com?project=

[2020-09-14 18:45] yuvipanda commented on #659
Gofer is dead!

[2020-09-14 18:45] #659 closed

[2020-09-15 22:15] felder opened #1837 "Patch GKE nodes for CVE-2020-14386"
Hello Google Kubernetes Engine Customer,

A vulnerability was recently discovered in the Linux kernel, described in CVE-2020-14386, that may allow container escape to obtain root privileges on the host node. This is rated as a High severity vulnerability. All Google Kubernetes Engine (GKE) nodes are affected by this vulnerability, and we recommend that you upgrade to the latest patch version as so

[2020-09-15 22:17] felder commented on #1747
@yuvipanda is this documentation correct and current?

https://github.com/berkeley-dsep-infra/datahub/blob/staging/docs/admins/howto/new-hub.rst

According to that I figured I should be able to simply change the naming of buds-2020 everywhere in the source where it appears as well as make provisions for that change in the nfsserver, dns, and authentication.  However the first error I got was a non

[2020-09-15 22:27] felder commented on #1747
Sigh now github is mad due to the API limit.

[2020-09-16 07:25] yuvipanda commented on #1837
Note that we aren't directly affected by this rn, since our user processes don't have `CAP_NET_RAW`. We should still patch our nodes, but it isn't a stop-the-cluster event.

[2020-09-17 22:06] kobewang1359 opened #1840 "Install 'pymc' on datahub"
Dear all,

I am with Data 102 and we need 'pymc' package installed on the server. The documentation is here: https://docs.pymc.io/

We think this can be done via running the following commands:

pip install arviz==0.6.1
pip install pymc3==3.8
pip install Theano==1.0.4

Thank you very much!

[2020-09-17 22:23] felder commented on #1840
A quick check in staging indicates higher versions of these packages are already installed.

$ pip list installed | grep -E 'arviz|Theano|pymc3'
arviz                         0.9.0
pymc3                         3.9.3
Theano                        1.0.5

[2020-09-17 22:23] #1840 closed

[2020-09-18 15:50] lytello opened #1841 "Can not knit on r datahub"
**Which package do you want installed?**

I believe we need tinytex (I could be wrong) based on information from the chat. It seems like the recent bump to R 4.0 has led to this package missing. We can no longer knit documents to pdf.

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

r.datahub

**Which class will use this package?**

PHW290: R for

[2020-09-18 17:06] felder commented on #1841
Here's what I get when I look for tinytex in r-staging:

Loading required package: tinytex

[1] "/usr/local/lib/R/site-library/tinytex"

R version 4.0.2 (2020-06-22)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04 LTS

Matrix products: default
BLAS/LAPACK: /usr/lib/x86_64-linux-gnu/openblas-openmp/libopenblasp-r0.3.8.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C

[2020-09-18 17:08] felder commented on #1841
Thus tinytex appears to be installed.

[2020-09-19 04:57] yuvipanda commented on #1841
Re-opened to be more generic...

[2020-09-22 09:27] ybh0822 opened #1842 "Request python package for PHYS188/288 - similar to #1073"
Hello,

Hope this finds you well. This request is related to #1073
Apologies for the trouble; this package is still not ready to be released via pypi. Would it be possible to put it in some build directory e.g. /srv/app/venv/assignment-1910 (just like last year)?

**Which package do you want installed?**
https://github.com/HerculesJack/assignment-1910

**Which hub do you want it installed on?  For

[2020-09-22 09:36] yuvipanda commented on #1841
@lytello can you tell us a little more about the error you are getting? Maybe it needs more packages than just tinytex installed in newer versions of R.

[2020-09-22 17:22] lytello commented on #1841
Knitting is inconsistent or taking longer than usual. One student had the following error, but it corrected itself the following morning:

`processing file: problem_set_3.Rmd
 |..........                                                            |  14%
 ordinary text without R code

 |.............                                                         |  19%
label: unnamed-chunk-2

Quitting fro

[2020-09-23 02:00] ryanlovett commented on #1841
Thank you @lytello. Can you identify a specific file belonging to a specific student that reproducibly fails to knit? If so, please report on ds-infrastructure@lists.berkeley.edu. (for student privacy)

[2020-09-23 03:48] lytello commented on #1841
I think these knitting issues were due to a different issue that I have resolved with students (data directories weren't correctly called in the script).

[2020-09-24 16:53] felder commented on #1842
@ybh0822 Looking at #1073 I see that assignment-1910 is still being deployed.
https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/datahub/images/default/connectors/2019-fall-phys-188-288.bash

From an open terminal in my own pod:
[code]
Since I'm not familiar with this package, based on that info can you let me know what else needs to happen here?

[2020-09-25 01:21] lytello commented on #1841
A situation occurred where I had to re-install TinyTex to knit a student's work. We received the following error:

`tlmgr: package repository http://ctan.math.washington.edu/tex-archive/systems/texlive/tlnet (not verified: gpg unavailable)
tlmgr install: package already present: amsmath
tlmgr install: package already present: latex-amsmath-dev
! LaTeX Error: File `amsmath.sty' not found.

! Emerge

[2020-09-25 15:41] felder commented on #1841
@lytello are you able to provide steps that will reliably reproduce this issue?

[2020-09-25 20:18] alleanna opened #1846 "Request python package geonomics for class IB-105/ESPM-125"
**Which package do you want installed?**

geonomics (written by Drew Hart)
https://pypi.org/project/geonomics/

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

Installed on datahub

**Which class will use this package?**

Used in IB-105/ESPM-125 module: https://github.com/ds-modules/IB-105-ESPM-125-fa20
Relevant materials: https://github.com/drewh

[2020-09-25 23:31] winstonyin opened #1847 "Request python package graphviz for class L&S22"
**Which package do you want installed?**
graphviz

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
I assume it's the default datahub.berkeley.edu

**Which class will use this package?**
L&S22 Sense & Sensibility & Science. Instructor: Saul Perlmutter (main contact), Alison Gopnik, John Campbell

**Which semester will this package be used for?**
Spr

[2020-09-26 15:36] lytello commented on #1841
@felder It doesn't seem like I can reliably reproduce the issue, probably because I manually installed TinyTex? However, on a related knitting issue, another student's knit is taking minutes longer than it should, but it does knit successfully. I will share with you their notebook privately!

[2020-09-26 15:38] yuvipanda commented on #1846
Hey @alleanna! Can you tell me how many students you'd expect? There's a biology.datahub.berkeley.edu, would you be open to using that?

[2020-09-26 16:15] alleanna commented on #1846
Hi! There’s about 20 students in the class.

On Sat, Sep 26, 2020 at 8:38 AM Yuvi Panda <notifications@github.com> wrote:

Class of 2021

[2020-09-28 21:24] cboettig opened #1849 "Request for server allocation for ESPM 157"
Course number is: 27267 (see https://classes.berkeley.edu/content/2020-fall-espm-157-001-lab-001)
We are requesting instances with at least 4 GB RAM.

[2020-09-29 06:36] alleanna commented on #1846
Hi! Sorry, I forgot to answer. Yes, we'd be open to using the biology datahub. Would that change anything on the students' end?

[2020-09-29 18:35] chrispyles commented on #1847
Merged #1853 to staging which adds this package and its binary. #1854 merges the change to prod and will close this issue.

[2020-09-29 19:03] felder commented on #1841
@lytello I have some ideas for how to approach this issue.  The first thing I'm going to try is replacing all of the installed texlive packages with system native texlive packages.  This will bring the r hub in line with how the other hubs operate.  This may be a somewhat intrusive change, but we currently believe that these packages are only used for pdf knitting.  Thus if pdf knitting continues

[2020-09-29 23:52] alleanna commented on #1846
Hi @yuvipanda! We're working on getting this class ready for this Friday. I made the new interact links so we can use the biology datahub. When can we expect the package to be installed/is there anything else I can do? Thanks so much!

[2020-09-30 00:49] lytello commented on #1841
@felder Happy to help! At the moment, I don't have any other knitting issues like this, but I will keep an eye out. I think many of the students are installing tinytex again in an attempt to solve the issue.

[2020-09-30 01:13] alleanna commented on #1846
Hi sorry for the multiple messages! Actually, we are using Chris's otter package to export the assignment as a pdf so unless we also add that to the biology datahub it would be great if geonomics could be installed on the datahub.

[2020-09-30 04:29] ryanlovett commented on #1461
I just read that the latest version of nbconvert has a `--to webpdf` option that uses Pyppeteer, https://nbconvert.readthedocs.io/en/latest/install.html#installing-chromium. So if this is sufficient then the other custom PDF converters can be removed. But it doesn't lessen the issue of having too many built-in PDF converters overall. :)

[2020-09-30 17:58] #1847 closed

[2020-09-30 18:28] yuvipanda commented on #1846
@alleanna ok, let's do this on datahub for now but move to biology soon. Hopefully @felder can do that today, if not I'll do it tomorrow. In the meantime, if you put `%pip install genomics` in the first cell of your notebook, that should install the package for the current session - this should let you try things out.

[2020-10-01 08:43] #1849 closed

[2020-10-01 12:04] #1846 closed

[2020-10-01 13:46] yuvipanda commented on #1846
@alleanna I've installed geonomics and the otter libraries on biology.datahub.berkeley.edu. Can you test it out?

Really sorry about the delay!

[2020-10-01 14:10] alleanna commented on #1846
@yuvipanda Thank you so much! On the biology datahub, the requirements aren't satisfied for otter or nimpy (which I believe is a dependency for geonomics. At first, it said nimpy wasn't installed and when I !pip installed it, these were the error messages:

ERROR: Could not find a version that satisfies the requirement nimpy (from versions: none)
ERROR: No matching distribution found for nimpy
ERR

[2020-10-01 15:46] yuvipanda commented on #1846
@alleanna I was able to import `geonomics` - the library it wants is nlmpy rather than 'nimpy' (l, not i). `!pip install nlmpy` works, and I'll add it explicitly shortly.

otter grader should also be already installed. The package name is `otter-grader`, which is installed. In python, `import otter` works...

Can you try again and let me know what you run into?

[2020-10-01 17:52] yuvipanda commented on #1846
@alleanna done now! You might have to start / stop your server in biology hub to see the new libraries

[2020-10-01 18:09] alleanna commented on #1846
Yes the imports work! The only thing is otter.export needs xelatex.

xelatex not found on PATH, if you have not installed xelatex you may need to do so. Find further instructions at https://nbconvert.readthedocs.io/en/latest/install.html#installing-tex.

Thank you!

[2020-10-01 18:22] yuvipanda commented on #1846
@alleanna ah, ok! Setting that up now.

[2020-10-01 20:39] #1842 closed

[2020-10-01 20:40] felder commented on #1842
Closing issue.  Please reopen if necessary.

[2020-10-01 20:42] felder commented on #1841
@lytello I have tested replacing texlive with system packages in my development environment.  The r hub image builds with these changes, but we need to test in staging.  What's your availability look like to help with this?

[2020-10-01 21:07] lytello commented on #1841
Any time Tuesday before 5 pm and Wednesday before 2pm. Does that work?

[2020-10-01 21:09] felder commented on #1841
@lytello yeah both of those days should be fine.  I'll try to message you on slack those 2 days.

[2020-10-02 06:04] yuvipanda commented on #1846
@alleanna should be done now, can you verify?

[2020-10-02 06:27] alleanna commented on #1846
@yuvipanda Yes perfect! Thanks so much :)

[2020-10-06 23:34] felder commented on #1841
@lytello

Using tlmgr, I installed collection-latexextra

This pulled and installed a ton of packages.  I believe it also should largely resolve the vast majority of knitting issues.

Students need to restart their servers in order to take advantage of this.  So if a student has a knitting issue, they should make sure their work is saved then:

1.  Go here:  https://r.datahub.berkeley.edu/hub/home

[2020-10-06 23:52] #1841 closed

[2020-10-07 18:08] connorbybee opened #1885 "Request python packages and cli programs for BioE-131"
**Which package do you want installed?**
bowtie2 on conda bioconda channel
spades on conda bioconda channel

pbzip2
ArithmeticCompress

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
biology.datahub

**Which class will use this package?**
BioE131

**Which semester will this package be used for?**
Fall 2020

[2020-10-08 09:27] yuvipanda commented on #1505
@Quizenger think this can be closed now?

[2020-10-08 09:28] yuvipanda commented on #1456
Done! |o/

[2020-10-08 09:28] #1456 closed

[2020-10-08 09:28] yuvipanda commented on #1328
Thanks to @chrispyles' work, the data100 grader on cluster is gone!

[2020-10-08 09:28] #1328 closed

[2020-10-08 18:44] connorbybee opened #1890 "Tab complete and command history in terminal"
It appears the tab completion and command history options in terminal are not enabled in biology.datahub or datahub. In biology.datahub, those features were working until today.

[2020-10-09 17:05] felder commented on #1885
@connorbybee What is ArithmeticCompress?  Can you provide a link?

[2020-10-09 19:38] cdbeon opened #1899 "RStudio Initialization Error - Discussion and Workaround"
Hello all,

I've had a few students come up to me with the following error when trying to log into their RStudios:

`RStudio Initialization Error: Error occurred during transmission.`

The first report that I got of this issue came early today at around 12 AM.

Restarting their servers (going to the admin hub, clicking `stop server`, then `start server`) didn't seem to work either.

Any suggestion

[2020-10-09 20:24] felder commented on #1899
This same issue was also reported yesterday on r.hub on behalf of another student by @d-alex-hughes

[2020-10-09 20:30] d-alex-hughes commented on #1890
@connorbybee which shell are you in?

I'm sorry that I'm not on the biology.datahub, but I've seen this issue previously when there has been a change from bash away to another shell as the default.

To get to a bash shell, issue `bash` at the CLI prompt.

[2020-10-10 08:38] Quizenger commented on #1505
Hi @yuvipanda ,

Apologies for the delayed reply. We'll be using the EECS Datahub next semester as well. Should I update this file with the TAs and PR without opening an issue? If so, then yes, we can close the issue.

[https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/eecs/config/common.yaml#L29](https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/eecs/co

[2020-10-10 20:04] fdrennan commented on #1899
I'm here because I'm having a similar issue on RStudio Server.

Here's what I know. When I am using the preview version, I get the error. When I revert to the current release of RStudio Server, the error disappears. When reinstalling RStudio Server Preview (or daily build) the error returns. I am able to get to the log in but the error occurs after submitting my password and before the IDE appears

[2020-10-13 20:15] felder commented on #1899
@lytello @d-alex-hughes @cdbeon Any other students report this issue?  If not I may close this for now and reopen later if this appears to be a consistently occurring problem.

[2020-10-13 21:06] d-alex-hughes commented on #1899
Thanks for digging into this with the student who raised it @felder. 🎉  Their instance is running sans problems now and I haven't had any new cases bubble up in the last few days.

If it does rise up again, I'll bring it back into this issue and notify you.

[2020-10-13 21:44] felder commented on #1890
Note that in #1865 @yuvipanda mentioned we should just remove the config.

So it may be that we go with the last option which is do nothing, but even so I think "nothing" in this case should be applied consistently so that users in general get the same default shell regardless of which hub the are working in.

[2020-10-13 22:46] lytello commented on #1899
@felder I had 5 more cases (likely more that didn't require my assistance). The ones that did reach out had lost their work. From my asking questions, these students weren't regularly saving their files when using datahub, which I suspect is why this additional issue occurred.

[2020-10-14 23:46] alleanna opened #1902 "No google client config found for reading in google sheets"
https://github.com/ds-modules/MCB-32/tree/master/lab06

Lab06 (which is now lab07) for MCB32 utilizes Reading Google Sheets from Datahub but it asking for authentication. We have the backup of saving the class data as a csv if needed since the lab is going live in a couple of days.

<img width="1069" alt="lab07error" src="https://user-images.githubusercontent.com/31870915/96056812-63324e80-0e3c-11

[2020-10-15 05:44] blulightspecial commented on #1899
Just had another MIDS student raise this issue on slack.

[2020-10-15 06:07] ericvd-ucb commented on #1899
Someone just reported this via DS-infrastructure email as well.

[2020-10-15 06:24] blulightspecial commented on #1899
@ericvd-ucb it is likely that MIDS student. I directed them to reach out via email.

[2020-10-15 15:59] connorbybee commented on #1890
Great! I didn't notice bash wasn't default.

[2020-10-15 17:10] alleanna commented on #1902
<img width="868" alt="lab07_full" src="https://user-images.githubusercontent.com/31870915/96163307-98877c80-0ece-11eb-9716-5fcd47846461.png">

[2020-10-15 17:13] alleanna commented on #1902
I'm not sure if this helps but I know gspread updated the import syntax I changed

from gspread_pandas.client import Spread to
from gspread_pandas.spread import Spread

[2020-10-15 17:33] cdbeon commented on #1899
@felder I've had 3 more cases since then

[2020-10-15 17:34] felder commented on #1899
@cdbeon any word on how to reproduce?

[2020-10-15 17:40] cdbeon commented on #1899
@felder Not yet; I've been trying to ask students what they've been doing in their previous session(s), but I've had a mix of cases where students have been clearing the environment / using RStudios normally and those who have been overloading their global environment. All of them were doing the same thing -- working on the previous week's lab -- which is pretty uniform and shouldn't cause any pro

[2020-10-15 17:41] felder commented on #1899
@cdbeon ok thank you!

[2020-10-15 19:04] connorbybee commented on #1885
Thanks for this!

Instead of ArithmeticCompress, is it possible to have the compress program installed. It is a a standard unix compression tool used with tar.

[2020-10-15 21:44] #1890 closed

[2020-10-15 22:32] felder commented on #1899
Ok so I've been playing around with this issue using docker on my workstation so that I have more debugging capability.  Additionally I grabbed the entire home directory from a student who had previously experienced this issue.

Here's what I discovered so far:

1.  Merely copying just the .rstudio directory of a person experiencing this is enough to reproduce the issue.  None of the other student

[2020-10-15 22:46] felder commented on #1899
Relevant commands:

`docker exec --privileged -it --user=root ${CONTAINERID} /bin/bash --login`
`strace -f -e 'trace=!clock_gettime,gettimeofday,futex,timerfd_settime,epoll_wait,epoll_ctl' -p ${PID}`

[2020-10-15 23:20] ericvd-ucb opened #1903 "Request python package habanero for class Data 195A"
**Which package do you want installed?**
habanero

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub
**Which class will use this package?**
Data h195A and others ( its a library module)
Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.
cant find it
**Which semest

[2020-10-16 09:03] yuvipanda commented on #1902
Ah, this looks like an issue in the module code. https://github.com/ds-modules/MCB-32/pull/16 seems to fix it. Try it out?

[2020-10-16 10:52] #1902 closed

[2020-10-17 13:17] yuvipanda commented on #1890
Thanks for opening this, @connorbybee!

#1908 should set this to bash for all hubs...

[2020-10-19 13:43] yuvipanda commented on #1899
@felder wow, that's awesome debugging work! Thank you <3

In the meantime, I think we can just remove (or rename) all files in .rstudio that match this description on our NFS server. What do you think?

[2020-10-19 16:07] felder commented on #1899
@yuvipanda i have no idea what that the result of doing that would be especially on active sessions or others not currently experiencing the issue.  However, would it be possible to rig a url that provides a button that deletes these files (or renames .rstudio) when pushed?

[2020-10-19 18:38] yuvipanda commented on #1899
@felder looks like removing ~/.rstudio should be safe in our context - https://support.rstudio.com/hc/en-us/articles/218730228-Resetting-a-user-s-state-on-RStudio-Server.

I don't think it's quite possible to write a url for this, unfortunately. Users can visit classic notebook via https://r.datahub.berkeley.edu/hub/user-redirect/tree and maybe do it from there.

But, I think the right thing to do

[2020-10-19 19:33] #1903 closed

[2020-10-19 19:34] felder commented on #1885
compress (and uncompress) have installed.

[2020-10-19 19:34] #1885 closed

[2020-10-19 20:21] connorbybee opened #1912 "Shared files for BioE131"
The BioE131 course is using biology.datahub.berkeley.edu for genome assembly and alignment.

Is it possible to have a shared drive added for large files (~1-10 GBs)? The students would need to have read rights and the instructors would have write access.

Thanks.

[2020-10-19 23:37] felder commented on #1899
@yuvipanda My belief is at this time is that this may be caused by the fact that datahub and r hub both use the same filesystem but have completely different versions of R as well as different versions of various R libraries.  For example in addition to using R 4.0.2, datahub uses the system packaged texlive libs.  R hub uses texlive libs installed via tlmgr.

I do not believe simply deleting .rst

[2020-10-20 02:39] ryanlovett commented on #1899
@felder This makes a lot of sense! Can any of the recent reporters confirm that they've used R on both hubs recently? Can you reproduce if you open and close RStudio on one hub then open it on the other? Or if you run RStudio simultaneously on both?

Its not obvious we can configure the path to ~/.rstudio/ in a given user environment. We could do something hacky^Wclever and bind mount it elsewhere

[2020-10-20 02:52] cdbeon commented on #1899
We've only been using r.datahub.berkeley.edu for our class!

[2020-10-20 02:54] felder commented on #1899
@ryanlovett I tried to reproduce by flipping back and forth between hubs with rstudio open, but could not.  However, I don’t really have any code running and I did not do a lot of switching.  Also, I did not try a combination of doing things like killing pods and starting new pods up.

@lytello @cdbeon  do you know if any of your students that had this issue used rstudio in multiple hubs such as d

[2020-10-20 02:56] felder commented on #1899
@cdbeon any idea if any of your students may have other classes that use rstudio via datahub?

[2020-10-20 06:06] ericvd-ucb commented on #1899
@d-alex-hughes @blulightspecial @lytello @cdbeon   I just wanted to comment on communications here - @Felder is working mighty hard to try to troubleshoot this one but its taking some time.  For now there is a workaround mentioned above

We would love to get your help to communicate on this  - could you please communicate out to your classes ...  and for now save the ds-infrastructure email for in

[2020-10-20 06:17] d-alex-hughes commented on #1899
I have switched between r.datahub and datahub instances pretty frequently, invoking rstudio instances from the main datahub by editing url, and haven't ever generated the error that triggered this round.

Generally, wiping the state space of anyone's instance at logout/timeout/spindown is consistent with practices in the community.

https://mobile.twitter.com/hadleywickham/status/10326659597341081

[2020-10-21 17:59] ipietri commented on #1899
@felder - Today I ran into the issue described here https://github.com/berkeley-dsep-infra/datahub/issues/1899#issuecomment-706386592

[2020-10-21 18:06] felder commented on #1899
@ipietri Any chance you can reproduce this by doing the same thing you were doing before the error occurred?

[2020-10-21 18:11] felder commented on #1899
@d-alex-hughes yeah that's definitely a solution under consideration.  However, if we go that route we need to do our best to communicate to students that they need to make sure they save their notebooks prior to logging off.

Additionally, if a student loses network connectivity and during that time their pod dies, they may also lose work.

[2020-10-21 18:46] ipietri commented on #1899
Hi,
I wasn't doing anything really. It just happened when I tried to open the
datahub in the morning today.
I implemented the suggested solution (below) and is working now.
1. Go to https://r.datahub.berkeley.edu/user-redirect/tree
2. Click New->Terminal
3. In the terminal, type: mv .rstudio .rstudio.$(date +%s) and press return
4. Try to launch rstudio as…

On Wed, Oct 21, 2020 at 11:06 AM felder

[2020-10-21 18:47] felder commented on #1899
@ipietri datahub or r hub, also do you ever switch back and forth while using rstudio?

[2020-10-21 19:06] ipietri commented on #1899
When I say datahub I mean this link (
https://r.datahub.berkeley.edu/user/isabelgarpietri/rstudio/), where I get
access to RStudio.
What do you mean If I switch back and forth? Like if I stop working there
and then come back? If that is your question, yes I do that.

On Wed, Oct 21, 2020 at 11:48 AM felder <notifications@github.com> wrote:

[2020-10-21 20:54] felder commented on #1899
@ipietri there are multiple hubs...  https://r.datahub.berkeley.edu, https://datahub.berkeley.edu, https://data100.datahub.berkeley.edu, etc

Each hub has different configurations to serve different classes and use cases.  Some students may be in multiple classes that utilize different hubs.  It's possible to run rstudio in more than one.

[2020-10-24 06:08] matteociccozzi opened #1920 "Request python package cvxpy for class EECS127"
**Which package do you want installed?**
cvxpy

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub

**Which class will use this package?**
EECS127/227a

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.
https://inst.eecs.berkeley.edu/~ee127/fa20/

**Which semester

[2020-10-24 09:24] yuvipanda commented on #1920
hey!

For EECS classes, we're encouraging folks to use eecs.datahub.berkeley.edu. It does have cvxpy - can you try that out?

[2020-10-24 16:31] lytello opened #1921 "Request R packages kableExtra, plotly, ggthemes, formattable for PH 290W: R for Public Health"
**Which package do you want installed?**

1. kableExtra
2. plotly
3.  ggthemes
4. formattable

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

r.datahub

**Which class will use this package?**

Public Health 290W: R for Public Health

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class na

[2020-10-24 19:29] cdbeon commented on #1899
Hello! Sorry for the delay in my response, been a hectic week.

Eric reached out to me via email, and I thought pasting my responses to his email would help:

1) How common is this - like 1 in 100, 10 in 100 - how many students are facing this?

2) Are people using the URL datahub.berkeley.edu or r.datahub.berkeley,edu

3) Does the fix proposed in 1899 work , or does the problem recur

4) The prop

[2020-10-30 03:23] matteociccozzi commented on #1920
Worked just fine thank you! I need to make a package request for eecs.datahub.berkeley.edu, can I do that here or is there another page?

[2020-10-30 04:17] matteociccozzi opened #1936 "Request python package sklearn for class EECS127"
Which package do you want installed?
sklearn

Which hub do you want it installed on? For example r.datahub, datahub, data100.datahub, etc.
eecs.datahub

Which class will use this package?
EECS127/227a

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.
https://inst.eecs.berkeley.edu/~ee127/fa20/

Which semester will th

[2020-10-30 05:48] yuvipanda commented on #1920
@matteociccozzi opening up #1936 is good! Thanks :)

[2020-10-30 05:48] #1920 closed

[2020-10-30 05:48] yuvipanda commented on #1936
Thanks for opening this, @matteociccozzi! Do you think you can make a pull request to https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/eecs/image/requirements.txt? That should help get this going faster. Thanks!

[2020-11-02 07:08] yuvipanda commented on #1936
Thanks a lot for the PR and debugging it, @matteociccozzi!

[2020-11-02 07:08] #1936 closed

[2020-11-03 14:58] yuvipanda commented on #1921
There were a bunch of issues in getting this through, but all good now @lytello! Apologies for the delayed close.

[2020-11-03 15:48] lytello commented on #1921
Thank you for your hard work!! @yuvipanda @felder

[2020-11-03 21:30] lytello commented on #1921
@yuvipanda Sorry to bring this back up, is it possible to get the newest version of kableExtra (I believe it's 1.3.1)? I'm not sure if that was related to the issues you were experiencing.

[2020-11-04 09:36] yuvipanda commented on #1921
@lytello yeah, that was part of the issue - see description in #1926.

We can try get that fixed though.

[2020-11-05 05:55] brooksambrose opened #1942 "Request R package pdftools, imager for D-Lab CTAWG"
**Which package do you want installed?**

`pdftools` with dependency poppler
`imager` with dependency X11

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

r.datahub

**Which class will use this package?**

[D-Lab Computational Text Analysis Working Group](https://dlab.berkeley.edu/working-groups/computational-text-analysis-working-group-ctawg)

**

[2020-11-06 23:36] #1942 closed

[2020-11-06 23:40] sideye opened #1945 "Update admin hub IDs on 8X hub"
Since we launched a new 8X course a couple months ago, the 8X staff's hub IDs from the new course have not been updated to be admins on the 8X hub. Making a thread below for @kvah @acaprau @ebaccay @varunmittal35 @fqzbdkh @kylemoto10 to comment their new hub IDs to become admin.

Current config is [here](https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/data8x/config/common.y

[2020-11-06 23:50] sideye commented on #1945
Please remove hub IDs of: samwu101, rroggenkemper, sauravmittal, yanay1, and manikui.

Thanks!

[2020-11-06 23:57] kvah commented on #1945
New IDS:
8.1: 57b8a1f4446a2474d577d50974e84300
8.2: 6404bc6a535a3d6de2d8823d83fd885f
8.3 ebe13f9ff075abd51b82dba85c084d94

Remove IDS:
4da3ae20c3f95786fce26c8b92d37a60
ba2c4ab02e0a25755ce903d5c376b7e2
64b9b0b2fde14942b20fe960002b38d9

[2020-11-07 00:07] sideye opened #1946 "Update gofer-submit nbextension on 8xhub"
We recently updated the `gofer-submit` nbextension to remove the 8x-audit option from the drop down, since auditing students no longer utilize this feature to receive their grades. See the (short) PR [here](https://github.com/data-8/gofer_submit/pull/2).

@felder Can the nbextension be updated on the 8X hub to reflect these changes?

[2020-11-07 00:10] fqzbdkh commented on #1945
New IDS:
8.1: 74b327432e5eb255cadf6d529101bf57
8.2: 87fba502e86ba163fe873ab00129e1ef
8.3: edc57c2ad1449d9b188d9edea333285a

Remove IDS:
461ee9f934be0a3079ba12ecc066939b
780e0c299d28f5ab0d505ec8dfffd898
ccd399c54550718cafa19b4a2e230bfc

[2020-11-07 00:17] sideye commented on #1945
New IDs:
800142d00c6dfd324853601777917b7a
7e42c2210de51307336bad6ecd3698fb
7af8a4b560d265c438354cb0b667e9fa

Remove IDs:
574b83d902c693a3ebe45fac88e498e8
dab2902831a95eb786a1f52b14717b38
2003753d84d84db85790fa8de0739eb4

[2020-11-07 00:26] felder commented on #1946
@sideye Can you guys update the pypi package here?  https://pypi.org/project/gofer-submit/

Once you’ve released the new package there, i can bump the version in the requirements.txt:
https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/data8x/image/requirements.txt

Then pip will install it.

[2020-11-07 00:27] sideye commented on #1946
@Yanay1

[2020-11-07 00:56] yuvipanda commented on #1942
@brooksambrose done now with #1943! In the future, do you think you'll be able to make PRs like these yourself? Happy to review and merge :)

And welcome!!! <3

[2020-11-07 22:18] kylemoto10 commented on #1945
New IDs:
ab46420586cb463f422b19ee8747668c
2742155a6983300ca2feccf471debd4d
31a437b2bcf068a60c89badfb1a2e563

Remove IDs:
413fff9cb76c471fa0ccb32d7d08ace6
148bc397ac774e18a846abdb54ee2e1a
9e3318ad6da44461990e1d4e3a64986f

[2020-11-07 23:27] sideye commented on #1946
@felder the PyPi package has been updated to v0.4 [here](https://pypi.org/project/gofer-submit/0.4/).

[2020-11-09 06:45] yuvipanda commented on #1946
@sideye should be done in https://github.com/berkeley-dsep-infra/datahub/pull/1949. In the future, you can also just open a PR like that - should make bumps like these much faster!

[2020-11-09 06:54] #1946 closed

[2020-11-09 07:13] yuvipanda commented on #1354
Our user loads are too unpredictable to use e2 with - if you don't get sustained discounts, e2 is *more* expensive than n1. So I'm moving gamma user nodes back to n1. Our e2 discounts can continue to be applied to our core nodes, which aren't as dynamic.

[2020-11-09 08:48] yuvipanda commented on #1725
Sorry about how long this has taken! https://github.com/berkeley-dsep-infra/datahub/pull/1951 is ready to test to fix this. Let's set up a time (ideally early morning?) and test this out?

[2020-11-09 18:35] sideye commented on #1946
Thank you @yuvipanda and @felder !

[2020-11-09 20:38] acaprau commented on #1945
New IDs:
945f24a55351f54e990f58b4aec45f23
29d3b143997d6101d61be6debe9ce0a7
f6e1c4e320f7032bed5f79432893d562

Remove IDs:
0e7433ca5642cb41432e49f5353feaed
81da7e07167fc27429baf36e4a71ea78
e3ec379e8ca696ea7e815f667189942a

[2020-11-11 18:11] lytello opened #1954 "Student unable to open any .rmd files (r.datahub)"
After performing the fix described in  #1899 the student no longer can open .Rmd files. I haven't seen this error before and unsure of the fix. Sharing user with @felder

[2020-11-12 18:16] felder commented on #1954
@lytello I switched to the user in question and opened up the .Rmd file for problem set.  I experienced no issue doing so.

I also see no way that the fix described in #1899 should impact a students' ability to open all .Rmd files.

Can you please provide me with steps to follow to reproduce this for the student in question?

[2020-11-12 18:38] lytello commented on #1954
The problem seems to have resolved itself. Strange!

[2020-11-12 18:38] #1954 closed

[2020-11-12 19:12] felder commented on #1945
Made changes for the 5 people that supplied new ids.

[2020-11-17 10:57] yuvipanda opened #1965 "Remove undergrad admins from hubs"
Currently, we provide 'admin' access to:

1. Infrastructure staff (me, @felder, etc)
2. CDSS staff (@ericvd-ucb, @chrispyles, etc)
3. Instructors for courses
4. Graduate Student Instructors (GSI) for courses
5. Undergraduate Student Instructors (UGSI) for courses

(5) is problematic, since this means undergrads can potentially see the homedirectories / work of other undergrads. For example, a stud

[2020-11-17 10:57] yuvipanda commented on #1965
This should also help us eliminate the few course specific hubs we have - data102, data100, prob140.

[2020-11-19 17:33] yuvipanda commented on #1965
We should get buy-in from the course staff of the big hubs - data8, data100, data102, prob140, etc.

[2020-11-22 03:45] surajrampure opened #1981 "Request python package ipycanvas for class Data 94 (new class in sp21)"
I'd like to have ipycanvas installed on datahub.berkeley.edu for Data 94, a new class I'm teaching in sp21.

When I run `!pip install ipycanvas` in the hub, my ipycanvas code runs but no output is produced, unlike when I run things locally. I've provided screenshots for reference.

Local:
<img width="588" alt="Screen Shot 2020-11-21 at 10 41 01 PM" src="https://user-images.githubusercontent.com/10

[2020-11-24 06:11] yuvipanda opened #1993 "Collect RED metrics for user notebooks in Prometheus"
Jupyter Notebooks expose [RED metrics](https://www.weave.works/blog/the-red-method-key-metrics-for-microservices-architecture/), and we should collect them. This makes life easier in many ways, particularly in monitoring save slowness reported by many folks.

Ref https://github.com/berkeley-dsep-infra/datahub/pull/1964, https://github.com/berkeley-dsep-infra/datahub/pull/1969, https://github.com/b

[2020-11-24 07:41] #1981 closed

[2020-11-25 08:27] yuvipanda commented on #1981
Should be done now, @surajrampure!

[2020-11-25 19:14] surajrampure commented on #1981
Looks like it works perfectly. Thanks everyone!

[2020-11-28 08:04] yuvipanda opened #1994 "Investigate disk usage of 'others' home directories"
Today, the disk containing homedirs for biology, eecs, prob140, etc hubs became full - bringing down a few hubs.

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/30430/100496958-4ba9ed80-317e-11eb-8e71-562361b1effb.png">

I fixed it by increasing disk size to 4T. But, need to investigate what happened and how we can work with it.

[2020-11-28 08:04] yuvipanda commented on #1994
#1912  might be related.

[2020-12-01 03:50] cboettig opened #1997 "Request R package "archive" for ESPM-157"
https://github.com/jimhester/archive package requires the libarchive-dev package be installed by apt-get first.

[2020-12-01 06:21] #1997 closed

[2020-12-07 11:46] yuvipanda opened #2002 "Spring 2021 cleanup tasks"
List of things to do before Spring 2021 classes start.

- [ ] Update all packages & libraries to newer versions. Particularly, move all base dockerfiles to Ubuntu 20.04 from 18.04
- [x] Decide on an R / RStudio story for datahub, and implement it
- [x] Roll out home page to all hubs
- [ ] Archive unused home directories of users, per archival policy
- [ ] Setup per-hub XFS quotas, so we don't acci

[2020-12-07 17:10] ryanlovett commented on #2002
How about removing the dependencies of old courses?

[2020-12-10 15:37] yuvipanda opened #2008 "Consider providing one hub per class"
In discussion with @a-adhikari about #1965, she pointed out a very useful parallel.

This makes sense from an organizational & UX perspective. It helps sidestep a number of issues:

1. Only people who are enrolled for that term in that class (via bcourses) get access to the hub for that particular class. We could possibly also determine admin access from this, although it isn't necessary.
2. Home

[2020-12-14 07:59] yuvipanda commented on #2002
For R, I have a slightly different proposal.

1. Integrate current datahub & R hub images, making sure everything in the R image is in the base datahub image.
2. Use the same image for both hubs.

This should help reduce the maintenance burden of two separate images. It will also support users who mix R & python libraries in their code a lot, a [common pattern](https://rstudio.github.io/reticulate

[2020-12-14 08:10] yuvipanda commented on #2002
Based on https://utcc.utoronto.ca/~cks/space/blog/linux/NFSReadonlyAtime, I've now actually remounted our XFS mounts to have `noatime,nodiratime` explicitly.

[code]

`sudo mount -o remount` worked fine. Let's see how this affects our stats in http://grafana.datahub.berkeley.edu/d/j2uCW9vGz/nfs-stats?orgId=1&refresh=30s

[2020-12-14 17:44] ryanlovett commented on #2002
Wow, that's a big change!

[2020-12-15 08:18] yuvipanda commented on #2002
This is just an image change no?

[2020-12-15 08:39] ryanlovett commented on #2002
It sounds like you want to combine the R and datahub images (essentially obviating r.datahub) whereas before there were plans on removing R from the datahub image.

[2020-12-15 08:43] yuvipanda commented on #2002
@ryanlovett yeah. I had forgotten the use case of folks mixing python & R in the same code, and I think we should support that. It's also simpler for them to share an image than have to maintain two different images, so that reduces the load on us too.

[2020-12-18 13:37] choldgraf commented on #2008
I think this question comes down to: is it less work in the short/long-term (both for dev and maintenance) to build functionality to serve *multiple* groups of people in *one* hub, vs. to make it easier to deploy/customize *multiple hubs* with potential connections between them. I think it'll require either re-working a lot of how hubs are structured, or it'll require building new technology to ma

[2020-12-19 02:04] ligon opened #2013 "Request more ram for datahub instances for students in ENVECON153"
ENVECON153 (EEP153) has an enrollment of about 50 students; part of the plan involves analysis of datasets which are too big for the default provisioning.

Experiments suggest that if instances had 4GB of ram that would be adequate.

[2020-12-22 18:30] felder opened #2018 "deploy-support workflow not working"
[code]

[2020-12-22 18:39] felder commented on #2018
@yuvipanda I merged changes to staging for issue #2013 which AFAIK should not be related to this issue.  While it would probably be ok to do so, I did not want to merge those changes into prod with this happening.

If you think it's ok to do or have a fix for this issue, please feel free to merge my changes.

[2020-12-22 18:42] ryanlovett commented on #2018
I think the grafana helm chart moved to https://grafana.github.io/helm-charts. (https://github.com/grafana/helm-charts)

[2020-12-22 18:52] felder commented on #2018
@ryanlovett thanks!  I'll see if merely changing the repo in the configs is enough to make this go.

[2020-12-22 19:07] felder commented on #2018
That seems to have done the trick!

[2020-12-22 19:07] #2018 closed

[2020-12-22 19:10] felder commented on #2013
This change is on its way to prod.

[2020-12-22 19:10] #2013 closed

[2020-12-26 23:56] matthew-brett opened #2021 "DataHub GCE configuration when using GCE?"
We are just thinking of setting up a pilot for a bigger JupyterHub deployment on GCE. It would really help to know exactly what the Berkeley DataHub setup uses, when it is using GCE. I mean

 * What GCE machine type for the default nodes?
 * How many machines for the default nodes?
 * What GCE machine type for the user-pool nodes?

Would you mind sharing that, so we can replicate your setup?

@cho

[2020-12-27 05:22] ryanlovett commented on #2021
This is documented at https://docs.datahub.berkeley.edu/en/latest/admins/cluster-config.html?highlight=gke#kubernetes-cluster-configuration.

[2020-12-27 21:19] keithjohnson-berkeley opened #2022 "500: Internal Server Error - on Canvas login"
datahub became unresponsive in browser (Firefox).

I got this error on opening in a different window and authorizing via Canvas

It looks like this was an issue in April of this year, but was resolved?  I removed cookies, and switched to a different browser (Chrome) but neither move resolved the problem.

thanks & happy holidays.

[2020-12-27 22:32] jessiiicamae commented on #2022
Hi I am also having this issue in Chrome and Safari, how do I fix this?

[2020-12-28 06:05] warrenbaim commented on #2022
Same.

[2020-12-28 06:10] ryanlovett commented on #2022
From the hub logs:
[code]

[2020-12-28 06:18] ryanlovett commented on #2022
/srv/jupyterhub/ was full so I compressed one of its old log files. There is about 5GB free.

datahub should be working again.

[2020-12-28 06:18] #2022 closed

[2020-12-28 06:23] keithjohnson-berkeley commented on #2022
thank you!

[2020-12-28 06:44] warrenbaim commented on #2022
Thank you!

[2020-12-28 11:55] matthew-brett commented on #2021
Thanks!  Sorry that I missed that...

[2020-12-28 11:55] #2021 closed

[2020-12-29 09:42] yuvipanda commented on #2022
Thanks for taking care of this, @ryanlovett.

[2020-12-29 17:36] matthew-brett opened #2023 "Clarification on cost of regional GKE cluster"
In <https://docs.datahub.berkeley.edu/en/latest/admins/cluster-config.html> you have:

I think that's incorrect - at least if the JupyterHub cluster is your only cluster - because GKE offers [one free zonal cluster](https://cloud.google.com/kubernetes-engine/pricing#pricing_for_cluster_management), but you pay \$0.10 per hour for a regional cluster.

[2020-12-30 04:16] yuvipanda commented on #2023
Ah, yes - they had [changed that](https://cloud.google.com/kubernetes-engine/pricing) a few months ago. Will update docs :)

[2020-12-30 04:17] yuvipanda commented on #2021
@matthew-brett I'd also suggest looking at https://github.com/2i2c-org/pilot-hubs/tree/master/terraform

[2020-12-30 13:32] matthew-brett opened #2024 "`ubuntu` container type necessary of GKE"
Is it still true that you need `ubuntu` operating system containers for GKE, in order to enable NFS?

https://docs.datahub.berkeley.edu/en/latest/admins/cluster-config.html#ubuntu-operating-system

I've been using NFS with the default images for a while without problems.

[2021-01-05 06:16] yuvipanda opened #2029 "Upgrade to JupyterLab 3.0"
JupyterLab 3.0 allows extensions to be distributed as PyPI packages, instead of requiring npm. We should switch to it ASAP!

The following lab extensions block this migration:
- [ ] [plotly](https://github.com/plotly/plotly.py/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc)
- [ ] [jupyterlab-geojson](https://github.com/jupyterlab/jupyter-renderers/issues/232)
- [ ] JupyterLab VideoChat

[2021-01-05 09:15] yuvipanda commented on #2024
ah, the containeros images used to not have the NFS module turned on. Maybe that has changed! If so, I'll try to evaluate and change our own setup.

[2021-01-07 01:45] ryanlovett opened #2032 "R user-installed package location, documentation"
@paciorek relayed to me:

He uses R on datahub and R is configured to install packages into ~/R/ by default.

[1] "/home/jovyan/R/x86_64-pc-linux-gnu-library/3.4"
[2] "/usr/local/lib/R/site-library"
[3] "/usr/lib/R/site-library"
[4] "/usr/lib/R/library"

Since datahub will be getting more R support, the [default path](https://stat.ethz.ch/R-manual/R-devel/library/base/html/libPaths.html) where use

[2021-01-07 23:47] ericvd-ucb opened #2033 "adding a Chemistry section to Data 100"
Spring 21 - College of Chemistry - small grad section of Data 100

There is a Chemistry grad class that will be teaching Data 100 - this is via a conversation with Deb Nolan.  There are something like 10 students plus instructor and GSI s.  I was advocating that we add them to Data 100. I will have a conversation with them soon, in case we need to add someone as admin will get their name.  Not sur

[2021-01-08 05:13] yuvipanda commented on #2033
It should be fine, as long as nobody who needs to be admin on data100 hub is also taking data100.

[2021-01-09 08:28] cy5266 opened #2037 "Kernel Error"
Hey! I tried running the Data 8 labs from summer, and there's a Kernel Error. Restarting neither the Kernel or my laptop solved the issue, is there any way to fix this?
If it helps, the TypeError is "_kernel_spec_manager_changed() takes 1 positional argument but 2 were given". Thank you!

[2021-01-09 09:55] yuvipanda commented on #2037
@cy5266 Can you provide a link to the notebook you used?

[2021-01-09 10:26] cy5266 commented on #2037
https://datahub.berkeley.edu/user/cindycy/notebooks/materials-su20/materials/su20/hw/hw04/hw04.ipynb

Here is the jupyter notebook I was trying to run! However, the kernel also
shows an error for the other data 8 notebooks.

Thank you!

On Sat, Jan 9, 2021 at 5:55 PM Yuvi Panda <notifications@github.com> wrote:

[2021-01-09 10:27] yuvipanda commented on #2037
Yep, looking into it now!

[2021-01-09 10:30] cy5266 commented on #2037
Thank you!

Yuvi Panda <notifications@github.com>于2021年1月9日 周六下午6:27写道：

[2021-01-09 10:37] yuvipanda commented on #2037
@cy5266 try now? You might have to start & stop your server

[2021-01-09 10:44] cy5266 commented on #2037
Hey!

It still doesn't work, unfortunately. What should I do now?

Thank you!

Best,
Cindy

On Sat, Jan 9, 2021 at 6:37 PM Yuvi Panda <notifications@github.com> wrote:

[2021-01-09 11:01] yuvipanda commented on #2037
@cy5266 can you try stopping and starting your server? I see that yours has been up since before the fix was deployed

[2021-01-09 11:05] cy5266 commented on #2037
Just to make sure, by stopping and starting my server, do you mean
restarting my kernel? Restarting my kernel isn't working. Is there another
way to start it again?

Thank you!

On Sat, Jan 9, 2021 at 7:01 PM Yuvi Panda <notifications@github.com> wrote:

[2021-01-09 12:47] yuvipanda commented on #2037
Ah, if you go to the 'Control Panel', it will give you options for this. You can also access it with https://datahub.berkeley.edu/hub/home

[2021-01-09 19:24] tomasleon opened #2040 "Request R packages ggmap, tmap, rgdal, rgeos for PHW 272A Spring 2021"
**Which package do you want installed?**

ggmap (3.0.0)
tmap (3.2)
rgdal (1.5-19)
rgeos (0.5-5)

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

r.datahub

**Which class will use this package?**

PHW 272A (Spring 2021) [Introduction to GIS for Public Health]

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not

[2021-01-10 10:47] cy5266 commented on #2037
It works now, thank you so much for your help!

On Sat, Jan 9, 2021 at 8:48 PM Yuvi Panda <notifications@github.com> wrote:

[2021-01-10 13:38] yuvipanda commented on #2037
yw! Sorry about the disruption, @cy5266!

[2021-01-10 13:38] #2037 closed

[2021-01-12 01:08] terry-regier opened #2045 "Requesting datahub access for Linguistics 243, Spring 2021"
I'm writing to request access to datahub.berkeley.edu for students and instructor in Linguistics 243, Spring 2021.  Instructor (that's me) will need administrator access so I can look at and run my students' code in the environment in which they developed it.   Terry Regier, terry.regier@berkeley.edu

[2021-01-12 18:44] felder commented on #2045
Done!

[2021-01-12 18:44] #2045 closed

[2021-01-14 01:20] ryanlovett opened #2062 "Update new-hub.rst and cookiecutter template"
I deployed stat159-staging today by following the new-hub docs and came across some items there and in the cookiecutter template that I think should be updated. I'll patch everything if there's no other comments:

1. The cookiecutter template suggests "dns-valid-hub-name" as a value for "hub_name". It really means the short hostname (the name before the first dot), and not the fqdn or "dns-valid".

[2021-01-14 23:24] felder commented on #2062
@ryanlovett Miles is ok with me updating the list myself.  So generally speaking, just ask me and I'll make the change.  In the event I'm not available, then send the email to bcourseshelp@berkeley.edu

[2021-01-15 17:58] ericvd-ucb commented on #2008
The threshold could also be when a class requires undergrads as admins then a new hub is advised.  Could be a useful dividing line to start with.

[2021-01-15 21:55] ryanlovett opened #2080 "Current datascience can't be imported"
I was testing prob140 import and that pulls in datascience, however that errors when calling matplotlib.
[code]

I think this was fixed in [datascience 0.15.8](https://github.com/data-8/datascience/blob/master/CHANGELOG.md#v0158). I was able to `!pip install datascience` which pulls in 0.17.0 and that can be imported without trouble. We should update to 0.17.0 -- it looks like datascience uses sem

[2021-01-16 00:03] #2080 closed

[2021-01-16 14:47] kareemelbadry opened #2083 "4 GB memory for students in Astr 128 and 256"
Hi all,

We'd like to request 4 GB of memory for students in Astro data lab (Astr 128 for undergrads, Astr 256 for grads). There are roughly 28 undergrads and 8 grads, give or take a few who might still add or drop the class. We've done this successfully the last couple years.

[2021-01-17 08:29] yuvipanda commented on #1725
This was done!

[2021-01-17 08:29] #1725 closed

[2021-01-18 22:17] lucasadam7 opened #2095 "Stat 20 DataHub"
I don't seem to be allowed to install the package tidyverse in my R in the cloud session using install_packages("tidyverse"). Can you help me with this issue?

[2021-01-19 04:49] yuvipanda commented on #2095
Hello @lucasadam7. tidyverse should already be installed. Can you tell us the URL of the hub you are using. If there is a separate stat20 hub, i don't think we maintain this

[2021-01-19 05:37] lucasadam7 commented on #2095
Hi, thanks for your response. The url is https://r.datahub.berkeley.edu/user/alucas/rstudio/ <https://r.datahub.berkeley.edu/user/alucas/rstudio/>

Tidyverse isn’t on the list of installed packages and I get an error when I try and install it.

thank you,
Adam

[2021-01-19 12:58] yuvipanda commented on #2095
@lucasadam7 ah, looks like there was an `.RData` file from an earlier session that was interfering with fresh loading of packages. I've moved it to `.RData.bak` (in case it is needed), and I can now access `tidyverse` properly. LMK if that works for you too!

[2021-01-19 17:33] yuvipanda opened #2099 "Shiny doesn't work anymore"
If you open 'Shiny' in any of the hubs, it just logs you out of the hub and puts you back on the home page! It's probably something to do with how auth is handled in Shiny, and perhaps that changed with newer versions of the hub?

[2021-01-19 19:53] ryanlovett commented on #2032
This was fixed by @yuvipanda. Packages are now installed into /opt/r and have the same persistence as those in /opt/conda. The library path no longer contains ~/R/.

[2021-01-19 19:53] #2032 closed

[2021-01-19 23:32] #2040 closed

[2021-01-20 07:14] bwhite-unc opened #2106 "Managing conda environments on the Datahub"
I am instructor for a CivEng203N, Graduate Hydrology and am planning to use the datahub. I'm wondering about best practices for creating conda environments. Ideally I would like to create my own environment.yml file for the class. We will be using primarily geoscience packages like xarray, Dask and rasterio. Thanks!

[2021-01-20 14:41] tomasleon commented on #2040
Thank you!

[2021-01-21 13:07] yuvipanda commented on #2106
Hello @bwhite-unc! Currently, we don't support multiple conda environments in a single image. The 'default' image in datahub.berkeley.edu is built from https://github.com/berkeley-dsep-infra/datahub/tree/staging/deployments/datahub/images/default. I think datashub.berkeley.edu should already have xarray, dask and rasterio. If not, I"d love for a PR to add them - that'll make it easier to get this

[2021-01-21 13:10] yuvipanda commented on #1921
I think this was fixed.

[2021-01-21 13:10] #1921 closed

[2021-01-21 13:12] yuvipanda commented on #1899
With #2035, we have separate `.rstudio` directories in home for datahub & r hub, but using the exact same image. This should help *if* the problem is two different R / rstudio versions sharing the same .rstudio file was the cause.

The other option to explore is to see if RStudio is being given a proper opportunity to shut down cleanly by jupyter-rsession-proxy, or if it is being killed straight u

[2021-01-21 13:12] yuvipanda commented on #1505
@Quizenger yeah, you can just open a PR when you need to.

Am *very* glad this worked out!

[2021-01-21 13:12] #1505 closed

[2021-01-21 13:29] yuvipanda opened #2107 "Empty notebooks submitted to okpy / otter"
For a while, there have been problems where okpy's [submit notebook](https://github.com/okpy/ok-client/blob/0f49d2a55bd87ad564f7a63f6ad6058aae69d347/client/api/notebook.py#L68-L77) functionality was saving blank notebooks. Just before submitting, it [injects some JS to save the notebook](https://github.com/okpy/ok-client/blob/0f49d2a55bd87ad564f7a63f6ad6058aae69d347/client/api/notebook.py#L105). B

[2021-01-21 13:30] yuvipanda commented on #2107
#1746 is related in some form.

[2021-01-21 16:21] aculich opened #2108 "Setup D-Lab customized datahub"
**Use cases**

1. Primarily for workshops taken by graduate students, but also faculty and undergrads and others. D-Lab Workshops: https://dlab.berkeley.edu/training

2. Research project use cases will also use this along with per-user resource customizations and shared writeable user-spaces and shared (read-only) dataset spaces.

**Any additional information we should know about?**

Start with a

[2021-01-21 19:38] bwhite-unc commented on #2106
Thanks Yuvi!  You're right that datahub.berkeley.edu has xarray/dask/rasterio. I did have trouble getting Dask-distributed to work. There are also often other minor packages and dependencies for which the flexibility to add would be helpful. A second issue I have run into wrt Dask is the memory limitation on the base image, which causes several notebooks to crash. I will open an additional comment

[2021-01-21 19:38] #2106 closed

[2021-01-21 19:39] samwu101 commented on #2107
Here's the aforementioned temporary fix (which isn't actually actively retrying but is just waiting longer so that the save will hopefully eventually happen) that @Yanay1 wrote.
[code]

[2021-01-21 19:41] samwu101 commented on #2107
Also, I want to clarify that the notebook isn't actually empty, but rather the submission is empty (i.e. doesn't contain a .ipynb file at all).

[2021-01-25 00:17] bwhite-unc opened #2114 "New datahub for graduate hydrology course (CivEng 203N)"
I am a faculty member teaching a CivEng graduate hydrology course with 12 students this semester and I am wondering if it would be possible for me to create a customized datahub environment for my students. I would like to be able to use Dask with higher memory allocation (to ~100GB) and scaling to ~20-50 dask workers. GPU availability would be ideal if available. I have tried the standard datahub

[2021-01-25 15:13] yuvipanda opened #2116 "New hub for cs194"
The [data engineering class](https://www2.eecs.berkeley.edu/Courses/CS194_4349/) by Joe Hellerstein and Aditya Parameswaran requires a postgres database per user that's persistent. We did the postgres stuff for data100 last time, but it isn't persistent.

So we'll:

- [x] Add OAuth callback entries to bcourses for two hubs: https://cs194-staging.datahub.berkeley.edu and https://cs194.datahub.berke

[2021-01-25 18:15] felder commented on #2116
@yuvipanda Added the callback entries to bcourses.

[2021-01-25 21:39] felder commented on #2062
I too found the cookiecutter hint "dns-valid-hub-name" to be confusing.  I think adding something like "dns-valid-short-name (e.g. datahub, r, or data100)" would be helpful here.

[2021-01-26 02:00] ericvd-ucb opened #2123 "Large dataset / shared directory for EPS 130"
Hi there
EPS 130 looking for a shared directory for a large dataset
I know this is available in the Data 100 hub and has been part of main datahub in the past
Let me know what the current protocol is

[2021-01-26 15:42] aculich commented on #2108
@yuvipanda I'm definitely interested in the postgres sidecar for the D-Lab setup: https://github.com/berkeley-dsep-infra/datahub/pull/2124

[2021-01-26 19:53] fqzbdkh commented on #1795
Hi @felder !

Ashley Zhang just joined the OLS team and need admin access for the 8x hub, can you add her? Her IDs are included below:

8.1x b1b001615f9eb7254387f667569e39fb
8.2x c741d11d7f0bed9930e04276115b1a37
8.3x fd5ad8c476846392d8dfb1765d1a6ac5

Thank you!
- Grace Li

[2021-01-26 21:14] felder commented on #1795
@fqzbdkh Done.  In the future can you open a new issue as opposed to editing a closed one?

[2021-01-26 21:45] felder commented on #2062
cookiecutter template needs to set images.images.path and images.images.name in hubploy.yaml

[2021-01-26 23:00] felder commented on #2062
jupyterhub.auth.type needs to be changed from google to custom to use bcourses auth

[2021-01-27 00:56] felder commented on #2108
dlab.datahub.berkeley.edu is ready for customization, 2G limits specified, datahub base image in use.

[2021-01-27 08:31] yuvipanda opened #2134 "Convert all documentation to markdown"
We use rst in our docs. Markdown is much more accessible, so we should switch to it for all our docs.

We already have [myst markdown](https://myst-parser.readthedocs.io/en/latest/) setup, so we'll just have to do the conversion itself. There are [automated tools](https://pandoc.org/try/) available for it, but would need a manual check after.

[2021-01-27 08:32] yuvipanda commented on #637
This hasn't moved in a while, so I'll close it for now. Let's re-open if we're doing this again :)

[2021-01-27 08:32] #637 closed

[2021-01-27 08:33] yuvipanda commented on #1837
I think this has been sorted out.

[2021-01-27 08:33] #1837 closed

[2021-01-27 08:33] yuvipanda commented on #1699
I think this is done.

[2021-01-27 08:33] #1699 closed

[2021-01-27 08:33] yuvipanda commented on #1401
I don't think pandas-grader is still used.

[2021-01-27 08:33] #1401 closed

[2021-01-27 08:34] yuvipanda commented on #1318
This hasn't happened in a while, so I think we're good. We can re-open if needed.

[2021-01-27 08:34] #1318 closed

[2021-01-27 08:34] yuvipanda commented on #642
This has been done.

[2021-01-27 08:34] #642 closed

[2021-01-27 08:35] yuvipanda commented on #702
@jameskunz are you still interested in doing this?

[2021-01-27 08:35] yuvipanda commented on #707
@paul-laskowski are you still interested in this? Sorry for the late response :D Happy to have you use it! There's also `r.datahub.berkeley.edu` that is probably a good place :)

[2021-01-27 08:36] yuvipanda commented on #534
This has been done. Continuous improvement - like #2062 - is ongoing.

[2021-01-27 08:36] #534 closed

[2021-01-27 08:37] yuvipanda commented on #2095
Me and @ryanlovett helped sort the issue of R packages not being installable. I hope the `.RData` move fixed the issue for you! Please re-open if needed.

[2021-01-27 08:37] #2095 closed

[2021-01-27 08:38] yuvipanda commented on #2029
Thanks, @jasongrout! JupyterLab 3.0 is everywhere now :D

[2021-01-27 08:38] #2029 closed

[2021-01-27 08:39] yuvipanda commented on #1048
This has stopped being as much of an issue since we mostly install R packages from packagemanager.rstudio.com.

[2021-01-27 08:39] #1048 closed

[2021-01-27 18:34] paul-laskowski commented on #707
Hi Yuvi, Good to hear from you!  Our current situation is we are directing
our students to r.datahub.berkeley.edu as the recommended computing
environment for our stats class.  I don't have numbers, but I would guess
that a substantial fraction of students are going this route (maybe 20-50
students).  Most of our assignment notebooks are in private repos, so it
would still be great if there was a

[2021-01-28 03:18] yuvipanda commented on #707
@paul-laskowski great to hear! We added support for private repos recently - check out https://docs.datahub.berkeley.edu/en/latest/users/private-repo.html :) Please tell your colleagues too!

I'm gonna close this issue for now. Please feel free to file new ones if necessary.

Thanks!

[2021-01-28 03:18] #707 closed

[2021-01-29 22:03] cboettig opened #2137 "Request for ESPM-288 allocation"
**Which package do you want installed?**

`rjags`, (which will probably `jags` libs installed via apt-get).

Also, we need student accounts to have at least 8 GB RAM and at least 30 GB disk space.  (We don't have many students this year though so hopefully not too big a footprint?)

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

r.datahub

**Whic

[2021-01-30 02:00] rameshvs opened #2138 "Admin access for Data 102 Spring 2021 datahub staff"
Could you please give admin access to data102.datahub.berkeley.edu for our instructors and GSIs?

Anna Nguyen <anna-nguyen@berkeley.edu>,
Erika Mack <erika.n.mack@berkeley.edu>,
Ewen Dai <yiwendai99@berkeley.edu>,
Ramesh Sridharan <ramesh_s@berkeley.edu>,
Ryan Roggenkemper <rroggenkemper@berkeley.edu>,
Xingyu Jin <xingyu.jin21@berkeley.edu>,
Yan Shuo Tan <yanshuo@berkeley.edu>

[2021-02-02 21:08] #2138 closed

[2021-02-03 20:16] yuvipanda commented on #2137
@cboettig rjags was installed yesterday - apologies for not mentioning it here.

Can you tell us how many students your class has? We try to not go over 4G a student if possible, but if that's what your class needs we can find a way to make it work.

[2021-02-03 20:20] cboettig commented on #2137
~ 12 students

[2021-02-03 20:43] cboettig commented on #2137
we could try and squeeze into 4 (maybe 6) GB for now and let you know how it goes?

[2021-02-04 15:20] yuvipanda commented on #2024
It looks like they work now! https://cloud.google.com/container-optimized-os/docs/release-notes#gci-dev-53-8530-6-0. I'll migrate our nodes.

Thank you, @matthew-brett!

[2021-02-04 17:04] aculich commented on #2108
I can log into staging fine, but I get this error logging into production:

![image](https://user-images.githubusercontent.com/118965/106928221-cf74de80-66c7-11eb-9163-360a34c539cd.png)

[2021-02-04 17:32] #2024 closed

[2021-02-04 18:03] #2137 closed

[2021-02-04 18:04] yuvipanda commented on #2114
Per conversation elsewhere, we're going to just give students 6-8G of RAM for now, and try work with dask later.

@bwhite-unc do you have a link to your class in classes.berkeley.edu? That's what we usually use to grant particular set of students more resources.

[2021-02-04 18:25] yuvipanda commented on #2137
@cboettig can you try it now? I gave you 8G, since it isn't that many users

[2021-02-05 04:28] aguilar-gomez opened #2163 "Request R package coalesceR for class IB161"
**Which package do you want installed?** coalesceR

**Which hub do you want it installed on?   r.datahub

**Which class will use this package?**

IB 161 with Rasmus Nielsen https://classes.berkeley.edu/content/2021-spring-integbi-161-001-lec-001

**Which semester will this package be used for?**
 Spring 2021

[2021-02-05 04:52] aculich commented on #2108
Now that #2162 fixes the prod issue, what are the next steps for customizing or, rather, to enable me to do self-service customization as much as possible so I don't have to bug you for things? Are there docs I should read to get started? Or are those needing to still be written (in which case I can help with that)?

In rough priority order, here's what I'd like to be able to do:
- [ ] customize t

[2021-02-05 05:37] yuvipanda commented on #2108
Thanks for fixing this, @felder!

@aculich let's open separate issues for individual things, so we can track & close them easier?

[2021-02-05 13:18] yuvipanda opened #2167 "Use an ingress provider to get traffic into the cluster"
Currently, each hub gets its own public IP, and its own DNS entry. This makes new hub process complicated - you'll need to make a DNS entry, and wait for HTTPS. It also creates autohttps pods for each hub, which does take up some resources.

We already have an nginx ingress now (#2164), and can use it for all hubs. This can be very easily accomplished. However, our ssh & sftp services rely on hubs

[2021-02-05 13:23] yuvipanda commented on #2167
We'll have to:

1. Allocate a port for ssh & sftp per-hub
2. Add an entry to the nginx-ingress chart: https://github.com/helm/charts/blob/7e45e678e39b88590fe877f159516f85f3fd3f38/stable/nginx-ingress/values.yaml#L599
3. Publicize this port for each hub.

Not as automated as I'd like, but definitely much better than allocating IPs

[2021-02-07 18:53] kareemelbadry commented on #2083
Students in both Astr 128 and 256 are reporting that they only have 1 GB RAM, not 4. Perhaps this was never implemented?

[2021-02-08 06:51] yuvipanda commented on #2083
@felder can you take a look at this?

[2021-02-08 13:21] yuvipanda opened #2197 "Create a ds-infrastructure-announce list"
Currently, we have no way to announce maintenance / downtime / new features to ours users. We should make an announce-only list that folks can subscribe to for such notifications.

- [ ] Create the list
- [ ] Make sure infra admins can post to it
- [ ] Require that new hub admin users are subscribed to it
- [ ] Advertise it prominently for subscription by anyone who wants it

[2021-02-08 22:12] felder commented on #2083
@kareemelbadry sorry about that.  Can you try it now?

[2021-02-09 00:27] kareemelbadry commented on #2083
Hmm, unfortunately, students are still reporting that they only have 1 GB (in both the grad and undergrad version). I had them restart their servers too.

[2021-02-09 00:40] felder commented on #2083
@kareemelbadry hmm, I may need to coordinate with you on slack to pick out some students (can't list students here, cuz FERPA)

When I view your pod, I see the resource limit is set to 4GB:

[code]

To compare, here is my pod which does not have this extra ram allocated:

[code]

[2021-02-09 01:27] felder commented on #2083
`kubectl get pods --namespace=datahub-prod -o custom-columns=NAME:.metadata.name,MEM:.spec.containers[].resources.limits.memory | grep -v placeholder | grep jupyter | grep -v 1073741824`

[2021-02-09 09:25] yuvipanda commented on #1899
I see no reports of this since #2035, so am gonna close this for now \o/. Please re-open if you run into this again.

[2021-02-09 09:25] #1899 closed

[2021-02-09 17:14] rameshvs opened #2207 "FIX python package PyMC3 for Data 102, Astro 128/256"
Find a fix for PyMC3 & Theano: changing `requirements.txt` in #2200 didn't work, and #2206 is a bit of a hack.

[2021-02-10 17:28] #2083 closed

[2021-02-11 18:11] felder commented on #2197
@yuvipanda Has much thought been put toward the "official" naming for this service?  For example, if we call the service "datahub", maybe we want the list to be named "datahub-announce"

Also I want to see if it makes sense to look into automating the addition of admins.  It may not.  @ryanlovett suggested that since the hub knows who the admins are, it could in theory subscribe folks.

Lastly it

[2021-02-12 11:41] yuvipanda commented on #2197
@felder ah, let's just call it 'cdss-infrastructure-announce' for now. We can rename it if needed later.

Once we create it, we can just subscribe everyone who is admin now, so we have it working. And then as you say, we can probably write a script that does that to automate it.

[2021-02-12 18:37] felder commented on #2197
@yuvipanda I feel pretty strongly that the name of the list should reflect the name of the service.  It's like when people see something to cdss-infrastucture-announce show up in their mailbox, they are not going to know what cdss-infrastructure is.

[2021-02-12 19:51] yuvipanda commented on #2197
@felder alright. let's go with datahub-infrastructure-announce?

[2021-02-19 10:02] yuvipanda commented on #2167
Moving the entry for datahub.berkeley.edu will be a little tricky, since we can't set TTL there. One possibility is to move the nginx-ingress to use datahub's public IP. Not sure if that's the way to go. Something to be investigated

[2021-02-24 00:30] felder commented on #2197
@yuvipanda I have not forgotten about this, just very busy.

I think we should call it datahub-announce, assuming datahub is going to be the official name of the service.

[2021-02-24 00:32] felder opened #2229 "Investigate and migrate repo secrets migration from git-crypt to sops."
Sops:
http://github.com/mozilla/sops/

[2021-02-24 04:45] yuvipanda commented on #2197
@felder yeah, lets go with that for now!

[2021-02-25 17:17] yuvipanda commented on #2229
Also see https://github.com/berkeley-dsep-infra/datahub/issues/596

[2021-02-26 04:33] aculich opened #2230 "Request R packages rJava and several others for D-Lab workshops"
**Which package do you want installed?**

The following are all R packages: `data.table, tidyr, dplyr, car, dummies, MASS, rsq, bartMachine, googledrive, stringr, totalcensus, fastDummies, factoextra, FactoMineR, mpath, BMA, ggplot2, rmapshaper, scales, plotly, spdep, tidyverse, tidycensus, tigris, tmap, leaflet, devtools, rJava`

**Which hub do you want it installed on?  For example r.datahub, da

[2021-02-26 04:38] aculich opened #2231 "Request more RAM for class X"
**Which hub do you want more RAM on?**

dlab.datahub.berkeley.edu

**Which class is this request for?**

Since dlab has informal workshops and projects rather than formal courses, it is not listed in the regular course catalog.

Let me know if there is some other mechanism we should put in place to make it easy to automate, such as using a google group @lists.berkeley.edu or using [CalGroups](http

[2021-02-26 04:39] aculich commented on #2231
Also, @ryanlovett pointed me to this page: https://docs.datahub.berkeley.edu/en/latest/admins/howto/course-config.html

[2021-02-26 05:40] yuvipanda commented on #2230
@aculich Awesome!

1. Can you check which of these packages are already installed? `installed.packages()` in an R session should tell you. I think most of these already are!
2. Can you make a PR to https://github.com/berkeley-dsep-infra/datahub/tree/staging/deployments/datahub/images/default? I think you should create a file under `r-packages`, and then invoke it from Dockerfile like the others.

[2021-02-26 05:45] yuvipanda opened #2233 "Node automatic upgrades causing class interruptions"
We are on the 'regular' GKE [release channel](https://cloud.google.com/kubernetes-engine/docs/concepts/release-channels). While master upgrades don't interrupt service, it also seems to auto upgrade nodes, which definitely causes availability issues. So we should turn that off.

- [x] Turn off release channels for cluster
- [x] Turn off auto upgrade for all node pools

[2021-02-26 05:52] yuvipanda commented on #2233
I think this might've been why several users were getting intermittent errors over the last few weeks, as the nodes were wholesale replaced. The last roll over happened around `2021-02-22T00:07:41Z`, which is unfortunately 4PM Pacific. Most of the reported issues were around 9AM, so that's something more to dig into.

[2021-02-26 05:52] #2233 closed

[2021-03-01 20:58] felder commented on #2229
Installed latest stable version of sops on my workstation with homebrew.

[2021-03-01 21:15] felder commented on #2229
Was able to checkout, view, and edit the test in #596 after authenticating with google:

gcloud config set project data8x-scratch
git clone https://github.com/yuvipanda/sops-key-test
sops --gcp-kms 'projects/data8x-scratch/locations/global/keyRings/data8x-sops-test' test.yaml

[2021-03-01 22:42] felder commented on #2229
The big differences between sops and git-crypt is that we'll probably want to have sops authenticate using a gcp service account to grab the key from gcp-kms and sops will need to be executed against each secrets file to decrypt it as part of the image build/deployment process.

[2021-03-02 10:21] yuvipanda commented on #2229
hubploy alread supports [decrypting sops encrypted files](https://github.com/yuvipanda/hubploy/blob/master/hubploy/auth.py#L365). So if we have a service account activated that can access the appropriate key in KMS, hubploy should 'just work' in decrypting/reading the sops encrypted file.

Here's a sample on [how to activate a gcp service account for use with sops](https://github.com/utoronto-2i2c

[2021-03-03 13:29] yuvipanda commented on #827
Picking this back up! @aculich laid out possible naming conventions [here](https://github.com/2i2c-org/pilot-hubs/issues/262#issuecomment-783807464).

To begin with, I'm setting up a shared directory for astro 128/256. The convention I'm using for this particular case is:

ReadOnly mount: `shared/course/astr-128-256`
ReadWrite mount: `shared-rw/course/astr-128-256`

The ReadOnly mount is available

[2021-03-03 18:33] ryanlovett commented on #827
I wanna give a plug to `install`: 😄
`install -d -o 1000 -g 1000 /export/datahubhomes-2020-07-29/homes/_shared/course/astr-128-256`

[2021-03-03 22:24] yuvipanda opened #2238 "Investigate proxy restarts during deploy"
A few folks have reported issues with 'service unavailable' notices and stuck kernels. Matching the time to pod ages show proxy pod restarts around the affected time. This is probably caused by deploys - but they shouldn't. Need to investigate why this is happening.

[2021-03-03 22:38] yuvipanda commented on #2238
Just tested this on staging, definitely happening!

[2021-03-04 17:05] yuvipanda commented on #2238
Turns out this has been happening for a while - we just noticed. https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/2077 is a fix for this.

- [ ] Upgrade to z2jh 0.11 (we're at 0.10 now)
- [ ] Get that patch merged
- [ ] Upgrade to a version containing that patch

[2021-03-08 20:49] ericvd-ucb opened #2239 "Request R package LFE for class R hub EEP 118"
**Which package do you want installed?**
lme
**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
r.datahub

**Which class will use this package?**
EEP 118
Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.
https://classes.berkeley.edu/content/2021-spring-envecon-c118-001-le

[2021-03-09 23:14] yuvipanda opened #2242 "Move away from hub db dir for log collection"
We want to collect long term hub logs, mostly for analytical purposes. They're currently stored in the same disk as the hub db (see https://github.com/berkeley-dsep-infra/datahub/blob/staging/hub/values.yaml#L363), which works out until it doesn't - EECS hub had new user spawns fail due to the disk being full! We monitor hub db disk space in grafana, but that's clearly not enough.

We should inste

[2021-03-10 16:15] yuvipanda commented on #2239
@felder can you take this on?

[2021-03-10 18:36] felder commented on #2239
@yuvipanda sure!

Also chatting with @ericvd-ucb there's a bit of confusion about what needs to be installed, so we'll get that cleared up first.

[2021-03-10 19:52] ericvd-ucb commented on #2239
Hi - sorry I messed up @felder the package is lfe   - an R package
https://cran.r-project.org/web/packages/lfe/index.html
Apologies for the confusion

[2021-03-10 20:05] felder commented on #2239
@ericvd-ucb

In the description for that package, this is a bit ominous:

"WARNING: This package is NOT under active development anymore, no further improvements are to be expected, and the package is at risk of being removed from CRAN."

If CRAN pulls it, this is going to cause builds to fail.  I've asked Eric to mention this to the professor because it may be wise to consider another package if

[2021-03-10 21:18] aguilar-gomez opened #2243 "Request R package pegas for class IB161"
**Which package do you want installed?**
pegas

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
r.datahub
**Which class will use this package?**
IB 161 with Rasmus Nielsen https://classes.berkeley.edu/content/2021-spring-integbi-161-001-lec-001

**Which semester will this package be used for?**
Spring 2021
This helps us clean up unused packages aft

[2021-03-13 06:31] yuvipanda commented on #2243
Hi @aguilar-gomez! I can't seem to find an R package named `pages`. [This page](https://packagemanager.rstudio.com/client/#/repos/1/packages) lists all of CRAN and is where we prefer to install R packages from. I also couldn't really find it on the web. Do you know where it is?

[2021-03-13 18:50] aguilar-gomez commented on #2243
It is called “pegas” not “pages”. With the vowels flipped. I installed it very easily for myself with install.packages(“pegas”).

Thank you,
Diana

[2021-03-15 06:49] yuvipanda commented on #2163
Heya! Sorry for just picking this up :( I can't find coalesceR in CRAN (via https://packagemanager.rstudio.com/client/#/repos/1/packages/A3) either. Can you provide some more information on how this could be installed? Thanks.

[2021-03-15 10:06] #2243 closed

[2021-03-15 14:24] #2238 closed

[2021-03-15 14:24] yuvipanda commented on #2238
Needed a lot of upstream work (https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/2077,
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/pull/2100), but is done now!

[2021-03-15 23:47] aguilar-gomez commented on #2163
This is how I installed it for myself and it worked:
install.packages("coalesceR", repos="http://R-Forge.R-project.org")

Thank you,
Diana

On Sun, Mar 14, 2021 at 11:49 PM Yuvi Panda ***@***.***>
wrote:

--
*Diana Aguilar-Gómez*
PhD Candidate
Pronouns: she, her
Computational Biology Graduate Program
Nielsen lab
University of California, Berkeley

[2021-03-16 18:54] felder commented on #2229
https://circleci.com/docs/2.0/google-auth/

[2021-03-16 19:16] felder commented on #2229
@yuvipanda so theoretically I should be able to:

1.  Create a new gcp service account with access to KMS
2. Use the instructions in my above comment to activate it during the build-image job
3. Add a sops encrypted yaml file for one of the deployments
4. hubploy should do the rest?

Also how do I do this without causing a huge disruption in the existing deployments?  For one, I'm going to need to

[2021-03-16 23:48] cmparkerallen opened #2255 "R Studio Issue"
I am getting the following issue in R studio in the cloud when I open it:
System has not been booted with systemd as init system (PID 1). Can't operate.
Failed to create bus connection: Host is down

I cannot visualise graphs with this error. I have a midterm this Friday on R, please help!

[2021-03-17 18:18] yuvipanda commented on #2255
Hi @cmparkerallen. Can you tell us where you are experiencing this error? On r.datahub.berkeley.edu? Or somewhere else?

[2021-03-18 17:03] felder commented on #2255
@cmparkerallen Are you still experiencing this problem?

[2021-03-18 17:34] #2239 closed

[2021-03-18 21:55] felder opened #2257 "Spawn failed The latest attempt to start your server has failed. Would you like to retry starting it?"
A data100 GSI reports that a particular student receives the following error:
Spawn failed  The latest attempt to start your server has failed. Would you like to retry starting it?

![IMG_8859](https://user-images.githubusercontent.com/1211730/111702258-36260580-87f9-11eb-9f8f-d031cdcf60ac.JPG)

I was able replicate this behavior by attempting to start the student's server.

When I look at the hub

[2021-03-18 21:58] felder commented on #2257
@yuvipanda looks like a bug to me.  The original report came in via slack and the userid of the affected student can be found there.

[2021-03-18 23:07] cmparkerallen commented on #2255
Hi,

The issue has been resolved with the help of my professor!

Thanks,

Caitlin

On Fri, 19 Mar 2021 at 6:03 AM, felder ***@***.***> wrote:

[2021-03-18 23:11] felder commented on #2255
@cmparkerallen ok, great.  Feel free to reopen if the issue comes back.

[2021-03-19 15:32] yuvipanda commented on #2229
@felder so hubploy supports both git-crypt and sops transparently (see https://github.com/yuvipanda/hubploy/blob/6c1752dbb925711df3e1d3f0b291a7458767b8fc/hubploy/auth.py#L365). If a file looks like it's sops encrypted, it'll try to decrypt it first. Else it'll go with the default (git-crypt).

So you can just change one file and test it out. Otherwise your plan looks solid.

[2021-03-20 05:21] yuvipanda commented on #2257
Caused by https://github.com/jupyterhub/kubespawner/issues/498

[2021-03-21 05:16] sungsy12345 opened #2269 "Links_to_Datahub_No_Longer_Work_Error_Message_Included"
Dear Whom It May Concern,

I erased one of the Jupyter Notebook files in my Datahub class folders, hoping I would get back an original version of the Jupyter Notebook file I had erased by re-clicking on the nbgitpuller-produced link provided to class for accessing this file. While re-pressing on the nbgitpuller-produced link did get the original version of the file added back to my Datahub folders

[2021-03-21 16:12] Patrick-Old commented on #2255
@cmparkerallen some others are still experiencing this issue on Berkeley's R Datahub. If you are able to share the steps to resolution here, that would be greatly appreciated! Or, @felder if you have some recommended steps to resolution, that would be very helpful.

[2021-03-21 19:10] yuvipanda commented on #2255
@Patrick-Old Can you send me an email (yuvipanda@berkeley.edu) with the usernames of folks who are having this issue so I can take a look?

[2021-03-22 17:58] felder commented on #2269
Can you provide me with steps to replicate this behavior as well as your calnet username?

[2021-03-23 08:28] sungsy12345 commented on #2269
Thanks for your response. My calnet id is "sysung".

(1) In my datahub, I have the "/ENVECON-118/Spring2021-J/Lectures/" folder. In the datahub, I erased all the files (ipynb, csv, and readme.md files) in this folder and its sub-folders, because I wanted original files to be reloaded.

(2) Again, I was hoping to get original files back. Hence, I clicked on the following button, which we provided t

[2021-03-23 17:22] felder commented on #2269
@sungsy12345 I was able to reproduce this issue via your server.

When I open a terminal from your server and run "git status" this is what I see:

[code]
Also note I can also reproduce this by running the commands indicated in your error message:

[code]
Additionally, when I look at the directory in question this is what I see:

[code]
Note that the complaint is the missing file.

I believe that

[2021-03-23 17:26] felder commented on #2269
@sungsy12345 please let me know if this resolves your issue.

[2021-03-23 18:02] yuvipanda commented on #2255
I spent a bit of time looking at this. The error message you posted seems to actually be a *warning*, that seems to crop up when importing `tidyverse`:

<img width="640" alt="image" src="https://user-images.githubusercontent.com/30430/112194965-6de4e100-8c2f-11eb-91a7-b8a42f942683.png">

This doesn't terminate the app, so the failures aren't related to this. I'll get a fix for that shortly, as tha

[2021-03-24 02:41] sungsy12345 commented on #2269
@felder  Thank you so much. The issue seems to be remedied perfectly! I really appreciate your time and insight.

[2021-03-24 22:51] felder commented on #2269
Great!

[2021-03-24 22:51] #2269 closed

[2021-03-25 00:22] Patrick-Old commented on #2255
Hello @yuvipanda, unfortunately I do not believe this False vs FALSE is the root of the issue. While that is an important syntax error, I am still receiving the following error when I 'knit' the code. Note that the code runs fine when executed, just not when it is run with the 'knit' command.
<img width="803" alt="Screen Shot 2021-03-24 at 5 21 41 PM" src="https://user-images.githubusercontent.com

[2021-03-25 06:14] yuvipanda commented on #2255
@Patrick-Old first google hit for that error message is https://stackoverflow.com/questions/33969024/install-packages-fails-in-knitr-document-trying-to-use-cran-without-setting-a. Does that help?

[2021-03-31 06:00] ericvd-ucb opened #2278 "Request python package contextily for class ESPM 167"
**Which package do you want installed?**
contextily
**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub
**Which class will use this package?**
espm 167
Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.

**Which semester will this package be used for?**
Sp 21
This h

[2021-03-31 14:01] #2278 closed

[2021-04-02 18:52] jasonsjiang opened #2281 "Request python geopandas for class ESPM 167"
**Which package do you want installed?**
geopandas 0.8.2

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub

**Which class will use this package?**
[espm 167](https://classes.berkeley.edu/content/2021-spring-espm-c167-001-lec-001)

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class

[2021-04-02 19:11] #2281 closed

[2021-04-03 07:31] LimaEchoAlpha opened #2284 "R Studio Status 503 Error"
Hello,

The last couple of days R Studio keeps getting interrupted by a Status 503 Error very often (every 5-10 minutes or so).  The error message is similar to the Status 403 Error that happens every so often, and requires reloading to be able to keep using R.  The 403 error is annoying, but it only happens intermittently, so it is tolerable; the 503 error happens too often, though.

[2021-04-05 18:12] felder commented on #2284
Typically a 403 error indicates you're attempting to access a resource the server does not believe you have the appropriate permissions to access.  A 503 error indicates the server is having an issue of some sort with satisfying your request.

It seems a little unusual to me, but not impossible, that the same issue would cause both errors.

First, have you tried accessing the hub using a browser y

[2021-04-05 18:32] LimaEchoAlpha commented on #2284
I've only tried accessing the hub with the browser I normally use (Chrome).  I can try using Safari and let you know if I run into the same issues.

[2021-04-05 18:52] felder commented on #2284
Yeah that's where I'd start.  If it continues to occur, my next question would be about how to reproduce this issue.  If possible, if you can identify a specific set of actions that produces this issue I'd then attempt to do so using the steps you've outlined using my admin powers to connect to your server.

Additionally if you know of anyone else experiencing this, referring them to this ticket t

[2021-04-07 13:07] yuvipanda commented on #929
@chrispyles do you know if this is still being used? I've archived https://github.com/yuvipanda/gradable-nbexport and would like to get rid of it.

[2021-04-07 13:20] yuvipanda commented on #2255
checking in to see if that helped, @patrick-old.

[2021-04-07 14:36] yuvipanda commented on #2284
Investigating this now, with help:

I see a 404 for auth, from the hub pod:

[code]

And from the user's pod
[code]

The hub pod is on UTC, while the user pod is on pacific, hence the time difference.

Related to https://github.com/jupyterhub/jupyterhub/issues/2299 and https://github.com/jupyterhub/jupyter-server-proxy/issues/109. I also notice that we're on jupyter-server-proxy 1.5, while latest

[2021-04-07 16:00] chrispyles commented on #929
Hmm, I'm not sure. @ericvd-ucb do you know if the SW 282 module is still in use?

[2021-04-07 16:41] yuvipanda commented on #929
I only wanted to ask about gradable-nbexport, and that was answered in #930. All good now :)

[2021-04-07 17:01] ericvd-ucb commented on #929
Not currently in use

[2021-04-07 17:52] yuvipanda commented on #2284
I think it might not be jupyter-server-proxy version conflict alone - @petersudmant also reported this, and biology hub has a new enough version of j-s-p. It's probably still something cookie related, and I'm bumping up notebook / lab with https://github.com/berkeley-dsep-infra/datahub/pull/2291 anyway.

[2021-04-07 18:12] felder commented on #2197
@yuvipanda list created

I've added some of the usual suspects as list managers.

[2021-04-08 12:08] yuvipanda commented on #2284
I've been able to reproduce it, with logs looking like this: https://gist.github.com/yuvipanda/3e7fc211278575a25b62fd770b31e8f9

[2021-04-08 16:19] yuvipanda commented on #2197
Target audience is anyone who cares about new features for the hub, or outages. Examples: Course staff, students, anyone else who cares.

Ryan: As part of people getting accounts, they get added to a list. No application process here, so who? Ryan & Kevin Heard populate calgroups, sync it to google groups - api access for calgroups, google groups doesn't.

Jonathan: Faculty teaching on the hub sho

[2021-04-09 00:21] felder commented on #2229
After some help from @yuvipanda this morning just to make sure I didn't do something stupid, I've now converted all of the secrets in staging.yaml for each hub to sops.

Note that currently template/{{cookiecutter.hub_name}}/secrets/staging.yaml is also encrypted.

I wasn't sure if moving that over to sops would break cookiecutter.  I suspect it might since git-crypt decrypts everything when you c

[2021-04-09 13:44] minrk commented on #2284
Following up, the 403 I believe is occurring hourly due to default oauth token expiry (the auth token stored in a cookie used to access anything through jupyter-server-proxy), which should be fixed by https://github.com/jupyterhub/jupyterhub/pull/3411 which changes the expiry of the token to match that of the cookie itself (default 2 weeks).

[2021-04-10 20:24] aveysongco28 opened #2311 "[urgent] virus installed on PC"
Hi,

ReverceCaptcha Virus was installed on my PC and I need it removed. The virus pops up ads stating I have 5 viruses and need to remove it by purchasing virus programs (I have not purchased anything). I was advised to wipe my PC due to potential of backdoors being created to infect my PC. It happened when I was accessing the UC Berkeley Data Hub to work on my assignment on Jupyter. Please let me

[2021-04-10 20:50] yuvipanda commented on #2311
Heya! Thanks for letting us know, and really sorry about your PC infection. Unfortunately, we can only provide support for things happening on the datahub cluster itself, so we can not offer any help for this situation.

If this is a university provided machine, https://technology.berkeley.edu/contact-us might be able to help. Otherwise, I'm not sure what we can do. Sorry!

I hope you can  recover

[2021-04-10 20:50] #2311 closed

[2021-04-12 08:36] #2284 closed

[2021-04-17 00:09] JulieWang0 opened #2314 "[Urgent] Request python package fancyimpute for class INDENG 142"
**Which package do you want installed?**
fancyimpute

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
datahub

**Which class will use this package?**
 INDENG 142 (Introduction to Machine Learning and Data Analytics, Prof. Paul Grigas)

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class na

[2021-04-17 00:15] JulieWang0 opened #2315 "Request more RAM for class X"
**Which hub do you want more RAM on?**
datahub

**Which class is this request for?**
INDENG 142

You **must** include a link to your class for the correct semester in https://classes.berkeley.edu.

**How many students do you expect in this class?**
210

An approximate number would do.

**How much RAM does this class need?**
2GB per student.

The default is 1GB of RAM per student.

**Why does this

[2021-04-19 19:15] felder commented on #2315
@JulieWang0 can you please provide a URL to your class for the correct semester in https://classes.berkeley.edu ?

[2021-04-19 21:44] JulieWang0 commented on #2315
It is https://classes.berkeley.edu/content/2021-spring-indeng-142-001-lec-001.

[2021-04-19 21:45] felder commented on #2314
Done!

[2021-04-19 23:30] felder commented on #2315
Ok I believe that should do it.  Please reopen this issue if you find students are not receiving the additional RAM.

[2021-04-20 21:05] felder opened #2322 "Grant more CPU to users in eecs hub"
@Quizenger reports that students are experiencing long run times when doing their course work on the eecs hub.  A look at the graphs from yesterday does suggest high cpu utilization.

I'm going to start with CPU guarantee of .25 which I believe should place 32 students on a single node.

[2021-04-21 17:37] felder commented on #2322
@Quizenger yesterday cluster utilization peaked around 60% as opposed to 100% the day before.

Did your students also see improved performance?

[2021-04-21 17:40] felder commented on #2229
This has been live in prod for a few days.  Closing.

[2021-04-21 17:40] #2229 closed

[2021-04-21 19:17] Quizenger commented on #2322
@felder Yes! The runtime dropped significantly for most students. We still had a few at around 10 mins (down from 20 for most). Do you think we can increase the CPU guarantee further? (We only need this until the end of next week, 4/30)

Thanks so much for your help, appreciate it!

[2021-04-21 20:25] felder commented on #2322
@Quizenger yeah let's give .33 a shot.  That should take us from ~32 to ~24 users per node.

My only concern here is that peak utilization at a guarantee of 0.25 was 60% which may imply that additional bumps won't do much.  One thing to note is that while we're using a minimum guarantee there is no limit set.  So I'd expect lots of students with CPU bound processes to result in 100% utilization li

[2021-04-22 00:21] felder commented on #2322
Unsurprisingly these changes have resulted in the spinning up of additional nodes.  I modified the autoscaling rules for the gamma node pool to permit a max of 30 nodes instead of 20.

[2021-04-22 05:10] bhuang111 opened #2327 "Access old files?"
I recently changed my CalNetID and lost all my files associated with the old CalNetID. Is there a way I can access those files and potentially have it transferred to my new account?

[2021-04-22 18:37] felder commented on #2322
The gamma node pool is hovering around 18 nodes.  I'm bumping the gamma node pool's max from 30 to 40 nodes.

Just want to be sure we don't run out of nodes if there is a surge of users.

[2021-04-22 18:41] gregottoniemeyer opened #2330 "Request more RAM for Data Arts"
**Which hub do you want more RAM on?**

Datahub

**Which class is this request for?**

https://classes.berkeley.edu/content/2021-summer-art-w23ac-101-wbl-101

**How many students do you expect in this class?**

40

**How much RAM does this class need?**

1 GB RAM for students
16 GB RAM for instructor (niemeyer@berkeley.edu)

**Why does this class need this much RAM?**

network analysis with networ

[2021-04-22 23:52] felder commented on #2327
The directories are organized by calnet friendly name.

I'll follow up with you in email.

[2021-04-23 10:56] yuvipanda opened #2333 "Fall 2021 big tasks planning"
This issue tracks tasks we want to get done before Fall 2021.

1. Removing undergrad admins from main datahub #1965
2. Implement data archival policy for home directories #1633

(1) has a few primary sub tasks.

- [x] Make it easy to provide one hub per class (https://github.com/berkeley-dsep-infra/datahub/pull/2115)
- [x] Move data8 to its own hub - most undergrad admins are for data8 (https://gi

[2021-04-23 11:02] yuvipanda opened #2334 "Make a new hub specifically for data8"
We're trying to remove admin permissions from all undergrads on datahub (https://github.com/berkeley-dsep-infra/datahub/issues/1965). data8 has the largest share of admins there, so moving it to its own hub will let us remove all of them from datahub.

[2021-04-24 12:45] Quizenger commented on #2322
We're still facing issues with some students facing >15 min wait times.

I assume the gamma node pool is a backup pool of resources in case there are too many users?

[2021-04-26 13:39] yuvipanda opened #2339 "Upgrade helm in our CI"
Our CI uses helm 3.0, which is pretty old. We should update to something newer.

My local laptop that I use for deploys has 3.4, so at least that far is safe.

[2021-04-26 17:59] yuvipanda commented on #2322
@Quizenger how has it been today/

[2021-04-27 07:25] #2116 closed

[2021-04-27 16:57] Quizenger commented on #2322
It was better, thank you!

[2021-04-28 22:48] felder commented on #2333
One nice to have for Fall would be a clear support path for students (or their professors) to get assistance.

I envision such a thing occurring via service now through the campus help desk.  The service now ticketing system would provide the privacy required for avoiding FERPA issues as well as make easier to engage other campus IT departments as necessary (for example CalNet).

It's a bit of a t

[2021-04-30 17:31] felder commented on #2330
@gregottoniemeyer 16GB is a pretty large memory allocation.  Is there an end date for this, such just for the summer?

Also is this something that could be better run locally?

[2021-04-30 18:56] felder commented on #2330
Added requested RAM for the students.

[2021-05-01 01:48] gregottoniemeyer commented on #2330
Dear Berkeley-Dsep-Infra/Datahub,
First, thanks for datahub. It's one of the *best* things Berkeley has to
offer. Second, yes, only for the summer, and students need 1 GB.
I would like 16GB until further notice, so I can demo more advanced stuff.
Best wishes, Greg
Greg Niemeyer

Professor for New Media
Department of Art Practice
University of California at Berkeley
https://art.berkeley.edu

On Fri

[2021-05-02 12:40] yuvipanda commented on #2322
https://github.com/berkeley-dsep-infra/datahub/pull/2365 will turn this off.

@Quizenger can you share the profiling info (both the py-spy and top one) here so we can refer back to it next semester?

[2021-05-03 07:03] Quizenger commented on #2322
![top](https://user-images.githubusercontent.com/58498249/116849123-b23ea600-ac0b-11eb-98f7-e18e707010d5.png)

[2021-05-03 07:05] Quizenger commented on #2322
![py-spy profile](https://user-images.githubusercontent.com/58498249/116849228-ffbb1300-ac0b-11eb-9069-3715457646ca.png)

[2021-05-03 07:49] yuvipanda commented on #2322
To summarize these graphs:

1. The assignment seems to use 2 CPUs, not 1. So it was pretty slow for many students even with a 1 CPU guarantee, because we also had a 1 CPU limit (the output of `top`)
2. The code is spending almost all its time in numpy code, so while that could be optimized, it is in fact CPU bound

[2021-05-03 07:50] yuvipanda commented on #2333
Totally agree, @felder. I'd imagined this would be most important first task for new data science lead.

[2021-05-03 12:04] yuvipanda commented on #1354
Now that our committed use discounts are over, with https://github.com/berkeley-dsep-infra/datahub/pull/2370, i've moved us back to n1-standard-4 for core nodes, adjusting memory and CPU requests where needed. I think these will be less wasteful and more cost effective.

[2021-05-03 12:04] #1354 closed

[2021-05-03 18:49] felder commented on #2330
@gregottoniemeyer Just to be clear you're saying you would prefer to have the 16GB memory allocation permanently with no current end date correct?  I want to discuss this a little bit more internally before we move forward.  I already adjusted the requested change for your class.  My concern is specifically around the 16GB you're requesting.

I'm inclined to grant it, but the main issue here is th

[2021-05-03 19:25] felder commented on #2330
@gregottoniemeyer ok, after a bit of discussion, how would you feel about a 4GB memory guarantee with an 8GB memory limit?  Then you can do some testing and we can adjust upwards if that's not sufficient.  Just in case you're not aware, you can keep an eye on memory usage in the upper right corner.  It'll turn red as you get close to your limits.

One idea for this might be to allow you to choose

[2021-05-03 19:32] felder opened #2372 "Per user profile choices for resource allocation"
When discussing issue #2330 with @yuvipanda I asked if it would be possible to allow people with special high resource use cases (16GB of RAM in this case) the option of choosing between resource allocations on sign in.  The idea being to default to typical resource allocations while allowing a user to select higher ones when they know they are going to performing tasks which require them.

In fac

[2021-05-03 19:43] felder commented on #2333
@yuvipanda the reason I mention servicenow specifically is it that's what central campus IT as a whole uses for ticketing.  Thus it makes it easy to hand off tickets to different groups as necessary.  It also shifts security concerns in tickets from us to service now. :)

[2021-05-03 19:49] felder commented on #2333
So another issue for fall is clarity around requests for resource grants and how we handle them.  I'm thinking specifically of unusual requests such as #2330

What's our policy regarding requests for additional resources?  Which requests do we allow or refuse?

Additionally, I think consulting with regard to resource allocations might be something we need to offer.  I feel when requests for additi

[2021-05-03 19:50] gregottoniemeyer commented on #2330
Thanks, that sounds good. One transformer I use is 1.5 GB and so with 8 GB
top I should be fine. With 1 GB it obviously crashed.
With the multiple profiles I wonder if both profiles will access the same
files?
Best wishes
=GN=

Greg Niemeyer

Professor for New Media
Department of Art Practice
University of California at Berkeley
https://art.berkeley.edu

On Mon, May 3, 2021 at 12:25 PM felder ***@

[2021-05-03 19:55] felder commented on #2330
@gregottoniemeyer note that the multiple profile selection is not something we're prepared to offer just yet.  However, I think it may be a good solution for enabling us to allow large allocations while also keeping costs down.  Right now, when we honor a request for increased resources, those resources are always allocated when someone signs in whether they think they need them or not.  16GB of R

[2021-05-03 20:42] #2327 closed

[2021-05-03 20:43] felder commented on #2327
I didn't indicate it here, but after verifying the calnet id name change I migrated the files.

[2021-05-03 20:58] felder commented on #2330
@gregottoniemeyer ok that should do it

[2021-05-05 05:45] #2339 closed

[2021-05-05 20:46] felder opened #2395 "sops is duplicating comments in secrets files"
@ryanlovett noticed several duplicate comments in the secrets files.  The culprit appears to be sops.  I was able to devise a trivial test case that reproduces the bug and I filed a bug report with the sops project:

https://github.com/mozilla/sops/issues/865

Note that I also linked this issue another issue that mentions sops also reformatting comments:

https://github.com/mozilla/sops/issues/864

[2021-05-17 23:44] gregottoniemeyer commented on #2330
Dear Felder:
Thanks for your help. I have another question: How can I access and update
the Art 23 AC folder that students have access to? The examples need to be
revised.
Thanks, Greg
Greg Niemeyer

Professor for New Media
Department of Art Practice
University of California at Berkeley
https://art.berkeley.edu

On Mon, May 3, 2021 at 12:55 PM felder ***@***.***> wrote:

[2021-05-18 01:41] felder commented on #2330
@gregottoniemeyer Do you mean from your git repo?  If so, these instructions should help you with constructing nbgitpuller links to distribute to your students:

https://jupyterhub.github.io/nbgitpuller/

[2021-05-18 15:07] yuvipanda commented on #1633
I'm picking this back up now. Surprisingly, I never put up the script I used to calculate these numbers last time. I've put it up this time - https://github.com/yuvipanda/homedir-archiver. I'm running this to find users to archive, where a user is archivable if they have not modified any file for the last 12 months, starting from today. Some hubs are too new to have any user files over 12 months,

[2021-05-18 17:14] #1155 closed

[2021-05-18 18:38] yuvipanda commented on #1633
My suggestion now is that we:

1. Tar these up, and store them in google cloud storage. We'll transition these to the [archival tier](https://cloud.google.com/storage/pricing) once we're sure this works - for 6,585 GB it'll cost about 8$ a month. I'm sure it'll go down with compression.
2. Leave a note asking users to email a list (ds-infrastructure probably?) if they need their files. I suspect t

[2021-05-18 18:45] felder commented on #1633
@yuvipanda we should consider what the overall retention policy for these will be or perhaps consider object lifecycle management on the bucket to move items to cheaper long term storage.

[2021-05-18 20:06] felder opened #2407 "Go through the list of VMs for data8x and see if any can be shutdown and deleted"
Data8x has a few VMs whose purpose may have been lost to time:

data8x-telemetry - ?
grader - ?, but presumably used for grading
grader-hub - ?
nfsserver - handles nfs for the data8x hub
sjcc-hub - ?, currently powered off

We can save some money if some of these VMs can be powered down and deleted.

[2021-05-18 21:55] yuvipanda commented on #2407
sjcc-hub used to host a hub specifically for a data8x version for San Jose Community College. I stopped it a while ago, and have deleted it now.

[2021-05-19 20:56] yuvipanda commented on #1633
yeah, I think we should start with standard storage and move it to archival storage in a week or two.

I think my current plan would be:

1. Tar and push inactive home directories to GCS, using md5 to ensure no corruption during data transfer
2. Do another round, tar and *just* verify MD5 to make sure everything made it ok. Our tarballs should be reproducible for this to work.
3. Take a disk snaps

[2021-05-20 14:58] yuvipanda commented on #1633
I tested out gzip, bzip2 and xz on the workshop hub's inactive home directories.

| Type | Original Size | Compressed Size |  Savings % | Time taken |
| - | - | - | - | - |
| gzip2 | 25.02GB | 16.25GB | 35% | 27 minutes |
| xz | 25.02GB | 14.75GB | 41% | A lot longer |
| bzip2 | 25.02GB | 15.89GB | 37% | 142 minutes |

I didn't run the xz test under `time` unfortunately, but it was many many hours

[2021-05-22 03:46] gregottoniemeyer commented on #2330
Ah thanks! I did not realize git was the way!

On Mon, May 17, 2021, 6:41 PM felder ***@***.***> wrote:

[2021-05-24 03:41] gregottoniemeyer commented on #2330
Dear Felder,
I understand what you mean... I think someone else wrote these lessons for
a previous version of my course. So the issue is how can I edit what repo
the students are getting. Someone automatically gave all students access to
the old version. The easiest would be for me to edit that repo and update
it, but I am not sure that I have access.
Thanks, Greg

Greg Niemeyer

Professor for New

[2021-05-25 17:34] felder commented on #2330
@gregottoniemeyer I think you'll probably either want to fork the old repo or clone it into a completely new project.

Below is instructions for doing both:
https://guides.github.com/activities/forking/
https://stackoverflow.com/questions/9844082/how-to-create-a-new-git-repository-from-an-existing-one

Additionally, you may want to reach out to @ericvd-ucb.  In the before times (pre covid) he gave

[2021-05-25 17:53] gregottoniemeyer commented on #2330
Thanks Felder, and Hi Eric:
Trouble is I have no idea where the old repo is.
I will follow up with Eric who I believe was involved in creating the
original repo.
Thanks for your help and patience,
Greg
Greg Niemeyer

Professor for New Media
Department of Art Practice
University of California at Berkeley
https://art.berkeley.edu

On Tue, May 25, 2021 at 10:34 AM felder ***@***.***> wrote:

[2021-05-25 18:13] ericvd-ucb commented on #2330
@gregottoniemeyer
https://github.com/ds-modules/ART-W23AC

[2021-05-26 19:59] enze-chen opened #2409 "Request python package [pymatgen, matminer] for LBL summer research internship"
**Which package do you want installed?**

I would like to install `pymatgen==2020.10.20` and `matminer==0.6.5`.

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

This is a summer internship through LBL (no class number) and DataHub is linked through a Jupyter Book, so I think the main DataHub is the best option.

**Which class will use this package

[2021-05-26 20:43] enze-chen commented on #2409
Also submitted PR #2410

[2021-05-28 15:40] ericvd-ucb commented on #2334
Hey there - update from soft side   - I got approval from Fall Profs for this - and from Summer instructor @Yanay1  - could you update when this might come online?

[2021-05-28 18:24] yuvipanda commented on #2334
I'm hoping to have this done by Monday :)

[2021-06-01 23:36] felder commented on #2395
In theory this has been fixed:
https://github.com/mozilla/sops/pull/866

Hopefully this fix will make into the next release.

[2021-06-01 23:46] felder commented on #2409
@enze-chen was there a particular reason why you chose this version of pymatgen as opposed to the latest?

https://pypi.org/project/pymatgen/
https://pymatgen.org/change_log.html

[2021-06-02 00:21] enze-chen commented on #2409
Hi! Yes, I chose this one because at least when I naively used `pip` to install the latest version, it also forced me to upgrade `numpy` and a few other packages in the default DataHub packages. I wanted to minimize the damage, and this version still allows for everything we wanted to teach. But feel free to use a newer version if that is better practice; I have written the code such that it avoid

[2021-06-02 17:08] felder commented on #2409
@enze-chen fair enough, I just wanted to be certain the earlier version was intended before I merge it. :)

[2021-06-02 19:02] felder commented on #2409
Merged to prod.

[2021-06-02 19:02] #2409 closed, assigned to felder

[2021-06-07 11:33] yuvipanda opened #2422 "Blockers for using retrolab in data8"
[JupyterLab retro](https://github.com/jupyterlab/retrolab/) is a great alternative to the classic notebook, keeping the simple document oriented UI while giving us new features like RTC. We want to get it to a point where it can be used for data8. This issue will track whatever needs to be fixed for that to happen.

- [x] https://github.com/jupyterlab/retrolab/issues/153
- [x] https://github.com/j

[2021-06-09 08:40] yuvipanda commented on #2422
https://github.com/jupyterlab/retrolab/pull/159 and https://github.com/jupyterlab/retrolab/issues/157 should fix two of these issues. Once merged, I'd want to backport them to the 2.x release so we can deploy them.

[2021-06-15 11:47] yuvipanda opened #2427 "Upgrade to z2jh 1.0"
Zero to JupyterHub 1.0 has been released - https://github.com/jupyterhub/zero-to-jupyterhub-k8s/blob/main/CHANGELOG.md#10.

We should upgrade to it!

[2021-06-17 19:34] felder commented on #2427
cs194 has the following error:
- prePuller.extraImages.postgres: Additional property policy is not allowed

Here's the offending snippit from cs194/config/common.yaml:
[code]
@yuvipanda how should we deal with this `policy: IfNotPresent` config?

[2021-06-17 19:59] felder commented on #2427
Confirmed that memory limits set via #2432 work in datahub-staging.

[2021-06-17 20:22] yuvipanda commented on #2427
@felder i think you can get rid of the policy. IfNotPresent is the default, not sure why it was specified earlier

[2021-06-17 20:44] felder commented on #2427
Verified admin privileges are still assigned properly for dlab-staging.

[2021-06-17 21:21] felder commented on #2427
hmm...data100 is timing out on the deploy:

[code]

I sent it through a couple times.  Maybe CircleCI needs a break, I'll revisit this in a bit.

[2021-06-18 00:51] felder commented on #2427
@yuvipanda yeah data100 doesn't wanna go

[2021-06-18 18:36] felder commented on #2427
Yuvi pointed me to kubectl saying that the deployment can timeout/fail if stuff fails to start.  kubectl reveals that the hub pod is errorring out because the fetch-emails-sidecar is unhappy.

[code]

@ryanlovett when you have a chance, can you please take a look?

[2021-06-21 19:37] ryanlovett commented on #2427
@felder Fixed! It is now on workshop/nodeSelector.

[2021-06-23 23:37] felder opened #2452 "The idle culler is not working correctly"
Looking at datahub-prod and as well data8x-prod, I see lots of pods with ages measuring in the multiple days.

For data8x-prod, in particular, there are hundreds of pods with ages measured in days.  For example:
[code]

This seems to me to be unusual or undesired behavior.  I see similar occurring in datahub, and I noticed this in the config for eecs:
https://github.com/berkeley-dsep-infra/datahub

[2021-06-24 00:10] felder commented on #2452
So more info, when looking at data8x if I select a pod with a long running time, for example:

`jupyter-REMOVED   1/1     Running   0          20d`

Then if I query the hub logs and look at that id I see:

[code]

If I look at the logs for the pod in question I see:

[code]

There's huge gap there between the last two lines.  I would think the desired behavior in that case would've been to kill th

[2021-06-24 18:37] felder commented on #2452
I didn't see any change over several minutes after deploying the above change to data8x.

As a result, I've opted to manually kill all of the long running pods in data8x just to deal with the immediate concern.

[2021-06-24 18:50] felder commented on #2452
Note I did verify on the hub pod that the culler was in fact running and the specified maxAge argument had been passed:

[code]

[2021-06-24 23:30] felder commented on #2427
Yuvi merged this to prod and it has been running there for a while.

[2021-06-24 23:30] #2427 closed, assigned to felder

[2021-06-24 23:34] felder commented on #2452
Grabbing the current list of pods for data8x-prod I can see there are now a few that have slipped past the 12h mark.  I killed all the pods >= 12h old earlier 5 hrs ago.

So yeah I'm really thinking the culler is busted and the maxAge parameter doesn't seem to have made a difference.

[2021-06-24 23:36] felder commented on #2333
@yuvipanda adding #2452 to the list, pretty sure we don't to start the fall semester with the idle culler not working.

[2021-06-25 06:58] yuvipanda commented on #2452
Is the culler culling anything at all?

https://github.com/jupyterhub/jupyterhub/issues/3099 causes some pods to go over their limit and not get culled for a long time. Setting [these notebook configs](https://github.com/berkeley-dsep-infra/datahub/blob/03692aed09006c77f451e854a99b2ac644788a99/hub/values.yaml#L1) will help with this. However, they aren't actually being injected into the user pods

[2021-06-25 19:17] felder commented on #2452
@yuvipanda I do not believe it culling any pods at all.

[2021-06-25 19:35] yuvipanda commented on #2452
Yeah, from https://data8.datahub.berkeley.edu/hub/admin?sort=last_activity&order=asc& there are some pods that say last activity is week ago but aren't being culled. So at least it doesn't look like a problem with the activity reporting, as much as with the culler.

We should still do the `extraFiles` thing though. That essentailly adds a culler in-user-server that can be more accurate

[2021-06-25 20:09] felder commented on #2452
@yuvipanda the new grafana graphs also show the lack of culling for all hubs.  If you look at the Running Users chart in the Cluster Info dashboard, you can see the user pods for all hubs are all trending upward.

[2021-06-27 16:12] dtrinidad002 opened #2460 "JupyterHub opens when i try to open r.studio"
I was working on R.datahub, then out of nowhere my browser switched to jupyter.hub. Can someone please provide guidence on how to get back to r.datahub? I'll refresh the browser, but r.datahub now just sends me directly to jupyter.hub

[2021-06-29 16:58] AlgoristHQ commented on #596
Can we expect an update on the Key Rotations? Is this in the works or is there a plan to implement this?

[2021-06-29 20:09] yuvipanda commented on #596
@felder completed the move to sops (https://github.com/berkeley-dsep-infra/datahub/issues/2229), so we didn't have to do anything about rotation of git-secrets keys

[2021-06-29 20:09] #596 closed

[2021-07-01 00:15] ericvd-ucb commented on #2460
Hi
your URL should look like this
https://r.datahub.berkeley.edu/user/username/rstudio/

alternatively you are probably right now looking at the file tree in Jupyterhiub
you can go on the right side and say new->rstudio

[2021-07-01 00:20] ericvd-ucb opened #2462 "add user to rstudio Admin"
Hi - could we please add instructor @d-alex-hughes to the r hub admin?
he teaches for the Ischool and could help debug users

Not sure what his Berkeley email is

[2021-07-01 01:13] d-alex-hughes commented on #2462
I'm at

[2021-07-01 18:12] yuvipanda commented on #2460
This seems to be a new bug, and we are investigating it. Thanks for reporting this, @dtrinidad002

You can either use the 'New -> RStudio' pathway @ericvd-ucb mentioned, or use this link: https://r.datahub.berkeley.edu/hub/user-redirect/rstudio

[2021-07-01 20:43] felder commented on #2407
data8x-telemetry and grader-hub were shutdown and then removed a few weeks later.  nfsserver and grader are still necessary.

[2021-07-01 20:43] #2407 closed, assigned to felder

[2021-07-01 21:12] felder commented on #2462
@yuvipanda has some other changes queued that I'm not sure I should merge to prod.  @yuvipanda feel free to merge this change if you're ready to merge the rest or let me know if I should go ahead.

[2021-07-06 00:02] cdbeon opened #2483 "Request R package Ottr for PH 142 on publichealth.datahub.berkeley.edu"
**Which package do you want installed?**
Ottr

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
publichealth.datahub

**Which class will use this package?**
Public Health 142

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class name & instructor.
PH 142; Instructor: Mi-Suk Kang Dufour

**Wh

[2021-07-06 08:24] #2483 closed, assigned to nobody

[2021-07-06 09:53] #2460 closed, assigned to nobody

[2021-07-06 16:56] d-alex-hughes opened #2488 "Update Breaking Change in Rstudio Server"
R has updated its default graphics engine (now to version 14) and it is not compatible with the Rstudio Server version that is currently installed on r.datahub. As a result, plots are not rendered within Rstudio server.

<img width="1313" alt="image (13)" src="https://user-images.githubusercontent.com/6474241/124638478-db63f880-de3f-11eb-8e29-9dc0d357ef3d.png">

I _suspect_ that an upgrade from th

[2021-07-06 18:46] yuvipanda commented on #2488
@d-alex-hughes unfortunately due to https://github.com/jupyterhub/jupyter-rsession-proxy/issues/95 we can't upgrade to 1.4 yet. Hopefully we can soon, but not yet. In the meantime, maybe I can downgrade to R 4.0 instead of R 4.1?

[2021-07-06 18:46] yuvipanda commented on #2488
@d-alex-hughes also, how is ischool.datahub.berkeley.edu? Does it work there?

[2021-07-06 18:52] d-alex-hughes commented on #2488
The ischool hub is great! Thanks for deploying it. I'll start pointing students that way as they come in (many have current class work hosted on r.datahub that I don't want to move in week 10.)

The graphics issues from R 4.1 and RStudio 1.3.x are present on the ischool.datahub as well.

[2021-07-06 19:06] yuvipanda commented on #2488
@d-alex-hughes ok good to know. I think I'll just try downgrading to R 4.0, and then work on migrating RStudio up

[2021-07-08 17:32] #2334 closed

[2021-07-11 18:37] yuvipanda commented on #2488
@d-alex-hughes I deployed this change on Friday, hopefully things are ok for now on R 4.0.5

[2021-07-15 22:20] #2462 closed, assigned to felder

[2021-07-26 02:04] angellmethod opened #2510 "Request R package fpp3 for class w271"
**Which package do you want installed?**

fpp3 - this is a package that wraps many packages.

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
ischool.datahub.berkeley.edu

**Which class will use this package?**

https://classes.berkeley.edu/content/2021-summer-datasci-w271-001-wbl-001

and other w271 sections.

**Which semester will this package be

[2021-07-26 10:27] #2510 closed, assigned to nobody

[2021-07-29 10:35] yuvipanda commented on #2488
We moved back to R 4.0.5 for now, and things seem to be ok?

[2021-07-29 19:12] d-alex-hughes commented on #2488
I haven't heard from any students -- either in our course channel, or study
group channels, or in the #datahub channel that we've started -- that they
are currently experiencing any performance issues.
Thanks!

On Thu, Jul 29, 2021 at 3:35 AM Yuvi Panda ***@***.***> wrote:

[2021-07-30 07:15] #2488 closed, assigned to nobody

[2021-08-07 02:04] angellmethod opened #2519 "Request R packages for W271"
**Which package do you want installed?**

Hmisc
plm
patchwork

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

ischool

**Which class will use this package?**

W271 - Categorical, Time Series and Panel Data Analysis with Jeffrey Yau

Include a link to appropriate entry in https://classes.berkeley.edu/ if available. If not, please mention class nam

[2021-08-09 07:48] #2519 closed, assigned to nobody

[2021-08-09 23:49] LifeGains opened #2523 "Request preinstallation of anytime package"
Thread:
https://ucbischool.slack.com/archives/C027EQFAU83/p1628115877000800

[2021-08-10 04:59] geneh0 opened #2524 "Request R package Epi for class PH252"
**Which package do you want installed?**

- `Epi`
- `foreign`

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

Public Health DataHub

**Which class will use this package?**

[PBHLTH 252](https://classes.berkeley.edu/content/2021-fall-pbhlth-252-001-lec-001) - Patrick Bradshaw

**Which semester will this package be used for?**

Fall 2021 (yearly)

[2021-08-10 06:59] #557 closed

[2021-08-10 07:00] yuvipanda commented on #597
We have a grafana + prometheus now.

[2021-08-10 07:00] #597 closed

[2021-08-10 07:00] #608 closed

[2021-08-10 07:00] yuvipanda commented on #608
I think this was sorted out a while ago :D

[2021-08-10 07:02] yuvipanda commented on #723
There is now an ischool.datahub.berkeley.edu :)

[2021-08-10 07:02] #723 closed

[2021-08-10 07:02] yuvipanda commented on #705
There is now an ischool.datahub.berkeley.edu

[2021-08-10 07:02] #705 closed

[2021-08-10 07:02] yuvipanda commented on #702
There is now an ischool.datahub.berkeley.edu

[2021-08-10 07:02] #702 closed

[2021-08-10 07:03] yuvipanda commented on #802
This issue has been stale for a while, so I'm going to close it. Please re-open if it is still a problem. We're working on a more 'real' support process that can help with issues like this in the future.

[2021-08-10 07:03] #802 closed

[2021-08-10 07:03] yuvipanda commented on #840
This issue has been stale for a while, so I'm going to close it. Please re-open if it is still a problem. We're working on a more 'real' support process that can help with issues like this in the future.

[2021-08-10 07:03] #840 closed

[2021-08-10 07:04] yuvipanda commented on #1202
We did most of these things, but never documented them here :(

[2021-08-10 07:04] #1202 closed

[2021-08-10 07:05] yuvipanda commented on #965
Tracked in https://github.com/berkeley-dsep-infra/datahub/issues/1461 instead

[2021-08-10 07:05] #965 closed

[2021-08-10 07:05] yuvipanda commented on #1746
I think this was fixed

[2021-08-10 07:05] #1746 closed

[2021-08-10 07:05] yuvipanda commented on #1747
We have a highschool hub too now

[2021-08-10 07:05] #1747 closed

[2021-08-10 07:06] yuvipanda commented on #1945
I'm going to close this one for now. When more folks need to be made admins, please open a new issue. Thanks!

[2021-08-10 07:06] #1945 closed

[2021-08-10 07:06] #2033 closed

[2021-08-10 07:07] #2257 closed

[2021-08-10 07:08] #2108 closed

[2021-08-10 07:08] yuvipanda commented on #2108
Closing for now. @aculich open up individual issues with customizations you want and we can work it out?

[2021-08-10 07:09] yuvipanda commented on #2523
This is for the ischool. From the slack, it looks like it fails to install when users try to do that sometimes.

[2021-08-10 07:25] yuvipanda commented on #2197
@balajialg you might find this interesting

[2021-08-10 07:29] #2523 closed, assigned to nobody

[2021-08-11 05:50] yuvipanda commented on #653
@mdshapiroLBL are you still interested in using root? If so, I'm tempted to make a separate hub for physics that has it. I think it might complicate our main image a bit too much...

[2021-08-11 07:53] yuvipanda commented on #2523
@LifeGains this should be done now

[2021-08-11 15:52] balajialg commented on #2197
@yuvipanda Super helpful! I didn't realize that we have an announcement list set up already. Great news! It will be beneficial from a support process outreach standpoint.

I will start speaking to a few service leads at RTL to figure out their existing communication processes and understand how we could integrate ours to a system-wide outreach. On another note, What does "change board" mean?

[2021-08-11 17:42] felder commented on #2197
@balajialg every Tuesday representatives from each IT dept. participate in a weekly change board meeting where proposed scheduled maintenance events and their impacts are discussed.  At that time, everyone present has an opportunity to ask questions if desired about how a change might impact their own service as well as raise any objections if a change would cause unacceptable downstream effects.

[2021-08-11 20:02] balajialg commented on #2197
That's helpful, @felder! I have few questions related to the change board. Please feel free to answer either here or over Slack when you have time!

1) Which RTL services are part of the change board? Any documentation in Confluence that I could potentially look at to understand how they engaged with this process?
2) Do we have any existing dependencies with central IT? If yes, How did we engage w

[2021-08-11 21:17] felder commented on #2197
@balajialg

1.  It's somewhat discretionary based on what the service lead thinks, but bcourses is a big one.  Confluence documentation can be found here:  https://confluence.ets.berkeley.edu/confluence/display/CE/RTL+Change+Management+and+Service+Status
2. Yes.  For example we rely on bcourses for authentication and bcourses relies on calnet.  Similarly we require access to SIS API data in order

[2021-08-11 21:46] balajialg commented on #2197
@felder

Super helpful! Appreciate it. I will plan to attend a change board meeting in the next 2-3 weeks to get a sense of the process.

[2021-08-12 02:56] mdshapiroLBL commented on #653
There are only 2 classes where root and Pythia8 would be used (physics 129
and 226) but for those, it would be great!  I agree that. Separate hub
makes sense.  I think they do the same thing at NERSC.  For my class,
Pythia8 and Root would be great additions for the students' final projects
so it would be fine if the hub isn't available at the star of semester.

On Tue, Aug 10, 2021, 10:50 PM Yuvi

[2021-08-12 05:05] geneh0 opened #2527 "Request Jupyter package RISE for class PH252"
Hi! I'm not sure if we're allowed to request Jupyter extensions be installed, but the professor really likes the functionality of RISE slideshows and would like the features enabled for students using DataHub

**Which package do you want installed?**

[RISE](https://rise.readthedocs.io/)

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

publichealt

[2021-08-12 05:12] geneh0 opened #2528 "Public Health Hub Private Repo Authorization"
Hi, I'm working on a course that will be using the Public Health Hub. How do I go about granting it access to pull from a private repo via nbgitpuller? I found [this documentation](https://docs.datahub.berkeley.edu/en/latest/users/private-repo.html) for the main hub, but it doesn't seem to be able to pull from there.

[2021-08-12 05:16] yuvipanda commented on #1633
I'm doing this now fully, so we have the clear disk space before start of semester.

I've discovered we had an old set of home directories from other hubs in the datahub home directory setup - from before the time we had separate disks for each hub.

Disk space usage:

[code]

File update times:

[code]

I've temporarily moved them over to /export/ischool-2021-07-01/old-hub-files/ so the datahub a

[2021-08-12 11:02] #2527 closed, assigned to nobody

[2021-08-12 21:18] fperez opened #2532 ""Build recommended" page shouldn't appear for new users"
I just logged into the [Data 100 hub](https://data100.datahub.berkeley.edu) and got this one:

![image](https://user-images.githubusercontent.com/57394/129271240-87bfe7df-ef3b-4b23-8fd5-686bf61a628e.png)

I think we should have a build such that upon entry, no further action is needed by the user. These lab build screens are at best useless, at worst confusing/blockers for our students.

[2021-08-12 21:27] fperez opened #2533 "Python package bumps for datahub ahead of Fall 2021"
**Which package do you want installed?**

These are all installed but with older versions, it would be good to bump up to these current versions:

[code]

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

Data 100.

**Which class will use this package?**

Data100 - @fperez and @alvinwan

**Which semester will this package be used for?**

Fall 2021

[2021-08-12 21:28] fperez commented on #2533
For reference, these are the current versions on the 100 hub

[code]

[2021-08-12 21:29] fperez commented on #2533
In case anyone wants to do a quick check of what's there upon import (rather than checking conda/mamba package lists, to avoid any potential kernel namespace confusions), I use this snippet to quickly see what's in my various environments:

[code]

[2021-08-13 17:48] balajialg opened #2535 "Request some packages on eecs hub"
**Which package do you want installed?**
1. Emacs
2. Gdb
3. Gfortran
2. Upgrade gcc to version 10.0
3. OpenBlas
4. Lapack
5. Armadillo

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
EECS Hub

**Which class will use this package?**
Server Engineering for Scientific Computing class as part of **Master of Molecular Science and Software Engineering (

[2021-08-13 17:51] balajialg commented on #2535
@yuvipanda @felder Can you please take a look and let me know the feasibility of installing gfortran and upgrading gcc?

[2021-08-13 18:05] yuvipanda commented on #2535
Heya!

gfortran, gdb and emacs should be no problem. I think upgrading gcc will be difficult though. You can use https://packages.ubuntu.com/ to see what version of packages are available - our Ubuntu version is 'focal'. I think 9.3 is latest available?

[2021-08-13 18:07] balajialg commented on #2532
Hi, @fperez I am Balaji Alwar, Service Lead for Datahub. Thanks for raising this issue! I tried replicating this issue at my end by logging into Data 100 hub, but I am not able to see the error message. Couple of questions,

1. Did you log in and open any specific file, or you got this prompt immediately post your login?
2. Is it possible to check if anyone else in your teaching team is also getti

[2021-08-13 18:13] balajialg commented on #2528
Hi @geneh0,

Did you complete all the steps outlined in the documentation and create a nbgitpuller link? If yes, Can you share the URL and also the snapshot of the error message that you are receiving? We will take a look and get back with our inputs.

[2021-08-13 18:36] balajialg commented on #2535
Thanks a lot! Yes, it's [version 9.3 ](https://packages.ubuntu.com/focal/gcc-9)

[2021-08-13 22:40] balajialg opened #2536 "Define and communicate SLA for user requests"
**Summary**:
Given the extensive data collected over the past few years while creating new hubs, installing new packages, data archival requests or increasing the RAM size, It would be an ideal time to start thinking about defining SLA for such repeatable requests.

**User Story**
- As a Datahub user, I will be able to know the expected response time from the Datahub team if my requests are relate

[2021-08-14 00:01] geneh0 commented on #2528
Yes, I was able to get it to work with the main hub before, but when I changed the url to the public health hub I get the error below:
![image](https://user-images.githubusercontent.com/52678798/129428081-9c4553cf-73f8-443b-a09e-14c98a329c91.png)

The URL using the public health hub is
https://publichealth.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fpatrickbrads

[2021-08-14 02:22] fperez commented on #2532
Hi @balajialg, nice meeting you (sorry I owe you an email, been drowning :).  To answer your questions:

1. Immediately upon login.
2. I can check later.

It's not a big deal, no worries. But this might point you in the right direction:

[code]

[2021-08-14 02:23] fperez commented on #2532
That shows lab is looking for extensions under `/opt/conda/share/jupyter/lab`, and indeed there, under `extensions/`, I see a `jupyter-gmaps` tarball...

[2021-08-14 13:11] yuvipanda commented on #1633
prob140 was just cleaned!

[code]

data100 and datahub are going to be the biggies

[2021-08-16 15:29] yuvipanda commented on #2528
Thanks for opening this and the details, @geneh0. We can add support for private repos to publichealth hub. When do you need this by?

[2021-08-16 16:32] balajialg commented on #2532
@fperez That's super helpful. Thank you for taking the time to troubleshoot! Look forward to your email :)

@felder

[2021-08-16 18:30] geneh0 commented on #2528
Ideally by the start of the semester!

On Mon, Aug 16, 2021 at 8:29 AM Yuvi Panda < Yuvi Panda ( Yuvi Panda ***@***.***> ) > wrote:

[2021-08-16 19:53] yuvipanda opened #2540 "Prevent merges of prod -> staging"
We have a GitHub action check to enforce that only staging can be merged into prod, and prod can't be merged into staging:

<img width="604" alt="image" src="https://user-images.githubusercontent.com/30430/129621680-adc6af50-45b0-4952-9742-cce053653c22.png">

https://github.com/berkeley-dsep-infra/datahub/blob/staging/.github/workflows/prevent-prod-merges.yml

However, it doesn't seem to be enforc

[2021-08-16 19:54] yuvipanda commented on #2540
We should also document the branches better, and what they mean.

[2021-08-17 08:41] #2528 closed, assigned to nobody

[2021-08-17 08:42] yuvipanda commented on #2528
@geneh0 I've deployed this now, give it a shot?

[2021-08-17 10:33] yuvipanda commented on #536
@balajialg ran into issues here. We should use this as an excuse to write up docs properly.

[2021-08-17 10:34] yuvipanda commented on #2002
Closing this as spring 2020 is over

[2021-08-17 10:34] #2002 closed

[2021-08-17 10:34] #1379 closed

[2021-08-17 10:36] yuvipanda commented on #2231
@aculich sorry about the late response. Are you still interested in making profiles happen? If so we can try it out by adding config to https://github.com/berkeley-dsep-infra/datahub/blob/staging/deployments/dlab/config/common.yaml

[2021-08-17 14:35] aculich commented on #2231
Yes, I'd like to try it out still if possible. Let me know what next steps would be?

[2021-08-17 15:54] yuvipanda commented on #2255
Going to close this for now, re-open if you are still experiencing this.

[2021-08-17 15:54] #2255 closed

[2021-08-17 15:54] yuvipanda commented on #2062
This has been updated now!

[2021-08-17 15:54] #2062 closed

[2021-08-17 15:59] yuvipanda commented on #797
Going to close this one for now! Please re-open if you've other questions :)

[2021-08-17 15:59] #797 closed

[2021-08-17 17:16] #2023 closed

[2021-08-17 17:21] yuvipanda commented on #2207
https://github.com/berkeley-dsep-infra/datahub/pull/2544 fixes this hopefully on a more permanent basis.

[2021-08-17 17:21] #2207 closed

[2021-08-17 17:32] #2535 closed, assigned to nobody

[2021-08-17 17:39] yuvipanda opened #2550 "Document how to do various kinds of package installs"
We use many different package managers (apt, conda, pip, R's `devtools`, Julia's, `npm`) for the various images in this repo. Some are setup via a `Dockerfile,` and others use [repo2docker](https://repo2docker.readthedocs.io/en/latest/). We should document how various package addition requests can be serviced.

[2021-08-17 17:40] yuvipanda commented on #2533
@fperez should be all new now!

[2021-08-17 17:40] #2533 closed, assigned to nobody

[2021-08-17 17:42] yuvipanda commented on #2532
I had opened https://github.com/pbugnion/gmaps/issues/349 a while ago to try get it fixed, unfortunately upstream development seems to have stopped.

[2021-08-17 17:52] yuvipanda opened #2553 "Remove stat159 hub"
I am not sure if stat159 is happening this fall - can't find it on https://classes.berkeley.edu/search/class/stat159?retain-filters=1. If it isn't, we should remove that hub

[2021-08-17 18:06] yuvipanda commented on #2452
It's a little better now, but still broken

![Uploading image.png…]()

[2021-08-17 18:11] #2532 closed, assigned to nobody

[2021-08-17 18:50] geneh0 commented on #2528
@yuvipanda  How do I grant the hub access to the repo?

[2021-08-17 18:56] yuvipanda commented on #2528
@geneh0 I put the link for the GItHub app in [the documentation](https://docs.datahub.berkeley.edu/en/latest/users/private-repo.html)

[2021-08-17 19:01] geneh0 commented on #2528
@yuvipanda Just pulled successfully! Thanks!

[2021-08-17 20:41] balajialg opened #2555 "Decide on a support tool and workflow"
**Context:** [Continuing our discussion from the process [doc](https://docs.google.com/document/d/1Qru39fK-JiySdorIDMOaI6V2puldABmz9pVeFiHm1rc/edit?usp=sharing)]
Due to Piazza's existing data/advertisement policies and the benefits offered by a new discussion tool named Ed, few courses across the campus are transitioning to Ed. As a result, The campus is considering a long-term subscription for th

[2021-08-17 21:52] zbutzin opened #2556 "Request R package "tableone" for class PH252"
**Which package do you want installed?**

"tableone"

**Which hub do you want it installed on?**

Public Health DataHub

**Which class will use this package?**

[PBHLTH 252](https://classes.berkeley.edu/content/2021-fall-pbhlth-252-001-lec-001) - Patrick Bradshaw

**Which semester will this package be used for?**

Fall 2021 (yearly)

**Any additional information we should know about?**

I apologiz

[2021-08-17 23:58] ryanlovett commented on #2553
There's no stat159 according to the [Stat department website](https://statistics.berkeley.edu/courses/schedule?term_reference=6&level=UGRD&enrollment_status=&number_formatted=) either. Both get their info from the SIS.

[2021-08-18 08:17] #2553 closed, assigned to nobody

[2021-08-18 21:08] balajialg commented on #2008
@yuvipanda Has any thought given w.r.t parameters used to evaluate whether a course gets a separate hub?

You mentioned in #2008 that if a course requesting admins, that is a good indicator that we should consider providing separate to them. Should we also think about coupling that with parameters around class size, usage scope, financial support, etc., to narrow that decision?

[2021-08-18 21:09] balajialg commented on #2333
@yuvipanda Has any thought been given w.r.t parameters used to evaluate whether a course gets a separate hub?

You mentioned in #2008 that if a course requests admins, that is a good indicator that we should consider providing a separate hub to them. Should we also think about coupling that with parameters around class size, usage scope, financial support, etc., to narrow that decision?

[2021-08-18 22:43] balajialg opened #2570 "Develop Tier I FAQs for GSI/TA's acting as admins for respective hubs"
**Summary:**
Through user research with 5 GSI/TAs, I learned that they usually reach out to their peers/use their intuition/reach out to the datahub support slack group to raise their issues. They don't refer to any specific resource whenever a student raises an issue. This leads to a hypothesis that **"If we provide supportive documentation then GSI/TAs could solve for some of the raised issues a

[2021-08-19 00:39] ericvd-ucb commented on #2570
and in addition - there is probably some documentation within the internal documents of Data 8 and Data 100 staff that have a lot of this .... but outside of that I would like this info to be here https://ds-modules.github.io/curriculum-guide/intro.html maybe in a new section called troubleshooting and support

[2021-08-19 10:26] yuvipanda commented on #2555
I think our options are to have it where most of our classes are (which might be Piazza) or on both.

[2021-08-19 17:04] yuvipanda commented on #2452
I tried to run it locally from my machine, and the culling works ok. But when running the same from inside the hub pod it doesn't work....

[2021-08-19 17:52] felder commented on #2556
cran does not appear to have a linux binary for this.
https://cran.r-project.org/web/packages/tableone/index.html

Trying to add it the easy way fails with:

[code]

[2021-08-19 19:05] felder commented on #2556
Seems to work on staging.

[code]

[2021-08-19 19:22] spagangriso commented on #653
Hi @yuvipanda ,
 I'll be teaching physics 226 this fall semester and would be indeed great for the students to be able to use an image having ROOT and python3 (and pythia8 if possible, but that's lower in priority).
 Thanks!
Simone Pagan Griso

[2021-08-19 19:24] felder commented on #2556
Works in prod.

[2021-08-19 19:24] #2556 closed, assigned to felder

[2021-08-20 00:17] dbroockman opened #2579 "Request R package estimatr for class PS 3"
**Which package do you want installed?**
`estimatr`

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
r.datahub

**Which class will use this package?**
PS 3 Fall 2021, David Broockman

**Which semester will this package be used for?**
Fall 2021 and Spring 2022

**Any additional information we should know about?**
The package is available on CRAN.

[2021-08-20 00:43] balajialg commented on #2570
that sounds great @ericvd-ucb! Do you have access to the Data 8 and Data 100 documentation that I could repurpose?

[2021-08-20 00:45] balajialg commented on #2555
Yes, It seems like it is Piazza that will get widely used. I will speak to folks at RTL to get a sense of Ed's reach across other courses.

[2021-08-20 08:42] yuvipanda commented on #2452
This started appearing at about the same time https://github.com/jupyterhub/jupyterhub/pull/3488 was deployed to our hubs, bumping us to JupyterHub 2.0. Reverting that seems to fix the issue, at the cost of losing that functionality. I've backported just that functionality to JupyterHub 1.4.x (https://github.com/jupyterhub/jupyterhub/pull/3579), and will try to include that instead now.

[2021-08-20 11:28] yuvipanda commented on #2452
I think https://github.com/berkeley-dsep-infra/datahub/pull/2581 fixes this.

[2021-08-20 11:39] yuvipanda commented on #2452
<img width="1436" alt="image" src="https://user-images.githubusercontent.com/30430/130227765-8a34707f-c6b4-4a82-8add-022f258f8bbe.png">

it is indeed fixed!

[2021-08-20 11:39] #2452 closed, assigned to nobody

[2021-08-20 14:14] minrk commented on #2452
How many users do you have? 2.0 introduces pagination to the API, so if the idle-culler isn't paging requests and you have more than one page of users (200 by default), you might only be culling a subset of users. That would explain why a bunch of users never get culled. You can get 1.x behavior with `c.JupyterHub.api_page_max_limit = 99999`. See also https://github.com/jupyterhub/jupyterhub/pull/

[2021-08-20 14:26] yuvipanda commented on #2452
@minrk yeah I'm pretty sure it's the lack of pagination that was causing issues. We should support pagination support in idle culler regardless, yeah?

[2021-08-20 17:27] felder opened #2585 "rstudio on datahub and r hub gives 404"
rstudio on datahub and r hub gives 404

logs show:

[code]

This is surely related to #2582

[2021-08-20 18:03] balajialg opened #2586 "Public Health Repo throwing error"
publichealth.datahub.berkeley.edu  server with people trying to access a datahub link for the first time (see below). Restarting the individual servers seems to work, but we don't want to have 100 people emailing us with this question when the datahub link gets released next week. Any idea why this is happening/how to pre-empt it? [It](url) seems to be happening for some but not all testers.****

[2021-08-20 18:48] balajialg commented on #2586
@yuvipanda How to avoid this error going forward?

[2021-08-20 18:48] #2585 closed, assigned to nobody

[2021-08-20 18:48] balajialg commented on #2585
Thanks @yuvipanda

[2021-08-20 19:03] felder commented on #2586
![image](https://user-images.githubusercontent.com/1211730/130281649-271ba023-b666-4e7a-9bee-5b1cf2f86888.png)

[2021-08-20 19:58] yuvipanda commented on #2586
From looking at the screenshot, we notice the `[...]` characters in the git URL, suggesting that the URL was somehow 'corrupted' before being clicked. We see that if you paste the link on slack, it displays it with the `[...]` (something like https://publichealth.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithu[...]Intro-to-Epidemiology), and if you click that, you get the

[2021-08-20 19:58] #2586 closed, assigned to nobody

[2021-08-20 20:00] felder commented on #2586
heh yeah I thought maybe the error message was truncating the URL :P

[2021-08-20 20:07] yuvipanda commented on #2586
I opened https://github.com/jupyterhub/nbgitpuller/issues/198 upstream

[2021-08-20 20:13] yuvipanda commented on #2585
Fixed by https://github.com/berkeley-dsep-infra/datahub/pull/2588

The logs @felder found indicated a version conflict with `jupyter-client`:

[code]

pypi.org/project/jupyter-client had just had a release about 18h prior, and it was a major version bump. It was brought in as a transient dependency, and so wasn't pinned. So this was incidentally picked up during the image rebuild of https://github

[2021-08-20 20:17] balajialg commented on #2586
that's awesome @yuvipanda ! Who maintains nbgitpuller repo actively?

[2021-08-20 20:20] yuvipanda commented on #2586
@balajialg https://github.com/jupyterhub/nbgitpuller/graphs/contributors has a list of contributors. Recently, @sean-morris has been working on it from Berkeley - although he hasn't been doing anything in the UI space yet.

[2021-08-20 21:17] balajialg opened #2589 "Establish a process to get important workshop/event/assignment dates from varied hubs"
# Summary
Currently, we don't have a lot of visibility w.r.t. varied workshops, events, and deadlines across the courses and labs using datahub. Today, we had an issue with R Studio throwing 404 during a D-Lab workshop having 300 students causing a severe outage. We need to figure out a process to avoid such outages or increase our monitoring to respond better when such issues crop up during cours

[2021-08-20 22:56] felder commented on #2330
I don't believe there's any more work to do here.  Please reopen and let me know if there is.

[2021-08-20 22:56] #2330 closed

[2021-08-20 23:27] felder commented on #2524
Giving these a shot first:
https://cran.r-project.org/web/packages/Epi/index.html
https://cran.r-project.org/web/packages/foreign/index.html

[2021-08-20 23:39] felder commented on #2524
That seems to have worked.

@yuvipanda PR #2590 awaits your review.

[2021-08-20 23:45] felder commented on #2579
https://cran.r-project.org/web/packages/estimatr/index.html

[2021-08-20 23:47] dbroockman commented on #2579
That's the one.

[2021-08-21 00:18] felder commented on #2579
@yuvipanda PR #2592 awaits your review.

[2021-08-21 04:54] #2579 closed, assigned to felder

[2021-08-21 04:58] #2524 closed, assigned to felder

[2021-08-23 08:14] minrk commented on #2452
Yes, 100%. I'd wait for https://github.com/jupyterhub/jupyterhub/pull/3535 to do it, though, since right now there's no indication of whether there's a next page. If you want to look at https://github.com/jupyterhub/jupyterhub/pull/3557 which I think we should land first, I'll finish up https://github.com/jupyterhub/jupyterhub/pull/3535

[2021-08-23 08:17] yuvipanda commented on #2452
@minrk great! Unfortunately I probably won't have time to do any review there for a few weeks at least :( Hopefully someone else can help there...

[2021-08-23 18:01] balajialg opened #2601 "Running a scheduler to check whether important services are functioning well across all the hubs!"
# Summary
Currently, we have no way of knowing whether the hub services are affected due to the version upgrade in our dependencies. We rely on either manual testing or users inputs to identify the disruption caused by some of these version upgrades. I define service as applications within the hub like R Studio.

To avoid this scenario, Is there a way to define a cronjob kind of service that runs

[2021-08-23 23:02] balajialg commented on #2555
Folks at RTL shared that there were around 270 instructors who used Ed and 3,548 instructors who used Piazza across the campus last year. I am assuming the majority of the classes will continue to use Piazza as their primary tool for engagement with students. Considering this data, I am proposing the following process,

- We have a general Piazza channel open to all hubs across the campus
- One Ed

[2021-08-24 00:01] balajialg opened #2604 "g++ not finding dependent libraries during run time in EECS Hub"
### Bug description

Able to compile the C++ files using g++, but getting the following errors during the run time.
/srv/conda/envs/notebook/bin/../lib/gcc/x86_64-conda-linux-gnu/9.3.0/../../../../x86_64-conda-linux-gnu/bin/ld: /srv/conda/envs/notebook/bin/../lib/gcc/x86_64-conda-linux-gnu/9.3.0/../../../../x86_64-conda-linux-gnu/lib/../lib/libstdc++.so: undefined reference to `aligned_alloc@GLIBC

[2021-08-24 01:12] fperez commented on #2533
Thx @yuvipanda! I see most things updated, but Lab seems to be still at 3.1.4 - that's a pretty critical one as there's a major issue with interactive input that was only resolved in 3.1.5... Current is 3.1.7, so we might as well update to that and we can hopefully let it be for the semester...

[2021-08-24 09:57] yuvipanda commented on #2555
Do the data8 staff already run one here?

I think it's important to try not change course practices as much as possible. Instead, my suggestion is that we ask them to come to the central piazza as the place for getting in touch with us, and let them manage it internally however they want. While I agree that moving away from slack is helpful, it's also probably a losing battle if folks use slack fo

[2021-08-24 10:47] yuvipanda commented on #2589
For big classes (everything with > 200 students, let's say) we should also get information on when their labs are, and when big homework is due.

[2021-08-24 13:18] minrk commented on #2452
idle-culler pagination support: https://github.com/jupyterhub/jupyterhub-idle-culler/pull/30

[2021-08-24 16:20] balajialg commented on #2586
Thanks @yuvipanda

[2021-08-24 16:34] balajialg commented on #2555
Yes, Data 8 course staff have moved to Ed from Piazza. Re: Conversation thread with Ani! Considering the volume of Data 8, we might need to support their Ed channel (at least that's the expectation I got from the conversation with Ani)

I like your articulation that "We won't monitor their specific slack channel and will monitor a specific piazza for escalations".

[2021-08-24 16:39] fperez opened #2606 "Make JupyterLab default landing environment for Data 100"
Once #2605 lands, we'll have JupyterLab 3.1.7 available. At that point, I'd prefer to make Lab the default endpoint for all students when they open the environment, instead of the classic notebook. I think we're at a point where we can start using Lab for courses like 100.

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**

data100 hub

**Which class

[2021-08-24 17:11] felder commented on #2604
The issue is the path by default is calling g++ from /srv/conda/envs/notebook/bin/g++

[code]

A quick solution is to run /usr/bin/g++

[code]

[2021-08-24 17:26] balajialg commented on #2604
Thanks a lot @felder! This is fantastic. I will inform the faculty

[2021-08-24 18:33] ryanlovett opened #2608 "Update PR documentation to include R packages"
# Template Credits: 2I2C
# Summary

The [docs for submitting a PR](https://docs.datahub.berkeley.edu/en/latest/admins/howto/new-packages.html#submitting-a-pull-request) mention conda, pip, and python, but don't mention R package management. One instructor was uncertain how to proceed. We should probably document the r-packages/ directories and the files it contains.

# User Stories

This is for in

[2021-08-24 20:33] balajialg commented on #2608
Thanks, @ryanlovett, for raising this important issue! If you could support me with relevant information, I could take a stab at getting this out by next month!

FYI, Yuvi created a related [issue ](https://github.com/berkeley-dsep-infra/datahub/issues/2550)sometime back!

[2021-08-24 20:40] balajialg commented on #2606
Thanks, @fperez! We will scope this request into our plan as soon as possible. Quick question - Do you want to see this set up before the start of the instruction?

[2021-08-24 20:47] balajialg commented on #2589
@yuvipanda Data 8 and 100 have their assignment dates listed publicly. I have added all the deadlines for these two courses to my calendar. I need to get this information for Data 140, Data 102, and Econ 140 too. Any other classes that I might have missed which have more than 200 students?

In terms of communicating these dates across the team, I thought of sending an invite to ds-infra. Any other

[2021-08-24 21:13] yuvipanda commented on #2604
We intentionally installed g++ with conda so they can have a newer version, vs the version from apt that's much older. However, this means I'm not sure what `ld` needs to find appropriate libraries.

[2021-08-24 22:47] balajialg commented on #2570
@yuvipanda @felder @ryanlovett Can you please take a look at this FAQ [document ](https://docs.ccv.brown.edu/jupyterhub/help-and-support/getting-support) whenever you have some free time?. It has a list of basic questions and issues GSI's/students might face while running hubs. I can start answering these questions based on the available information across ds-infra, slack, and GitHub issues if you

[2021-08-25 02:38] fperez commented on #2606
That would be ideal - I can always tell them to manually modify the URL to `/lab`, but it's obviously better to have it work out of the box, given the class size... If I recall, the actual switch is pretty trivial, it's a matter of adding

[code]

to `jupyterhub_config.py` - I can look into making a PR for you if that makes things easier on your end.

Thanks!

[2021-08-25 09:03] yuvipanda commented on #2570
@balajialg can we convert the doc to a jupyter book and iterate there? The structure will probably be a bit different than what's possible in a google doc.

Also I'm guessing the doc you wanted to link to is https://docs.google.com/document/d/18DyQVsuAXHkHIqRtSvbJLNiu95lts39tTAi_MupcZPw/edit (the current link in your comment also points to brown)

[2021-08-25 14:13] #2606 closed, assigned to yuvipanda

[2021-08-25 14:27] yuvipanda commented on #2606
@fperez done! Should be deployed to production in about 20-30min

[2021-08-25 14:32] yuvipanda commented on #2589
@balajialg let's create a new Google Calendar and putting everything on that? That way, we can toggle the calendar on / off as needed.

[2021-08-25 16:35] balajialg commented on #2606
Thanks, @fperez for the offer to make a PR and @yuvipanda for closing it!

[2021-08-25 17:11] balajialg opened #2619 "R Hub User Research"
**Next Steps:**

- [x] Balaji to dig deeper on the common challenges that R Studio users face
- [x] Balaji to find TA's/GSI's using R Studio for user research!
- [ ] Jonathan to figure out templates for PR that solicit the required information in a comprehensive way

**Open Questions**

1. [Jonathan] How to prioritize backlogs and estimate the time to completion?
2. [Balaji] What information do ou

[2021-08-25 17:29] balajialg commented on #2589
@yuvipanda Done. [Link ](https://calendar.google.com/calendar/embed?src=c_bs1c9i53hqrtjsb1psjdmpogtg%40group.calendar.google.com&ctz=America%2FNew_York)to the calendar

[2021-08-26 00:51] balajialg commented on #2570
Thanks, @yuvipanda for correcting the link! I am working on converting the document into a Jupyter Book. I will publish these changes asap!

[2021-08-26 07:22] yuvipanda opened #2622 "Decomission cs194 hub"
cs194 hub was 'special', and provided per-user postgres & mongodb servers with persistence. It's not being taught this semester, and should be removed.

Before we fully remove it, we should write a blog post!

TODO
- [x] Delete all PVCs in cs194-prod to cleanup disks
- [x] Remove cs194 from this repo
- [ ] Archive *all* cs194 home directories (or delete it all, pending response from the instructor

[2021-08-26 13:27] braddelong opened #2628 "2021-08-26 Th 6:22 PDT: 500 Internal Server Error..."
### Bug description

...in response to <http://datahub.berkeley.edu/user-redirect/interact?account=braddelong&repo=delong-python-problem-sets&branch=main&path=delong-jn-00.ipynb>.

<https://github.com/braddelong/delong-python-problem-sets/blob/main/delong-jn-00.ipynb> exists and, yes, runs on my machine...

How do I go about problem solving here?

Brad DeLong
Professor of Economics

### Environmen

[2021-08-26 15:58] andrewpbray commented on #2628
I'm running into the same problem with students in lab this morning for Stat-20. They're on r.datahub.berkeley.edu.

[2021-08-26 15:59] yuvipanda commented on #2628
I'm working on this now.

[2021-08-26 16:11] yuvipanda commented on #2628
This should be fixed now on datahub and r hub! Fix for other hubs is in progress

[2021-08-26 16:13] andrewpbray commented on #2628
Many thanks!

[2021-08-26 17:05] yuvipanda commented on #2628
Should be fixed in all the hubs now. Sorry for the inconvenience, @andrewpbray and @braddelong!

[2021-08-26 17:05] #2628 closed, assigned to nobody

[2021-08-26 20:01] balajialg commented on #2555
What is the effective way to communicate the support process to the teaching staff? How did the outreach happen previously? In the next few days, I would like to send an outreach message to the faculty and teaching staff through the [email list ](https://github.com/berkeley-dsep-infra/datahub/issues/2197) you all had created. I want to get your perspective on whether this is an effective way to do

[2021-08-26 21:51] balajialg opened #2634 "Piazza Issue reporting templates!"
**Summary**
During today's meeting (8/26), We discussed streamlining support queries using Piazza. We had an open question about configuring templates in Piazza so that it allows users to report bugs with all the required information. I am creating an issue so that we can investigate ways to configure this request.

**Tasks to be done:**
1. Investigate configuring the bug template in Piazza!
2. Ad

[2021-08-27 05:07] fperez commented on #2606
Wonderful, thanks so much @yuvipanda!! As you've seen elsewhere, we're seeing a bit of fallout from this, but I knew that would be the case :) Nothing to shake out those little lurkers like 1,100 eager students going live in prod. Life on the edge! 🚀 💥 😬

[2021-08-27 08:33] yuvipanda commented on #2606
@fperez thanks for taking the plunge :)

[2021-08-30 02:45] castroian opened #2639 "Request otter update for class PS3"
**Which package do you want installed?**
The most recent version of otter-grader, v3.0.6 (as of 8/29)

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
r.datahub

**Which class will use this package?**
Political Science 3 with David Broockman @dbroockman

**Which semester will this package be used for?**
Fall 2021

**Any additional information we sh

[2021-08-30 02:51] dbroockman commented on #2639
This is creating errors in notebooks we have going live on Tuesday for 350 students, so would appreciate a quick fix here if possible. Thank you!

[2021-08-30 05:00] yuvipanda commented on #2639
Fixed in https://github.com/berkeley-dsep-infra/datahub/pull/2640

[2021-08-30 05:00] #2639 closed, assigned to nobody

[2021-08-30 16:19] dbroockman commented on #2639
Thanks, @yuvipanda . Do you know when this fix will go live on the production servers?

[2021-08-30 17:03] yuvipanda commented on #2639
@dbroockman it's already live.

[2021-08-30 17:38] dbroockman opened #2646 "Request `testthat` R package update for class PS 3"
**Which package do you want installed?**
The most recent version of `testthat` from CRAN.

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
r.datahub

**Which class will use this package?**
PS 3 Fall 2021
Professor David Broockman (me)

**Which semester will this package be used for?**
Fall semester; class starts tomorrow.

**Any additional informat

[2021-08-30 17:38] dbroockman commented on #2639
Thanks. Turns out we also need `testthat` updated, I just made #2646 for this.

[2021-08-30 22:02] balajialg commented on #2646
@felder Request from the teaching team below! Can you please take a look into it asap?

_**Could you please update the testthat package on r.datahub today? The students will be working on these notebooks tomorrow at 5 PM and we want to avoid having them deal with the errors. Our GitHub issue is here: https://github.com/berkeley-dsep-infra/datahub/issues/2646**_

[2021-08-30 22:25] felder commented on #2646
https://cran.r-project.org/web/packages/testthat/index.html

[2021-08-31 01:26] felder commented on #2646
Phew it takes a while to build that image.

rstudio in staging reports:

[code]

[2021-08-31 01:47] felder commented on #2646
Done!

[2021-08-31 01:47] #2646 closed, assigned to yuvipanda, felder

[2021-08-31 01:52] balajialg commented on #2646
Thanks a lot, @felder for the quick turnaround! Appreciate it

[2021-08-31 06:45] dbroockman opened #2656 "Request R package `ottr` for class PS 3"
**Which package do you want installed?**
`ottr` v1.0.0, as installed from `devtools::install_github("ucbds-infra/ottr@stable")`

**Which hub do you want it installed on?  For example r.datahub, datahub, data100.datahub, etc.**
r.datahub

**Which class will use this package?**
PS 3 Fall 2021, Professor David Broockman

**Which semester will this package be used for?**
Fall 2021
Class starts today a

[2021-08-31 06:46] dbroockman commented on #2639
Turns out this updated the python package, but what we need is the new R package. I made #2656 to track the R package update issue.

[2021-08-31 16:16] balajialg commented on #2656
@dbroockman Do you have any time constraints with regards to the installation of this package?

[2021-08-31 16:17] dbroockman commented on #2656
We have class at 5 pm today. The notebooks throw an error because the package is out of date.

[2021-08-31 17:50] balajialg commented on #2656
@dbroockman Thanks for your response.  Since our image build takes at least 3 hours, I want to confirm if any other package needs to be installed before your class today?

We understand the constraints at your end today trying to set up the environment for this class! From now on, if you could do the following, it would make life easier for us and help us improve the stability of the hub.
1. Befor

[2021-08-31 17:54] dbroockman commented on #2656
Thanks so much, and I'm really really sorry for the rush.

Yes, we've been working on the class all summer and have been testing everything along the way, including on DataHub. This issue arose because the the Otter grader itself was updated recently, and the updated version of Otter grader now compiles to notebooks that are not backwards compatible with the old `ottr` R package that is live on Da

[2021-08-31 18:10] balajialg commented on #2656
@dbroockman Thanks for your response! We can understand the challenge at your end.

We will communicate once the package gets installed.

[2021-08-31 19:15] #2656 closed, assigned to felder

[2021-08-31 20:18] yuvipanda commented on #2656
@dbroockman try now?

[2021-08-31 20:46] dbroockman commented on #2656
It works now! Thank you!!!

[2021-09-01 07:46] echarles commented on #2533
Posting here a copy of the issue report on gitter.

<img width="566" alt="Screenshot 2021-09-01 at 09 41 57" src="https://user-images.githubusercontent.com/226720/131632299-2b1758ae-d3a9-4b5c-bd18-1df8b97ab702.png">

The issue should be solved with a release of a new JupyterLab 3.1.10 (cc/ @blink1073 @goanpeca).

@fperez @yuvipanda To mitigate today the issue before the release, you can set (or as

[2021-09-01 08:38] yuvipanda commented on #2533
Thanks for the shout out, @echarles. I'll just wait for 3.1.10 - we're on 3.1.9 currently.

[2021-09-01 09:12] yuvipanda commented on #2656
@dbroockman how did the class go?

[2021-09-01 14:35] dbroockman commented on #2656
Worked great!! Thank you!!!

[2021-09-01 15:03] balajialg opened #2663 "Sprint Planning Meeting #1: September 2nd"
Hi All,

Given that tomorrow's meeting will be the first and only sprint planning meeting for September, I would like us to set an agenda for open items that need to get discussed tomorrow.  Would you please add open items and expected time for discussion to this list whenever you have some time today? Thanks!

**Agenda**
1. Decide the overall priorities for September! (20-25 mins)
2. Define how w

[2021-09-01 16:53] fperez commented on #2533
Heads-up @yuvipanda - 3.1.10 is now out on PyPI.

This one is hitting us on Data100 hard (Multiple students super-confused by it), so if you have a chance to pull an update, it would be phenomenally appreciated.

cc @consideRatio too, as it's the same one @whyjz hit on the JMTE hub :)

[2021-09-01 16:55] fperez commented on #2533
Huge thanks to @echarles  for keeping an eye here on our use case, immensely appreciated!

ps - I have to hop on a meeting now, but will check [10732](https://github.com/jupyterlab/jupyterlab/issues/10732) ASAP. I know you worked hard on that too based on our concerns, and very much appreciate it.

[2021-09-01 17:03] yuvipanda commented on #550
Superseeded by https://github.com/berkeley-dsep-infra/datahub/issues/2555

[2021-09-01 17:03] #550 closed