[2022-08-26 08:54] lukeliu0415 opened #3646 "Request python package pgspecial for class Data101"
### Package Name

pgspecial

### Hub details

- Hub: Data101
- Language: Python

### Course Name

Data 101, Lakshya Jain
data101.org

### Semester Details

Fall 2022

### Installation Deadline

ASAP, but no later than 09/02. Thank you!

[2022-08-26 09:17] fperez commented on #3630
BTW, I ran into the issue that your script can potentially create environments that don't actually resolve due to version conflicts... So, inspired by this, I finished [the one I had started](https://github.com/fperez/homesetup/blob/main/usr/bin/env-update.py). It has to be used differently as it relies instead on looking at the actual current packages in a system, but for my use case (refreshing

[2022-08-26 09:33] fperez commented on #3630
NVM, it seems the current one is pretty good already. All done for now, but I finally have the script I wanted, thanks @yuvipanda!!

[2022-08-26 17:57] felder commented on #3643
Signed URL sent!

[2022-08-26 17:57] #3643 closed, assigned to felder

[2022-08-26 17:58] felder commented on #3644
Signed URL sent!

[2022-08-26 17:58] #3644 closed, assigned to felder

[2022-08-26 18:00] felder commented on #3645
Signed URL sent!

[2022-08-26 18:00] #3645 closed, assigned to felder

[2022-08-26 20:09] Edward2721 opened #3648 "Data Science retrieval"
### Email Id

edward0818@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-08-26 20:32] #3646 closed, assigned to felder, balajialg

[2022-08-26 20:32] felder commented on #3648
Please provide the link to the datahub folder as referenced from the text file left within your account.

[2022-08-26 20:53] balajialg commented on #3575
Ah, thank you so much @fperez for clarifying my misconception! This is something @sitarn should watch out for if the plan is to use QGIS real-time in a classroom setting (taking into account the recurring campus wifi issues).

[2022-08-26 20:57] balajialg commented on #3638
@felder Are you comfortable doing the Github App configuration highlighted in [this link](https://github.com/jupyterhub/gh-scoped-creds)? If you are interested, I can block sometime in your bcal and we can do the confguration steps together during a zoom call next week (clubbing this with bcourses id request). Let me know if that's okay for you.

[2022-08-26 20:57] sitarn commented on #3575
Thanks for the heads up. Actually, we will only use it for demonstration in
class/labs and students will work on it on their own time for assignments
and projects. So, we  should be OK on bandwidth in the space where we plan
to use it in the lab (we were a year ago). Also, a bit of latency is not an
issue, comparing it with having to go from student to student to check
their computer configuration

[2022-08-26 21:26] felder commented on #3638
@balajialg no because it's not clear to me from the documentation which account should be used

[2022-08-26 21:32] felder commented on #3638
Actually it's probably this:
https://github.com/organizations/berkeley-dsep-infra/settings/apps

[2022-08-26 21:59] felder commented on #3638
@fperez can you give this another try?

[2022-08-26 22:49] fperez commented on #3638
![image](https://user-images.githubusercontent.com/57394/186999995-a9413ffc-bd5b-49d5-a58e-475c5559aa02.png)

thanks! The github part seems to be working, however for some reason, opening a terminal right now is stalling - I can never get to a shell prompt. Weird...

So I haven't been able to test to the end quite yet, though I think this should work, once I can get a working shell.

Any thoughts

[2022-08-26 22:50] fperez commented on #3638
Oh, never mind. It finally gave me a prompt!  Very odd - took several _minutes_ to get a shell prompt.

Testing the rest now.

[2022-08-26 22:55] fperez commented on #3638
![image](https://user-images.githubusercontent.com/57394/187000695-db8f6c0f-6e3f-4148-bcee-0e2e5a69a3cd.png)

🚀 🎉 !!

[2022-08-26 22:56] fperez commented on #3638
All set, huge thanks!

[2022-08-26 22:56] #3638 closed, assigned to felder, balajialg

[2022-08-26 23:41] yuvipanda commented on #3638
Thanks a lot, @felder and @balajialg!

[2022-08-27 03:02] amritamo opened #3654 "Retrieve my datahub files"
### Email Id

amoturi@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/amoturi.tar.gz

[2022-08-27 19:04] mannyzzle opened #3655 "data request"
### Email Id

enmah2001@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/enmah2001.tar.gz

[2022-08-28 16:11] msijangga opened #3656 "Issue: Data Archival Request"
### Email Id

Madelyn.sijangga@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/ischool/madelyn-2esijangga.tar.gz

[2022-08-28 20:06] sumedhshah94 opened #3658 "Want to retrieve copy of my files"
### Email Id

sumedhshah94@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/ischool.datahub.berkeley.edu/sumedhshah94.tar.gz

[2022-08-28 22:50] youhuawesome opened #3659 "Need access for review"
### Email Id

youhuawesome@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/youhuawesome.tar.gz

[2022-08-29 05:30] balajialg commented on #3638
Awesome, thanks a lot @felder and @fperez!

[2022-08-29 06:12] george-61b opened #3660 "Data 8 Archive"
### Email Id

liu.george@berkeley.edu

### Link to Datahub Folder

- gs://ucb-datahub-archived-homedirs/2022-1-spring/data8/liu-2egeorge.tar.gz

[2022-08-29 07:15] github-actions[bot] opened #3661 "Weekly Update - Monday, August 29th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-08-29 19:56] lcgasque opened #3662 "Retrieve Datahub files"
### Email Id

lcgasque@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/lcgasque.tar.gz

[2022-08-30 00:07] ryanlovett opened #3665 "Error uploading image to stat20 server"
A student in Stat 20 tried to upload an image to their server on stat20 but RStudio returned, "Unexpected response from server".

<img width="1383" alt="Screen Shot 2022-08-29 at 8 57 53 AM (1)" src="https://user-images.githubusercontent.com/10248125/187319734-2be2069d-f75b-4790-9c7a-5234bb4f5df7.png">

The images were created on an image, transferred to an M1 MacBook, and uploaded from there. I'v

[2022-08-30 00:35] danxzhu opened #3667 "old course file request"
### Email Id

dan.zhu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/dan-2ezhu.tar.gz
gs://ucb-datahub-archived-homedirs/2022-1-spring/prob140/dan-2ezhu.tar.gz

[2022-08-30 01:43] #3661 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-08-30 22:16] KChan35 opened #3669 "File Retrieval"
### Email Id

chanhokim@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/chanhokim.tar.gz

[2022-08-31 01:18] sacheth25 opened #3672 "Copy of data"
### Email Id

sachswami25@berkeley.edu

### Link to Datahub Folder

(gs://ucb-datahub-archived-homedirs/2022-2-summer/ischool/sachswami25.tar.gz)

[2022-08-31 02:23] nrashidi opened #3673 "gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/neemarashidi.tar.gz"
### Email Id

neemarashidi@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-08-31 04:24] Heejin-Kim92 opened #3674 "Data Archival Request"
### Email Id

heejin_kim@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/data100/heejin-5fkim.tar.gz

[2022-08-31 06:30] bryantla opened #3675 "Data Archival Request"
### Email Id

bryantla@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/eecs/bryantla.tar.gz

[2022-08-31 19:37] felder commented on #3654
Signed URL sent!

[2022-08-31 19:37] #3654 closed, assigned to felder

[2022-08-31 19:38] felder commented on #3655
Signed URL sent!

[2022-08-31 19:38] #3655 closed, assigned to felder

[2022-08-31 19:40] felder commented on #3656
Signed URL sent!

[2022-08-31 19:40] #3656 closed, assigned to felder

[2022-08-31 19:41] felder commented on #3658
Signed URL sent!

[2022-08-31 19:41] #3658 closed, assigned to felder

[2022-08-31 19:42] felder commented on #3659
Signed URL sent!

[2022-08-31 19:42] #3659 closed, assigned to felder

[2022-08-31 19:43] felder commented on #3660
Signed URL sent!

[2022-08-31 19:43] #3660 closed, assigned to felder

[2022-08-31 19:44] felder commented on #3662
Signed URL sent!

[2022-08-31 19:44] #3662 closed, assigned to felder

[2022-08-31 19:46] felder commented on #3667
Signed URLs sent!

[2022-08-31 19:46] #3667 closed, assigned to felder

[2022-08-31 19:47] felder commented on #3669
Signed URL sent!

[2022-08-31 19:47] #3669 closed, assigned to felder

[2022-08-31 19:48] felder commented on #3672
Signed URL sent!

[2022-08-31 19:48] #3672 closed, assigned to felder

[2022-08-31 19:48] felder commented on #3673
I need the link to datahub folder that is present in your home directory when you log in.

[2022-08-31 19:50] felder commented on #3674
Signed URL sent!

[2022-08-31 19:50] #3674 closed, assigned to felder

[2022-08-31 19:51] felder commented on #3675
Signed URL sent!

[2022-08-31 19:51] #3675 closed, assigned to felder

[2022-08-31 19:52] felder commented on #3673
Never mind I see you put it in the title.

[2022-08-31 19:52] felder commented on #3673
Signed URL sent!

[2022-08-31 19:52] #3673 closed, assigned to felder

[2022-08-31 21:21] ashleybird opened #3676 "Retrieve old assignments from DATA C200 Fall 2021"
### Email Id

a.bird@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/a-2ebird.tar.gz

[2022-09-01 02:07] williampu8889 opened #3677 "Retrieve files"
### Email Id

jcp0907@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jcp0907.tar.gz

[2022-09-01 18:21] balajialg commented on #3621
- [x] @ericvd-ucb to provide context about the use case!

[2022-09-01 19:44] ericvd-ucb commented on #3621
Some background - this is used by Prof Robin Ball
Main repo is here  https://github.com/ds-modules/MCB-32
QGrid is called in a Python script external to notebooks
 https://github.com/ds-modules/MCB-32/blob/master/lab05/qgrid_bridge.py

The point is that student are introduced to tables, then they enter data into a table from a lab, then they use their own lab data to explore topics such as visuali

[2022-09-01 19:56] balajialg commented on #3316
@felder Didn't get time to go through this issue during this meeting. I remember you fixing some of the grafana graphs. Can you please share an update for this issue?

[2022-09-01 20:31] ericvd-ucb commented on #3621
I think the solution might be https://github.com/QuantStack/ipysheet

[2022-09-01 20:51] yuvipanda commented on #3621
@ericvd-ucb yes that looks like a good replacement! Should I add it to datahub?

[2022-09-01 20:53] felder commented on #3316
@balajialg the issue you're referring to is not related to these changes.

The more recent issue with the graphs had to do with deprecated metrics which Yuvi fixed, but we needed to manually deploy.  Changes to the graphs via the repo don't get deployed automatically.

I used deploy.py as outlined here to do that:
https://github.com/jupyterhub/grafana-dashboards

[2022-09-01 21:29] ryanlovett commented on #3621
@yuvipanda @ericvd-ucb There was also ipydatagrid which was presented at Bloomberg recently, https://github.com/bloomberg/ipydatagrid. (just fyi, I've no opinion)

[2022-09-01 23:28] ericvd-ucb commented on #3621
hmm that looks better
I guess we should work on rebuilding the notebooks and then... figure out which one is better and install that

[2022-09-02 06:19] balajialg commented on #3621
I see no harm in installing both ipysheet and ipydatagrid unless we run into package versioning hell!

[2022-09-02 20:20] krishdesai7 opened #3678 "Datahub file request"
### Email Id

krish.desai@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/krish-2edesai.tar.gz

[2022-09-02 20:55] felder commented on #3676
Signed URL sent!

[2022-09-02 20:55] #3676 closed, assigned to felder

[2022-09-02 20:56] felder commented on #3677
Signed URL sent!

[2022-09-02 20:56] #3677 closed, assigned to felder

[2022-09-02 20:57] felder commented on #3678
Signed URL sent!

[2022-09-02 20:57] #3678 closed, assigned to felder

[2022-09-02 20:59] felder commented on #3648
Haven't heard back in a week.  Please reopen this if you still want your files.

[2022-09-02 20:59] #3648 closed, assigned to felder

[2022-09-02 21:12] ee120-staff opened #3679 "Xelatex Installation for EECS Hub"
### Bug description

[Using this issue template because the "Package addition" template doesn't seem to fit this situation]

Can we get Xelatex installed on the EECS hub? I'm trying to export an otter-grader notebook to PDF and I'm getting
[code]
Thank you!

### Environment & setup

- Hub:  EECS Hub
- Language: Python

### How to reproduce

1. Go to https://eecs.datahub.berkeley.edu/hub/user-redir

[2022-09-02 21:12] ee120-staff commented on #3679
If possible, can this be done before we release our first lab on 09/09?

[2022-09-02 21:33] OlufunkeFasawe opened #3681 "Data Archival Request"
### Email Id

olufunke_Fasawe@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/olufunke-5ffasawe.tar.gz

[2022-09-02 21:41] felder commented on #3681
Signed URL sent!

[2022-09-02 21:41] #3681 closed, assigned to felder

[2022-09-03 00:01] felder commented on #3679
xelatex installed!

[2022-09-03 00:01] #3679 closed, assigned to felder, balajialg

[2022-09-03 00:53] msakurajima opened #3684 "Data Archival Request"
### Email Id

xuyimo@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/data100/xuyimo.tar.gz

[2022-09-03 03:00] MilenaCCNlab opened #3685 "Data Archival Request"
### Email Id

milena_rmus@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/milena-5frmus.tar.gz

[2022-09-03 06:08] lilygonzalez1 opened #3686 "Data Archival Request"
### Email Id

liliana@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/liliana.tar.gz

[2022-09-05 07:23] github-actions[bot] opened #3687 "Weekly Update - Monday, September 5th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-09-05 19:03] fewaltix opened #3688 "Retieve my old Datahub Files"
### Email Id

felix.walther@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/f-2ewalther.tar.gz

[2022-09-05 22:49] jchavez72 opened #3689 "Retrieve copy of my files"
### Email Id

jfchavez4@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jfchavez4.tar.gz

[2022-09-05 23:20] Dominicliu129 opened #3690 "Unable to access the Data 100 Hub"
### Bug description

A number of Data 100 TA's and students are unable to access the Data 100 datahub.

Event log says "Spawn failed: Server at http://10.20.9.168:8888/user/xxxxxx/ didn't respond in 30 seconds"

### Environment & setup

- Hub: Data 100
- Language: All

### How to reproduce

Go to [Data 100 Hub](https://data100.datahub.berkeley.edu/hub/).

[2022-09-06 01:18] MeeraSharma opened #3691 "retrieve datahub files"
### Email Id

m.sharma@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/m-2esharma.tar.gz

[2022-09-06 04:38] mswink opened #3692 "I would like my old files to use as reference in my new classes"
### Email Id

mswink@berkeley.edu

### Link to Datahub Folder

- gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/mswink.tar.gz

[2022-09-06 05:47] yuvipanda commented on #3690
I responded on slack, but this should be fixed now. More details tomorrow

[2022-09-06 07:13] Dominicliu129 commented on #3690
Thanks!

[2022-09-06 08:15] rohanjha123 opened #3693 "Request an upgrade for python package otter-grader for class data 100"
### Package Name

otter-grader

### Hub details

- Hub: data100.datahub
- Language: Python

### Course Name

(https://classes.berkeley.edu/content/2022-fall-data-c100-001-lec-001)

### Semester Details

For all subsequent semesters

### Installation Deadline

As soon as possible please. We were planning on upgrading our otter version in the notebooks this semester, only to run into bugs because th

[2022-09-06 16:54] #3690 closed, assigned to felder, balajialg

[2022-09-06 18:29] enze-chen opened #3695 "Does DataHub w/ JupyterBook only work with "master" branch?"
### Bug description

Hello! I was trying to set up a simple Jupyter Book on the main DataHub and wanted to launch a Jupyter notebook in DataHub to test things, only to encounter the following error:

![branch_error](https://user-images.githubusercontent.com/20807339/188710571-24383368-944c-4764-b6d4-f1fa27ccc96b.png)

Indeed my default branch, which seems to be the git default for a while now, is

[2022-09-06 19:20] ryanlovett commented on #3695
Hi @enze-chen , you can append a branch=_branchname_ parameter to the gitpuller mechanism. See the [link generator](https://jupyterhub.github.io/nbgitpuller/link.html) for more information,  but you might use:

https://datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fenze-chen%2Fmse104l&urlpath=notebooks%2Fmse104l%2Flab1%2Fintro_python_jupyter_blank.ipynb&branch=main

[2022-09-06 19:20] #3695 closed, assigned to felder, balajialg

[2022-09-06 19:34] enze-chen commented on #3695
Thanks, Ryan! I'll give this a try :)

EDIT: Realized now that you mentioned it that it was my mistake in the _config.yml file, where I now specify to pull from the `main` branch. Sorry about that. Appreciate the fast response.

[2022-09-06 19:40] ericvd-ucb opened #3696 "Download options again"
### Bug description

I am getting a request from EEP 118 about download options

Currently the recommendation is to do "pdf via html"
When I looked at it on Sept6th - there are multiple choices labeled pdf via html

The one on the bottom works
The one in the middle doesn't work

Maybe the one on the bottom used to be called "pdf via Chrome" ?

### Environment & setup

- Hub:
R Hub / Jupyter R kern

[2022-09-07 07:24] zainashaik opened #3699 "Data Archival Request 1"
### Email Id

zainashaik@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/zainashaik.tar.gz

[2022-09-07 18:11] conrad-miller opened #3700 "request for old files"
### Email Id

ccmiller@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/ccmiller.tar.gz

[2022-09-07 18:27] andrewpbray opened #3701 "Stat 20 hub getting hung up over the weekend and this morning"
### Bug description

Over the weekend and this morning around 10 am, we've been seeing the Stat 20 getting hung up, where the browser becomes unresponsive. In some cases, refreshing the tab solves the problem. In others (like this morning around 10:15 am), neither refreshing nor restarting helps, but after a several minutes, it resumed working for everyone.

I realize the description here is vague

[2022-09-07 19:59] ryanlovett commented on #3701
@andrewpbray Can you please email me the logins of the students that experienced this, and if possible the times of those bad sessions? I can try to see if their sessions are associated with a bad node, or if there is something else in common.

@yuvipanda had to disable a bad cluster node over the weekend that was affecting other courses.

[2022-09-07 20:24] Elias326 opened #3702 "Request more RAM for class Legal Studies 190"
**Which hub do you want more RAM on?** Datahub

**Which class is this request for?** Legal Studies 190

https://classes.berkeley.edu/content/2022-fall-legalst-190-007-sem-007

**How many students do you expect in this class?** 15

An approximate number would do.

**How much RAM does this class need?** 2 GB

The default is 1GB of RAM per student.

**Why does this class need this much RAM?** Conduct

[2022-09-07 20:55] andrewpbray commented on #3701
Sure thing. I'll send over a few emails (one of them was me!).

[2022-09-07 21:36] yusraelbgal opened #3703 "Yusra Elbgal Data Archival Request"
### Email Id

yelbgal@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/yelbgal.tar.gz

[2022-09-07 23:25] ericvd-ucb commented on #3693
Is this going to resolve the Gradesope public tests issue?

[2022-09-07 23:28] rohanjha123 commented on #3693
That issue is resolved in otter 4.0.1, which data 100 is currently using (so, we don't have the issue for our most recent assignments). As of now, we ask students to manually upgrade their otter via datahub - this is so the default is otter 4.0.1 and students don't have to perform the upgrade on their end.

[2022-09-07 23:29] ericvd-ucb commented on #3696
And a further mess - the download options are different on RETRO !!

Looks to me like RETRO has more possible options
and guessing by the font - looks to me like the pdf option is PDF via Latex
not PDF via HTML or formerly PDF via Chrome
which is our recommended option

I am wondering if we could
1. reduce the number of options
2. resptore something like "pdf via Chrome" to the current situation o

[2022-09-07 23:55] martinjameswhite opened #3708 "Retreive files."
### Email Id

mwhite@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/mwhite.tar.gz

[2022-09-08 00:05] yuvipanda commented on #3701
Hey @andrewpbray. data100 was moved into the same pool that stat20 uses this semester, and that was causing some overcommitment issues for both them and others on the pool. I've moved them to their own pool now, and things seem to have settled down - if you have users currently experiencing issues, asking them to restart their server should also help a lot. Apologies for the issues!

[2022-09-08 03:56] genghisb opened #3709 "Data Archive Request"
### Email Id

mbraun@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/mbraun.tar.gz

[2022-09-08 16:16] azhouzhu opened #3710 "Retrieve a copy of my files"
### Email Id

azhouzhu1@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
- Mine: gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/azhouzhu1.tar.gz

[2022-09-08 17:59] #3693 closed, assigned to felder, balajialg

[2022-09-08 18:27] felder commented on #3702
Directives to do this in #3651 were in the wrong place!

Should be fixed when https://github.com/berkeley-dsep-infra/datahub/pull/3712 is merged.

Sorry for the inconvenience.

[2022-09-08 19:03] #3702 closed, assigned to felder, balajialg

[2022-09-08 19:11] felder commented on #3684
Signed URL sent!

[2022-09-08 19:11] #3684 closed, assigned to felder

[2022-09-08 19:12] felder commented on #3685
Signed URL sent!

[2022-09-08 19:12] #3685 closed, assigned to felder

[2022-09-08 19:13] felder commented on #3686
Signed URL sent!

[2022-09-08 19:13] #3686 closed, assigned to felder

[2022-09-08 19:16] felder commented on #3688
Signed URL sent!

[2022-09-08 19:16] #3688 closed, assigned to felder

[2022-09-08 19:17] quincyhuynh opened #3713 "Data Archival Request for quincy.huynh"
### Email Id

quincy.huynh@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/quincy-2ehuynh.tar.gz

[2022-09-08 19:17] felder commented on #3689
Signed URL sent!

[2022-09-08 19:17] #3689 closed, assigned to felder

[2022-09-08 19:18] felder commented on #3691
Signed URL sent!

[2022-09-08 19:18] #3691 closed, assigned to felder

[2022-09-08 19:19] felder commented on #3692
Signed URL sent!

[2022-09-08 19:19] #3692 closed, assigned to felder

[2022-09-08 19:22] felder commented on #3699
Signed URL sent!

[2022-09-08 19:22] #3699 closed, assigned to felder

[2022-09-08 19:23] felder commented on #3700
Signed URL sent!

[2022-09-08 19:23] #3700 closed, assigned to felder

[2022-09-08 19:24] felder commented on #3703
Signed URL sent!

[2022-09-08 19:24] #3703 closed, assigned to felder

[2022-09-08 19:26] felder commented on #3708
Signed URL sent!

[2022-09-08 19:26] #3708 closed, assigned to felder

[2022-09-08 19:27] felder commented on #3709
Signed URL sent!

[2022-09-08 19:27] #3709 closed, assigned to felder

[2022-09-08 19:28] felder commented on #3710
Signed URL sent!

[2022-09-08 19:28] #3710 closed, assigned to felder

[2022-09-08 19:29] felder commented on #3713
Signed URL sent!

[2022-09-08 19:29] #3713 closed, assigned to felder

[2022-09-08 20:51] Dominicliu129 opened #3714 "Add admin access to Data 100 Hub"
### Your Name

Dominic Liu

### Affiliated Course Name

Data 100

### Role

GSI

### Name of the Hub

Data 100

### End Date

- 12/31/2022

[2022-09-08 20:54] rohanjha123 opened #3715 "Request python packages pdfkit and PyPDF2 for class data 100"
### Package Name

Packages: pdfkit and PyPDF2

### Hub details

- Hub: data100.datahub
- Language: Python

### Course Name

https://classes.berkeley.edu/content/2022-fall-data-c100-001-lec-001

### Semester Details

For all subsequent semesters

### Installation Deadline

As soon as possible please. You just upgraded the otter version for data 100, which we're super thankful for! However, we just

[2022-09-08 22:24] azhouzhu opened #3716 "retrieve a copy"
### Email Id

azhouzhu1@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
- Mine: gs://ucb-datahub-archived-homedirs/2022-1-spring/data8/azhouzhu1.tar.gz

[2022-09-08 23:55] ilyaakdemir opened #3717 "Request more RAM for class LEGALST 190 - 3 GB"
Which hub do you want more RAM on? Datahub

Which class is this request for? Legal Studies 190

https://classes.berkeley.edu/content/2022-fall-legalst-190-007-sem-007

How many students do you expect in this class? 12

An approximate number would do.

How much RAM does this class need? 3 GB

The default is 1GB of RAM per student.

Why does this class need this much RAM? Conducting natural language

[2022-09-09 00:23] jdmarshl opened #3718 "Request more RAM for Legal Studies 123 Spring 2023"
**Which hub do you want more RAM on?**

datahub

**Which class is this request for?**

Legal Studies 123 Spring 2023 -- no link yet for Sp23 classes but I am Legal Studies Program Director so I know the course is going to run.

**How many students do you expect in this class?**

45

**How much RAM does this class need?**

Probably 3GB

**Why does this class need this much RAM?**

There are labs an

[2022-09-09 04:14] andrea2031 opened #3719 "Otter export failed due to a chinese font Issue!"
### Bug description

DATA 100 student found this error yesterday

(/usr/share/texlive/texmf-dist/tex/latex/jknapltx/mathrsfs.sty)kpathsea:make_tex: Invalid fontname `[FandolSong-Regular.otf]/OT', contains '['

*************************************************
* xeCJK warning: "fandol"
*
* Fandol is being set as the default font for CJK text.
* Please make sure it has been properly installed.
*****

[2022-09-09 05:43] ee120-staff opened #3721 "EECS Hub: LaTeX error eurosym.sty not found"
### Bug description

Sorry for yet another issue, but I'm getting
[code]
when trying to export a Jupyter notebook to PDF using otter-grader.
(There might be other latex package issues as well, but this is the error message showing up for the moment)

### Environment & setup

- Hub: EECS Hub
- Language: Python

### How to reproduce

1. Go to https://eecs.datahub.berkeley.edu/hub/user-redirect/git-p

[2022-09-09 17:14] ryanlovett commented on #3701
@andrewpbray said in person yesterday that they haven't had any server issues since.

[2022-09-09 17:14] #3701 closed, assigned to felder, balajialg

[2022-09-09 17:29] felder commented on #3716
Signed URL sent!

[2022-09-09 17:29] #3716 closed, assigned to felder

[2022-09-09 18:00] rohanjha123 commented on #3719
Hey, sorry but students are still running into this issue. Please let me know if you would like me to paste the error log of one of the recent student submissions here.

[2022-09-09 18:12] rohanjha123 opened #3726 "Fandol font issue in data100"
Hey, sorry for the inconvenience but students are still running into this issue. Please let me know if you would like me to paste the error log of one of the recent student submissions here.

_Originally posted by @rohanjha123 in https://github.com/berkeley-dsep-infra/datahub/issues/3719#issuecomment-1242302791_

[2022-09-09 18:17] felder commented on #3721
Now iftex.sty is missing.

Adding that.

[2022-09-09 18:33] felder commented on #3719
@rohanjha123 Can you verify that students are encountering this after they restart their server?

Alternatively, can you provide instructions on how to reproduce this issue?

[2022-09-09 18:36] felder commented on #3726
@rohanjha123 you do not need to open a new issue for the same problem.  Please just reopen the old issue.

[2022-09-09 18:36] #3726 closed, assigned to nobody

[2022-09-09 19:01] ee120-staff commented on #3721
Thank you so much!

Another question: we recently got 4GB of RAM for EE 120, but I still see "Memory: ____ / 2 GB" in the right-hand corner when I open an nbgitpuller link on the EECS hub. Is the 4GB of RAM just for students (i.e., I shouldn't be concerned about seeing 2GB on my end)?

[2022-09-09 19:20] rohanjha123 commented on #3719
This issue only seems to effect a few students who post on Ed about it. We tell them to restart their kernel, and they say they have done so. I'm not quite sure how to reproduce the issue as I don't have access to their datahub yet, but I can link their gradescope submission and error message if that helps. Once I get added to the data100 admins, I can go into their datahub and try debugging/repro

[2022-09-09 20:01] yuvipanda commented on #3719
@rohanjha123 they would need to start and stop their servers from the control panel (data100.datahub.berkeley.edu/hub/home) rather than just their kernels. Can you ask them to try that?

[2022-09-09 20:05] felder commented on #3719
@rohanjha123 I'm working on servicing a number of issues including the admin access for you.  So you should get that pretty soon.

Assuming the server restarts do not work, instructions to reproduce should assist us greatly in making sure the issue is solved.

Also one thing to note is that this issue tracker is public.  So any information you place here should be information that it's ok to share

[2022-09-09 20:31] felder commented on #3721
@ee120-staff Ok it's no longer complaining about fonts, but I now see:

[code]

However, not sure if that is a result of me not testing the notebook correctly.  Please test and let me know.  However, I may need assistance with debugging this issue since the error does not seem to directly ndicate a missing font/package.

Regarding, your question about RAM.  @ryanlovett should we expect that GSIs w

[2022-09-09 20:40] #3715 closed, assigned to felder, balajialg

[2022-09-09 20:52] ee120-staff commented on #3721
I'm getting the same error. I know it's not an error with the lab because it works fine on regular Datahub. I'm also not sure what could cause the error.

FYI: I don't need the increased RAM myself; I was just verifying that students would see increased RAM.

[2022-09-09 20:58] ryanlovett commented on #3721
@felder The current mechanism doesn't distinguish between the type of course affiliation, e.g. instructor, observer, ta, student, etc. for the purposes of resource allocation, only for admin privileges. If the user hasn't restarted their server since the configuration change, that could explain why the limit is still 2G.

However, the EECS hub along with a bunch of others was moved from CanvasAuth

[2022-09-09 21:13] felder commented on #3721
Grabbing the hub logs reveals the cause:

[code]

Looks like the same issue as #3719

[2022-09-09 21:25] felder commented on #3721
Also the same as #2714

[2022-09-09 21:25] felder commented on #3721
I'm going to add texlive-lang-chinese and see if that fixes it

[2022-09-09 21:26] #3714 closed, assigned to felder, balajialg

[2022-09-09 22:16] felder commented on #3721
Ok I tested this in staging and it works!  Changes deployed to prod.  @ee120-staff can you restart your server and try the test case again?

[2022-09-09 22:19] felder opened #3733 "Switch eecs hub to use CanvasOAuthenticator?"
### Bug description

In #3721 re: RAM allocations, @ryanlovett writes:

https://github.com/berkeley-dsep-infra/datahub/issues/3721#issuecomment-1242465565

However, the EECS hub along with a bunch of others was moved from CanvasAuthenticator to GenericAuthenticator [before Fall](https://github.com/berkeley-dsep-infra/datahub/commit/c6fc539b807ce392da936ea789ab00fe87554b6a), meaning it relies on th

[2022-09-09 22:21] felder commented on #3733
@yuvipanda is this something we should do?

[2022-09-09 22:21] ee120-staff commented on #3721
Works for me!

[2022-09-09 22:22] felder commented on #3721
ok, I opened a new issue with regard to the RAM, #3733...I'm going to close this one.

[2022-09-09 22:22] #3721 closed, assigned to felder, balajialg

[2022-09-09 22:24] ee120-staff commented on #3721
Thank you so much!

[2022-09-09 22:42] felder commented on #3717
This should land in prod in a few minutes.  After which time, a server restart should show the increased limit.

[2022-09-09 22:42] #3717 closed, assigned to felder, balajialg

[2022-09-09 23:37] rohanjha123 commented on #3719
After looking at the student submission closely, we managed to find that the student included a reference to an image that didn't exist on the datahub. This caused the LaTeX to crash, outputting the Fandol font error. However, there was nothing actually wrong with the font - it seems like LaTeX just outputs that error when anything breaks, causing the Fandol font to be a red herring for other issu

[2022-09-10 00:47] felder commented on #3719
Since @rohanjha123 said multiple students seemed to be impacted by this and it wasn't immediately clear if they had done server restarts, I suggested he keep this ticket open and examine any remaining issues on a case by case basis to see if there is anything actionable by us.

I'll revisit this issue early next week and likely close it.

[2022-09-10 06:38] yuvipanda commented on #3733
@felder if we want per-class allocations on the eecs hub, this is the only way for now - so seems like a good idea to do.

[2022-09-10 17:07] luclamontagne commented on #3504
I never accessed the signed URL, hoping to just reopen this and get a fresh link.

[2022-09-10 17:08] luclamontagne opened #3736 "Request retrieval of my Datahub files"
### Email Id

luc.lamontagne@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz](gs://ucb-datahub-archived-homedirs/2022-1-spring/genomics/luc-2elamontagne.tar.gz

[2022-09-10 17:34] gltmkm506 opened #3737 "my link: gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/lexu.tar.gz"
### Email Id

lexu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/lexu.tar.gz

[2022-09-11 21:08] rachel-weinberg opened #3738 "Request for admin access for ESPM 142"
### Your Name

Rachel Weinberg

### Affiliated Course Name

ESPM 142 (Insect Behavior)

### Role

GSI

### Name of the Hub

ESPM142.git (on R datahub)

### End Date

12/16/2022

[2022-09-12 07:30] github-actions[bot] opened #3739 "Weekly Update - Monday, September 12th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-09-12 15:29] andrewpbray opened #3740 "Students unable to log into Stat 20 Hub"
### Bug description

During lab this morning (8:15 am) a dozen students are unable to log into the Stat 20 hub.  Here's the screen they're getting. I'll send the emails of the affected students via slack.

![image (4)](https://user-images.githubusercontent.com/1627362/189694285-20618cdd-6388-4089-8c7c-763c7c0e63f9.png)

### Environment & setup

- Hub: Stat20
- Language: R

### How to reproduce

No

[2022-09-12 15:29] andrewpbray commented on #3740
@balajialg

[2022-09-12 21:59] nolanhorner opened #3743 "Retrieve a copy of files"
### Email Id

nolan.horner@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

The following text is the link to your datahub folder,
it must be included with your request:

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/nolan-2ehorner.tar.gz

[2022-09-13 05:29] cvhuynh1777 opened #3744 "I would like to retrieve some missing files."
### Email Id

cvhuynh1777@berkeley

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/cvhuynh1777.tar.gz

[2022-09-13 19:30] felder commented on #3736
Signed URL sent!

[2022-09-13 19:30] #3736 closed, assigned to felder

[2022-09-13 19:32] felder commented on #3737
Signed URL sent!

[2022-09-13 19:32] #3737 closed, assigned to felder

[2022-09-13 19:33] felder commented on #3743
Signed URL sent!

[2022-09-13 19:33] #3743 closed, assigned to felder

[2022-09-13 19:34] felder commented on #3744
Signed URL sent!

[2022-09-13 19:34] #3744 closed, assigned to felder

[2022-09-13 20:13] ryanlovett commented on #3733
We found out that the Canvas-to-Generic conversation also updated secrets via https://github.com/berkeley-dsep-infra/datahub/commit/11b885d2820905caa7f648ae6b9f4bcad767f955. So that change had to be reverted as well.

[2022-09-13 21:46] felder commented on #3719
Going to assume all is well here.  Please reopen this issue if otter export still no workie.

[2022-09-13 21:46] #3719 closed, assigned to felder, balajialg

[2022-09-13 21:59] felder commented on #3733
@ryanlovett not sure if I'm making a mistake, but modifying secrets as well as commenting out the generic_authenticator in common.yaml results in a 400 error for invalid client_id parameter value and it redirects to staging.datahub.berkeley.edu.

I verified in the bcourses admin console that the client_id and secret were correct and that eecs-staging is a permitted redirect URL.  Also verified tha

[2022-09-13 22:10] felder commented on #3738
Done!

[2022-09-13 22:10] #3738 closed, assigned to balajialg

[2022-09-13 23:45] ryanlovett commented on #3733
@felder I believe this is fixed by #3747. Lmk if it works for you.

[2022-09-13 23:52] felder commented on #3733
@ryanlovett thanks!  It seems to work.

@ee120-staff Can you please login to https://eecs-staging.datahub.berkeley.edu and let me know if you see the memory increase?

[2022-09-14 02:01] ee120-staff commented on #3733
@felder Yep, it shows the 4GB!

[2022-09-14 02:37] nicolebrynjo opened #3748 "Looking for all my Berkeley data files!"
### Email Id

nicole.brynjo@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/nicole-2ebrynjo.tar.gz

[2022-09-14 05:36] yiyaojiang-0830 opened #3750 "Issue: Data Archival Request"
### Email Id

yiyaojiang@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/yiyaojiang.tar.gz

[2022-09-14 17:18] audylauren opened #3751 "PSET1"
### Email Id

audylauren@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/audylauren.tar.gz

[2022-09-14 17:35] felder commented on #3733
@ryanlovett thanks for merging this to prod.

@ee120-staff ok that should do it!

[2022-09-14 17:35] #3733 closed, assigned to felder, balajialg, ryanlovett

[2022-09-14 17:36] felder commented on #3751
@audylauren did you intend to close this?  Do you still want your files?

[2022-09-14 18:01] felder commented on #3748
Signed URL sent!

[2022-09-14 18:01] #3748 closed, assigned to felder

[2022-09-14 18:04] felder commented on #3750
Signed URL sent!

[2022-09-14 18:04] #3750 closed, assigned to felder

[2022-09-15 04:14] airnapasorn opened #3753 "Files Request from Jupyterhub"
### Email Id

napasorn.s@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/napasorn-2es.tar.gz

[2022-09-15 05:10] A-meya opened #3754 "Accessing the file"
### Email Id

ameya.naik@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-09-15 05:28] 5mod8 opened #3755 "Retrieving Data 100 Files (Fa'21)"
### Email Id

meiji193@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/2022-2-summer/data100/meiji193.tar.gz

[2022-09-15 19:04] felder commented on #3753
Signed URL sent!

[2022-09-15 19:04] #3753 closed, assigned to felder

[2022-09-15 19:05] felder commented on #3754
@A-meya I need the link to datahub folder from the file that should be in your hub home directory.

[2022-09-15 19:06] felder commented on #3755
Signed URL sent!

[2022-09-15 19:06] #3755 closed, assigned to felder

[2022-09-16 05:54] ericvd-ucb opened #3757 "Request R package ipumsR for class Econ 140"
### Package Name

ipumsr

### Hub details

- Hub: R hub
- Language: R

### Course Name

Econ 140 - Ryan Edwards

### Semester Details

Fall 22 and into the future

### Installation Deadline

Not sure
@ryanlovett
@ryanedw

[2022-09-16 19:34] jhyoon-03 opened #3758 "Former UC Berkeley Student; Data Archival Request"
### Email Id

jhyoon03@berkeley.edu

### Link to Datahub Folder

- gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jhyoon03.tar.gz
-  gs://ucb-datahub-archived-homedirs/spring-2022/datahub/jhyoon03.tar.gz
-  gs://ucb-datahub-archived-homedirs/fall-2021/datahub/jhyoon03.tar.gz
-  gs://ucb-datahub-archived-homedirs/spring-2021/datahub/jhyoon03.tar.gz
- gs://ucb-datahub-archived-homedirs/fal

[2022-09-16 20:55] felder commented on #3757
@ryanlovett you were doing some work around installing the dependencies for this right?

[2022-09-16 21:24] eletra opened #3759 "please allow me to access these images"
### Email Id

borahl@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datags://ucb-datahub-archived-homedirs/2022-2-summer/datahub/borahl.tar.gzhub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-09-16 22:31] ryanlovett commented on #3757
@felder There shouldn't be any additional work regarding dependencies -- the existing installation process we have will work for this. It is just that a conversation about this particular library led to the realization around the HTTP user agent string. This was because installing from source failed, from within jupyter in the single user environment. Installing from CI should pull in binaries.

[2022-09-17 00:03] felder commented on #3758
Signed URLs sent!

[2022-09-17 00:03] #3758 closed, assigned to felder

[2022-09-17 00:05] felder commented on #3759
Signed URL sent!

[2022-09-17 00:05] #3759 closed, assigned to felder

[2022-09-17 17:46] mangaisundaram opened #3761 "PH142 Request"
### Email Id

mangai@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/ischool/mangai.tar.gz

[2022-09-17 20:14] ianhdong opened #3762 "Data 8"
### Email Id

ihdong@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/ihdong.tar.gz

[2022-09-18 00:29] umakrishnaswamy opened #3763 "Data Archival Request - Uma Krishnaswamy"
### Email Id

umakrishnaswamy@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

- location: gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/umakrishnaswamy.tar.gz

[2022-09-18 22:02] nishitabagaria opened #3764 "Retrieve my old DataHub Files"
### Email Id

nishitab@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/nishitab.tar.gz

[2022-09-19 07:31] github-actions[bot] opened #3765 "Weekly Update - Monday, September 19th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-09-19 15:49] A-meya opened #3766 "request for retrieval"
### Email Id

ameya.naik@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/ischool/ameya-2enaik.tar.gz

[2022-09-19 18:53] JesusG8456 opened #3768 "Data Archival Request!"
### Email Id

JesusG8456733@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/data8/jesusg8456733.tar.gz

[2022-09-19 20:01] finsenchiu opened #3769 "Trouble Logging into eecs.datahub.berkeley.edu"
EECS 16B students, and course staff reported that they are not able to log into eecs.datahub.berkeley.edu.  Error message received after clicking "Sign in with bCourses" was:

{"error":"invalid_request","error_description":"redirect_uri does not match client settings"}

[2022-09-19 20:44] zombieunipineapples opened #3770 "Retrieving archived files"
### Email Id

josephine.w@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/josephine-2ew.tar.gz

[2022-09-19 23:42] rshifren opened #3771 "Requesting datahub archives"
### Email Id

rafaelshifren@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/rafaelshifren.tar.gz

[2022-09-20 03:25] ryanlovett commented on #3769
Fixed by #3772.

[2022-09-20 03:25] #3769 closed, assigned to nobody

[2022-09-20 15:07] guilhemlabadie opened #3776 "gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/guilhem-2elabadie.tar.gz"
### Email Id

guilhem.labadie@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-09-20 18:30] jasminlee opened #3777 "retrieve old files"
### Email Id

jasminlee@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-09-20 19:22] felder commented on #3757
Done!

[2022-09-20 19:22] #3757 closed, assigned to felder, balajialg

[2022-09-20 19:37] felder commented on #3761
Signed URL sent!

[2022-09-20 19:37] #3761 closed, assigned to felder

[2022-09-20 19:39] felder commented on #3762
Signed URL sent!

[2022-09-20 19:39] #3762 closed, assigned to felder

[2022-09-20 19:43] felder commented on #3763
Signed URL sent!

[2022-09-20 19:43] #3763 closed, assigned to felder

[2022-09-20 19:44] felder commented on #3764
Signed URL sent!

[2022-09-20 19:44] #3764 closed, assigned to felder

[2022-09-20 19:46] felder commented on #3766
Signed URL sent!

[2022-09-20 19:46] #3766 closed, assigned to felder

[2022-09-20 19:47] felder commented on #3768
Signed URL sent!

[2022-09-20 19:47] #3768 closed, assigned to felder

[2022-09-20 19:48] felder commented on #3770
Signed URL sent!

[2022-09-20 19:48] #3770 closed, assigned to felder

[2022-09-20 19:49] felder commented on #3771
Signed URL sent!

[2022-09-20 19:49] #3771 closed, assigned to felder

[2022-09-20 19:49] felder commented on #3776
@guilhemlabadie I need the link to datahub folder from the file dropped into your home directory on the hub.

[2022-09-20 19:50] felder commented on #3776
Oh it's in the issue title.

[2022-09-20 19:51] felder commented on #3776
Signed URL sent!

[2022-09-20 19:51] #3776 closed, assigned to felder

[2022-09-20 19:51] felder commented on #3777
I need the link to datahub folder that's listed in the file dropped in your home directory on the hub.

[2022-09-20 19:52] felder commented on #3754
Please reopen this and provide the link if you still need your files.

[2022-09-20 19:52] #3754 closed, assigned to felder

[2022-09-20 19:52] felder commented on #3751
Please reopen this if you still need your files.

[2022-09-20 19:52] #3751 closed, assigned to felder

[2022-09-21 01:40] wwheeler6 opened #3778 "Student getting an error when trying to get in to datahub and pull changes"
### Bug description

A student in Public Health 251 is getting the attached error when attempting to get into data hub using the following link: https://publichealth.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2FPHW290%2FPHW251_Fall2022&urlpath=rstudio%2F
This is intended to pull updates from the course git repo and then open up Rstudio in data hub. She has tried

[2022-09-21 02:58] petersudmant opened #3779 "Request R package qqman for class IB134L"
### Package Name

https://github.com/stephenturner/qqman

### Hub details

- Hub: BIOLOGY
- Language: R

### Course Name

IB134L Peter Sudmant

### Semester Details

all semesters

### Installation Deadline

Ideally this week...

[2022-09-21 07:42] jonathanold opened #3780 "Error opening nbgitpuller links and synchronizing with github"
Several students and I have been getting errors when trying to open nbgitpuller links. The errors seem to be related to github not updating files in the datahub. Common error messages are:

`path 'Sections/107-108-Jonathan/testcode.ipynb' is unmerged`
`Command '['git', 'checkout', '--', 'Sections/107-108-Jonathan/testcode.ipynb']' returned non-zero exit status 1.`

The file `testcode.ipynb` has be

[2022-09-21 18:12] ericvd-ucb commented on #3780
@jonathanold  Please take a look at
https://ds-modules.github.io/curriculum-guide/technology/jupyter/troubleshoot-nbgitpuller.html

In many cases this is caused by some change in the underlying Github repo that causes the git pull to crash

I would recommend following the instructions to rename your folder and doing a "fresh" pull

[2022-09-21 18:14] ericvd-ucb commented on #3778
@wwheeler6
Please take a look at
https://ds-modules.github.io/curriculum-guide/technology/jupyter/troubleshoot-nbgitpuller.html
and see if renaming the folder to try a new pull will help

[2022-09-21 20:30] Solteacher opened #3782 "Help with data retrieval for all data that has been archived"
### Email Id

joshua5056@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-09-21 21:49] felder commented on #3782
Signed URLs sent!

[2022-09-21 21:49] #3782 closed, assigned to felder

[2022-09-21 22:42] felder commented on #3779
It's deploying to prod right now.

[2022-09-21 22:42] #3779 closed, assigned to felder, balajialg

[2022-09-21 22:43] petersudmant commented on #3779
Thanks!

On Wed, Sep 21, 2022 at 3:42 PM felder ***@***.***> wrote:

--
Peter Sudmant
Assistant Professor (he/him/his)
Department of Integrative Biology
University of California, Berkeley
510-664-4700

[2022-09-22 08:58] wangray1116 opened #3783 "Archived file recovery"
### Email Id

ruiwang23@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/ruiwang23.tar.gz

[2022-09-22 17:34] felder commented on #3783
Signed URL sent!

[2022-09-22 17:34] #3783 closed, assigned to felder

[2022-09-22 21:21] poojachitle opened #3784 "Requesting Copy of Files"
### Email Id

poojachitle@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/ischool/poojachitle.tar.gz

[2022-09-22 21:41] felder commented on #3784
Signed URL sent!

[2022-09-22 21:41] #3784 closed, assigned to felder

[2022-09-22 22:31] ericvd-ucb opened #3785 "Request python package sklearn for class compbio"
### Package Name

scikit-klearn

### Hub details

- Hub:
Biology Hub
- Language:
Python

### Course Name

BioE c146
Steven Brenner

ds4bio

### Semester Details

Fall 22 and into the future

### Installation Deadline

@stevenbrenner @joaoascensao

[2022-09-23 00:07] jonathanold commented on #3780
@ericvd-ucb - thank you for the quick reply. I have already tried the troubleshoot. Unfortunately, it does not solve my problem. The unmerged notebook (testcode) has already been deleted for a couple of weeks but seems to make problems.
How would I do a "fresh" pull (I tried renaming, re-uploading to github, and creating a new link, but without success)? or is there another way to reset nbgitpulle

[2022-09-23 04:44] arnavvermab opened #3786 "Want to retreive my datahub files for my last classes"
### Email Id

arnavverma@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/arnavverma.tar.gz

[2022-09-23 17:36] felder commented on #3786
Signed URL sent!

[2022-09-23 17:36] #3786 closed, assigned to felder

[2022-09-23 17:47] felder commented on #3785
@ericvd-ucb @stevenbrenner @joaoascensao

Is sklearn the same thing as scikit-learn?
https://scikit-learn.org/stable/

If not, can you point me to a URL that describes the package?

[code]

[2022-09-23 18:18] ericvd-ucb commented on #3785
sorry my bad - yes scikit-learn

[2022-09-23 18:19] ericvd-ucb commented on #3785
do we need to ask @petersudmant if its OK to add this to Biology?  its a pretty standard package thats on all the other hubs

[2022-09-23 18:25] petersudmant commented on #3785
Peter APPROVES!

(But Peter is also (sadly) not the overlord and his opinion doesn't matter)

On Fri, Sep 23, 2022 at 11:19 AM Eric Van Dusen ***@***.***>
wrote:

--
Peter Sudmant
Assistant Professor (he/him/his)
Department of Integrative Biology
University of California, Berkeley
510-664-4700

[2022-09-23 18:26] felder commented on #3785
@petersudmant Your opinion matters! :)

Hopefully on Monday we'll get you back in the saddle for making changes to Biology Hub.

[2022-09-23 23:49] felder commented on #3785
Deploying to prod.

[2022-09-23 23:49] #3785 closed, assigned to felder, balajialg

[2022-09-24 00:04] abdulwasayrida opened #3789 "Request to Retrieve Old Datahub Files"
### Email Id

Hello,

I'd like to request to retrieve my past work/assignments from my old datahub files so I can have a personal private copy.

This is the information given in the message:

======================================================
The following text is the link to your datahub folder,
it must be included with your request:

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/a

[2022-09-26 07:26] github-actions[bot] opened #3790 "Weekly Update - Monday, September 26th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-09-26 08:08] jonathanold commented on #3780
HI @ericvd-ucb - sorry for asking again, is there any update on this? Unfortunately, my datahub is still not running properly (and files from Gtihub are not being synched with the Datahub folder either). I would like to teach with Datahub this week, do you see a fix for my issues? Thanks!

[2022-09-26 17:40] felder commented on #3789
@abdulwasayrida Please provide your UC Berkeley email address.

[2022-09-26 18:41] ryanlovett commented on #3780
Hi @jonathanold , what is the full URL that triggers this?

[2022-09-26 18:43] jonathanold commented on #3780
Hi @ryanlovett - the URL in datahub is [this one](https://datahub.berkeley.edu/user/jonathan_old/tree/ECON-140-FA22-RDE/Sections/107-108-Jonathan) and from nbgitpuller, it's [this link](https://datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fds-modules%2FECON-140-FA22-RDE&branch=main&urlpath=retro%2Ftree%2FECON-140-FA22-RDE%2FSections%2F107-108-Jonathan%2FSection+3+

[2022-09-26 19:00] ryanlovett commented on #3780
@jonathanold Thanks. According to `git status`, your ECON-140-FA22-RDE working directory on datahub has diverged from the upstream repo. Would it be okay if I moved aside the current directory and initiated a new fetch? (the third bullet point from the troubleshooting guide)

[2022-09-26 19:44] jonathanold commented on #3780
@ryanlovett - yes, that would be great - Thanks!

[2022-09-26 19:47] ryanlovett commented on #3780
I renamed the directory, then visited your link without any errors. Can you confirm?

The original directory was renamed "ECON-140-FA22-RDE.orig".

[2022-09-26 19:51] jonathanold commented on #3780
@ryanlovett - thank you! It works now - I just realized that it should be the top directory which needs to be renamed. Super helpful, thanks again!

[2022-09-26 21:39] ryanlovett commented on #3780
Okay, great.

[2022-09-26 21:39] #3780 closed, assigned to nobody

[2022-09-27 23:04] Metaxo opened #3795 "Archival Request"
### Email Id

hanqiaoz@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/hanqiaoz.tar.gz

[2022-09-28 01:34] gforrest1026 opened #3796 "Archival Data Request"
### Email Id

gforrest1026@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/gforrest1026.tar.gz

[2022-09-28 04:55] rainsworldd opened #3797 "Liv Rainville Files request"
### Email Id

livrianville@berkeley.edu github username rainsworldd

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/livrainville.tar.gz

[2022-09-28 19:02] bobbyjle opened #3799 "data file recovery"
### Email Id

Bobbyjle44@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/bobbyjle44.tar.gz

[2022-09-29 07:07] juliannechen opened #3800 "Archive Request"
### Email Id

juliannechen@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/data8/juliannechen.tar.gz

[2022-09-29 07:56] natalia1600 opened #3801 "Please retrieve my files"
### Email Id

natalia16@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/data100/natalia16.tar.gz

[2022-09-29 21:18] jenrosas12 opened #3802 "Request to Retrieve Datahub files"
### Email Id

jenrosas12@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jenrosas12.tar.gz

[2022-09-29 22:23] mkoo opened #3803 "Please retrieve my Datahub files (for IB105)!"
### Email Id

mkoo@berkeley.edu

### Link to Datahub Folder

[- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
](gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/mkoo.tar.gz)

[2022-09-29 22:24] mkoo commented on #3803
HI @felder thanks for reinstating. I will need this for a class demo by 10/4!
Sooner is better since it probably needs polishing- thanks

[2022-09-29 23:09] abdulwasayrida commented on #3789
Sorry for the late reply! It's abdulwasayrida@berkeley.edu

[2022-09-30 18:01] felder commented on #3795
Signed URL sent!

[2022-09-30 18:01] #3795 closed, assigned to felder

[2022-09-30 18:03] felder commented on #3796
Signed URL sent!

[2022-09-30 18:03] #3796 closed, assigned to felder

[2022-09-30 18:04] felder commented on #3797
Signed URL sent!

[2022-09-30 18:04] #3797 closed, assigned to felder

[2022-09-30 18:05] felder commented on #3799
Signed URL sent!

[2022-09-30 18:05] #3799 closed, assigned to felder

[2022-09-30 18:06] felder commented on #3800
Signed URL sent!

[2022-09-30 18:06] #3800 closed, assigned to felder

[2022-09-30 18:07] felder commented on #3801
Signed URL sent!

[2022-09-30 18:07] #3801 closed, assigned to felder

[2022-09-30 18:08] felder commented on #3802
Signed URL sent!

[2022-09-30 18:08] #3802 closed, assigned to felder

[2022-09-30 18:09] felder commented on #3803
@mkoo I need the link to the datahub folder from the file that was left in your home directory.

[2022-09-30 18:11] felder commented on #3789
Signed URL sent!

[2022-09-30 18:11] #3789 closed, assigned to felder

[2022-09-30 18:12] felder commented on #3778
I'm going to assume this is fixed.  If it's not, please reopen.

[2022-09-30 18:12] #3778 closed, assigned to felder, balajialg

[2022-09-30 18:13] felder commented on #3777
Haven't heard back, so I'm closing.  Please reopen and provide me with the link if you still would like your files.

[2022-09-30 18:13] #3777 closed, assigned to felder

[2022-09-30 18:19] mkoo commented on #3803
I dont know where that zipped tar is (since i didnt do that) but this is where we had our code for the class:
https://github.com/ds-modules/IB-ESPM-105
thanks!

[2022-09-30 18:41] felder commented on #3803
@mkoo If you login to your account on the hub where it was archived, the archive process leaves a file with the link in it.  Are you able to login?

[2022-09-30 19:56] carlimariah opened #3804 "Data Archival"
### Email Id

carlioxenham@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz](gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/carlioxenham.tar.gz)

[2022-09-30 20:10] felder commented on #3804
Signed URL sent!

[2022-09-30 20:10] #3804 closed, assigned to felder

[2022-09-30 21:21] HuanzhiMao opened #3805 "data archival request"
### Email Id

huanzhimao@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/prob140/huanzhimao.tar.gz

[2022-09-30 22:52] d-alex-hughes opened #3806 "Increase compute resources for DATASCI 241 between specific date(s)/time(s)"
### Course Name

This is for the suite of courses numbered DATASCI 241. There are six seminars this semester, and each seminar is on the same course calendar, meaning that all of their work is stacked onto the same weekend.

- https://classes.berkeley.edu/content/2022-fall-datasci-w241-001-wbl-001
- https://classes.berkeley.edu/content/2022-fall-datasci-w241-002-wbl-002
- https://classes.berkeley.

[2022-10-02 23:36] mkoo commented on #3803
Thanks--
gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/mkoo.tar.gz

if you see another folder on the datahub... I was trying to resync with the
previous repo that was syncing with the datahub.
will this archive also restore links to the original repo on github? (
https://github.com/ds-modules/IB-ESPM-105)
Thanks

On Fri, Sep 30, 2022 at 11:41 AM felder ***@***.***> wrote:

[2022-10-03 07:19] github-actions[bot] opened #3807 "Weekly Update - Monday, October 3rd"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-10-03 17:56] felder commented on #3803
@mkoo

The files are not restored in place.

The way this process works is I email you a URL to the archived files, and you can download the archive to your personal computer, and then upload whatever files you want from it to the hub.

[2022-10-03 17:57] felder commented on #3803
Signed URL sent!

[2022-10-03 17:59] felder commented on #3805
Signed URL sent!

[2022-10-03 17:59] #3805 closed, assigned to felder

[2022-10-03 20:00] mackenziemoffit opened #3809 "Berkeley Files"
### Email Id

mackenzie.moffit

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/mackenzie-2emoffit.tar.gz

[2022-10-03 20:51] mkoo commented on #3803
HI @felder this link led me to a tar file that did not contain anything recognizable or useful
Is there no way to sync with an existing GH repo as before?

Perhaps the easiest thing to do at this late date is to upload my .pynb file to the datahub.
Please let me know how to share with my students now that I cannot use nbgitpuller to post a class link

[2022-10-03 20:56] mkoo opened #3810 "Request retrieval of my Datahub files - not complete"
### Email Id

mkoo@berkeley.edu

### Link to Datahub Folder

(gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/mkoo.tar.gz)
Continuation of Issue [#3803](https://github.com/berkeley-dsep-infra/datahub/issues/3803) (closed prematurely)

HI @felder the link you sent led me to a tar file that did not contain anything recognizable or useful
Is there no way to sync with an existing GH repo as b

[2022-10-03 21:53] #3810 closed, assigned to felder

[2022-10-03 21:55] felder commented on #3803
@mkoo The link leads to a gzipped tar archive.

Make sure when you save it, that the name ends with .tar.gz

If you're on a Mac it should just extract when you double click it.  On Windows, use 7-zip to open it:
https://www.7-zip.org/

I don't understand what you mean by this:

What's the issue you are having with nbgitpuller links?

[2022-10-03 23:29] mkoo commented on #3803
I tried to make a link to the repo I used before (which has the same files as the tar ball). This is the site we used in the past:
https://jupyterhub.github.io/nbgitpuller/link

This is the generated link:
https://datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fds-modules%2FIB-ESPM-105&urlpath=tree%2FIB-ESPM-105%2FBNHM_biodiversityExample-2022.ipynb&branch=master

B

[2022-10-03 23:39] balajialg commented on #3806
@d-alex-hughes Thanks for the heads up! I want to clarify the intent behind this request - Is it because RStudio is loading slowly for a few students in the ISchool hub during the past few weeks or something else? We are looking into this issue to evaluate whether any other fix other than the increased resource allocation would solve the problem you highlighted. There is a general issue with RStud

[2022-10-04 01:15] felder commented on #3803
@mkoo Maybe this page will help with your issue?
https://ds-modules.github.io/curriculum-guide/technology/jupyter/troubleshoot-nbgitpuller.html

Specifically, item 3.

[2022-10-04 01:30] d-alex-hughes commented on #3806
Thanks @balajialg! Here's a dialogue that we've had students report on several different occasions.

<img width="1037" alt="Screen Shot 2022-10-03 at 6 29 45 PM" src="https://user-images.githubusercontent.com/6474241/193715178-4d2b4929-22c0-4658-9fac-7c763cd7323e.png">

These issues seem to be occurring more frequently the evenings before assignments are due; and virtually never at other points. A

[2022-10-04 16:12] #3687 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-04 16:12] #3739 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-04 16:12] #3765 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-04 16:12] #3790 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-04 17:53] JantonZeng opened #3811 "data retrieval request"
### Email Id

email: hustlejanton@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/hustlejanton.tar.gz

[2022-10-04 18:01] felder commented on #3809
Signed URL sent!

[2022-10-04 18:01] #3809 closed, assigned to felder

[2022-10-04 18:05] felder commented on #3811
Signed URL sent!

[2022-10-04 18:05] #3811 closed, assigned to felder

[2022-10-04 22:22] balajialg commented on #3806
Got it. Thanks, @d-alex-hughes for the context! I will discuss this with @felder internally and decide the way forward.

[2022-10-04 22:23] LifeGains opened #3812 "Please send me my Datahub files"
### Email Id

<email redacted since public>

I logged into Datahub to download all my files that I have on here, since I received a message from Jonathan Henke that access to I School Unix/Linux servers will disappear 90 days after I graduate.

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/kevinfu.tar.gz

[2022-10-04 22:28] felder commented on #3812
Signed URL sent!

[2022-10-04 22:28] #3812 closed, assigned to felder

[2022-10-05 01:35] balajialg commented on #3695
@ryanlovett To avoid such issues, generally, I recommend folks use the nbgitpuller plugin that Yuvi created a year ago which eliminates the need for specifying branch. Documentation for the nbgitpuller plugin is mentioned [here](https://ds-modules.github.io/curriculum-guide/workflow/distributing-notebooks.html?highlight=interact%20links#nbgitpuller-link-generator). I updated the current link gener

[2022-10-06 05:02] mkoo commented on #3803
Thanks for the troubleshooting page. I did figure out the problem and have a working link now for the class.

For future reference, this is what the problem was. Github changed what the default branch is called from 'master' to 'main'. My older nbgitpuller script was looking for 'master' branches, and the repo itself was older using 'master' instead as 'main'. The new tool (chrome extension specif

[2022-10-06 05:02] #3803 closed, assigned to felder

[2022-10-06 07:04] alishalchen opened #3814 "Data Archival Request"
### Email Id

alishachen@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/alishachen.tar.gz

[2022-10-06 15:26] #3807 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-06 16:57] #3740 closed, assigned to felder, balajialg

[2022-10-06 18:54] felder commented on #3806
@d-alex-hughes we discussed this issue in our team meeting today.  We believe there might be two unrelated issues occurring.  The first is a tricky infrastructure issue with NFS that we've been working on solving over the previous month.  People who experience that issue will see a general slow down and will get popups similar to what you're reporting.

Secondly, we see some evidence that in a few

[2022-10-06 19:05] felder commented on #3803
@mkoo That actually rings a bell with me, the discussion in issue #3695 might be helpful.

Although I think you're using the recommended remedy.

[2022-10-06 19:49] balajialg commented on #3575
@sitarn Apologies for the delayed response at our end. September was crazy. Thanks to @yuvipanda's work a new Civil Engineering hub got deployed today. You can access it via this [URL](https://cee.datahub.berkeley.edu/). You can launch the QGIS application through the below steps,

1. Login using your bcourses credentials. It takes you directly to the bcourses application.
2. Launch QGIS
![image](

[2022-10-06 20:05] felder commented on #3806
Deployed to prod.

@d-alex-hughes please let us know if your students still have issues.

[2022-10-06 20:05] #3806 closed, assigned to felder, balajialg

[2022-10-06 20:09] d-alex-hughes commented on #3806
Thanks a lot @felder and @balajialg and team!

The students have another homework run coming due next week, so we will see increased load over the weekend. I'm also reminding them that as we ask them to do more sophisticated work, it becomes increasingly useful for students to provision their own machine.

[2022-10-06 22:44] balajialg commented on #3806
Thanks, @d-alex-hughes for your patience and the thoughtful request to the students. Please do let us know how the following few assignments fare in Datahub.

Thanks @felder for proactively making the required changes based on today's discussion.

[2022-10-06 22:58] balajialg opened #3820 "Shane Onboarding: Datahub Infra Access Checklist"
I am creating this issue to track whether all the required access details got provided to Shane. @felder Please feel free to add if I had missed any,

- [x] Berkeley-dsep-infra admin access
- [x] Grafana admin access
- [x] Circle CI access
- [x] GCP access
- [x] ds-infrastructure listserv access
- [x] Pagerduty access
- [x] Google Auto Scaling calendar access
- [x] Infoblox
- [ ] run prometheus lo

[2022-10-06 23:20] balajialg commented on #3803
@mkoo Sorry if this process took some time. Going forward, if you need support for any nbgitpuller-related issues or GitHub repository issues, you can also email me directly the issue - balajialwar@berkeley.edu.

[2022-10-06 23:36] felder commented on #3820
Access granted to all of the above...I think. :)

Let's keep this open a for a bit in case anything was missed or something doesn't work.

[2022-10-07 00:05] balajialg commented on #3820
Fantastic, Thanks @felder for the quick turnaround!

[2022-10-07 00:19] ryanlovett commented on #3820
I also gave him access to the Data Science Computing Infrastructure shared drive owned by ds-instr@berkeley.edu.

[2022-10-07 00:28] shaneknapp commented on #3820
woo!

[2022-10-07 00:32] shaneknapp commented on #3820
ill double-check everything tomorrow...  thanks for putting this together, @felder !

[2022-10-07 17:33] felder commented on #3814
Signed URL sent!

[2022-10-07 17:33] #3814 closed, assigned to felder

[2022-10-07 17:53] sitarn commented on #3575
Outstanding! Thank you very much and it is just in time.
Just one question: How do the students access the software? Using the same
link procedure as I did?
Thanks again for the help.
Nick Sitar

On Thu, Oct 6, 2022 at 12:49 PM Balaji Alwar ***@***.***>
wrote:

--
Prof. Nicholas Sitar, Ph.D.
Edward G. Cahill and John R. Cahill Chair
and
Distinguished Professor of Civil and Environmental Engineerin

[2022-10-07 17:56] shaneknapp commented on #3820
devops trello board(s)?

[2022-10-07 18:08] ryanlovett commented on #3820
There was an ancient (2016) trello board, but @balajialg has been using GitHub Projects for sprint planning.

https://github.com/berkeley-dsep-infra/datahub/projects?type=classic

I just closed out the ancient one which had me, Denero, Lau, and Anderson-Lee (from the local cluster semester!).

[2022-10-07 18:45] balajialg commented on #3575
@sitarn Thanks for testing QGIS immediately! Yes, Students will also follow the same process as you followed. Login to the CivEng hub and launch the QGIS application. A couple of questions,

1. Are you comfortable with the current version of QGIS?
2. You were looking at QGIS plugins as part of your requirement. Are you able to play with those plugins? Any feedback?

[2022-10-07 20:36] sitarn commented on #3575
Thanks. I am working on it. Pls give a bit of time as I slot this in with
my other fun entertainment...I suspect I may have questions but so far so
good

On Fri, Oct 7, 2022 at 11:45 AM Balaji Alwar ***@***.***>
wrote:

--
Prof. Nicholas Sitar, Ph.D.
Edward G. Cahill and John R. Cahill Chair
and
Distinguished Professor of Civil and Environmental Engineering
449 Davis Hall
UC Berkeley
Berkeley, CA

[2022-10-07 21:14] sitarn commented on #3575
Hi:
First round of feedback:
1) It would be great to have a more recent version of QGIS the Las Palmas
is "ancient" in that the available plugins are somewhat limited for what we
need
2) The way the site is configured, I cannot access files on my computer,
nor do I see a way to create my own directory with the necessary files.
That may be my lack of understanding of the configuration.
Thanks,
Nick

[2022-10-10 07:28] github-actions[bot] opened #3822 "Weekly Update - Monday, October 10th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-10-10 20:43] balajialg commented on #3575
@sitarn Thanks for the feedback.

1. Yes, we will upgrade QGIS to the latest version asap.
2. Can you use this [documentation](https://tljh.jupyter.org/en/latest/howto/content/add-data.html) to understand how to upload files to a specific directory in the Jupyterhub account? It should be a straightforward process. Please let me know if you face any difficulties.

[2022-10-10 23:06] yuvipanda commented on #3575
@sitarn try now, we should be up to qgis 3.22

[2022-10-10 23:55] fperez opened #3832 "Request Cartopy for Data100"
### Package Name

Cartopy

### Hub details

- Hub: Data 100
- Language:Python

We'd used it in Fall 2021 (#2824) and also in Spring 2021 for Stat 159 (#3279), hopefully it's an easy addition; we're holding again the Climate data lecture.

I seem to recall there were some issues that led to dropping it when we were updating the image in #3605, but I don't recall what. It turns out we're actually go

[2022-10-11 00:33] andrewpbray commented on #3701
Hello!

We've been getting (retrospective) reports of the server being down over the weekend and then it was offline from roughly 2:45 - 3:30 pm today. This was observed by @shomurali and @jeremy-sanchez. Is there anything in the logs that documents this outtage or suggests what the issue was?

Thanks!

[2022-10-11 00:41] balajialg commented on #3701
Hi @andrewpbray!

Yes - we had a minor outage between 2.45 - 3.30 PM when we tried to upgrade the NFS server. We reverted the change immediately in order to bring stability to the service. We are also debugging what looks like a deep race condition in the Linux kernel, and it is unfortunately causing issues affecting our users over the last few weeks. We have put in place some band-aid fixes that

[2022-10-11 02:07] sitarn commented on #3575
Great, the new version of QGIS has the options we need.
I was able to upload files, although it seemed a bit awkward: manually go
to the /tree directory on the Jupyter notebook and then place all the files
on the desktop, since that is the only directory I can access from QGIS.
However, QGIS then worked as advertised. I was able to upload the necessary
plugins and perform basic functions.  In that

[2022-10-11 02:07] sitarn commented on #3575
Yes, that version is perfect.
Thank you very much!

On Mon, Oct 10, 2022 at 4:06 PM Yuvi Panda ***@***.***> wrote:

--
Prof. Nicholas Sitar, Ph.D.
Edward G. Cahill and John R. Cahill Chair
and
Distinguished Professor of Civil and Environmental Engineering
449 Davis Hall
UC Berkeley
Berkeley, CA 94720
***@***.***

[2022-10-11 03:07] yuvipanda commented on #3575
@sitarn each instance is unique to the user, nothing is shared. Can you share what files you would want to distribute? We generally distribute files to users via GitHub and 'nbgitpuller links' - try clicking the 'homework' link in http://data8.org/fa22/ to see how that works. We can use a similar setup to distribute files for you too, depending on how big they are.

[2022-10-11 03:52] sitarn commented on #3575
Ok, thanks. Let me "play around" first, since getting the files from a
public source is a part of the exercise. However, there will be a basic
data set that I normally set up on bcourses, so setting up via GitHub makes
sense.
Thanks for all the help.
Nick

On Mon, Oct 10, 2022 at 8:07 PM Yuvi Panda ***@***.***> wrote:

--
Prof. Nicholas Sitar, Ph.D.
Edward G. Cahill and John R. Cahill Chair
and
Di

[2022-10-11 08:02] YashRajwanshi opened #3833 "Request to retrieve my old files"
### Email Id

yashrajwanshi@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/yashrajwanshi.tar.gz

[2022-10-11 08:34] sitarn commented on #3575
Well, since there is a choice, we would actually prefer
cee.datahub.berkeley.edu. The reason being that we are Civil and
Environmental Engineering (CEE) but for historic reasons the other
abbreviations stick.
Thanks,
Nick

On Thu, Aug 18, 2022 at 12:29 AM Ryan Lovett ***@***.***>
wrote:

--
Prof. Nicholas Sitar, Ph.D.
Edward G. Cahill and John R. Cahill Chair
and
Distinguished Professor of Civil a

[2022-10-11 15:11] yuvipanda commented on #3575
@sitarn it is already at cee.datahub.berkeley.edu/

[2022-10-11 17:39] felder commented on #3833
Signed URL sent!

[2022-10-11 17:39] #3833 closed, assigned to felder

[2022-10-11 18:39] felder commented on #3832
Done!

[2022-10-11 18:39] #3832 closed, assigned to felder, balajialg

[2022-10-11 18:49] fperez commented on #3832
Awesome, thx @felder!

[2022-10-11 18:59] balajialg commented on #3575
@sitarn If you need help with sharing the files with your students as per @yuvipanda's suggestion, please do let me know. I can schedule some time to help you set up the GitHub repository (with the needed files) and distribute it using unique links.

[2022-10-11 19:20] sitarn commented on #3575
Perfect. Thank you very much. I will put the code through all the paces of
what I expect the students to do and I expect I will be back with
questions.  However, the code works perfectly.

On Tue, Oct 11, 2022 at 11:59 AM Balaji Alwar ***@***.***>
wrote:

--
Prof. Nicholas Sitar, Ph.D.
Edward G. Cahill and John R. Cahill Chair
and
Distinguished Professor of Civil and Environmental Engineering
449

[2022-10-12 23:53] #3822 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-12 23:56] balajialg commented on #3718
@jdmarshl This should be good to go from our end based on our [existing ram allocation](https://github.com/berkeley-dsep-infra/datahub/issues/2785#issuecomment-924935677) policies.

[2022-10-13 00:06] balajialg commented on #3696
@ericvd-ucb Couple of things,

1. Jupyter notebook 7.0 release will make retro the default interface instead of the classic notebook, Will this solve for your recommendation 1 and 2?
2. Also, "File -> Save and Export Notebook as -> PDF or web pdf" options generate PDF files. Do you still think a "PDF via chrome" option needs to get added to the retro UI?

[2022-10-13 00:24] jdmarshl commented on #3718
Got it. Thank you!

Jon Marshall, Ph.D.
Assistant Dean
JSP/Legal Studies

On Wed, Oct 12, 2022 at 4:56 PM Balaji Alwar ***@***.***>
wrote:

[2022-10-13 05:06] andrewpbray commented on #3701
Thanks for the background.

We've had reports of outages tonight from 20:45 to 21:10 (there is an assignment deadline at 11 pm). Is this the same issue?

[2022-10-13 05:21] ryanlovett commented on #3701
I'm not seeing any file server activity similar to the events that have happened previously. One Stat 20 student sent Shobhana a screenshot of their server starting up, but the logs show that it started up right away. I checked their server and it was running.

With the previous issue, the server would start up, but RStudio would show a message indicating that it was taking a while. What was the b

[2022-10-13 05:27] shomurali commented on #3701
yes, my students basically sent me similar screenshots to what I sent you,
saying that it was hanging.
-----
Shobhana Murali Stoyanov
Continuing Lecturer
Department of Statistics
University of California, Berkeley

pronouns: *she/her*

On Wed, Oct 12, 2022 at 10:21 PM Ryan Lovett ***@***.***>
wrote:

[2022-10-13 05:49] ryanlovett opened #3836 "Stat 20 server start time"
### Bug description

On the evening of Wed. Oct. 12, stat20 students reported that their servers were slow to start. NFS activity showed no heavy test_stateid ops, but steady getattr and one read spike at 8:07p:

<img width="786" alt="Screen Shot 2022-10-12 at 10 40 30 PM" src="https://user-images.githubusercontent.com/10248125/195511051-ef24115d-230c-486e-a74b-e57c8f9589d5.png">

It looks like se

[2022-10-13 05:50] ryanlovett commented on #3701
I've created a new issue to track this at #3836.

[2022-10-13 05:55] ryanlovett commented on #3836
It looks like the hub pod was restarted 86m ago (~9:38p), which would have affected students starting up their servers, but not those who were already running.
[code]

[2022-10-13 06:00] andrewpbray commented on #3701
Here's an image from a student.

![image](https://user-images.githubusercontent.com/1627362/195514210-8845bf19-903d-440e-851d-ecc40cbf6fc7.png)

[2022-10-13 06:06] ryanlovett commented on #3836
Here's a 24h snapshot:
<img width="791" alt="Screen Shot 2022-10-12 at 11 05 24 PM" src="https://user-images.githubusercontent.com/10248125/195515054-1b10e9f5-88f2-4fed-97cb-65901d2ab314.png">

[2022-10-13 06:07] ryanlovett commented on #3701
I'm going to lock this issue -- #3836 can track tonight's issue.

[2022-10-13 06:12] ryanlovett commented on #3836
@andrewpbray shared this student's screenshot:
![unnamed (1)](https://user-images.githubusercontent.com/10248125/195516178-51019a57-6740-4988-8f5b-766cc7d5dc45.png)

[2022-10-13 06:24] ryanlovett commented on #3836
This happened one hour ago.
[code]

[2022-10-13 06:28] ryanlovett commented on #3836
Non running pods. It seems that none failed, but many were pending and eventually started.

<img width="788" alt="Screen Shot 2022-10-12 at 11 26 27 PM" src="https://user-images.githubusercontent.com/10248125/195518467-84df23b0-4730-42be-babd-af00bcfb4d9e.png">

[2022-10-13 07:13] yuvipanda commented on #3836
https://github.com/berkeley-dsep-infra/datahub/pull/3839 I'm giving stat20 its own nodepool, with a 5 node minimum

[2022-10-13 16:50] ryanlovett commented on #3836
<img width="660" alt="Screen Shot 2022-10-13 at 9 46 38 AM" src="https://user-images.githubusercontent.com/10248125/195656627-3e0dba05-bda7-4aa5-b2b5-d87bdbf8ff1e.png">
<img width="664" alt="Screen Shot 2022-10-13 at 9 46 56 AM" src="https://user-images.githubusercontent.com/10248125/195656684-adabbc20-62f7-44b4-ac04-4ddb514c8634.png">
<img width="661" alt="Screen Shot 2022-10-13 at 9 47 35 AM" sr

[2022-10-13 17:09] ryanlovett commented on #3836
The beta pool went down to 14 at 8:42p, then went up, up, down, up, up, down, up to 10:18p. Non running pods spiked, probably as a result of this, over that same time period.

@yuvipanda created the epsilon pool in #3839 and move the stat20 hub into it.

@yuvipanda @balajialg Should there be some heuristic about how many different hub images a node pool should support, if this issue was caused due

[2022-10-13 17:38] ymelguy opened #3842 "request for previous data"
### Email Id

ymelguy@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/ymelguy.tar.gz

[2022-10-13 17:44] NoeeeTrejo opened #3843 "Requesting DataHub Files"
### Email Id

noetrejocruz@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/noetrejocruz.tar.gz

[2022-10-13 18:24] balajialg commented on #3836
@ryanlovett Thanks for the comprehensive report! I guess it will be helpful if and when we choose to write an After-Action report. Maybe @shaneknapp and @felder in discussion with you can review the existing images across the different node pools and make the final call with regard to heuristics? I will also add this as an agenda item for our upcoming team meeting.

I see that we have been moving

[2022-10-13 22:16] shaneknapp commented on #3836
yep, all sounds good.

On Thu, Oct 13, 2022 at 11:24 AM Balaji Alwar ***@***.***>
wrote:

[2022-10-14 06:05] rtz3ng opened #3844 "Files Archived Due To Inactivity??"
### Email Id

rtz3ng@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/rtz3ng.tar.gz

[2022-10-14 17:20] ryanlovett commented on #3836
stat20 has gone from ~10 users to ~190 over the past couple of hours and it looks like the epsilon node count is going up, and not fluctuating.
<img width="963" alt="Screen Shot 2022-10-14 at 10 19 47 AM" src="https://user-images.githubusercontent.com/10248125/195904965-2f86dfe8-28b7-41c6-9e2b-fc2b2a798578.png">
<img width="481" alt="Screen Shot 2022-10-14 at 10 20 01 AM" src="https://user-images.

[2022-10-14 17:21] ryanlovett commented on #3836
There have been a few occurrances where servers took as long as ~1m to start though:
<img width="659" alt="Screen Shot 2022-10-14 at 10 21 15 AM" src="https://user-images.githubusercontent.com/10248125/195905173-56d6a51f-548b-4f84-8d7c-c48495557aae.png">

[2022-10-14 17:52] yuvipanda commented on #3836
yeah, 1min is fine. 10min is when hub starts counting them as dead. I think this would've caused a similar outage as last time if we hadn't moved them to their own pool

[2022-10-14 18:08] ryanlovett opened #3845 "Adjust spawner messaging when servers are slow to start"
# Summary

#3836 tracks an issue where servers were slow (~2m) to start up. The current messaging that students see is from kubespawner's [`progress`](https://github.com/jupyterhub/kubespawner/blob/71a9538a892d580476dd31d12ff17ed6217b8ea5/kubespawner/spawner.py#L2296) which emits events messages if available and if the feature is enabled.

Obviously we want to fix any underlying issues around slow

[2022-10-14 18:36] ryanlovett commented on #3836
When I display the data for a lot of -prod hubs, there are a lot of other server start times of just less than 1m (not stat20-specific), and they're clustered together. It seems like they're roughly 15m apart. (11:01a, 10:46a, 10:31a, 10:16a, ...)
<img width="908" alt="Screen Shot 2022-10-14 at 11 15 22 AM" src="https://user-images.githubusercontent.com/10248125/195913860-079db238-3407-413b-b50f-b

[2022-10-14 18:44] balajialg commented on #3845
@ryanlovett Thanks for raising this request! Seems super important. Is this UI change controlled by the Datahub team or part of the upstream?

[2022-10-14 18:56] ryanlovett commented on #3845
@balajialg It is already configurable but requires a bit of dev (there’s no single bit to flip). I’m away from keyboard but I think hub lets you define the “slow server” threshold, and then you need to insert the messages.

[2022-10-14 21:12] christinestliu opened #3846 "Data Retrieval"
### Email Id

christinestliu@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-10-17 07:36] github-actions[bot] opened #3847 "Weekly Update - Monday, October 17th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-10-17 07:46] Ziyuan-Zhang429 opened #3848 "MJ FDA"
### Email Id

leozhang0429@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/leozhang0429.tar.gz

[2022-10-17 18:26] andrea2031 opened #3850 "Request more memory for Data 100"
**Which hub do you want more RAM on?**

datahub

**Which class is this request for?**

Data 100/200 Fall 2022 (https://classes.berkeley.edu/content/2022-fall-data-c100-001-lec-001)

**How many students do you expect in this class?**

1200

**How much RAM does this class need?**

4GB

**Why does this class need this much RAM?**

We have a high memory usage homework.

**By when (MM/DD) do you want t

[2022-10-17 20:00] balajialg commented on #3850
@andrea2031 Thanks for the info. Till when (MM/DD) do you want the increased compute?

[2022-10-17 21:00] rohanjha123 commented on #3850
Until 11/2 if possible please!

[2022-10-17 21:18] balajialg commented on #3850
@rohanjha123 Sounds good!

[2022-10-17 21:42] felder commented on #3842
Signed URL sent!

[2022-10-17 21:42] #3842 closed, assigned to felder

[2022-10-17 21:43] felder commented on #3843
Signed URL sent!

[2022-10-17 21:43] #3843 closed, assigned to felder

[2022-10-17 21:44] felder commented on #3844
Signed URL sent!

[2022-10-17 21:44] #3844 closed, assigned to felder

[2022-10-17 21:45] felder commented on #3846
I need the link to datahub folder from the file left in your home directory.

[2022-10-17 21:47] felder commented on #3848
Signed URL sent!

[2022-10-17 21:47] #3848 closed, assigned to felder

[2022-10-17 22:52] liac1204 opened #3857 "retrieve a copy of my files"
### Email Id

juliachen@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/juliachen.tar.gz

[2022-10-18 00:55] balajialg commented on #3850
@andrea2031 You can access the increased RAM of 4GB when you restart your server and launch a new notebook. Please reopen if you face any issues. Thanks for your patience.

[2022-10-18 01:12] #3847 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-18 21:49] tonytuzki22 opened #3866 "data102"
### Email Id

tonytuzki@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/data102/tonytuzki.tar.gz

[2022-10-18 22:40] felder commented on #3866
Signed URL sent!

[2022-10-18 22:40] #3866 closed, assigned to felder

[2022-10-18 23:48] balajialg commented on #3820
@shaneknapp I was thinking of sharing these requirements with you when most of Yuvi's sessions are completed. Listed below is a bunch of github issues that are out there capturing varied requirements - mostly long-term infrastructure changes. We wanted to prioritize these use cases for a long time but lacked the technical bandwidth to drive execution. They were curated a few months back so there m

[2022-10-19 00:06] felder commented on #3857
Signed URL sent!

[2022-10-19 00:06] #3857 closed, assigned to felder

[2022-10-19 00:45] balajialg commented on #3518
I was looking at our cloud costs during the fall semester. It has increased quite a lot during the past month (went from ~$8k to $14k). We did allocate a lot of nodes to some of the hubs to ensure that instructors and students have a seamless experience and this could be the result of such generous allocations.

![image](https://user-images.githubusercontent.com/2306166/196571170-55b78fd4-cffb-4f6

[2022-10-19 01:22] shaneknapp commented on #3820
awesome, thanks balaji!  i'll take a look at these tomorrow.

On Tue, Oct 18, 2022 at 4:49 PM Balaji Alwar ***@***.***>
wrote:

[2022-10-20 01:25] olivestheapple opened #3875 "Retrieve Archived Files"
### Email Id

olivestheapple@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/oliverfli.tar.gz

[2022-10-20 03:54] han-jiwon opened #3876 "data retrieval"
### Email Id

jiwonhan@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/jiwonhan.tar.gz

[2022-10-20 15:41] olivestheapple commented on #3875
If the previously attached email id doesn't work, my updated email id is oliverfli@berkeley.edu, but I made the files when my email id was olivestheapple@berkeley.edu. Thanks

[2022-10-20 17:33] ericvd-ucb commented on #3696
On 1 @balajialg - default interface for UC Berkeley ?  Im OK if that is the policy decision we are making but Lets ramp up communication if that is the case. I think we have plenty of users on classic who may not know about this .  And default is also up to nbgitpuller link - anyone can make any link, or use any other link. If we need to migrate people on purpose or redirect to NB7 only ... then w

[2022-10-20 18:12] ryanlovett commented on #3696
Fwiw, though retro will become notebook 7, the "retro" name will go away. People won't see "retro", if that is a concern.

[2022-10-20 19:53] balajialg commented on #3665
@ryanlovett Is this issue still relevant? I am closing this issue for now but please feel free to reopen it if you think otherwise.

[2022-10-20 19:53] #3665 closed, assigned to nobody

[2022-10-20 19:53] #3572 closed, assigned to ericvd-ucb

[2022-10-20 20:10] A-meya opened #3877 "Access to Copy of files in Data Hub ( R files)"
### Email Id

ameya.naik@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/ameya-2enaik.tar.gz

[2022-10-20 21:47] felder commented on #3877
Signed URL sent!

[2022-10-20 21:47] #3877 closed, assigned to felder

[2022-10-20 21:57] ryanlovett commented on #3665
@balajialg There was no solution, however it wasn't a problem for most people. I had reset their RStudio settings which did not help. My instinct was that this was a browser-specific issue because I was not able to reproduce as them using my browser, however the student wasn't able debug their browser. In the end, using /tree as a workaround was sufficient.

[2022-10-20 22:04] felder commented on #3875
Signed URL sent to oliverfli@berkeley.edu

[2022-10-20 22:04] #3875 closed, assigned to felder

[2022-10-20 22:28] felder commented on #3876
Signed URL sent!

[2022-10-20 22:28] #3876 closed, assigned to felder

[2022-10-21 03:15] elel424 opened #3878 "Data Archive Request"
### Email Id

issac_liu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/eecs/issac-5fliu.tar.gz

[2022-10-21 04:33] khoang21 opened #3879 "Request to Retrieve Datahub Files"
### Email Id

khoang21@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/khoang21.tar.gz

[2022-10-21 06:55] dpartovi opened #3880 "Data Archive Request"
### Email Id

dpartovi@berkeley.edu
SID: 3034793867
Material request from Summer 2021 BioStatistics
PBHLTH 142 (Session D) | Introduction to Probability and Statistics in Biology and Public Health

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/dpartovi.tar.gz

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-10-24 07:41] github-actions[bot] opened #3881 "Weekly Update - Monday, October 24th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-10-24 20:20] balajialg commented on #3696
@ericvd-ucb Yes, we need to plan our communication for this NB 7.0 migration. The open question is when will the stable version of NB 7.0 gets released. Assuming this release will happen before Spring 23, I will draft the corresponding message and update our documentation to reflect these changes before the Spring semester.

It seems like a good next step to go with Save and Export Notebook as Web

[2022-10-24 22:50] rithviksunku opened #3882 "Request for access to old files"
### Email Id

rithviksunku

### Link to Datahub Folder

- gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/rithviksunku.tar.gz

[2022-10-25 00:59] balajialg commented on #3881
Need to figure out a new process instead of weekly updates as it is clearly not working for us!

[2022-10-25 00:59] #3881 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-10-25 02:01] zhuerica opened #3883 "JupyterHub Archive"
### Email Id

ericaz

ericaz@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/ericaz.tar.gz

[2022-10-25 19:50] linaaronyin opened #3884 "Data Archival Request"
### Email Id

ayilin@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/ayilin.tar.gz

[2022-10-26 01:31] balajialg opened #3885 "Accessibility: Installing Jupyter Notebook Alpha version 7.0.0.a7 in one of our hubs!"
# Summary

I have been performing accessibility tests on the[ latest alpha version of Jupyter Notebook 7.0 ](https://discourse.jupyter.org/t/notebook-7-pre-releases-are-available/16063) which was released in the last couple of weeks . The latest version has a ton of accessibility changes including Code Mirror 6.0 + other UI updates which have improved the accessibility of the editor. To validate t

[2022-10-26 02:41] ryanlovett commented on #3885
That's awesome! If showcasing these sorts of things on binder is insufficient, maybe there could be a test.datahub.berkeley.edu for testing and showcasing new technologies.

[2022-10-26 05:39] andrea2031 opened #3886 "Increase compute resources for Data 100 every Tuesday, Thursday 7pm-1am"
### Course Name

Data 100 Fall 2022 William Fithian & Fernando Perez
https://classes.berkeley.edu/content/2022-fall-data-c100-001-lec-001

### Detailed Requirements

We have lab and homework due dates on Tuesday and Thursday every week, so we expect much higher student activity between 7pm-1am. We will appreciated a higher resource limit to minimize associate disruptions.

### Semester Details

Ye

[2022-10-26 19:52] felder commented on #3878
Signed URL sent!

[2022-10-26 19:52] #3878 closed, assigned to felder

[2022-10-26 19:53] felder commented on #3879
Signed URL sent!

[2022-10-26 19:53] #3879 closed, assigned to felder

[2022-10-26 19:54] felder commented on #3880
Signed URL sent!

[2022-10-26 19:54] #3880 closed, assigned to felder

[2022-10-26 19:56] felder commented on #3882
Signed URL sent!

[2022-10-26 19:56] #3882 closed, assigned to felder

[2022-10-26 19:57] felder commented on #3883
Signed URL sent!

[2022-10-26 19:57] #3883 closed, assigned to felder

[2022-10-26 19:58] felder commented on #3884
Signed URL sent!

[2022-10-26 19:58] #3884 closed, assigned to felder

[2022-10-26 19:59] felder commented on #3846
Please reopen if you'd still like your files.

[2022-10-26 19:59] #3846 closed, assigned to felder

[2022-10-26 23:24] balajialg commented on #3885
@ryanlovett That sounds great! I am open to creating a new hub with a generic focus or specific focus (like accessibility.datahub.xx). Open to your perspectives on the best way forward.

[2022-10-26 23:33] yuvipanda commented on #3885
Would love to hear @shaneknapp's opinion too.

[2022-10-28 23:55] balajialg commented on #3886
@shaneknapp has created a new node pool and allocated a bigger Virtual Machine (VM) for Data 100 hub. So, that should theoretically solve some of the resource needs problems. @andrea2031 Let's observe how things turn out for a week and close this request if there are no problems next week.

[2022-10-29 03:44] singcheerto opened #3893 "Sing Cheer To | Data Archival Request"
### Email Id

singcheerto@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/singcheerto.tar.gz

[2022-10-29 21:51] EurekaHonors opened #3894 "Thank you!"
### Email Id

eureka_honors@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/eureka-5fhonors.tar.gz

[2022-10-31 07:08] github-actions[bot] opened #3895 "Weekly Update - Monday, October 31st"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-10-31 15:22] tiffany510lee opened #3896 "Data Archival Request for tiffanyl"
### Email Id

tiffanyl@berkeley.edu

### Link to Datahub Folder

- gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/tiffanyl.tar.gz

[2022-10-31 19:50] andrea2031 opened #3897 "Request python package ipython-sql and its dependency for Data 100"
### Package Name

ipython-sql-0.4.1, prettytable-0.7.2, and sqlparse-0.4.3

### Hub details

Datahub, Data 100
Python

### Course Name

https://classes.berkeley.edu/content/2022-fall-data-c100-001-lec-001

### Semester Details

Fall 2022

### Installation Deadline

Preferably as soon as possible, November 3rd the latest. Sorry for the late notice.

[2022-10-31 23:26] balajialg opened #3898 "Explore Google File Store as a replacement for NFS!"
We have been facing NFS issues due to a race condition in the Linux kernel which is hard to troubleshoot and resulted in a few outages in the past month. During our last team meeting, some of us were interested to explore Google FIle Store (GFS) as an alternative to NFS. @ericvd-ucb kindly agreed to do the outreach and reached out to Google Filestore folks using his contacts to have a conversation

[2022-10-31 23:50] ryanlovett commented on #3898
Thanks for looking into this @balajialg !

Are there published reports about real world use of Filestore and its reliability? Our nodes would still talk NFS to the Filestore and there could still be buggy NFS client behavior. In such cases, there would be no way to debug from the Filestore.

Can we monitor the Filestore with prometheus or is there some other method? (or is Filestore so reliable th

[2022-11-01 01:25] balajialg commented on #3898
This is all I could find through a Google search for case studies - https://cloud.google.com/filestore#section-5. Great questions and I will let the experts answer these questions and suggest the way forward. @ericvd-ucb Can we consolidate these questions and share the relevant ones with Filestore folks?

@ryanlovett Do you think it is the best use of our DevOps time to set up a conversation with

[2022-11-01 03:00] MichaelCampos-eng opened #3899 "Jupyter"
### Email Id

michael_c55@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/michael-5fc55.tar.gz

[2022-11-01 03:56] fperez opened #3900 "Request ipython-sql for Data 100"
### Package Name

ipython-sql

### Hub details

- Hub: Data 100
- Language: Python

This one is pretty standard, I'm sorry I missed it when updating the image and failed to notice its absence on the hub. It's pretty painless and has minimal deps (only two), so it should be an easy fix.

### Course Name

Data 100

### Semester Details

Fall 2022 and later -let's keep it always in the default image

[2022-11-01 04:36] fperez commented on #3900
Closing as duplicate of #3897.

[2022-11-01 04:36] #3900 closed, assigned to felder, balajialg

[2022-11-01 16:54] ryanlovett commented on #3898
That's probably a question for @shaneknapp . :)

[2022-11-01 17:41] shaneknapp commented on #3898
yeah, let me look in to this a bit over the next couple of days.

from a glance, it looks like it'll be a little (maybe?) more expensive but
(hopefully?) more reliable.

i'm also curious how 2i2c does this.

On Tue, Nov 1, 2022 at 9:54 AM Ryan Lovett ***@***.***> wrote:

[2022-11-01 17:41] #3895 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-11-01 17:57] shaneknapp commented on #3898
answered my own question, re 212c, NFS and filestore:
https://infrastructure.2i2c.org/en/latest/howto/operate/manual-nfs-setup.html?highlight=filestore

[image: image.png]

On Tue, Nov 1, 2022 at 10:41 AM shane knapp ☠ ***@***.***> wrote:

[2022-11-01 19:25] yuvipanda commented on #3898
@shaneknapp https://github.com/2i2c-org/infrastructure/issues/764 has info on longer term fixes that are being investigated as well

[2022-11-01 19:34] felder commented on #3897
@fperez the latest version of ipython-sql in conda forge is 0.3.9, will that suffice?

https://anaconda.org/conda-forge/ipython-sql

[2022-11-01 19:39] felder commented on #3897
Also looks like prettytable 3.4.1 is what's going to get pulled in:

[code]

[2022-11-01 19:47] shaneknapp commented on #3898
this is great, thanks yuvi!

On Tue, Nov 1, 2022 at 12:25 PM Yuvi Panda ***@***.***> wrote:

[2022-11-01 19:47] felder commented on #3898
@ryanlovett yes I believe cost is the primary reason Google Filestore was not fully explored.

https://cloud.google.com/filestore/pricing
vs
https://cloud.google.com/compute/disks-image-pricing#disk

[2022-11-01 20:01] felder commented on #3893
Signed URL sent!

[2022-11-01 20:01] #3893 closed, assigned to felder

[2022-11-01 20:02] felder commented on #3894
Signed URL sent!

[2022-11-01 20:02] #3894 closed, assigned to felder

[2022-11-01 20:03] felder commented on #3896
Signed URL sent!

[2022-11-01 20:03] #3896 closed, assigned to felder

[2022-11-01 20:05] felder commented on #3899
Signed URL sent!

[2022-11-01 20:05] #3899 closed, assigned to felder

[2022-11-01 20:34] felder commented on #3897
This should be on prod in a few minutes.  Please reopen if the version of the packages deployed are an issue.

[2022-11-01 20:34] #3897 closed, assigned to felder, balajialg

[2022-11-01 20:43] fperez commented on #3897
Awesome, thanks a lot @felder! Versions shouldn't be an issue, we're using only the most basic functionality, so we'll be OK.

[2022-11-01 23:22] balajialg commented on #3850
@rohanjha123 Can we reduce the compute for this hub (from 4 GB to old limits) based on your previous comment? @andrea2031

[2022-11-01 23:29] andrea2031 commented on #3850
Our late due date is tonight 11:59:59pm, it can be closed after midnight today. Thank you again for all your help! Edit: see below

[2022-11-02 00:51] balajialg commented on #3850
That sounds good @andrea2031. Tagging @felder as he should be aware of this,

[2022-11-02 19:09] andrea2031 commented on #3850
Hi, so sorry we have a couple special extension so they'll need the memory till tonight. Could you push the date of reducing computation resource back a few days (11/4)? Thanks so much!

[2022-11-02 19:16] felder commented on #3850
@andrea2031 is that midnight on the 4th? If so that implies we should roll back the additional memory on the 7th since I don't think this warrants night/weekend work.

[2022-11-02 19:26] andrea2031 commented on #3850
Rolling back to the daytime of 7th sounds good! Thank you so much again!

[2022-11-02 22:40] balajialg commented on #3898
Apparently, Google FIlestore was used for the Data 8x hub and the move to NFS happened due to pandemic-related cost cuts in March 2020. For more details, check out this issue - https://github.com/berkeley-dsep-infra/datahub/issues/1374

[2022-11-02 23:51] ryanlovett commented on #3898
@balajialg Looks like we [moved a few hubs](https://github.com/berkeley-dsep-infra/datahub/commit/10750e99a9c4b83d158221331b4cb10c9769bc1d) to Filestore in 2019.

Other commits: https://github.com/berkeley-dsep-infra/datahub/search?q=filestore&type=commits

[2022-11-03 00:48] balajialg commented on #3898
@ryanlovett awesome! It will be great if there is some billing-related info available during this duration when PRs get merged. I will work with @felder (if he has the time) to see if we can model costs for filestore based on our current usage.

[2022-11-03 02:14] wilmer-1 opened #3903 "Jupyterhub [Nov 2]"
### Email Id

wilmercabrera@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/wilmercabrera.tar.gz

[2022-11-03 04:52] fperez commented on #3897
Ouch @felder  - I just found out the hard way that v 0.3.9 does NOT have a key feature I was using, and that we actually need... The docs didn't make it clear that this is only a recent addition, and I thought it was there all along...

Could I please bug you to update to 0.4.1 from PyPI?

Very sorry for this unexpected hassle! Since I still had the PyPI version on my system, I didn't notice the p

[2022-11-03 05:07] fperez commented on #3897
BTW - there's actually a PR [in the conda-forge feedstock](https://github.com/conda-forge/ipython-sql-feedstock/pull/19) updating the conda package to 0.4.1.. But it's been in limbo for a while.

I don't know how to get that un-wedged, perhaps you or @yuvipanda knows? Getting that fixed would be ideal, so we could rely on this package via mamba like everything else, but with a less stale version.

[2022-11-03 06:23] yuvipanda commented on #3897
@fperez i just installed ipython-sql from pypi, should be deployed in a few minutes

[2022-11-03 06:24] fperez commented on #3897
Huge thanks @yuvipanda and sorry for the messy back and forth!

[2022-11-03 16:10] balajialg commented on #3575
@sitarn How was your experience using this hub for your coursework? Would love your feedback. Meanwhile, can we also close this issue if there aren't any more updates?

[2022-11-03 17:56] shaneknapp commented on #3520
reference for canvsoauth PR:  https://github.com/jupyterhub/oauthenticator/pull/406

[2022-11-03 18:16] shaneknapp commented on #3886
yep, see https://github.com/berkeley-dsep-infra/datahub/pull/3892

the hub is now backed by a [n1-highmem-32](https://cloud.google.com/compute/docs/general-purpose-machines#n1-high-memory), rather than the original n1-highmem-8.

[2022-11-03 19:25] sitarn commented on #3575
Hi:
Thanks for checking. The full test starts next week. So, far all works
perfectly for me, but then I am old school, i.e. the computer should do
what I want rather than the other way around. Now we'll see how the
students handle it. So, I have  not bothered you until  I see the student
experience.
On a separate note, I tried to use the Jupyterhub for straight Python
scripts for my groundwater cl

[2022-11-03 19:33] yuvipanda commented on #3575
@sitarn if you look at https://github.com/berkeley-dsep-infra/datahub/tree/staging/deployments/cee/image, you'll see we have basically installed no real scientific python libraries there :) If you want, you can make a PR adding those to the `environment.yml` file there, and that should add whatever you need

[2022-11-03 21:37] ryanlovett commented on #3520
After today's meeting, it was suggested that it would be easier for most hubs to just use CanvasAuthenticator and not GenericOAuthenticator. So instead of the genericoauth hubs pulling group data from datahub, they will get it by virtue of using canvasauth. This greatly simplifies the configurations of all the non-datahub datahubs. The tradeoff is that the hub URLs must be entered into the Canvas

[2022-11-03 21:37] #3520 closed, assigned to yuvipanda

[2022-11-03 22:05] ryanlovett opened #3906 "Configure most hubs to use CanvasOAuthenticator"
We have decided^W generally agreed to switch from using CanvasOAuth on datahub and GenericOAuth on most of the rest to using CanvasOAuth on most hubs. See [#3520. ](https://github.com/berkeley-dsep-infra/datahub/issues/3520#issuecomment-1302696027), but in short, it generally simplifies authentication.

This would require:
- [x] enter the hub URLs in Canvas (bCourses)
- [x] document this in https:

[2022-11-03 22:21] lunava opened #3907 "Files Retrieval Request"
### Email Id

lnavarret010@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/lnavarret010.tar.gz

[2022-11-03 22:28] balajialg commented on #3906
Thanks, @ryanlovett!

[2022-11-04 00:42] carolinakreid opened #3909 "Datahub acting strangely for class"
### Bug description

I am not at all an expert in github/datahub, but use it to push Python notebooks to my students.  My students were getting really strange results today, where when they clicked on the push link, they got multiple replicated files in their datahub folder

![image](https://user-images.githubusercontent.com/45830089/199860520-75ee3535-aa9f-4090-8769-7bf278b1c917.png)

Others got

[2022-11-04 01:29] balajialg commented on #3909
@carolinakreid Sorry about that! Can you please share the unique link that was shared with the students and calnet ids (or email ids) of 2 or 3 students who face this issue to this email id - ds-infrastructure@lists.berkeley.edu? We will look into this first thing tomorrow morning.

[2022-11-04 02:23] carolinakreid commented on #3909
Thank you!!!

I used this datahub push link:

https://datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcarolinakreid%2FPlanningMethods_Fall2022&urlpath=tree%2FPlanningMethods_Fall2022%2FNotebook4/Notebook4_Lecture.ipynb

Two people who had issues with lots of replicated notebooks:

Hillary Nguyen Pham – email: ***@***.***

Kate Ham, my GSI (copied here), Kate Ham ***

[2022-11-04 17:43] felder commented on #3909
Using admin powers I became Hillary and used the link as them.

The following error was outputted (which also indicates how the additional notebooks are showing up):

[code]

[2022-11-04 17:47] felder commented on #3909
I suspect item 3 on the page below is the issue and the solution:

https://ds-modules.github.io/curriculum-guide/technology/jupyter/troubleshoot-nbgitpuller.html#the-nbgitpuller-link-has-been-used-before-and-some-of-the-content-was-changed-in-both-datahub-and-github

[2022-11-04 17:47] balajialg commented on #3909
@carolinakreid +1 to @felder's previous comment. I also accessed all the student's trees using the admin powers and tried debugging the exact issue. To fix this issue immediately, Students can rename the existing folder and click on the nbgitpuller link which will bring a fresh clone of the updated assignments to their Datahub instance.

One other long-term suggestion is to not make any changes to

[2022-11-04 18:03] carolinakreid commented on #3909
Thank you – this is super helpful!!!  I really appreciate the support! (And
yes, I did make edits to the notebook after pushing it to students, so I’m
sure that’s the underlying cause!)  I’ll avoid doing that in the future!

Carolina

*From:* Balaji Alwar ***@***.***
*Sent:* Friday, November 4, 2022 10:48 AM
*To:* berkeley-dsep-infra/datahub ***@***.***>
*Cc:* carolinakreid ***@***.***>; Mention <

[2022-11-04 18:26] balajialg commented on #3909
@carolinakreid Sounds great! Closing this issue - Please reopen this issue if the provided fix doesn't work.

[2022-11-04 18:26] #3909 closed, assigned to felder, balajialg

[2022-11-04 18:32] yuvipanda commented on #3909
(with upstream nbgitpuller developer hat on)
if you could open an issue in https://github.com/jupyterhub/nbgitpuller/ with information about the state of the repo (perhaps output of `git diff`), it would help fix this upstream. Being able to make changes to the notebook *after* the student has accessed it is one of the defining features of nbgitpuller, and we wanna make sure it continues to work f

[2022-11-04 21:21] fperez opened #3912 "Request python package geopandas for Data 100"
### Package Name

geopandas

### Hub details

- Hub: Data 100
- Language: Python

### Course Name

Data 100 - this is for a guest lecture to be delivered on November 10 by @danhammer.

### Semester Details

Fall 2022 and later -let's keep it always in the default image config.

### Installation Deadline

Nov 10 is when the lecture will take place.  In the meantime I'm testing the content with a ma

[2022-11-04 21:53] felder commented on #3912
@fperez would you be willing to in general, conduct testing using the conda forge version?  You can use mamba to install it from the terminal.

[2022-11-04 21:54] felder commented on #3912
https://anaconda.org/conda-forge/geopandas

[2022-11-04 21:55] fperez commented on #3912
For sure! I'll do it now, will report...

[2022-11-04 21:58] felder commented on #3912
@fperez thanks!  In general we prefer to use packages from conda forge where possible, so this will help ensure that there are no version incompatibilities as was with the case for ipython-sql.

[2022-11-04 22:00] fperez commented on #3912
Just did - interestingly it caused a bunch of downgrades. Not sure why, I wasn't expecting that:

![image](https://user-images.githubusercontent.com/57394/200081284-db5d3292-82b6-4a92-8865-5a4fe1ae69e7.png)

(and +1 to conda forge - I think I was one of the people arguing precisely for that a while back, so happy to see this! :)

[2022-11-04 22:04] fperez commented on #3912
But I just tested our only notebook depending on cartopy (the only thing that worried me from those downgrades) and I don't see any issues.

So I'd say go for it with the conda forge version!

[2022-11-04 22:10] andrea2031 commented on #3886
Hi, multiple students from DATA 100 still reported slow kernel last night (Thur 9pm-12am) and throughout the weekend, do you know what might be the reason?

[2022-11-04 23:08] felder commented on #3912
@fperez sadly even after specifying the downgraded version of the packages that mamba wants to downgrade, geopandas won't install.

Going with pip for this.

[2022-11-04 23:36] fperez commented on #3912
Mmh, that's weird - it installed for me at the terminal as a normal user. Wonder why it would fail for you.

[2022-11-04 23:36] fperez commented on #3912
But in any case many thanks - we can revisit in another semester, with a clean build, what's going on.

[2022-11-05 21:34] afshin commented on #3885
@balajialg This is such a helpful thing to see. What did you use to generate the results, I'd love to be able to check results as I make updates to code and I'm sure there are other people working on these projects that feel the same way. Is this something we could fold into our workflows?

Thanks so much!

cc: @SylvainCorlay

[2022-11-07 02:41] balajialg commented on #3885
@afshin Thanks for your interest! I am copy-pasting my email conversation with Sylvain as that might throw light on your question. Please let me know if you need more information.

_We tested the binder link for Notebook 7.0 alpha shared on this [page](https://discourse.jupyter.org/t/notebook-7-pre-releases-are-available/16063) using the [Axe Deque](https://www.deque.com/axe/) tool for which I hav

[2022-11-07 07:07] github-actions[bot] opened #3914 "Weekly Update - Monday, November 7th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-11-07 20:25] ericvd-ucb opened #3915 "Request python package yfinance, quanstats for class Data 88E"
### Package Name

yfinance , quantstats

### Hub details

- Hub:
datahub
- Language:
Python

### Course Name

https://classes.berkeley.edu/content/2022-fall-data-88e-001-lec-001

### Semester Details

Fall 2022

### Installation Deadline

Nov 8th if possible  - no prob doing !pip  install if not

[2022-11-07 22:37] ryanlovett opened #3918 "Docs for new hub need note about gcr-key.json, gce-key.json"
Admin should copy those from another hub.

[2022-11-08 00:10] ericvd-ucb commented on #3915
@klyankim @oooyiyangc

[2022-11-08 00:33] felder commented on #3912
This should be on prod.  Lemme know if it isn't.

[2022-11-08 00:33] #3912 closed, assigned to felder, balajialg

[2022-11-08 00:40] fperez commented on #3912
Just checked, all good. Thanks a lot @felder & team!!

[2022-11-08 01:31] #3850 closed, assigned to balajialg

[2022-11-08 02:35] eric-park1 opened #3929 "retrieval"
### Email Id

prk4k@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-11-08 02:36] #3929 closed, assigned to felder

[2022-11-08 17:55] balajialg commented on #3915
@ericvd-ucb @felder Would these versions work for this request,
https://anaconda.org/conda-forge/yfinance
https://anaconda.org/conda-forge/quantstats

[2022-11-08 20:44] felder commented on #3903
Signed URL sent!

[2022-11-08 20:44] #3903 closed, assigned to felder

[2022-11-08 20:45] felder commented on #3907
Signed URL sent!

[2022-11-08 20:45] #3907 closed, assigned to felder

[2022-11-08 21:13] balajialg commented on #3907
@felder Thanks. Is Cesar added to the repository? Can we assign him one or two data retrieval requests to start with?

[2022-11-08 23:01] felder commented on #3915
Looks good on staging:

[code]

[2022-11-08 23:11] felder commented on #3915
Should be on prod within the next 30m.

[2022-11-08 23:11] #3915 closed, assigned to felder, balajialg

[2022-11-08 23:42] balajialg commented on #2812
@shaneknapp Just an FYI - Grafana improvements are something I wanted to discuss during our Sprint planning meeting but missed adding to our monthly backlog. Some of the graphs in the dashboard often break while changing time intervals resulting in empty responses. Here is an example from my exploration today,

![image](https://user-images.githubusercontent.com/2306166/200699753-f809080e-3df4-408e

[2022-11-08 23:48] felder commented on #2812
@balajialg I believe the graphs are breaking because the responses are taking too long.  If you click the red exclamation mark, you should be able to get an indication of why it's unhappy.

For example:

<img width="1597" alt="Screen Shot 2022-11-08 at 3 46 49 PM" src="https://user-images.githubusercontent.com/1211730/200700631-8b043f99-8a2b-41e1-bac2-e00e7debe0c7.png">

<img width="1598" alt="Scr

[2022-11-08 23:58] balajialg commented on #2812
@felder Got it. So, optimizing the queries is the way forward?  How does your [PR](https://github.com/jupyterhub/grafana-dashboards/pull/36) here relate to this objective?

[2022-11-09 00:31] shaneknapp commented on #2812
@balajialg optimizing might work...  maybe?

you can get the same graphs/reports by running prometheus locally on your laptop and executing the queries there.  perhaps it's time for me to remember to have @felder show me (and now you) how to do this.  :)

[2022-11-09 00:49] felder commented on #2812
@balajialg That PR was about fixing the queries because they were returning incorrect information.  My PR doesn't have any relation to improving the efficiency of those queries.

I also do not know if optimizing the queries is the way forward as I do not know whether or not the queries can be optimized further.  An investigation (along with an education on PromQL query optimization) would be requi

[2022-11-09 03:06] balajialg commented on #2812
@shaneknapp This seems like an interesting idea. Curious to see how my laptop would handle this volume of data (assuming this must be a large dataset). Look forward to learning more about this.

@felder Got it. Based on what you said, it seems like this is more of an experimental project like Google Filestore in terms of a) figuring out whether there are alternatives to increasing RAM and optimizi

[2022-11-10 01:19] balajialg commented on #3898
@shaneknapp @felder Any suggestions on the way forward with filestore exploration? Is this something we want to a) pursue and b) if yes then is this a priority for this semester? I was thinking we can get back to the Google Filestore PM about where we stand before the end of this week. If you all need more time then let me know.

[2022-11-10 01:32] shaneknapp commented on #3898
someone needs to investigate pricing...  what we have vs same deployment on
GFS.

On Wed, Nov 9, 2022 at 5:19 PM Balaji Alwar ***@***.***>
wrote:

[2022-11-10 02:09] chenyuanMa opened #3933 "Data Archival Request"
### Email Id

justin99ma@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/justin99ma.tar.gz

[2022-11-10 18:37] balajialg commented on #3898
@shaneknapp I think we can parallel process this! Correct me if I am wrong - we want to evaluate whether the filestore solution is a) desirable and b) feasible. I can probably work with @felder or anyone else who has the time to figure out the feasibility part from the cost perspective. The more important question is whether this solution is even desirable - whether we want to invest the effort to

[2022-11-10 19:48] felder commented on #3933
Signed URL sent!

[2022-11-10 19:48] #3933 closed, assigned to felder

[2022-11-10 21:48] felder opened #3935 "calendar scaler does not work for data100 - also I suspect it caused a hub outage"
### Bug description

My limited understanding of this tool is that it polls a calendar every minute, checks to see if there are events scheduled, and if there are it will provision placeholder pods which request a large number of resources in order to get the autoscaler to scale up more nodes.  Unfortunately for data100, we increased the size of the nodes which breaks this mechanism.

Basically th

[2022-11-10 21:57] felder commented on #3935
I suspect what needs to happen with node scaler is it needs to be made smarter.   It probably needs to check values for the node pool it receives events for to decide how large the ram requests for node placeholder pods need to be.

As for the outage, I'm not sure what caused that.

[2022-11-11 01:00] yuvipanda commented on #3935
Looking at this now, it looks like two of the three core nodes went away at the same time and were replaced by new nodes, causing this outage:

[code]

https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_cluster%22%0Aresource.labels.project_id%3D%22ucb-datahub-2018%22%0Aresource.labels.location%3D%22us-central1%22%0Aresource.labels.cluster_name%3D%22fall-2019%22%0AlogName%3D%2

[2022-11-11 03:11] chenyuanMa commented on #3933
Thank you!

[2022-11-11 04:24] lukeliu0415 opened #3939 "Request python packages dbt-postgres, dbt-bigquery for class Data 101"
### Package Name

dbt-postgres, dbt-bigquery

### Hub details

- Hub: Data 101
- Language: Python

### Course Name

Data 101, Lakshya Jain
data101.org

### Semester Details

Fall 2022

### Installation Deadline

11/14. Thank you!

[2022-11-11 05:21] shannonzhong1 opened #3940 "getting old files back from data 8 and 100 for reference!"
### Email Id

shannonzhong@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/shannonzhong.tar.gz

[2022-11-13 06:37] kanika79 opened #3941 "Retrieve files from W271 and W203 MIDS courses"
### Email Id

kanikamahajan@berkeley.edu

### Link to Datahub Folder

[- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz](gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/kanikamahajan.tar.gz)

[2022-11-14 04:16] balajialg opened #3942 "Install python package allensdk for class MCB-160L"
### Package Name

allensdk

### Hub details

- Hub: Datahub
- Language: Python

### Course Name

https://classes.berkeley.edu/content/2022-fall-mcellbi-160l-001-lec-001

### Semester Details

Fall 2022

### Installation Deadline

Students will use this package as part of this class on Thursday and Friday this week. Recommended instructor to use !pip install till the package gets added to the image

[2022-11-14 07:07] github-actions[bot] opened #3945 "Weekly Update - Monday, November 14th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-11-14 19:15] isha-srinivasan opened #3946 "Requesting old Datahub files for Data 8/Data 100"
### Email Id

isha.s@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/isha-2es.tar.gz

[2022-11-14 22:32] #3945 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-11-14 22:40] balajialg commented on #3939
@lukeliu0415 Will these package versions work for you?

https://anaconda.org/conda-forge/dbt-postgres
https://anaconda.org/conda-forge/dbt-bigquery

Can we resolve this request by 11/15? Going forward, Would appreciate it if you give us at least 2 working days to resolve such requests.

[2022-11-15 03:11] kl1212 opened #3951 "d"
### Email Id

leekyle@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/leekyle.tar.gz

[2022-11-15 11:01] lukeliu0415 commented on #3939
Hi! I've only tested out the installations with pip:
https://pypi.org/project/dbt-bigquery/
https://pypi.org/project/dbt-postgres/
If these are equivalent as the conda packages, they should work!

Thanks for letting me know about the request timeframe. Resolving before this Wed 11/16 would be great. Thanks!

[2022-11-15 18:21] balajialg commented on #3885
Thanks, @ryanlovett and the team for your support in deploying the a11y hub with the latest notebook version. I am closing this github issue as I am able to launch the latest Jupyter notebook using a11y hub. Thanks!

[2022-11-15 18:21] #3885 closed, assigned to yuvipanda, shaneknapp, balajialg, ryanlovett, ericvd-ucb

[2022-11-16 08:39] NShenoy888 opened #3957 "Data Archival Request for Datahub"
### Email Id

nshenoy888@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/nshenoy888.tar.gz

[2022-11-16 21:18] felder commented on #3940
data8 and data100 have their own filesystems, and here is the list of archives for you:

gs://ucb-datahub-archived-homedirs/2022-1-spring/data8/shannonzhong.tar.gz
gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/shannonzhong.tar.gz
gs://ucb-datahub-archived-homedirs/spring-2021/prob140.datahub.berkeley.edu/shannonzhong.tar.gz

I'll send you recovery URLs for these.  If the files you seek

[2022-11-16 21:20] felder commented on #3940
Signed URLs sent!

[2022-11-16 21:20] #3940 closed, assigned to felder

[2022-11-16 21:22] felder commented on #3941
Please provide the link to datahub folder from the file left in your hub home directory.

[2022-11-16 21:23] felder commented on #3946
Signed URL sent!

[2022-11-16 21:23] #3946 closed, assigned to felder

[2022-11-16 21:24] felder commented on #3951
Signed URL sent!

[2022-11-16 21:24] #3951 closed, assigned to felder

[2022-11-16 21:26] felder commented on #3957
Signed URL sent!

[2022-11-16 21:26] #3957 closed, assigned to felder

[2022-11-16 21:34] felder commented on #3942
The conda forge package for this requires python 3.6 and is also quite old.
https://anaconda.org/conda-forge/allensdk
vs
https://pypi.org/project/allensdk/

Having pip install it separately fails to compile.  Having pip install it from the conda environment downgrades a number of packages and produces package conflicts.

[code]

Note that the allensdk docs also only guarantee compatibility with py

[2022-11-16 22:24] balajialg commented on #3942
@petersudmant This class is affiliated with the Molecular and Cell Biology department. Is this something you could help us with by installing allensdk python package in the biology hub? Do you have some bandwidth?

[2022-11-16 22:30] petersudmant commented on #3942
@balajialg, it looks like @felder tried to already and it's a bit tricky? Am I missing something? Was @felder trying to install this somewhere else and NOW we want to try it in biohub?

[2022-11-16 22:37] balajialg commented on #3942
@petersudmant Yes, @felder tried to install it in the central Datahub which didn't work due to package conflicts. Wondering if this would be smoother if this installation gets done via bio hub.

[2022-11-16 22:45] petersudmant commented on #3942
ROGER! I support this - I think this is easy. I don't have a ton of time, but I can try

[2022-11-16 22:49] balajialg commented on #3942
Thanks a lot @petersudmant! Fingers crossed.

[2022-11-17 02:17] felder commented on #3939
This should be on prod in about 15m or so.

[2022-11-17 02:17] #3939 closed, assigned to felder, balajialg

[2022-11-17 02:19] felder commented on #3942
@petersudmant my hope is that maybe biology hub won't have the same packages...and package conflicts that I'm seeing in datahub.

[2022-11-17 02:24] petersudmant commented on #3942
makes good sense - I got it built! I'm merging into staging

[2022-11-17 02:27] felder commented on #3942
@petersudmant one thing to note is that allensdk 0.14.4 is really old, current is 2.13.6.
https://pypi.org/project/allensdk/

Not sure if that matters here.

[2022-11-17 02:37] petersudmant commented on #3942
I see - 0.14.4 is the latest conda version, but conda failed anyway. I'll try a later build. thanks for the headsup

[2022-11-17 02:40] felder commented on #3942
@petersudmant yeah the 0.14.4 conda forge package requires python 3.6 and fails spectacularly.

[2022-11-17 05:58] petersudmant commented on #3942
FYI @felder @balajialg - this builds and it worked when I tested it locally. The staging deploy shoudl be done shortly, but I won't be able to check it until the a.m. - feel free to merge into prod if all looks well

[2022-11-17 16:42] petersudmant commented on #3942
OK - all good. I tested some examples from their tutorials and it works.  I've merged into prod. 🚀

[2022-11-17 16:42] #3942 closed, assigned to felder, balajialg

[2022-11-17 19:06] balajialg commented on #3942
Thanks a lot @petersudmant!

[2022-11-18 21:12] balajialg commented on #3898
Updating the latest conversation with @felder about Google filestore. We definitely want to do a pilot implementation of filestore and based on that experience decide whether to transition all our hubs. @shaneknapp has also given a thumbs up about exploring filestore. We need to figure out when we want to scope this work which we can plan during Sprint Planning Meeting for December.

https://docs.

[2022-11-18 23:56] balajialg commented on #3718
@felder Do you want to look into this request? I am not sure how to add increased RAM for per-class profiles.

[2022-11-19 00:27] balajialg commented on #3621
@elias326 did a detailed analysis for the instructor to recommend the ideal replacement for Qgrid. He has chosen [ipysheet](https://github.com/QuantStack/ipysheet) and Eric VD recommended ipydatagrid to replace QGrid. Our next step here is to figure out ways to install both packages in the biology hub image.

I am currently waiting on approval from the instructor to move forward.

[2022-11-19 01:21] felder commented on #3718
@balajialg I think we need to service #3906 and then document the updated procedure for allocating per course resources.  Then I can service this request.

This particular issue is for a Spring course so I have not been overly concerned about it for the time being.

[2022-11-19 01:22] felder commented on #3718
I guess they do want it by Dec 1 though, so I guess we need to get on it.

[2022-11-19 02:49] balajialg commented on #3718
Got it. Thanks, @felder. @ryanlovett do you have any helpful inputs for us here to service this request?

[2022-11-21 03:54] jaackiekim opened #3964 "Data Archival Request"
### Email Id

jacquelinekim@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jacquelinekim.tar.gz

[2022-11-21 07:07] github-actions[bot] opened #3965 "Weekly Update - Monday, November 21st"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-11-21 23:20] ryanlovett commented on #3718
@balajialg Yes, @jdmarshl , can you please let us know the bCourses ID for this class? This is the identifier in the URL when you visit the class at bCourses.

[2022-11-21 23:25] jdmarshl commented on #3718
Dear Ryan,

Here is the url: https://bcourses.berkeley.edu/courses/1519998
Thank you, everyone, for your help with this.

Yours,
Jon

Jon Marshall, Ph.D.
Assistant Dean
JSP/Legal Studies

On Mon, Nov 21, 2022 at 3:20 PM Ryan Lovett ***@***.***>
wrote:

[2022-11-21 23:49] ryanlovett commented on #3718
@jdmarshl I've deployed increased RAM for members of the class on https://staging.datahub.berkeley.edu. Please test there and report if this is sufficient for your needs. If it works then we can migrate this to production.

Note that if you also are receiving increased limits from Legal Studies 190, Fall 2022, that will mask this change -- both request 3GB. But the important part is that you're ge

[2022-11-22 00:19] jdmarshl commented on #3718
Thank you, Ryan. My long-time GSI Ilya Akdemir (who is teaching the Legal
Studies 190 class in Fall 2022 on NLP; I am the grade approver) assures me
that we can do the assignments with 3GB of RAM. I don't have time to test
it right now, but Ilya was tracking the issue last Spring, so I take his
word for it. Also, he had his students do similar problem sets this
semester. I probably will not get to

[2022-11-22 01:58] balajialg commented on #3718
@jdmarshl If there is any issue with resource allocation during the semester, you can always highlight the issue in this thread. One of us will take a look into the issue and solve it for you.

Thanks a lot, @ryanlovett for resolving the request. Appreciate it. Is it documented somewhere for future reference?

[2022-11-22 02:20] balajialg commented on #3898
Yet another update here based on multiple discussions with the team. @felder and @shaneknapp will do a detailed analysis of Google Filestore and reconvene to discuss their learnings and the path forward. @ryanlovett is also doing his own research about filestore as he is thinking about moving at least the Stat 20 hub from the NFS server to Google Filestore and evaluating whether it resolves some o

[2022-11-22 02:27] balajialg commented on #3538
One of the discussion items we had from a short meeting today was steps to improve Grafana's resilience. @shaneknapp had an idea that it would make sense to create a new monitoring node pool and move our monitoring infrastructure which includes Grafana and Prometheus to this node pool. Through this approach, we will still have the monitoring infra work when the hubs part of the core node pool goes

[2022-11-22 02:39] jdmarshl commented on #3718
Understood. Thank you!

Jon Marshall, Ph.D.
Assistant Dean
JSP/Legal Studies

On Mon, Nov 21, 2022 at 5:58 PM Balaji Alwar ***@***.***>
wrote:

[2022-11-22 02:52] yuvipanda commented on #3538
You should consider https://cloud.google.com/managed-prometheus too

[2022-11-22 03:55] ryanlovett commented on #3898
I'll discuss the Stat 20 aspect at the next meeting, but I definitely want to use Filestore for Spring '23. Some questions:

1. Should there be per-hub instances, other aggregations like how hub disk/directories are configured now, or one big Filestore?
2. What service level? Options are Basic HD, Basic SSD, Enterprise, and High Scale. Basic HD and Basic SSD are not limited in terms of size, but E

[2022-11-22 18:49] jmagruder opened #3967 "I need to access my archived files and request that you protect them from archiving in the future."
### Email Id

jmagruder@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/jmagruder.tar.gz

[2022-11-22 21:49] balajialg commented on #3965
@sean-morris highlighted during a sync-up recently that he finds our bi-weekly updates really valuable as he is not directly involved with Datahub work. Let's start sharing bi-weekly updates from next week @felder @shaneknapp? What do you both think? It will also be a note that we can share with other stakeholders if they are interested in both tracking our work and also the policy decisions we ar

[2022-11-22 22:07] balajialg commented on #3967
@jmagruder Thanks for reaching out! Our [policy ](https://github.com/berkeley-dsep-infra/datahub/blob/staging/docs/policy/storage-retention.rst)for archiving is that we archive home directories of users **who have not logged into their hubs for the past 180 days**. Your files got archived as you haven't used the hub for the above-mentioned duration. Please do clarify if this is not the case.

It w

[2022-11-22 22:09] #3914 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-11-22 22:27] ryanlovett commented on #3718
@balajialg We had docs at https://docs.datahub.berkeley.edu/en/latest/admins/howto/course-config.html, but they needed updating. I've just done so.

[2022-11-22 22:28] ryanlovett commented on #3718
Fixed by #3966.

[2022-11-22 23:40] VictoriaHoll commented on #3027
@aculich and I are interested in enabling this feature on the general DataHub as well as the D-Lab DataHub! Do you have an estimate of when this might be available? Thank you!

[2022-11-23 01:36] ryanlovett commented on #3898
Regarding #3, @balajialg quoted the Google rep who said, "Filestore Enterprise [gives] you a HA solution by default." High scale and Enterprise both have: `Non-disruptive maintenance: Supported` and `remain available during maintenance events`, while Basic HDD/SSD are not supported.

https://cloud.google.com/filestore/docs/service-tiers

Regarding #5, the Google rep said, "just pay for the storage

[2022-11-23 03:01] balajialg commented on #3718
Thanks a lot @ryanlovett! This is amazing.

[2022-11-23 03:10] balajialg commented on #3027
Thanks, @VictoriaHoll for raising the request! We are waiting for [Jupyter Lab 4.0 release ](https://github.com/jupyterlab/jupyterlab/projects/12) to actually test the RTC feature.

@afshin Do you have any inputs on when we can expect to test the RTC feature in our hubs?  We have had multiple requests to enable RTC during the past 4-5 months (like the comment above).

[2022-11-23 07:54] yuvipanda commented on #3906
This could be something I help oversee before I leave? that would leave the NFS as the primary single point of failure, removing the main datahub as an additional single point of failure for auth during login.

@felder if you can add URLs for all hubs in Canvas as allowed oauth_callback URLs, I can do the rest.

[2022-11-23 19:47] balajialg commented on #3906
That's awesome. Thanks @yuvipanda!

[2022-11-23 19:58] yuvipanda commented on #3906
Great. @felder if you let me know once you add URLs for all the hubs, I'll do the rest

[2022-11-23 22:11] fperez commented on #3027
If we can get [3.6.0 out the door with the RTC machinery enabled](https://github.com/jupyterlab/jupyterlab/issues/13221) soon, I'm inclined to test it again in Stat 159. 159 is a safer environment to test this in, as I have "only" ~70 students, a very knowledgeable GSI, and the focus is precisely collaborative research.

We did last time (sp22), and that's how we found the data loss issues! It was

[2022-11-23 23:26] balajialg commented on #3027
@fperez Thanks for both your willingness to test RTC as part of Stat 159 and the update that RTC is part of the minor release 3.6 which I assumed was part of the 4.0 release earlier.

[2022-11-23 23:27] fperez commented on #3027
Sure! All the big changes are meant for 4.0, but 3.6 has the key backports that should (that's why we need to test! :) fix the bugs we encountered in the spring.

[2022-11-23 23:31] balajialg commented on #3027
@fperez Got it. That makes sense.

[2022-11-24 21:43] dsconnell opened #3969 "Slowness on public health datahub"
### Bug description

Several individuals from courses I support have reported frustration with how slow RStudio on the public health datahub is at certain times. The complain is simply that code takes an unreasonably long time (sometimes minutes) to run. I set up a form to try to collect some data on when it's happening. Here are the reported dates and times so far (pacific time):

11/3/2022 | 9:0

[2022-11-25 21:09] balajialg commented on #3969
@dsconnell Yes - on first look, it seems there have been a few nonrunning user notebooks during the past week. We might need to provide more resources for the public health hub if the assumption is correct.

We will dig deeper into this once we are back from the holidays. For anything urgent this weekend, I recommend that your users use  [R Datahub](https://r.datahub.berkeley.edu/hub/login?next=%2

[2022-11-27 06:59] Angel-y-Lee opened #3970 "Retrieve copy of my archived files"
### Email Id

angellee6@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-1-spring/datahub/angellee6.tar.gz

[2022-11-28 07:06] github-actions[bot] opened #3971 "Weekly Update - Monday, November 28th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-11-28 18:18] EmilyDii opened #3972 "Can't find my file"
### Email Id

zhuangemilydi@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-11-28 21:30] balajialg commented on #3918
@ryanlovett Which step should this issue get covered in our documentation - https://docs.datahub.berkeley.edu/en/latest/admins/howto/new-hub.html
? I am not able to recollect the details.

[2022-11-28 21:46] #3965 closed, assigned to yuvipanda, felder, sean-morris, balajialg, ryanlovett, ericvd-ucb

[2022-11-28 22:13] rodyucb opened #3973 "Retrieve Files from Spring 2022 STAT20"
### Email Id

Hi! I want to retrieve my files from Spring 2022 STAT 20 course! I am planning to use my projects to apply for internships! My email is berkeley1269595@berkeley.edu, thanks!

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/berkeley1269595.tar.gz

[2022-11-29 01:48] #3418 closed, assigned to nobody

[2022-11-29 01:48] yuvipanda commented on #3418
yeah this is done i think!

[2022-11-29 17:47] ryanlovett commented on #3918
@balajialg I think after step 4 would be appropriate since that is when the prod/staging directories are created. Although, I think you can put these secrets in `deployments/template/{{cookiecutter.hub_name}}/secrets` since they can be copied as-is. That way a separate documentation step is not necessary.

[2022-11-29 20:59] balajialg commented on #3918
@ryanlovett got it. I added this information in step 6 and created a PR. Can you please review and merge it if it makes sense?

[2022-11-29 23:20] balajialg commented on #3969
@dsconnell Did you get any reports from students during the past 3-4 days?

[2022-11-30 00:14] felder commented on #3964
Signed URL sent!

[2022-11-30 00:14] #3964 closed, assigned to felder

[2022-11-30 00:16] dsconnell commented on #3969
@balajialg I have not received any reports during that time period! Did something change?

[2022-11-30 00:17] felder commented on #3970
Signed URL sent!

[2022-11-30 00:17] #3970 closed, assigned to felder

[2022-11-30 00:18] felder commented on #3972
@EmilyDii Please provide the link to datahub folder from the file left in your home directory.

[2022-11-30 00:20] felder commented on #3973
Signed URL sent!

[2022-11-30 00:20] #3973 closed, assigned to felder

[2022-11-30 00:24] felder commented on #3906
I believe this represents the full list:

[code]

[2022-11-30 00:37] felder commented on #3906
This is the sorted list for staging:

[code]

Also going to throw in `https://staging.datahub.berkeley.edu/hub/oauth_callback`

Which replaces what is currently defined:

[code]

Noting that a11y, cee, data101, and ischool are all defined twice with two different URLs.

@balajialg can you please confirm which ones are correct?  I assume it's the ones that end with datahub.berkeley.edu.

[2022-11-30 00:44] felder commented on #3906
This is the sorted list for prod:

[code]
Also going to throw in `https://datahub.berkeley.edu/hub/oauth_callback`

Which replaces what is currently defined:

[code]

Noting that a11y, cee, data101, and ischool are all defined twice with two different URLs.

@balajialg can you please confirm which ones are correct? I assume it's the ones that end with datahub.berkeley.edu.

[2022-11-30 00:58] felder commented on #3906
@yuvipanda @balajialg I've updated canvas as described above, but would like to remove one of each of the entries that I indicated were defined twice unless they are supposed to be defined twice.

[2022-11-30 01:08] felder commented on #3906
@yuvipanda also noting that biology is not in the above lists, adding it as well.

[2022-11-30 01:14] felder commented on #3967
Signed URL sent!

[2022-11-30 01:14] #3967 closed, assigned to felder

[2022-11-30 01:14] felder commented on #3941
Haven't heard back.  Closing.

[2022-11-30 01:41] balajialg commented on #3906
@felder Thanks for looking into this. Yes - the callback URL which has "datahub.berkeley.edu" is the right one.

[2022-11-30 02:15] WonshilPark opened #3976 "UC Berkeley"
### Email Id

wonspark@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-11-30 02:16] WonshilPark commented on #3976
gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/wonspark.tar.gz

[2022-11-30 02:19] WonshilPark opened #3977 "Berkeley Projects"
### Email Id

wonspark@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/2022-2-summer/datahub/wonspark.tar.gz

[2022-11-30 03:27] balajialg commented on #3969
@dsconnell Nothing changed. I was curious whether the hub posed any challenges for the students to work during the weekend.

[2022-11-30 18:37] felder commented on #3977
Duplicate of #3976

[2022-11-30 18:37] #3977 closed, assigned to felder

[2022-11-30 19:27] felder commented on #3898
@ryanlovett @balajialg @shaneknapp

Looking at:
https://cloud.google.com/filestore/docs/service-tiers
https://cloud.google.com/filestore/pricing
https://cloud.google.com/filestore/docs/backups
https://cloud.google.com/filestore/docs/snapshots

1.  I'm leaning toward one volume per hub.
2. High scale has a 10TB minimum and no support for backups.  Enterprise might be good, but it's also the most ex

[2022-11-30 20:07] felder commented on #3898
There is also this service:
https://cloud.google.com/filestore/docs/multishares