[2021-10-21 17:43] balajialg commented on #2737
@felder Thank you so much for fixing this issue! Appreciate it.

@arwolf0808 I hope you are able to run the code. Here is a snapshot from @kferger320's instance in https://biology.datahub.berkeley.edu/ for your reference
![image](https://user-images.githubusercontent.com/2306166/138329671-34dcb406-6d23-43a7-8613-c7a27bc9b08d.png)

[2021-10-21 18:31] felder commented on #2889
I tried to use hubploy to deploy biology-staging yesterday, I was not successful but also have not yet tried other hubs or dug into why it failed.

[2021-10-21 19:04] yuvipanda commented on #2889
@felder cool, let me know what errors you run into and I'll see how I can help! You'll need to install it from git, not from pypi

[2021-10-21 19:40] felder commented on #2889
@yuvipanda yeah did the git installation and before roping you in I definitely wanted to confirm myself whether or not it was chair to computer interface problem.

[2021-10-21 23:09] felder commented on #2737
@kferger320 can you confirm that this is working correctly now?  If so I'll close the issue.

[2021-10-22 02:37] kferger320 commented on #2737
@felder @balajialg Yes just tried a few commands and looks like everything's working normally again! Thanks again all for your help with this.

[2021-10-22 05:36] yuvipanda commented on #2737
Thanks a lot for fixing it up, @felder!

[2021-10-22 05:36] #2737 closed, assigned to felder

[2021-10-22 13:17] Cadherin commented on #2891
An update here that I tried signing onto the iSchool datahub today, it is working for me now. Thank you all for looking into this. Much appreciated! Let me know if there are specific things that I need to be aware of to prevent the related in the future.

[2021-10-22 13:50] yuvipanda commented on #2891
Am very glad it works for you again, @Cadherin! I'm hopefull that #2908 will fix this one for good...

[2021-10-22 13:50] #2891 closed, assigned to yuvipanda, felder, balajialg

[2021-10-22 13:50] yuvipanda commented on #2878
@cboettig ok, can you re-open this if you encounter that error again?

[2021-10-22 17:27] ldimaggio opened #2922 "Retrieve Lauren Dimaggio's files"
### Email Id

ldimaggio@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/ldimaggio.tar.gz

[2021-10-22 17:29] balajialg commented on #2836
Datahub was added to systemstatus.berkeley.edu!

[2021-10-22 17:29] #2836 closed, assigned to balajialg

[2021-10-23 01:25] cboettig commented on #2878
@yuvipanda launched a session at r.datahub.berkeley.edu this morning, switched into an active project, and then just closed the tab.  Returning to it this afternoon, the session restarts and again displays the "The previous R session was abnormally terminated ...." message.

Doesn't look like I have permissions to reopen the issue though.

[2021-10-23 16:51] aazizi13 opened #2923 "Unable to get Visual Markdown Editing tool in Rstudio"
### Bug description

I couldn't figure out how to install/get the Visual Markdown editing tool in datahub for rstudio. Based on my googling, it looks like it only works for v1.4 versions. Datahub rstudio version is 1.3.959.

### Environment & setup

Rstudio DataHub.

### How to reproduce

N/A

[2021-10-25 07:06] github-actions[bot] opened #2924 "Weekly Update - Monday, October 25th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-10-25 16:59] ryanlovett commented on #2924
**Thanks I'd like to give 🙌**
- @yuvipanda for working on binderhub-like feature for jupyterhub
- @felder for looking into the hub-log-eating-disk-space issue
- @balajialg for looking into the hub utilization stats as a function of course enrollments
- Thanks for Jo's work on the XXX repo. Jo is killing it.

**Updates from last week ✔**
- Nada much.

**My availability for next week**
- Same as usu

[2021-10-25 17:06] anthlittle opened #2925 "Request python library linearmodels.iv for class PS 88"
**Which library do you want installed?**
linearmodels v4.24, in particular the functions for instrumental variables

**Which hub do you want it installed on? For example r.datahub, datahub, data100.datahub, etc.**
datahub

**Which class will use this package?**
PS 88 Fall 2021, Professor Andrew Little

**Which semester will this package be used for?**
Fall 2021, and future iterations of the class.

[2021-10-25 19:05] yuvipanda commented on #2903
@felder do you think you can help me by copying the logs that exist in all the current home directories over to this google storage bucket? https://console.cloud.google.com/storage/browser/ucb-datahub-hub-logs;tab=objects?forceOnBucketsSortingFiltering=false&project=ucb-datahub-2018&prefix=&forceOnObjectsSortingFiltering=false. I think your internet speeds are currently probably much better than m

[2021-10-25 20:26] felder commented on #2903
@yuvipanda sure!

I'll be updating this ticket periodically as I move these over.

~~biology-prod~~
~~cs194-prod~~
~~data100-prod~~
~~data102-prod~~
~~data8-prod~~
~~datahub-prod~~
~~dlab-prod~~
~~eecs-prod~~
~~highschool-prod~~
~~ischool-prod~~
~~julia-prod~~
~~prob140-prod~~
~~publichealth-prod~~
~~r-prod~~
~~stat159-prod~~
~~workshop-prod~~

Also...
~~data8x-prod~~

@yuvipanda will #2926 also s

[2021-10-25 21:15] yuvipanda commented on #2903
I've created a sink for data8x as well, @felder  - https://console.cloud.google.com/logs/router?project=data8x-scratch. #2926 should stop local logging on data8x as well

[2021-10-26 02:29] balajialg commented on #2924
**Thanks I'd like to give 🙌**
Thanks, @ericvd-ucb for an awesome presentation with Research IT. This session made us rethink our outreach strategy with other departments!
Thanks, @ryanlovett for taking the effort to help me get the SIS data and @yuvipanda for sharing the raw data for analysis & helping me with the process to fetch raw data.

**Updates from last week ✔**
- Prepping for the sprint r

[2021-10-26 07:05] #2869 closed, assigned to yuvipanda, balajialg

[2021-10-26 14:41] yuvipanda commented on #2923
Thanks for opening this, @aazizi13. We're stuck in RStudio 1.3 for now, so no visual editing :( @ryanlovett is graciously working on bumping it up to 1.4 but we need to revisit that I think.

[2021-10-26 14:42] yuvipanda commented on #2869
On the data8 hub, all the students' home directories can be accessed by admins at `/srv/homes`. Be careful though - you can accidentally delete everything here as well :)

[2021-10-26 17:38] yuvipanda commented on #2924
**Thanks I'd like to give 🙌**
- To @balajialg and @ericvd-ucb for pushing hard on getting more resources for datahub
- To @felder for helping with https://github.com/berkeley-dsep-infra/datahub/issues/2903

**Updates from last week ✔**
- I helped clean up https://github.com/berkeley-dsep-infra/datahub/issues/2903, now logs are stored in google cloud storage and we no longer put log data on hub db

[2021-10-26 18:06] ryanlovett commented on #2867
@balajialg Though there is a Sections API and we could probably collect that too.

https://canvas.instructure.com/doc/api/sections.html

[2021-10-26 18:33] balajialg commented on #2848
Thanks, @ryanlovett!

@DiegoVillegasA Closing this issue as we increased the RAM!

[2021-10-26 18:33] #2848 closed, assigned to felder, balajialg

[2021-10-26 18:53] balajialg commented on #2869
@ericvd-ucb FYI, Incase you haven't seen this!

[2021-10-26 18:54] balajialg commented on #2923
@yuvipanda @ryanlovett What are the complexities involved with regards to making this bump?

[2021-10-26 19:05] balajialg commented on #2867
@ryanlovett This is fantastic! It opens up a lot of different use cases if we are able to get student section data (& data related to their group affiliation which is not currently exposed). I don't know whether you are aware of this long-pending request from D-Lab #2759. If we could fetch relevant details from canvas and assign students different notebooks/datasets + read/write drives then we can

[2021-10-26 19:17] balajialg opened #2931 "Collating information required to add Datahub as one of the RTL supported services"
# Summary
Currently, Datahub is not listed as one of the RTL-supported services as part of their [web page](https://rtl.berkeley.edu/rtl-services-and-programs). It will be good to get Datahub added there for visibility reasons and considering that I am part of RTL standups sharing Datahub-related updates monthly.

Sharing the [template](https://rtl.berkeley.edu/services-programs/boa) for sharing i

[2021-10-26 19:22] ryanlovett commented on #2867
@yuvipanda Do you foresee any trouble with adding a sections scope to the CanvasOAuthenticator config? From a user perspective, I think they'd just be prompted by bcourses to accept the first time. I'm not sure if the canvas integration required that you register these scopes with the bcourses admins in some way.

[2021-10-26 19:44] yuvipanda commented on #2867
@ryanlovett Yeah, I think bcourses admin had to grant us access to any change in scopes.

[2021-10-26 20:02] yuvipanda commented on #2824
Had to revert this as the R package `sf` depended on older version of proj that was coming from apt.

[2021-10-26 20:21] ryanlovett commented on #2923
@balajialg It is fairly complex. We tried [one approach](https://github.com/jupyterhub/jupyter-rsession-proxy/pull/107), but it didn't fix everything. I think jupyter-server-proxy needs to be modified so we can customize responses.

I haven't had time to work on this.

[2021-10-26 20:41] yuvipanda commented on #2824
Note that this is required for October 28

[2021-10-26 20:48] yuvipanda commented on #2898
yeah, i think the signing means it doesn't matter what the user can guess.

However, I think given my current workload, I won't be able to build this anytime soon. So please don't block on it if other privacy preserving workflow changes need to happen.

[2021-10-26 22:57] ryanlovett commented on #2867
@yuvipanda Hmm, since the sections API is under /api/v1/courses/:course_id/sections/..., we might not need additional privileges. I'll play with it.

[2021-10-27 02:34] balajialg commented on #2898
@yuvipanda @felder We have a couple of options in the short term,
1. Continue serving the same way hoping that such requests are automated in the future/ explore creating private issues in GitHub
2. Shift to a ticketing system of choice for such requests alone.

I am inclining towards 2 for such requests alone. What do you both think?

[2021-10-27 02:36] balajialg commented on #2923
@ryanlovett Makes a lot of sense! Moving this request to backlog considering the context.

[2021-10-27 09:15] yuvipanda opened #2934 "Install most packages from conda-forge, instead of pypi"
Currently, we get most of our python packages from pypi.org, installed via pip. A lot of scientific python packages have C extensions, and installing them from pypi has been simple enough thanks to [manylinux wheels](https://www.python.org/dev/peps/pep-0513/). However, there are some packages - particularly in the geo sciences - that are a pain in the ass to install this way still.

https://github

[2021-10-27 09:19] #2925 closed, assigned to nobody

[2021-10-27 10:01] agoose77 commented on #2934
@yuvipanda Hi, just dropping in here! Is there a reason that you can't get the R packages from conda-forge? e.g. `r-sf`?

[2021-10-27 12:27] yuvipanda opened #2936 "Document process for servicing a package addition request"
We should more thoroughly document the process for how admins can service a package addition request. This will show us places where we can streamline our operations to make sure they can be done as quickly as possible.

[2021-10-27 12:30] yuvipanda commented on #2934
Basically, for python packages, we should install them with conda via environment.yml if it exists in conda-forge, and use pip otherwise.

[2021-10-27 12:37] yuvipanda commented on #2934
@agoose77 Most of the R community I know of would like to use `install.package` or `devtools` to install packages and manage them from CRAN, and I don't want to redirect them to a different method instead. From an optics perspective, `conda` is often (fairly or unfairly!) seen as python centric, and given we're already fighting the perspective that JupyterHub is python centric (even though we offe

[2021-10-27 12:49] agoose77 commented on #2934
I see what you're saying. I'm not familiar with the R toolchain - is it possible to use different conda environments for RStudio vs the Python kernels?

[2021-10-27 12:54] yuvipanda commented on #2934
@agoose77 most of our R users use R via RStudio, so conda and Jupyter kernels are completely uninvolved there.

[2021-10-27 12:59] agoose77 commented on #2934
@yuvipanda sure, let me clarify!

My understanding of your situation is:
- Both Python and R are installed in the same environment
- RStudio is accessed via JupyterHub
- without manylinux wheels, both R and Python are compiling against the same libraries e.g. `proj` from the system environment.

I am wondering whether it makes sense to drop the need for apt packages entirely by installing RStudio

[2021-10-27 13:05] yuvipanda commented on #2934
Ah, so they're installed in the same Docker image, but R doesn't know anything about conda at all, so they aren't in the same 'conda environment'. The proposal in this issue uses conda for all Python, and R's native package installation (from CRAN) + apt for R. The scripts that R users distribute often have `install.packages()` commands in them, and I don't want them to have to do something specia

[2021-10-27 13:06] yuvipanda commented on #2936
For python packages,

## Step 1: Figure out how complex it will be

(Assuming https://github.com/berkeley-dsep-infra/datahub/issues/2934 is done)

1. Is the package available on conda-forge? If so, this should be a fairly simple addition. This is the primary advantage of doing https://github.com/berkeley-dsep-infra/datahub/issues/2934 - it'll make most packages, especially ones that have binary co

[2021-10-27 13:07] agoose77 commented on #2934
Right! My suggestion was only that putting R inside a separate Conda env would allow you to avoid using APT for R, because `install.packages` should still work within a Conda environment. The only difference is that you provide the necessary dependencies e.g. `proj` via Conda inside that environment instead of from APT. It's mainly an idea to simplify the ergonomics so that your "environments" are

[2021-10-27 13:15] yuvipanda commented on #2934
@agoose77 ah, ok - I'll consider that :) I'm somewhat quite reluctant to use conda for R, as I feel the general R community is much more focused on CRAN and apt than on conda. packagemanager.rstudio.com offers prebuilt binary packages for *all* of CRAN, while there are only a subset of packages available on conda-forge. In my ideal world, I'd not use conda for python packages either (so I don't ha

[2021-10-27 13:16] yuvipanda commented on #2936
For R packages,

## Step 1: Figure out how complex it will be

(Assuming https://github.com/berkeley-dsep-infra/datahub/issues/2934 is done)

1. Is the package available on packagemanager.rstudio.com/? You can find the list of apt packages it requires in the page for the packag - are these already installed? If so, this is a fairly simple addition.
2. If not, is the package on GitHub? In that case

[2021-10-27 13:17] yuvipanda commented on #2936
I think another important thing to figure out is just timelines - sometimes the packages are needed in two days, sometimes in two weeks. We should prioritize and respond accordingly as well.

[2021-10-27 13:21] agoose77 commented on #2934
Yeah, I don't like mixing my pip with conda-forge packages (and therefore tend to rely solely on PyPI). It would be nice if there were an abstraction layer for tools like poetry such that PyPI + conda-forge could be used by the tool.

[2021-10-27 13:26] yuvipanda commented on #2861
I think using prometheus data for this is the wrong way to go - I couldn't really figure out a proper set of prometheus queries that gave me data I could really trust. Instead, I've done some log analysis and given @balajialg the raw data to help process - I trust that data a lot more than this, as I can understand how it is generated vs these promql queries.

[2021-10-27 13:35] yuvipanda commented on #2936
Some amount of normalizing the *structure* of our image directories will also help a lot here I think. I want it to be super clear where exactly a new package will need to be added.

[2021-10-27 14:23] yuvipanda commented on #2824
@fperez this is done now! Can you verify?

[2021-10-27 14:24] yuvipanda commented on #2903
I think we can close this now once the current hub logs are archived into google cloud storage.

[2021-10-27 14:30] #2824 closed, assigned to felder, balajialg

[2021-10-27 14:30] yuvipanda commented on #2782
Any update here?

[2021-10-27 16:38] ryanlovett commented on #2848
Just an FYI @balajialg and @DiegoVillegasA that some people may have to logout of the datahub before their server is aware of the change. (not server stop/start -- they need to click `Logout` at the top right)This naturally happens when bcourses expires cookies and people are forced to relogin, but there may be people who will have to take this action.

[2021-10-27 16:59] yuvipanda commented on #2925
@anthlittle this should be done now!

[2021-10-27 17:20] ericvd-ucb commented on #2803
Hi there @yuvipanda  - I have not gone through and tested this out yet - another thing slipping off my to-do list

[2021-10-27 17:22] ericvd-ucb commented on #2869
Ok thanks - I think for now the person wanting to gather the files is using Otter to have them submitted  - but I will let them know this is possible

[2021-10-27 17:27] ericvd-ucb commented on #2422
@Yanay1  has left Berkeley to go across the bay
I think this is a question for Data 8 course staff - eg Wagner or DeNero
@yuvipanda is the point that this is future-proofing strategy?
 and if so how urgent is it?

[2021-10-27 17:35] anthlittle commented on #2925
It's working, thanks!

[2021-10-27 18:06] balajialg commented on #2925
@yuvipanda Thanks Yuvi for the quick turnaround! Appreciate it.

[2021-10-27 18:16] balajialg commented on #2936
@yuvipanda Thanks for breaking down the package addition complexities. This gives me a useful framework to think about some of the package requests that we get and the kind of communication that needs to be shared.

Any package addition request gets assigned to @felder and me currently. As a process, if @felder is available then I would let him respond from a package addition and SLA standpoint as

[2021-10-27 18:52] balajialg commented on #2555
Update on this,

1. Datahub Status was added to the [System Status Dashboard](https://systemstatus.berkeley.edu/)
2. Considering the possibility that Piazza's contract will end this year, @felder suggested rethinking from tools standpoint
3. Exploring the idea of moving files retrieval requests to ticketing system considering FERPA guidelines

[2021-10-27 20:52] balajialg opened #2939 "10/28 Sprint Retro Objective, Agenda and Next Steps!"
I assume all of you are super busy with varied tasks and deliverables. Hence, articulating the objective and the agenda for tomorrow's retro if in case it is useful to any of you.

**Objective:**

1. Use the meeting time to come together as a team to recognize each other's critical contributions during the month,
2. Identify continue-stop-start for varied activities by reflecting on things that ar

[2021-10-28 00:39] felder commented on #2903
@yuvipanda ok that does it, the logs are in the bucket.

[2021-10-28 00:39] #2903 closed, assigned to felder, balajialg

[2021-10-28 03:52] yuvipanda commented on #2903
@felder awesome, thank you so much!

[2021-10-28 04:20] yuvipanda commented on #2722
Related to https://github.com/berkeley-dsep-infra/datahub/issues/2866

[2021-10-28 04:31] yuvipanda commented on #2422
@ericvd-ucb I think I'd like us to use this for the next semester. Perhaps we can have a meeting where we go through some of the workflows but with retrolab to see what else needs fixing? I think we've fixed all the reported issues so far.

[2021-10-28 04:32] yuvipanda commented on #2684
@balajialg #2878 isn't related, that's just a bug in process supervision - when the user server is shutting down, it isn't passing that signal on to RStudio so it can close its files cleanly. It only affects RStudio, and should be fixed independently of this.

The idle culling behavior of shutting down after 60min of inactivity is common across all user interfaces.

[2021-10-28 04:36] #2825 closed, assigned to yuvipanda

[2021-10-28 05:03] fperez commented on #2824
All perfect, huge thanks @yuvipanda and team!!

[2021-10-28 06:05] yuvipanda commented on #2939
@balajialg i don't seem to have access to the trello board... Do you think we can just use a github board for this as well? They can have arbitrary cards on them, not just issues. Reduces the number of tools we need to be using

[2021-10-28 08:47] yuvipanda commented on #1789
@cboettig FTP is now available! Thank you for your patience as we worked through this :)

[2021-10-28 11:34] yuvipanda commented on #2855
Was just looking at to see what sections we would have if we had such a newsletter from https://github.com/berkeley-dsep-infra/datahub/projects/3.

## Major changes

- `ftp` and all outbound traffic now open! https://github.com/berkeley-dsep-infra/datahub/issues/2825
- Julia hub now has Julia 1.6 https://github.com/berkeley-dsep-infra/datahub/issues/2803
- Python package changes: (list additions a

[2021-10-28 15:31] balajialg commented on #2939
@yuvipanda Sorry about that! I thought of using Trello from a confidentiality standpoint but as an afterthought, realize that we are not going to discuss anything super confidential. I gave access to the Trello board this time, but in future iterations will use the GitHub board

[2021-10-28 15:31] #2939 closed, assigned to yuvipanda, felder, ryanlovett, ericvd-ucb

[2021-10-28 17:13] balajialg commented on #2939
**Next Steps from this meeting:**

1. @yuvipanda @ryanlovett to codify the framework for changes that need to go out by the end of the semesters!
2. @balajialg to work with @ericvd-ucb to explore the newsletter idea further and get a pilot version out in November!
3. @yuvipanda and @felder to think and explore potential solutions for over-provisioning resources at the start of the semester!
4. Con

[2021-10-28 18:42] #2924 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-10-28 18:52] balajialg opened #2942 "R Popularity Dashboard"
# Summary

From the 10/28 sprint retro meeting, we learned about Yuvi's awesome hacking with [python package usage dashboard](https://grafana.datahub.berkeley.edu/d/1EJ3WNi7z/python-popularity-contest-copy?orgId=1&refresh=1m). This will be a useful tool to make decisions about the python packages that need to get removed at the end of the semester based on their usage.

However, we don't have a si

[2021-10-28 19:04] balajialg commented on #2861
@yuvipanda Once I complete the R file that ingests this log data does analysis and spits out the metrics & visuals, do I use the R script whenever it is required? Is there a way to do the analysis and send that data to the grafana dashboard? Not sure I am overcomplicating the use-case but from a long-term perspective, having every metric accounted/visualized on the same grafana page would be a bet

[2021-10-28 19:08] balajialg commented on #2684
@yuvipanda Got it! super helpful. Thanks

[2021-10-28 19:12] balajialg commented on #2782
@ericvd-ucb @Elias326 Any updates? Can we close this issue if it is not relevant anymore?

[2021-10-28 19:14] balajialg commented on #2693
@yuvipanda Considering the 5xx dashboard, is this issue done? Anything else to be done pertaining to the scope of the issue?

[2021-10-28 19:18] balajialg commented on #2634
Closing this issue based on the latest conversation with @felder about the unsustainability aspect of using Piazza as a support tool.

[2021-10-28 19:18] #2634 closed, assigned to balajialg

[2021-10-28 19:24] balajialg opened #2943 "Analyze the nbgitpuller log data to find the 3k discrepancy between course enrollment data and raw data from logs"

[2021-10-28 19:24] balajialg opened #2944 "Identify the monthly session duration for users based on log data"

[2021-10-28 23:24] felder commented on #2922
Signed URL sent!

[2021-10-28 23:24] #2922 closed, assigned to felder

[2021-10-29 07:41] yuvipanda opened #2945 "Plan for Spring 2022"
Issue to track

**Things we want to do *before* Spring 2022**

- [x] Support RStudio 2021.09  (They switched to calendar versioning, https://www.rstudio.com/products/rstudio/release-notes/)
- [ ] Have alerts that trigger whenever there is an outage
- [ ] Move the user images out of this repository, to make self-serve image requests easier. See https://github.com/2i2c-org/justiceinnovationlab-image

[2021-10-29 07:44] yuvipanda opened #2946 "End-semester cleanup tasks [Clean up directories, upgrade image/packages and documentation]"
At the end of each semester, we have had to do some cleanup (like with  #2002) - but this hasn't happened in a structured way. For this semester, let's try make it so!

Here's a bunch of tasks we should do at end of each semester

## To Do
- [x] Clean up unused users in the hub database, as this can cause performance issues (such as https://github.com/berkeley-dsep-infra/datahub/issues/2677). Scri

[2021-10-29 07:45] yuvipanda commented on #2945
Another potential inclusion here is to move away from SIS and use only CanvasAuthenticator, but I think the other stuff here is higher priority.

[2021-10-29 17:54] ryanlovett commented on #2946
Also, how is the "end of each semester" defined? Guessing it is some number of days after finals, with sufficient time to prepare the hubs for the next semester. We should declare this to instructors so that they know how much time they have to deal with special cases. e.g. students who have been approved to submit late projects.

For context:
Fall 2021's last day of finals is on 12/17 and Spring

[2021-10-29 18:05] ryanlovett commented on #2946
I also think packages for previous semester's classes should be removed. Carrying forward dependencies one or two semester's old would be safer, but also cruftier. Unused packages can create dependency problems for newer ones, and increase build time. Maybe this should be resolved by communicating with whoever requested the additions, e.g. "we will remove your packages unless you still need them,"

[2021-10-29 19:04] balajialg commented on #2422
@yuvipanda @ericvd-ucb This is awesome! Any specific reasons to start with Data 8? Was this a prior request from Data 8 staff? I wonder whether it would be a viable strategy to begin testing with a smaller class like CMP BIO (Genomics class) and test how the retro lab functionality works before moving it to Data 8? Thoughts?

[2021-10-29 19:47] felder commented on #2946
I agree with @ryanlovett

Also we should consider a similar policy with regard to admin rights as well other special requests such as additional resources.  Ideally each semester, we should get confirmation that any deviations from what is provided by the base image are still required.

[2021-10-29 19:53] felder commented on #2946
With regard to bumping versions, I wonder if it wouldn't be wise to have another hub where we do this a semester in advance.  This could also apply to bumping ubuntu as well (LTS versions change every 2 years...for that matter if we do this we may not want LTS).

If we could get instructors to test next semester's classes in some sort of staging hub during the current semester, maybe we could star

[2021-10-29 19:58] felder commented on #2898
@balajialg I'm inclined toward 2 as well.  However, I do not believe these requests should be considered in a vacuum.  We may opt to move these requests first, but ultimately we should consider it as a trial run for a general support process for Berkeley specific operational issues.

[2021-10-29 20:40] balajialg commented on #2946
Great points! For package requests, should we compile the specialized list of packages we plan to remove across each hub (both python/R) and send an update email to instructors/teaching team using datahub-infra email #2197 by the end of the semester? Then, possibly, give them a 2-3 week window to make requests to retain the required packages using the usual package request process?

[2021-10-29 20:46] balajialg commented on #2945
@yuvipanda What do you think about using some time during our Nov/Dec Tech strategy meeting/separate meeting to evaluate our roadmap for spring? I know it will be messy, but we can scope the meeting better to explore 7-8 significant changes (listed from users and hub admin perspective). Also, we could use the time to narrow down the stuff we want to work on. What do you think?

[2021-10-29 20:54] felder commented on #2946
@balajialg I'm really not sure what the best approach is from a customer standpoint.

I feel 2-3 weeks may not be enough time.  This approach would really come down to when we feel comfortable that the current semester's issues are largely resolved while also providing some time to stage major changes such as upgrading rstudio.

Then we have a feature freeze on a specific date and open it up for n

[2021-10-29 21:30] yuvipanda commented on #2946
I agree that removing libraries would be killer. I just discovered for example that tensorflow doesn't even import on latest datahub, and could've been removed as nobody has so far complained about it! I think the python popularity contest setup will definitely help with removing libraries with more confidence. Would be great to do a purge at the end of this semester.

We will definitely need a wa

[2021-10-29 21:34] yuvipanda commented on #2945
@balajialg sounds great! I think this is a perfect fit for the tech strategy meeting. I don't think we need to wait on it though, some of the discussion can happen asynchronously and we can start working on some of the items that will take a while to do.

In the longer run, I think we can start a 'Roadmapping for next semester' process maybe  a month into each semester?

[2021-10-29 21:41] felder commented on #2946
@yuvipanda the idea would be to do the version locking close to the feature freeze date.  So not a semester in advance, but maybe a month..ish... in advance.

That's not to say we couldn't do version bumps during the semester as well.  I anticipate we will get and continue to service those types of requests.  It'd be nice, however, for the bulk of the changes to be done prior to asking instructors

[2021-10-29 21:53] yuvipanda commented on #2422
@balajialg we could do that as well - but I suspect some of those classes might just want to use JupyterLab straight up instead? I think data8 is the big convert here, as it is teaching retrolab's target audience. We could definitely start smaller, but ideally we won't wait one more full semester before starting data8 out. @fperez has been teaching data100 to 1200 students with JupyterLab, and tha

[2021-10-30 00:18] ericvd-ucb commented on #2422
So I guess some of the elements would be
- could we "test it out somewhere"
- we could test it out on Data 88 - 75 students ?
- some percent of Data 8 students?
- make up a set of nbgitpuller links
- probably need to convince DeNero of the need to do this
- Most importantly need to talk to Data 8 course staff who does assignment generation

[2021-10-30 00:23] #2608 closed, assigned to balajialg

[2021-10-30 00:45] balajialg commented on #2946
@felder Month-long lead time for faculty to make decisions sounds good to me!

@yuvipanda Answering the communication part without digressing this conversation. We can consider the newsletter as one of our outreach mechanisms.

However, Having done outreach to faculty using newsletters in my previous role, I am slightly skeptical about this idea. I found the engagement to be shallow, even in terms

[2021-10-30 00:47] balajialg commented on #2945
@yuvipanda Like the idea of having specific meetings at the start of the semester. Helpful from a recruitment standpoint too.

Let's scope the December Tech strategy meeting to focus on the roadmap for the next semester. Async conversations can help us define the sample set of features to consider for that meeting.

[2021-10-30 01:23] balajialg commented on #2898
@felder When you mean support process, you mean for the regular requests we get right? Package requests, admin access, RAM elevation, etc.. or are you also considering bugs being reported?

If it is a bug, I wonder how [issues ](https://github.com/jupyterhub/jupyterhub/pull/3636)such as this would be fixed as they have an upstream dependency and would require interaction with other developers/admi

[2021-10-30 05:16] fperez commented on #2422
@yuvipanda thanks for the ping! I'm 💯 on this, and happy to try to move things forward. I had a quick look and just opened a couple of issues in the retro repo for things that stood out to me.  I think jupyterlab/retrolab#259 should be added to your blockers list at the top, not so sure about the file manager ones: those might be easier to live with for now, as I don't know how critical the FM is

[2021-10-30 06:36] yuvipanda commented on #2422
That's a good list, @ericvd-ucb. I thought we had already convinced David Wagner of this last semester. I think coupling this with real time collab is perhaps an important aspect to highlight.

If you think that starting with a smaller class is the way to go, let's definitely do that.

@fperez the data8 workflow doesn't use the file manager at all, so shouldn't affect it.

[2021-10-30 06:37] yuvipanda commented on #2898
I think it might be helpful to have something else that contains possible private information - but I'd love for most things to stay as public as possible here.

[2021-11-01 07:06] github-actions[bot] opened #2948 "Weekly Update - Monday, November 1st"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-11-01 19:02] felder commented on #2898
@balajialg @yuvipanda Anything reported by a student or regarding a specific student where FERPA would apply.

Basically I'd like to start thinking about datahub the UCB specific service vs datahub the opensource software project (not to be confused with datahub the proposed building 😃), with service related requests having a private ticketing system.  Note that requests that require development r

[2021-11-01 19:05] balajialg opened #2949 "Analyze logs data to list course enrollments!"
Analyze the existing log data to calculate the usage metric which can be used to evangelize the usage of the service to the leadership!

### Tasks to be done

- [x] Analyze the logs data after 2019
- [ ] Analyze the logs data prior to 2019
- [ ] Evaluate whether per course level data can be fetched from the existing logs!

[2021-11-01 20:28] balajialg commented on #2782
@Elias326 @ericvd-ucb Closing this issue for now! Please feel free to reopen whenever the package is required.

[2021-11-01 20:28] #2782 closed, assigned to felder

[2021-11-01 21:24] balajialg commented on #2898
@felder Got it! I wonder whether reporting bugs through different systems (based on the nature of the bugs) will be a cumbersome support experience for the users as most users would not care to know whether their issue should be raised via Github or a ticketing system based on the nature of the bug. For eg: The rstudio usecase highlighted by you.

I am personally aligned with moving chores to a su

[2021-11-01 21:27] balajialg commented on #2931
Datahub added to the Data and Learning Analytics section of the RTL services list - https://rtl.berkeley.edu/rtl-services-and-programs

[2021-11-01 21:27] #2931 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-11-01 21:52] abadrinath947 opened #2950 "PyParsing and HTTPLib2 versioning issue"
### Bug description

Here is a traceback when attempting to use `otter assign` due to mismatched versions of pyparsing and httplib2, where I suspect pyparsing was recently updated and a variable was renamed. There's an issue in httplib2 about this:

https://github.com/httplib2/httplib2/issues/207

[code]

CC: @fperez

### Environment & setup

- Hub: Data 100
- Language: Python

### How to reproduc

[2021-11-02 00:40] balajialg commented on #2855
Quick update: Had a fruitful discussion with the DSUS team about designing a newsletter to highlight some of the data science work across modules, otter, jupyterhub, connector, etc... Will make iterations on this idea further during the upcoming weeks.

[2021-11-02 00:48] balajialg commented on #2948
**Thanks I'd like to give 🙌**
- Thanks @ericvd-ucb for getting the nbgitpuller analysis ipynb files. It would definitely save a lot of time at our end.

**Updates from last week ✔**
- Prepping for the [JupyterHub Workshop #2](https://rtl.berkeley.edu/events/teaching-campus-jupyterhub-1117/2021-11-17) with the political science department staff on Nov 17th!
- Analyzing the raw data from logs in R t

[2021-11-02 06:13] yuvipanda commented on #2950
Looks like https://github.com/httplib2/httplib2/pull/209 will fix the issue in httplib2. You can temporarily test otter by running the following command in your server (via a notebook cell):

[code]

[2021-11-02 06:51] temoto commented on #2950
you can wait less than hour for release too

[2021-11-02 07:28] temoto commented on #2950
pyparsing v3 support is released in `httplib2>=0.20.2`

[2021-11-02 15:10] yuvipanda commented on #2950
THANK YOU SO MUCH, @temoto!!!!!

[2021-11-02 15:26] #2950 closed, assigned to yuvipanda, felder, balajialg

[2021-11-02 17:02] yuvipanda opened #2953 "Automatically test built image in CI"
https://github.com/berkeley-dsep-infra/datahub/issues/2950 could've been caught fairly easily in https://github.com/berkeley-dsep-infra/datahub/pull/2933 if we had some simple unit tests that check that otter imports/command line works properly. We should add that as part of our infrastructure to make it more resilient.

# Tasks to be Completed:
- [ ] All hub images are split into their own reposi

[2021-11-02 17:09] balajialg commented on #2953
@yuvipanda Scope this for spring 2022?

[2021-11-02 17:11] yuvipanda commented on #2867
Assuming this is to assign people different *content* (aka notebooks to open) rather than *environments*, I don't think having this in the Authenticator will be of much use, as what content is seen is mostly influenced by the nbgitpuller link being used - not something that's controlled by the authenticator at all.

[2021-11-02 17:15] yuvipanda commented on #2953
sure.

[2021-11-02 18:11] ryanlovett commented on #2867
@yuvipanda Regarding the need to "assign jupyter notebook with different datasets based on the students' section numbers", the spawner can mount additional volumes to users based on course affiliation. I think this is only done when the data is very large. So if the nbgitpuller pulls down a common hw.ipynb which references large data, the spawner could be configured to mount e.g. /data/courseX/sec

[2021-11-03 02:44] yuvipanda commented on #2948
**Updates from last week ✔**
- Moved some base packages to be installed from conda, rather than pip - this was so we could get a newer version of cartopy https://github.com/berkeley-dsep-infra/datahub/pull/2933.
- Allowed all outbound internet access from our user pods, so FTP now works! https://github.com/berkeley-dsep-infra/datahub/pull/2930 Thanks to @sgibson91 for a solution I could steal.
- A

[2021-11-03 02:59] yuvipanda commented on #2867
@ryanlovett ah, true! Must students in one section be *prevented* from accessing data in another section? If that is not the case, it is easier to just mount all the data and have different notebooks read different paths. Or perhaps just this can be set as an env variable that notebook code can read to make decisions on what data to read.

[2021-11-03 04:32] davidwagner commented on #2422
For Fall 2021, Melissa Wong and Stephanie Djajadi are the leads of the Data 8 staff team who generate assignments.

[2021-11-03 17:39] ryanlovett commented on #2867
@yuvipanda Re: "Must students in one section be prevented from accessing data in another section?" I don't know what the ask is, but probably not. I agree with you about the rest.

[2021-11-03 18:40] balajialg commented on #2949
@yuvipanda Any luck with this request?

[2021-11-03 18:56] ericvd-ucb commented on #2422
OK well lets get student staff to try it once more with Data 8 materials
 @yuvipanda can you  direct us to the retrolab nbgitpuller syntax

[2021-11-03 18:58] felder commented on #2948
**Thanks I'd like to give 🙌**
@yuvipanda for modifying the hub logs to no longer log to local disk.

**Updates from last week ✔**
Copied all the logs to a gcp storage bucket. #2903

**My availability for next week**
- I'm available all week.

[2021-11-03 19:32] #2948 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-11-03 20:39] balajialg commented on #2867
@yuvipanda @ryanlovett The problem to be solved here (based on the articulation of course support staff) is assigning different datasets based on student section numbers while minimizing the need to create many nbgitpuller links. Creating and distributing customized notebooks (as high as 20) reading different datasets using nbgitpuller link is considered a cumbersome experience for the course admi

[2021-11-03 21:48] ryanlovett commented on #2867
@balajialg Where is the data and how large is it? Is it pulled down by nbgitpuller?

A single notebook could have code that prompts the students to specify their section number:
[code]

That would be very simple and works as-is, though it requires that students know what section they're in.

One variant that @yuvipanda suggested is:
[code]
where `CANVAS_SECTION_ID` is pulled from bcourses and set

[2021-11-03 21:48] Yanay1 commented on #2422
I made the change to retro lab at the beginning of summer (before reverting back) so I have the paths which I guess I forgot to commit:

[code]

These would replace the existing variables in site/content/pages/calendar.ipynb (have to change su21 to new semester)

[2021-11-03 23:33] balajialg commented on #2867
@ryanlovett Course [GitHub page](https://github.com/ds-modules/Bio-1B) for your reference. You can check the dataset size there (small ones). They are doing what you had suggested right now which is to get the section number input from students and then recommend the relevant dataset.  Having said that, Bio 1B folks are not happy with their current workflow as they foresee student errors with inpu

[2021-11-04 00:04] balajialg opened #2957 "Agenda for Sprint Planning Meeting #3 on 11/4"
Hi All,

Sharing the overall agenda for tomorrow's sprint planning meeting in this [slide deck](https://docs.google.com/presentation/d/1OVsQ5BhPmle02YuMcC2Svg6ynpF-sncY4em0N9UpYZE/edit?usp=sharing)! Please feel free to add/edit/delete agenda items or other inputs that will ensure that we will have a constructive conversation together tomorrow. Look forward to our conversation tomorrow!

[2021-11-04 00:15] balajialg commented on #2953
Getting to a  semester-level roadmap something on the lines of [Github's roadmap](https://github.com/github/roadmap/projects/1) will be an interesting milestone!

[2021-11-04 05:14] nojedam commented on #2891
I have been working with iSchool R datahub yesterday and most of today and it has been working fine. However, it suddenlt says  just crashed on me and I am unable to get back on. My assignment files are all on Datahub and I am unable to retrieve them for submission at the moment.

![image](https://user-images.githubusercontent.com/76932698/140261560-d3b0f568-f6d3-4949-a377-50c716eebce5.png)

[2021-11-04 14:07] yuvipanda opened #2958 "Enable streaming image pulls for our hub user images"
https://cloud.google.com/blog/products/containers-kubernetes/introducing-container-image-streaming-in-gke is a game changer, reducing image pull times from ~10min (as we have now) to something much, *much* smaller. Image Pull Time is one of the biggest components of new node spinup time for us, and drastically reducing that will have a huge impact on how we can scale. We can perhaps even remove ou

[2021-11-04 14:58] yuvipanda commented on #2958
I've just created new nodepools with cos-containerd as base image.

[2021-11-04 15:04] balajialg commented on #2891
@nojedam Did you try couple of fixes suggested in this thread to retrieve your files in the short term?

[2021-11-04 15:08] yuvipanda commented on #2958
Some continuous prepullers are being 'stuck' in beta nodes, with describe output like:

[code]

[2021-11-04 15:23] yuvipanda commented on #2958
beta pool kept failing continuous prepullers in this way, so I've deleted and recreated the nodepool. Other nodepools seem fine?

[2021-11-04 16:38] ryanlovett commented on #2878
Apparently the warning is enabled when the "abend" session setting is set in ~/.rstudio/sessions/active/*/session-persistent-state, https://community.rstudio.com/t/restarting-rstudio-server-in-docker-avoid-error-message/10349/2. The warning can reportedly be squelched by changing the session setting, though I agree it'd be best to close RStudio properly.

See [`rstudio_abend`](https://github.com/r

[2021-11-04 18:01] balajialg commented on #2819
David - We are closing this issue as the root causes are similar to #2878 and fixing one of these issues will solve both problems. If you want further clarity on this request, refer to #2878 going forward!

[2021-11-04 18:01] #2819 closed, assigned to yuvipanda, balajialg

[2021-11-04 18:02] balajialg commented on #2957
**November Priorities:**

1. Introduce Retro Lab in Data 8 (More outreach stuff than technical)
2. Improve Automated Testing
3. Setup Alerting systems for bugs/outages
4. R Studio Upgrade
5. Move existing packages to Conda
6. Support Sean Morris’s work in Data8x
7. Calculate metrics about usage and users!
8. Design Marketing Collaterals (Newsletter, Home Page)

**Next Steps from the Sprint Plannin

[2021-11-04 18:02] #2957 closed, assigned to yuvipanda, felder, ryanlovett, ericvd-ucb

[2021-11-04 19:13] cboettig commented on #2878
@ryanlovett thanks!  Note that the other side-effect of closing RStudio improperly which is more of a nuisance than the warning itself is the fact that RStudio exits the currently active project (if any), though it keeps open the active file.  This means the user often does not immediately realize they are no longer working inside the correct project (i.e. git repo) until later.

(RStudio presumab

[2021-11-04 19:19] yuvipanda commented on #2958
Well, I think I've ticked all the boxes but I don't see the images being streamed yet.

[2021-11-04 19:22] yuvipanda commented on #2958
I don't see the `gcfsd` process mentioned in https://cloud.google.com/kubernetes-engine/docs/how-to/image-streaming#troubleshooting in the nodes. I wonder if I need to bump up versions. I'll just upgrade things tomorrow and see if it gets it to work.

[2021-11-04 19:51] yuvipanda commented on #2422
Thanks a lot, @Yanay1! Does this help, @ericvd-ucb?

[2021-11-04 20:02] yuvipanda commented on #2422
I also opened https://github.com/jupyterhub/nbgitpuller/pull/225 to add retrolab support to the link generator.

[2021-11-04 20:35] yuvipanda commented on #2958
I upgraded k8s cluster master, but no dice still. I don't see any specific processes around this on the nodes either, nor anything in the containerd config:

[code]

[2021-11-04 20:37] yuvipanda commented on #2958
My next step is to upgrade to k8s 1.20 (today we just got upto 1.19). The hope is that by having already turned on image streaming (as we have) before creating new nodepools, they will be enabled properly.

[2021-11-04 23:06] ericvd-ucb commented on #2422
Hi all.  Yep I think I can figure out the syntax from @Yanay1 code. I am guessing this is actually referring to Data8 assignment generation scripts

[2021-11-05 02:32] nojedam commented on #2891
@balajialg Today I tried to start iSchool R datahub without any workaround and it worked! However it got messed up again (same thing). I tried the workaround you suggested but it didn't work. Is there anything else you suggest?

[2021-11-05 05:29] yuvipanda commented on #2422
@ericvd-ucb yeah. for a simple string replace, you can replace `urlpath=tree/` with `urlpath=retro/tree/` in all current nbgitpuller URLs and they will open with retrolab instead.

[2021-11-05 06:22] yuvipanda opened #2966 "data8 needs more CPU"
Currently, data8 students are reporting that cells sometimes take really long to run.

<img width="1360" alt="image" src="https://user-images.githubusercontent.com/30430/140467304-dc55ba1a-5f15-4713-8fab-ca80ac8870fd.png">

This is because the CPUs are being maxed out on all data8 dedicated nodes, by users running code at 100% CPU. Since we overprovision here, it doesn't work out well.

[2021-11-05 06:51] yuvipanda commented on #2966
As there's a project deadline, I've:

- Manually deployed #2967, as we still have a datahub image build happening in CircleCI
- I increased the minimum amount of nodes in the delta nodepool to 13, and scaled up nodes to 20. This should help data8 students who restart to land on a new and existing node. However autoscaler immediately brings it down to 13 anyway, so that wasn't helpful

[2021-11-05 07:22] yuvipanda commented on #2958
I created a new nodepool (to deal with #2966), and here is the config on that:

[code]

I can see a snapshot plugin!

I also see a `gcfsd` process! YAY.

So it looks like your k8s master version needs to match the minimum requirement, and it isn't enabled on existing nodepools (or just existing nodes?)

[2021-11-05 07:23] yuvipanda commented on #2958
New nodes in old nodepools didn't have it, so it sounds like it's just for new nodepools.

[2021-11-05 07:27] yuvipanda commented on #2966
I've also created a new gamma pool with `n1-custom-16-16384` machine type - 16 cores and 16GB of RAM, matching the 0.5 CPU guarantee and the 0.5GB memory guarantee we give users. Previously, they were on n1-highmem-8 nodes, which wasted a *lot* of RAM - only about 16 users could fit on it due to the CPU constraint, leaving a lot of wasted RAM.

[2021-11-05 07:30] yuvipanda commented on #2958
Now gcsfd is filled with these error messages:

[code]

Not sure what's up with that, but it's definitely preventing image streaming from working.

[2021-11-05 07:49] yuvipanda commented on #2958
Stuff isn't quite right in this world somehow. See here for example, where there is a multi minute gap between node being assigned and kubelet starting to process it:

[code]

[2021-11-05 07:53] yuvipanda commented on #2958
Well, notebook doesn't like this streaming business.

[code]

And other fun stuff in the start of the process:

[code]

[2021-11-05 07:54] yuvipanda commented on #2958
I restarted the user pod, it landed on the same node, and things work ok. I don't like this nondeterministic behavior.

[2021-11-05 08:09] yuvipanda commented on #2958
I've just turned off Image streaming in the cluster, as several users had run into https://github.com/berkeley-dsep-infra/datahub/issues/2958#issuecomment-961690435. I've recreated the last nodepool so it doesn't have image streaming on anymore.

[2021-11-05 08:55] yuvipanda commented on #2966
Let's tone down teh CPU requests on Monday.

[2021-11-05 09:37] yuvipanda commented on #2958
I'm going to let this rest for a bit now, and let others shake out the bugs in this :) We still made a lot of progress - moving to artifact registry, switching to cos_containerd being the primary ones.

I'll also just clear out everything in GCR after #2970 lands

[2021-11-05 10:36] yuvipanda opened #2972 "Move hub image to Artifact Registry"
As part of https://github.com/berkeley-dsep-infra/datahub/issues/2958, I've moved most of the images we build to artifact registry. However, our custom hub image is used by data8x as well - and this works ok in gcr.io as our images are all actually public. I can't seem to do that with Artifact Registry, so let's unblock by keeping the hub image in gcr.io still.

We probably shouldn't just make the

[2021-11-05 18:01] yuvipanda commented on #2958
The core node pool still has this enabled, however, and causing issues:

[code]

Is currently causing workshop-prod to fail to deploy. I've just cordoned off that node for now. We should upgrade k8s again and bump up the nodes to 1.21 as well.

[2021-11-05 18:06] yuvipanda opened #2976 "Cleanup unused images in GCR.io"
With #2958, we moved all our container images to Artifact Registry from Container Registry. We can save space by just deleting old images on Container Registry (https://console.cloud.google.com/gcr/images/ucb-datahub-2018?project=ucb-datahub-2018&supportedpurview=project).

[2021-11-05 23:14] felder commented on #2934
Submitted PR for julia and asked @yuvipanda to review just to make sure we're on the same page.

[2021-11-06 03:44] lyrasheu1210 opened #2978 "retrieivng a copy of my files"
### Email Id

lyrasheu1210@berkeley.edu
changed my email address to lyrasheu@berkeley.edu after graduating

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/lyrasheu.tar.gz

[2021-11-06 18:03] yuvipanda opened #2981 "Reduce resource requests for staging hubs"
We set memory and CPU requests for all our hub pods (https://github.com/berkeley-dsep-infra/datahub/blob/2b6515171ed9735ec9d72fa6d0341cf2b7437790/hub/values.yaml#L196). But We don't need to set these for staging pods - we can set reduced requests, and that way we can maybe run at 2 core nodes constantly rather than 3. Save us some money.

[2021-11-07 16:03] yuvipanda commented on #2422
@ericvd-ucb [nbgitpuller.link](https://jupyterhub.github.io/nbgitpuller/link) now supports opening in retrolab

[2021-11-08 07:06] github-actions[bot] opened #2982 "Weekly Update - Monday, November 8th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-11-08 07:58] yuvipanda commented on #2422
Looks like otter relies on classic notebook javascript execution with `display` (https://github.com/ucbds-infra/otter-grader/blob/6a33a7519c8015201989250a1d185d4b03638892/otter/check/utils.py#L18) to help save notebooks before submitting them. This is extremely important functionality, but has already been a bit flaky (been debugging issues with problems saving with @davidwagner). It also won't wo

[2021-11-08 08:06] davidwagner commented on #2422
Can you help me figure out how I'd test a notebook with retrolab?  You mention doing a string replace on urlPath, but our current nbgitpuller links that we're currently using in Data 8 don't use urlPath.  A sample one is `http://data8.datahub.berkeley.edu/hub/user-redirect/git-sync?repo=https://github.com/data-8/materials-fa21&subPath=materials/fa21/hw/hw10/hw10.ipynb`.  Is there a simple tweak to

[2021-11-08 08:14] davidwagner commented on #2422
Hmm, it looks like what works is to create a nbgitpuller link with https://jupyterhub.github.io/nbgitpuller/link?hub=https://data8.datahub.berkeley.edu&repo=https://github.com/data-8/materials-fa21&branch=master, fill in something like `materials/fa21/hw/hw10/hw10.ipynb` as the file to open, select JupyterLab as the application to open, then manually edit the JupyterHub URL to change `lab` to `ret

[2021-11-08 08:14] yuvipanda commented on #2422
@davidwagner yeah, i'm not sure why it isn't showing up in that page. I'll investigate.

[2021-11-08 08:14] yuvipanda commented on #2422
also, I definitely don't expect that `display` call to work in retrolab!

[2021-11-08 19:24] yuvipanda commented on #2966
I've turned this down to a 0.1 guarantee and a 0.5 limit with #2983.

[2021-11-08 19:29] yuvipanda commented on #2966
I added an alert for 90% CPU utilization in https://grafana.datahub.berkeley.edu/d/R3O4mbg7z/cluster-information?orgId=1&viewPanel=9.

[2021-11-08 21:03] balajialg commented on #2891
@nojedam Sorry, I was on leave this Friday! Is the issue still persisting? If yes, please feel free to reopen this issue? Can you also please list the steps that led to this issue?

[2021-11-09 04:22] balajialg commented on #2982
**Thanks I'd like to give 🙌**
- Thanks @felder for patiently debugging my local instance to set up docker so that I could run otter commands.

**Updates from last week ✔**
- Analyzed the logs data and found that students were spending close to 11.5 years in a month. There are few clarifications required to validate whether this interpretation is accurate
- Preparing for the 17th workshop with poli

[2021-11-09 05:53] yuvipanda commented on #2966
<img width="693" alt="image" src="https://user-images.githubusercontent.com/30430/140869981-898e783d-759b-4f55-8493-6a26c5b96501.png">

The CPU requests are filling up the node faster than the memory requests, which I don't want - data8 (and most of our students really) are bottlenecked on memory, not CPU. Since the goal is to make sure students never end up with *no* CPU, I'm instead going to giv

[2021-11-09 08:02] yuvipanda commented on #2107
@davidwagner reports this is still happening with data8 and otter as well. We did a tiny bit of investigation, and filed the following issues / next actions:

- https://github.com/ucbds-infra/otter-grader/issues/449
- https://github.com/ucbds-infra/otter-grader/issues/448
- https://github.com/ucbds-infra/otter-grader/issues/450

Particularly, @davidwagner is trying to find someone who can take on

[2021-11-09 08:07] Yanay1 commented on #2107
When this issue happened for Okpy I increased the time out to around 10 minutes and it still ran into the issue for some students (a datahub issue), but it did reduce it in general from what I remember.

One solution would be to notify students if the timeout occurs.

[2021-11-09 08:08] Yanay1 commented on #2107
You can actually probably copy a lot of the same code I used for Okpy solution that Sam posted above (the wait for save function)!

[2021-11-09 15:14] yuvipanda commented on #2982
**Thanks I'd like to give 🙌**
- To @balajialg for helping organize the repo and our plans for the coming semester
- To @davidwagner for working through in investigating some data8 issues
- To @felder for encouraging me to write better PR descriptions and commit messages

**Updates from last week ✔**
- I built https://github.com/yuvipanda/nbgitpuller-link-generator-webextension which should help a

[2021-11-09 19:38] felder commented on #2978
Signed URL sent!

[2021-11-09 19:40] felder commented on #2982
**Thanks I'd like to give 🙌**
- @yuvipanda for chatting with me about some details with regard to setting up a dev environment.

**Updates from last week ✔**
- Did a first pass at moving dependencies to conda for julia hub.

[2021-11-09 19:58] #2982 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-11-10 01:34] felder commented on #2978
lyrasheu reports that the above file is empty.  After clicking on the link myself, I can see the file is 263 bytes.

Clearly some investigation is required.

Perhaps the change in email address is at fault here.  I'll do some research and get back to you.

[2021-11-10 01:42] felder commented on #2978
I can see that directories corresponding to lyrasheu and lyrasheu1210 exist, and lyrasheu1210 contains 1.6GB of data.

[2021-11-10 01:43] felder commented on #2978
@yuvipanda this would appear to be a corner case for the archiver.

[2021-11-10 01:56] felder commented on #2978
I have emailed lyrasheu1210 an email asking for identity confirmation.  A reply to that email containing the text of what I sent should suffice to tell me that lyrasheu1210 and lyrasheu are the same person.

If that doesn't work I'll need to check with calnet before I can release the files.

[2021-11-10 03:01] felder commented on #2978
Identity confirmed.

I'll get your files to you soon!

[2021-11-10 18:27] felder commented on #2978
I placed a tar archive of lyrasheu1210's files here:
gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/lyrasheu1210.tar.gz

Signed URL sent.

[2021-11-10 18:27] #2978 closed, assigned to felder

[2021-11-10 19:17] balajialg commented on #2589
@yuvipanda Considering your important work related to scheduling based on calendar events (https://github.com/berkeley-dsep-infra/datahub/pull/2681)  and insights from the latest [user research](https://docs.google.com/document/d/13T9iNH4TGLc7fHPmeGf02sxir9EFbVd5NlQuQS1w3oM/edit) with the infra lead for public health who highlighted scaling issues during a specific assignment, I am thinking of add

[2021-11-10 23:22] ericvd-ucb commented on #2949
@balajialg I am also interested in seeing if we can discover the long tail of courses, there are probably a bunch of courses using unique repos that could lead us to learn about a longer list of courses than we already know about

[2021-11-10 23:27] ericvd-ucb commented on #2422
So for testing Nbgitpuller Links for Fall 2021
**Data 8 Lab9 in Classic Notebook**
https://data8.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fdata-8%2Fmaterials-fa21&branch=master&urlpath=tree%2Fmaterials-fa21%2Fmaterials%2Ffa21%2Flab%2Flab09%2Flab09.ipynb

**Data 8 Lab9 in RetroLab Notebook**
https://data8.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=htt

[2021-11-11 01:15] ericvd-ucb commented on #2422
@yuvipanda  as per your Autosaving blocker commentary above, It seems to me that Data 100 has been running Otter in JupterLab for 3 semesters now and somehow Otter and Lab are getting along there?

[2021-11-11 02:10] balajialg commented on #2949
@ericvd-ucb Yes, I am also trying to find the 3k delta between the raw data analysis and the [course enrollment information](https://docs.google.com/document/u/1/d/13nhn7vHQpyq9ipgigHGRveL7hkcFswN9fdkCqhNlYTg/edit).

Initial analysis of the data highlights that the following repos are being used fairly regularly (Read the data below as repo name followed by number of hits to the repo)! I will spen

[2021-11-11 02:51] yuvipanda commented on #2422
@ericvd-ucb yeah, that's a great point. I think maybe they ask students to manually save before submitting? @chrispyles @fperez do either of you know if you manually instruct users to save?

[2021-11-11 02:53] chrispyles commented on #2422
Yes. Instructions to save are included in every notebook that Otter Assign outputs that include export cells. In Data 100, we also highlight the saving requirement in assignment instructions and make it explicit that regrades due to unsaved work that wasn't included in the submission will not be accepted.

<img width="1171" alt="fa21-dev_lab07_ipynb_at_main_·_data-88e_fa21-dev" src="https://user-i

[2021-11-11 02:59] yuvipanda commented on #2422
Ah, ok! @chrispyles would you consider this kinda functionality allowing you to save the notebook from python a blocker for retrolab adoption?

[2021-11-11 03:03] chrispyles commented on #2422
I think that's a question for the instructors/course staff to answer. Personally, I'm not a huge fan of Otter's autosave feature as it's finicky and unreliable. However, I would imagine that courses like Data 8 that use the autosave feature would consider this functionality a requirement.

[2021-11-11 03:09] yuvipanda commented on #2949
@balajialg can yu post the full github URLs? all the materials- courses are data-8, for example - https://github.com/data-8/

[2021-11-11 03:33] yuvipanda commented on #2811
Ok so I've added https://grafana.datahub.berkeley.edu/d/R3O4mbg7z/cluster-information?orgId=1&viewPanel=26, and set it to alert  via pagerduty when any disk is over 90% full.

[2021-11-11 03:38] yuvipanda opened #2988 "Setup pagerduty for proper use"
In #2693, we've setup pagerduty to send us alerts from grafana. But we aren't using it to its full extent, and we should.

- [x] Make sure everyone has pagerduty accounts with access to the 'datahub' service that we send alerts to
- [ ] Adding alerts for 5xx errors
- [ ] Integrate pagerduty into slack so we get alerts into uctech (https://support.pagerduty.com/docs/slack-integration-guide

[2021-11-11 03:39] yuvipanda commented on #2988
@balajialg found the pagerduty invite in his spam folder! @felder can you check yours too?

[2021-11-11 03:44] yuvipanda commented on #2988
I'd love for us to have this feature: https://support.pagerduty.com/docs/status-dashboard. It's on their paid plan though.

[2021-11-12 05:30] davidwagner opened #2989 "Support Latex in Retrolab"
# Summary

We are considering moving from classic Jupyter notebook to Jupyterlab Retrolab in Data 8.  Currently, we rely heavily on Latex in notebooks.  It appears that Retrolab doesn't render Latex.

For instance, see https://data8.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fdata-8%2Fmaterials-fa21&branch=master&urlpath=retro%2Ftree%2Fmaterials-fa21%2Fmaterials

[2021-11-12 05:30] davidwagner commented on #2422
@yuvipanda  Another blocker item for your list at the top: https://github.com/berkeley-dsep-infra/datahub/issues/2989

[2021-11-12 05:59] davidwagner opened #2990 "Retrolab vs classic notebook - long string outputs"
I noticed a difference in how output is rendered in classic Jupyter notebook vs Retrolab.  Compare

classic notebook: http://data8.datahub.berkeley.edu/hub/user-redirect/git-sync?repo=https://github.com/data-8/materials-fa21&subPath=lec/lec01.ipynb
Retrolab: https://data8.datahub.berkeley.edu/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fdata-8%2Fmaterials-fa21&branch=master&urlpath=r

[2021-11-12 06:07] fperez commented on #2989
Mmh, this is odd - I'm using locally the same exact version of RetroLab (0.3.12) as is installed in the D8 hub, and when I open the lab @davidwagner links above side by side, with the same browser, the campus hub shows indeed the non-rendering LaTeX, but my local one works OK:

![image](https://user-images.githubusercontent.com/57394/141418392-cb24f0d9-bf13-469f-8fcf-b28655346da1.png)

So evidentl

[2021-11-12 06:10] davidwagner opened #2991 "Retrolab vs classic notebook - long tables"
It appears that long tables are displayed differently in classic notebook vs Retrolab.  For example, compare the output of cell 2 in lec10 demos:

classic notebook: http://data8.datahub.berkeley.edu/hub/user-redirect/git-sync?repo=https://github.com/data-8/materials-fa21&subPath=lec/lec10.ipynb

![lec10cell2classic](https://user-images.githubusercontent.com/3349841/141418600-fc237796-5f0f-481f-ae1

[2021-11-12 06:22] davidwagner opened #2992 "Retrolab vs classic notebook - display of long arrays"
Long arrays are displayed differently in classic notebook vs Retrolab: they are put into a scrollable frame in classic notebook, but they spam the display in Retrolab.  For example, compare the output of cell 13 in lec10 demos:

classic notebook: http://data8.datahub.berkeley.edu/hub/user-redirect/git-sync?repo=https://github.com/data-8/materials-fa21&subPath=lec/lec10.ipynb

![lec10cell13classic]

[2021-11-12 06:55] davidwagner opened #2993 "Retrolab vs classic notebook - truncation of scatter plots"
Scatter plots seem to be truncated differently in classic notebook vs Retrolab.  For example, compare the output of cell 15 in lec10 demos:

classic notebook: http://data8.datahub.berkeley.edu/hub/user-redirect/git-sync?repo=https://github.com/data-8/materials-fa21&subPath=lec/lec10.ipynb

![lec10cell15classic](https://user-images.githubusercontent.com/3349841/141423596-48a46bcc-36f1-4fb6-9bf8-edd

[2021-11-12 06:58] davidwagner opened #2994 "Retrolab vs classic notebook - occasional weird highlighting in tables"
In Data 8 lec10 demos cells 27-31, when displayed with Retrolab, for some reason Retrolab weirdly decides to highlight one of the outputs with a gray border but not any others.  This doesn't seem to occur with the classic notebook.

classic notebook: http://data8.datahub.berkeley.edu/hub/user-redirect/git-sync?repo=https://github.com/data-8/materials-fa21&subPath=lec/lec10.ipynb

![lec10cell27-31c

[2021-11-12 07:00] davidwagner commented on #2422
I reviewed Data 8's lecture demos for lectures 01-10, and I recorded the annoyances that I spotted: #2990, #2991, #2992, #2993, #2994.

John DeNero (@papajohn) is teaching Data 8 next semester, so he'll be the one to decide which ones are acceptable and which are stow stoppers, but I wanted to document what I've found so far.

[2021-11-12 10:08] jtpio commented on #2989
It seems to be the case when testing on this Binder too: https://gist.github.com/jtpio/4a6a34da66b32249e28df718ec30e4d7

![image](https://user-images.githubusercontent.com/591645/141449457-af459812-9a49-4c57-af7a-b09a9a1ab112.png)

So probably something to do with the handling of the base url in retro.

[2021-11-12 10:36] jtpio commented on #2990
This issue and the others related to the scrolling behavior sound similar to this: https://github.com/jupyterlab/jupyterlab/issues/5897

Does the "Enable Scrolling for Outputs" help mitigate this?

![image](https://user-images.githubusercontent.com/591645/141452988-d4c15cdb-a2cd-40c2-b805-c5714c247169.png)

If so then maybe RetroLab can execute that command automatically on startup so it's the def

[2021-11-12 18:44] felder commented on #2811
@yuvipanda can this be modified to show mount points instead of device names?

[2021-11-12 18:57] balajialg commented on #2994
Thanks, @davidwagner for raising the varied requests related to Retrolab. I will close these issues as soon as the corresponding changes are made upstream.

@yuvipanda @jtpio Who would be the right person to escalate such retro lab-related issues in the future?

[2021-11-12 19:54] balajialg commented on #2949
@yuvipanda Stored all the URLs in this [CSV file](https://data100.datahub.berkeley.edu/hub/user-redirect/lab/tree/Nbgitpuller%20Analysis/clicks.csv) for your reference. Let me know if it suffices?

[2021-11-12 20:00] jtpio commented on #2989
@davidwagner @fperez this should now be fixed with the latest `0.3.13` release: https://github.com/jupyterlab/retrolab/releases/tag/v0.3.13

[2021-11-12 21:37] ryanlovett commented on #2994
@balajialg You can probably search for existing issues or create new ones at https://github.com/jupyterlab/retrolab/issues.

[2021-11-13 01:00] fperez commented on #2989
Awesome, huge thanks for the quick turnaround @jtpio!

[2021-11-13 01:06] fperez commented on #2422
Thanks a lot for this audit @davidwagner! I think they are actually all very related, all having to do with how JupyterLab's components render longer outputs, and the differences there re. the classic notebook. But it's good to have them all separately documented to be certain that any fixes do cover them all.

@jtpio - I'm happy to also put some cycles into auditing this with you as we move forwa

[2021-11-13 01:34] balajialg commented on #2994
@ryanlovett Thanks a lot! Appreciate it

[2021-11-13 01:40] balajialg commented on #2988
@yuvipanda Looks like the status dashboard functionality costs us around $500/year, which seems like a reasonable investment considering that alerting is crucial to our hub operations.
@ericvd-ucb @felder Thoughts on going down the route @yuvipanda had suggested?

Slack integration with pager duty also sounds like a powerful usecase for real-time alerts when the hubs go down.

[2021-11-13 11:09] jtpio commented on #2994
@balajialg yeah feel free to open new issues on the retrolab repo.

You can use this Binder (or something similar) to create examples that are easy to reproduce: https://gist.github.com/jtpio/4a6a34da66b32249e28df718ec30e4d7

(since we don't have access to the data8 deployment)

[2021-11-13 20:26] anthlittle opened #2995 "Request more RAM for class PS 88 (or just instructors)"
My course reader Diego Villegas was in touch with someone about getting the RAM for our class increased, and it did work for him, but not for me, even after logging out and in again. My id is andrew.little. I haven't checked with my students yet to see if it worked for them, and figured it would be good ask here first to avoid confusing them :). Thanks!

Rest of the info request is below

**Which

[2021-11-14 16:32] #2989 closed, assigned to balajialg

[2021-11-15 06:09] yuvipanda commented on #2811
@felder done

[2021-11-15 06:59] averageprogrammer opened #2998 "Datahub Data 100 Archive Retrieval"
### Email Id

ralphdperson@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/ralphdperson.tar.gz

[2021-11-15 07:06] github-actions[bot] opened #2999 "Weekly Update - Monday, November 15th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-11-15 14:05] yuvipanda commented on #2949
@balajialg that link is not publicly accessible, I think that's private to just your hub.

[2021-11-15 17:17] balajialg commented on #2995
@anthlittle Quick clarification, Did you try as per the last comment highlighted by @ryanlovett in [this](https://github.com/berkeley-dsep-infra/datahub/issues/2848) issue? We can take it from there if this hack is not working.

[2021-11-15 17:46] yuvipanda commented on #2990
I opened https://github.com/jupyterlab/retrolab/issues/287 suggesting that, @jtpio!

[2021-11-15 17:56] anthlittle commented on #2995
I tried the hack of logging out and that didn't seem to work for me. Thanks!

[2021-11-15 18:00] yuvipanda commented on #2989
I've deployed this new release, and i see the LaTeX be rendered now!

<img width="1088" alt="image" src="https://user-images.githubusercontent.com/30430/141831364-f43fdcd7-aab3-4dab-8511-19ea02228901.png">

Thanks for reporting this, @davidwagner! And thanks for the quick fix, @jtpio!

[2021-11-15 18:02] balajialg commented on #2995
@anthlittle We will look into this issue immediately. Thanks!

[2021-11-15 20:39] balajialg commented on #2949
@yuvipanda Hope you can access the CSV here!
[clicks_latest.csv](https://github.com/berkeley-dsep-infra/datahub/files/7541518/clicks_latest.csv)

[2021-11-15 20:57] ryanlovett commented on #2995
@anthlittle I've configured the hub to pull the course roster from SIS. It should work for you the next time you start your server. But when you get a chance, can you also please log out and back in once more? I've added some debugging so we can see how many bcourses courses you are a member of.

[2021-11-15 21:03] anthlittle commented on #2995
Works for me now, thanks! I'll let you know if students have any issues.

I also did the logout/login.

[2021-11-15 21:19] felder commented on #2999
**Challenges I faced and things I'd like assistance with 🙏**
-  Had a corner case for archived file retrieval #2978.  Not a big deal, but noteworthy.

**My availability for next week**
- I'm available all week.

[2021-11-15 21:22] felder commented on #2998
Signed URL sent!

[2021-11-15 21:22] #2998 closed, assigned to felder

[2021-11-15 21:42] balajialg commented on #2949
@ericvd-ucb @yuvipanda Based on the top 100 repo data from nbgitpuller analysis, I was able to narrow the difference between log data and course enrolment data from 3000 to around 500 users. Current total amounts to 9915 users based on FA 21 enrolment data from https://classes.berkeley.edu/. Can you quickly check whether the courses added to this [list](https://docs.google.com/document/d/13nhn7vHQ

[2021-11-15 21:49] ericvd-ucb commented on #2949
check
https://eecs16a.org/ ( looks like yes!)
and
https://eecs16b.org/ ( looks like yes)

[2021-11-16 03:19] felder commented on #2988
Do you see this for internal use only, or for stakeholders as well?  My concern with the dashboard is it seems to overlap a bit with the ucb system status page and ucb incident management.

[2021-11-16 05:39] yuvipanda commented on #2988
@felder the alerting is for internal use only. The status page should be considered separate from that.

However, if this becomes a single source for alerting, then it makes sense to also use it as a more detailed dashboard available for public consumption. It means no effort is required on our part to update status for view by students and others who might be affected by an outage.

[2021-11-16 15:26] balajialg commented on #2995
Thanks a lot, @ryanlovett for the quick fix!

[2021-11-16 17:55] balajialg commented on #2999
**Thanks I'd like to give 🙌**
- Thanks, @yuvipanda, for sharing the nbgitpuller data, for the wonderful work in troubleshooting CPU issue and managing stakeholder expectations for Data 8, pager duty alerts, and for building a kickass plugin for nbgitpuller
- Thanks, @ryanlovett, for quickly fixing #2995

**Updates from last week ✔**
- Doing outreach for tomorrow's [workshop](https://drive.google.c

[2021-11-16 21:31] balajialg commented on #2855
@ericvd-ucb @yuvipanda Thoughts about having a monthly newsletter with a similar [template](https://balajialg.substack.com/p/e2cc20f2-8b8b-4109-808e-c56840856395)? Worth discussing during the next week's mini DSUS meeting?

[2021-11-16 22:05] jtpio commented on #2994
@davidwagner I just tried using this link and it looks related to the cell having `scrolled` set to true in its metadata. This can be checked in JupyterLab by opening the notebook with the Editor:

![image](https://user-images.githubusercontent.com/591645/142072425-65d6df77-2315-4706-afac-348192f5576b.png)

Right click and "Disable Scrolling for Outputs" removes it.

Could it be that some of the n

[2021-11-16 22:11] jtpio commented on #2993
Thanks @davidwagner for reporting :+1:

Agree, and we should be able to tweak the CSS to make it look nicer.

For example by applying a `padding-top: 6px` (to match the box shadow blur radius):

![image](https://user-images.githubusercontent.com/591645/142074206-57636b9f-bed8-41d9-9508-98dec7c2416e.png)

[2021-11-16 22:49] jtpio commented on #2992
There is now an issue on the RetroLab repo: https://github.com/jupyterlab/retrolab/issues/287

And a WIP PR to fix it so the behavior is similar to the classic notebook: https://github.com/jupyterlab/retrolab/pull/288

As a workaround, explicitly setting `scrolled` in the cell metadata (https://nbformat.readthedocs.io/en/latest/format_description.html#cell-metadata) of the source material should a

[2021-11-16 23:28] balajialg commented on #2988
@yuvipanda Considering what you and felder said, IMHO it makes sense to start with alerting and then explore dashboard functionality once we are completely sure that it alerts for the right reasons.

It will be great if this system could be in sync with system status as highlighted by @felder (ideal case scenario) but operationally it doesn't matter much (as of now) as most of our users are not aw

[2021-11-17 00:15] HahehaLing opened #3017 "Error Reading csv File"
### Bug description

Hi,

I am trying to upload this csv file to datahub but keep getting stalled at 581.56 MB read. Then I get the corresponding error messages.

![image](https://user-images.githubusercontent.com/85141145/142086260-052e6386-b61b-454b-b4bc-28bdae677de3.png)
![image](https://user-images.githubusercontent.com/85141145/142086279-d8cb2a11-fec1-4146-a55f-79c76cf202fc.png)
![image](http

[2021-11-17 00:37] balajialg commented on #3017
@felder I spent some time debugging this issue and suggested that they upload the CSV file in their tree. However, the User's file system in R studio looks different from the file system in user's [tree](https://ischool.datahub.berkeley.edu/user/lingyue/tree#notebooks)? What could be the reason and how to ensure that they remain the same?
![image](https://user-images.githubusercontent.com/2306166/

[2021-11-17 00:47] felder commented on #3017
@balajialg @HahehaLing

Does the upload actually succeed and then the function call fails?  If so, 500MB?  Is it possible that we're seeing memory exhaustion here?

It's unclear to me how the upload is performed.  The notes to produce say to upload the file and run the code, but the screen shot does not show that occurring.

[2021-11-17 00:52] felder commented on #3017
@balajialg with regard to the tree not matching, your URL points to ischool hub while the screenshot indicates r hub

The bug report also mentions datahub...

So which is it?

r hub?  ischool hub?  or datahub?

[2021-11-17 00:56] ryanlovett commented on #2995
@balajialg No problem. This particular issue was fixed by #3005, and it should be fixed in general for other Canvas courses by #3018.

[2021-11-17 00:56] #2995 closed, assigned to balajialg, ryanlovett

[2021-11-17 00:58] balajialg opened #3019 "Explore cost sharing model for EECS 16 A lab compute requirement!"
# Summary
EECS 16 A (Designing Information Devices and Systems I) has more than [1000+ students](https://docs.google.com/document/d/13nhn7vHQpyq9ipgigHGRveL7hkcFswN9fdkCqhNlYTg/edit?usp=sharing) enrolled as part of the course and uses EECS Hub. Students in the EECS 16 A lab currently face challenges running their large datasets using Datahub due to the CPU requirement and hence are using their loc

[2021-11-17 01:08] HahehaLing commented on #3017
Hi,

I have done another csv file upload, which succeeded. But the file size is much smaller at 2mb.

My current csv is around 750 mb.

Best regards,
Eric (Yue)

——
Sent from mobile

[2021-11-17 01:23] balajialg commented on #3017
@HahehaLing Any reasons why you are reading a 750 MB file requirement? Was this dataset prescribed as part of your course or is it a personal project?

Ischool and R Hub has a guarantee of 512M and a limit of 1G of ram which may not be feasible to perform such a complex operation.

[2021-11-17 01:31] ryanlovett commented on #3017
@balajialg If RStudio's upload mechanism reads the whole thing into memory, then people won't be able to upload large files this way. If the file is hosted online somewhere, they can retrieve the file onto the hub with R or some other client. It might also be possible to upload through Jupyter Notebook or Lab, if those apps stream the file to disk rather than reading in the whole thing.

[2021-11-17 01:36] felder commented on #3017
@ryanlovett @HahehaLing another approach could be to compress it first, upload it, and then decompress it.  I imagine a csv will likely compress quite well.

However, that's still not going to fix the issue if the code needs to read the whole thing in.

[2021-11-17 01:48] HahehaLing commented on #3017
Hi all,

Yes this is the lab 2 for w203 where we have to find our own dataset. My team is trying to find a relationship between rain and store sales.

I have uploaded a zip file (successful) and extracted in data hub, but have issue loading the csv data to a data frame.

Best regards,
Eric

[2021-11-17 02:08] felder commented on #3017
@HahehaLing that's what I would expect.  Is it possible for you to break up the data set into multiple parts and process those parts individually?  Alternatively is there a smaller dataset you could use?

[2021-11-17 04:38] yuvipanda commented on #2994
Also looks like something that will be fixed with https://github.com/jupyterlab/retrolab/pull/288

[2021-11-17 04:54] yuvipanda commented on #2988
I've been getting alerts i've setup on garafana - you can see the list of alerts in https://grafana.datahub.berkeley.edu/alerting/list. I had thought everyone else was also - apparently not! @balajialg just set that up, so I think we'll get basic alerts now. Question is how to act on them :)

[2021-11-17 04:54] yuvipanda commented on #2988
We don't have an alert for 5xx responses on the hub yet.

[2021-11-17 06:10] yuvipanda commented on #3017
We can also temporarily give you more RAM?

[2021-11-17 14:29] yuvipanda commented on #2995
@ryanlovett think we can move this away from SIS?

[2021-11-17 15:34] #2999 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-11-17 17:45] ryanlovett commented on #2995
@yuvipanda If you mean remove the SIS stanza for this class in particular, sure, though it'd require that some people re-login. If you mean in general, I think we can put new courses on the Canvas method.

[2021-11-17 19:22] HahehaLing commented on #3017
Hi,

No problem, I have found another data set.

Thanks for your help.

Best regards,
Eric

[2021-11-17 19:33] felder commented on #3017
@HahehaLing excellent!

[2021-11-17 19:33] #3017 closed, assigned to felder, balajialg

[2021-11-18 00:37] balajialg commented on #2322
@Quizenger Let's communicate over here and figure out a solution asap! Sharing the context shared over email for the team,

[2021-11-18 00:40] raghav-g13 commented on #2322
Can we increase CPU guarantee and limit temporarily? (we've brought down our requirements of simultaneous users from ~70 to ~20 so I hope this is possible?)

[2021-11-18 01:26] felder commented on #2322
So the continuous integration server is really giving me the once over today.

What I've done is modified the eecs config locally to provide a guarantee of 0.33 CPU with a limit of 2 and pushed it directly.  I believe that's what we did the last time.

However, that change is not going to stick if another deployment is performed later.

@yuvipanda pinging you here to let you know the situation.  I

[2021-11-18 01:43] balajialg commented on #2322
Thank you so much @felder for quickly looking into this issue and figuring out a solution! Since you deployed via hubploy, there won't be any relevant PR mapped to it?

[2021-11-18 01:46] felder commented on #2322
@balajialg that's correct.

[2021-11-18 01:48] balajialg commented on #2322
@Quizenger Let us know if you still face any issues with hub performance!

[2021-11-18 04:53] yuvipanda opened #3024 "Add an issue template for requesting extra CPU"
We can either repurpose the current 'request more RAM' issue template to also count for CPU, or make a new one.

[2021-11-18 14:45] balajialg commented on #3024
@yuvipanda What details would you want to collect in this template? I am listing the obvious ones below,

1. Duration of the request
2. Reason for the request
3. Total number of students affected
4. Estimate the number of CPUs to be added?
5. Deadline by when this change needs to be added

Feel free to add/edit/delete the fields!

[2021-11-18 19:47] yuvipanda opened #3027 "Enable Real Time Collaboration in our Hubs"
JupyterLab and Retrolab have realtime collaboration features now. They are a bit experimental, but work reasonably well. We should enable them in our hubs.

[2021-11-18 23:40] #3024 closed, assigned to balajialg

[2021-11-18 23:52] balajialg commented on #3019
@ericvd-ucb cc'ing you in this issue as it has clear financial implications!

[2021-11-19 10:58] yuvipanda commented on #3027
Coming soon to data100

<img width="666" alt="image" src="https://user-images.githubusercontent.com/30430/142611737-a702cc9f-2b77-4445-8e15-d27978f406d9.png">

[2021-11-19 11:00] yuvipanda commented on #3027
Step 1: Find the 'Share' menu item in JupyterLab

<img width="282" alt="image" src="https://user-images.githubusercontent.com/30430/142611805-6acd680e-d349-4fd6-95da-a0351af743a8.png">

Step 2: Read the warning, make sure you understand it, and copy the link to be shared with someone else

<img width="652" alt="image" src="https://user-images.githubusercontent.com/30430/142611892-1c720521-8350-497

[2021-11-19 21:44] balajialg commented on #2322
@felder Should we close this issue assuming nothing was reported in the past two days?

[2021-11-19 22:01] felder commented on #2934
dlab uses the datahub user image.

[2021-11-19 22:36] balajialg opened #3040 "Team core principles discussion!"
Hi All,

I know that you might be wondering why there is yet another GitHub issue related to team stuff on a Friday evening. Considering that we are dealing with a gazillion other issues/emails/slack pings.  Based on my observation, I took time to verbalize some of our core operating principles. I personally think it will be important for us to make decisions based on commonly agreed-upon principl

[2021-11-19 22:44] felder commented on #2322
@balajialg yeah it's probably safe to close this.  If eecs reports more issues we can reopen it.

[2021-11-19 22:44] #2322 closed

[2021-11-20 00:09] felder commented on #2934
@yuvipanda looking at eecs hub, would https://anaconda.org/conda-forge/py-opencv be the same as opencv-python?

[2021-11-21 21:19] AdolpK opened #3042 "CPU 请求"
### Reason for the request

未知

### Student Count

未知

### Duration for this request

未知

### Deadline for this request

未知

### Additional inputs

物质

[2021-11-21 21:23] AdolpK opened #3043 "Weekly Update - {{ date | date('dddd, MMMM Do') }}"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-11-21 21:24] AdolpK opened #3044 "Request more RAM for class X"
**Which hub do you want more RAM on?**

For example: datahub, r hub, eecs hub, etc

**Which class is this request for?**

You **must** include a link to your class for the correct semester in https://classes.berkeley.edu.

**How many students do you expect in this class?**

An approximate number would do.

**How much RAM does this class need?**

The default is 1GB of RAM per student.

**Why does t

[2021-11-22 04:27] #3044 closed, assigned to balajialg

[2021-11-22 04:30] #3043 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-11-22 04:39] #3042 closed, assigned to yuvipanda, felder

[2021-11-22 05:13] yuvipanda commented on #2949
https://console.cloud.google.com/storage/browser/ucb-datahub-hub-logs/old%20logs?pageState=(%22StorageObjectListTable%22:(%22f%22:%22%255B%255D%22))&project=ucb-datahub-2018&prefix=&forceOnObjectsSortingFiltering=false has historical logs that @felder uploaded, and can be used to get this information for the last few years. You can get the same raw logs I provided you by:

1. Downloading these fil

[2021-11-22 07:06] github-actions[bot] opened #3045 "Weekly Update - Monday, November 22nd"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-11-22 08:02] raghav-g13 commented on #2322
Looks good so far, TAs reported improvements on Friday. Thank you so much everyone for your support!

[2021-11-22 15:03] flawnn commented on #2866
A bit off topic:
But I created a thread in GitHub Discussions to get that feature implemented.
https://github.com/github/feedback/discussions/7971

[2021-11-22 23:51] balajialg commented on #2988
@yuvipanda Thanks a lot for setting this up. Specific reasons why 5xx errors are not enabled? Would it make SENSE to enable it considering Data 100 folks reported few 502 errors today

[2021-11-23 00:38] cdbeon opened #3048 "[Inquiry] Can Datahub Be Used For Large Class-Size Examinations?"
PH 142 is currently looking into how feasible it is to hold our final exam online on Datahub. Our current plan is the following:

1. Send out a compressed file containing the exam Rmd as well as a dataset in csv format
2. Students will simultaneously complete using the data provided. This will be done on Datahub (or local RStudios, if they choose to do so)
3. Students will knit their file and subm

[2021-11-23 00:39] cdbeon commented on #3048
@corinne-riddell @kmaccuish

[2021-11-23 01:08] balajialg commented on #3045
Thanks, @yuvipanda for the nudge. Let's skip this week's update and shift to a bi-monthly cadence considering the effort involved to write these updates vs the value gained trade-off. @felder if you would like to keep this update on a weekly basis then please do let us know. Thanks!

[2021-11-23 01:11] balajialg commented on #3048
Thanks, @cdbeon for sharing the detailed requirement! Posting slack response below for the sake of continuity

_I guess provisioning more nodes during 3 hours of the exam is something we can definitely do at our end. We did try the synchronous use case with the Political Science 3 course, where 300+ students worked on R notebooks during the class hours. We had some hiccups initially but were able

[2021-11-23 01:14] balajialg commented on #2949
@yuvipanda This is awesome documentation! Thank you so much. I downloaded the relevant logs from the Google Cloud buckets. Will analyze them based on your inputs. Thanks again.

[2021-11-23 01:16] balajialg commented on #2866
Thanks a lot, @flawnn for starting the discussion again. Hoping that GitHub prioritizes this feature soon.

Thanks for giving us a heads-up! Appreciate it.

[2021-11-23 16:07] #3045 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-11-23 18:57] felder commented on #2866
@flawnn thanks!  I wonder if github even has any interest in solving this issue though.  "Privacy" is something github charges for, although I guess I could see them including this feature in paid plans.

We also do have plans to automate this in the future so that students can securely obtain their files and they don't have to wait for support to do the retrieval.

[2021-11-23 19:22] felder commented on #3048
@cdbeon This sounds like something we should totally be able to accommodate using the scheduling calendar to increase node provisioning during this period or perhaps from 6-11 just to give a bit more wiggle room.

It may also be helpful if students are encouraged to sign in a little ahead of time (if they can) so we don't have 340 folks all hop on at once at 7pm.  However, I think if we go for the

[2021-11-23 19:33] cdbeon commented on #3048
Forgive me, I thought Datahub was just the catch-all term for all the hubs.

This exam would take place on the Public Health Hub.

[2021-11-23 19:35] felder commented on #3048
@cdbeon just wait until the "Datahub" building is constructed!

https://statistics.berkeley.edu/about/news/largest-gift-berkeleys-history-data-hub-building

[2021-11-23 20:43] ryanlovett commented on #3048
@felder Fortunately it is now called the Gateway Building. I guess that creates an issue for Network Operations however. :)

[2021-11-23 20:57] felder opened #3049 "eecs pods stay running for days"
### Bug description

If I pull up a list of running eecs pods I can see several of them have been running for days.  Looking at the logs for those pods, it would appear the student is not actively interacting with the pod.

If I access one of the pods, I can see there is a classic notebook running.  Notebook indicates the last saved state was days ago (similar to the age of the pod).  Best guess i

[2021-11-23 20:59] felder commented on #3049
@Quizenger It's our belief there is likely an issue with this assignment notebook, perhaps an infinite loop.  This behavior has been seen in a lot of eecs pods.  Would you be willing to help us investigate that?

[2021-11-23 21:10] felder commented on #3049
I'll be taking some corrective action by manually killing all eecs pods in the gamma pool older than 24h, however this will also get rid of some of the evidence.  Thus it'd be good to troubleshoot it first.

[2021-11-23 21:17] felder commented on #3049
This is the path of one of the notebooks:
notebooks/public-fa21-hw-notebooks/fa21_hw12/iPython_release/ikinematics.ipynb

This may be eecs 16B, but I'm not sure.

Inverse Kinematics
Changelog:
    Created by Stephen Bailey, Anant Sahai
    Fall 21: Added draggable goal animation, Ashwin Vangipuram

[2021-11-23 21:24] felder commented on #3049
Spot checking several of these pods reveals they seem to all be running the same notebook.

[2021-11-23 21:43] balajialg commented on #3049
@felder Thanks for writing this up! @Quizenger Just checking, Are you the point of contact related to Datahub for both 16 A and 16B?  If not, Who else is the right point of contact for EECS 16 B?

[2021-11-23 22:56] raghav-g13 commented on #3049
@felder @balajialg  I'm the point of contact for 16A. That's one of 16Bs homeworks. I honestly don't know who'd be the right person to reach out to, so here's their staff list: https://eecs16b.org/staff.html

[2021-11-23 23:11] felder commented on #3049
@Quizenger yeah I figured that might be the case once I dug into who authored the suspect notebook.  Thanks anyway!

[2021-11-24 01:47] tavisha-thapar opened #3053 "Data Archival Request for Tavisha Thapar - files from Data 100 Course (Fall 2020 semester)"
### Email Id

tavisha.thapar@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/tavisha-2ethapar.tar.gz

[2021-11-24 01:56] felder commented on #2322
Just to add a quick note.  @Quizenger says that eecs 16a requires these allocations until December 10.

[2021-11-24 01:59] felder commented on #3053
Signed url sent.

[2021-11-24 01:59] #3053 closed, assigned to felder

[2021-11-24 02:13] tavisha-thapar commented on #3053
question - there were only materials from fall 2018 in the folder. does data100 delete their course files? I had projects and stuff that are gone now, and only my data8 (from fall 2018) materials are left.

[2021-11-24 03:24] msswn commented on #3049
Hi! I'm on the content team for EECS16B - this has been relayed to us - we should be deploying a fix for things of this sort so that we don't have infinite runtimes on notebooks. Apologies!

[2021-11-24 04:12] dhasteer commented on #3049
Hi @felder @balajialg, member of 16B staff here. Would it be possible for you to manually kill the pods running the `ikinematics.ipynb` notebook? We've deployed a fix so that new instances of the notebook will not have an infinite loop. Thanks and sorry about any trouble!

[2021-11-24 05:43] felder commented on #3049
@dhasteer yeah that should be possible, I'll just keep my eye out for long running eecs pods and I'll stop them.

[2021-11-24 05:47] yuvipanda commented on #3048
@felder Someone should run through the expected notebooks on datahub and see CPU / memory usage. We need to increase CPU limits only if they are planning on using a lot of CPU

[2021-11-24 18:39] felder commented on #3049
@dhasteer

This morning I killed 5 pods that had been running since yesterday.  All the rest appear to be pretty recent.  There is one that has been up for 2 hours, if it's still up later this afternoon I'll kill it too.

I'll update this ticket periodically over the next several (work) days to see if any additional action is required.

[2021-11-24 19:42] ericvd-ucb opened #3057 "request more Mimi Julia Packages"
### Package Name

multiple Mimi packages?

### Hub details

- Hub:
- Julia
- Language:

we have MIMIFund and its working
Now we need the others

CSVFiles
DataFrames
Distributions

MimiDICE2010
MimiDICE2013

MimiPAGE2009
MimiRICE2010
Query
VegaLite

MimiIWG

ref
https://github.com/davidanthoff/teaching-2019-aere-workshop/blob/master/Project.toml

and
@lrennels

### Course Name

Data 100

### Semest

[2021-11-24 19:59] ericvd-ucb commented on #3057
FWIW this is what we are trying to run
https://github.com/davidanthoff/teaching-2019-aere-workshop

at JupyterStuffPuller Link

https://julia.datahub.berkeley.edu/hub/login?next=%2Fhub%2Fuser-redirect%2Fgit-pull%3Frepo%3Dhttps%253A%252F%252Fgithub.com%252Fdavidanthoff%252Fteaching-2019-aere-workshop%26urlpath%3Dlab%252Ftree%252Fteaching-2019-aere-workshop%252F

[2021-11-29 07:06] github-actions[bot] opened #3058 "Weekly Update - Monday, November 29th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-11-29 07:25] yuvipanda commented on #3057
The packages that start with MIMI should be added here: https://github.com/berkeley-dsep-infra/datahub/blob/b8e68c02c5ba6108afa2e689e01a714f360a2ffb/deployments/julia/image/install-julia-packages.jl#L22

Rest look like standard packages and should be added here: https://github.com/berkeley-dsep-infra/datahub/blob/b8e68c02c5ba6108afa2e689e01a714f360a2ffb/deployments/julia/image/install-julia-packag

[2021-11-29 07:35] ericvd-ucb commented on #3057
@yuvipanda  thanks so much - yes indeed they can all be installed via Pkg.add - but its was kind of laggy to thanks for the installs

[2021-11-29 18:31] felder commented on #3049
I don't see any running pods this morning that have this issue.

I'm going to close this for now, but I'll still keep an eye out.

[2021-11-29 18:31] #3049 closed, assigned to felder, balajialg

[2021-11-30 01:00] balajialg commented on #3058
**Thanks I'd like to give 🙌**
- Thanks @yuvipanda for detailed instructions in #2943 to retrieve the required logs from hub data!
- Thanks @felder for following up on the EECS performance-related issues consistently.

**Updates from last week ✔**
- Working on a [presentation](https://docs.google.com/presentation/d/1rSX9PP42EHkUFsyW3bBfssqIFxJLT9_hKVEnnDxBYTk/edit?usp=sharing) to introduce Datahub

[2021-11-30 01:37] balajialg commented on #3048
@cdbeon Whenever the teaching team finalized the decision wrt Datahub and are ready with the notebooks, Can you share the notebooks with us for evaluating CPU/RAM requirements? Few days' heads up prior to 12/13 would be appreciated.

[2021-11-30 01:53] felder commented on #3057
@ericvd-ucb @yuvipanda I've submitted a PR to staging, but there's an issue.  Triangle will not co-exist with MimiFUND, MimiIWG, and Optim.

Triangle also hasn't really been updated much since Julia 1.2 which I suspect has something to do with it.

[2021-11-30 01:55] ericvd-ucb commented on #3057
Lets drop that one then

[2021-11-30 03:06] felder commented on #3057
Deployed to prod minus Triangle.

[2021-11-30 03:06] #3057 closed, assigned to felder, balajialg

[2021-11-30 18:31] balajialg commented on #3058
@yuvipanda @felder FYI!

[2021-11-30 20:35] felder commented on #3058
@balajialg I do not believe posix cron syntax provides for a means of doing what you want.

Typically on a traditional cron implementation you'd either:

1. Incorporate a check (for example using the date command) with the && operator in the command for cron to execute:  ```0 7 8-14,22-28 * * [ `date +\%u\` = 1 ] && /path/to/myscript```
2. Code in a check to the actual script cron runs.

In either

[2021-12-01 01:21] balajialg commented on #3058
@felder Makes sense! Will manually close the issue every alternate week (going forward)

[2021-12-01 01:27] balajialg opened #3064 "Agenda for Sprint Planning and Retro Meeting on 12/2!"
Hi All,

Sharing the tentative agenda for the sprint planning and retro meeting on 12/2 (got clubbed due to the Thanksgiving holiday last week). Would you mind adding/editing/deleting the agenda items for this meeting?

1. Retro: Reviewing the November Sprint (~15 minutes)
2. Curating and prioritizing cards for the December sprint (~25 minutes)
3. Review of EECS cost-sharing request (~10 mins)
4.

[2021-12-01 14:00] yuvipanda commented on #3064
Let's just pay for CircleCI! That way we don't have to discuss this at the meeting, and get some time back :)

[2021-12-01 14:46] yuvipanda commented on #3064
Let's also run the home directory archival.

[2021-12-01 17:31] #3058 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-12-01 17:43] #2619 closed, assigned to balajialg

[2021-12-01 17:52] balajialg commented on #2811
@felder @yuvipanda I assume that the acceptance criteria for this issue is met using this [dashboard](https://grafana.datahub.berkeley.edu/d/j2uCW9vGz/nfs-stats?orgId=1&refresh=30s). Considering that, I am closing this issue. If you think otherwise, please feel free to reopen the issue. Thanks!

[2021-12-01 17:52] #2811 closed, assigned to yuvipanda, felder, balajialg

[2021-12-01 19:44] balajialg commented on #2099
@yuvipanda @ryanlovett I guess this issue is relevant even now (correct me if I understand it right). Is it tied to the RStudio upgrade or requires deeper investigation to figure out the root cause? I haven't seen any Github issue or slack message pertaining to shiny not working. So I am assuming that it is not a critical feature for the hub's operation. Considering that, should we remove shiny fr

[2021-12-01 20:06] felder commented on #3064
I'd like to make sure we discuss issues #3048 #2946

Specific to tasks outlined in #2946 we should also discuss staff availability.

[2021-12-01 20:57] ryanlovett commented on #2099
@yuvipanda I can't reproduce this in my account on datahub. (see below)

<img width="1181" alt="Screen Shot 2021-12-01 at 12 48 15 PM" src="https://user-images.githubusercontent.com/10248125/144311567-7bd0a4fb-0efc-47ec-aeb6-159a840eb811.png">

I just tried this as yuvipanda however and was able to reproduce it: (from jupyter-yuvipanda)
[code]

I was not able to reproduce it as balajialwar -- shin

[2021-12-01 21:13] ryanlovett commented on #2099
I suppose we should try updating shiny-server from 1.5.15.953 to 1.5.17.973, though I can't find a changelog.

shiny server responds with 200, but the response body is from the jupyter server. I doesn't actually log me out of yuvipanda's server -- no reauthz was required.

[code]

[2021-12-01 21:21] balajialg commented on #2099
@ryanlovett Thanks for looking into this! As per your suggestion, I am okay with having it as it is, but I think we need to add some supporting documentation for shiny (I couldn't find any as of now) and add shiny demo as part of our outreach collaterals as I am not sure we consciously highlight this capability during our interaction with faculty.

I can take the first crack at the documentation i

[2021-12-01 21:48] ryanlovett commented on #2099
@balajialg Do you have an outreach repo full of other demos? I could add an example shiny app to it.

[2021-12-01 22:54] balajialg commented on #2099
@ryanlovett I have the demos listed [here](https://drive.google.com/drive/folders/1D7jhlahTWgdr4DGK-ngNS6vZhV48Bzbe?usp=sharing). You may not have access to the folder. If that be the case, can you please share the shiny demo file with me? I can add it directly.

Thanks! Appreciate it

[2021-12-01 23:07] ryanlovett commented on #2099
I don't have access to that, but on datahub I just imported the repo at https://github.com/rstudio/shiny-examples. See https://shiny.rstudio.com/gallery/#demos.

[2021-12-02 00:09] balajialg commented on #2099
@ryanlovett that's awesome! I will look into this asap

[2021-12-02 03:51] hannahherm opened #3065 "Retrieve my old Datahub files"
### Email Id

hherm2@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/hherm2.tar.gz

[2021-12-02 17:03] felder commented on #3065
Signed URL sent.

[2021-12-02 17:03] #3065 closed, assigned to felder

[2021-12-02 18:14] balajialg commented on #3064
**Next Steps from the Sprint Planning Meeting:**

1. @balajialg to set up some time with the team to discuss the EECS cost-sharing request and figure out the next steps!
2. @felder to work closely with @yuvipanda in archiving home directories and clean up unused directories before holidays
3. @yuvipanda to work closely with @ryanlovett to upgrade R studio and relevant R packages
5. @balajialg to r

[2021-12-02 18:14] #3064 closed, assigned to nobody

[2021-12-02 18:19] balajialg commented on #2949
Did some analysis on the historical log data over the past 2 days. Historical log data amounted to almost 10 GB and was available till October 27th, 2021, for all the different hubs. I wrote an R script to determine how much time users are spending on the platform as reported by the logs. Total usage cumulatively comes to around whopping 149.22 years (i.e almost ~ 150 student years) across all hub

[2021-12-02 23:13] balajialg commented on #2839
@ryanlovett FYI, Is this epic complete, or is it in scope for December or should this get pushed to the January backlog?

[2021-12-02 23:16] balajialg commented on #2693
@yuvipanda Considering that we are tracking pagerduty related alerts through #2988, I am closing this issue. Please feel free to reopen this if you think this is separate/incomplete/requires further attention.

[2021-12-02 23:16] #2693 closed, assigned to felder

[2021-12-03 03:39] ryanlovett commented on #2839
It is complete. I should add ways of improving this to new issues.

[2021-12-03 03:39] #2839 closed, assigned to balajialg, ryanlovett

[2021-12-03 15:12] yuvipanda commented on #3019
There are two primary ways of doing this.

1. We could run the EECS hub same way we run the data8x hub. Make a new GCP project, attach a billing account which can then be attached to its own chart string. This way, EECS can pay for exactly the amount of cloud resources used.
2. We could use our monitoring (prometheus, grafana, and google cloud cost reporting) to make an estimate of total cost that

[2021-12-03 17:10] balajialg commented on #2839
@ryanlovett That's amazing!

[2021-12-03 22:14] balajialg commented on #3019
@yuvipanda Thanks for your thoughtful suggestions! I wonder if there is a way to visualize the EECS-specific cost in a dashboard that their admins can access if we go down route #2. One of the hypotheses that I have is that they would be interested to know the usage + cost associated with the hub on a real-time basis instead of static per month data that we could potentially share. I also view EEC

[2021-12-03 23:39] balajialg commented on #2903
@felder @yuvipanda Based on my initial exploration, I found that most hubs' log data starts from around 2019. Do we have logs before that? If it is available, it will aid my exploration as part of #2949.

[2021-12-04 00:12] balajialg opened #3067 "Seeking Clarification: Adding users to grafana dashboard!"
As part of establishing a support process at ISchool, I spent some time orienting the teaching team about the admin feature in Datahub (today) and also explained the troubleshooting process we follow. They expressed interest in viewing grafana metrics so that they can review Ischool hub's performance on their own before escalating issues with us.

Considering the precedent set with Data 8 [here](h

[2021-12-06 07:06] github-actions[bot] opened #3068 "Weekly Update - Monday, December 6th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-12-07 15:11] balajialg commented on #3068
Closing it considering we are aligned with sharing updates every alternate week (at least in theory)

[2021-12-07 15:11] #3068 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-12-07 23:49] balajialg commented on #3019
Didn't get a lot of time to delve deeper into the topic as we anticipated. Key highlights from the EECS cost-sharing conversation was that,
- Make it explicit that the cost-sharing conversation should be around **shared infrastructure billing** and not increased service support with the EECS stakeholders

[2021-12-08 15:02] yuvipanda commented on #3067
The privacy concern with giving people access to the grafana dashboard is that you can see which users are currently active on which board - although you can't see their files or anything. Is that an acceptable level of access? If so, I think it's great to provide access to the teaching team.

[2021-12-08 18:24] balajialg commented on #3067
@yuvipanda When you mean the "board," Do you mean the different views like "NFS Stats", "Cluster Health" etc. in grafana?  Since we only provide this access to the teaching team, it should not be a problem, right? I am inclined towards sharing this access as I am not able to visualize a negative consequence as of now.

If there is a way only to provide access to a specific grafana dashboard view t

[2021-12-08 18:36] balajialg commented on #3027
@yuvipanda @ericvd-ucb and I found an interesting behavior of the RTC feature when we were exploring this functionality a few days ago in the Data 8 hub. I had a notebook file in the root folder of the tree. So I created a shareable link and then shared it with @ericvd-ucb and Elias. Once they accessed the notebook, any folder created in each of our directories was accessible for all of us.

Am I

[2021-12-08 20:43] yuvipanda commented on #3019
@balajialg yeah, we can do that (dashboard) but going down the path of #2 would require effort as well. Primarily, we've to figure out how to cost the shared infrastructure (logging, storage, etc) that everyone uses. So we'll have to define a pricing model that is fair but easy to implement, and implement that.

[2021-12-08 21:23] balajialg commented on #3019
@yuvipanda Makes sense! Given the limited technical bandwidth, I guess it comes down to what is feasible to implement. In an ideal state, I wish we decide between options 1 and 2 before winter curtailment and then scope the implementation during Spring 2022. Then, we could use our next strategy meeting or use this thread to come to a conclusion. If we need to speak to EECS stakeholders to understa

[2021-12-09 01:26] balajialg commented on #3027
@yuvipanda Need to enable this functionality in Ischool hub too!

[2021-12-09 06:52] yuvipanda commented on #3019
@balajialg at 2i2c, we're currently following option 1 but hoping to move to option 2. Work can be pooled together there perhaps

[2021-12-09 06:53] yuvipanda commented on #3027
@balajialg so you're really giving full access to your *entire server*, rather than any particular file. This is fully equivalent to sharing an 'admin access' link with another user, although you can't shut down your own server with this link. So anything anyone with the link does is treated exactly like you are doing it yourself.

[2021-12-09 06:53] yuvipanda commented on #3067
@balajialg yeah, I think it's ok to share on a case by case basis.

[2021-12-09 06:58] yuvipanda commented on #2903
@balajialg i had some logs in google drive, shared them with you. @ryanlovett do you have any lying around?

[2021-12-09 07:00] ryanlovett commented on #2903
@yuvipanda I had sent mine from drive to @felder and then deleted them from drive.

[2021-12-09 19:05] felder commented on #2903
All of the logs that I archived, including the ones @ryanlovett is referring to, are in the storage bucket.

The ones I got from Ryan were from when the r hub logging partition filled earlier this semester.

[2021-12-09 19:08] balajialg commented on #3067
@yuvipanda, Can you elevate my access in grafana so that I can add users to grafana dashboard directly? Of course, I will align you all before adding new users but wanted to take away the logistical step

[2021-12-09 21:28] ryanlovett commented on #2903
I just checked ds-instr's Google drive space and there were no logs there.

[2021-12-09 22:56] felder commented on #3048
@balajialg @yuvipanda I've added an entry into the scaling calendar for 12/13 from 6-11 and specified 6 extra nodes in the beta pool for this.

I also moved the evening cooldown entry to after 11.

[2021-12-09 23:44] ericvd-ucb commented on #3019
Hey there - I guess I would love to know what the monthly spend for EECS is  - if this can be estimated by telemetry or something. I wanted to propose a framework where smaller users are in the main GCP project ( path 2) but at a certain size eg 4-500$/month or like $1500 per semester, then a separate project ( path 1) .   And also maybe this is different for Ischool and EECS ( inside CDSS) vs Pub

[2021-12-09 23:46] ericvd-ucb commented on #3019
and - maybe we dont need to go all the way to build a dashboard, maybe we could just say - we did this analysis and applied these assumption and came to this reasonable approximation of cost per semester.  Which it seems like you could do with datascience plus a model once per semester, vs building a whole dashboard

[2021-12-10 00:41] balajialg commented on #3019
@ericvd-ucb I love the framework that you proposed for cost-sharing! I volunteer for doing some modeling work if we have the raw data categorized across the hubs @yuvipanda. I don't know how the existing data looks like and so please ignore my request if it doesn't make sense.

I am all in for not creating additional work, and the descoping dashboard makes sense. It would be an excellent next step

[2021-12-10 00:43] balajialg commented on #3048
@felder Thanks for looking into it! Did you get any confirmation from the teaching team or @cdbeon that they will use the hub for their exams?

[2021-12-10 00:45] balajialg commented on #2903
Thanks a lot all for looking into this! Appreciate it. I will do more analysis with the data that was shared by @yuvipanda next week, Thanks

[2021-12-10 01:41] felder commented on #3048
@balajialg no

[2021-12-10 02:50] balajialg commented on #3048
@cdbeon ASAp, Can you confirm whether your plan to use datahub as part of this examination is in scope? If not, we can revert back to the original setting

[2021-12-10 17:29] balajialg opened #3074 "Track Jupyter Lab and Notebook Accessibility"
# Summary
Creating this issue to formulate our goals & actionable next steps for what accessibility looks like in Datahub and potential upstream improvements that need to be made to ensure that the service hits the defined [campus accessibility milestones](https://docs.google.com/spreadsheets/d/1oL4HyTr2EibU2eaNsymFWwO4pu36zbFAGzbdH186t1U/edit#gid=949844770). One of the key stakeholders interested

[2021-12-10 17:31] cdbeon commented on #3048
Hello! Sorry about the delay, yes we will be using Datahub as part of the exam. However, the amount of computation that the students are required to do will be much lower than we originally expected.

[2021-12-11 15:03] balajialg commented on #3048
@cdbeon That's good to know! Let's keep @felder's allocated compute as is during the exam time to ensure that the odds of the hub struggling to scale up is pretty low. Thanks!

[2021-12-12 14:23] amy-tong opened #3075 "Retrieve my old Datahub files."
### Email Id

amythyst@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/amythyst.tar.gz

[2021-12-13 07:06] github-actions[bot] opened #3076 "Weekly Update - Monday, December 13th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-12-13 18:03] yuvipanda commented on #3076
**Thanks I'd like to give 🙌**
- To @felder for taking charge of the user homedirectory archival process
- To @ryanlovett for getting latest RStudio working in JupyterHub!

**Updates from last week ✔**
- Helped @felder with user homedirectory archiving process.
- Fiddled a bit more with RTC stuff
- Opened a request for implementation of a more ideal home directory archiver https://discourse.jupyter

[2021-12-13 18:28] ericvd-ucb opened #3079 "Cant do new windowing on Jupyterhub - Julia FUND model for Data 100"
### Bug description

My understanding is that Jupyterhub as deployed cannot popup a new window from the session. There are profs from time to time who need this functionality becaused they use it on their local install.

I worked with a couple of folks on Getting JuliaHub set up to run the FUND model that David Anthoff uses for the Social Cost of Carbon models, and was hoping to make a Demo for Da

[2021-12-13 18:41] felder commented on #3079
When I attempt to do this I get the following error before:

![Screen Shot 2021-12-13 at 10 41 01 AM](https://user-images.githubusercontent.com/1211730/145869550-1586016f-d84c-44d6-acce-66f07d85f2c4.png)

[2021-12-13 19:35] balajialg commented on #2945
@ericvd-ucb @yuvipanda @felder @ryanlovett Scoping this as part of the agenda for this week's Tech Strategy Meeting. Please let me know if you think otherwise!

[2021-12-13 19:37] balajialg commented on #3079
I am also getting the same error when I run the notebook!

[2021-12-13 19:59] balajialg commented on #3076
**Thanks I'd like to give 🙌**
- Thanks a lot @ericvd-ucb for advocating additional bandwidth for the team with the CDSS leadership and initiating conversations with all relevant stakeholders involved
- Thanks @felder for unblocking @sean-morris's upgrade work with gofer grader in the Data 8x hub
- Thanks @yuvipanda for suggesting the potential pathways with EECS as part of #3019 and @felder for he

[2021-12-13 20:08] ericvd-ucb commented on #3079
Right.  So none of us really get Julia nor FUND so can debug.  But. My understanding is that part of the issue is not popping out an additional window to display things.  They might need to program things on the Julia side to solve this it might have nothing to do with Jupyterhub.

[2021-12-13 20:13] ericvd-ucb commented on #2945
This is great. I would like to add an update on nbgitpuller.  I don't really understand what is about to happen, would love an update, and consideration for how we can communicate these changes to our users.

[2021-12-13 20:24] felder commented on #3079
@ericvd-ucb What I am trying to say is it's unclear from your bug description what steps need to be taken to reproduce this and what visual confirmation of the error actually looks like.  Note that the error I've listed above occurs BEFORE running the step that would permit you to "explore the model"

You bug description seems to assume knowledge of how the notebook is supposed to work that your s

[2021-12-13 22:18] balajialg commented on #2945
Sounds good! Adding @sean-morris in the loop considering his recent work updating nbgitpuller.

[2021-12-14 02:02] sean-morris commented on #2945
@balajialg and @ericvd-ucb -- just a quick piece. There are no breaking changes here. What worked in nbgitpuller from git sources still works as-is. The piece being added is the ability to use google drive, dropbox, and any publicly available web address as the source for notebooks you would like to distribute via nbgitpuller links into JupyterHubs.

[2021-12-14 05:03] ryanlovett commented on #3079
@ericvd-ucb Regarding:

[code]

It looks like the `explore` function [provided by the Mimi package](https://docs.juliahub.com/Mimi/LtuND/0.10.0/howto/howto_2/) wants to launch an electron window.

If I ignore the `plot_comp_graph` issue that others ran into and run `explore(m)` directly, I see:
[code]

Since electron is a graphical desktop app,  I can see why it'd work on a desktop computer but no

[2021-12-14 05:06] ryanlovett commented on #3079
This is where jupyter could proxy the explorer web app:
https://github.com/mimiframework/Mimi.jl/blob/master/src/explorer/explore.jl#L33
https://github.com/mimiframework/Mimi.jl/blob/master/src/explorer/explore.jl#L111

But the explore function would have to be altered significantly.

[2021-12-14 05:15] ericvd-ucb commented on #3079
@ryanlovett thanks so much for your explanation, much appreciated, you rock

@felder apologies on my side for not being more clear or articulate. I had misdiagnosed what the blocker was

[2021-12-14 17:14] felder commented on #3048
@cdbeon how did the exam go last night?

[2021-12-14 17:17] cdbeon commented on #3048
It went smoothly! No complaints about the hub crashing or lagging. Thank you all so much!

[2021-12-14 17:19] felder commented on #3048
Great!  With that, I'm going to close this issue.

[2021-12-14 17:19] #3048 closed, assigned to felder

[2021-12-14 17:51] felder commented on #3075
Signed URL sent!

[2021-12-14 17:51] #3075 closed, assigned to felder

[2021-12-14 19:37] balajialg commented on #3027
This [documentation ](https://data8.datahub.berkeley.edu/user/yuvipanda/lab/tree/rtc-instructions.md) captures the essence of today's discussion and the potential next steps! Pasting it below for future reference!

# Security Considerations for adopting RTC

- there is a share menu that generates a link with a token that can be sent to other users
- a user shares a link to the next user, that user

[2021-12-14 20:01] balajialg commented on #3076
@felder Closing this issue for this week, but it would be awesome if you could share necessary updates once every two weeks or suggest changes to make this process work well for you!

[2021-12-14 20:01] #3076 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-12-15 01:41] balajialg commented on #2949
This is how the student enrollment count looks like for the courses across different departments/divisions/colleges as of Fall 2021!
![Usage across deparments](https://user-images.githubusercontent.com/2306166/146240045-cbb134a9-e0bc-45a2-aa8c-8979468b8d98.png)

[2021-12-15 02:24] ericvd-ucb commented on #2949
I think the unit here is actually where the class is listed, correct? You have this analysis done by what repo they are pulling for and what department is? So it's not really where the students are registered. And unfortunately CDSS and Eecs are overlapping so maybe you should say DSUS

[2021-12-15 07:17] yuvipanda commented on #3027
Based on suggestions by @ericvd-ucb, I'm going to disable [jupyterlab-link-share](https://github.com/jupyterlab-contrib/jupyterlab-link-share) and RTC on all hubs except the dlab hub. Let's write out a doc that lays out the security posture, and let individual instructors make calls on when to enable this for now. Once we have better access control, we can enable it more broadly.

[2021-12-15 07:35] yuvipanda commented on #3027
I'm also going to leave it enabled in the ischool hub, as @balajialg is talking to those folks about how they can trial it.

[2021-12-15 16:48] yuvipanda commented on #3079
We actually already do this for EECS - they have some circuit diagramming stuff that pops up a window. We run a Linux desktop environment in there (see https://discourse.jupyter.org/t/run-linux-desktop-apps-in-mybinder-org-your-jupyterhub/11964?u=yuvipanda for a recent blog post on how that works). So you open the linux desktop environment in a tab (https://eecs.datahub.berkeley.edu/hub/user-redir

[2021-12-15 17:43] balajialg commented on #3027
@yuvipanda Thanks a lot! I will get back to you based on the instructor's feedback in a few days' time.

[2021-12-15 18:00] balajialg commented on #2949
Yes, this analysis is based on where the class is listed and not where the students are registered. What will be the discrepancy between both scenarios? I can try analyzing with student data if you think that will be more meaningful

[2021-12-15 23:41] balajialg commented on #2945
Thanks, @sean-morris for the clarification.

@All, We have many potential priorities for Spring 2022 (to be specific, January). During tomorrow's discussion, an ideal outcome I envision would be having clarity around our team's top strategic priorities for Spring. Having a discussion to explicitly articulate why we choose to prioritize particular use cases while deprioritizing others would help us

[2021-12-16 05:11] yuvipanda commented on #3079
I got it to work now! Woohoo :D

<img width="1318" alt="image" src="https://user-images.githubusercontent.com/30430/146311431-40a9febe-79ae-4929-82ed-bfde21798152.png">

How to test this:

1. Open the desktop view in Julia. You can do this from the launcher in JupyterLab, or go to this URL:
2. Use the [provided nbgitpuller URL](https://julia.datahub.berkeley.edu/hub/login?next=%2Fhub%2Fuser-redire

[2021-12-16 05:49] ryanlovett commented on #3079
That's awesome!

It'd be cool if there could be an in-kernel, but kernel-agnostic, way of launching the desktop proxy to prep GUIs. I guess `!desktop-proxy` or `%desktop` wouldn't work outside of ipython kernel.

[2021-12-16 06:15] yuvipanda commented on #2945
Sounds good, @balajialg. Thanks for writing this up. One additional item is moving to newer RStudio, but I think discussion isn't primarily needed there right now.

[2021-12-16 08:01] ericvd-ucb commented on #3079
Thanks - this is cool!   I hope @davidanthoff and @lrennels check this out!

[2021-12-16 16:43] balajialg commented on #3079
@yuvipanda super cool stuff!

[2021-12-16 19:05] felder commented on #2945
@balajialg We should also add a bullet point for storage policy and management.

[2021-12-16 19:32] balajialg commented on #2945
@yuvipanda Thanks a lot for tracking the changes from today's meeting!

[2021-12-16 19:44] #2242 closed

[2021-12-16 19:46] yuvipanda commented on #3019
Next step is to figure out how to estimate these costs from the data we have. I'll work out the data sources we have, and see what we can do.

[2021-12-16 19:59] balajialg commented on #3074
@ericvd-ucb @yuvipanda Notes from [12/16 Accessibility Workshop](https://docs.google.com/document/d/1WujryJMir5dcgyyiMMlmpV3DkUamwdry3Jwo3Ytmvbs/edit?usp=sharing)! As @ericvd-ucb suggested, The next step would be to summarize the learnings about the accessibility improvements happening across the Jupyter ecosystem into a memo that could get shared with the leadership!

[2021-12-16 22:53] ryanlovett commented on #3074
@yuvipanda suggested in previous conversation that before the web accessibility clinic reviews datahub again, we should wait for jupyterlab to integrate the new [CodeMirror](https://codemirror.net/) editor ([version 6](https://codemirror.net/6/) I presume which "was designed from the start with accessibility in mind"). Otherwise we are likely to see similar results as before.

[2021-12-16 22:56] ryanlovett commented on #3074
Here is the jupyterlab issue for integrating CodeMirror 6, https://github.com/jupyterlab/jupyterlab/issues/10370.

[2021-12-17 03:52] balajialg commented on #3074
@ryanlovett Thank you so much for circling back on the Code Mirror editor integration in Jupyter Lab. I went with the assumption that Code Mirror 6.0 was already integrated into the core interface which is not true as you clearly pointed out.

Your suggestion to wait till the CM 6.0 integration makes sense as already there are GitHub issues [#1](https://github.com/jupyterlab/jupyterlab/issues/9399

[2021-12-17 05:58] yuvipanda commented on #3074
Yep, anything that happens in retrolab wrt the notebook UI, text editor UI, terminals, and file browsers automatically works in retrolab.

[2021-12-20 07:06] github-actions[bot] opened #3088 "Weekly Update - Monday, December 20th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2021-12-20 11:08] yuvipanda commented on #2945
I've co-ordinated with the ischool and publichealth folks, and their R + RStudio versions are newer now. I've opened #3090 to upgrade the biology hub. That just leaves us with datahub / r hub, which I'll upgrade later this week.

[2021-12-20 18:07] #3088 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2021-12-20 18:07] balajialg commented on #3088
Closing this issue considering alternative week cadence!

[2021-12-21 20:59] balajialg commented on #2589
Created the required template to get such details from compute-heavy courses! Let's operationalize this during our outreach to the faculty next semester.

[2021-12-21 21:03] balajialg commented on #3079
Closing this bug considering the amazing hack done by @yuvipanda!

[2021-12-21 21:03] #3079 closed, assigned to felder, balajialg

[2021-12-21 21:13] balajialg commented on #2966
@yuvipanda Closing this issue as the underlying problem seems to be solved by you. Please reopen if that is not the case!

[2021-12-21 21:13] #2966 closed, assigned to nobody

[2021-12-21 21:22] balajialg commented on #2855
Run a pilot for 3 months to see if the teaching team finds our newsletters useful. Success metric in my head is that 200+ folks read the newsletter and 10+ folks reacted positively to the information that was being shared. If we are nowhere closer to this metric by the end of March, we can stop this initiative. The goal is to publish information during the second week of every month.  Please comme

[2021-12-21 21:29] balajialg commented on #2823
@yuvipanda is exploring the usecase of integrating a [flat-file CMS](https://www.cmscritic.com/top-flat-file-cms-platforms-for-building-simple-websites-fast/) into Jupyterhub.

In parallel, RTL designer flint is working on creating wireframes and additional design assets for the home page. Once the design assets are created AND the CMS gets integrated into Datahub, I will either work independently

[2021-12-22 10:16] yuvipanda commented on #2823
@balajialg great! For a february launch, I think the work should go into modifying https://github.com/berkeley-dsep-infra/datahub-homepage to fit the use case (there are docs on how to test it locally there). I don't think we should block on the CMS work for february.

[2021-12-22 18:51] balajialg commented on #2823
@yuvipanda Ah got it. That definitely helps from an execution standpoint. Is it possible to maintain this page through a CMS whenever it gets integrated?

[2021-12-24 06:50] yuvipanda commented on #2945
RStudio and R are now at latest versions on all our hubs. Huge thanks to @ryanlovett for making this possible!

[2021-12-27 07:06] github-actions[bot] opened #3097 "Weekly Update - Monday, December 27th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-01-02 05:03] amyjainberkeley opened #3099 "Retrieve my files"
### Email Id

amyjain@berkeley.edu

### Link to Datahub Folder

Here is link: gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/amyjain.tar.gz

[2022-01-03 07:06] github-actions[bot] opened #3100 "Weekly Update - Monday, January 3rd"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-01-03 14:26] jtpio commented on #2422
FYI RetroLab `0.3.15` is out with a couple of fixes for the issues mentioned above:

- https://github.com/jupyterlab/retrolab/pull/288
- https://github.com/jupyterlab/retrolab/pull/309
- https://github.com/jupyterlab/retrolab/pull/289
- https://github.com/jupyterlab/retrolab/pull/296
- https://github.com/jupyterlab/retrolab/pull/294

Let me know if you get a chance to try the new version. And don'

[2022-01-03 17:17] yuvipanda commented on #2990
retrolab now renders this like:

<img width="1409" alt="image" src="https://user-images.githubusercontent.com/30430/147959737-c2ac3b7f-5e70-4377-863c-9caf5a437d12.png">

Thanks to @jtpio for fixing this!

[2022-01-03 17:17] #2990 closed, assigned to nobody

[2022-01-03 17:19] yuvipanda commented on #2991
Looks like this now in retrolab:

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/30430/147959916-bfe20c49-b0fe-4847-88b0-3716f094cf78.png">

Thanks to @jtpio for fixing this!

[2022-01-03 17:19] #2991 closed, assigned to nobody

[2022-01-03 17:20] yuvipanda commented on #2992
Looks like this in retrolab now:

<img width="1357" alt="image" src="https://user-images.githubusercontent.com/30430/147960020-d58f2ce7-1a76-41e8-ab8a-aa20b9e4a8cc.png">

Thanks to @jtpio for fixing this!

[2022-01-03 17:20] #2992 closed, assigned to nobody

[2022-01-03 17:22] yuvipanda commented on #2993
It looks like this in retrolab now

<img width="1377" alt="image" src="https://user-images.githubusercontent.com/30430/147960280-b5051a4b-86d6-452c-91a0-b4c8270f5ed0.png">

Thanks to @jtpio for this!

[2022-01-03 17:22] #2993 closed, assigned to nobody

[2022-01-03 17:24] yuvipanda commented on #2994
This is still present with the latest version of retrolab

<img width="1402" alt="image" src="https://user-images.githubusercontent.com/30430/147960502-0863df91-f968-453c-92a3-614245c30213.png">

[2022-01-03 17:31] yuvipanda commented on #2422
Thank you so much for all this work, @jtpio! Almost everything reported by @davidwagner has been fixed in the latest version, except https://github.com/berkeley-dsep-infra/datahub/issues/2994. Not a blocker I think.

I've deployed the latest version of retrolab onto all the hubs now.

[2022-01-03 17:33] jtpio commented on #2994
Probably for this one removing the `scrolled` flag from the notebook metadata should be enough?

[2022-01-03 20:51] balajialg commented on #2993
@jtpio Thanks a lot for fixing all the reported issues in the new retro lab release. Appreciate it!

@yuvipanda Thanks for testing all the changes and deploying them in Datahub. Look forward to retro lab being used in Data 8 during this semester.

[2022-01-04 01:47] ryanlovett commented on #3100
**Thanks I'd like to give 🙌**
- @yuvipanda for all of the recent retrolab, rstudio, and misc. updates

**Updates from last week ✔**
- I'm resuming my workday sleep schedule. :)

[2022-01-04 02:06] balajialg commented on #3100
Thanks, @ryanlovett for nudging me to comment on this issue and not give it a pass.

Like @ryanlovett, want to thank @yuvipanda for all the semester wrap-up activities, R Studio ( Thanks @ryanlovett), and retro lab-related stuff & @felder for archival-related work and facilitating the resource sharing conversation with RTL effectively last month. Super excited for Spring 2022!

Keeping this thread

[2022-01-04 06:01] varshamadapoosi opened #3104 "would like to access old data 100 projects!"
### Email Id

varshamadapoosi@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/varshamadapoosi.tar.gz

[2022-01-04 06:38] yuvipanda opened #3105 "Create a new hub for astro"
Mostly to simplify image management (see https://github.com/berkeley-dsep-infra/datahub/pull/3098), let's create a new hub for the astro department.

[2022-01-04 06:42] yuvipanda commented on #3105
@profjsb there now exists an astro.datahub.berkeley.edu! We can customize this to your liking. The image is very plain - just contains numpy and matplotlib now (https://github.com/berkeley-dsep-infra/datahub/tree/staging/deployments/astro/image). Can you install things from conda-forge you want there via a PR? Should be much less hassle than doing the same in the huge datahub image.

I've installe

[2022-01-04 06:45] yuvipanda commented on #2923
We've upgraded our RStudio now, so Visual Markdown editing is available!

[2022-01-04 06:45] #2923 closed, assigned to ryanlovett

[2022-01-04 06:46] yuvipanda commented on #764
https://support.rstudio.com/hc/en-us/articles/1500005616261-Understanding-Memory-Usage-in-the-RStudio-IDE RStudio has this now!

[2022-01-04 06:46] #764 closed

[2022-01-04 09:21] yuvipanda commented on #2976
This is costing us a bit of money, would be nice to clean up.

[2022-01-04 15:59] #3100 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-01-04 16:43] yuvipanda commented on #2976
Everything to be deleted has been deleted now.

[2022-01-04 16:43] #2976 closed, assigned to nobody

[2022-01-05 21:43] #3097 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-01-06 00:00] balajialg opened #3111 "Agenda for 1/6 Spring Planning Meeting!"
All,

Look forward to a short sprint planning meeting tomorrow where we can catch up and talk about some of the operational priorities for January.

1. General Catch Up
2. Curate cards for Jan (~30 mins)
3. Quick check-in related to proactively reaching out to teaching teams of large courses for package, admin, and compute increase requests (~10 mins)

Please let me know if I had missed anything f

[2022-01-06 22:09] #3111 closed, assigned to yuvipanda, ryanlovett, ericvd-ucb

[2022-01-07 00:59] shrutipai opened #3114 "DataHub R"
### Email Id

shrutipai@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/shrutipai.tar.gz

[2022-01-07 00:59] shrutipai opened #3115 "DataHub Archival Request - Shruti Pai"
### Email Id

shrutipai@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/shrutipai.tar.gz

[2022-01-10 07:06] github-actions[bot] opened #3125 "Weekly Update - Monday, January 10th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-01-10 19:58] #2763 closed, assigned to nobody

[2022-01-11 01:49] balajialg commented on #3125
Closing this issue as there are not a lot of updates last week!

[2022-01-11 01:49] #3125 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-01-11 05:09] geneh0 opened #3126 "Data Archival Request"
### Email Id

hogenegin@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/hogenegin.tar.gz

[2022-01-11 20:55] petersudmant opened #3128 "Request python package MAC2 for class MCB280A"
### Package Name

macs2

### Hub details

- Hub: biology
- Language: conda package

The change required is actually already implemented below, however I could not get it to compile due to some technical issues w/ my computer and the new size of biology

https://github.com/berkeley-dsep-infra/datahub/pull/3123/files

### Course Name

MCB280A

### Semester Details

Spring 2022

### Installation Dead

[2022-01-11 21:27] felder commented on #3099
Signed URL sent

[2022-01-11 21:27] #3099 closed, assigned to felder

[2022-01-11 21:27] felder commented on #3104
Signed URL sent!

[2022-01-11 21:27] #3104 closed, assigned to felder

[2022-01-11 21:30] felder commented on #3114
Signed URL Sent!

[2022-01-11 21:30] #3114 closed, assigned to felder

[2022-01-11 21:31] felder commented on #3115
Duplicate of #3114

[2022-01-11 21:31] #3115 closed, assigned to felder

[2022-01-11 21:32] felder commented on #3126
Signed URL sent!

[2022-01-11 21:32] #3126 closed, assigned to felder

[2022-01-11 21:48] balajialg opened #3129 "Solve for Circle CI deployment failures!"
# Summary
We use CircleCI's free version for our CI/CD requirement which provides up to [6000 build minutes](https://circleci.com/pricing/) and 30k free credits per month. However, looking at our 9-month data from Circle CI, it is clear that we have been using more credits than offered and as a consequence @yuvipanda has been spending dollars from his credit card to pay for the extra cost.

![imag

[2022-01-11 21:55] ryanlovett commented on #3129
Another possibility is to try to reduce build times. For example, it may be possible to separate python and R environments into [multi-stage builds](https://docs.docker.com/develop/develop-images/multistage-build/) so that the whole stack doesn't have to be rebuilt on smaller changes.

[2022-01-11 22:06] balajialg commented on #3129
@ryanlovett That's an interesting suggestion!

- How complex an engineering/scripting task would that be?
- I know it is harder to estimate; what would be an order of magnitude in terms of reduction in build time would this task accomplish considering that we use extra 20k credits from Circle CI every month on an average during the course of the semester.

[2022-01-11 22:29] ryanlovett commented on #3129
I don't think it looks especially complex, but I've never created multi-stage builds. Maybe there would need to be changes to CI that involve hubploy?

If we were to have two stages, python and R, then the biggest savings would probably be for when there was a python modification and not an R modification. (From memory, the R build takes a lot longer.) The python image would get rebuilt, the R ima

[2022-01-11 22:40] felder commented on #3128
Attempting to add macs2 by uncommenting the entry in environment.yml yields the following build error:

[code]

[2022-01-11 22:41] felder commented on #3128
Not specifying a version for macs2 yields this build error:

[code]

[2022-01-11 22:50] felder commented on #3128
Attempting to run conda install from within biology-staging results in it hanging forever:

[code]

[2022-01-11 23:08] felder commented on #3128
Using pip install, however, does work.

[2022-01-11 23:26] balajialg commented on #3129
@ryanlovett Makes sense! Thanks for taking the time to articulate the value of a multistage build process.

We spent around $120 for 200,000 credits from Circle CI in the past six months. So if the build time gets reduced by 1/3rd or even 2/3rd, we are looking at saving around $40 - $80 (Correct me if I am not thinking about it in the right way). Considering that, would it make sense to just pay f

[2022-01-12 01:07] felder commented on #3128
On biology-staging:

[code]

[2022-01-12 01:57] ryanlovett commented on #3129
@balajialg Yes, that's a great way of looking at it! :)

[2022-01-12 02:05] felder commented on #3128
Deployed to prod.

[2022-01-12 02:05] #3128 closed, assigned to felder, balajialg

[2022-01-14 18:41] balajialg opened #3133 "Plug for users custom building new images!"
# Summary
Recently was in a datahub onboarding meeting with an instructor who teaches an advanced class called [Urban Informatics and Visualization](https://classes.berkeley.edu/content/2022-spring-cyplan-255-001-lec-001). He came up with a request that I think deserves the team's attention from a product direction perspective. He felt that isolating students from git-related stuff works great at

[2022-01-15 00:48] cdbeon opened #3134 "Sign-out button on RStudio doesn't reroute to JupyterHub"
### Bug description

Previously, when clicking on the "Sign Out" button on RStudio, it would navigate to JupyerHub (where you can access the Home/Token/Admin tabs). Now, it just leads to a blank 'unauthorized' page.

### Environment & setup

- Hub: Public Health
- Language: R / JupyterHub

### How to reproduce

1. Navigate to `publichealth.datahub.berkeley.edu`
2. Click on the "Sign Out" button on

[2022-01-15 00:51] #3040 closed, assigned to nobody

[2022-01-15 23:11] tarunikakapoor opened #3136 "Datahub retrieval"
### Email Id

tarunikakapoor@berkeley,edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-01-17 04:29] andrewpbray opened #3137 "Stat 20 DataHub"
# Summary

I'll be teaching Stat 20 to 600+ students this spring semester and am wondering: is it possible / sensible to have them compute at stat20.datahub.berkeley.edu instead of at r.datahub.berkeley.edu as I did last semester?

# Important information

- Most of the computing is done in live labs spread across Thursday.
- Assignments are due Monday at 10 pm, so there will be a peak load prior

[2022-01-17 04:32] ryanlovett commented on #3137
@andrewpbray mentioned in an email thread that he will be making frequent changes to the R environment throughout the term. A separate, smaller singleuser image would probably make deployments faster.

[2022-01-17 07:06] github-actions[bot] opened #3138 "Weekly Update - Monday, January 17th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-01-17 11:17] yuvipanda commented on #3137
This sounds good. @ryanlovett do you think you have bandwidth to try creating this hub, following template at https://github.com/berkeley-dsep-infra/datahub/tree/staging/deployments/template? Look at https://github.com/berkeley-dsep-infra/datahub/pull/3116 for an example around setting up the auth with datahub-staging and datahub (rather than bcourses themselves).

Agree that a smaller image will

[2022-01-18 01:31] ryanlovett commented on #3137
Yep! I have time this week.

[2022-01-18 13:07] lenjb opened #3139 "Getting added as admin"
### Your Name

Leila Njee Bugha

### Affiliated Course Name

ENVECON 118

### Role

GSI

### Name of the Hub

Datahub/ENVECON-118-SP22

### End Date

06/01/2022

[2022-01-18 17:38] dbroockman opened #3146 "Increase compute resources for Course PS 3 on Tuesdays & Thursdays from 5-630 pm PT"
### Course Name

https://classes.berkeley.edu/content/2022-spring-polsci-3-001-lec-001

### Detailed Requirements

350 students will be jumping into notebooks all at once at 5 pm PT on Tuesdays and Thursdays this semester (starting this Thursday).

### Semester Details

Yes

### Request Deadline

Thursday January 20, 5 pm

[2022-01-18 17:54] ryanlovett opened #3148 "Increase compute resources for Stat 20 between specific date(s)/time(s)"
### Course Name

- https://classes.berkeley.edu/content/2022-spring-stat-20-001-lec-001
- https://classes.berkeley.edu/content/2022-spring-stat-20-002-lec-002
- https://classes.berkeley.edu/content/2022-spring-stat-20-003-lec-003

### Detailed Requirements

The class has lecture MWF from 11a-12p. It will use RStudio with standard compute. The main issue is that the class has 600-700 students.

@an

[2022-01-18 18:17] andrewpbray commented on #3148
The main usage times will be:

- Thursday 8 am - 8 pm (main lab day + study session)
- Monday 5 - 10:30 pm (labs at due at 10 pm)

[2022-01-18 19:00] #2589 closed, assigned to balajialg

[2022-01-18 19:22] balajialg commented on #3148
@andrewpbray @ryanlovett Thanks for raising this request! Will add a calendar event for the 1-hour slots raised by @ryanlovett.

Trying to understand the impact of provisioning extra resources all day (on Thursday) has on the cloud costs. @yuvipanda @felder Is this something that we should be able to manage? or Should we start with the slots suggested by @ryanlovett and add more resources based on

[2022-01-18 19:30] andrewpbray commented on #3148
The Thursday lab won't slam the data hub, it'll just be a time of higher-than-baseline usage since there will be lab meetings held throughout the day that will use the hub.

[2022-01-18 21:53] balajialg commented on #3146
@dbroockman We have over-provisioned resources for all hubs during the first week of classes to ensure that there are not many hassles due to auto-scaling. So, you should most likely not face any issues during this week. Let us know if it is otherwise. As it is costly to keep the status quo, Will create calendar events for your request in the subsequent weeks!

[2022-01-18 21:56] dbroockman commented on #3146
Thanks! Yes, this will be every Tues and Thurs at 5 all semester.

[2022-01-19 02:13] balajialg commented on #3138
**Thanks I'd like to give 🙌**
- @yuvipanda for anticipating and actively pre-provisioning more resources for all hubs during this week
- @felder for handling the package installation challenges for Astro!
- @ryanlovett for handling the Stat 20 hub. Appreciate it!

**Updates from last week ✔**
- The first edition of the[ Berkeley Datahub newsletter](https://ucberkeleydatahub.substack.com/p/january-

[2022-01-19 02:15] balajialg commented on #3138
@felder @yuvipanda

[2022-01-19 03:54] dana-sanz opened #3153 "Retrieve old Datahub file"
### Email Id

dana.sanz@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/dana-2esanz.tar.gz

[2022-01-19 17:48] balajialg commented on #3134
Thanks, @cdbeon for raising this request! Apparently, this behavior seems to extend to other hubs including R and Datahub.

@ryanlovett Is this a result of the RStudio version upgrade to 1.4? Should we raise this issue in their GitHub repository instead (if it exists)

[2022-01-19 18:09] fperez opened #3156 "Add `shared/` and `shared-readwrite/` directories to the Stat 159 hub"
# Summary

Add `shared/` and `shared-readwrite/` directories to the Stat 159 hub akin to what we use in other courses.

# User Stories

We now have content that assumes that layout, and it’s quite useful.

# Acceptance criteria

When loggging in, admin users should see both and regular users only the read-only one. Just like it works in D100 and other hubs.

[2022-01-19 18:11] fperez commented on #3156
BTW, as we discussed on Slack, I think this is a good pattern that might as well be on by default in all hubs out of the box.

[2022-01-19 18:25] #3156 closed, assigned to balajialg

[2022-01-19 18:26] fperez commented on #3156
Awesome, thx so much!

[2022-01-19 20:12] czh0923 opened #3158 "jupter notebook files"
### Email Id

czh@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/czh.tar.gz

[2022-01-19 20:46] fperez opened #3160 "Add support to view hidden files in JupyterLab"
# Summary

As of 3.2.0, JupyterLab now has [support for displaying hidden files in the file manager](https://github.com/jupyterlab/jupyterlab/pull/10769). But for the option to appear in the `View` menu, a [server side option must be toggled](https://github.com/jupyterlab/jupyterlab/issues/11304#issuecomment-945466766).

# User Stories

I think users of all hubs may benefit from having this option

[2022-01-19 20:52] yuvipanda commented on #3160
Great, I'll enable this for stat159 hub soon.

@balajialg do you think this would be useful to enable globally for everyone?

[2022-01-19 21:02] fperez commented on #2994
While it may look a little odd, if anything this behavior is actually perhaps a little better than in classic, in that it makes it visually explicit to know which cells have their scroll tag on. It's worth remembering that the scrolling can be toggled from the right-click menu, it doesn't require editing the raw JSON:

![image](https://user-images.githubusercontent.com/57394/150213502-86220bfe-fff

[2022-01-19 21:07] fperez commented on #3160
@yuvipanda @balajialg the reason I suggested enabling it everywhere is b/c if a user ever needs to edit _any_ hidden file (say `.bashrc`), it's _extremely_ awkward to do it absent this feature. They have to go to the CLI and either edit it with vi/emacs/whatever, or make a symlink or rename it temporarily.

I've had occasional need for that in other courses, so I think it's a useful thing to have

[2022-01-19 21:07] fperez commented on #3160
Many thanks @yuvipanda!

[2022-01-19 21:16] yuvipanda commented on #3160
@fperez do you know if it shows them by default in classic noteobok?

[2022-01-19 21:19] fperez commented on #3160
It doesn't show them at all in Classic, and has no way of showing them whatsoever. I think for Classic it was much less of an issue as it was used largely for notebooks with minimal "full OS"-type usage, which we see much more of with Lab. So while it was an occasional minor nuisance before, I think of it as a real issue now.

[2022-01-19 21:23] balajialg commented on #3160
@fperez Thanks for suggesting this use case.

TL;DR: @yuvipanda From my limited experience, I have not seen any of our users report having trouble editing hidden files. I don't have enough data to form a point of view here and would go with what you both decide as the right thing to do.

Having said that, Making a couple of assumptions, (Correct me if I am wrong)

- It is already enabled by defaul

[2022-01-20 00:44] felder commented on #3136
@tarunikakapoor I need the link to the datahub folder which should be in the text file on your instance.

[2022-01-20 00:48] felder commented on #3138
**Thanks I'd like to give 🙌**
- @balajialg for working on the outreach

**Updates from last week ✔**
- last week was my first week back, I mainly dealt with data retrieval issues

**Challenges I faced and things I'd like assistance with 🙏**
- My new macbook pro with the M1 pro chip arrived on Saturday.  Not surprisingly, I encountered this issue pointed out to me by @petersudmant
https://github.co

[2022-01-20 00:52] Aheadboat opened #3163 "Econ 140 Problem Sets"
### Email Id

aheadboat@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz
gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/aheadboat.tar.gz

[2022-01-20 00:56] felder commented on #3148
@balajialg my understanding is we're boosting the compute resources across the board for semester startup.  Given that, I'm thinking we should see how the hub performs.  If the students come and go gradually throughout the day the resource usage might be such that we don't have to do much scaling.

[2022-01-20 01:08] balajialg commented on #3148
@felder Makes sense! Let's see the usage this week to make a call on this

[2022-01-20 01:14] felder commented on #3153
Signed URL sent!

[2022-01-20 01:14] #3153 closed, assigned to felder

[2022-01-20 01:16] felder commented on #3158
Signed URL sent!

[2022-01-20 01:16] #3158 closed, assigned to felder

[2022-01-20 01:17] felder commented on #3163
Signed URL sent!

[2022-01-20 01:17] #3163 closed, assigned to felder

[2022-01-20 01:31] tarunikakapoor commented on #3136
gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/tarunikakapoor.tar.gz

[2022-01-20 09:06] jtpio commented on #2994
Yes JupyterLab (and hence RetroLab) provides commands to control the scrolled state of a cell.

I just tried on stock `retrolab==0.3.16` (latest release) with this gist: https://gist.github.com/jtpio/4a6a34da66b32249e28df718ec30e4d7

And it seems to be working fine. This is what it looks like when `scrolled` is set to `true` in the cell metadata:

https://user-images.githubusercontent.com/591645/1

[2022-01-20 14:10] andrewpbray opened #3166 "R Datahub 505 Internal Service Error"
### Bug description

When logging into R DataHub this morning, I encountered a 505 Internal Service Error. Today is the first day of labs in Stat 20; 650 students will be trying to log into this hub throughout the day.

<img width="1298" alt="Screen Shot 2022-01-20 at 6 07 03 AM" src="https://user-images.githubusercontent.com/1627362/150354469-810973bf-4bd0-4f48-afbd-809e07035a80.png">

### Enviro

[2022-01-20 14:13] andrewpbray commented on #3166
## Follow-up

Starting and re launching server results in the same error message.

[2022-01-20 15:44] yuvipanda commented on #3166
@andrewpbray looking at it now.

[2022-01-20 15:50] yuvipanda commented on #3166
Hmm, stat20.datahub.berkeley.edu is working fine while the RStudio in r.datahub.berkeley.edu is not. Am investigating now.

[2022-01-20 15:52] andrewpbray commented on #3166
Thanks.

@ryanlovett is stat20.datahub.berkeley.edu ready to go or should we stick to r.datahub.berkeley.edu? I'm not inclined to switch once we send students to one or the other.

[2022-01-20 15:54] yuvipanda commented on #3166
@andrewpbray the stat20 hub is ready, I'd suggest starting there.

[2022-01-20 15:56] andrewpbray commented on #3166
Will do.

[2022-01-20 16:01] yuvipanda commented on #3166
@andrewpbray r datahub also fixed right now. I'm investigating the cause, but should be usable now. For you, I'd still suggest using the stat20 hub though.

[2022-01-20 16:04] andrewpbray commented on #3166
Thanks. Labs are just starting right now, so we've committed to the stat20 hub. I'll be interested to learn what the issue was.

[2022-01-20 16:11] andrewpbray commented on #3166
@yuvipanda

From a GSI: I could not log onto stat20.datahub.berkeley.edu. But r.datahub.berkeley.edu works for me!
From another GSI: I tried on incognito and it works for me!

[2022-01-20 16:16] yuvipanda commented on #3166
@andrewpbray yeah, fixing that right now.

[2022-01-20 16:18] yuvipanda commented on #3166
@andrewpbray try again now for stat20? It broke when fixing R datahub.

Really sorry about the inconcenience!

[2022-01-20 16:18] yuvipanda commented on #3166
Sorry, still fixing it looks like.

[2022-01-20 16:22] yuvipanda commented on #3166
@andrewpbray ok fixed for real now. Can you try again?

[2022-01-20 16:24] andrewpbray commented on #3166
@yuvipanda I've asked the GSIs to try (I was able to log into stat 20) but they're teaching right now so I haven't heard back on staff slack.

[2022-01-20 16:25] yuvipanda commented on #3166
@andrewpbray alright. Really sorry about the issue!

[2022-01-20 16:29] andrewpbray commented on #3166
@yuvipanda @ryanlovett This is the second semester in a row that this has happened: hundreds of students getting their first introduction to computing and a dozen GSIs trying to teach over Zoom with unreliable technology. I'd like to discuss how we can develop a protocol to prevent this from happening.

[2022-01-20 17:27] felder commented on #3136
Signed URL sent!

[2022-01-20 17:27] #3136 closed, assigned to felder

[2022-01-20 17:33] felder commented on #3139
This has been merged to prod.

[2022-01-20 17:33] #3139 closed, assigned to balajialg

[2022-01-20 19:09] balajialg commented on #3166
@andrewpbray I am the Service Lead for Datahub. Really sorry for the inconvenience caused to the instruction today! @ryanlovett will set up a meeting between you and our team where we can discuss the details of the protocol to ensure that such changes don't affect the experience of the GSIs and students. Once again, personally and on behalf of the Datahub team, apologize for the mishap today and w

[2022-01-20 21:02] facusapienza21 opened #3167 "GitHub Authentication in the Hub for STAT 159/259"
Hi! I just wanted to check and see what is the best strategy and how should I proceed in order to set the GitHub SSH credentials for students in the course. Thank you very much!!!

[2022-01-20 21:38] ryanlovett commented on #3137
Fixed by by #3159.

[2022-01-20 21:38] #3137 closed, assigned to balajialg

[2022-01-20 21:42] ryanlovett commented on #3134
@balajialg I don't think it is an RStudio bug, just an issue with how it behaves with our proxying. I created https://github.com/jupyterhub/jupyter-rsession-proxy/issues/122 to track this.

[2022-01-20 22:22] ryanlovett commented on #2953
@yuvipanda Are you thinking we can just start up a singleuser container within CI, start up jupyter inside it, then run those imports?

Would we do hub tests as well? Is this what would be needed to automate either as part of CI?

Client Side
 - create a service account user for each hub
 - generate a token for it on each hub and save it to a secret
 - use that secret token in CI to login to the h

[2022-01-21 00:27] geneh0 opened #3168 "PHW142 Admin Request"
### Your Name

Gene Ho

### Affiliated Course Name

PHW142

### Role

Lead GSI

### Name of the Hub

Public Health

### End Date

May 2022

[2022-01-21 00:52] balajialg commented on #3168
@geneh0 Provided admin access!

[2022-01-21 00:52] #3168 closed, assigned to balajialg

[2022-01-21 01:24] fperez commented on #3167
Actually I think we should phrase this as "authenticated push/pull from the hub" - if confguring credential management over https is easier than over SSH, that's perfectly fine. We would just like to offer the students a reasonably smooth workflow for authenticated push/pull, but it doesn't have to be using SSH at all. Whichever solution is cleaner works for us.

[2022-01-21 19:43] #3138 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-01-21 19:52] balajialg commented on #2855
Newsletter for Jan is out - https://ucberkeleydatahub.substack.com/p/january-edition-of-berkeley-datahub

Have 10+ subscribers and 65+ views as of now. Need to work on further outreach going forward.

[2022-01-21 19:52] #2855 closed, assigned to balajialg, ericvd-ucb

[2022-01-21 20:11] yuvipanda commented on #3167
@fperez @facusapienza21 I spent some time on this today, building out a new package that lets you *securely* authenticate to GitHub from JupyterHub (and other remote clusters, like HPC centers too): https://github.com/yuvipanda/github-app-user-auth. The primary reason is to provide better security than ssh-keys left on the JupyterHub - I've copied the [goals section](https://github.com/yuvipanda/g

[2022-01-21 20:15] fperez commented on #3167
This is fabulous, thanks so much Yuvi. Immensely appreciated!!

@consideRatio - I figured I'd point you to this, we may want to deploy it on juptyearth and I think in general it will be a great resource to use hubs as good everday dev homes.

[2022-01-21 21:34] yuvipanda commented on #3167
@fperez yw :) I'm very happy to have an alternative to your private ssh keys existing on a JupyterHub! Let me know how this goes.

[2022-01-22 01:49] balajialg commented on #2953
**Listing the exhaustive manual test cases that can be checked when a major PR gets merged*
1. Users can successfully authenticate using Gmail/bcourses account to login to the hub
2. Users can successfully check whether Jupyter notebook, lab, retro lab, and R studio start-up when clicked
3. Users can successfully install R and Python Package in the respective interfaces
4. Users can successfully a

[2022-01-23 18:15] galamm opened #3178 "Retrieve my old Datahub files"
### Email Id

wcmu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/wcmu.tar.gz

[2022-01-24 00:28] fperez opened #3179 "Update git to version 2.23 or newer"
# Summary

Stat 159 is heavily git-based, and I recently discovered that as of git 2.23, there's a new [`git switch`](https://www.git-tower.com/learn/git/commands/git-switch) command that is the recommended, and simpler, way to do most day-to-day branch management. `git checkout` has always been a source of confusion for users new to git, as it's extremely powerful but conflates many functions tha

[2022-01-24 00:54] dzluke opened #3180 "Request python package soundfile for class Music 30"
### Package Name

soundfile

### Hub details

- Hub: datahub
- Language: Python

### Course Name

Music 30
https://classes.berkeley.edu/content/2022-spring-music-30-001-lec-001

### Semester Details

Spring 2022

### Installation Deadline

Before 02/07

[2022-01-24 07:12] github-actions[bot] opened #3183 "Weekly Update - Monday, January 24th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-01-24 07:58] #3179 closed, assigned to balajialg

[2022-01-24 16:49] #3183 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-01-24 21:19] saahilshangle opened #3187 "Request for copy of old datahub files"
### Email Id

saahilshangle@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/saahilshangle.tar.gz

[2022-01-24 21:22] felder commented on #3178
Signed URL sent!

[2022-01-24 21:22] #3178 closed, assigned to felder

[2022-01-24 21:43] felder commented on #3187
Signed URL sent!

[2022-01-24 21:43] #3187 closed, assigned to felder

[2022-01-24 23:28] fperez commented on #3160
@balajialg - if your users have had a good experience editing hidden files, could you share how they do it? There may be a good solution I'm not aware of and I'd love to know.

As the course advances I'm realizing this is actually more important than I'd originally thought, as my students are going to need to do this kind of manipulation reasonably often. I'd love to have a good solution if possib

[2022-01-25 01:24] fperez commented on #3179
Wonderful, many many thanks! Will talk about `git switch` on Wednesday then :)

[2022-01-25 01:54] felder commented on #3180
Deployed to prod.

[2022-01-25 01:54] #3180 closed, assigned to felder, balajialg

[2022-01-25 01:55] balajialg commented on #3160
@fperez Apologies for not being clear with my earlier comment! To set the context, most instructors (amongst 60+ courses using Datahub) either use classic notebook or RStudio to support their instructional needs. Considering that, there haven't been any requests related to editing hidden files that I am aware of. As Data 100 (last semester) was the only class that used Jupyter Lab, I am not able t

[2022-01-25 01:59] fperez commented on #3160
Ah, understood, thanks - then in that case yes, I think this is totally worth doing.

I'm using 159 as a testing ground for teaching students a good cloud-native workflow, where they have an environment in our hub that gives them a solid setup for most of their computing, and where they learn how to do lots of different tasks, not only run notebooks or R scripts.

So I want to show them how to "li

[2022-01-25 02:14] balajialg commented on #3160
@fperez That's fascinating! We are receiving requests from a few other instructors across different departments (recently [Civil Engg](https://github.com/berkeley-dsep-infra/datahub/issues/3133)) who want to do advanced use cases (a subset of things you are doing currently like securely pushing to Github, modifying conda environment, etc.). So, your explorations in this aspect will benefit us in g

[2022-01-25 05:13] YoungsukKim opened #3191 "datsx"
### Email Id

yskim2020@berkeley.edu

### Link to Datahub Folder

- gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/yskim2020.tar.gz

[2022-01-25 05:51] fperez commented on #3160
For sure @balajialg - having a discussion on these more advanced use cases would be very useful. We can think about whether to do so in a smaller setting with just the campus team, or with the broader audience of the Data Science Education workshops, as I think these patterns of usage apply more broadly.

Happy to talk about all that after we survive the semester!

[2022-01-25 12:39] yuvipanda commented on #3160
Unfortunately enabling the ContentsManager setting shows all hidden files by default in classic notebook, without any ability to hide them:

<img width="473" alt="image" src="https://user-images.githubusercontent.com/30430/150978485-c7166178-53f0-46b1-870f-3939c64c7e98.png">

I think this would be confusing for classic notebook users.

[2022-01-25 17:40] #3067 closed, assigned to yuvipanda

[2022-01-25 18:50] felder commented on #3191
Signed URL Sent!

[2022-01-25 18:50] #3191 closed, assigned to felder

[2022-01-25 19:01] balajialg commented on #3160
@fperez Thanks a lot for considering the documentation request! Those two suggested options sound great. Let's talk more at the end of the semester.

@yuvipanda Did you disable this option or is it specific to Stat 159 hub? I am not able to see any difference in my instance of Datahub.

[2022-01-25 19:04] balajialg commented on #3166
Closing this issue as it got resolved!

[2022-01-25 19:04] #3166 closed, assigned to felder, balajialg

[2022-01-25 22:03] Dominicliu129 opened #3198 "Add Admin Access to Data 100 Hub"
### Your Name

Dominic Liu

### Affiliated Course Name

Data 100

### Role

TA

### Name of the Hub

- Data 100

### List of Usernames

- yanlisa
- hug@cs.berkeley.edu

### End Date

- 05/20/2022

[2022-01-25 23:02] xinwei-zhuang opened #3200 "request for data200 2020fall"
### Email Id

xinwei_zhuang@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/xinwei-5fzhuang.tar.gz

[2022-01-25 23:28] felder commented on #3200
Signed URL sent!

[2022-01-25 23:28] #3200 closed, assigned to felder

[2022-01-26 00:37] balajialg commented on #3198
@Dominicliu129 Instead of cs.berkeley.edu id, Can I use j.hug@berkeley.edu id for creating admin credentials?

[2022-01-26 04:09] Dominicliu129 commented on #3198
@balajialg Hi, I think Prof. Hug uses h___@berkeley.edu for datahub, can you add this instead? Thank you!

[2022-01-26 04:27] fperez commented on #3160
Thanks for checking @yuvipanda  - for Stat159 it doesn't matter - we're not using the Classic UI for anything, and it doesn't bother me if they happen to open it and see those files. Hiding them is a convenience for certain use cases, but not a problem in ours.

One more reason to accelerate the retrolab transition :) (I'm not saying it has options to deal with this, but if it doesn't, it should b

[2022-01-26 05:11] sofa-x opened #3201 "Would like my files"
### Email Id

sophiaxiao@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/sophiaxiao.tar.gz

[2022-01-26 19:23] fperez commented on #3167
BTW, I think this can be closed - we may return with feedback for refinements, but I've tested it quite a bit and the basics are solid, so to keep your backlog clean, it's fine to close this one.

Thanks again so much.

[2022-01-26 19:25] fperez commented on #3133
I'd flip this around: our hubs should be a _perfect_ environment for full-time work, in-depth. And then we can teach students how to replicate the experience locally as well.

That's the path I'm pursuing in 159, and will explore it in-depth. Happy to share with other campus faculty my reasoning and approach.

[2022-01-26 19:33] #3167 closed, assigned to nobody

[2022-01-26 19:34] yuvipanda commented on #3167
So glad you like this, @fperez!

[2022-01-26 21:08] felder commented on #3201
Signed URL sent!

[2022-01-26 21:08] #3201 closed, assigned to felder

[2022-01-26 21:42] ochan1 opened #3206 "Oscar Chan Data Archive Retreaval Request"
### Email Id

ochan2@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/ochan2.tar.gz

[2022-01-26 22:40] balajialg commented on #3133
@fperez That will be a fantastic use-case! We will highlight your class as a case study to any faculty interested in doing similar stuff and also can make a connection (maybe at the end of the semester? if you are interested and have the time).

On another note, Do you have a summary of the different activities students will perform using Datahub in this course? I have been trying to create a [Dat

[2022-01-27 00:50] felder commented on #3206
Signed URL sent!

[2022-01-27 00:50] #3206 closed, assigned to felder

[2022-01-27 01:23] balajialg commented on #3198
@Dominicliu129 Let's add the cs.berkeley.edu account for now (considering the PR is merged in prod). If the prof has issues with accessing the admin instance, I will create another PR with your suggested email id.

[2022-01-27 06:04] yamabukibakery opened #3207 "Data Archival Request"
### Email Id

will97@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/will97.tar.gz

[2022-01-27 06:04] joshHug opened #3208 "Request kaleido package for ds100"
### Package Name

kaleido

### Hub details

- Hub: Data 100
- Language: Python

### Course Name

https://ds100.org/sp22/ - Josh Hug and Lisa Yan

### Semester Details

Sp22

### Installation Deadline

If possible we'd love to have this by Friday, but understand if that's not feasible.

[2022-01-27 07:14] fperez commented on #3133
Certainly @balajialg, happy to!

Activities:

* The base environment will be JupyterLab, pinned at 3.2.8 (unless we find a critical bug or major desired feature).
* Using git/github extensively - all assignments are done via Github Classroom.
* Collaborating as teams through Github repos, with issues, PRs, etc.
* Using the JupyterLab RTC features for teamwork, combined with syncthing for file shar

[2022-01-27 23:11] felder commented on #3207
Signed URL sent!

[2022-01-27 23:11] #3207 closed, assigned to felder

[2022-01-28 01:35] fperez opened #3214 "Copy/Paste to/from VNC Desktop from/to local client"
### Bug description

At least I can't seem to find how to do it, if it's possible. Copy/paste work _inside_ the hosted VNC desktop fine (with e.g. `Ctrl-Shift-C` for copy in the terminal, and plain `Ctrl-C` in gedit.

But what I can't seem to make work is copying text in the hosted VNC desktop and pasting that text "outside"  in my local (MacOS in my case) system, or vice-versa: pasting text from

[2022-01-28 02:13] balajialg commented on #3133
@fperez Wow, these are fascinating use cases!  Thank you so much for taking the time to write the summary of student activities. Super inspiring and definitely will use this info to highlight hub's possibilities to interested faculty. Recently heard that the Dean of Civil Engineering reached out to multiple teams to gather solutions if they chose to move their labs to the cloud. They also have a f

[2022-01-28 02:23] fperez commented on #3133
Thanks @balajialg, happy to connect with others on campus about this, even before the end of the term.

And yes- in fact I used the EECS `apt.txt` file as the starting point of my PR :) Yuvi merged/deployed it today and I'm already using it (and [filing issues](https://github.com/berkeley-dsep-infra/datahub/issues/3214) about it ;).

This is becoming a fantastic setup!

[2022-01-28 07:21] yuvipanda commented on #3214
@fperez it's tracked in https://github.com/jupyterhub/jupyter-remote-desktop-proxy/pull/10. Needs work to move that PR forward.

[2022-01-28 18:46] xinranliang opened #3215 "Add admin access to Data 140 (Prob140) Datahub"
### Your Name

Xinran Liang

### Affiliated Course Name

Data 140

### Role

Head TA

### Name of the Hub

DataHub/Data140(Prob140)

### End Date

05/31/2023

[2022-01-28 19:37] balajialg commented on #3129
Upgraded the Circle CI account to a premium account!

[2022-01-28 19:37] #3129 closed, assigned to balajialg, ericvd-ucb

[2022-01-28 20:33] felder opened #3216 "datahub image fails when building ottr for R"
### Bug description

When building the datahub image, the following error is produced:

[code]
You can see the output from circleci here:
https://app.circleci.com/pipelines/github/berkeley-dsep-infra/datahub/1085/workflows/6a8faa6b-b65c-4652-8088-a9611332c7db/jobs/9210

### Environment & setup

- Hub: datahub
- Language: R, ottr-1.1.1 via econ-140.r

I attempted moving econ-140.r around in the bui

[2022-01-28 20:34] felder commented on #3216
@chrispyles Do you perhaps have any idea what this is about?

[2022-01-28 20:35] felder commented on #3208
@joshHug

Having trouble adding packages to datahub right now, opened issue #3216 to investigate.

As soon as this is figured out, I'll resume adding kaleido.  Sorry for the inconvenience.

[2022-01-28 20:50] #3198 closed, assigned to balajialg

[2022-01-28 21:50] sabrinamarvin opened #3217 "gs://ucb-datahub-archived-homedirs/spring-2021/data100.berkeley.edu/smarvin.tar.gz"
### Email Id

smarvin@berkeley.edu

### Link to Datahub Folder

- Eg: gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/xxx.tar.gz

[2022-01-29 00:50] balajialg opened #3220 "[EPIC] Test Jupyter notebooks during GitHub action builds"
# Summary

Testing Jupyter notebooks during CircleCI CI/CD builds are an important part of making the infrastructure more resilient. We had multiple outages where users reported issues with the infra even before we were aware. These issues were due to upgrades made to some of the packages in PyPi/Jupyter ecosystem.

Already there are multiple implementations at the Jupyterhub level (https://github

[2022-01-29 01:36] balajialg commented on #3133
Thanks a lot, @fperez! Will keep you posted

[2022-01-31 07:06] github-actions[bot] opened #3221 "Weekly Update - Monday, January 31st"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-01-31 18:15] balajialg commented on #3215
Done!

[2022-01-31 18:15] #3215 closed, assigned to balajialg

[2022-01-31 19:30] fperez commented on #3160
Thanks!! I see this was implemented (not sure when, just noticed it today, right as we needed it, so perfect timing!! :).

Closing as it's done for us, very helpful!

[2022-01-31 19:30] #3160 closed, assigned to balajialg

[2022-01-31 20:37] felder commented on #3217
Signed URL sent!

[2022-01-31 20:37] #3217 closed, assigned to felder

[2022-01-31 20:42] felder commented on #3221
**Thanks I'd like to give 🙌**
- Everyone for the steady progress we're making on hiring a new dev for this service!
- @balajialg for upgrading our circleci account
- @yuvipanda for pointing me to the docker build daemon

**Challenges I faced and things I'd like assistance with 🙏**
- Datahub image builds are currently broken due to #3216
- Getting a new apple silicon mac has presented challenges wi

[2022-01-31 21:42] felder commented on #3216
@ryanlovett @yuvipanda ottr builds if I comment out the lines in the Dockerfile that pertain install.R and specify the devtools installation as part of econ-140.r.

[2022-01-31 21:53] felder commented on #3216
I'm going to try specifying the devtools install in both econ-140.r and install.R, and I'm going to place econ-140.r above  install.R in the Dockerfile

[2022-01-31 23:09] balajialg commented on #3221
**Thanks I'd like to give 🙌**
- @yuvipanda for reviewing the JD one final time and kickstarting the hiring process! In addition to all the updates to help set up Stat 159 course.
- @ryanlovett for handling the outage effectively by closely coordinating with Stat prof Andrew Bray!
- @felder for setting instructors up successfully this semester.

**Updates from last week ✔**
- Eric and I presented D

[2022-02-01 00:23] Dominicliu129 commented on #3198
@balajialg Hi! I don't think yanlisa has been added to the datahub admin? Can you check again?

[2022-02-01 00:53] felder commented on #3216
I'm doing a test build for a PR that I think is going to work.

[2022-02-01 02:44] atharvam20 opened #3223 "Datahub File Retrieval Request"
### Email Id

atharva@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/atharva.tar.gz

[2022-02-01 07:02] chrispyles commented on #3216
Sorry for the late response @felder but I'm not sure what the issue is here. If you figure out what it is please let me know - there are a couple Docker bugs in the main Otter repo that may be related (not 100% sure though). Thanks and sorry I couldn't be of more help!

[2022-02-01 07:43] balajialg commented on #3198
@Dominicliu129 Yes, already added. Can you ask the user to restart the server and confirm the same?

[2022-02-01 08:19] yuvipanda commented on #3221
**Thanks I'd like to give 🙌**
- To @felder for dealing with package requests and data retrieval requests
- To @fperez for pushing us on the cutting edge with stat159 hub
- To @jtpio for all his work on making retrolab a success for data8
- To @balajialg for his amazing syncthing documentation
- To @balajialg and @ericvd-ucb for working on getting us more of the resources we need..
- To @ryanlovett

[2022-02-01 18:16] balajialg commented on #3221
Thanks a lot @yuvipanda and @felder for the good start this semester! Appreciate it

[2022-02-01 18:16] #3221 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-02-01 19:21] felder opened #3225 "data100 PostgreSQL containers cause deployments to fail."
### Bug description

[code]

[code]

### Environment & setup

- Hub: data100-staging, data100-prod
- Language: PostgreSQL

### How to reproduce

Tell hubploy to deploy to data100-staging or data100-prod with the postgresql container defined in the config.

[2022-02-01 19:31] felder commented on #3225
Note I double checked with data100 instructors to make sure this would not cause an issue.  It seems unlikely it would, because I do not believe this container is working currently anyway.

The data100 instructors have also been notified that they should file an issue if they believe they are going to need postgresql in the future.

[2022-02-01 19:47] felder commented on #3208
Done!

[2022-02-01 19:47] #3208 closed, assigned to felder, balajialg

[2022-02-01 19:50] felder commented on #3216
@chrispyles I'm not sure what the actual cause is, but I was able to work around it by moving ottr to a different spot in the Dockerfile.  Must be some sort of weird dependency conflict.  Sadly, it would appear the error that is thrown has not even been indexed by google.

[2022-02-01 19:54] chrispyles commented on #3216
Hmm that's odd. Well I'm currently in the process of getting ottr put onto CRAN so maybe once that's up we could try  `install.packages` instead to see if that could alleviate the issue?

[2022-02-01 19:57] felder commented on #3216
@chrispyles sure.  However I think we're still on ottr 1.1.1.  My understanding is there might be some breaking changes in future versions, but I could be wrong.

[2022-02-01 21:18] felder commented on #3225
I caused a brief outage for data100-prod while implementing a fix for the deployment problems.

[2022-02-01 21:56] felder commented on #3225
@yuvipanda if we don't need postgresql it's probably safe to close this.

[2022-02-01 21:58] felder commented on #3216
I believe this is now fixed.  Ottr builds and I can import the library via R studio.

[2022-02-01 21:58] #3216 closed, assigned to felder, balajialg

[2022-02-01 22:03] felder commented on #3223
Signed URL sent!

[2022-02-01 22:03] #3223 closed, assigned to felder

[2022-02-02 01:06] ryanlovett commented on #3216
Nice detective work @felder!

[2022-02-02 01:07] balajialg commented on #2670
Trying to iterate in this thread regarding the policy to create a new hub. Will tag relevant folks once the below proposal is ready for feedback,

- Some of the policy considerations for creating a new hub are,
	- Course has a large user base with more than 300+ students (like Data 8 and Data 100 hubs)
	- Course is computationally intensive and requires a large amount of CPU/Memory requirements (R

[2022-02-02 01:45] balajialg commented on #3216
Agreed, thanks for investigating this @felder

[2022-02-02 05:36] ryanlovett commented on #2670
Thanks for building this out!

@yuvipanda mentioned that user count of 300+ should also be considered. This was in the context of Stat 20.

[2022-02-02 06:26] ericvd-ucb commented on #2670
To reflect on the past year, we had started hubs for  Public Health and ISchool, that sort of reflect robust institutional use by these partners?  Not sure how to describe that protocol

[2022-02-02 19:32] claralhu opened #3228 "Request to retrieve old datahub files"
### Email Id

clarahu@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/datahub.berkeley.edu/clarahu.tar.gz

[2022-02-02 19:50] felder commented on #3228
Signed URL sent!

[2022-02-02 19:50] #3228 closed, assigned to felder

[2022-02-02 21:15] searsjm opened #3229 "Add GSI to ENVECON C118"
### Your Name

James Sears

### Affiliated Course Name

ENVECON C118

### Role

GSI

### Name of the Hub

ENVECON-118-SP22

### List of Usernames

lenjb

### End Date

05/31/22

[2022-02-02 21:37] balajialg commented on #3229
@searsjm Is this Datahub (datahub.berkeley.edu)?

[2022-02-02 21:41] balajialg commented on #2670
@ryanlovett and @ericvd-ucb Thanks for your input. Have included your suggestions in the above list.

@ericvd-ucb Let me know if the articulation about dept specific hub makes sense!

[2022-02-02 22:19] searsjm commented on #3229
Yes, for Datahub https://github.com/ds-modules/ENVECON-118-SP22

[2022-02-03 16:46] #2673 closed, assigned to felder, balajialg, ryanlovett, ericvd-ucb

[2022-02-03 16:47] balajialg commented on #3105
Closing this issue as the task is complete! Thanks @yuvipanda

[2022-02-03 16:47] #3105 closed, assigned to nobody

[2022-02-03 17:17] balajialg commented on #3146
- [x] Schedule 7 nodes from 4 - 8 PM PST on Tue and Thu!

[2022-02-03 17:32] balajialg commented on #3148
- [x] Set beta node count to 5 during Thursday

[2022-02-03 17:34] balajialg opened #3233 "2. Adapt 2I2C test suites to develop Automated Test Cases that check the sanity of the different services whenever a PR gets merged in staging"

[2022-02-03 18:06] balajialg commented on #3027
- [x] Plan an user research with instructor/GSI during March

[2022-02-03 18:08] balajialg commented on #2946
Next use for this issue would be at the end of Spring 2022!

[2022-02-03 18:09] balajialg commented on #3220
Test Suites for automated testing and Policy for the new hub are the priority items for February!

[2022-02-03 18:13] #3233 closed, assigned to yuvipanda

[2022-02-03 18:14] balajialg commented on #2945
@yuvipanda Can you make edits to the issue and highlight the priority items?

[2022-02-03 22:51] frontier96 opened #3234 "Request my old code"
### Email Id

jackzeng@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/fall-2021/data100.berkeley.edu/jackzeng.tar.gz

[2022-02-04 05:00] Officialyi opened #3235 "Recover Project Files"
### Email Id

kevinyi@berkeley.edu
or
officialyi@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/kevinyi.tar.gz

[2022-02-04 05:31] dbroockman commented on #3146
I still have a few students who are reporting the notebook hanging on load. Do we need more resources by any chance?

[2022-02-04 18:14] balajialg commented on #3229
Done

[2022-02-04 18:14] #3229 closed, assigned to balajialg

[2022-02-04 18:58] felder commented on #3234
Signed URL sent!

[2022-02-04 18:58] #3234 closed, assigned to felder

[2022-02-04 18:59] felder commented on #3235
Signed URL sent!

[2022-02-04 18:59] #3235 closed, assigned to felder

[2022-02-04 19:01] felder commented on #3146
@dbroockman @balajialg looking at the node count and given dbroockman's comments maybe we should schedule 10 nodes between 4-8pm.

[2022-02-04 19:04] balajialg commented on #3146
@dbroockman Thanks for raising the performance issue! Let us know how the hub performs next week

@felder @yuvipanda Have scheduled 10 nodes for alpha pool between 4 - 7 PM on Tuesday and Thursday (Reason being - Last semester we scheduled around 7 nodes from 4.30 - 6.15 PM and, based on the feedback received it seemed to go smoothly).

[2022-02-04 19:15] balajialg commented on #3148
@ryanlovett @yuvipanda @felder As per our discussion yesterday, Have scheduled 5 nodes for the beta pool between 8 AM - 8 PM every Thursday! Let me know if that's okay

[2022-02-04 19:17] balajialg commented on #3225
Closing it as per slack comment - https://uctech.slack.com/archives/CC3NKQA3B/p1643987599130899?thread_ts=1643748432.834489&cid=CC3NKQA3B

[2022-02-04 19:17] #3225 closed, assigned to yuvipanda, felder, balajialg

[2022-02-04 19:42] felder commented on #3148
@balajialg If IIRC, @ryanlovett mentioned that there is an expectation that the labs may require more compute resources.

So I think 5 is good for now, but we should keep an eye on it because based on previous usage I think 3 would be appropriate.

[2022-02-04 19:58] balajialg commented on #3148
@felder Makes sense! Let's revisit this in a week or two

[2022-02-04 20:31] irisk2050 opened #3240 "Retrieve my old Datahub files"
### Email Id

minjeekim303@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/minjeekim303.tar.gz

[2022-02-04 20:55] felder commented on #3240
Signed URL sent!

[2022-02-04 20:55] #3240 closed, assigned to felder

[2022-02-04 21:23] ryanlovett commented on #3148
@andrewpbray and I also discussed having him test a lab in advance, then we can check the CPU load of the pod at grafana. This would help us determine if we needed CPU guarantees, which would spread out the load.

[2022-02-04 21:40] balajialg opened #3241 "[Minor Issue] Correct SyncThing option's case to align with other options in the "New" Dropdown list"
### Bug description

"syncthing" text's case is not in alignment with other options available in the new drop-down list. It will be helpful if we can change the label "synching" to "SyncThing"

![image](https://user-images.githubusercontent.com/2306166/152606257-7463c811-74eb-4803-a12c-66064ceaad3b.png)

### Environment & setup

- All hubs where syncthing is enabled

### How to reproduce

1. Launc

[2022-02-07 07:05] github-actions[bot] opened #3243 "Weekly Update - Monday, February 7th"
_Copy and paste the template below, and answer questions as you wish!_

<details>
<summary>Weekly Update</summary>

[code]

</details>

[2022-02-07 17:38] #3243 closed, assigned to yuvipanda, felder, balajialg, ryanlovett, ericvd-ucb

[2022-02-08 01:34] bcav2334 opened #3244 "Econ 140"
### Bug description

I have a problem set due this Friday for Econ 140 and it is not showing up on my dashboard on Jupyterhub like the rest of my class. I don’t know why I do not have access because I have signed in a logged out multiple times to refresh the page and nothing is helping.

### Environment & setup

- Hub:
- Language:

### How to reproduce

[2022-02-08 01:41] balajialg commented on #3244
@bcav2334 Hey, Can completely understand your frustration but need the following information to dig further,

- Link to the assignment as shared by the course instructor
- Your Calnet id (email id without @berkeley.edu part)
- Link to your hub is datahub.berkeley,edu? right?

Would request you to take a few more minutes to fill the bug template as that would reduce the back and forth communication

[2022-02-08 01:44] bcav2334 commented on #3244
The instructor didn’t send any link for the assignment. He just said the
assignment should already be on our Jupyterhub accounts. And it is bcav2334

On Mon, Feb 7, 2022 at 5:41 PM Balaji Alwar ***@***.***>
wrote:

[2022-02-08 01:47] fperez opened #3245 "nbdime not displaying diff contents via proxy"
### Bug description

Let's say there's two notebooks `nb1` and `nb2` that simply differ in their content as follows:

![image](https://user-images.githubusercontent.com/57394/152900885-561fc5e4-de2b-493f-aaab-09e112e489f1.png)

I can view their diff at the cmd line with `nbdime diff nb1.ipynb nb2.ipynb`:

![image](https://user-images.githubusercontent.com/57394/152900941-6c1b7d70-770b-4909-9223-8d

[2022-02-08 01:57] balajialg commented on #3244
@bcav2334 Not sure whether that's feasible. You should reach out to your instructor to get the unique link that populates your assignment in Datahub. The assignment would not appear directly in your account without accessing those links.

On another note, can you check whether the problem set links presented in this repository works for you? https://github.com/ds-modules/ECON-140-SP22

[2022-02-08 02:01] bcav2334 commented on #3244
That’s it I can access them now. I appreciate it!

On Mon, Feb 7, 2022 at 5:57 PM Balaji Alwar ***@***.***>
wrote:

[2022-02-08 17:58] #3244 closed, assigned to felder, balajialg

[2022-02-08 18:22] balajialg commented on #3019
@yuvipanda What was the next step from your conversation with Eric Fraser? Can you update this thread when you are back?

[2022-02-08 19:03] felder commented on #3244
@bcav2334 just a quick follow up, as @balajialg mentioned it's not feasible for assignments to just show up in your datahub account.  Any data in your account must be created by you or downloaded through some sort of interaction like clicking on a problem set link.

[2022-02-08 20:52] ryanlovett commented on #3245
@fperez This might be a bug in jupyter-server-proxy or nbdime. Can you please check the browser's developer console and see if there are any errors? I'm guessing that it is reporting 404s for js and/or css files.

[2022-02-08 23:22] aculich opened #3248 "Add customizable datahub branding for hub admins"
# Summary

A branding mechanism would help to more easily & quickly distinguish at a glance between multiple datahubs.

# User Stories

- As a workshop participant or instructor I want a visual indicator to more easily distinguish between different datahub (e.g. the general campus-wide datahub at https://datahub.berkeley.edu/ versus the D-Lab specific datahub at https://dlab.datahub.berkeley.edu/

[2022-02-09 00:13] fperez commented on #3245
Thx @ryanlovett - I see the following error message on my console, and nothing else:

[code]

I'm basically a total ignoramus on webdev debugging, so I'm not sure what to provide you next, sorry!

[2022-02-09 00:34] balajialg commented on #3248
@aculich Thanks for raising this request. It comes at the right time as we are also working on creating branding collaterals for Datahub which includes a logo. I will scope this request for discussion during the March sprint and hope that your request is not a time-sensitive one. Let us know!

[2022-02-09 01:09] ryanlovett commented on #3245
No worries, that error indicates that nbdime.js is not being served by the right base URL -- it is actually available at `/user/{user}/proxy/8001/static/nbdime.js`. I fiddled with nbdiff-web's `--base-url` parameter but was not successful.

If you create ~/.jupyter/jupyter_notebook_config.py with:
[code]

and then restart your server, you will see a new launcher in the lab interface named `nbdime`

[2022-02-09 01:30] fperez commented on #3245
This was for the students too - it's part of my plan of having them live fully in the hub, and do all manner of "real world" development work. Trying to really "live in the hub" has made me quickly realize how many web apps we use these days, and so I'm trying to dog-food this as much as I can by testing it myself first.

Thanks a lot for this input though, this is already a great step in the righ

[2022-02-09 01:31] fperez commented on #3245
The only problem I see with the above is that tools like `nbdime`  have multiple cmd-line args, and we don't want to have to hardcode every possible call with a new launcher entry..

[2022-02-09 01:59] ryanlovett commented on #3245
I was able to get the CLI invocation to serve the shared assets properly. You can launch from the command-line with:

`nbdiff-web --ip 0.0.0.0 -p 9999 --base-url /user/{user}/proxy/absolute/9999`

and then visit https://stat159.datahub.berkeley.edu/user/{user}/proxy/absolute/9999/diff. So this gives you the ability to easily change nbdiff-web's invocation, at the expense of a somewhat unwieldy com

[2022-02-10 02:11] anna-vardapetyan opened #3249 "Data 8"
### Email Id

annav.2000@berkeley.edu

### Link to Datahub Folder

gs://ucb-datahub-archived-homedirs/spring-2021/datahub.berkeley.edu/annav-2e2000.tar.gz

[2022-02-10 18:46] felder commented on #3249
Signed URL sent!

[2022-02-10 18:46] #3249 closed, assigned to felder

[2022-02-10 19:39] balajialg commented on #3146
@dbroockman How did your class go this week? If it helps, You can also respond after your class today!

[2022-02-10 19:50] balajialg commented on #3245
Thanks a lot, @ryanlovett for looking into this!  Appreciate it. I am not sure about the effort involved in pushing this to a single user-config (will let @fperez take a call on the urgency/desirability) but having nbdime launcher in UI seems like the right direction to go in the long run if we don't support any other alternative tool to do this task. I see this as a pathway not just to support St

[2022-02-10 20:17] fperez commented on #3245
Thanks a lot @ryanlovett! I'm looking into this but I'm failing with your instructions - am I meant to replace anything in them or should I type them as-is? I'm getting the Jupyter 404 when I run them as-is:

![image](https://user-images.githubusercontent.com/57394/153489367-cc4aeeeb-06a9-4a62-aa0b-ccf202d5d02c.png)

and then I go to the URL you provide above, and I get:

![image](https://user-ima

[2022-02-10 20:30] ryanlovett commented on #3245
Ah, yes, sorry @fperez! You should replace `{user}` with the username, e.g. /user/rylo/proxy/absolute/...

[2022-02-10 21:36] fperez commented on #3245
I should have known, thx - I was wondering but thought it might be a template variable that nbdime was smart enough to map on its own. No worries :)

The good news is that the correct user name is available as `$JUPYTERHUB_USER`, so we can put this into a command-line wrapper or an alias that works consistently...

In summary, the user should call:

[code]

And then open this URL (which is also us

[2022-02-10 21:36] #3245 closed, assigned to felder, balajialg

[2022-02-11 17:06] dbroockman commented on #3146
Things have been going well - no issues.

[2022-02-11 17:43] balajialg commented on #3146
Thanks a lot @dbroockman! Great to know that things are going smoothly. Will keep the current resource allocation as-is and close this issue! Please do reopen this issue if you face any issues during the semester.

[2022-02-11 17:43] #3146 closed, assigned to felder, balajialg

[2022-02-11 17:45] balajialg commented on #3148
@andrewpbray @ryanlovett How did the labs go this week? Is the current resource allocation sufficient to handle your lab needs?

[2022-02-11 18:17] balajialg commented on #2823
@ryanlovett Had a conversation with Anthony and Chris about the potential options to build the website (Listed the choices we came up with).

Anthony liked your idea of building this page as part of the new CDSS [website ](https://live-computing-data-science-and-society.pantheon.berkeley.edu/node/147) which is currently built in drupal. He shared the required credentials for the new website and I

[2022-02-11 19:10] aculich commented on #3248
Not time-sensitive at the moment, but a nice-to-have especially if we start using it more heavily in the future.